Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

first pass for template publish with action required
  app/blueprints/preference_blueprint.rb
  app/controllers/api/users_controller.rb
  app/frontend/components/domains/users/profile-screen.tsx
  app/mailers/permit_hub_mailer.rb
  app/services/notification_service.rb
  app/views/permit_hub_mailer/notify_new_template_version_published.html.erb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

HUB-3582 WIP fixing PID additional field task
  app/frontend/components/domains/requirements-library/requirements-block-modal/field-controls-header.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
Due: prettier --write, eslint

make menu close when clicking above
  app/frontend/components/domains/navigation/nav-bar-menu.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/permit-project/index.tsx
  app/frontend/components/domains/permit-project/pre-checks-grid.tsx
  app/frontend/components/domains/permit-project/project-tab-panel-content.tsx
  app/frontend/hooks/use-notification-popover.tsx
Due: prettier --write, eslint

HUB-3582 fixed the additional PID to link with auto compliance enabled
  app/frontend/stores/permit-application-store.ts
  app/services/automated_compliance/parcel_info_extractor.rb
  app/services/automated_compliance/permit_application.rb
  app/services/automated_compliance_configuration_service.rb
  app/services/requirement_form_json_service.rb
Due: prettier --write, eslint, stree --write

add local resources section
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/components/domains/permit-project/local-resources-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/permit-project-screen.tsx
  app/frontend/components/shared/jurisdiction/jurisdiction-resources-section.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/enums.ts
  app/models/resource.rb
Due: prettier --write, eslint, stree --write

HUB-4093 Update subtitle text on Jurisdictions screen
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

fix inviter specs and handle legacy logic
  app/models/jurisdiction.rb
  spec/factories/permit_type_submission_contact.rb
  spec/support/shared_examples/jurisdiction_user_inviter.rb
Due: stree --write

HUB-3582 PR review changes
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/computed-compliance-setup-modal/index.tsx
  app/frontend/stores/permit-application-store.ts
  app/frontend/stores/requirement-block-store.ts
  app/frontend/utils/formio-component-traversal.ts
Due: prettier --write, eslint

HUB-3582 PR review changes
  app/frontend/components/domains/requirements-library/requirements-block-modal/field-controls-header.tsx
Due: prettier --write, eslint

improve separation of concerns in menu open tracking
  app/frontend/components/domains/navigation/nav-bar-menu.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/hooks/use-notification-popover.tsx
Due: prettier --write, eslint

wip
  app/services/infrastructure/template_export_service.rb
  app/services/infrastructure/template_import_service.rb
  lib/tasks/templates.rake
Due: stree --write

enable chk files and fix menu offset
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar-menu.tsx
  app/frontend/components/domains/pre-check/form-section/upload-drawings.tsx
  app/services/wrappers/archistar.rb
Due: prettier --write, eslint, stree --write

HUB-3268 fixed the conflict and QA errors
  app/controllers/api/pdf_forms_controller.rb
  app/frontend/components/domains/permit-project/index.tsx
Due: prettier --write, eslint, stree --write

HUB-4170 properly protect pre check start route
  app/frontend/components/domains/navigation/index.tsx
Due: prettier --write, eslint

fix pre check and step code navbar bugs
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/pre-check/index.tsx
  app/frontend/components/domains/pre-check/sidebar/index.tsx
  app/frontend/components/domains/step-code/part-3/index.tsx
  app/frontend/components/domains/step-code/part-9/checklist/index.tsx
  app/frontend/components/domains/step-code/part-9/index.tsx
Due: prettier --write, eslint

WIP HUb-3928 adding JIRA issue collector on contact us page
  .env_example
Due: none

HUB-3928 added report an issue on contact us page to create JIRA issue
  .env_example
  app/frontend/components/domains/misc/contact-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

add clamav file scanning
  Gemfile
  Gemfile.lock
  app/jobs/promote_job.rb
  app/models/file_upload_attachment.rb
  app/services/virus_scan_service.rb
  config/initializers/clamav.rb
  db/migrate/20251125191924_add_scan_status.rb
  db/schema.rb
Due: stree --write

fix nav bar spacing
  app/frontend/components/domains/navigation/nav-bar.tsx
Due: prettier --write, eslint

add tooltip for disabled precheck
  app/frontend/components/domains/permit-project/pre-check-tab-panel-content.tsx
  app/frontend/components/domains/project-readiness-tools/pre-check-info-screen.tsx
  app/frontend/i18n/i18n.ts
  app/models/user.rb
Due: prettier --write, eslint, stree --write

submission inbox button to ghost variant
  app/frontend/components/domains/navigation/nav-bar.tsx
Due: prettier --write, eslint

handle unavailable file in frontend
  app/frontend/components/shared/base/file-download-button.tsx
  app/frontend/components/shared/base/resource-item.tsx
  app/frontend/components/shared/requirement-template/requirement-document-download-button.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/permit-project-store.ts
  app/frontend/utils/file-utils.tsx
  app/frontend/utils/formio-component-traversal.ts
Due: prettier --write, eslint

consolidate uploaders and handle failed file promote with notification
  app/frontend/i18n/i18n.ts
  app/frontend/types/enums.ts
  app/jobs/promote_job.rb
  app/models/file_upload_attachment.rb
  app/services/constants/notification_action_types.rb
  app/services/notification_service.rb
  app/uploaders/file_uploader.rb
  app/uploaders/h2k_file_uploader.rb
Due: prettier --write, eslint, stree --write

fix console errors on p9 form
  app/frontend/components/domains/navigation/regional-rm-jurisdiction-select.tsx
  app/frontend/components/domains/step-code/part-9/checklist/building-characteristics-summary/dynamic-characteristics-grid/ventilation.tsx
  app/frontend/components/domains/step-code/part-9/import.tsx
  app/frontend/components/shared/form/input-form-control.tsx
  app/frontend/components/shared/permit-projects/add-permits-button.tsx
Due: prettier --write, eslint

add improved notification handling for file scan removal
  app/blueprints/resource_document_blueprint.rb
  app/frontend/components/domains/home/notifications/notifications-popover.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/resources-screen.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/jurisdiction-requirement-block-edit-sidebar.tsx
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/components/shared/file-removed-tag.tsx
  app/frontend/components/shared/jurisdiction/jurisdiction-resources-section.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/notification-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/frontend/utils/formio-component-traversal.ts
  app/jobs/promote_job.rb
  app/models/file_upload_attachment.rb
  app/models/jurisdiction.rb
  app/models/supporting_document.rb
  app/services/notification_service.rb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

HUB-3634 Added digital seal validator standalone page and tool
  app/controllers/api/digital_seal_validator_controller.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/project-readiness-tools/digital-seal-validator.tsx
  app/frontend/components/domains/project-readiness-tools/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/services/api/index.ts
  config/routes.rb
Due: prettier --write, eslint, stree --write

remove use of ARCHISTAR_DEVELOPOMENT_OVERRIDE_FILE_LINK
  app/services/wrappers/archistar.rb
Due: stree --write

HUB-4177 updated name to qualified name on step code look up page
  app/frontend/components/domains/jurisdictions/step-code-requirements-screen.tsx
Due: prettier --write, eslint

HUB-4177 added jurisdiction name add searched address on the step code result page
  app/frontend/components/domains/jurisdictions/step-code-requirements-screen.tsx
  app/frontend/components/domains/project-readiness-tools/step-code-lookup-tool.tsx
  app/frontend/components/shared/step-code-address-search/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

fix bell icon badge
  app/frontend/components/domains/home/notifications/notifications-popover.tsx
Due: prettier --write, eslint

fix browse link css
  app/frontend/components/shared/chefs/styles.scss
Due: none

HUB-828 updated CMS lite links with guid
  app/frontend/components/shared/base/footer.tsx
  app/frontend/i18n/i18n.ts
  app/services/requirement_form_json_service.rb
  app/views/layouts/mailer.html.erb
  app/views/permit_hub_mailer/02a_notify_reviewer_application_received_email.html.erb
  app/views/permit_hub_mailer/postdrop_io/_postdrop template generic html.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/01 welcome.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/02a notify reviewer application recieved.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/02b notify submitter application submitted.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/03 completion of assigned checklist section.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/04 notify application updated.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/05 notify of assignment.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/07 reminder pending action.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/08 notify of updated documenation requirements.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/09 announcement system maintenance.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/10 acknowledge feedback inquiry.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/11 onboarding.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/12 reminder submitter - still in draft.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/13 reminder reviewer - still not downloaded.txt
Due: prettier --write, eslint, stree --write

update copy in pre check results sumamry
  app/frontend/components/domains/pre-check/form-section/results-summary.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4025 address component on home page responsive
  app/frontend/components/shared/select/selectors/step-code-lookup-address-select.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4025 fixed the check address btn, select jurisdiction input width and overall address component responsive
  app/frontend/components/shared/select/selectors/step-code-lookup-address-select.tsx
  app/frontend/components/shared/step-code-address-search/index.tsx
Due: prettier --write, eslint

make the description html show correctly in the add permits list
  app/frontend/components/domains/permit-project/add-permit-application-screen.tsx
Due: prettier --write, eslint

rename clamav env var
  config/initializers/clamav.rb
Due: stree --write

revert content disposition for archistar filelink
  app/services/wrappers/archistar.rb
Due: stree --write

add link for customizing template
  app/views/permit_hub_mailer/notify_new_template_version_published.html.erb
Due: none

fix elective sidebar reset button
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/jurisdiction-requirement-block-edit-sidebar.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
