Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

first look into extent of bugs after v3 upgrade
  app/frontend/components/domains/home/notifications/notifications-popover.tsx
  app/frontend/components/domains/landing/index.tsx
  app/frontend/components/domains/navigation/nav-bar-menu.tsx
  app/frontend/components/domains/project-readiness-tools/step-code-lookup-tool.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
  app/frontend/components/domains/step-code/part-9/checklist/building-characteristics-summary/row-header.ts
  app/frontend/components/domains/step-code/part-9/checklist/compliance-summary/index.tsx
  app/frontend/components/domains/step-code/part-9/checklist/shared/grid/column-header.ts
  app/frontend/components/domains/step-code/part-9/checklist/shared/grid/placeholder.ts
  app/frontend/components/domains/step-code/part-9/checklist/shared/grid/row-header.ts
  app/frontend/components/domains/step-code/part-9/checklist/shared/grid/units-text.ts
  app/frontend/components/shared/base/custom-message-box.tsx
  app/frontend/components/shared/base/flash-message.tsx
  app/frontend/components/shared/base/hero-banner.tsx
  app/frontend/components/shared/contact/create-edit-contact-modal.tsx
  app/frontend/components/shared/filters/inbox-filter.tsx
  app/frontend/components/shared/grid/grid-header.tsx
  app/frontend/components/shared/modals/sandbox-switch-modal.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/components/shared/select/selectors/contact-select.tsx
  app/frontend/components/ui/toaster.tsx
  app/frontend/entrypoints/application.tsx
  app/frontend/models/flash-message.ts
  db/schema.rb
  package.json
Due: prettier --write, eslint, stree --write

HUB-4210 super admin can create edit and publish release notes (#1647)
  app/blueprints/release_note_blueprint.rb
  app/controllers/api/release_notes_controller.rb
  app/models/release_note.rb
  app/policies/release_note_policy.rb
  config/locales/en.yml
  config/routes.rb
  spec/factories/release_notes.rb
  spec/models/release_note_spec.rb
  spec/requests/release_notes_spec.rb
Due: stree --write

HUB-4209 add release note model and migration (#1636)
  app/models/release_note.rb
  db/migrate/20260420221252_create_release_notes.rb
  db/schema.rb
Due: stree --write

HUB-4211 use variable for repetitive spec names
  spec/models/release_note_spec.rb
Due: stree --write

HUB-4211 use an invalid semantic version that is distinguishable from an ip address
  spec/models/release_note_spec.rb
Due: stree --write

HUB-4211 use shared examples for client error handling
  spec/requests/release_notes_spec.rb
Due: stree --write

HUB-4211 specify controller for publish action in release notes routes
  config/routes.rb
Due: stree --write

hide jurisdiciton with qa slug from search results
  app/models/jurisdiction.rb
  db/data/20260507163854_hide_oasis_from_search.rb
  db/migrate/20260507162600_add_hide_from_search_to_jurisdictions.rb
  db/schema.rb
  spec/models/jurisdiction_spec.rb
Due: stree --write

HUB-4211 add published scope to release note model
  app/models/release_note.rb
Due: stree --write

HUB-4211 add specs for published release note scope
  spec/models/release_note_spec.rb
Due: stree --write

HUB-4211 add index method and scope resolution
  app/policies/release_note_policy.rb
Due: stree --write

HUB-4211 add release note search concern
  app/controllers/api/concerns/search/release_notes.rb
Due: stree --write

HUB-4211 add index action
  app/controllers/api/release_notes_controller.rb
Due: stree --write

fix failing specs on large classification and draftrefactors
  app/services/template_version_preview/management_service.rb
  spec/requests/api/qa_tools_spec.rb
  spec/services/qa/permit_application_autofill_service_spec.rb
  spec/services/seeded_requirement_template_service_spec.rb
  spec/services/template_version_preview/management_service_spec.rb
Due: stree --write

remove legacy early access columns etc
  app/services/template_version_preview/management_service.rb
  db/data_schema.rb
  db/migrate/20260507194900_cleanup_template_version_preview_early_access_columns.rb
  db/schema.rb
Due: stree --write

HUB-4211 add specs for release notes index
  spec/requests/release_notes_spec.rb
Due: stree --write

HUB-4211 add show policy
  app/policies/release_note_policy.rb
Due: stree --write

HUB-4211 add show action
  app/controllers/api/release_notes_controller.rb
Due: stree --write

HUB-4211 slight refactor and show action tests
  spec/requests/release_notes_spec.rb
Due: stree --write

crud and display vdeos
  app/controllers/api/help_video_sections_controller.rb
  app/controllers/api/help_videos_controller.rb
  app/frontend/components/domains/help-videos/index.tsx
  app/frontend/components/domains/navigation/nav-bar-menu.tsx
  app/frontend/components/domains/super-admin/help-video-modal.tsx
  app/frontend/components/domains/super-admin/help-video-section-modal.tsx
  app/frontend/components/domains/super-admin/help-videos-management-screen.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/help-video-section.ts
  app/frontend/models/help-video.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/help-video-store.ts
  app/models/help_video.rb
  app/models/help_video_section.rb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20260508144500_create_help_videos.rb
  db/seeds.rb
  spec/controllers/api/help_video_sections_controller_spec.rb
  spec/factories/help_video_sections.rb
  spec/factories/help_videos.rb
  spec/models/help_video_section_spec.rb
  spec/models/help_video_spec.rb
Due: prettier --write, eslint, stree --write

HUB-4211 add release note enums
  app/frontend/types/enums.ts
Due: prettier --write, eslint

HUB-4211 add release note front-end model
  app/frontend/models/release-note-model.ts
Due: prettier --write, eslint

HUB-4211 add search route for release notes
  config/routes.rb
Due: stree --write

HUB-4211 fetch release notes
  app/frontend/services/api/index.ts
Due: prettier --write, eslint

HUB-4211 implement release note store search functionality
  app/frontend/stores/release-note-store.ts
Due: prettier --write, eslint

HUB-4211 integrate release note store into root store
  app/frontend/stores/root-store.ts
Due: prettier --write, eslint

HUB-4211 add release notes translations for index and configuration management screens
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4211 add link to release notes in configuration management screen
  app/frontend/components/domains/super-admin/site-configuration-management/index.tsx
Due: prettier --write, eslint

HUB-4211 add release notes screen route to navigation
  app/frontend/components/domains/navigation/index.tsx
Due: prettier --write, eslint

HUB-4211 add grid cell style wrapper
  app/frontend/components/domains/super-admin/site-configuration-management/release-notes-grid-cell.tsx
Due: prettier --write, eslint

HUB-4211 add release note admin translations
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4211 use updated_at instead of last_edited as a enum value
  app/frontend/types/enums.ts
Due: prettier --write, eslint

HUB-4211 add release notes grid header
  app/frontend/components/domains/super-admin/site-configuration-management/release-notes-grid-header.tsx
Due: prettier --write, eslint

add slugs, html description, and bugfixes
  app/blueprints/help_video_blueprint.rb
  app/controllers/api/help_video_sections_controller.rb
  app/controllers/api/help_videos_controller.rb
  app/frontend/components/domains/help-videos/help-video-screen.tsx
  app/frontend/components/domains/help-videos/index.tsx
  app/frontend/components/domains/navigation/sub-nav-bar.tsx
  app/frontend/components/domains/super-admin/help-video-modal.tsx
  app/frontend/components/domains/super-admin/help-video-section-modal.tsx
  app/frontend/components/domains/super-admin/help-videos-management-screen.tsx
  app/frontend/components/shared/editor/editor.tsx
  app/frontend/hooks/resources/use-help-video.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/help-video.ts
  app/models/help_video.rb
  app/models/help_video_section.rb
  app/services/help_video_seeder.rb
  db/data_schema.rb
  db/migrate/20260508144500_create_help_videos.rb
  db/schema.rb
  db/seeds.rb
  spec/controllers/api/help_video_sections_controller_spec.rb
  spec/controllers/api/help_videos_controller_spec.rb
  spec/factories/help_videos.rb
  spec/jobs/promote_job_spec.rb
  spec/models/help_video_section_spec.rb
  spec/models/help_video_spec.rb
Due: prettier --write, eslint, stree --write

HUB-4211 add configuration release notes screen
  app/frontend/components/domains/super-admin/site-configuration-management/release-notes-screen.tsx
Due: prettier --write, eslint

HUB-4211 remove ts error suppression
  app/frontend/stores/release-note-store.ts
Due: prettier --write, eslint

HUB-4211 remove excess padding
  app/frontend/components/domains/super-admin/site-configuration-management/release-notes-grid-header.tsx
Due: prettier --write, eslint

HUB-4211 update release note translations
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4211 add release note form data type
  app/frontend/types/types.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
