Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

BPHH- 2474 Add ability to add other use types
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/modelled-energy-outputs-grid.tsx
Due: prettier --write, eslint

BPHH 2474 Add modelled_enrgy_output to api as nested attributes and create relevant blueprints
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/blueprints/step_code/part_3/energy_output_blueprint.rb
  app/controllers/api/part_3_building/checklists_controller.rb
  app/models/part_3_step_code/checklist.rb
Due: stree --write

BPHH-2474 Add ability to remove use types for modelled outputs
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/modelled-energy-outputs-grid.tsx
Due: prettier --write, eslint

BPHH-2474 Add error state for fuel type selection for modelled energy output
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/modelled-energy-outputs-grid.tsx
  app/frontend/components/shared/with-conditional-tooltip.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

BPHH-2474 Add helper tooltip messages for modelled energy outputs
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/modelled-energy-outputs-grid.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

BPHH-2474 Implement totals by fuel type for modelled energy outputs
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/modelled-energy-outputs-grid.tsx
  app/frontend/components/shared/select/selectors/fuel-type-select.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

BPHH-2474 Add energy per area calculation for modelled energy outputs
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/annual-energy-whole-building-grid.tsx
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/modelled-energy-outputs-grid.tsx
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/step-code-building-portions-grid.tsx
  app/frontend/models/part-3-step-code-checklist.ts
  app/models/part_3_step_code/checklist.rb
Due: prettier --write, eslint, stree --write

WIP
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/modelled-energy-outputs-grid.tsx
  app/frontend/components/shared/select/selectors/fuel-type-select.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  db/schema.rb
Due: prettier --write, eslint, stree --write

BPHH-2479 Add logic to initalize HVAC step code values and react to store changes
  app/frontend/components/domains/step-code/part-3/form-section/hvac.tsx
Due: prettier --write, eslint

Add performance requirements summary screen
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/blueprints/step_code/part_3/compliance_report_blueprint.rb
  app/frontend/components/domains/step-code/part-3/form-section/baseline-occupancies/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/requirements-summary/baseline-requirements.tsx
  app/frontend/components/domains/step-code/part-3/form-section/requirements-summary/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/requirements-summary/step-code-requirements.tsx
  app/frontend/components/domains/step-code/part-3/form-section/requirements-summary/whole-building-requirements.tsx
  app/frontend/components/domains/step-code/part-3/form-section/step-code-occupancies/performance-requirements.tsx
  app/frontend/components/domains/step-code/part-3/sidebar/nav-sections.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-3-step-code-checklist.ts
  app/frontend/styles/theme/components/heading.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/part_3_step_code/checklist.rb
  app/services/step_code/part_3/v0/generate_report.rb
  app/services/step_code/part_3/v0/requirements/baseline.rb
  app/services/step_code/part_3/v0/requirements/references/energy.rb
  app/services/step_code/part_3/v0/requirements/references/zero_carbon.rb
  app/services/step_code/part_3/v0/requirements/step_code.rb
  app/services/step_code/part_3/v0/requirements/whole_building.rb
  app/services/step_code/part_3/v1/generate_report.rb
  app/services/step_code/part_3/v1/performance/adjusted_results.rb
  app/services/step_code/part_3/v1/performance/overall_compliance.rb
  app/services/step_code/part_3/v1/performance/results_as_modelled.rb
  spec/factories/part_3_step_code/checklists.rb
  spec/services/step_code/part_3/v0/generate_report_spec.rb
  spec/services/step_code/part_3/v1/generate_report_spec.rb
Due: prettier --write, eslint, stree --write

Add building performance characteristics summary
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/controllers/api/part_3_building/checklists_controller.rb
  app/frontend/components/domains/step-code/part-3/form-section/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/performance-characteristics.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-3-step-code-checklist.ts
  db/migrate/20241213220543_rename_above_grade_wall_area.rb
  db/migrate/20241214000444_rename_sensible_recovery_coefficient.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

BPHH-2474 Add info descriptions for modelled outputs
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/annual-energy-whole-building-grid.tsx
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/modelled-energy-outputs-grid.tsx
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/step-code-building-portions-grid.tsx
  app/frontend/components/shared/info-tooltip.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Add residential projects adjustment section
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/blueprints/step_code/part_3/make_up_air_fuel_blueprint.rb
  app/controllers/api/part_3_building/checklists_controller.rb
  app/frontend/components/domains/step-code/part-3/form-section/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/modelled-energy-outputs-grid.tsx
  app/frontend/components/domains/step-code/part-3/form-section/residential-adjustments/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/residential-adjustments/mua-fuel.tsx
  app/frontend/components/domains/step-code/part-3/form-section/residential-adjustments/suite-sub-metering.tsx
  app/frontend/components/domains/step-code/part-3/sidebar/nav-sections.ts
  app/frontend/components/shared/select/selectors/fuel-type-select.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-3-step-code-checklist.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/part_3_step_code/checklist.rb
  db/migrate/20241212225225_add_sub_metered_suite_to_part_3_step_code_checklists.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

BPHH-2479 Create HVAC page component with form but without persistence
  app/frontend/components/domains/step-code/part-3/form-section/hvac.tsx
  app/frontend/components/domains/step-code/part-3/form-section/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-3-step-code-checklist.ts
  app/frontend/types/enums.ts
  app/models/part_3_step_code/checklist.rb
Due: prettier --write, eslint, stree --write

BPH-2474 Add loading spinner for modelled outputs page
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/index.tsx
Due: prettier --write, eslint

BPHH-2479 Add migrations, validations, controller params and blueprint for HVAC related fields for stepcode checklist
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/controllers/api/part_3_building/checklists_controller.rb
  app/models/part_3_step_code/checklist.rb
  db/migrate/20241212185239_add_descriptions_to_heating_and_cooling_systems.rb
  db/schema.rb
Due: stree --write

BPHH-2479 Add persistence api calls for hvac stepcode form
  app/frontend/components/domains/step-code/part-3/form-section/hvac.tsx
  app/frontend/i18n/i18n.ts
  app/models/part_3_step_code/checklist.rb
Due: prettier --write, eslint, stree --write

Add required validation for all hvac fields in the front-end
  app/frontend/components/domains/step-code/part-3/form-section/hvac.tsx
Due: prettier --write, eslint

BPHH-2477 Add migration for document types for document_reference model
  app/models/part_3_step_code/document_reference.rb
  db/migrate/20241213005200_add_document_type_to_document_references.rb
  db/migrate/20241213005816_remove_name_from_document_references.rb
  db/schema.rb
Due: stree --write

BPHH-2480 Implement stepcode checklist results contact page
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/controllers/api/part_3_building/checklists_controller.rb
  app/frontend/components/domains/step-code/part-3/form-section/contact.tsx
  app/frontend/components/domains/step-code/part-3/form-section/index.tsx
  app/frontend/i18n/i18n.ts
  app/models/part_3_step_code/checklist.rb
Due: prettier --write, eslint, stree --write

BPHH-2477 Add document reference blueprint, api attributes and validations
  app/blueprints/step_code/part_3/document_reference_blueprint.rb
  app/controllers/api/part_3_building/checklists_controller.rb
  app/models/part_3_step_code/checklist.rb
  app/models/part_3_step_code/document_reference.rb
Due: stree --write

BPHH-2477 Add other document reference form fields component
  app/frontend/components/domains/step-code/part-3/form-section/document-references.tsx
Due: prettier --write, eslint

BPHH-2477 Add persistance api call for document references
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/blueprints/step_code/part_3/document_reference_blueprint.rb
  app/frontend/components/domains/step-code/part-3/form-section/document-references.tsx
  app/frontend/components/shared/form/form-helpers.ts
  app/models/part_3_step_code/checklist.rb
  app/models/part_3_step_code/document_reference.rb
Due: prettier --write, eslint, stree --write

BPHH-2477 Add document references initial screen with document type accordion rendering
  app/frontend/components/domains/step-code/part-3/form-section/document-references.tsx
  app/frontend/components/domains/step-code/part-3/form-section/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
Due: prettier --write, eslint

BPHH-2621 Add responsive sidebar for part3 checklist
  app/frontend/components/domains/step-code/part-3/index.tsx
  app/frontend/components/domains/step-code/part-3/sidebar/side-bar-drawer.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

BPHH-2623 remove disabled logic and clear button logic for modelled outputs annual energy
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/modelled-energy-outputs-grid.tsx
Due: prettier --write, eslint

Adds default queues for development
  config/initializers/sidekiq.rb
Due: stree --write

initial refactor of strings and part 9 dependencies to make way for part 3
  app/frontend/components/domains/permit-application/contact-summary-modal.tsx
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/index.tsx
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/viewer.tsx
  app/frontend/components/domains/step-code/part-9/checklist/building-characteristics-summary/dynamic-characteristics-grid/airtightness.tsx
  app/frontend/components/domains/step-code/part-9/checklist/building-characteristics-summary/dynamic-characteristics-grid/index.tsx
  app/frontend/components/domains/step-code/part-9/checklist/building-characteristics-summary/i18n-prefix.ts
  app/frontend/components/domains/step-code/part-9/checklist/building-characteristics-summary/index.tsx
  app/frontend/components/domains/step-code/part-9/checklist/completed-by/i18n-prefix.ts
  app/frontend/components/domains/step-code/part-9/checklist/completed-by/index.tsx
  app/frontend/components/domains/step-code/part-9/checklist/compliance-summary/i18n-prefix.ts
  app/frontend/components/domains/step-code/part-9/checklist/compliance-summary/index.tsx
  app/frontend/components/domains/step-code/part-9/checklist/compliance-summary/step-requirement-radio-group.tsx
  app/frontend/components/domains/step-code/part-9/checklist/energy-performance-compliance/i18n-prefix.ts
  app/frontend/components/domains/step-code/part-9/checklist/energy-step-code-compliance/i18n-prefix.ts
  app/frontend/components/domains/step-code/part-9/checklist/index.tsx
  app/frontend/components/domains/step-code/part-9/checklist/pdf-content/building-characteristics-summary/dynamic-characteristics-grid/airtightness.tsx
  app/frontend/components/domains/step-code/part-9/checklist/pdf-content/building-characteristics-summary/dynamic-characteristics-grid/doors.tsx
  app/frontend/components/domains/step-code/part-9/checklist/pdf-content/building-characteristics-summary/dynamic-characteristics-grid/fossil-fuels.tsx
  app/frontend/components/domains/step-code/part-9/checklist/pdf-content/building-characteristics-summary/dynamic-characteristics-grid/hot-water.tsx
  app/frontend/components/domains/step-code/part-9/checklist/pdf-content/building-characteristics-summary/dynamic-characteristics-grid/index.tsx
  app/frontend/components/domains/step-code/part-9/checklist/pdf-content/building-characteristics-summary/dynamic-characteristics-grid/other.tsx
  app/frontend/components/domains/step-code/part-9/checklist/pdf-content/building-characteristics-summary/dynamic-characteristics-grid/space-heating-cooling.tsx
  app/frontend/components/domains/step-code/part-9/checklist/pdf-content/building-characteristics-summary/dynamic-characteristics-grid/ventilation.tsx
  app/frontend/components/domains/step-code/part-9/checklist/pdf-content/building-characteristics-summary/dynamic-characteristics-grid/windows-glazed-doors.tsx
  app/frontend/components/domains/step-code/part-9/checklist/pdf-content/building-characteristics-summary/index.tsx
  app/frontend/components/domains/step-code/part-9/checklist/pdf-content/building-characteristics-summary/static-characteristics-grid/index.tsx
  app/frontend/components/domains/step-code/part-9/checklist/pdf-content/completed-by/index.tsx
  app/frontend/components/domains/step-code/part-9/checklist/pdf-content/compliance-summary/index.tsx
  app/frontend/components/domains/step-code/part-9/checklist/pdf-content/energy-performance-compliance/index.tsx
  app/frontend/components/domains/step-code/part-9/checklist/pdf-content/project-info/index.tsx
  app/frontend/components/domains/step-code/part-9/checklist/pdf-content/shared/requirements-met-tag.tsx
  app/frontend/components/domains/step-code/part-9/checklist/project-info/i18n-prefix.ts
  app/frontend/components/domains/step-code/part-9/checklist/project-info/index.tsx
  app/frontend/components/domains/step-code/part-9/checklist/shared/grid/requirements-met-tag.tsx
  app/frontend/components/domains/step-code/part-9/checklist/shared/step-not-met-warning.tsx
  app/frontend/components/domains/step-code/part-9/checklist/zero-carbon-step-code-compliance/i18n-prefix.ts
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

initial report component pieces
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/baseline-occupancies/index.tsx
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/baseline-performance/index.tsx
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/district-energy/index.tsx
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/fuel-types/index.tsx
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/index.tsx
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/project-info/index.tsx
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/step-code-occupancies/index.tsx
Due: prettier --write, eslint

Fixes and optimizes the Docker build after the various updates
  .dockerignore
  config/environments/production.rb
  devops/docker/app/Dockerfile
Due: stree --write

Add VITE_BSCS_REGISTRATION_URL to Dockerfile
  devops/docker/app/Dockerfile
Due: none

Adjust prod values for more resiliency in Redis and ES
  devops/helm-charts/ha-elasticsearch/values-prod.yaml
Due: none

Add BCSC_REGISTRATION_URL to dev.yml
  .github/workflows/dev.yml
Due: none

Add to the other environments as well
  .github/workflows/prod.yml
  .github/workflows/test.yml
Due: none

remove unecessary text from admin login
  app/frontend/components/domains/authentication/login-screen.tsx
Due: prettier --write, eslint

fix submission emails
  app/blueprints/jurisdiction_blueprint.rb
  app/controllers/api/jurisdictions_controller.rb
Due: stree --write

Fix issue seeding jurisdiction HDD
  app/services/step_code/part_3/v0/seeders/jurisdiction_hdd.rb
  db/templates/jurisdiction_hdd_references.xlsx
Due: stree --write

Fix issue accessing early access part 3 step code
  app/services/step_code/part_3/v0/requirements/references/climate_zone.rb
Due: stree --write
