Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

reindex questions in spec helper
  spec/spec_helper.rb
Due: stree --write

HUB-5924 front-end super admin info documents scaffolding
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/super-admin/info-documents-management-screen.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-5425 Project meetings - RM & submitter: - 'Meetings' sidebar link from within a meeting not working
  app/frontend/components/domains/jurisdictions/submission-inbox/reviewer-workspace-sidebar.tsx
  app/frontend/components/domains/permit-project/project-sidebar-tab-list.tsx
Due: prettier --write, eslint

HUB-5424 show pending under meeting time
  app/frontend/components/domains/jurisdictions/submission-inbox/project-meeting-inbox-table.tsx
  app/frontend/components/domains/permit-project/project-meeting-grid-row.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Stop the Step Code report spinner when nothing is generating
  app/frontend/components/domains/step-code/part-3/form-section/report.tsx
  app/frontend/components/domains/step-code/part-9/form-section/index.tsx
  app/frontend/components/domains/step-code/project-information.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-5295 add info documents tables and catalog intro column
  db/migrate/20260821190000_create_info_documents.rb
  db/schema.rb
Due: stree --write

HUB-5925 add info document models, file attachment, and super-admin policies
  app/models/info_document.rb
  app/models/info_document_file.rb
  app/policies/info_document_file_policy.rb
  app/policies/info_document_policy.rb
Due: stree --write

HUB-5925 add info documents CRUD, publish, and reorder API
  app/blueprints/info_document_blueprint.rb
  app/blueprints/info_document_file_blueprint.rb
  app/controllers/api/info_documents_controller.rb
  config/locales/en.yml
  config/routes.rb
Due: stree --write

HUB-5925 add info document store and API client
  app/frontend/models/info-document-file.ts
  app/frontend/models/info-document.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/info-document-store.ts
  app/frontend/stores/root-store.ts
  app/frontend/types/enums.ts
Due: prettier --write, eslint

HUB-5295 specs
  spec/controllers/api/info_documents_controller_spec.rb
  spec/controllers/site_configuration_controller_spec.rb
  spec/controllers/tags_controller_spec.rb
  spec/factories/info_documents.rb
Due: stree --write

HUB-5925 show API error text in the flash description
  app/frontend/services/api/monitors.ts
Due: prettier --write, eslint

HUB-5925 let super admins manage info documents and intro copy
  app/blueprints/site_configuration_blueprint.rb
  app/controllers/api/site_configuration_controller.rb
  app/frontend/components/domains/super-admin/info-document-intro-modal.tsx
  app/frontend/components/domains/super-admin/info-document-modal.tsx
  app/frontend/components/domains/super-admin/info-documents-management-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/site-configuration-store.ts
  app/frontend/types/api-request.ts
Due: prettier --write, eslint, stree --write

HUB-5383 [Bug Bash] Slim requirement blocks picker — drop Form fields and Config columns
  app/frontend/components/domains/requirements-library/grid-header.tsx
  app/frontend/components/domains/requirements-library/requirement-blocks-table.tsx
  app/frontend/components/domains/requirements-library/requirements-library-drawer.tsx
Due: prettier --write, eslint

HUB-5296 add confirmation modal when replacing published files
  app/frontend/components/domains/super-admin/info-document-modal.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Move Step Code checklist exits into a sub-nav and restyle report actions
  app/frontend/components/domains/step-code/form-section/shared/form-footer.tsx
  app/frontend/components/domains/step-code/part-3/form-section/report.tsx
  app/frontend/components/domains/step-code/part-3/form-section/shared/form-footer.tsx
  app/frontend/components/domains/step-code/part-3/index.tsx
  app/frontend/components/domains/step-code/part-3/sidebar/index.tsx
  app/frontend/components/domains/step-code/part-9/form-section/index.tsx
  app/frontend/components/domains/step-code/part-9/form-section/shared/form-footer.tsx
  app/frontend/components/domains/step-code/part-9/index.tsx
  app/frontend/components/domains/step-code/part-9/sidebar/index.tsx
  app/frontend/components/domains/step-code/project-information.tsx
  app/frontend/components/domains/step-code/sidebar/project-info-sidebar-link.tsx
  app/frontend/components/domains/step-code/step-code-sub-nav-bar.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-5291 support published_only on the info documents index
  app/controllers/api/info_documents_controller.rb
  app/frontend/services/api/index.ts
  app/frontend/stores/info-document-store.ts
Due: prettier --write, eslint, stree --write

HUB-5291 add public guides and fact sheets page shell
  app/frontend/components/domains/info-documents/index.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-5291 add public guides and fact sheets links
  app/frontend/components/domains/navigation/nav-bar-menu.tsx
  app/frontend/components/shared/base/footer.tsx
Due: prettier --write, eslint

HUB-5291 specs
  spec/controllers/api/info_documents_controller_spec.rb
Due: stree --write

Fix unresolved usePart3Navigation import in report.tsx
  app/frontend/components/domains/step-code/part-3/form-section/report.tsx
Due: prettier --write, eslint

HUB-5292 add open and download urls on info document files
  app/blueprints/info_document_file_blueprint.rb
  app/frontend/models/info-document-file.ts
Due: prettier --write, eslint, stree --write

HUB-5292 render published info documents as cards
  app/frontend/components/domains/info-documents/index.tsx
  app/frontend/components/domains/info-documents/info-document-card.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-5292 specs
  spec/controllers/api/info_documents_controller_spec.rb
Due: stree --write

HUB-5516 Energy step code checklist P9: Unmarked (optional) field validation
  app/frontend/components/domains/step-code/part-9/checklist/completed-by/index.tsx
  app/frontend/components/domains/step-code/part-9/checklist/energy-performance-compliance/index.tsx
  app/frontend/components/domains/step-code/part-9/checklist/project-info/building-type-select.tsx
  app/frontend/components/domains/step-code/part-9/form-section/index.tsx
  app/frontend/components/domains/step-code/project-information.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-2906 scroll when attachments are long
  app/frontend/components/domains/permit-application/submission-download-modal.tsx
Due: prettier --write, eslint

HUB-2906 scroll when attachments are long (#1914)
  app/frontend/components/domains/permit-application/submission-download-modal.tsx
Due: prettier --write, eslint

HUB-5231 Add version notes to early access and publish flows
  app/controllers/api/requirement_templates_controller.rb
  app/frontend/components/domains/requirement-template/create-early-access-version-modal.tsx
  app/frontend/components/domains/requirement-template/publish-schedule-modal.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/controls-header.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/template-version-actions-menu.tsx
  app/frontend/components/domains/requirement-template/screens/template-version-screen.tsx
  app/frontend/components/domains/requirement-template/template-versions-sidebar.tsx
  app/frontend/components/domains/requirement-template/version-note-field.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/requirement-template-store.ts
  app/services/template_versioning_service.rb
  spec/services/template_versioning_service_spec.rb
Due: prettier --write, eslint, stree --write

convert key to string
  app/jobs/pdf_generation_job.rb
  spec/jobs/pdf_generation_job_spec.rb
Due: stree --write

convert key to string (#1916)
  app/jobs/pdf_generation_job.rb
  spec/jobs/pdf_generation_job_spec.rb
Due: stree --write

HUB-5293 use file_url_safe for open and download urls
  app/blueprints/info_document_file_blueprint.rb
  app/models/file_upload_attachment.rb
Due: stree --write

HUB-5293 specs
  spec/controllers/api/info_documents_controller_spec.rb
  spec/models/file_upload_attachment_spec.rb
Due: stree --write

HUB-5293 filter public info documents by topic
  app/frontend/components/domains/info-documents/filter-pills.tsx
  app/frontend/components/domains/info-documents/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-5293 match info document cards to videos catalog chrome
  app/frontend/components/domains/info-documents/info-document-card.tsx
Due: prettier --write, eslint

HUB-5292 Fold info document file into InfoDocument and wire downloads
  app/blueprints/info_document_blueprint.rb
  app/blueprints/info_document_file_blueprint.rb
  app/controllers/api/info_documents_controller.rb
  app/controllers/api/storage_controller.rb
  app/frontend/components/domains/info-documents/info-document-card.tsx
  app/frontend/components/domains/super-admin/info-document-modal.tsx
  app/frontend/components/domains/super-admin/info-documents-management-screen.tsx
  app/frontend/models/info-document-file.ts
  app/frontend/models/info-document.ts
  app/frontend/types/enums.ts
  app/models/info_document.rb
  app/models/info_document_file.rb
  app/policies/info_document_file_policy.rb
  app/policies/info_document_policy.rb
  db/migrate/20260821190000_create_info_documents.rb
  db/schema.rb
  spec/controllers/api/info_documents_controller_spec.rb
  spec/factories/info_documents.rb
  spec/requests/api/storage_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5292 Fix intro placeholder persist and cover info document API gaps
  app/frontend/components/domains/super-admin/info-document-intro-modal.tsx
  app/frontend/components/domains/super-admin/info-documents-management-screen.tsx
  app/frontend/models/flash-message.ts
  app/frontend/services/api/monitors.ts
  app/models/info_document.rb
  db/migrate/20260821190000_create_info_documents.rb
  spec/controllers/api/info_documents_controller_spec.rb
  spec/controllers/site_configuration_controller_spec.rb
Due: prettier --write, eslint, stree --write

Hub 5292 public visitor can browse published info document cards and open or download pd fs browse and manage public adoption info documents suggestions (#1920)
  app/blueprints/info_document_blueprint.rb
  app/blueprints/info_document_file_blueprint.rb
  app/controllers/api/info_documents_controller.rb
  app/controllers/api/storage_controller.rb
  app/frontend/components/domains/info-documents/info-document-card.tsx
  app/frontend/components/domains/super-admin/info-document-intro-modal.tsx
  app/frontend/components/domains/super-admin/info-document-modal.tsx
  app/frontend/components/domains/super-admin/info-documents-management-screen.tsx
  app/frontend/models/flash-message.ts
  app/frontend/models/info-document-file.ts
  app/frontend/models/info-document.ts
  app/frontend/services/api/monitors.ts
  app/frontend/types/enums.ts
  app/models/info_document.rb
  app/models/info_document_file.rb
  app/policies/info_document_file_policy.rb
  app/policies/info_document_policy.rb
  db/migrate/20260821190000_create_info_documents.rb
  db/schema.rb
  spec/controllers/api/info_documents_controller_spec.rb
  spec/controllers/site_configuration_controller_spec.rb
  spec/factories/info_documents.rb
  spec/requests/api/storage_spec.rb
Due: prettier --write, eslint, stree --write

Hub 5292 public visitor can browse published info document cards and open or download pd fs browse and manage public adoption info documents (#1918)
  app/blueprints/info_document_blueprint.rb
  app/blueprints/info_document_file_blueprint.rb
  app/controllers/api/info_documents_controller.rb
  app/controllers/api/storage_controller.rb
  app/frontend/components/domains/info-documents/filter-pills.tsx
  app/frontend/components/domains/info-documents/index.tsx
  app/frontend/components/domains/info-documents/info-document-card.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar-menu.tsx
  app/frontend/components/domains/super-admin/info-document-intro-modal.tsx
  app/frontend/components/domains/super-admin/info-document-modal.tsx
  app/frontend/components/domains/super-admin/info-documents-management-screen.tsx
  app/frontend/components/shared/base/footer.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/flash-message.ts
  app/frontend/models/info-document-file.ts
  app/frontend/models/info-document.ts
  app/frontend/services/api/index.ts
  app/frontend/services/api/monitors.ts
  app/frontend/stores/info-document-store.ts
  app/frontend/types/enums.ts
  app/models/file_upload_attachment.rb
  app/models/info_document.rb
  app/models/info_document_file.rb
  app/policies/info_document_file_policy.rb
  app/policies/info_document_policy.rb
  db/migrate/20260821190000_create_info_documents.rb
  db/schema.rb
  spec/controllers/api/info_documents_controller_spec.rb
  spec/controllers/site_configuration_controller_spec.rb
  spec/factories/info_documents.rb
  spec/models/file_upload_attachment_spec.rb
  spec/requests/api/storage_spec.rb
Due: prettier --write, eslint, stree --write

Hub 5295 super admin can create edit order publish unpublish and delete info documents browse and manage public adoption info documents (#1911)
  app/blueprints/info_document_blueprint.rb
  app/blueprints/site_configuration_blueprint.rb
  app/controllers/api/info_documents_controller.rb
  app/controllers/api/site_configuration_controller.rb
  app/controllers/api/storage_controller.rb
  app/frontend/components/domains/info-documents/filter-pills.tsx
  app/frontend/components/domains/info-documents/index.tsx
  app/frontend/components/domains/info-documents/info-document-card.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar-menu.tsx
  app/frontend/components/domains/super-admin/info-document-intro-modal.tsx
  app/frontend/components/domains/super-admin/info-document-modal.tsx
  app/frontend/components/domains/super-admin/info-documents-management-screen.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/index.tsx
  app/frontend/components/shared/base/footer.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/flash-message.ts
  app/frontend/models/info-document.ts
  app/frontend/services/api/index.ts
  app/frontend/services/api/monitors.ts
  app/frontend/stores/info-document-store.ts
  app/frontend/stores/root-store.ts
  app/frontend/stores/site-configuration-store.ts
  app/frontend/types/api-request.ts
  app/frontend/types/enums.ts
  app/models/file_upload_attachment.rb
  app/models/info_document.rb
  app/policies/info_document_policy.rb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20260821190000_create_info_documents.rb
  db/schema.rb
  spec/controllers/api/info_documents_controller_spec.rb
  spec/controllers/site_configuration_controller_spec.rb
  spec/controllers/tags_controller_spec.rb
  spec/factories/info_documents.rb
  spec/models/file_upload_attachment_spec.rb
  spec/requests/api/storage_spec.rb
Due: prettier --write, eslint, stree --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
