Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

improve UI for deleting contacts
  app/controllers/api/jurisdictions_controller.rb
  app/frontend/components/shared/form/email-list-editable-block.tsx
Due: prettier --write, eslint, stree --write

add project specific meeting review screen
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-meetings-tab.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-project-detail-screen.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-meeting-inbox-table.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/reviewer-meeting-detail-content.tsx
  app/frontend/hooks/resources/use-project-meeting.ts
  spec/factories/sub_districts.rb
  spec/requests/api/project_meetings_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5047 add tooltip to rm project overview map
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-overview-tab.tsx
Due: prettier --write, eslint

HUB-4818 link to jurisdictions from landing page
  app/frontend/components/domains/landing/index.tsx
Due: prettier --write, eslint

Revert "HUB-4818 link to jurisdictions from landing page"
  app/frontend/components/domains/landing/index.tsx
Due: prettier --write, eslint

HUB-4818 have ...and more link to /jurisdictions
  app/frontend/components/domains/landing/index.tsx
Due: prettier --write, eslint

HUB-4818 remove as prop to allow linking
  app/frontend/components/domains/landing/index.tsx
Due: prettier --write, eslint

HUB-5210 Project specific meeting screen
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-meetings-tab.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-project-detail-screen.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-meeting-inbox-table.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/reviewer-meeting-detail-content.tsx
  app/frontend/hooks/resources/use-project-meeting.ts
  spec/factories/sub_districts.rb
  spec/requests/api/project_meetings_spec.rb
Due: prettier --write, eslint, stree --write

add meeting project filter
  app/blueprints/permit_project_blueprint.rb
  app/controllers/api/concerns/search/jurisdiction_permit_projects.rb
  app/controllers/api/concerns/search/permit_projects.rb
  app/controllers/api/permit_projects_controller.rb
  app/frontend/components/domains/jurisdictions/submission-inbox/filters/meeting-requests-filter.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/reviewer-workspace-screen.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/submissions-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/grid-header.tsx
  app/frontend/components/domains/permit-project/index.tsx
  app/frontend/components/domains/permit-project/permit-project-screen.tsx
  app/frontend/components/domains/permit-project/project-grid-row.tsx
  app/frontend/components/domains/permit-project/projects-grid.tsx
  app/frontend/components/shared/filters/checkbox-filter.tsx
  app/frontend/components/shared/filters/inbox-filter.tsx
  app/frontend/stores/permit-project-store.ts
  app/frontend/stores/submission-inbox-store.ts
  app/frontend/types/types.ts
  app/models/permit_project.rb
  db/migrate/20260604191200_add_viewed_at_to_project_meetings.rb
  spec/concerns/jurisdiction_permit_project_search_spec.rb
  spec/requests/api/permit_projects_spec.rb
Due: prettier --write, eslint, stree --write

add active meeting icons
  app/blueprints/permit_project_blueprint.rb
  app/controllers/api/concerns/search/jurisdiction_permit_projects.rb
  app/controllers/api/jurisdictions_controller.rb
  app/frontend/components/domains/jurisdictions/submission-inbox/kanban-card.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-inbox-table.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-kanban-board.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/reviewer-meeting-detail-content.tsx
  app/frontend/components/domains/project-meeting/detail/banners/reviewer-scheduled-meeting-banner.tsx
  app/frontend/components/shared/project-meetings/active-project-meeting-indicator.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-project.ts
Due: prettier --write, eslint, stree --write

fix meeting status issues
  app/frontend/components/domains/project-meeting/detail/banners/not-scheduled-banner.tsx
  app/frontend/components/domains/project-meeting/detail/banners/project-meeting-status-banner.tsx
  app/frontend/components/domains/project-meeting/detail/banners/requester-scheduled-meeting-banner.tsx
  app/frontend/components/domains/project-meeting/project-meeting-detail-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/project-meeting.ts
  app/models/concerns/project_meeting_status.rb
  db/migrate/20260519182523_add_project_meetings.rb
  db/schema.rb
  spec/models/project_meeting_spec.rb
  spec/requests/api/project_meetings_spec.rb
Due: prettier --write, eslint, stree --write

Integration/release notes (#1649)
  app/blueprints/preference_blueprint.rb
  app/blueprints/release_note_blueprint.rb
  app/controllers/api/concerns/search/release_notes.rb
  app/controllers/api/release_notes_controller.rb
  app/controllers/api/users_controller.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/sub-nav-bar.tsx
  app/frontend/components/domains/release-notes/release-note-entry.tsx
  app/frontend/components/domains/release-notes/release-note-version-badge.tsx
  app/frontend/components/domains/release-notes/release-note-year-nav.tsx
  app/frontend/components/domains/release-notes/release-notes-screen.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/index.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/release-note-form-screen.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/release-notes-grid-cell.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/release-notes-grid-header.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/release-notes-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/release-note-model.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/notification-store.ts
  app/frontend/stores/release-note-store.ts
  app/frontend/stores/root-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/release_note.rb
  app/policies/release_note_policy.rb
  app/services/constants/notification_action_types.rb
  app/services/notification_service.rb
  app/services/release_note_viewer_context.rb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20260420221252_create_release_notes.rb
  db/migrate/20260512163028_add_release_note_notification_to_preference.rb
  db/schema.rb
  spec/factories/release_notes.rb
  spec/models/release_note_spec.rb
  spec/requests/release_notes_spec.rb
  spec/services/notification_service_spec.rb
  spec/spec_helper.rb
Due: prettier --write, eslint, stree --write

HUB-4815 add padding to action buttons (#1719)
  app/frontend/components/domains/jurisdictions/step-code-requirements-screen.tsx
Due: prettier --write, eslint

HUB-5030 let events propagate to allow navigation from cell (#1724)
  app/frontend/components/domains/permit-project/permit-application-grid-row.tsx
Due: prettier --write, eslint

HUB-5047 add tooltip to rm project overview map (#1730)
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-overview-tab.tsx
Due: prettier --write, eslint

HUB-4818 have ...and more link to /jurisdictions (#1731)
  app/frontend/components/domains/landing/index.tsx
Due: prettier --write, eslint

apply policy scope in active id selection
  app/controllers/api/concerns/search/jurisdiction_permit_projects.rb
Due: stree --write

add notes for meetigns
  app/blueprints/note_blueprint.rb
  app/blueprints/project_meeting_blueprint.rb
  app/controllers/api/permit_projects_controller.rb
  app/controllers/api/project_meeting_notes_controller.rb
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-notes-tab.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-project-detail-screen.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-meeting-inbox-table.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/reviewer-meeting-detail-content.tsx
  app/frontend/components/domains/permit-project/project-meeting-grid-row.tsx
  app/frontend/components/domains/project-meeting/detail/sections/meeting-notes-section.tsx
  app/frontend/components/domains/project-meeting/project-meeting-detail-screen.tsx
  app/frontend/hooks/resources/use-project-meeting.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/note.ts
  app/frontend/models/project-meeting.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/project-meeting-store.ts
  app/frontend/types/api-responses.ts
  app/models/note.rb
  app/models/project_meeting.rb
  app/policies/note_policy.rb
  app/policies/permit_project_policy.rb
  app/policies/project_meeting_policy.rb
  app/services/notes_export_service.rb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20260609214500_create_notes.rb
  db/schema.rb
  spec/factories/notes.rb
  spec/models/note_spec.rb
  spec/policies/note_policy_spec.rb
  spec/policies/permit_project_policy_spec.rb
  spec/policies/project_meeting_policy_spec.rb
  spec/requests/api/notes_spec.rb
Due: prettier --write, eslint, stree --write

update permit app search and policy to include drafts when active meeting
  app/controllers/api/concerns/search/jurisdiction_permit_applications.rb
  app/policies/permit_application_policy.rb
  spec/concerns/permit_application_search_spec.rb
  spec/policies/permit_application_policy_spec.rb
Due: stree --write

add project meeting notes section with download and other refactors
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-meetings-tab.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/reviewer-meeting-detail-content.tsx
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/components/domains/permit-project/permit-project-screen.tsx
  app/frontend/components/domains/permit-project/project-notes-tab-panel-content.tsx
  app/frontend/components/domains/project-meeting/detail/banners/reviewer-scheduled-meeting-banner.tsx
  app/frontend/components/domains/project-meeting/project-meeting-detail-screen.tsx
  app/frontend/components/shared/navigation/router-link-button.tsx
  app/frontend/components/shared/project-meetings/project-meeting-notes-list.tsx
  app/frontend/hooks/resources/use-permit-project.ts
  app/frontend/i18n/i18n.ts
  app/frontend/stores/project-meeting-store.ts
  app/frontend/styles/theme/components/button.ts
  app/models/note.rb
  app/policies/project_meeting_policy.rb
  app/services/notes_export_service.rb
  spec/policies/project_meeting_policy_spec.rb
  spec/requests/api/notes_spec.rb
  spec/requests/api/project_meetings_spec.rb
Due: prettier --write, eslint, stree --write

add rescheduling meetings and refactor notes controllers
  app/controllers/api/permit_projects/notes_controller.rb
  app/controllers/api/permit_projects_controller.rb
  app/controllers/api/project_meetings/notes_controller.rb
  app/controllers/api/project_meetings_controller.rb
  app/frontend/components/domains/project-meeting/detail/banners/reviewer-scheduled-meeting-banner.tsx
  app/frontend/components/domains/project-meeting/detail/banners/schedule-meeting-banner.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/notification-store.ts
  app/frontend/stores/project-meeting-store.ts
  app/frontend/types/enums.ts
  app/mailers/permit_hub_mailer.rb
  app/models/project_meeting.rb
  app/policies/project_meeting_policy.rb
  app/services/constants/notification_action_types.rb
  app/services/notification_service.rb
  app/views/permit_hub_mailer/notify_project_meeting_rescheduled.html.erb
  app/views/permit_hub_mailer/notify_project_meeting_rescheduled_to_jurisdiction.html.erb
  config/locales/en.yml
  config/routes.rb
  spec/mailers/permit_hub_mailer_spec.rb
  spec/policies/project_meeting_policy_spec.rb
  spec/requests/api/project_meetings_spec.rb
  spec/services/notification_service_spec.rb
Due: prettier --write, eslint, stree --write

fix specs and allow posting notes on closed
  app/frontend/components/domains/jurisdictions/submission-inbox/reviewer-meeting-detail-content.tsx
  app/frontend/components/domains/project-meeting/detail/banners/reviewer-closed-notes-banner.tsx
  app/frontend/components/domains/project-meeting/detail/sections/meeting-notes-section.tsx
  app/frontend/i18n/i18n.ts
  app/policies/permit_application_policy.rb
  spec/concerns/jurisdiction_permit_project_search_spec.rb
  spec/policies/note_policy_spec.rb
  spec/policies/project_meeting_policy_spec.rb
  spec/requests/api/notes_spec.rb
Due: prettier --write, eslint, stree --write

simplify notes by directly referencing project
  app/blueprints/note_blueprint.rb
  app/controllers/api/permit_projects/notes_controller.rb
  app/controllers/api/project_meetings/notes_controller.rb
  app/frontend/models/note.ts
  app/models/note.rb
  app/policies/note_policy.rb
  app/services/notes_export_service.rb
  db/migrate/20260609214500_create_notes.rb
  db/schema.rb
  spec/models/note_spec.rb
  spec/requests/api/notes_spec.rb
Due: prettier --write, eslint, stree --write

refactor notes mst code
  app/blueprints/note_blueprint.rb
  app/blueprints/permit_project_blueprint.rb
  app/blueprints/project_meeting_blueprint.rb
  app/controllers/api/permit_projects_controller.rb
  app/controllers/api/project_meetings/notes_controller.rb
  app/controllers/api/project_meetings_controller.rb
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-notes-tab.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-project-detail-screen.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/reviewer-meeting-detail-content.tsx
  app/frontend/components/domains/permit-project/project-notes-tab-panel-content.tsx
  app/frontend/components/domains/project-meeting/detail/banners/reviewer-scheduled-meeting-banner.tsx
  app/frontend/components/domains/project-meeting/detail/banners/schedule-meeting-banner.tsx
  app/frontend/components/domains/project-meeting/project-meeting-detail-screen.tsx
  app/frontend/hooks/resources/use-project-meeting.ts
  app/frontend/models/note.ts
  app/frontend/models/permit-project.ts
  app/frontend/models/project-meeting.ts
  app/frontend/stores/note-store.ts
  app/frontend/stores/permit-project-store.ts
  app/frontend/stores/project-meeting-store.ts
  app/frontend/stores/root-store.ts
  app/frontend/types/enums.ts
  app/policies/project_meeting_policy.rb
  spec/policies/project_meeting_policy_spec.rb
  spec/requests/api/notes_spec.rb
  spec/requests/api/permit_projects_spec.rb
  spec/requests/api/project_meetings_spec.rb
Due: prettier --write, eslint, stree --write

skip over property information request with meeting if disabled
  app/frontend/components/domains/project-meeting/nav-sections.ts
  app/frontend/components/domains/project-meeting/project-meeting-screen/index.tsx
  app/frontend/components/domains/project-meeting/project-meeting-screen/sections/review-section.tsx
  app/frontend/components/domains/project-meeting/use-project-meeting-navigation.ts
  app/frontend/models/project-meeting.ts
  app/models/project_meeting.rb
  spec/models/project_meeting_spec.rb
Due: prettier --write, eslint, stree --write

add project meeting audits
  app/models/concerns/activity_feed_preloader.rb
  app/models/project_meeting.rb
  app/presenters/project_audit_formatters/project_meeting_formatter.rb
  app/presenters/project_audit_presenter.rb
  spec/models/concerns/audit_role_filter_spec.rb
  spec/models/project_activity_auditing_spec.rb
  spec/models/project_meeting_spec.rb
  spec/presenters/project_audit_formatters/project_meeting_formatter_spec.rb
  spec/presenters/project_audit_presenter_spec.rb
  spec/requests/api/project_audits_spec.rb
Due: stree --write

HUB-4210 avoid 500 error with empty results
  app/controllers/api/concerns/search/release_notes.rb
  app/models/release_note.rb
  spec/requests/release_notes_spec.rb
Due: stree --write

HUB-4210 use unique semantic versions in factory
  spec/factories/release_notes.rb
Due: stree --write

HUB-4210 remove '/edit' from admin release note URLs
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/release-note-form-screen.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/release-notes-screen.tsx
Due: prettier --write, eslint

HUB-4210 reindex to display updated list on navigation
  app/models/release_note.rb
Due: stree --write

HUB-5133 HUB-4977 add code for setting and vieweing meeting requirement advisories
  app/blueprints/jurisdiction_template_version_customization_blueprint.rb
  app/blueprints/permit_application_blueprint.rb
  app/blueprints/template_version_blueprint.rb
  app/controllers/api/template_versions_controller.rb
  app/frontend/components/domains/home/section-box.ts
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/permit-project/add-permit-application-screen.tsx
  app/frontend/components/domains/project-meeting/project-meeting-new-screen.tsx
  app/frontend/components/domains/project-meeting/project-meeting-request-screen.tsx
  app/frontend/components/domains/requirement-template/digital-building-permits-list.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-digital-permit-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-digital-permit-settings-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/index.tsx
  app/frontend/components/shared/permit-applications/permit-application-submit-modal.tsx
  app/frontend/hooks/resources/use-template-version.ts
  app/frontend/hooks/resources/use-template-versions.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/jurisdiction-template-version-customization.ts
  app/frontend/models/permit-application.ts
  app/frontend/models/template-version.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/template-version-store.ts
  app/models/jurisdiction_template_version_customization.rb
  app/models/permit_application.rb
  app/models/template_version.rb
  db/migrate/20260612180000_add_requires_project_meeting_to_jurisdiction_template_version_customizations.rb
  db/schema.rb
  spec/controllers/template_versions_controller_spec.rb
  spec/models/jurisdiction_template_version_customization_spec.rb
  spec/models/permit_application_spec.rb
  spec/models/template_version_spec.rb
  spec/requests/api/permit_applications_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5045 update project state manual transitions
  app/models/concerns/permit_project_state.rb
  spec/models/concerns/permit_project_state_spec.rb
Due: stree --write

commit for re-run ci
  app/frontend/components/domains/external-api-key/index.tsx
Due: prettier --write, eslint

update vite ruby plugin
  package-lock.json
  package.json
Due: none

commit for rerun ci
  app/frontend/components/domains/external-api-key/index.tsx
Due: prettier --write, eslint

HUB-5054 specify input group width instead of just input width
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
Due: prettier --write, eslint

HUB-5054 conditionally display dollars instead of cad
  app/frontend/components/domains/requirements-library/requirement-field-display/index.tsx
Due: prettier --write, eslint

updates for ci vite
  Gemfile.lock
  package-lock.json
  vite.config.ts
Due: prettier --write, eslint

reinstall packagage lock with npm 10
  package-lock.json
Due: none

dependent destroy project collabs
  app/models/collaborator.rb
  spec/factories/permit_project_collaborations.rb
  spec/models/collaborator_spec.rb
Due: stree --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
