Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

fix formatter and sort
  .vscode/settings.json
  app/controllers/api/requirement_templates_controller.rb
  app/controllers/api/template_versions_controller.rb
  app/frontend/components/domains/permit-application/new-permit-application-screen.tsx
  app/frontend/components/shared/first-nations-tag.tsx
  app/frontend/lib/create-search-model.ts
  app/policies/template_version_policy.rb
Due: prettier --write, eslint, stree --write

[bphh-1798] WIP collaborators sidebar assignees
  app/frontend/components/domains/permit-application/collaborator-management/collaborators-sidebar.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
Due: prettier --write, eslint

[bphh-1798] Add assignment list and unassignment menu for the collaborators sidebar
  app/blueprints/permit_collaboration_blueprint.rb
  app/frontend/components/domains/permit-application/collaborator-management/collaborators-sidebar.tsx
  app/frontend/models/permit-collaboration.ts
  app/frontend/utils/formio-helpers.ts
Due: prettier --write, eslint, stree --write

[bphh-1798] Implement remove collaborator for collaborators sidebar
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/domains/permit-application/collaborator-management/collaborators-sidebar.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/services/api/index.ts
  app/policies/permit_application_policy.rb
  config/locales/en.yml
  config/routes.rb
Due: prettier --write, eslint, stree --write

[bphh-1798] Hide remove collaborator button for non authors
  app/frontend/components/domains/permit-application/collaborator-management/collaborators-sidebar.tsx
Due: prettier --write, eslint

[bphh-558] Add migration and model for block statuses
  app/models/permit_application.rb
  app/models/permit_block_status.rb
  db/migrate/20240802180316_create_permit_block_statuses.rb
  db/schema.rb
Due: stree --write

[bphh-558] Add permit block status select component
  app/frontend/components/domains/permit-application/collaborator-management/block-collaborator-assignment-management.tsx
  app/frontend/components/shared/select/selectors/block-status-select.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/enums.ts
Due: prettier --write, eslint

add specs
  spec/controllers/contacts_controller_spec.rb
  spec/controllers/requirement_templates_controller_spec.rb
  spec/controllers/template_versions_controller_spec.rb
Due: stree --write

[bphh-558] Add API to create or update permit block status. Create optimistic permit block status select component wired to the API
  app/blueprints/permit_application_blueprint.rb
  app/blueprints/permit_block_status_blueprint.rb
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/domains/permit-application/collaborator-management/block-collaborator-assignment-management.tsx
  app/frontend/models/permit-application.ts
  app/frontend/models/permit-block-status.ts
  app/frontend/services/api/index.ts
  app/frontend/utils/utility-functions.ts
  app/policies/permit_application_policy.rb
  config/locales/en.yml
  config/routes.rb
Due: prettier --write, eslint, stree --write

[bphh-558] Refactor collaborator new user finder to check both omniauth email and notification email
  app/services/permit_collaboration/collaboration_management_service.rb
Due: stree --write

[bphh-558] Add websocket update for permit block status change
  app/blueprints/permit_block_status_blueprint.rb
  app/frontend/models/permit-block-status.ts
  app/frontend/stores/permit-application-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/permit_block_status.rb
  app/services/constants/websockets.rb
Due: prettier --write, eslint, stree --write

[bphh-558] Include designated submitter in notifiable users list
  app/models/permit_application.rb
Due: stree --write

[bphh-558] Add email for the permit collaboration status ready
  app/controllers/api/permit_applications_controller.rb
  app/mailers/permit_hub_mailer.rb
  app/models/permit_block_status.rb
  app/views/permit_hub_mailer/notify_block_status_ready.erb
  config/locales/en.yml
Due: stree --write

[bphh-558] Add permit block status ready notifications
  app/frontend/stores/notification-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/permit_block_status.rb
  app/services/constants/notification_action_types.rb
  app/services/notification_service.rb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

[bphh-558] Refactor so that status ready notification are only sent to delegatee when status changed during review
  app/models/permit_block_status.rb
  app/views/permit_hub_mailer/notify_block_status_ready.erb
Due: stree --write

Fix overlapping text on PDF application
  app/frontend/components/shared/permit-applications/pdf-content/application/index.tsx
  app/services/requirement_form_json_service.rb
Due: prettier --write, eslint, stree --write

Fix issue with wrong params getting passed to update of permit application for collaborators. Also updates params so that designated subnmitters can update nickname
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
Due: prettier --write, eslint, stree --write

Update status ready notification email copy
  app/views/permit_hub_mailer/notify_block_status_ready.erb
Due: none

Update how it works copy
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Update how it works copy with line breaks
  app/frontend/components/domains/permit-application/collaborator-management/collaborators-sidebar.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Make edit permit application buttons responsive
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
Due: prettier --write, eslint

[bphh-1148] Add migration for collaboration notification preference
  db/migrate/20240807205749_add_collaboration_notifiction_preference.rb
  db/schema.rb
Due: stree --write

[bphh-1148] Add ability to update collaboration notification preference from profile
  app/blueprints/preference_blueprint.rb
  app/controllers/api/users_controller.rb
  app/frontend/components/domains/users/profile-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/user.ts
Due: prettier --write, eslint, stree --write

[bphh-1148] Update notification copy
  config/locales/en.yml
Due: none

[bphh-1148] Update existing non essential collaboration notification to be sent based on notification preferences
  app/mailers/permit_hub_mailer.rb
  app/services/notification_service.rb
Due: stree --write

[bphh-1148] Fix copy typos
  config/locales/en.yml
Due: none

[bphh-1148] Update existing collaboration notification to check if block still exists before sending notificaiton
  app/mailers/permit_hub_mailer.rb
  app/models/permit_block_status.rb
  app/models/permit_collaboration.rb
  app/services/notification_service.rb
Due: stree --write

Fix issue downgrading super admins
  app/models/user.rb
  app/services/promote_user.rb
  config/locales/en.yml
Due: stree --write

[bphh-1148] Fix bug with invitation instructions email breaking and refactor promote_user so that it does not downgrade an existing users role
  app/services/promote_user.rb
  app/views/devise/mailer/invitation_instructions.html.erb
Due: stree --write

[bphh-1148] Send submission notifications to collaborators based on their preferences
  app/mailers/permit_hub_mailer.rb
  app/models/permit_block_status.rb
  app/services/notification_service.rb
  app/services/permit_collaboration/collaboration_management_service.rb
Due: stree --write

[bphh-1148] Add assignees to users to notify for status change
  app/models/permit_application.rb
  app/models/permit_block_status.rb
Due: stree --write

[bphh-1148] Add collaboration unassignment notification
  app/frontend/stores/notification-store.ts
  app/frontend/types/enums.ts
  app/models/permit_collaboration.rb
  app/services/constants/notification_action_types.rb
  app/services/notification_service.rb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

[bphh-1148] Add collaboration unassignment notification
  app/models/permit_collaboration.rb
Due: stree --write

[bphh-1148] Add assignment popover for review collaboration
  app/frontend/components/domains/permit-application/collaborator-management/collaboration-assignment-popover-content.tsx
  app/frontend/components/domains/permit-application/collaborator-management/collaborator-assignment-popover.tsx
  app/frontend/components/domains/permit-application/collaborator-management/hooks/use-collaboration-assignment-nodes.ts
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/stores/collaborator-store.ts
  app/models/permit_collaboration.rb
  app/models/user.rb
  db/data/20240808210302_create_collaborator_for_jurisdictions.rb
  db/data_schema.rb
Due: prettier --write, eslint, stree --write

[bphh-1148] Add collaborators sidebar for review collaboration. Update more copy for review collaboration and hide ui elements
  app/blueprints/permit_application_blueprint.rb
  app/frontend/components/domains/permit-application/collaborator-management/collaboration-assignment-popover-content.tsx
  app/frontend/components/domains/permit-application/collaborator-management/collaborator-assignment-popover.tsx
  app/frontend/components/domains/permit-application/collaborator-management/collaborators-sidebar.tsx
  app/frontend/components/domains/permit-application/collaborator-management/designated-submitter-assignment-popover.tsx
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint, stree --write

[bphh-146] Add in app notification for assignment and unassignment of review collaborator
  app/frontend/stores/notification-store.ts
  app/frontend/types/enums.ts
  app/models/permit_collaboration.rb
  app/services/constants/notification_action_types.rb
  app/services/notification_service.rb
  app/services/permit_collaboration/collaboration_management_service.rb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

[bphh-146] Send collaboration assignment email for review collaboration and fix spacing for assignment popover content
  app/frontend/components/domains/permit-application/collaborator-management/collaboration-assignment-popover-content.tsx
  app/services/permit_collaboration/collaboration_management_service.rb
  app/views/permit_hub_mailer/notify_permit_collaboration.erb
Due: prettier --write, eslint, stree --write

[bphh-1661] update copy for review status ready
  app/views/permit_hub_mailer/notify_block_status_ready.erb
Due: none

[bphh-146] update email copy
  app/views/permit_hub_mailer/notify_permit_collaboration.erb
Due: none
