Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

remove test branch match enforce
  .github/workflows/test.yml
Due: none

remove dev branch match enforce
  .github/workflows/dev.yml
Due: none

HUB-4771 add jurisdiction about page specific contact card
  app/frontend/components/shared/jurisdiction/jurisdiction-about-contact-card.tsx
Due: prettier --write, eslint

HUB-4771 update i18n translations
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4771 update contact grid layout
  app/frontend/components/domains/jurisdictions/contacts/contact-grid.tsx
Due: prettier --write, eslint

HUB-4771 conditionally render contact grid based on jurisdiction contacts
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
Due: prettier --write, eslint

use workflow from stable and deploy me to develop
  app/frontend/components/domains/users/admin-invite-screen.tsx
Due: prettier --write, eslint

remove branch match enforment on prod yml
  .github/workflows/prod.yml
Due: none

Fix conflicts
  .github/actions/openshift-deploy/action.yml
  .github/workflows/dev.yml
  .github/workflows/prod.yml
  .github/workflows/test.yml
Due: none

Add explicit GH deployments to openshift deploy workflows so that we can decouple the run workflow from to the branch that Jira scans for the commit message
  .github/actions/openshift-deploy/action.yml
  .github/workflows/dev.yml
  .github/workflows/prod.yml
  .github/workflows/test.yml
Due: none

HUB-4771 adjust layout and spacing
  app/frontend/components/domains/jurisdictions/jurisdiction-about-accordion-item.tsx
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
Due: prettier --write, eslint

fixed HUB-4844
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
Due: prettier --write, eslint

Add checkout before local OpenShift composite action
  .github/workflows/dev.yml
  .github/workflows/prod.yml
  .github/workflows/test.yml
Due: none

HUB-4769 use hero banner in dashboard
  app/frontend/components/domains/landing/index.tsx
Due: prettier --write, eslint

HUB-4769 jurisdiction specific editor with preview component
  app/frontend/components/domains/jurisdictions/jurisdiction-editor-with-preview.tsx
Due: prettier --write, eslint

HUB-4769 add hero banner description
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4769 add soft call to action component
  app/frontend/components/shared/cta/soft-cta-card.tsx
Due: prettier --write, eslint

HUB-4769 add jurisdiction accorion item
  app/frontend/components/domains/jurisdictions/jurisdiction-about-accordion-item.tsx
Due: prettier --write, eslint

HUB-4769 add themed layout component
  app/frontend/components/domains/landing/index.tsx
  app/frontend/components/shared/base/highlighted-layout.tsx
Due: prettier --write, eslint

HUB-4769 add translations
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4769 use editor with preview hook
  app/frontend/components/shared/editor/custom-extensions/editor-with-preview.tsx
Due: prettier --write, eslint

HUB-4769 refactor to include grid structure and integrate cta components
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
Due: prettier --write, eslint

HUB-4769 new about page header
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
Due: prettier --write, eslint

HUB-4769 add hook for editor with preview functionality
  app/frontend/components/shared/editor/custom-extensions/use-editor-with-preview.ts
Due: prettier --write, eslint

HUB-4769 add hero banner component
  app/frontend/components/shared/base/hero-banner.tsx
Due: prettier --write, eslint

HUB-4769 add highlighted call to action component
  app/frontend/components/shared/cta/highlighted-cta-card.tsx
Due: prettier --write, eslint

HUB-4769 add jurisdiction about CTA cards component
  app/frontend/components/domains/jurisdictions/jurisdiction-about-cta-cards.tsx
Due: prettier --write, eslint

HUB-4769 replace ctas with jurisdiction about cta cards component
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
Due: prettier --write, eslint

HUB-4769 refactor into accordion sections
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
Due: prettier --write, eslint

HUB-4769 add accordion translations for overview and key information
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4837 HUB-4836 Reviewer workspace - Submission inbox: View permit bugs, kanban board bugs
  app/blueprints/permit_application_blueprint.rb
  app/controllers/api/concerns/search/jurisdiction_permit_applications.rb
  app/controllers/api/concerns/search/jurisdiction_permit_projects.rb
  app/frontend/components/domains/jurisdictions/submission-inbox/application-inbox-table.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/application-kanban-board.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/filters/assigned-filter.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/filters/index.ts
  app/frontend/components/domains/jurisdictions/submission-inbox/filters/meeting-requests-filter.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/filters/permit-type-filter.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/filters/project-state-filter.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/filters/status-filter.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/filters/unread-filter.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/kanban-board.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/kanban-card.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-project-detail-screen.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-inbox-permit-applications-popover.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-inbox-table.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-kanban-board.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/submission-inbox-mark-unread-icon-button.tsx
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/components/shared/filters/inbox-filter.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/models/permit-project.ts
  app/frontend/stores/submission-inbox-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/concerns/permit_application_status.rb
  app/models/concerns/permit_project_state.rb
  app/models/permit_application.rb
  db/data/20260330224501_set_project_states.rb
  db/data_schema.rb
  db/migrate/20260402180000_remove_enqueued_at_from_permit_applications.rb
  db/schema.rb
  db/seeds.rb
  spec/models/concerns/permit_project_state_spec.rb
Due: prettier --write, eslint, stree --write

HUB-4837 assignee popover replacement
  app/blueprints/permit_project_blueprint.rb
  app/frontend/components/domains/jurisdictions/submission-inbox/application-inbox-table.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/application-kanban-board.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-designated-reviewer-popover.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-inbox-table.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-kanban-board.tsx
  app/frontend/components/domains/permit-application/collaborator-management/designated-collaborator-assignment-popover.tsx
  app/models/concerns/permit_application_status.rb
  app/models/permit_collaboration.rb
  app/policies/permit_application_policy.rb
  spec/models/concerns/permit_project_state_spec.rb
Due: prettier --write, eslint, stree --write

fix drag and assing click
  app/frontend/components/domains/jurisdictions/submission-inbox/application-inbox-table.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/kanban-board.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/kanban-card.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-inbox-table.tsx
Due: prettier --write, eslint

commit for empty deploy to pick up previous deploys in jira
  app/models/permit_block_status.rb
Due: stree --write

commit for re deploy
  app/models/permit_block_status.rb
Due: stree --write

try to get jira to pick up deployment
  app/models/permit_block_status.rb
Due: stree --write

HUB-4720 HUB-4741 HUB-4740 HUB-4738 HUB-4737 HUB-4736 HUB-4735 HUB-4734 HUB-4739 HUB-4817 HUB-4742
  app/models/permit_block_status.rb
Due: stree --write

submission inbox merge, project filter narrowing crash, kanban horizontal scroll
  app/blueprints/jurisdiction_blueprint.rb
  app/frontend/components/domains/jurisdictions/submission-inbox/application-inbox-table.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/inbox-no-matching-empty.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/kanban-board.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-inbox-table.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/jurisdiction.ts
  app/frontend/stores/submission-inbox-store.ts
  app/models/jurisdiction.rb
  db/data/20241217193925_enable_inboxes.rb
  spec/models/jurisdiction_spec.rb
Due: prettier --write, eslint, stree --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
