Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

[bphh-146] Add disabled state for status select
  app/frontend/components/domains/permit-application/collaborator-management/block-collaborator-assignment-management.tsx
  app/frontend/components/shared/select/selectors/block-status-select.tsx
Due: prettier --write, eslint

add target attribute to quill linkblot extension value
  app/frontend/components/shared/editor/custom-extensions/link-blot.ts
Due: prettier --write, eslint

[bphh-146] Assign designated reviewer to jurisdiction inbox
  app/blueprints/permit_application_blueprint.rb
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/permit-application/collaborator-management/collaborators-sidebar.tsx
  app/frontend/components/domains/permit-application/collaborator-management/designated-collaborator-assignment-popover.tsx
  app/frontend/models/permit-application.ts
  app/models/permit_application.rb
Due: prettier --write, eslint, stree --write

allow target and rel in html sanitization
  app/models/concerns/html_sanitize_attributes.rb
Due: stree --write

add some missing security rel attrs
  app/frontend/components/domains/misc/contact-screen.tsx
  app/views/permit_hub_mailer/02a_notify_reviewer_application_received_email.html.erb
Due: prettier --write, eslint

fix handling of null value in jursidiction select
  app/frontend/components/domains/permit-application/new-permit-application-screen.tsx
  app/frontend/components/shared/select/selectors/jurisdiction-select.tsx
Due: prettier --write, eslint

commit for retest
  app/frontend/components/shared/select/selectors/jurisdiction-select.tsx
Due: prettier --write, eslint

complete classification seeder with all enabled and add data migration
  app/services/permit_classification_seeder.rb
  db/data/20240813164119_enable_all_permit_classifications.rb
  db/data_schema.rb
Due: stree --write

[bphh-1946] Filter out data from submission_versions and revision_requests based on collaboration permissions
  app/blueprints/permit_application_blueprint.rb
  app/blueprints/submission_version_blueprint.rb
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/hooks/resources/use-permit-application.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/permit-application-store.ts
  app/models/submission_version.rb
  app/services/permit_application/submission_data_service.rb
Due: prettier --write, eslint, stree --write

[bphh-1946] Filter our supporting docs based on user permissions
  app/blueprints/permit_application_blueprint.rb
  app/models/permit_application.rb
Due: stree --write

[bphh-1946] Add ability for designated submitter to accept new version, and add callout banner for rest of the assignees
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/user.ts
  app/policies/permit_application_policy.rb
  app/services/permit_application/form_json_service.rb
  app/services/permit_application/submission_data_service.rb
Due: prettier --write, eslint, stree --write

[bphh-1946] Remove download modal for assignees
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
Due: prettier --write, eslint

make email confirmation page copy apply to all roles and let backend handle validation for links
  app/frontend/components/domains/authentication/email-confirmed-screen.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/help-drawer-setup-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

only show most recent action required item
  app/frontend/components/domains/navigation/nav-bar.tsx
Due: prettier --write, eslint

Add initial docker-compose for local development. Some things do not work yet (launchy emails, etc.) but should be able to bootstrap the app and get going
  .gitignore
  db/schema.rb
  devops/docker/app/Dockerfile.dev
  docker-compose.yml
Due: stree --write

Add some dependencies and pull policies
  docker-compose.yml
Due: none

[bphh-1950] Fix bug where an error is thrown on step code tool navigation causing the navigation to fail
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
Due: prettier --write, eslint

Normalize line endings for windows and add to .gitignore
  .gitignore
Due: none

apply step code fix and guard against empty energy advisor row
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/permit-application/contact-summary-modal.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
Due: prettier --write, eslint

run vite in the same container as app for HMR and easy access for local development only (docker-compose)
  docker-compose.yml
Due: none

fix action returns, unused method, unecessary save
  app/frontend/models/template-version.ts
  app/models/requirement_template.rb
  app/services/requirement_template_copy_service.rb
Due: prettier --write, eslint, stree --write

fix gitattributes and gitignore
  .gitattributes
  .gitignore
Due: none

Fix typo in translation key
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

push for retest
  spec/controllers/requirement_templates_controller_spec.rb
Due: stree --write

fix find last created in spec
  app/frontend/components/domains/permit-application/new-permit-application-screen.tsx
  spec/controllers/requirement_templates_controller_spec.rb
Due: prettier --write, eslint, stree --write

also convert bin files to LF
  .gitattributes
Due: none

add node_modules to dockerignore
  .dockerignore
Due: none

Fix bug with nil hash for collaboration submission data filtering
  app/services/permit_application/submission_data_service.rb
Due: stree --write

Update README.md
  README.md
Due: none

dockerignore .env
  .dockerignore
Due: none

[bphh-733] Add migration for discarded at for requirement_block
  app/models/requirement_block.rb
  db/migrate/20240814195936_add_discarded_at_to_requirement_blocks.rb
  db/schema.rb
Due: stree --write

[bphh-733] Add discarded to requirement block search backend
  app/controllers/api/concerns/search/requirement_blocks.rb
  app/models/requirement_block.rb
  db/data/20240814202522_reindex_requirement_blocks.rb
  db/data_schema.rb
Due: stree --write

[bphh-733] Implement requirement block archiving functionality
  app/blueprints/requirement_block_blueprint.rb
  app/controllers/api/requirement_blocks_controller.rb
  app/frontend/components/domains/requirements-library/block-setup-options-menu.tsx
  app/frontend/components/domains/requirements-library/index.tsx
  app/frontend/components/domains/requirements-library/requirement-blocks-table.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/block-setup.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
  app/frontend/hooks/resources/use-requirement-template.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement-block.ts
  app/frontend/models/requirement-template.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/requirement-block-store.ts
  app/frontend/stores/requirement-template-store.ts
  app/models/requirement_block.rb
  app/policies/requirement_block_policy.rb
  config/locales/en.yml
  config/routes.rb
Due: prettier --write, eslint, stree --write

adding erd diagram
  Gemfile
  Gemfile.lock
  README.md
  erd.pdf
Due: none

update simple feed, remove monkey patch, fix some types
  Gemfile
  Gemfile.lock
  app/frontend/stores/notification-store.ts
  app/frontend/types/types.ts
  overrides/redis/connection/hiredis.rb
Due: prettier --write, eslint, stree --write

[bphh-1728] redirect to eula screen on all protected routes if not accepted
  app/frontend/components/domains/navigation/index.tsx
Due: prettier --write, eslint

[bphh-1664] Update copy to include zoning link in draft permit applications
  app/frontend/components/shared/base/custom-message-box.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

fix step code report to match new modeling
  app/models/jurisdiction.rb
  app/models/jurisdiction_template_step_code.rb
  app/services/step_code_export_service.rb
  config/locales/en.yml
Due: stree --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
