Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

enhace and bugfix block edit modal
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
  app/frontend/components/shared/editor/editor.tsx
  app/frontend/components/shared/form-modal.tsx
Due: prettier --write, eslint

HUB-5001 Submitter - Project overview - Project status: 'Out for revision' status to be renamed for submitters
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-5166 Is there anything stopping a service card submitter from being promoted to a review manager?
  app/frontend/components/domains/users/accept-invitation-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-5040 Submitter - Projects: 2 copy updates
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-permits-tab.tsx
  app/frontend/components/domains/overheating-code/overheating-code-nav-bar.tsx
  app/frontend/components/domains/permit-project/index.tsx
  app/frontend/components/domains/permit-project/pinned-projects-grid.tsx
  app/frontend/components/domains/permit-project/projects-grid.tsx
  app/frontend/components/shared/base/custom-message-box.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4874 Submitter - UI consistency: Projects, Step Codes, Pre-checks, & Overheating Codes
  app/frontend/components/domains/overheating-code/grid-header.tsx
  app/frontend/components/domains/permit-project/overheating-code-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/project-sidebar-tab-list.tsx
  app/frontend/components/domains/permit-project/step-code-tab-panel-content.tsx
Due: prettier --write, eslint

verify git lfs assets before image build
  .github/actions/openshift-deploy/action.yml
Due: none

use git lfs on all ci checkouts
  .github/workflows/dev.yml
  .github/workflows/prod.yml
  .github/workflows/test.yml
Due: none

re pull git lfs in deploy
  .github/actions/openshift-deploy/action.yml
Due: none

Revert "use git lfs on all ci checkouts"
  .github/workflows/dev.yml
  .github/workflows/prod.yml
  .github/workflows/test.yml
Due: none

HUB-4782 update not found copy
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4782 update not found copy (#1752)
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-5054 use number unit enum
  app/frontend/components/domains/requirements-library/requirement-field-display/index.tsx
Due: prettier --write, eslint

HUB-4210 super admin can create edit and publish release notes fixes (#1736)
  app/controllers/api/concerns/search/release_notes.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/release-note-form-screen.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/release-notes-screen.tsx
  app/models/release_note.rb
  spec/factories/release_notes.rb
  spec/requests/release_notes_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5054 cad currency unit label is not located in close proximity to respective field (#1741)
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/index.tsx
Due: prettier --write, eslint

fix contact deletion in specs
  spec/services/step_code_report_sharing_service_spec.rb
Due: stree --write

re-order ea population logic
  db/data/20260421165626_convert_early_access_to_draft_versions.rb
  db/migrate/20260226180000_remove_permit_classification_system.rb
  db/migrate/20260421200000_drop_type_from_requirement_templates.rb
  db/schema.rb
Due: stree --write

update category copy
  app/frontend/components/domains/requirement-template/screens/requirement-template-screen.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/index.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/template-categories-screen.tsx
  app/frontend/components/shared/requirement-template/requirement-template-grid.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

remove submitters from emails
  app/services/notification_service.rb
  spec/services/notification_service_spec.rb
Due: stree --write

upgrade node to 20.19.0 for ci
  .github/workflows/pull-request.yml
  .nvmrc
  README.md
  devops/docker/app/Dockerfile
  devops/docker/app/Dockerfile.dev
  package-lock.json
  package.json
Due: none

HUB-4834 add confirmation email translation
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4834 add submit buttons near notification email inputs
  app/frontend/components/domains/users/profile-screen.tsx
Due: prettier --write, eslint

add optional interop default for dompurify
  app/frontend/utils/sanitize-tiptap-content.ts
Due: prettier --write, eslint

disable submission screen until file uploaded
  app/frontend/components/domains/pre-check/form-section/upload-drawings.tsx
  app/frontend/components/domains/pre-check/sidebar/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4210 reindex release notes
  db/migrate/20260622180223_reindex_release_notes.rb
Due: stree --write

HUB-4210 remove redundant searchable arg
  app/models/release_note.rb
Due: stree --write

Hub 4210 super admin can create edit and publish release notes (#1763)
  app/models/release_note.rb
  db/migrate/20260622180223_reindex_release_notes.rb
Due: stree --write

update content disposition calls and fix zipfile generation
  app/frontend/components/domains/permit-application/submission-download-modal.tsx
  app/frontend/models/permit-application.ts
  app/frontend/types/types.ts
  app/models/concerns/form_supporting_documents.rb
  app/models/file_upload_attachment.rb
  app/models/part_9_step_code/data_entry.rb
  app/models/supporting_document.rb
  app/services/wrappers/archistar.rb
Due: prettier --write, eslint, stree --write

add missing phone number migration
  db/migrate/20260623120000_add_phone_number_to_users.rb
  db/schema.rb
Due: stree --write

add debug for qa tools
  app/frontend/entrypoints/application.tsx
Due: prettier --write, eslint

remove qa tools console log
  app/frontend/entrypoints/application.tsx
Due: prettier --write, eslint

add comments for as built stage
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/blueprints/step_code/part_9/checklist_blueprint.rb
  app/controllers/api/part_3_building/step_codes_controller.rb
  app/controllers/api/part_9_building/checklists_controller.rb
  app/controllers/api/part_9_building/step_codes_controller.rb
  app/controllers/api/step_codes_controller.rb
  app/controllers/concerns/step_code_params_concern.rb
  app/frontend/components/domains/permit-project/step-codes-grid-row.tsx
  app/frontend/components/domains/project-readiness-tools/check-step-code-requirements/select-step-code-requirements-screen.tsx
  app/frontend/components/domains/step-code/part-3/form-section/project-details.tsx
  app/frontend/components/domains/step-code/part-3/index.tsx
  app/frontend/components/domains/step-code/part-9/import.tsx
  app/frontend/hooks/resources/use-part-3-step-code.ts
  app/frontend/hooks/resources/use-part-9-step-code.ts
  app/frontend/models/part-3-step-code-checklist.ts
  app/frontend/models/part-3-step-code.ts
  app/frontend/models/part-9-step-code.ts
  app/frontend/models/step-code-base.ts
  app/jobs/step_code_report_generation_job.rb
  app/models/part_3_step_code.rb
  app/models/part_9_step_code.rb
  app/models/permit_application.rb
  app/models/step_code.rb
Due: prettier --write, eslint, stree --write

consolidate checklist naming
  app/frontend/components/domains/permit-application/contact-summary-modal.tsx
  app/frontend/components/domains/permit-application/submission-download-modal.tsx
  app/frontend/components/domains/step-code/nav-bar/part-9-nav-links.tsx
  app/frontend/components/domains/step-code/part-9/checklist/index.tsx
  app/frontend/models/part-3-step-code.ts
  app/frontend/models/part-9-step-code.ts
  app/jobs/step_code_report_generation_job.rb
  app/models/concerns/permit_application_status.rb
  app/models/part_3_step_code.rb
  app/models/part_9_step_code.rb
  app/models/step_code.rb
  app/models/user.rb
  app/services/step_code_export_service.rb
  spec/jobs/step_code_report_generation_job_spec.rb
  spec/models/part_3_step_code_spec.rb
  spec/models/part_9_step_code_spec.rb
  spec/models/step_code_spec.rb
  spec/services/step_code_export_service_spec.rb
Due: prettier --write, eslint, stree --write

add qa tools for part 3
  app/controllers/api/qa_tools_controller.rb
  app/frontend/components/domains/navigation/qa-tools-popout.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/services/api/index.ts
  app/policies/part_3_step_code_policy.rb
  app/services/qa/part_3_step_code_autofill_data.rb
  app/services/qa/part_3_step_code_autofill_service.rb
  config/locales/en.yml
  config/routes.rb
  spec/requests/api/qa_tools_spec.rb
  spec/services/qa/part_3_step_code_autofill_service_spec.rb
Due: prettier --write, eslint, stree --write

add qa autofill for part 9
  app/controllers/api/qa_tools_controller.rb
  app/frontend/components/domains/navigation/qa-tools-popout.tsx
  app/frontend/hooks/resources/use-part-9-step-code.ts
  app/frontend/i18n/i18n.ts
  app/frontend/services/api/index.ts
  app/policies/part_9_step_code_policy.rb
  app/services/qa/part_9_step_code_autofill_data.rb
  app/services/qa/part_9_step_code_autofill_service.rb
  config/locales/en.yml
  config/routes.rb
  spec/requests/api/qa_tools_spec.rb
  spec/services/qa/part_9_step_code_autofill_service_spec.rb
Due: prettier --write, eslint, stree --write

add multi zone hdd to step code screen
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/climate-zones-screen.tsx
  app/frontend/components/domains/jurisdictions/step-code-requirements-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

remove legacy hdd
  app/blueprints/jurisdiction_blueprint.rb
  app/controllers/api/jurisdictions_controller.rb
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/part-3-heating-degree-days-form.tsx
  app/frontend/components/domains/step-code/part-3/form-section/location-details.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/jurisdiction.ts
  app/models/concerns/project_item.rb
  app/models/part_3_step_code/checklist.rb
  app/services/step_code/part_3/v0/seeders/jurisdiction_hdd.rb
  db/data/20241204220552_seed_jursidictions_hdd.rb
  db/migrate/20260625171400_remove_heating_degree_days_from_jurisdictions.rb
  db/schema.rb
  spec/controllers/part_3_building/checklists_controller_spec.rb
  spec/controllers/part_3_building/step_codes_controller_spec.rb
  spec/models/step_code_spec.rb
  spec/services/step_code/part_3/v0/seeders/jurisdiction_hdd_spec.rb
Due: prettier --write, eslint, stree --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
