Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

HUB-3010 removed unwanted subnav integration
  app/frontend/components/domains/project-readiness-tools/index.tsx
  app/frontend/components/domains/project-readiness-tools/letter-of-assurance.tsx
Due: prettier --write, eslint

add comments about code scanning issues
  app/controllers/api/part_3_building/checklists_controller.rb
  app/controllers/api/part_3_building/step_codes_controller.rb
  app/controllers/api/part_9_building/step_codes_controller.rb
Due: stree --write

apply csv export code that was originally based on develop
  app/controllers/api/step_codes_controller.rb
  app/frontend/components/domains/super-admin/reporting/reporting-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/permit-application-store.ts
  app/frontend/stores/step-code-store.ts
  app/frontend/types/enums.ts
  app/models/concerns/form_supporting_documents.rb
  app/models/concerns/step_code_field_extraction.rb
  app/models/part_9_step_code.rb
  app/models/requirement_block.rb
  app/policies/step_code_policy.rb
  app/services/step_code_export_service.rb
  config/routes.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

wip
  app/blueprints/step_code_checklist_blueprint.rb
  app/controllers/api/step_codes_controller.rb
  app/frontend/components/domains/super-admin/reporting/reporting-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/step-code-store.ts
  app/models/part_9_step_code.rb
  app/models/requirement_block.rb
  app/models/step_code.rb
  app/policies/step_code_policy.rb
  app/services/step_code_export_service.rb
  config/routes.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

add synchronous json reports
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/blueprints/step_code/part_3/document_reference_blueprint.rb
  app/blueprints/step_code/part_9/checklist_blueprint.rb
  app/controllers/api/step_codes_controller.rb
  app/frontend/components/domains/super-admin/reporting/reporting-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/step-code-store.ts
  app/policies/step_code_policy.rb
  app/services/step_code_export_service.rb
  config/routes.rb
Due: prettier --write, eslint, stree --write

define projects delegation and creation
  app/models/permit_application.rb
  app/models/permit_project.rb
  app/models/permit_project_permit_application.rb
  db/migrate/20250509210248_create_project_related_entities_and_payment_details.rb
  db/migrate/20250516204033_add_is_primary_to_permit_project_permit_applications.rb
  db/schema.rb
Due: stree --write

add controller and policy for permit projects
  app/blueprints/permit_project_blueprint.rb
  app/controllers/api/concerns/search/permit_projects.rb
  app/controllers/api/permit_projects_controller.rb
  app/policies/permit_project_policy.rb
  config/routes.rb
Due: stree --write

wip
  app/blueprints/permit_project_blueprint.rb
  app/controllers/api/permit_projects_controller.rb
  app/frontend/components/domains/home/super-admin-home-screen.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/permit-project/index.tsx
  app/frontend/components/shared/permit-projects/permit-project-card.tsx
  app/frontend/models/permit-project.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/permit-project-store.ts
  app/frontend/stores/root-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/policies/permit_project_policy.rb
Due: prettier --write, eslint, stree --write

HUB-1257 submission inbox set up screen integration under feature access
  app/frontend/components/domains/home/review-manager/configuration-management-screen/feature-access-screen/inbox-feature-access.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/feature-access-screen/index.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/index.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/inbox-feature-access.tsx
  app/frontend/components/shared/base/feature-toggle-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-3010 add LOA marketing pages
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/project-readiness-tools/index.tsx
  app/frontend/components/domains/project-readiness-tools/letter-of-assurance.tsx
  app/frontend/components/shared/base/footer.tsx
  app/frontend/i18n/i18n.ts
  public/pdfs/2024-LoA-Sch-A.pdf
  public/pdfs/2024-LoA-Sch-B.pdf
  public/pdfs/2024-LoA-Sch-C-A.pdf
  public/pdfs/2024-LoA-Sch-C-B.pdf
Due: prettier --write, eslint

HUB-1257 removed global feature access keys for RM
  app/frontend/components/domains/home/review-manager/configuration-management-screen/feature-access-screen/index.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

set up project index
  app/blueprints/permit_project_blueprint.rb
  app/controllers/api/concerns/search/permit_projects.rb
  app/controllers/api/permit_projects_controller.rb
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/permit-project/index.tsx
  app/frontend/components/shared/permit-projects/permit-project-card.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/lib/with-merge.ts
  app/frontend/models/permit-project.ts
  app/frontend/stores/permit-project-store.ts
  app/policies/permit_application_policy.rb
  app/policies/permit_project_policy.rb
  db/data/20250520173019_create_permit_projects_for_primary_applications.rb
  db/data_schema.rb
Due: prettier --write, eslint, stree --write

HUB-3129: update the helm chart
  devops/helm-charts/clamav/.helmignore
  devops/helm-charts/clamav/Chart.yaml
  devops/helm-charts/clamav/Dockerfile
  devops/helm-charts/clamav/clamdcheck.sh
  devops/helm-charts/clamav/config/clamd.conf
  devops/helm-charts/clamav/config/freshclam.conf
  devops/helm-charts/clamav/templates/_helpers.tpl
  devops/helm-charts/clamav/templates/configmap.yaml
  devops/helm-charts/clamav/templates/cronjob.yaml
  devops/helm-charts/clamav/templates/deployment.yaml
  devops/helm-charts/clamav/templates/pdb.yaml
  devops/helm-charts/clamav/templates/service.yaml
  devops/helm-charts/clamav/values.yaml
  devops/helm-charts/ha-postgres-crunchydb/values-dev.yaml
  devops/helm-charts/ha-postgres-crunchydb/values-prod.yaml
  devops/helm-charts/ha-postgres-crunchydb/values-test.yaml
Due: none

cache step code json in nightly job
  app/jobs/cache_step_code_metrics_job.rb
  app/services/step_code_export_service.rb
  config/sidekiq_cron_schedule.yml
  db/migrate/20250520212811_add_cached_metrics_json_to_step_codes.rb
  db/schema.rb
Due: stree --write

HUB-3030 added toggle btn to manage content on about us page as a RM
  app/blueprints/jurisdiction_blueprint.rb
  app/controllers/api/jurisdictions_controller.rb
  app/frontend/components/domains/home/review-manager/configuration-management-screen/feature-access-screen/index.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/feature-access-screen/my-jurisdiction-about-page.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/index.tsx
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/shared/base/feature-access-screen.tsx
  app/frontend/components/shared/base/feature-toggle-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/jurisdiction.ts
  db/migrate/20240610120000_add_show_about_page_to_jurisdictions.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

HUB-1519 updated the indent
  app/frontend/components/domains/home/review-manager/configuration-management-screen/index.tsx
Due: prettier --write, eslint

Added link to users page
  app/frontend/components/domains/home/technical-support/index.tsx
Due: prettier --write, eslint

HUB-3030 fixed sonar cube error messages
  app/frontend/components/domains/home/review-manager/configuration-management-screen/feature-access-screen/my-jurisdiction-about-page.tsx
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/components/shared/base/feature-toggle-screen.tsx
Due: prettier --write, eslint

small adjustment to policy methods
  app/models/user.rb
  app/policies/jurisdiction_policy.rb
  app/policies/permit_application_policy.rb
Due: stree --write

HUB-1519 fixed the failing rspec and SonarQube errors
  app/frontend/components/domains/home/technical-support/TechnicalSupportHomeSection.tsx
  app/frontend/components/domains/home/technical-support/configuration-management-screen/index.tsx
  app/frontend/components/domains/home/technical-support/index.tsx
  app/models/user.rb
  app/policies/invitation_policy.rb
  app/policies/permit_application_policy.rb
Due: prettier --write, eslint, stree --write

HUB-2090 CSS approach to add the link to a label
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/energy-step-code-report-link.ts
  app/frontend/styles/chakra-overrides.scss
  app/services/requirement_form_json_service.rb
Due: prettier --write, eslint, stree --write

HUB-1260 added after_save and after_update conditions to proppogate the change across all the users
  app/models/jurisdiction.rb
Due: stree --write

Copy changes HUB-1257 for feature access
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

remove sku helper text
  app/frontend/components/domains/requirements-library/requirements-block-modal/block-setup.tsx
Due: prettier --write, eslint

add controller and policy for permit projects
  app/blueprints/permit_project_blueprint.rb
  app/controllers/api/concerns/search/permit_projects.rb
  app/controllers/api/permit_projects_controller.rb
  app/frontend/components/domains/home/super-admin-home-screen.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/permit-project/index.tsx
  app/frontend/components/shared/permit-projects/permit-project-card.tsx
  app/frontend/models/permit-project.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/permit-project-store.ts
  app/frontend/stores/root-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/policies/permit_project_policy.rb
  config/routes.rb
Due: prettier --write, eslint, stree --write

set up project index
  app/blueprints/permit_project_blueprint.rb
  app/controllers/api/concerns/search/permit_projects.rb
  app/controllers/api/permit_projects_controller.rb
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/permit-project/index.tsx
  app/frontend/components/shared/permit-projects/permit-project-card.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/lib/with-merge.ts
  app/frontend/models/permit-project.ts
  app/frontend/stores/permit-project-store.ts
  app/models/permit_project.rb
  app/policies/permit_application_policy.rb
  app/policies/permit_project_policy.rb
  db/data/20250520173019_create_permit_projects_for_primary_applications.rb
  db/data_schema.rb
Due: prettier --write, eslint, stree --write

experimenting with permit items
  app/blueprints/permit_project_blueprint.rb
  app/controllers/api/concerns/search/permit_projects.rb
  app/controllers/api/permit_projects_controller.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/permit-project/permit-project-screen.tsx
  app/frontend/hooks/resources/use-permit-project.ts
  app/frontend/models/permit-project.ts
  app/models/concerns/project_item.rb
  app/models/permit_application.rb
  app/models/permit_project.rb
  app/models/permit_project_permit_application.rb
  app/models/project_membership.rb
  app/policies/permit_project_policy.rb
  db/data/20250520173019_create_permit_projects_for_primary_applications.rb
  db/migrate/20250516204033_add_is_primary_to_permit_project_permit_applications.rb
  db/migrate/20250521211058_combine_project_related_migrations.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

add project document attachments
  app/models/project_document.rb
Due: stree --write

add project document attachments
  app/controllers/api/storage_controller.rb
  app/models/permit_project.rb
  app/models/project_document.rb
Due: stree --write

HUB-2090 link to step code info
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/energy-step-code-report-link.ts
  app/frontend/styles/chakra-overrides.scss
  app/services/requirement_form_json_service.rb
Due: prettier --write, eslint, stree --write

HUB-1257 copy changes for feature access
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Fixed the broken js file
  app/frontend/components/domains/permit-application/energy-step-code-report-link.ts
Due: prettier --write, eslint

show project contents
  app/blueprints/permit_project_blueprint.rb
  app/blueprints/project_document_blueprint.rb
  app/blueprints/requirement_document_blueprint.rb
  app/blueprints/transformers/file_attachment_transformer.rb
  app/controllers/api/permit_projects_controller.rb
  app/controllers/api/storage_controller.rb
  app/frontend/components/domains/permit-project/permit-project-screen.tsx
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/components/shared/base/file-download-button.tsx
  app/frontend/models/permit-project.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/permit-application-store.ts
  app/frontend/stores/permit-project-store.ts
  app/frontend/types/api-request.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/permit_project.rb
  app/models/requirement_block.rb
  app/models/user.rb
  app/policies/project_document_policy.rb
  app/services/permit_project_seeder_service.rb
  config/routes.rb
  db/data/20250520173019_create_permit_projects_for_primary_applications.rb
  db/migrate/20250521211058_combine_project_related_migrations.rb
  db/migrate/20250522000000_create_project_documents.rb
  db/schema.rb
  db/seeds.rb
Due: prettier --write, eslint, stree --write

HUB-3152 welcome page edits
  app/frontend/components/domains/landing/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

add community documents
  app/controllers/api/jurisdictions_controller.rb
  app/controllers/api/storage_controller.rb
  app/models/community_document.rb
  app/models/community_document_property_plan_jurisdiction.rb
  app/models/jurisdiction.rb
  app/models/permit_project.rb
  app/models/property_plan_jurisdiction.rb
  app/models/property_plan_local_jurisdiction.rb
  app/policies/community_document_policy.rb
  db/migrate/20250521211058_combine_project_related_migrations.rb
  db/migrate/20250526174559_create_community_documents.rb
  db/migrate/20250526180029_create_community_document_property_plan_jurisdictions.rb
  db/schema.rb
Due: stree --write

Enhance persistence and superclassing of step code and checklists
  app/controllers/api/part_3_building/checklists_controller.rb
  app/controllers/api/part_3_building/step_codes_controller.rb
  app/frontend/components/domains/permit-project/permit-project-screen.tsx
  app/frontend/components/domains/permit-project/project-readiness-tab-content.tsx
  app/frontend/components/domains/step-code/part-3/form-section/project-details.tsx
  app/frontend/components/domains/step-code/part-3/index.tsx
  app/frontend/models/part-3-step-code-checklist.ts
  app/frontend/models/part-3-step-code.ts
  app/frontend/models/part-9-step-code.ts
  app/frontend/models/step-code-base.ts
  app/models/concerns/step_code_checklist_delegates.rb
  app/models/part_3_step_code.rb
  app/models/part_3_step_code/checklist.rb
  app/models/part_9_step_code/checklist.rb
  app/models/permit_application.rb
  app/models/permit_project.rb
  app/models/step_code.rb
  app/models/user.rb
  app/policies/step_code/checklist_policy.rb
  db/migrate/20250526211841_change_step_code_to_polymorphic_parent.rb
  db/migrate/20250526232142_add_project_details_to_step_codes.rb
  db/schema.rb
  db/seeds.rb
Due: prettier --write, eslint, stree --write

WIP for marketing pages
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/project-readiness-tools/index.tsx
  app/frontend/components/shared/base/footer.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

WIP HUB-3010 marketing pages
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/project-readiness-tools/index.tsx
  app/frontend/components/domains/project-readiness-tools/letter-of-assurance.tsx
  app/frontend/components/shared/base/footer.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-3010 updated breadcrumb and borders for each item on the page to match the mock ups
  app/frontend/components/domains/project-readiness-tools/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
