Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

Updated copy when the user has no submitted permits
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Fixed copy changes and accordian down arrow position on login page
  app/frontend/i18n/i18n.ts
  app/frontend/styles/chakra-overrides.scss
Due: prettier --write, eslint

Revert the copy change from log in to login
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Fixed padding issue on description requirement block
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
Due: prettier --write, eslint

Fixed 302 redirect issue on license_agreements which is why license agreements under profile section was empty
  app/controllers/api/users_controller.rb
Due: stree --write

added authorization to trigger workflow
  .github/workflows/dev.yml
Due: none

Updated masked input field for my profile page when logged in as submitter - BPHH-2743
  app/frontend/components/domains/users/profile-screen.tsx
  app/frontend/components/shared/form/input-form-control.tsx
Due: prettier --write, eslint

Removed the show/hide button to unmask
  app/frontend/components/shared/form/input-form-control.tsx
Due: prettier --write, eslint

Captures and adds the $GITHUB_SHA env var to the deploy tasks so that it references the latest checked out code and not the branch that triggered the deploy. Also updates the checkout action to v4
  .github/workflows/dev.yml
  .github/workflows/prod.yml
  .github/workflows/test.yml
Due: none

Amend - update test.yml
  .github/workflows/test.yml
Due: none

Update prod.yml
  .github/workflows/prod.yml
Due: none

fix GHA actions by adding in the github env
  .github/workflows/prod.yml
  .github/workflows/test.yml
Due: none

Change visual identifier of SHA to @SHA instead of -SHA
  .github/workflows/dev.yml
  .github/workflows/test.yml
Due: none

add security policy to repo
  SECURITY.md
Due: none

Added compliance tool part 9 link with the heading
  app/frontend/components/domains/step-code/info.tsx
Due: prettier --write, eslint

Updated link and title to BC Energy Compliance Reports
  app/frontend/components/domains/step-code/info.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Fixed Misplaced placeholder in the Contact information block
  app/frontend/styles/chakra-overrides.scss
Due: none

Removed MaskPassword component and relevant code used react conditions to hide the input field
  app/frontend/components/domains/users/profile-screen.tsx
  app/frontend/components/shared/form/input-form-control.tsx
Due: prettier --write, eslint

BPHH-1867 Updated the notification text and added a link to step code requirement page
  app/frontend/i18n/i18n.ts
  app/frontend/stores/notification-store.ts
  config/locales/en.yml
Due: prettier --write, eslint

Updated the code formatting to be consistent with the app
  app/frontend/components/domains/step-code/info.tsx
Due: prettier --write, eslint

Updated BCeID and BCSC url dynamically on login page
  .github/workflows/dev.yml
  .github/workflows/prod.yml
  .github/workflows/test.yml
  app/frontend/components/domains/authentication/login-screen.tsx
Due: prettier --write, eslint

Added Account word in the warning message
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

secondary image to jfrog
  .github/workflows/dev.yml
  .github/workflows/prod.yml
  .github/workflows/test.yml
Due: none

changes to the env for test and prod
  .github/workflows/prod.yml
  .github/workflows/test.yml
Due: none

Added hyper link below the tip under each requirement block
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/components/shared/rich-text-tip.tsx
Due: prettier --write, eslint

Updated help link
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/jurisdiction-requirement-block-edit-sidebar.tsx
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/components/shared/rich-text-tip.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/types.ts
Due: prettier --write, eslint

Added SnowPlow tracking code into the app
  app/frontend/entrypoints/application.tsx
  app/frontend/javascripts/snowplow-tracker.tsx
Due: prettier --write, eslint

Updated tooltip code
  app/frontend/components/shared/select/selectors/sites-select.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Handled the empty slug value in the notification store
  app/frontend/stores/notification-store.ts
Due: prettier --write, eslint

BPHH-2587: do not merge
  README.md
Due: none

Disabled autofill button if current user is not logged in
  app/frontend/components/shared/permit-applications/requirement-form.tsx
Due: prettier --write, eslint

Updated the condition to show notification associated with reviewer staff
  app/frontend/stores/notification-store.ts
Due: prettier --write, eslint

Updated the reviewStaff condition
  app/frontend/stores/notification-store.ts
Due: prettier --write, eslint

Revert "Updated link and title to BC Energy Compliance Reports"
  app/frontend/components/domains/step-code/info.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Resolved the issue of notification store error- after producing the issue on local
  app/frontend/stores/notification-store.ts
Due: prettier --write, eslint

Updated step code requirement link for new application
  app/frontend/components/domains/step-code/info.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

BPHH-2674 - Removed email field from API which is not protected by user auth
  app/blueprints/contact_blueprint.rb
Due: stree --write

BPHH-2725 - Updated code
  app/frontend/components/shared/permit-applications/requirement-form.tsx
Due: prettier --write, eslint
