Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

global stree format
  app/controllers/api/concerns/search/jurisdictions.rb
  app/controllers/api/concerns/search/requirement_blocks.rb
  app/models/requirement.rb
  app/services/jurisdiction/user_inviter.rb
  app/services/requirements_from_xlsx_seeder.rb
Due: stree --write

reconfig lint staged
  .lintstagedrc.json
  package.json
Due: none

[bphh-357] Add info tooltip for associations
  app/frontend/components/domains/requirements-library/grid-header.tsx
  app/frontend/components/shared/sort-icon.tsx
  app/frontend/i18n/i18n.ts
  app/models/requirement_block.rb
Due: prettier --write, eslint, stree --write

wip
  Gemfile
  Gemfile.lock
  app/models/requirement.rb
  db/migrate/20240206230418_install_audited.rb
  db/schema.rb
  spec/models/requirement_spec.rb
Due: stree --write

fix ruby lint staaged
  package.json
Due: none

Add ability to initialize step code from H2K XML
  app/models/step_code.rb
  app/models/step_code_data_entry.rb
  app/services/step_code/data_entry_hot2000_mapper.rb
  app/services/step_code/initialize_from_hot2000.rb
  db/migrate/20240201232041_create_step_codes.rb
  db/migrate/20240202233603_create_step_code_data_entries.rb
  db/schema.rb
Due: stree --write

wip
  app/frontend/components/domains/jurisdictions/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/permit-application-store.ts
  app/frontend/types/enums.ts
  app/models/permit_application.rb
Due: prettier --write, eslint, stree --write

moved typography into inner styles for the application
  app/frontend/components/shared/chefs/styles.scss
Due: none

strip out v- items as they are unlikel form io related
  app/frontend/components/shared/chefs/styles.scss
Due: none

add unique permit application numbers
  app/models/jurisdiction.rb
  app/models/permit_application.rb
  db/migrate/20240207194117_add_number_to_permit_applications.rb
  db/schema.rb
Due: stree --write

Remove duplicate key
  app/models/requirement.rb
Due: stree --write

Remove deprecated react-leaflet types
  package.json
Due: none

improve some specs
  app/helpers/users_helper.rb
  spec/factories/requirement_template_sections.rb
  spec/factories/template_section_blocks.rb
  spec/helpers/users_helper_spec.rb
  spec/models/activity_spec.rb
  spec/models/permit_type_spec.rb
  spec/models/requirement_block_spec.rb
  spec/models/requirement_template_section_spec.rb
Due: stree --write

Add parameterized classification option endpoint
  app/blueprints/permit_classification_option_blueprint.rb
  app/controllers/api/permit_classifications_controller.rb
  app/frontend/components/domains/permit-application/new-permit-application-screen.tsx
  app/frontend/components/domains/requirement-template/new-requirement-tempate-screen.tsx
  app/frontend/components/shared/base/inputs/async-radio-group.tsx
  app/frontend/components/shared/permit-classification/activity-list.tsx
  app/frontend/services/api/index.ts
  app/frontend/stores/permit-classification-store.ts
  app/frontend/types/api-responses.ts
  app/policies/permit_classification_policy.rb
  config/locales/en.yml
  config/routes.rb
  package-lock.json
Due: prettier --write, eslint, stree --write

Add Sonarcloud Properties
  .sonarcloud.properties
Due: none

remove unnecessary item
  app/frontend/components/shared/chefs/styles.scss
Due: none

fix searchkick searchables
  app/models/permit_application.rb
Due: stree --write

fix jurisdiction search concern name
  app/controllers/api/permit_applications_controller.rb
Due: stree --write

[bphh-352] Refactor template builder section headers top be editable
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/builder-header.tsx
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/sections-display.tsx
Due: prettier --write, eslint

[bphh-352] Implement dnd persistence for template builder
  app/controllers/api/requirement_templates_controller.rb
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/sections-display.tsx
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/sections-dnd/index.tsx
  app/frontend/models/requirement-template-section.ts
  app/frontend/models/requirement-template.ts
  app/frontend/types/api-request.ts
Due: prettier --write, eslint, stree --write

[bphh-352] Add sections display side-bar for template builder
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/sections-display.tsx
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/sections-dnd/index.tsx
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/sections-sidebar.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/styles/theme/foundations/shadows.ts
  app/frontend/styles/theme/index.ts
  app/frontend/types/api-request.ts
Due: prettier --write, eslint

[bphh-352] Implement add section functionality for template builder
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/contros-header.tsx
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/index.tsx
Due: prettier --write, eslint

[bphh-352] Implement remove functionality for sections in template builder
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/sections-display.tsx
Due: prettier --write, eslint

[bphh-352] Add empty section helper message for template builder
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

[bphh-352] Implement remove section block functionality for template builder
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/sections-display.tsx
  app/frontend/components/domains/requirements-library/requirement-block-display.tsx
Due: prettier --write, eslint

[bphh-352] Add temporary draft and publish capability for template builder
  app/controllers/api/requirement_templates_controller.rb
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/contros-header.tsx
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/index.tsx
  app/frontend/models/requirement-template.ts
  app/frontend/types/api-request.ts
Due: prettier --write, eslint, stree --write

[bphh-352] Update copy and remove unused button
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/sections-dnd/index.tsx
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/sections-sidebar.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

[bphh-352] Add remove confirmation modal generic comonent and add it to sections remove
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/sections-display.tsx
  app/frontend/components/shared/remove-confirmation-modal.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

[bphh-358] Add edit requirement block modal in template builder with warning
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/sections-display.tsx
  app/frontend/components/domains/requirements-library/requirement-block-display.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

fix form control requires and fieldName defaults
  app/frontend/components/shared/form/email-form-control.tsx
  app/frontend/components/shared/form/password-form-control.tsx
  app/frontend/components/shared/form/username-form-control.tsx
Due: prettier --write, eslint

[bphh-352] Fix typo in file name
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/controls-header.tsx
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/index.tsx
Due: prettier --write, eslint

squashed bphh-394/reviewer-inbox initial work
  app/blueprints/permit_application_blueprint.rb
  app/controllers/api/concerns/search/jurisdiction_permit_applications.rb
  app/controllers/api/jurisdictions_controller.rb
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/domains/jurisdictions/jurisdiction-configuration-screen.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/grid-header.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/jurisdiction.ts
  app/frontend/models/permit-application.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/jurisdiction-store.ts
  app/frontend/stores/permit-application-store.ts
  app/frontend/stores/user-store.ts
  app/frontend/types/api-responses.ts
  app/frontend/types/enums.ts
  app/helpers/users_helper.rb
  app/models/jurisdiction.rb
  app/models/permit_application.rb
  app/policies/jurisdiction_policy.rb
  app/policies/permit_application_policy.rb
  app/policies/user_policy.rb
  config/routes.rb
  db/migrate/20240207194117_add_number_to_permit_applications.rb
  db/migrate/20240208001012_add_submitted_at_to_permit_applications.rb
  db/migrate/20240208011114_add_submission_email_to_jurisdictions.rb
  db/schema.rb
  db/seeds.rb
  spec/factories/requirement_template_sections.rb
  spec/factories/template_section_blocks.rb
  spec/helpers/users_helper_spec.rb
  spec/models/activity_spec.rb
  spec/models/permit_type_spec.rb
  spec/models/requirement_block_spec.rb
  spec/models/requirement_template_section_spec.rb
Due: prettier --write, eslint, stree --write

fix constants, add searchkick
  app/controllers/api/permit_applications_controller.rb
  app/models/permit_application.rb
Due: stree --write

add a number to factory usernames to prevent collisions
  spec/factories/users.rb
Due: stree --write

DRY grid header and fix table label
  app/frontend/components/domains/jurisdictions/grid-header.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/grid-header.tsx
  app/frontend/components/domains/jurisdictions/users/grid-header.tsx
  app/frontend/components/domains/requirement-template/grid-header.tsx
  app/frontend/components/domains/requirements-library/grid-header.tsx
  app/frontend/components/shared/grid/grid-header.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

address PR comments
  app/controllers/api/permit_applications_controller.rb
  app/models/permit_application.rb
Due: stree --write

fix permit appl table heading
  app/frontend/components/domains/jurisdictions/submission-inbox/grid-header.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
