Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

HUB-4086 fix safari menu height
  app/frontend/components/domains/navigation/nav-bar-menu.tsx
Due: prettier --write, eslint

HUB-4088 HUB-4084 fix translations
  app/frontend/components/domains/pre-check/form-section/confirm-submission.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4085 update menu copy
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-3582 Additional PID input field needs to have Automated Compliance for LTSA
  app/frontend/components/domains/requirements-library/requirement-field-edit/computed-compliance-setup-modal/index.tsx
Due: prettier --write, eslint

fix formio and about page styling
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/components/domains/landing/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/requirement-template/sections-display.tsx
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/i18n/i18n.ts
  app/frontend/utils/formio-component-traversal.ts
Due: prettier --write, eslint

escape backslashes in link and filename event data
  app/frontend/utils/formio-component-traversal.ts
  app/frontend/utils/utility-functions.ts
Due: prettier --write, eslint

add improved js escaping for backend template generation
  app/frontend/components/domains/navigation/nav-bar-menu.tsx
  app/models/requirement_block.rb
  app/services/requirement_form_json_service.rb
Due: prettier --write, eslint, stree --write

resource styling and layout touchups
  app/frontend/components/domains/home/review-manager/configuration-management-screen/index.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/resources-screen.tsx
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/components/domains/pre-check/form-section/upload-drawings.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/jurisdiction-requirement-block-edit-sidebar.tsx
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/components/shared/base/file-download-button.tsx
  app/frontend/components/shared/base/resource-item.tsx
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/components/shared/rich-text-tip.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/styles/chakra-overrides.scss
  app/frontend/utils/formio-component-traversal.ts
Due: prettier --write, eslint

first pass using gemini pro
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
Due: prettier --write, eslint

add precheck email subjects
  config/locales/en.yml
Due: none

HUB-4098 fix project creation message
  config/locales/en.yml
Due: none

HUB-4098 add pin icon
  app/frontend/components/domains/permit-project/project-grid-row.tsx
Due: prettier --write, eslint

HUB-4099 fix outdated use of activity description
  app/frontend/components/domains/permit-project/add-permit-application-screen.tsx
  app/frontend/models/permit-classification.ts
Due: prettier --write, eslint

HUB-4101 update copy for P9 permit add
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4102 fix sidebar styles
  app/frontend/components/domains/permit-project/index.tsx
  app/frontend/components/domains/permit-project/permit-project-screen.tsx
  app/frontend/components/domains/permit-project/project-sidebar-tab-list.tsx
  app/frontend/styles/theme/components/tabs.ts
  app/frontend/styles/theme/foundations/colors.ts
  app/frontend/styles/theme/index.ts
Due: prettier --write, eslint

HUB-4103 fix copy sentence casing
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-3891 fix guard against create or submit disabled jurisdiction precheck
  app/frontend/components/domains/permit-project/pre-check-tab-panel-content.tsx
  app/frontend/components/domains/pre-check/form-section/confirm-submission.tsx
  app/frontend/components/domains/pre-check/form-section/project-address.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/code-compliance-setup-screen.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/code-compliance-setup-screen/jurisdiction-enrollment-select.tsx
  app/frontend/components/shared/navigation/router-link-button.tsx
  app/models/pre_check.rb
  spec/models/pre_check_spec.rb
Due: prettier --write, eslint, stree --write

fix confirmation modal pre check nav bar z index
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/pre-check/form-section/confirm-submission.tsx
  app/frontend/components/domains/pre-check/index.tsx
  app/frontend/components/domains/pre-check/pre-check-nav-bar.tsx
  app/frontend/components/domains/pre-check/pre-check-viewer.tsx
  app/frontend/components/shared/confirmation-modal.tsx
  config/locales/en.yml
Due: prettier --write, eslint

fix step code select wiping out unsaved changes
  app/frontend/components/shared/permit-applications/requirement-form.tsx
Due: prettier --write, eslint

create basic functionality for attachment of prechekcs
  app/controllers/api/pre_checks_controller.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/permit-project/pre-checks-select-grid-row.tsx
  app/frontend/components/domains/permit-project/pre-checks-select-grid.tsx
  app/frontend/components/domains/pre-check/index.tsx
  app/frontend/components/shared/permit-applications/pre-check-select-modal.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/hooks/resources/use-pre-check.ts
  app/frontend/models/permit-application.ts
  app/services/requirement_form_json_service.rb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

first pass on giving ability to make custom enabled fields optional
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/jurisdiction-requirement-block-edit-sidebar.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/types.ts
  app/frontend/utils/formio-component-traversal.ts
  app/models/jurisdiction_template_version_customization.rb
Due: prettier --write, eslint, stree --write

add tooltip for disabled precheck
  app/frontend/components/domains/permit-project/pre-check-tab-panel-content.tsx
  app/frontend/components/domains/project-readiness-tools/pre-check-info-screen.tsx
  app/frontend/i18n/i18n.ts
  app/models/user.rb
Due: prettier --write, eslint, stree --write

fix nav bar spacing
  app/frontend/components/domains/navigation/nav-bar.tsx
Due: prettier --write, eslint

remove tip link
  app/frontend/components/shared/chefs/additional-formio/templates/panel.js
  app/frontend/components/shared/chefs/styles.scss
Due: none

submission inbox button to ghost variant
  app/frontend/components/domains/navigation/nav-bar.tsx
Due: prettier --write, eslint

add job and timestamp field for resource reinders
  app/jobs/resource_reminder_job.rb
  app/mailers/permit_hub_mailer.rb
  app/models/resource_document.rb
  app/views/permit_hub_mailer/remind_resource_update.html.erb
  config/locales/en.yml
  config/sidekiq_cron_schedule.yml
  db/migrate/20251125000000_add_last_reminder_sent_at_to_resources.rb
  db/schema.rb
Due: stree --write

fix menu height
  app/frontend/components/domains/navigation/nav-bar-menu.tsx
Due: prettier --write, eslint

improve classification create error message
  app/controllers/api/permit_classifications_controller.rb
  config/locales/en.yml
Due: stree --write

add validation for review staff sandbox permitapps
  app/models/permit_application.rb
  app/models/user.rb
  config/locales/en.yml
Due: stree --write

hide nav bar on step code
  app/frontend/components/domains/navigation/nav-bar.tsx
Due: prettier --write, eslint

Update app/views/permit_hub_mailer/remind_resource_update.html.erb
  app/views/permit_hub_mailer/remind_resource_update.html.erb
Due: none

make documet reminder job run every 6 months
  config/sidekiq_cron_schedule.yml
Due: none

refactor setter for required checkboxes
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/jurisdiction-requirement-block-edit-sidebar.tsx
Due: prettier --write, eslint

fix step code path match for nav bar
  app/frontend/components/domains/navigation/nav-bar.tsx
Due: prettier --write, eslint

add way to edit project address
  app/controllers/api/permit_projects_controller.rb
  app/frontend/components/domains/permit-project/overview-tab-panel-content.tsx
  app/frontend/components/shared/editable-input-with-controls.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/api-request.ts
Due: prettier --write, eslint, stree --write

remove about links
  app/frontend/components/domains/navigation/nav-bar-menu.tsx
  app/frontend/components/shared/base/footer.tsx
Due: prettier --write, eslint

fix projects icon for submitter
  app/frontend/components/domains/navigation/nav-bar.tsx
  config/locales/en.yml
Due: prettier --write, eslint

use site select for project editing
  app/frontend/components/domains/permit-project/overview-tab-panel-content.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/api-request.ts
Due: prettier --write, eslint

loosen inbox enabled validation to a single contact
  app/models/jurisdiction.rb
  app/models/permit_application.rb
Due: stree --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
