Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

HUB-4202 create project audit model
  app/frontend/models/project-audit.ts
Due: prettier --write, eslint

HUB-4202 add project audit sort fields enum
  app/frontend/types/enums.ts
Due: prettier --write, eslint

HUB-4202 add project audit search filters interface
  app/frontend/types/types.ts
Due: prettier --write, eslint

HUB-4202 add fetch project audits method
  app/frontend/services/api/index.ts
Due: prettier --write, eslint

HUB-4202 add project audit store
  app/frontend/stores/project-audit-store.ts
Due: prettier --write, eslint

HUB-4202 add project audit store to root store
  app/frontend/stores/root-store.ts
Due: prettier --write, eslint

HUB-4202 load project activity
  app/frontend/components/domains/permit-project/activity-tab-panel-content.tsx
Due: prettier --write, eslint

remove duplicate iswelcomepath
  app/frontend/components/domains/navigation/nav-bar.tsx
Due: prettier --write, eslint

add frontend-build pr step
  .github/workflows/pull-request.yml
Due: none

commit for ci test
  app/frontend/components/domains/navigation/nav-bar.tsx
Due: prettier --write, eslint

require spec pass on main and stable not develop
  .github/workflows/pull-request.yml
Due: none

add native extension installs to fronetend build check
  .github/workflows/pull-request.yml
Due: none

run specs on pr to main stable and develop
  .github/workflows/pull-request.yml
Due: none

HUB-4717 Project readiness tools: Pre-checks available in production
  app/frontend/components/domains/navigation/nav-bar-menu.tsx
Due: prettier --write, eslint

HUB-4749 RM & RRMs - Configure permits: Copy change
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4756 Wrong nav bar showing in overheating codes tab
  app/frontend/components/domains/navigation/nav-bar.tsx
Due: prettier --write, eslint

HUB-4202 rename timestamp fields to created_at
  app/blueprints/project_audit_blueprint.rb
  app/frontend/models/project-audit.ts
  app/frontend/types/enums.ts
Due: prettier --write, eslint, stree --write

HUB-4202 add activity section translations
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4202 add date filter actions to project audit store
  app/frontend/stores/project-audit-store.ts
Due: prettier --write, eslint

HUB-4202 add audit date range filter
  app/frontend/components/domains/permit-project/audit-date-range-filter.tsx
Due: prettier --write, eslint

HUB-4202 add project audit details component
  app/frontend/components/domains/permit-project/activity-list-item.tsx
Due: prettier --write, eslint

HUB-4202 adjust type definitions to allow date range props
  app/frontend/components/shared/date-picker.tsx
Due: prettier --write, eslint

HUB-4202 add activity tab panel
  app/frontend/components/domains/permit-project/activity-tab-panel-content.tsx
Due: prettier --write, eslint

HUB-4202 integrate activity into permit project screen
  app/frontend/components/domains/permit-project/permit-project-screen.tsx
Due: prettier --write, eslint

HUB-4202 update activities endpoint to use post
  app/frontend/services/api/index.ts
  config/routes.rb
Due: prettier --write, eslint, stree --write

HUB-4202 remove collaborator visibility questions comments
  app/blueprints/permit_application_blueprint.rb
  app/models/permit_application.rb
  app/policies/permit_application_policy.rb
  app/services/permit_application/form_json_service.rb
  app/services/permit_application/submission_data_service.rb
Due: stree --write

HUB-4202 remove stray collaborator visiblity comment
  app/controllers/api/project_audits_controller.rb
Due: stree --write

HUB-4724 Energy step code P9 tool - 'Open or resume tool': Errors on 'Restart'
  app/frontend/components/domains/step-code/part-9/index.tsx
  app/frontend/components/domains/step-code/part-9/restart-confirmation-modal.tsx
  app/frontend/components/shared/select/selectors/sites-select.tsx
  app/frontend/hooks/resources/use-part-3-step-code.ts
  app/frontend/hooks/resources/use-part-9-step-code.ts
  app/frontend/stores/step-code-store.ts
  app/models/permit_application.rb
Due: prettier --write, eslint, stree --write

fix rendering of overheating subnav
  app/frontend/components/domains/navigation/nav-bar.tsx
Due: prettier --write, eslint

remove unused autiable policy code and deny all placeholder
  app/policies/deny_all_policy.rb
  app/policies/project_audit_policy.rb
Due: stree --write

cleanup of points that deal with permit collaborations and considering discards
  app/controllers/api/permit_applications_controller.rb
  app/controllers/api/permit_collaborations_controller.rb
  app/models/collaborator.rb
  app/models/permit_application.rb
  app/models/permit_project.rb
  app/policies/permit_application_policy.rb
  app/services/permit_collaboration/collaboration_management_service.rb
  app/services/promote_user.rb
Due: stree --write

refactor audit presenter into a nested polymorphic instantiation with base class and fallbacks
  app/blueprints/project_audit_blueprint.rb
  app/presenters/project_audit_formatters/base_formatter.rb
  app/presenters/project_audit_formatters/permit_application_formatter.rb
  app/presenters/project_audit_formatters/permit_block_status_formatter.rb
  app/presenters/project_audit_formatters/permit_collaboration_formatter.rb
  app/presenters/project_audit_formatters/permit_project_formatter.rb
  app/presenters/project_audit_presenter.rb
  config/locales/en.yml
Due: stree --write

add specs for audits
  spec/presenters/project_audit_formatters/base_formatter_spec.rb
  spec/presenters/project_audit_formatters/permit_application_formatter_spec.rb
  spec/presenters/project_audit_formatters/permit_block_status_formatter_spec.rb
  spec/presenters/project_audit_formatters/permit_collaboration_formatter_spec.rb
  spec/presenters/project_audit_formatters/permit_project_formatter_spec.rb
  spec/presenters/project_audit_presenter_spec.rb
  spec/support/audit_double_helpers.rb
Due: stree --write

HUB-4655 open add resources in new tab
  app/frontend/components/shared/jurisdiction/jurisdiction-resources-section.tsx
Due: prettier --write, eslint

HUB-4658 Change project number copy
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4381 Super Admin can configure jurisdiction-specific permit availability - bugfix for filtering visible
  app/frontend/components/domains/requirement-template/screens/jurisdiction-digital-permit-screen/index.tsx
  app/frontend/components/domains/requirement-template/template-versions-list.tsx
Due: prettier --write, eslint

HUB-4382 fix availability filtering in sandbox and on other permit lists
  app/controllers/api/permit_classifications_controller.rb
  app/frontend/components/domains/jurisdictions/exports/export-templates-screen.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-api-mappings-setup-index-screen.tsx
Due: prettier --write, eslint, stree --write

HUB-4328 RSpec for background jobs
  spec/jobs/application_job_spec.rb
  spec/jobs/automated_compliance/digital_seal_validator_job_spec.rb
  spec/jobs/check_expiring_api_keys_job_spec.rb
  spec/jobs/debounced_notification_email_job_spec.rb
  spec/jobs/destroy_job_spec.rb
  spec/jobs/model_callback_job_spec.rb
  spec/jobs/notification_push_job_spec.rb
  spec/jobs/pdf_generation_job_spec.rb
  spec/jobs/pdf_renderer_spec.rb
  spec/jobs/permit_webhook_job_spec.rb
  spec/jobs/promote_job_spec.rb
  spec/jobs/remind_reviewer_job_spec.rb
  spec/jobs/resource_reminder_job_spec.rb
  spec/jobs/step_code_report_generation_job_spec.rb
  spec/jobs/user_data_cleanup_job_spec.rb
  spec/jobs/zipfile_job_spec.rb
Due: stree --write
