Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

[bphh-2058] Bugfix reference number save causes permit application form to clear on save
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/models/permit-application.ts
  app/frontend/services/api/index.ts
Due: prettier --write, eslint, stree --write

fix template creation error handling
  app/controllers/api/requirement_templates_controller.rb
  app/services/requirement_template_copy_service.rb
Due: stree --write

[bphh-235] Update external api documentation
  docs/assets/images/api_integration_extended_model.png
  docs/assets/images/api_integration_simplified_model.png
  docs/assets/images/external_api_key_model.png
  docs/proposals/third_party_api_integration_v1.md
Due: none

fix error message test
  spec/controllers/requirement_templates_controller_spec.rb
Due: stree --write

Do not care about CSRF in test / rspec
  spec/rails_helper.rb
Due: stree --write

Fix specs due to csrf
  spec/rails_helper.rb
Due: stree --write

Skip csrf protection in external api controller as it's api only and does not require it
  app/controllers/external_api/application_controller.rb
Due: stree --write

improve navbar and hero on mobile
  app/frontend/components/domains/landing/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
Due: prettier --write, eslint

improve logo
  app/frontend/components/domains/landing/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  public/images/logo-light.svg
  public/images/logo.svg
Due: prettier --write, eslint

fix help link, new pa spacing, and email input validation
  app/frontend/components/domains/permit-application/new-permit-application-screen.tsx
  app/frontend/components/shared/form/email-form-control.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

filter for enabled classification options in query
  app/controllers/api/permit_classifications_controller.rb
Due: stree --write

add sticky elective bar buttons
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/jurisdiction-requirement-block-edit-sidebar.tsx
Due: prettier --write, eslint

add front end filter and sort for electives
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/jurisdiction-requirement-block-edit-sidebar.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

batch and send notifications for integration mappings
  app/controllers/api/concerns/search/requirement_blocks.rb
  app/controllers/api/permit_classifications_controller.rb
  app/frontend/components/domains/requirement-template/screens/edit-jurisdiction-api-mapping-screen/header.tsx
  app/jobs/send_batched_integration_mapping_notifications_job.rb
  app/mailers/permit_hub_mailer.rb
  app/models/external_api_key.rb
  app/models/integration_mapping.rb
  app/models/integration_mapping_notification.rb
  app/models/template_version.rb
  app/models/user.rb
  app/policies/template_version_policy.rb
  app/views/permit_hub_mailer/_notify_integration_mapping.erb
  app/views/permit_hub_mailer/notify_batched_integration_mapping.erb
  app/views/permit_hub_mailer/notify_missing_integration_mapping.html.erb
  app/views/permit_hub_mailer/notify_new_integration_mapping.html.erb
  config/sidekiq_cron_schedule.yml
  db/migrate/20240912190655_create_integration_mapping_notifications.rb
  db/schema.rb
  spec/mailers/previews/permit_hub_mailer_preview.rb
Due: prettier --write, eslint, stree --write

tell webcrawlers not to post to the api endpoint because csrf will stop them anyway
  public/robots.txt
Due: none

initial backend changes for sandbox mode
  app/controllers/api/concerns/search/permit_applications.rb
  app/controllers/api/template_versions_controller.rb
  app/models/jurisdiction.rb
  app/models/jurisdiction_template_version_customization.rb
  app/models/permit_application.rb
  app/models/submission_version.rb
  config/locales/en.yml
  db/migrate/20240917204819_add_sandbox_mode_fields.rb
  db/schema.rb
  spec/factories/jurisdiction_template_version_customizations.rb
  spec/factories/permit_applications.rb
  spec/factories/sub_districts.rb
  spec/models/jurisdiction_template_version_customization_spec.rb
Due: stree --write

initial backend changes for sandbox mode
  app/controllers/api/concerns/search/permit_applications.rb
  app/controllers/api/template_versions_controller.rb
  app/models/jurisdiction.rb
  app/models/jurisdiction_template_version_customization.rb
  app/models/permit_application.rb
  config/locales/en.yml
  db/migrate/20240917204819_add_sandbox_mode_fields.rb
  db/schema.rb
  spec/factories/jurisdiction_template_version_customizations.rb
  spec/factories/permit_applications.rb
  spec/factories/sub_districts.rb
  spec/models/jurisdiction_template_version_customization_spec.rb
  spec/models/permit_application_spec.rb
Due: stree --write

remove default scopes
  app/controllers/api/concerns/search/jurisdiction_permit_applications.rb
  app/controllers/api/template_versions_controller.rb
  app/controllers/external_api/concerns/search/permit_applications.rb
  app/controllers/external_api/v1/permit_applications_controller.rb
  app/models/jurisdiction_template_version_customization.rb
  app/models/permit_application.rb
  app/models/submission_version.rb
  spec/models/jurisdiction_template_version_customization_spec.rb
  spec/models/permit_application_spec.rb
  spec/models/submission_version_spec.rb
Due: stree --write

remove sandbox mode boolean and add sandboxes table
  app/controllers/api/application_controller.rb
  app/controllers/api/concerns/search/permit_applications.rb
  app/controllers/api/permit_classifications_controller.rb
  app/controllers/api/template_versions_controller.rb
  app/controllers/external_api/concerns/search/permit_applications.rb
  app/controllers/external_api/v1/permit_applications_controller.rb
  app/models/jurisdiction.rb
  app/models/jurisdiction_template_version_customization.rb
  app/models/permit_application.rb
  app/models/sandbox.rb
  app/models/submission_version.rb
  config/locales/en.yml
  db/data/20240918210326_create_and_index_default_sandboxes.rb
  db/data_schema.rb
  db/migrate/20240917204819_add_sandbox_mode_fields.rb
  db/migrate/20240918215642_add_sandbox_mode_fields.rb
  db/schema.rb
  spec/concerns/permit_application_search_spec.rb
  spec/factories/jurisdiction_template_version_customizations.rb
  spec/factories/permit_applications.rb
  spec/factories/sandboxes.rb
  spec/factories/sub_districts.rb
  spec/models/jurisdiction_spec.rb
  spec/models/jurisdiction_template_version_customization_spec.rb
  spec/models/permit_application_spec.rb
  spec/models/submission_version_spec.rb
Due: stree --write

add selected sandbox header, more specs/backend/middlend for sandboxes
  app/blueprints/jurisdiction_blueprint.rb
  app/blueprints/sandbox_blueprint.rb
  app/controllers/api/application_controller.rb
  app/controllers/api/jurisdictions_controller.rb
  app/controllers/api/template_versions_controller.rb
  app/frontend/models/jurisdiction.ts
  app/frontend/models/sandbox.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/root-store.ts
  app/frontend/stores/sandbox-store.ts
  app/frontend/stores/session-store.ts
  app/models/jurisdiction.rb
  app/models/jurisdiction_template_version_customization.rb
  app/models/sandbox.rb
  app/policies/jurisdiction_policy.rb
  app/services/customization_copy_service.rb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20240918215642_add_sandbox_mode_fields.rb
  db/schema.rb
  spec/controllers/template_versions_controller_spec.rb
  spec/factories/sandboxes.rb
  spec/models/jurisdiction_spec.rb
  spec/models/jurisdiction_template_version_customization_spec.rb
  spec/models/sandbox_spec.rb
Due: prettier --write, eslint, stree --write

scope block name uniqueness to first_nations
  app/models/permit_application.rb
  app/models/requirement_block.rb
  db/migrate/20240920173324_change_block_name_uniqueness_scope.rb
  db/schema.rb
Due: stree --write

add method to query for submitter submitted report data
  app/models/permit_application.rb
Due: stree --write

add copy block feature
  app/frontend/components/domains/requirements-library/block-setup-options-menu.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/block-setup.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/requirement-block-store.ts
Due: prettier --write, eslint

address PR comments
  app/controllers/external_api/v1/permit_applications_controller.rb
  app/models/sandbox.rb
Due: stree --write

remove sandbox mode boolean and add sandboxes table
  app/controllers/api/application_controller.rb
  app/controllers/api/concerns/search/permit_applications.rb
  app/controllers/api/template_versions_controller.rb
  app/controllers/external_api/concerns/search/permit_applications.rb
  app/controllers/external_api/v1/permit_applications_controller.rb
  app/models/jurisdiction.rb
  app/models/jurisdiction_template_version_customization.rb
  app/models/permit_application.rb
  app/models/sandbox.rb
  app/models/submission_version.rb
  config/locales/en.yml
  db/data/20240918210326_create_and_index_default_sandboxes.rb
  db/data_schema.rb
  db/migrate/20240917204819_add_sandbox_mode_fields.rb
  db/migrate/20240918215642_add_sandbox_mode_fields.rb
  db/schema.rb
  spec/concerns/permit_application_search_spec.rb
  spec/factories/jurisdiction_template_version_customizations.rb
  spec/factories/permit_applications.rb
  spec/factories/sandboxes.rb
  spec/factories/sub_districts.rb
  spec/models/jurisdiction_spec.rb
  spec/models/jurisdiction_template_version_customization_spec.rb
  spec/models/permit_application_spec.rb
  spec/models/submission_version_spec.rb
Due: stree --write

copy and pdf update for front page
  .gitattributes
  app/frontend/components/domains/landing/index.tsx
  app/frontend/i18n/i18n.ts
  erd.pdf
  public/Building Permit Hub Structure_May 16_2024.pdf
  public/pdfs/BPH-Standardized List of Requirements V.2024.09.01 - SEP 2024.pdf
  public/pdfs/Building Permit Hub Structure_May 16_2024.pdf
  spec/support/Signed_invisible.pdf
  spec/support/TEST OF ENGINEERING DIGITAL SEAL RECOGNITION - Sealed.pdf
  spec/support/Test Document Seal - unsigned.pdf
  spec/support/signedFile4parts.pdf
  spec/support/signed_converted.pdf
  spec/support/signed_two_people.pdf
Due: prettier --write, eslint

change landing copy
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Add management for sandbox mode state
  app/blueprints/jurisdiction_blueprint.rb
  app/blueprints/user_blueprint.rb
  app/controllers/api/jurisdictions_controller.rb
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/navigation/sandbox-switch.tsx
  app/frontend/components/domains/permit-application/new-permit-application-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/jurisdiction.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/root-store.ts
  app/frontend/stores/sandbox-store.ts
  app/models/jurisdiction.rb
  app/models/user.rb
Due: prettier --write, eslint, stree --write

add request ID to logs so we can find things easier with Kibana
  config/application.rb
  db/schema.rb
Due: stree --write

render error on missing ltsa attributes
  app/controllers/api/geocoder_controller.rb
  config/locales/en.yml
Due: stree --write

BPHH-1845 wip on scoping sandboxes
  app/controllers/api/application_controller.rb
  app/controllers/api/concerns/search/permit_applications.rb
  app/controllers/api/permit_applications_controller.rb
  app/controllers/api/template_versions_controller.rb
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/navigation/nav-sandbox-select.tsx
  app/frontend/components/domains/navigation/sandbox-switch.tsx
  app/frontend/components/domains/permit-application/new-permit-application-screen.tsx
  app/frontend/components/shared/select/selectors/sandbox-select.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/lib/with-merge.ts
  app/frontend/models/jurisdiction.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/jurisdiction-store.ts
  app/frontend/stores/root-store.ts
  app/frontend/stores/sandbox-store.ts
  app/models/customization.rb
  app/models/jurisdiction.rb
  app/models/requirement_block.rb
  app/models/requirement_template.rb
  app/models/sandbox.rb
  app/models/section.rb
  app/models/template_version.rb
  app/policies/application_policy.rb
  app/policies/template_version_policy.rb
  app/services/customization_copy_service.rb
  app/services/user_context.rb
  db/migrate/20240918215642_add_sandbox_mode_fields.rb
  db/schema.rb
  spec/factories/sandboxes.rb
  spec/factories/sub_districts.rb
  spec/models/jurisdiction_spec.rb
  spec/policies/permit_application_policy_spec.rb
Due: prettier --write, eslint, stree --write

update new permit screen to allow selecting sandbox for admin
  app/controllers/api/geocoder_controller.rb
  app/frontend/components/domains/permit-application/new-permit-application-screen.tsx
  app/frontend/components/shared/select/selectors/sandbox-select.tsx
  app/frontend/models/jurisdiction.ts
  app/frontend/stores/jurisdiction-store.ts
Due: prettier --write, eslint, stree --write

add pa error message specific to invalid AASM state transition
  app/controllers/api/permit_applications_controller.rb
  config/locales/en.yml
Due: stree --write

allow review staff to select template versions from different sandboxes
  app/blueprints/jurisdiction_blueprint.rb
  app/blueprints/sandbox_blueprint.rb
  app/blueprints/user_blueprint.rb
  app/controllers/api/application_controller.rb
  app/controllers/api/geocoder_controller.rb
  app/controllers/api/permit_applications_controller.rb
  app/controllers/api/template_versions_controller.rb
  app/frontend/components/domains/requirement-template/digital-building-permits-list.tsx
  app/frontend/hooks/resources/use-template-versions.ts
  app/frontend/models/sandbox.ts
  app/frontend/stores/permit-application-store.ts
  app/frontend/stores/template-version-store.ts
  app/policies/application_policy.rb
  db/schema.rb
  spec/factories/sub_districts.rb
  spec/policies/permit_application_policy_spec.rb
Due: prettier --write, eslint, stree --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
