Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

HUB-5276 Projects - Overview: Copy change when no applications (permits - applications)
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-5128 RM - Configuration - Resources for applicants: 'Invalid URL' error for actual OCP document
  app/frontend/components/shared/form/input-form-control.tsx
Due: prettier --write, eslint

fix phone number validation
  app/frontend/components/domains/project-meeting/project-meeting-screen/sections/contact-details-section.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/utils/utility-functions.ts
Due: prettier --write, eslint

HUB-4237 Add name and description fields to requirement questions schema
  db/migrate/20260709150000_create_requirement_questions.rb
  db/schema.rb
Due: stree --write

HUB-4237 add searchkick integration, additional validations, and improved search data handling to requirement question model
  app/models/requirement_question.rb
Due: stree --write

HUB-4237 requirement question policies
  app/policies/requirement_question_policy.rb
Due: stree --write

HUB-4237 add association fields and extended view to blueprint
  app/blueprints/requirement_question_blueprint.rb
Due: stree --write

HUB-4237 add localization messages for requirement question creation, update, destruction, and restoration
  config/locales/en.yml
Due: none

HUB-4237 requirement question search concerns
  app/controllers/api/concerns/search/requirement_questions.rb
Due: stree --write

HUB-4237 add requirement question controller
  app/controllers/api/requirement_questions_controller.rb
Due: stree --write

HUB-4237 add routes for requirement questions
  config/routes.rb
Due: stree --write

HUB-4237 add shared trait with name and description fields to factory
  spec/factories/requirement_questions.rb
Due: stree --write

HUB-4237 create specs
  spec/controllers/requirement_questions_controller_spec.rb
  spec/models/requirement_question_spec.rb
Due: stree --write

HUB-4237 requirement question front-end state management
  app/frontend/models/requirement-question.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/requirement-question-store.ts
  app/frontend/stores/root-store.ts
  app/frontend/types/api-request.ts
  app/frontend/types/api-responses.ts
  app/frontend/types/enums.ts
Due: prettier --write, eslint

HUB-4237 add translations question bank management screens
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4237 question bank management screen scaffolding and create screens
  app/frontend/components/domains/home/super-admin-home-screen.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/menu-content/menu-items/question-bank-menu-item.tsx
  app/frontend/components/domains/navigation/menu-content/super-admin-menu-content.tsx
  app/frontend/components/domains/question-bank/grid-header.tsx
  app/frontend/components/domains/question-bank/index.tsx
  app/frontend/components/domains/question-bank/question-bank-modal/field-setup.tsx
  app/frontend/components/domains/question-bank/question-bank-modal/form-setup.tsx
  app/frontend/components/domains/question-bank/question-bank-modal/index.tsx
  app/frontend/components/domains/question-bank/questions-table.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/options-menu.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/field-controls-header.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/requirement-field-row.tsx
  app/frontend/types/enums.ts
Due: prettier --write, eslint

QOL fixes for step code
  app/blueprints/part_3_step_code_blueprint.rb
  app/blueprints/part_9_step_code_blueprint.rb
  app/blueprints/step_code_base_blueprint.rb
  app/blueprints/step_code_blueprint.rb
  app/controllers/api/qa_tools_controller.rb
  app/controllers/concerns/part_3_step_code_checklist_params_concern.rb
  app/frontend/components/domains/navigation/qa-tools-popout.tsx
  app/frontend/components/domains/step-code/form-section/shared/form-footer.tsx
  app/frontend/components/domains/step-code/part-3/form-section/report.tsx
  app/frontend/components/domains/step-code/part-3/form-section/shared/form-footer.tsx
  app/frontend/components/domains/step-code/part-3/sidebar/index.tsx
  app/frontend/components/domains/step-code/part-9/form-section/index.tsx
  app/frontend/components/domains/step-code/part-9/sidebar/index.tsx
  app/frontend/components/domains/step-code/project-information.tsx
  app/frontend/components/domains/step-code/sidebar/project-info-sidebar-link.tsx
  app/frontend/models/part-3-step-code-checklist.ts
  app/frontend/models/part-3-step-code.ts
  app/frontend/models/part-9-step-code-checklist.ts
  app/frontend/models/part-9-step-code.ts
  app/frontend/models/step-code-base.ts
  app/frontend/services/api/index.ts
  app/frontend/utils/can-mark-checklist-complete.ts
  app/frontend/utils/step-code-stage-status.ts
  app/models/concerns/step_code_checklist_stage_completion.rb
  app/models/part_3_step_code/checklist.rb
  app/services/qa/part_3_step_code_autofill_data.rb
  app/services/qa/part_3_step_code_autofill_service.rb
  app/services/qa/part_9_step_code_autofill_data.rb
  app/services/qa/part_9_step_code_autofill_service.rb
  spec/blueprints/step_code_blueprint_spec.rb
  spec/controllers/part_3_building/checklists_controller_spec.rb
  spec/controllers/part_9_building/checklists_controller_spec.rb
  spec/factories/part_3_step_code/checklists.rb
  spec/factories/part_9_step_code/checklists.rb
  spec/models/part_3_step_code/checklist_spec.rb
  spec/models/part_9_step_code/checklist_spec.rb
  spec/requests/api/qa_tools_spec.rb
  spec/services/qa/part_3_step_code_autofill_service_spec.rb
  spec/services/qa/part_9_step_code_autofill_service_spec.rb
Due: prettier --write, eslint, stree --write

merge overheating codes on user promote
  app/models/user.rb
  app/services/promote_user.rb
  spec/services/promote_user_spec.rb
Due: stree --write

HUB-5065 RM/RRM - Submissions: Projects/Applications Columns sorting logic
  app/frontend/models/permit-project-inbox-application-search.ts
  app/frontend/stores/submission-inbox-store.ts
Due: prettier --write, eslint

HUB-4237 tighten question bank create UX and shared-only member API
  app/controllers/api/requirement_questions_controller.rb
  app/frontend/components/domains/question-bank/question-bank-modal/field-setup.tsx
  app/frontend/components/domains/question-bank/question-bank-modal/form-setup.tsx
  app/frontend/components/domains/question-bank/question-bank-modal/index.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/editable-group.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/generic-contact-edit.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/pid-info-edit.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/requirement-field-row.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/api-request.ts
  app/models/requirement_question.rb
  spec/controllers/requirement_questions_controller_spec.rb
Due: prettier --write, eslint, stree --write

HUB-4237 tighten question bank create UX and shared-only member API (#1804)
  app/controllers/api/requirement_questions_controller.rb
  app/frontend/components/domains/question-bank/question-bank-modal/field-setup.tsx
  app/frontend/components/domains/question-bank/question-bank-modal/form-setup.tsx
  app/frontend/components/domains/question-bank/question-bank-modal/index.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/editable-group.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/generic-contact-edit.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/pid-info-edit.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/requirement-field-row.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/api-request.ts
  app/models/requirement_question.rb
  spec/controllers/requirement_questions_controller_spec.rb
Due: prettier --write, eslint, stree --write

HUB-4236 add right border to grid headers
  app/frontend/components/domains/question-bank/grid-header.tsx
Due: prettier --write, eslint

HUB-4236 centre associations
  app/frontend/components/domains/question-bank/questions-table.tsx
Due: prettier --write, eslint

HUB-4236 change table heading to "Question Bank" and add breadcrumb
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

modify hdd config table
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/climate-zones-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

add missing hdd step code copy
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

update asserting on completion status
  spec/models/permit_application_spec.rb
Due: stree --write

move callendar invite button
  app/frontend/components/domains/jurisdictions/submission-inbox/reviewer-meeting-detail-content.tsx
  app/frontend/components/domains/project-meeting/detail/banners/project-meeting-status-banner.tsx
  app/frontend/components/domains/project-meeting/detail/banners/reviewer-scheduled-meeting-banner.tsx
  app/frontend/components/domains/project-meeting/project-meeting-detail-screen.tsx
Due: prettier --write, eslint

remove errant draft filtering on jurisidciton filter
  app/controllers/api/concerns/search/permit_projects.rb
Due: stree --write

HUB-4238 editing and propagation data loading and actions
  app/frontend/models/requirement-question.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/requirement-block-store.ts
Due: prettier --write, eslint

HUB-4238 question bank admin editing translations
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4238 question bank edit question ui
  app/frontend/components/domains/question-bank/question-bank-modal/field-setup.tsx
  app/frontend/components/domains/question-bank/question-bank-modal/index.tsx
  app/frontend/components/domains/question-bank/questions-table.tsx
Due: prettier --write, eslint

HUB-4238 expand row if more requirement blocks exist
  app/frontend/components/domains/question-bank/questions-table.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

navigate to project info edit with edit mode on
  app/frontend/components/domains/permit-project/overview-tab-panel-content.tsx
  app/frontend/components/domains/project-meeting/project-meeting-request-screen.tsx
Due: prettier --write, eslint

fix up some project meeting styling and display
  app/frontend/components/domains/permit-project/meetings-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/project-meeting-grid-row.tsx
  app/frontend/components/domains/project-meeting/project-meeting-request-screen.tsx
  app/frontend/components/domains/project-meeting/project-meeting-screen/sections/review-section.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/styles/chakra-overrides.scss
Due: prettier --write, eslint

fix meeting time display by removing defaulting
  app/frontend/components/domains/permit-project/project-meeting-grid-headers.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/project-meeting.ts
  app/frontend/stores/project-meeting-store.ts
Due: prettier --write, eslint

add file sizes to meeting doc download links
  app/frontend/components/domains/project-meeting/detail/sections/documents-section.tsx
Due: prettier --write, eslint

HUB-4239 add safe archiving and restoration
  app/frontend/components/domains/question-bank/question-bank-modal/form-setup.tsx
  app/frontend/components/domains/question-bank/question-bank-modal/index.tsx
  app/frontend/components/domains/question-bank/question-setup-options-menu.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4239 refresh after archive
  app/frontend/models/requirement-question.ts
  app/models/requirement_question.rb
Due: prettier --write, eslint, stree --write
