Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

pin dompurify to top level version
  package-lock.json
  package.json
Due: none

ignore jwt zeitwork autoload load
  config/application.rb
Due: stree --write

add tooltip and fix query bar sync
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/kanban-board.tsx
  app/models/permit_project.rb
Due: prettier --write, eslint, stree --write

add pdf warning and disable permitapp csv download
  app/frontend/components/domains/overheating-code/form-section/summary.tsx
  app/frontend/components/domains/permit-application/submission-download-modal.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

move pdf out of db template seeds
  app/services/overheating_code_pdf_service.rb
  lib/assets/pdf_templates/BC-SZCG-FormSetFill-Ver1.0a.pdf
Due: stree --write

add formatted days in queue
  app/frontend/components/domains/jurisdictions/submission-inbox/application-inbox-table.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-inbox-table.tsx
  app/frontend/models/permit-application.ts
  app/frontend/models/permit-project.ts
  app/frontend/styles/theme/foundations/colors.ts
Due: prettier --write, eslint

fix package lock
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  package-lock.json
Due: prettier --write, eslint

change status tag styling
  app/frontend/components/shared/permit-applications/permit-application-status-tag.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/styles/theme/foundations/colors.ts
Due: prettier --write, eslint

add column animation and fi layout
  app/frontend/components/domains/jurisdictions/submission-inbox/application-inbox-table.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/application-kanban-board.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/kanban-board.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/kanban-card.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-inbox-table.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-kanban-board.tsx
Due: prettier --write, eslint

fixes and feature enhancements for project inbox
  app/frontend/components/domains/jurisdictions/submission-inbox/application-inbox-table.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/application-kanban-board.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-inbox-table.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-kanban-board.tsx
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/components/domains/users/profile-screen.tsx
  app/frontend/components/shared/permit-projects/project-state-tag.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/stores/notification-store.ts
  app/frontend/stores/submission-inbox-store.ts
  app/frontend/types/enums.ts
  app/mailers/permit_hub_mailer.rb
  app/models/concerns/permit_application_status.rb
  app/models/permit_application.rb
  app/models/submission_version.rb
  app/policies/permit_application_policy.rb
  app/services/constants/notification_action_types.rb
  app/services/notification_service.rb
  app/views/permit_hub_mailer/notify_review_started.html.erb
  config/locales/en.yml
  db/data/20260330224501_set_project_states.rb
  db/data_schema.rb
  spec/mailers/permit_hub_mailer_spec.rb
  spec/services/notification_service_spec.rb
Due: prettier --write, eslint, stree --write

add specs for vendored cookie lib
  spec/lib/devise/jwt/cookie/configuration_spec.rb
  spec/lib/devise/jwt/cookie/cookie_helper_spec.rb
  spec/lib/devise/jwt/cookie/middleware_spec.rb
  spec/lib/devise/jwt/cookie/strategy_spec.rb
  spec/support/jwt_cookie_spec_helpers.rb
Due: stree --write

add override for lodash
  package-lock.json
  package.json
Due: none

override lodash
  package.json
Due: none

remove nil from devise args
  app/mailers/custom_devise_mailer.rb
  config/environments/development.rb
Due: stree --write

update rails to 7.2.3.1
  Gemfile
  Gemfile.lock
Due: none

upgrade devise stack and vendor jwt-cookie dependency
  Gemfile
  Gemfile.lock
  config/application.rb
  lib/devise/jwt/cookie.rb
  lib/devise/jwt/cookie/configuration.rb
  lib/devise/jwt/cookie/cookie_helper.rb
  lib/devise/jwt/cookie/middleware.rb
  lib/devise/jwt/cookie/models/jwt_cookie_authenticatable.rb
  lib/devise/jwt/cookie/railtie.rb
  lib/devise/jwt/cookie/strategy.rb
Due: stree --write

remove unecessary eager loads
  config/application.rb
Due: stree --write

HUB-4771 add jurisdiction resources grid section component
  app/frontend/components/shared/jurisdiction/jurisdiction-resources-grid-section.tsx
Due: prettier --write, eslint

HUB-4771 update resource section titles and descriptions
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4771 add gold color to theme foundations
  app/frontend/styles/theme/foundations/colors.ts
Due: prettier --write, eslint

HUB-4771 replace jurisdiction resources section with grid section component
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
Due: prettier --write, eslint

HUB-4771 adjust padding for jurisdiction about accordion item for responsive design
  app/frontend/components/domains/jurisdictions/jurisdiction-about-accordion-item.tsx
Due: prettier --write, eslint

HUB-4771 add dashed border to editable jursidction fields
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
Due: prettier --write, eslint

update package lock
  package-lock.json
Due: none

fix gemfile lock
  Gemfile.lock
Due: none

fix devise mailer spec
  spec/mailers/custom_devise_mailer_spec.rb
Due: stree --write

HUB-4749 RM & RRMs - Configure permits: Copy change
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4814 Admin - User config - Unable to add RRM to a jurisdiction email taken
  app/services/jurisdiction/user_inviter.rb
  spec/services/jurisdiction/user_inviter_spec.rb
Due: stree --write

dry up search grid rows
  app/frontend/components/domains/permit-project/overheating-code-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/permit-application-grid-row.tsx
  app/frontend/components/domains/permit-project/pre-check-grid-row.tsx
  app/frontend/components/domains/permit-project/project-grid-row.tsx
  app/frontend/components/domains/permit-project/step-codes-grid-row.tsx
  app/frontend/components/domains/permit-project/step-codes-select-grid-row.tsx
  app/frontend/components/shared/grid/search-grid-row.tsx
  db/seeds.rb
Due: prettier --write, eslint, stree --write

HUB-4829 Overheating codes tool - Make whole row clickable in list view
  app/frontend/components/domains/permit-project/overheating-code-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/permit-application-grid-row.tsx
  app/frontend/components/domains/permit-project/pre-check-grid-row.tsx
  app/frontend/components/domains/permit-project/project-grid-row.tsx
  app/frontend/components/domains/permit-project/step-codes-grid-row.tsx
  app/frontend/components/domains/permit-project/step-codes-select-grid-row.tsx
  app/frontend/components/shared/grid/search-grid-row.tsx
  db/seeds.rb
Due: prettier --write, eslint, stree --write

use searchgriditems
  app/frontend/components/domains/permit-project/overheating-code-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/permit-application-grid-row.tsx
  app/frontend/components/domains/permit-project/pre-check-grid-row.tsx
  app/frontend/components/domains/permit-project/project-grid-row.tsx
  app/frontend/components/domains/permit-project/step-codes-grid-row.tsx
  app/frontend/components/domains/permit-project/step-codes-select-grid-row.tsx
  app/frontend/components/shared/grid/search-grid-item.tsx
Due: prettier --write, eslint

HUB-4771 apply editable layout pattern
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
Due: prettier --write, eslint

add comment for test
  db/seeds.rb
Due: stree --write

remove dev branch match enforce
  .github/workflows/dev.yml
Due: none

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
