Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

Refactor omniauth_uid and omniauth_username to use case statements explicitly
  app/services/omniauth_user_resolver.rb
Due: stree --write

show better eula error message
  app/frontend/components/shared/user-eulas.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/notification-store.ts
Due: prettier --write, eslint

automatically detect SHA and add that to the VITE_RELEASE_VERSION ENV var for dev and test
  .github/workflows/dev.yml
  .github/workflows/test.yml
Due: none

Use slice instead
  .github/workflows/dev.yml
  .github/workflows/test.yml
Due: none

use full SHA
  .github/workflows/dev.yml
  .github/workflows/test.yml
Due: none

minor changes to nav styling for the SHA, etc.
  app/frontend/components/domains/navigation/nav-bar.tsx
Due: prettier --write, eslint

show single column grid for login on mobile
  app/frontend/components/domains/authentication/login-screen.tsx
Due: prettier --write, eslint

bump vite to latest
  package-lock.json
  package.json
Due: none

update rollup and peer deps
  Gemfile.lock
  package-lock.json
  package.json
Due: none

update rubocop,yml
  .rubocop.yml
Due: none

update rails and thus actionpack to 7.1.5.1
  Gemfile
  Gemfile.lock
Due: none

initial report component pieces
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/baseline-occupancies/index.tsx
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/baseline-performance/index.tsx
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/district-energy/index.tsx
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/fuel-types/index.tsx
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/index.tsx
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/project-info/index.tsx
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/step-code-occupancies/index.tsx
Due: prettier --write, eslint

BPHH-2477 Add migration for document types for document_reference model
  app/models/part_3_step_code/document_reference.rb
  db/migrate/20241213005200_add_document_type_to_document_references.rb
  db/migrate/20241213005816_remove_name_from_document_references.rb
  db/schema.rb
Due: stree --write

BPHH-2477 Add document reference blueprint, api attributes and validations
  app/blueprints/step_code/part_3/document_reference_blueprint.rb
  app/controllers/api/part_3_building/checklists_controller.rb
  app/models/part_3_step_code/checklist.rb
  app/models/part_3_step_code/document_reference.rb
Due: stree --write

BPHH-2477 Add document references initial screen with document type accordion rendering
  app/frontend/components/domains/step-code/part-3/form-section/document-references.tsx
  app/frontend/components/domains/step-code/part-3/form-section/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
Due: prettier --write, eslint

BPHH-2477 Add other document reference form fields component
  app/frontend/components/domains/step-code/part-3/form-section/document-references.tsx
Due: prettier --write, eslint

BPHH-2477 Add persistance api call for document references
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/blueprints/step_code/part_3/document_reference_blueprint.rb
  app/frontend/components/domains/step-code/part-3/form-section/document-references.tsx
  app/frontend/components/shared/form/form-helpers.ts
  app/models/part_3_step_code/checklist.rb
  app/models/part_3_step_code/document_reference.rb
Due: prettier --write, eslint, stree --write

BPHH-2480 Implement stepcode checklist results contact page
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/controllers/api/part_3_building/checklists_controller.rb
  app/frontend/components/domains/step-code/part-3/form-section/contact.tsx
  app/frontend/components/domains/step-code/part-3/form-section/index.tsx
  app/frontend/i18n/i18n.ts
  app/models/part_3_step_code/checklist.rb
Due: prettier --write, eslint, stree --write

BPHH-2623 remove disabled logic and clear button logic for modelled outputs annual energy
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/modelled-energy-outputs-grid.tsx
Due: prettier --write, eslint

Add project details page
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/frontend/components/domains/step-code/nav-bar/index.tsx
  app/frontend/components/domains/step-code/nav-bar/part-3-nav-links.tsx
  app/frontend/components/domains/step-code/part-3/form-section/energy-setup.tsx
  app/frontend/components/domains/step-code/part-3/form-section/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/location-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/project-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/start-page.tsx
  app/frontend/components/domains/step-code/part-3/index.tsx
  app/frontend/components/domains/step-code/part-3/sidebar/index.tsx
  app/frontend/components/domains/step-code/part-3/sidebar/nav-sections.ts
  app/frontend/components/domains/step-code/part-3/sidebar/section-header.tsx
  app/frontend/components/domains/step-code/part-3/sidebar/section-link.tsx
  app/frontend/hooks/resources/use-part-3-step-code.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-3-step-code-checklist.ts
  app/frontend/models/part-3-step-code.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/step-code-store.ts
  app/frontend/styles/theme/components/input.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/concerns/permit_application_status.rb
  app/models/part_3_step_code/checklist.rb
  app/models/step_code.rb
  app/services/constants/part_3_step_code.rb
  db/migrate/20241203165751_add_newly_submitted_at_to_permit_applications.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

Add base layout and navigation structure
  app/blueprints/step_code_blueprint.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/step-code/index.tsx
  app/frontend/components/domains/step-code/nav-bar/index.tsx
  app/frontend/components/domains/step-code/nav-bar/part-3-nav-links.tsx
  app/frontend/components/domains/step-code/nav-bar/part-9-nav-links.tsx
  app/frontend/components/domains/step-code/part_3/form-section/baseline-occupancies.tsx
  app/frontend/components/domains/step-code/part_3/form-section/baseline-occupancy.tsx
  app/frontend/components/domains/step-code/part_3/form-section/district-energy.tsx
  app/frontend/components/domains/step-code/part_3/form-section/energy-setup.tsx
  app/frontend/components/domains/step-code/part_3/form-section/fuel-types.tsx
  app/frontend/components/domains/step-code/part_3/form-section/index.tsx
  app/frontend/components/domains/step-code/part_3/form-section/project-details.tsx
  app/frontend/components/domains/step-code/part_3/form-section/start-page.tsx
  app/frontend/components/domains/step-code/part_3/index.tsx
  app/frontend/components/domains/step-code/part_3/sidebar/index.tsx
  app/frontend/components/domains/step-code/part_3/sidebar/section-header.tsx
  app/frontend/components/domains/step-code/part_3/sidebar/section-link.tsx
  app/frontend/components/domains/step-code/part_3/sidebar/sub-link.tsx
  app/frontend/components/shared/floating-help-drawer.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint, stree --write

Add overheating requirements section
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/controllers/api/part_3_building/checklists_controller.rb
  app/frontend/components/domains/step-code/part-3/form-section/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/overheating-requirements.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-3-step-code-checklist.ts
  app/services/constants/part_3_step_code.rb
Due: prettier --write, eslint, stree --write

BPHH-2474 Add migration for use_type enum field on energy_outputs. Change name field to be nullable and add presence validation
  app/models/part_3_step_code/energy_output.rb
  db/migrate/20241209182000_add_use_type_to_energy_outputs.rb
  db/migrate/20241209182856_allow_null_name_in_energy_outputs.rb
  db/schema.rb
Due: stree --write

Add step code occupancies configuration sections
  app/blueprints/part_3_step_code_blueprint.rb
  app/blueprints/part_9_step_code_blueprint.rb
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/blueprints/step_code/part_3/step_code_occupancy_blueprint.rb
  app/controllers/api/part_3_building/checklists_controller.rb
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/energy-step-editable-block/energy-step-select.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/energy-step-editable-block/index.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/energy-step-editable-block/zero-carbon-step-select.tsx
  app/frontend/components/domains/step-code/part-3/form-section/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/step-code-occupancies/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/step-code-occupancies/performance-requirements.tsx
  app/frontend/components/domains/step-code/part-9/checklist/compliance-summary/energy-steps.tsx
  app/frontend/components/domains/step-code/part-9/checklist/compliance-summary/zero-carbon-steps.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-3-step-code.ts
  app/frontend/models/part-9-step-code.ts
  app/frontend/stores/step-code-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/part_3_step_code/checklist.rb
Due: prettier --write, eslint, stree --write

Add baseline occupancies sections & show errors
  app/blueprints/step_code/part_3/baseline_occupancy_blueprint.rb
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/controllers/api/part_3_building/checklists_controller.rb
  app/frontend/components/domains/step-code/part-3/form-section/baseline-occupancies.tsx
  app/frontend/components/domains/step-code/part-3/form-section/baseline-occupancies/baseline-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/baseline-occupancies/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/baseline-occupancies/occupancy-panel.tsx
  app/frontend/components/domains/step-code/part-3/form-section/baseline-occupancy.tsx
  app/frontend/components/domains/step-code/part-3/form-section/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/location-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/project-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/shared/section-heading.tsx
  app/frontend/components/domains/step-code/part-3/form-section/start-page.tsx
  app/frontend/components/domains/step-code/part-3/index.tsx
  app/frontend/components/domains/step-code/part-3/sidebar/index.tsx
  app/frontend/components/domains/step-code/part-3/sidebar/nav-sections.ts
  app/frontend/components/shared/base/custom-message-box.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-3-step-code-checklist.ts
  app/frontend/styles/theme/components/radio.ts
  app/frontend/styles/theme/index.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/part_3_step_code/checklist.rb
  app/models/part_3_step_code/occupancy_classification.rb
  db/migrate/20241206005741_add_unique_index_to_occupancy_classifications.rb
  db/schema.rb
  package-lock.json
  package.json
Due: prettier --write, eslint, stree --write

Add screens for setting fuel types
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/frontend/components/domains/step-code/part-3/form-section/baseline-occupancies/baseline-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/district-energy.tsx
  app/frontend/components/domains/step-code/part-3/form-section/fuel-types.tsx
  app/frontend/components/domains/step-code/part-3/form-section/fuel-types/additional-fuel-types.tsx
  app/frontend/components/domains/step-code/part-3/form-section/fuel-types/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/location-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/project-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/start-page.tsx
  app/frontend/components/domains/step-code/part-3/sidebar/nav-sections.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-3-step-code-checklist.ts
  app/models/part_3_step_code/checklist.rb
  app/models/part_3_step_code/fuel_type.rb
  db/data/20241209190727_seed_default_fuel_types.rb
  db/data_schema.rb
Due: prettier --write, eslint, stree --write

BPHH-2474 Add modelled out put form section with basic grid scaffold
  app/frontend/components/domains/step-code/part-3/form-section/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/modelled-energy-outputs-grid.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

BPHH 2474 Add uniqueness validations for energy_output uset type and name. Also adds relevant specs
  app/models/part_3_step_code/energy_output.rb
  spec/factories/part_3_step_code/energy_outputs.rb
  spec/factories/part_3_step_code/fuel_types.rb
  spec/models/part_3_step_code/energy_output_spec.rb
Due: stree --write

Add district energy section & update backend model
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/blueprints/step_code/part_3/fuel_type_blueprint.rb
  app/controllers/api/part_3_building/checklists_controller.rb
  app/frontend/components/domains/step-code/part-3/form-section/baseline-occupancies/baseline-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/baseline-occupancies/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/district-energy.tsx
  app/frontend/components/domains/step-code/part-3/form-section/location-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/project-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/start-page.tsx
  app/frontend/components/domains/step-code/part-3/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-3-step-code-checklist.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/part_3_step_code/checklist.rb
  app/models/part_3_step_code/fuel_type.rb
  db/migrate/20241207001055_rename_fuel_type_name_to_key.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

Add renewable energy section
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/controllers/api/part_3_building/checklists_controller.rb
  app/frontend/components/domains/step-code/part-3/form-section/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/renewable-energy.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-3-step-code-checklist.ts
Due: prettier --write, eslint, stree --write

Add support for building and location details page
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/controllers/api/part_3_building/checklists_controller.rb
  app/frontend/components/domains/step-code/part-3/form-section/location-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/project-details.tsx
  app/frontend/components/domains/step-code/part-3/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-3-step-code-checklist.ts
  app/models/part_3_step_code/checklist.rb
  app/models/permit_application.rb
  app/models/step_code.rb
  app/services/step_code/part_3/v0/requirements/references/climate_zone.rb
  app/services/step_code/part_3/v0/seeders/jurisdiction_hdd.rb
  config/initializers/inflections.rb
  db/data/20241204220552_seed_jursidictions_hdd.rb
  db/data_schema.rb
  db/migrate/20241030222657_create_part_3_step_code_tables.rb
  db/migrate/20241204184650_add_heating_degree_days_to_jurisdictions.rb
  db/schema.rb
  db/templates/jurisdiction_hdd_references.xlsx
Due: prettier --write, eslint, stree --write

Add baseline performance UI
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/blueprints/step_code/part_3/energy_output_blueprint.rb
  app/controllers/api/part_3_building/checklists_controller.rb
  app/frontend/components/domains/step-code/part-3/form-section/baseline-performance.tsx
  app/frontend/components/domains/step-code/part-3/form-section/fuel-types/additional-fuel-types.tsx
  app/frontend/components/domains/step-code/part-3/form-section/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-3-step-code-checklist.ts
  app/frontend/types/types.ts
  app/models/part_3_step_code/checklist.rb
Due: prettier --write, eslint, stree --write

BPHH-2474 Add ca;lculation of total annual energy and emissions. Add locale number formatting for input
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/modelled-energy-outputs-grid.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-3-step-code-checklist.ts
Due: prettier --write, eslint

BPHH-2474 Fix rebase issues
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/blueprints/step_code/part_3/energy_output_blueprint.rb
  app/controllers/api/part_3_building/checklists_controller.rb
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/index.tsx
Due: prettier --write, eslint, stree --write

BPHH-2474 Add annual energy and step code grid for modelled energy output
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/controllers/api/part_3_building/checklists_controller.rb
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/annual-energy-whole-building-grid.tsx
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/modelled-energy-outputs-grid.tsx
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/step-code-building-portions-grid.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/utils/utility-functions.ts
Due: prettier --write, eslint, stree --write

BPHH-2747 Add persistence for modelled output and fixm clearable select
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/modelled-energy-outputs-grid.tsx
  app/frontend/components/shared/select/selectors/fuel-type-select.tsx
  app/frontend/types/types.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
