Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

[bphh-1514] Add WIP integration mapping table
  app/frontend/components/domains/requirement-template/screens/edit-jurisdiction-api-mapping-screen/grid-accordion.tsx
  app/frontend/components/domains/requirement-template/screens/edit-jurisdiction-api-mapping-screen/grid-headers.tsx
  app/frontend/components/domains/requirement-template/screens/edit-jurisdiction-api-mapping-screen/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/types.ts
Due: prettier --write, eslint

[bphh-1514] Fix editable with highlighted text for local mapping
  app/frontend/components/domains/requirement-template/screens/edit-jurisdiction-api-mapping-screen/grid-accordion.tsx
  app/frontend/components/shared/editable-input-with-controls.tsx
Due: prettier --write, eslint

[bphh-1514] implement editable local system mapping for api mappings table
  app/blueprints/integration_mapping_blueprint.rb
  app/frontend/components/domains/requirement-template/screens/edit-jurisdiction-api-mapping-screen/grid-accordion.tsx
  app/frontend/components/domains/requirement-template/screens/edit-jurisdiction-api-mapping-screen/index.tsx
  app/frontend/components/shared/editable-input-with-controls.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/integration-mapping.ts
  app/frontend/models/requirement-block-mapping.ts
  app/frontend/types/types.ts
  app/frontend/utils/utility-functions.ts
Due: prettier --write, eslint, stree --write

[bphh-1514] Add unmapped filter for integration mapping table
  app/frontend/components/domains/external-api-key/grid-header.tsx
  app/frontend/components/domains/requirement-template/screens/edit-jurisdiction-api-mapping-screen/grid-headers.tsx
  app/frontend/components/shared/form-switch.tsx
  app/frontend/components/shared/highlighted-text.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/integration-mapping.ts
  app/frontend/models/requirement-block-mapping.ts
Due: prettier --write, eslint

[bphh-1514] Add dummy inputs for file types and energy step code types
  app/frontend/components/domains/requirements-library/requirement-field-display/index.tsx
Due: prettier --write, eslint

[bphh-1514] Add FE search for requirements mapping
  app/frontend/components/domains/jurisdictions/grid-header.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/grid-header.tsx
  app/frontend/components/domains/jurisdictions/users/grid-header.tsx
  app/frontend/components/domains/permit-application/index.tsx
  app/frontend/components/domains/requirement-template/grid-header.tsx
  app/frontend/components/domains/requirement-template/screens/edit-jurisdiction-api-mapping-screen/grid-accordion.tsx
  app/frontend/components/domains/requirement-template/screens/edit-jurisdiction-api-mapping-screen/grid-headers.tsx
  app/frontend/components/domains/requirement-template/screens/edit-jurisdiction-api-mapping-screen/header.tsx
  app/frontend/components/domains/requirement-template/screens/edit-jurisdiction-api-mapping-screen/index.tsx
  app/frontend/components/domains/requirements-library/grid-header.tsx
  app/frontend/components/shared/base/model-search-input.tsx
  app/frontend/components/shared/base/search-input.tsx
  app/frontend/models/integration-mapping.ts
  app/frontend/models/requirement-block-mapping.ts
  app/frontend/types/types.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

[bphh-1514] improve search ordering for integration mapping table
  app/frontend/models/integration-mapping.ts
  app/frontend/models/requirement-block-mapping.ts
Due: prettier --write, eslint

[bphh-1516] Remove max width from integration mapping edit screen and added padding
  app/frontend/components/domains/requirement-template/screens/edit-jurisdiction-api-mapping-screen/index.tsx
Due: prettier --write, eslint

[bphh-1514] Add local field mapping info
  app/frontend/components/domains/requirement-template/screens/edit-jurisdiction-api-mapping-screen/grid-headers.tsx
  app/frontend/components/shared/icon-link.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

[bphh-1514] Add floating buttons to collapse mapping table accordions and change placement of filter
  app/frontend/components/domains/requirement-template/screens/edit-jurisdiction-api-mapping-screen/floating-buttons.tsx
  app/frontend/components/domains/requirement-template/screens/edit-jurisdiction-api-mapping-screen/grid-accordion.tsx
  app/frontend/components/domains/requirement-template/screens/edit-jurisdiction-api-mapping-screen/grid-headers.tsx
  app/frontend/components/domains/requirement-template/screens/edit-jurisdiction-api-mapping-screen/index.tsx
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/models/integration-mapping.ts
Due: prettier --write, eslint

[bphh-1516] Add version information to the external permit api and name to submitter payload
  app/blueprints/permit_application_blueprint.rb
  app/blueprints/template_version_blueprint.rb
  app/blueprints/user_blueprint.rb
  spec/swagger_helper.rb
  swagger/external_api/v1/swagger.yaml
Due: stree --write

[bphh-1516] Add external api for integration mapping and add documentation
  app/blueprints/integration_mapping_blueprint.rb
  app/blueprints/permit_application_blueprint.rb
  app/controllers/api/integration_mappings_controller.rb
  app/controllers/api/template_versions_controller.rb
  app/controllers/external_api/v1/permit_applications_controller.rb
  app/policies/external_api/permit_application_policy.rb
  config/routes.rb
  spec/requests/external_api/v1/permit_applications_spec.rb
  spec/swagger_helper.rb
  swagger/external_api/v1/swagger.yaml
Due: stree --write

[bphh-1516] Update copy and rename submitter to account_holder
  app/blueprints/permit_application_blueprint.rb
  spec/requests/external_api/v1/permit_applications_spec.rb
  spec/swagger_helper.rb
  swagger/external_api/v1/swagger.yaml
Due: stree --write

[bphh-1516] Fix path params for swagger doc
  spec/requests/external_api/v1/permit_applications_spec.rb
  swagger/external_api/v1/swagger.yaml
Due: stree --write

[bphh-1514] Remove errant console log, unused forward ref and add missing translation for hard coded copy text
  app/frontend/components/domains/requirement-template/screens/edit-jurisdiction-api-mapping-screen/grid-accordion.tsx
  app/frontend/components/shared/editable-input-with-controls.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement-block-mapping.ts
Due: prettier --write, eslint

Add specs for the UserInviter service
  config/environments/test.rb
  spec/factories/users.rb
  spec/services/jurisdiction/user_inviter_spec.rb
  spec/spec_helper.rb
  spec/support/shared_examples/jurisdiction_user_inviter.rb
Due: stree --write

Remove nickname from users table
  app/blueprints/user_blueprint.rb
  app/controllers/api/invitations_controller.rb
  app/controllers/api/users_controller.rb
  app/frontend/components/domains/users/profile-screen.tsx
  app/frontend/components/shared/form/nickname-form-control.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/user.ts
  app/models/user.rb
  db/migrate/20240614002722_remove_nickname.rb
  db/schema.rb
  db/seeds.rb
  lib/tasks/sensitive_seeder.rake
  spec/factories/users.rb
Due: prettier --write, eslint, stree --write

Fix issues (re)inviting users
  app/services/jurisdiction/user_inviter.rb
  db/schema.rb
Due: stree --write

we should not allow reviewers to invite others
  app/models/user.rb
  spec/models/user_spec.rb
Due: stree --write

Fix broken specs
  app/models/requirement.rb
  spec/factories/requirement_templates.rb
  spec/services/automated_compliance/parcel_info_extractor_spec.rb
Due: stree --write

lock versions
  Gemfile
  Gemfile.lock
Due: none

Run RSpec suite on PR to main
  .github/workflows/pull-request.yml
Due: none

Increase ulimit in Dockerfile to avoid compilation errors with vite
  devops/docker/app/Dockerfile
Due: none

Change it in entrypoint.sh instead
  devops/docker/app/Dockerfile
  devops/docker/app/entrypoint.sh
Due: none

fix typo in reminder email template
  app/views/permit_hub_mailer/remind_reviewer.html.erb
Due: none

Add dependencies for proj
  devops/docker/app/Dockerfile
Due: none

update github workflow for test
  .github/workflows/pull-request.yml
Due: none

Add libgeos-dev
  .github/workflows/pull-request.yml
  devops/docker/app/Dockerfile
Due: none

allow pid to lookup itself
  app/controllers/api/geocoder_controller.rb
  app/frontend/components/domains/permit-application/new-permit-application-screen.tsx
  app/frontend/services/api/index.ts
  app/frontend/stores/geocoder-store.ts
  app/policies/geocoder_policy.rb
  config/routes.rb
Due: prettier --write, eslint, stree --write

seedign issues
  db/data/20240617164456_update_template_version_permit_types.rb
  db/migrate/20240612173154_change_permit_type_names.rb
Due: stree --write

[bphh-1682] hotfix to regenerate missing pdfs on user view and push websocket update
  app/blueprints/permit_application_blueprint.rb
  app/channels/user_channel.rb
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/domains/permit-application/submission-download-modal.tsx
  app/frontend/components/shared/loading-icon.tsx
  app/frontend/models/permit-application.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/permit-application-store.ts
  app/frontend/types/dom.d.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/jobs/automated_compliance/autopopulate_job.rb
  app/jobs/automated_compliance/digital_seal_validator_job.rb
  app/jobs/pdf_generation_job.rb
  app/models/permit_application.rb
  app/models/supporting_document.rb
  app/policies/permit_application_policy.rb
  app/services/constants/channels.rb
  app/services/constants/websockets.rb
  app/services/websocket_broadcaster.rb
  config/initializers/sidekiq.rb
  config/routes.rb
Due: prettier --write, eslint, stree --write

[bphh-1682] Refactor to also generate missing zip files
  app/blueprints/permit_application_blueprint.rb
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/domains/permit-application/submission-download-modal.tsx
  app/frontend/models/permit-application.ts
  app/frontend/types/types.ts
  app/jobs/pdf_generation_job.rb
  app/jobs/zipfile_job.rb
  config/initializers/sidekiq.rb
Due: prettier --write, eslint, stree --write

[bphh-1682] Update copy
  app/frontend/components/domains/permit-application/submission-download-modal.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

[bphh-1682] Add missing copy
  app/frontend/components/domains/permit-application/submission-download-modal.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

add latest published template version id and fix go to latest button
  app/blueprints/template_version_blueprint.rb
  app/frontend/stores/notification-store.ts
  app/services/template_versioning_service.rb
Due: prettier --write, eslint, stree --write

[bphh-1682] Fix bug with permit application not submitting
  app/frontend/services/api/index.ts
  app/frontend/stores/permit-application-store.ts
Due: prettier --write, eslint

[bphh-1682] Add better permissioning for generate_missing_pdfs endpoint
  app/policies/permit_application_policy.rb
Due: stree --write

add hook for query param based flash and use in notification href
  app/frontend/components/domains/permit-application/index.tsx
  app/frontend/hooks/use-flash-query-param.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/jurisdiction-store.ts
  app/frontend/stores/notification-store.ts
  app/frontend/stores/ui-store.ts
  app/frontend/utils/utility-functions.ts
Due: prettier --write, eslint
