Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

consider only kept permit applicaitons in a few key places
  app/controllers/api/concerns/search/permit_applications.rb
  app/controllers/api/concerns/search/project_permit_applications.rb
  app/controllers/external_api/concerns/search/permit_applications.rb
  app/models/jurisdiction.rb
  app/models/permit_project.rb
  app/policies/permit_application_policy.rb
  app/services/notification_service.rb
Due: stree --write

use User type for empty user and archive orphaned records
  app/models/concerns/public_recordable.rb
  app/models/permit_project.rb
  spec/jobs/user_data_cleanup_job_spec.rb
  spec/models/concerns/public_recordable_spec.rb
Due: stree --write

distinguish retained public records in user cleanup job, add orphan cleanup and specs
  app/jobs/orphan_cleanup_job.rb
  app/jobs/user_data_cleanup_job.rb
  app/lib/env_helper.rb
  app/models/concerns/public_recordable.rb
  app/models/permit_application.rb
  app/models/permit_project.rb
  app/models/pre_check.rb
  app/models/revision_request.rb
  app/models/step_code.rb
  app/models/user.rb
  app/models/user_license_agreement.rb
  config/locales/en.yml
  config/sidekiq_cron_schedule.yml
  db/migrate/20260126200000_add_snapshot_columns_to_public_records.rb
  db/schema.rb
  spec/factories/users.rb
  spec/jobs/orphan_cleanup_job_spec.rb
  spec/jobs/user_data_cleanup_job_spec.rb
  spec/models/concerns/public_recordable_spec.rb
  spec/models/permit_application_spec.rb
  spec/models/pre_check_spec.rb
Due: stree --write

resync correct schema for retention brnahc
  db/schema.rb
Due: stree --write

HUB-3999 add jurisdiction map with boundry points
  .env_example
  app/blueprints/jurisdiction_blueprint.rb
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/components/shared/module-wrappers/jurisdiction-map.tsx
  app/frontend/components/shared/step-code-requirements-table.tsx
  db/data/20251209225216_reverse_map_center_coordinates.rb
  db/data_schema.rb
  db/migrate/20251209225133_add_boundry_points_to_jurisdictions.rb
  db/seeds.rb
  package-lock.json
  package.json
Due: prettier --write, eslint, stree --write

HUB-4000 add project map
  app/blueprints/permit_project_blueprint.rb
  app/frontend/components/domains/permit-project/overview-tab-panel-content.tsx
  app/frontend/components/shared/module-wrappers/jurisdiction-map.tsx
  app/frontend/components/shared/module-wrappers/project-map.tsx
  app/frontend/models/permit-project.ts
  app/models/concerns/project_item.rb
  app/models/permit_project.rb
  app/models/pre_check.rb
  db/migrate/20251209235013_add_coordinates_to_permit_projects.rb
Due: prettier --write, eslint, stree --write

create basic functionality for attachment of prechekcs
  app/controllers/api/pre_checks_controller.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/permit-project/pre-checks-select-grid-row.tsx
  app/frontend/components/domains/permit-project/pre-checks-select-grid.tsx
  app/frontend/components/domains/pre-check/index.tsx
  app/frontend/components/shared/permit-applications/pre-check-select-modal.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/hooks/resources/use-pre-check.ts
  app/frontend/models/permit-application.ts
  app/services/requirement_form_json_service.rb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

fix handling permit app attached prechecks and enable simulated submit
  app/controllers/api/pre_checks_controller.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/pre-check/form-section/project-address.tsx
  app/frontend/components/domains/pre-check/form-section/results-summary.tsx
  app/frontend/components/domains/pre-check/index.tsx
  app/frontend/components/shared/select/selectors/sites-select.tsx
  app/models/pre_check.rb
Due: prettier --write, eslint, stree --write

fix spelling of boundary
  app/blueprints/jurisdiction_blueprint.rb
  app/frontend/components/domains/home/review-manager/configuration-management-screen/index.tsx
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/models/jurisdiction.ts
  db/migrate/20251209225133_add_boundary_points_to_jurisdictions.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

address sonarcloud suggestions.
  app/frontend/components/domains/requirement-template/template-versions-sidebar.tsx
  app/frontend/components/shared/jurisdiction/jurisdiction-access-select.tsx
  app/frontend/components/shared/select/selectors/sites-select.tsx
  app/frontend/hooks/resources/use-permit-type-options.ts
  app/frontend/types/types.ts
Due: prettier --write, eslint

fix the way day windows are calculated using day start and end
  app/jobs/user_data_cleanup_job.rb
Due: stree --write

add depdendabot.yml and update default branches
  .github/dependabot.yml
  .github/workflows/test.yml
Due: none

add checklist foreign key cascades directly in migraiton
  db/migrate/20260203163643_add_cascade_delete_to_part3_step_code_foreign_keys.rb
  db/schema.rb
Due: stree --write

HUB-4349 PR review requested changes
  app/frontend/components/shared/permit-applications/pdf-content/application/index.tsx
Due: prettier --write, eslint

fix sidekiq reindexing by reordering registration
  app/models/permit_application.rb
  app/models/permit_project.rb
  app/models/requirement_block.rb
  app/models/step_code.rb
Due: stree --write

eager load included models in cleanup jobs
  app/jobs/orphan_cleanup_job.rb
  app/jobs/user_data_cleanup_job.rb
Due: stree --write

HUB-4318 rspec for permit application and other API controllers
  spec/requests/api/collaborators_spec.rb
  spec/requests/api/contacts_spec.rb
  spec/requests/api/permit_applications_spec.rb
  spec/requests/api/permit_collaborations_spec.rb
  spec/requests/api/permit_projects_spec.rb
  spec/requests/api/permit_type_submission_contacts_spec.rb
  spec/requests/api/storage_spec.rb
Due: stree --write

remove unused permit application search concern
  app/controllers/api/concerns/search/jurisdiction_permit_applications.rb
  app/controllers/api/concerns/search/project_permit_applications.rb
  spec/concerns/jurisdiction_permit_application_search_spec.rb
Due: stree --write

fix specs for user shoulda associations
  app/controllers/api/concerns/search/project_permit_applications.rb
  app/models/revision_request.rb
  spec/models/revision_request_spec.rb
  spec/models/user_license_agreement_spec.rb
Due: stree --write

fix migration bug from overheating tools
  db/migrate/20260107100030_rename_pdf_forms_to_overheating_tools.rb
  db/schema.rb
Due: stree --write

update version publish template content
  app/views/permit_hub_mailer/notify_new_template_version_published.html.erb
Due: none

consolidate overheating migrations
  db/migrate/20250825221046_create_pdf_forms.rb
  db/migrate/20251216120000_add_pdf_file_data_to_pdf_forms.rb
  db/migrate/20251224140000_add_pdf_generation_status_to_pdf_forms.rb
  db/migrate/20260106120000_add_fields_to_pdf_forms.rb
  db/migrate/20260106140000_remove_fields_from_pdf_forms.rb
  db/migrate/20260106150000_add_discarded_at_to_pdf_forms.rb
  db/migrate/20260106160000_remove_status_from_pdf_forms.rb
  db/migrate/20260107100010_create_overheating_documents.rb
  db/migrate/20260107100030_rename_pdf_forms_to_overheating_tools.rb
  db/migrate/20260205221726_create_overheating_tools_and_documents.rb
Due: stree --write

fix down method
  db/migrate/20260107100030_rename_pdf_forms_to_overheating_tools.rb
Due: stree --write

regenerate schema
  db/schema.rb
Due: stree --write

debug incorrectly indexing available in string
  app/frontend/i18n/i18n.ts
  app/models/requirement_template.rb
Due: prettier --write, eslint, stree --write

Fixed thermometerhot icon missing error
  app/frontend/components/domains/permit-project/index.tsx
Due: prettier --write, eslint

add missing trans and fix schema
  app/frontend/i18n/i18n.ts
  db/schema.rb
Due: prettier --write, eslint, stree --write

HUB-4313 requested changes implemented
  app/models/payment_detail.rb
  app/models/payment_detail_transaction.rb
  app/models/permit_classification.rb
  spec/factories/part_9_step_code_base.rb
  spec/models/payment_detail_spec.rb
  spec/models/payment_detail_transaction_spec.rb
  spec/models/permit_classification_spec.rb
Due: stree --write

HUB-4313 fixed failing rspec
  spec/models/permit_block_status_spec.rb
  spec/models/permit_project_spec.rb
Due: stree --write

fix for inconsistent tabs on the projects page
  app/frontend/components/domains/permit-project/index.tsx
Due: prettier --write, eslint

make templates in seeds globally available
  db/seeds.rb
Due: stree --write

Added overheating reindex in overheating migration
  db/migrate/20260205221726_create_overheating_tools_and_documents.rb
Due: stree --write

HUB-4349 PR review and code refactored
  app/frontend/components/shared/permit-applications/pdf-content/application/index.tsx
Due: prettier --write, eslint

HUB-4317 added a comment to trigger the build
  spec/requests/api/external_api_keys_spec.rb
Due: stree --write

Rework UI and copy for sandbox training mode
  app/frontend/components/domains/home/review-manager/index.tsx
  app/frontend/components/domains/home/section-box.ts
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/index.tsx
  app/frontend/components/domains/requirement-template/template-versions-list.tsx
  app/frontend/components/shared/modals/confirmation-modal.tsx
  app/frontend/components/shared/modals/sandbox-switch-modal.tsx
  app/frontend/components/shared/sandbox/sandbox-header.tsx
  app/frontend/i18n/i18n.ts
  db/seeds.rb
Due: prettier --write, eslint, stree --write

HUB-4317 added have_received to call to by pass the requirement of verification key error
  spec/requests/api/invitations_spec.rb
Due: stree --write

HUB-4317 added have_received to call to by pass the requirement of verification key error
  spec/requests/api/invitations_spec.rb
  spec/requests/api/omniauth_callbacks_spec.rb
Due: stree --write

remove dependabot yaml
  .github/dependabot.yml
Due: none

HUB-4317 fixed session api spec failing
  spec/requests/api/sessions_spec.rb
Due: stree --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
