Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

HUB-3006 updated Building Permit Hub titles
  app/frontend/components/domains/onboarding/onboarding-checklist-page-for-lg-adopting-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Updated copy and replace the word the Hub
  app/frontend/components/domains/onboarding/onboarding-checklist-page-for-lg-adopting-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Removed the jurisdiction store and used the useJurisdiction, removed duplicate page links from project readiness tool page
  app/frontend/components/domains/jurisdictions/step-code-requirements-screen.tsx
  app/frontend/components/domains/project-readiness-tools/index.tsx
  app/frontend/components/shared/step-code-address-search/index.tsx
  app/frontend/hooks/resources/use-jurisdiction.ts
Due: prettier --write, eslint

HUB-3129: update helm chart
  devops/helm-charts/anycable-go/.helmignore
  devops/helm-charts/app/.helmignore
  devops/helm-charts/clamav/.helmignore
  devops/helm-charts/clamav/templates/deployment.yaml
  devops/helm-charts/consigno-verifio-notarius-server/.helmignore
  devops/helm-charts/ha-postgres-crunchydb/.helmignore
  devops/helm-charts/ha-postgres-crunchydb/values-dev.yaml
  devops/helm-charts/ha-postgres-crunchydb/values-prod.yaml
  devops/helm-charts/ha-postgres-crunchydb/values-test.yaml
  devops/helm-charts/ha-postgres-crunchydb/values.yaml
  devops/helm-charts/ha-redis/.helmignore
Due: none

HUB-3250 revert the logic to display about page to LG
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
Due: prettier --write, eslint

refactor seeds and add required
  app/frontend/components/domains/users/profile-screen.tsx
  db/seeds.rb
Due: prettier --write, eslint, stree --write

fix improper path param
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/hooks/resources/use-jurisdiction.ts
Due: prettier --write, eslint

check confirmation on routes and make required more obvious
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/shared/form/email-form-control.tsx
  app/frontend/components/shared/form/input-form-control.tsx
Due: prettier --write, eslint

HUB-3294 removed address lookup tool from home page
  app/frontend/components/domains/landing/index.tsx
Due: prettier --write, eslint

Refactor step code detachment
  app/blueprints/step_code_base_blueprint.rb
  app/controllers/api/part_3_building/step_codes_controller.rb
  app/controllers/api/permit_applications_controller.rb
  app/controllers/api/step_codes_controller.rb
  app/controllers/concerns/step_code_params_concern.rb
  app/controllers/home_controller.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/permit-project/permit-project-screen.tsx
  app/frontend/components/domains/permit-project/project-readiness-tab-content.tsx
  app/frontend/components/domains/step-code/checklist/pdf-content/viewer.tsx
  app/frontend/components/domains/step-code/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/project-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/step-code-summary/index.tsx
  app/frontend/components/domains/step-code/part-3/index.tsx
  app/frontend/hooks/resources/use-part-3-step-code.ts
  app/frontend/hooks/resources/use-permit-application.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/models/step-code-base.ts
  app/frontend/stores/step-code-store.ts
  app/frontend/types/enums.ts
  app/models/concerns/project_item.rb
  app/models/part_3_step_code/checklist.rb
  app/models/permit_application.rb
  app/models/step_code.rb
  app/models/user.rb
  app/policies/application_policy.rb
  app/policies/part_3_step_code/checklist_policy.rb
  app/policies/part_3_step_code_policy.rb
  app/policies/part_9_step_code_policy.rb
  app/policies/step_code/checklist_policy.rb
  app/policies/step_code_policy.rb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20250723200843_allow_null_jurisdiction_on_permit_applications.rb
  db/schema.rb
  db/seeds.rb
Due: prettier --write, eslint, stree --write

HUB-3006 updated copy changes
  app/frontend/components/domains/onboarding/onboarding-checklist-page-for-lg-adopting-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

remove non-part-9 required steps and fix selector
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/energy-step-editable-block/energy-step-select.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/energy-step-editable-block/part-9-energy-step-editable-block.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/form.tsx
  app/frontend/components/domains/requirement-template/sections-sidebar.tsx
  app/frontend/models/jurisdiction.ts
  app/frontend/stores/permit-classification-store.ts
  app/services/permit_type_required_step_seeder.rb
  db/data/20250724170223_remove_non_part9_step_code_required_steps.rb
  db/data_schema.rb
Due: prettier --write, eslint, stree --write

merge in release 0.7.0
  Gemfile.lock
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/energy-step-editable-block/energy-step-select.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/energy-step-editable-block/part-9-energy-step-editable-block.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/form.tsx
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/onboarding/onboarding-checklist-page-for-lg-adopting-screen.tsx
  app/frontend/components/domains/requirement-template/sections-sidebar.tsx
  app/frontend/components/domains/users/profile-screen.tsx
  app/frontend/components/shared/form/email-form-control.tsx
  app/frontend/components/shared/form/input-form-control.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/jurisdiction.ts
  app/frontend/stores/permit-classification-store.ts
  app/jobs/pdf_generation_job.rb
  app/services/permit_type_required_step_seeder.rb
  db/data/20250724170223_remove_non_part9_step_code_required_steps.rb
  db/data_schema.rb
  db/schema.rb
  db/seeds.rb
  package-lock.json
Due: prettier --write, eslint, stree --write

HUB-3294 Updated step code tool for home page and standalone page
  app/frontend/components/domains/landing/index.tsx
  app/frontend/components/domains/project-readiness-tools/look-up-step-codes-requirements-for-your-project.tsx
  app/frontend/components/domains/project-readiness-tools/step-code-lookup-tool.tsx
  app/frontend/components/shared/select/selectors/step-code-lookup-address-select.tsx
  app/frontend/components/shared/step-code-address-search/index.tsx
  app/frontend/components/shared/step-code-requirements-table.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

wip
  spec/factories/part_9_step_codes.rb
  spec/factories/step_codes.rb
  spec/services/step_code/compliance/check_requirements/zero_carbon/prescriptive_spec.rb
Due: stree --write

wip2
  app/models/part_9_step_code.rb
  app/models/part_9_step_code/checklist.rb
  spec/factories/part_9_step_codes.rb
  spec/factories/step_codes.rb
  spec/services/step_code/compliance/check_requirements/zero_carbon/prescriptive_spec.rb
Due: stree --write

make feature flags optional
  app/frontend/models/jurisdiction.ts
  db/schema.rb
Due: prettier --write, eslint, stree --write

HUB-157 fixed manage user option for technical_support user role
  app/frontend/services/rbac-rules.ts
Due: prettier --write, eslint

HUB-305 added tooltip for input type file
  app/services/requirement_form_json_service.rb
Due: stree --write

HUB-3168 removed the disable state from save button and displayed an error message if display_name is empty
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
Due: prettier --write, eslint

HUB-3168 added custom error if display_name field is empty
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-2986 enable RRM to be invitable by RM
  app/models/user.rb
Due: stree --write

HUB-2986 fixed rspec
  spec/models/user_spec.rb
Due: stree --write

update step code requiremnet accordions to remove non part 9
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/models/jurisdiction.ts
  app/frontend/types/types.ts
  db/seeds.rb
Due: prettier --write, eslint, stree --write

fix default validation on step code field array
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/energy-step-editable-block/part-9-energy-step-editable-block.tsx
  app/models/permit_type_required_step.rb
Due: prettier --write, eslint, stree --write

properly override default step code selection
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/models/jurisdiction.ts
Due: prettier --write, eslint

HUB-3311 handled if show_about_page and inbox not enabled cases
  app/frontend/components/domains/project-readiness-tools/step-code-lookup-tool.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-3311 updated icon size to match the design
  app/frontend/components/domains/project-readiness-tools/step-code-lookup-tool.tsx
Due: prettier --write, eslint

revert default default
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/energy-step-editable-block/part-9-energy-step-editable-block.tsx
Due: prettier --write, eslint

create project details screen with overview
  app/blueprints/permit_application_blueprint.rb
  app/blueprints/permit_project_blueprint.rb
  app/controllers/api/permit_projects_controller.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/navigation/sub-nav-bar.tsx
  app/frontend/components/domains/permit-project/index.tsx
  app/frontend/components/domains/permit-project/overview-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/permit-project-screen.tsx
  app/frontend/components/domains/permit-project/permits-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/projects-table.tsx
  app/frontend/components/domains/permit-project/sidebar.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/editable-builder-header.tsx
  app/frontend/components/shared/base/copy-link-button.tsx
  app/frontend/components/shared/permit-applications/permit-application-row.tsx
  app/frontend/components/shared/permit-projects/phase-box.tsx
  app/frontend/components/shared/permit-projects/phase-icon.tsx
  app/frontend/components/shared/permit-projects/phase-tag.tsx
  app/frontend/hooks/resources/use-permit-project.ts
  app/frontend/i18n/i18n.ts
  app/frontend/lib/with-merge.ts
  app/frontend/models/permit-application.ts
  app/frontend/models/permit-project.ts
  app/frontend/stores/permit-project-store.ts
  app/frontend/styles/theme/foundations/colors.ts
  app/frontend/types/api-request.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/early_access_requirement_template.rb
  app/models/permit_application.rb
  app/models/permit_project.rb
  app/models/requirement_template.rb
  config/routes.rb
  db/seeds.rb
Due: prettier --write, eslint, stree --write

add project number
  app/blueprints/permit_project_blueprint.rb
  app/frontend/components/domains/permit-project/overview-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/permit-project-screen.tsx
  app/frontend/models/permit-project.ts
  app/models/permit_project.rb
  db/migrate/20250729180133_add_project_number_to_permit_projects.rb
  db/schema.rb
  db/seeds.rb
Due: prettier --write, eslint, stree --write

add translations and better match mocks
  app/frontend/components/domains/permit-project/overview-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/permit-project-screen.tsx
  app/frontend/components/domains/permit-project/permits-tab-panel-content.tsx
  app/frontend/components/shared/permit-applications/permit-application-row.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

fix spec to check for display name
  spec/models/requirement_block_spec.rb
Due: stree --write

improve strong params in part 3 step code
  app/controllers/api/part_3_building/step_codes_controller.rb
  app/controllers/api/part_9_building/step_codes_controller.rb
  app/controllers/api/step_codes_controller.rb
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint, stree --write

improve strong params and permit table
  app/controllers/api/part_3_building/checklists_controller.rb
  app/controllers/api/part_9_building/step_codes_controller.rb
  app/controllers/concerns/step_code_params_concern.rb
  app/frontend/components/domains/permit-project/index.tsx
  app/frontend/components/domains/permit-project/permit-project-screen.tsx
  app/frontend/components/domains/permit-project/sidebar-tab-list.tsx
  app/frontend/components/shared/permit-applications/permit-application-row.tsx
  db/seeds.rb
Due: prettier --write, eslint, stree --write

redesign outdated permit applicaiton system using caching and apply to project rows
  app/blueprints/permit_application_blueprint.rb
  app/blueprints/permit_project_blueprint.rb
  app/controllers/api/permit_projects_controller.rb
  app/frontend/components/domains/permit-project/pinned-projects-grid.tsx
  app/frontend/components/domains/permit-project/project-grid-row.tsx
  app/frontend/components/domains/permit-project/projects-table.tsx
  app/frontend/components/shared/permit-projects/permit-project-card.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/models/permit-project.ts
  app/models/permit_application.rb
  app/models/template_version.rb
Due: prettier --write, eslint, stree --write

fix nil rt label in specs
  app/models/requirement_template.rb
Due: stree --write

create project permit application search
  app/controllers/api/concerns/search/project_permit_applications.rb
  app/controllers/api/permit_projects_controller.rb
  app/frontend/components/domains/permit-project/overview-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/permit-application-grid-headers.tsx
  app/frontend/components/domains/permit-project/permit-application-grid-row.tsx
  app/frontend/components/domains/permit-project/permits-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/project-grid-row.tsx
  app/frontend/components/domains/permit-project/sidebar-tab-list.tsx
  app/frontend/services/api/index.ts
  app/frontend/stores/permit-application-store.ts
  app/frontend/types/enums.ts
  app/models/permit_application.rb
  app/policies/permit_project_policy.rb
  config/routes.rb
Due: prettier --write, eslint, stree --write

HUB-3168 fixed PR review changes
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

add paginator and other index touchups
  app/frontend/components/domains/jurisdictions/submission-inbox/grid-header.tsx
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/components/domains/permit-project/overview-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/permit-application-grid-headers.tsx
  app/frontend/components/domains/permit-project/permit-application-grid-row.tsx
  app/frontend/components/domains/permit-project/permits-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/pinned-projects-grid.tsx
  app/frontend/components/domains/permit-project/project-grid-row.tsx
  app/frontend/components/domains/permit-project/projects-table.tsx
  app/frontend/components/shared/outdated-form-warning.tsx
  app/frontend/components/shared/permit-applications/permit-application-row.tsx
  app/frontend/constants/index.ts
  app/frontend/stores/permit-application-store.ts
  app/models/permit_project.rb
  db/seeds.rb
Due: prettier --write, eslint, stree --write
