Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

Add calculation logic for results as modelled
  app/models/part_3_step_code/checklist.rb
  app/services/step_code/part_3/v0/requirements/whole_building.rb
  app/services/step_code/part_3/v1/performance/results_as_modelled.rb
  spec/services/step_code/part_3/v0/generate_reports_spec.rb
Due: stree --write

Add db models for part 3 step code
  app/models/concerns/form_supporting_documents.rb
  app/models/part_3_step_code.rb
  app/models/part_3_step_code/checklist.rb
  app/models/part_3_step_code/document_reference.rb
  app/models/part_3_step_code/energy_output.rb
  app/models/part_3_step_code/fuel_type.rb
  app/models/part_3_step_code/make_up_air_fuel.rb
  app/models/part_3_step_code/occupancy_classification.rb
  app/models/part_9_step_code.rb
  app/models/part_9_step_code/building_characteristics_summary.rb
  app/models/part_9_step_code/checklist.rb
  app/models/part_9_step_code/data_entry.rb
  app/models/step_code.rb
  db/data/20241101162203_update_step_code_types.rb
  db/data_schema.rb
  db/migrate/20241030222657_create_part_3_step_code_tables.rb
  db/migrate/20241031235633_add_type_to_step_codes.rb
  db/schema.rb
Due: stree --write

Add adjusted performance compliance logic
  app/services/step_code/part_3/v1/performance/adjusted_results.rb
  spec/services/step_code/part_3/v1/generate_reports_spec.rb
  spec/support/shared_examples/part_3_step_code_compliance.rb
Due: stree --write

Include achieved steps in performance results
  .env_example
  .env_example.docker_compose
  .github/workflows/pull-request.yml
  app/models/jurisdiction.rb
  app/models/part_3_step_code/occupancy_classification.rb
  app/models/part_9_step_code/checklist.rb
  app/services/permit_type_required_step_seeder.rb
  app/services/step_code/compliance/propose_step/energy.rb
  app/services/step_code/compliance/propose_step/zero_carbon.rb
  app/services/step_code/part_3/v0/requirements/references/energy.rb
  app/services/step_code/part_3/v0/requirements/references/zero_carbon.rb
  app/services/step_code/part_3/v0/requirements/step_code_occupancy.rb
  app/services/step_code/part_3/v1/generate_reports.rb
  app/services/step_code/part_3/v1/performance/energy_step_achieved.rb
  app/services/step_code/part_3/v1/performance/overall_compliance.rb
  app/services/step_code/part_3/v1/performance/zero_carbon_step_achieved.rb
  db/migrate/20240308221409_add_default_steps_to_jurisdictions.rb
  spec/factories/part_3_step_code/occupancy_classifications.rb
  spec/services/step_code/part_3/v1/generate_reports_spec.rb
  spec/support/shared_examples/part_3_step_code_compliance.rb
Due: stree --write

Fix v0 specs
  app/models/part_3_step_code/checklist.rb
  app/services/step_code/part_3/v0/lookup_requirements.rb
  app/services/step_code/part_3/v0/requirements/baseline.rb
  app/services/step_code/part_3/v0/requirements/baseline_occupancy.rb
  app/services/step_code/part_3/v0/requirements/references/climate_zone.rb
  app/services/step_code/part_3/v0/requirements/references/energy.rb
  app/services/step_code/part_3/v0/requirements/references/zero_carbon.rb
  app/services/step_code/part_3/v0/requirements/step_code.rb
  app/services/step_code/part_3/v0/requirements/step_code_occupancy.rb
  app/services/step_code/part_3/v0/requirements/whole_building.rb
  spec/factories/part_3_step_code/energy_outputs.rb
  spec/factories/part_3_step_code/fuel_types.rb
  spec/factories/part_3_step_code/occupancy_classifications.rb
  spec/services/step_code/part_3/v0/generate_reports_spec.rb
Due: stree --write

Fix/refactor v1 specs
  app/services/step_code/part_3/v1/evaluate_performance.rb
  app/services/step_code/part_3/v1/generate_reports.rb
  app/services/step_code/part_3/v1/performance/adjusted_results.rb
  app/services/step_code/part_3/v1/performance/base.rb
  app/services/step_code/part_3/v1/performance/corridor_pressurization_adjustment.rb
  app/services/step_code/part_3/v1/performance/results_as_modelled.rb
  app/services/step_code/part_3/v1/performance/suite_sub_metering_adjustment.rb
  db/migrate/20241030222657_create_part_3_step_code_tables.rb
  spec/factories/part_3_step_code/make_up_air_fuels.rb
  spec/models/part_3_step_code/checklist_spec.rb
  spec/services/step_code/part_3/v1/compliance/generate_reports_spec.rb
  spec/services/step_code/part_3/v1/generate_reports_spec.rb
  spec/services/step_code/part_3/v1/performance/results_as_modelled.rb
  spec/support/shared_examples/part_3_step_code_compliance.rb
  spec/support/shared_examples/part_9_step_code_compliance.rb
Due: stree --write

Add suite submetering adjustment
  app/services/step_code/part_3/v1/performance/suite_sub_metering_adjustment.rb
  spec/support/shared_examples/part_3_step_code_compliance.rb
Due: stree --write

Fix loading error and part 9 step code specs
  app/models/part_3_step_code/checklist.rb
  app/models/part_3_step_code/document_reference.rb
  app/models/part_3_step_code/energy_output.rb
  app/models/part_3_step_code/fuel_type.rb
  app/models/part_3_step_code/make_up_air_fuel.rb
  app/models/part_3_step_code/occupancy_classification.rb
  app/models/part_9_step_code/building_characteristics_summary.rb
  app/models/part_9_step_code/checklist.rb
  app/models/part_9_step_code/data_entry.rb
  spec/factories/part_9_step_code/checklists.rb
  spec/factories/part_9_step_codes.rb
  spec/factories/step_code_checklists.rb
  spec/factories/step_code_data_entries.rb
  spec/factories/step_codes.rb
  spec/models/part_9_step_code_spec.rb
  spec/services/step_code/compliance/check_requirements/energy/airtightness_spec.rb
  spec/services/step_code/compliance/check_requirements/energy/meui_spec.rb
  spec/services/step_code/compliance/check_requirements/energy/tedi_spec.rb
  spec/services/step_code/compliance/check_requirements/zero_carbon/co2_spec.rb
  spec/services/step_code/compliance/check_requirements/zero_carbon/ghg_spec.rb
  spec/services/step_code/compliance/check_requirements/zero_carbon/prescriptive_spec.rb
  spec/services/step_code/compliance/propose_step/base_spec.rb
Due: stree --write

Fix isssue creating part 9 step codes
  app/controllers/api/step_codes_controller.rb
  app/models/part_9_step_code/checklist.rb
  app/services/step_code/part_9/data_entry_hot2000_mapper.rb
Due: stree --write

Add base layout and navigation structure
  app/blueprints/step_code_blueprint.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/step-code/index.tsx
  app/frontend/components/domains/step-code/nav-bar/index.tsx
  app/frontend/components/domains/step-code/nav-bar/part-3-nav-links.tsx
  app/frontend/components/domains/step-code/nav-bar/part-9-nav-links.tsx
  app/frontend/components/domains/step-code/part_3/form-section/baseline-occupancies.tsx
  app/frontend/components/domains/step-code/part_3/form-section/baseline-occupancy.tsx
  app/frontend/components/domains/step-code/part_3/form-section/district-energy.tsx
  app/frontend/components/domains/step-code/part_3/form-section/energy-setup.tsx
  app/frontend/components/domains/step-code/part_3/form-section/fuel-types.tsx
  app/frontend/components/domains/step-code/part_3/form-section/index.tsx
  app/frontend/components/domains/step-code/part_3/form-section/project-details.tsx
  app/frontend/components/domains/step-code/part_3/form-section/start-page.tsx
  app/frontend/components/domains/step-code/part_3/index.tsx
  app/frontend/components/domains/step-code/part_3/sidebar/index.tsx
  app/frontend/components/domains/step-code/part_3/sidebar/section-header.tsx
  app/frontend/components/domains/step-code/part_3/sidebar/section-link.tsx
  app/frontend/components/domains/step-code/part_3/sidebar/sub-link.tsx
  app/frontend/components/shared/floating-help-drawer.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint, stree --write

Add project details page
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/frontend/components/domains/step-code/nav-bar/index.tsx
  app/frontend/components/domains/step-code/nav-bar/part-3-nav-links.tsx
  app/frontend/components/domains/step-code/part-3/form-section/energy-setup.tsx
  app/frontend/components/domains/step-code/part-3/form-section/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/location-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/project-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/start-page.tsx
  app/frontend/components/domains/step-code/part-3/index.tsx
  app/frontend/components/domains/step-code/part-3/sidebar/index.tsx
  app/frontend/components/domains/step-code/part-3/sidebar/nav-sections.ts
  app/frontend/components/domains/step-code/part-3/sidebar/section-header.tsx
  app/frontend/components/domains/step-code/part-3/sidebar/section-link.tsx
  app/frontend/hooks/resources/use-part-3-step-code.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-3-step-code-checklist.ts
  app/frontend/models/part-3-step-code.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/step-code-store.ts
  app/frontend/styles/theme/components/input.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/concerns/permit_application_status.rb
  app/models/part_3_step_code/checklist.rb
  app/models/step_code.rb
  app/services/constants/part_3_step_code.rb
  db/migrate/20241203165751_add_newly_submitted_at_to_permit_applications.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

Add district energy section & update backend model
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/blueprints/step_code/part_3/fuel_type_blueprint.rb
  app/controllers/api/part_3_building/checklists_controller.rb
  app/frontend/components/domains/step-code/part-3/form-section/baseline-occupancies/baseline-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/baseline-occupancies/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/district-energy.tsx
  app/frontend/components/domains/step-code/part-3/form-section/location-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/project-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/start-page.tsx
  app/frontend/components/domains/step-code/part-3/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-3-step-code-checklist.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/part_3_step_code/checklist.rb
  app/models/part_3_step_code/fuel_type.rb
  db/migrate/20241207001055_rename_fuel_type_name_to_key.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

Add support for building and location details page
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/controllers/api/part_3_building/checklists_controller.rb
  app/frontend/components/domains/step-code/part-3/form-section/location-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/project-details.tsx
  app/frontend/components/domains/step-code/part-3/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-3-step-code-checklist.ts
  app/models/part_3_step_code/checklist.rb
  app/models/permit_application.rb
  app/models/step_code.rb
  app/services/step_code/part_3/v0/requirements/references/climate_zone.rb
  app/services/step_code/part_3/v0/seeders/jurisdiction_hdd.rb
  config/initializers/inflections.rb
  db/data/20241204220552_seed_jursidictions_hdd.rb
  db/data_schema.rb
  db/migrate/20241030222657_create_part_3_step_code_tables.rb
  db/migrate/20241204184650_add_heating_degree_days_to_jurisdictions.rb
  db/schema.rb
  db/templates/jurisdiction_hdd_references.xlsx
Due: prettier --write, eslint, stree --write

Add baseline occupancies sections & show errors
  app/blueprints/step_code/part_3/baseline_occupancy_blueprint.rb
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/controllers/api/part_3_building/checklists_controller.rb
  app/frontend/components/domains/step-code/part-3/form-section/baseline-occupancies.tsx
  app/frontend/components/domains/step-code/part-3/form-section/baseline-occupancies/baseline-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/baseline-occupancies/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/baseline-occupancies/occupancy-panel.tsx
  app/frontend/components/domains/step-code/part-3/form-section/baseline-occupancy.tsx
  app/frontend/components/domains/step-code/part-3/form-section/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/location-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/project-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/shared/section-heading.tsx
  app/frontend/components/domains/step-code/part-3/form-section/start-page.tsx
  app/frontend/components/domains/step-code/part-3/index.tsx
  app/frontend/components/domains/step-code/part-3/sidebar/index.tsx
  app/frontend/components/domains/step-code/part-3/sidebar/nav-sections.ts
  app/frontend/components/shared/base/custom-message-box.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-3-step-code-checklist.ts
  app/frontend/styles/theme/components/radio.ts
  app/frontend/styles/theme/index.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/part_3_step_code/checklist.rb
  app/models/part_3_step_code/occupancy_classification.rb
  db/migrate/20241206005741_add_unique_index_to_occupancy_classifications.rb
  db/schema.rb
  package-lock.json
  package.json
Due: prettier --write, eslint, stree --write

Add screens for setting fuel types
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/frontend/components/domains/step-code/part-3/form-section/baseline-occupancies/baseline-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/district-energy.tsx
  app/frontend/components/domains/step-code/part-3/form-section/fuel-types.tsx
  app/frontend/components/domains/step-code/part-3/form-section/fuel-types/additional-fuel-types.tsx
  app/frontend/components/domains/step-code/part-3/form-section/fuel-types/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/location-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/project-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/start-page.tsx
  app/frontend/components/domains/step-code/part-3/sidebar/nav-sections.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-3-step-code-checklist.ts
  app/models/part_3_step_code/checklist.rb
  app/models/part_3_step_code/fuel_type.rb
  db/data/20241209190727_seed_default_fuel_types.rb
  db/data_schema.rb
Due: prettier --write, eslint, stree --write

Add baseline performance UI
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/blueprints/step_code/part_3/energy_output_blueprint.rb
  app/controllers/api/part_3_building/checklists_controller.rb
  app/frontend/components/domains/step-code/part-3/form-section/baseline-performance.tsx
  app/frontend/components/domains/step-code/part-3/form-section/fuel-types/additional-fuel-types.tsx
  app/frontend/components/domains/step-code/part-3/form-section/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-3-step-code-checklist.ts
  app/frontend/types/types.ts
  app/models/part_3_step_code/checklist.rb
Due: prettier --write, eslint, stree --write

allow create of permit applications under live requirement templates only
  app/models/permit_application.rb
  app/models/template_version.rb
Due: stree --write

Code refinement
  app/controllers/api/concerns/search/permit_applications.rb
  app/frontend/components/domains/permit-application/permit-application-filters-menu.tsx
  app/frontend/stores/permit-application-store.ts
Due: prettier --write, eslint, stree --write

Removed unsed imports from component files
  app/controllers/api/concerns/search/permit_applications.rb
  app/frontend/components/domains/permit-application/index.tsx
  app/frontend/components/domains/permit-application/permit-application-filters-menu.tsx
Due: prettier --write, eslint, stree --write

fix formatting
  app/frontend/components/domains/permit-application/permit-application-filters-menu.tsx
Due: prettier --write, eslint

Removed unwanted props from filter menu component
  app/frontend/components/domains/permit-application/permit-application-filters-menu.tsx
Due: prettier --write, eslint

Updated the PR 798
  app/controllers/api/concerns/search/permit_applications.rb
  app/frontend/components/domains/permit-application/permit-application-filters-menu.tsx
  app/frontend/hooks/use-search.ts
  app/frontend/stores/permit-application-store.ts
  app/frontend/types/enums.ts
  app/models/permit_application.rb
Due: prettier --write, eslint, stree --write

Working on BPHH-1790
  app/frontend/components/domains/permit-application/index.tsx
  app/frontend/components/domains/permit-application/status-filter.tsx
Due: prettier --write, eslint

Debugging the code
  app/frontend/components/domains/permit-application/permit-application-filters-menu.tsx
  app/frontend/stores/permit-application-store.ts
Due: prettier --write, eslint

BPHH-1790 Integration of Filters on permit table
  app/controllers/api/concerns/search/permit_applications.rb
  app/frontend/components/domains/permit-application/index.tsx
  app/frontend/components/domains/permit-application/permit-application-filters-menu.tsx
  app/frontend/components/domains/permit-application/status-filter.tsx
  app/frontend/hooks/use-search.ts
  app/frontend/i18n/i18n.ts
  app/frontend/lib/create-search-model.ts
  app/frontend/types/enums.ts
  app/models/permit_application.rb
Due: prettier --write, eslint, stree --write

Updated the MR review changes
  app/frontend/components/domains/permit-application/permit-application-filters-menu.tsx
  app/frontend/lib/create-search-model.ts
Due: prettier --write, eslint

Updated PermitApplicationFiltersMenu component self closing
  app/frontend/components/domains/permit-application/index.tsx
Due: prettier --write, eslint

supply sandbox id when uploading files
  app/frontend/utils/uploads.ts
  app/frontend/utils/utility-functions.ts
Due: prettier --write, eslint

Add step code occupancies configuration sections
  app/blueprints/part_3_step_code_blueprint.rb
  app/blueprints/part_9_step_code_blueprint.rb
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/blueprints/step_code/part_3/step_code_occupancy_blueprint.rb
  app/controllers/api/part_3_building/checklists_controller.rb
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/energy-step-editable-block/energy-step-select.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/energy-step-editable-block/index.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/energy-step-editable-block/zero-carbon-step-select.tsx
  app/frontend/components/domains/step-code/part-3/form-section/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/step-code-occupancies/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/step-code-occupancies/performance-requirements.tsx
  app/frontend/components/domains/step-code/part-9/checklist/compliance-summary/energy-steps.tsx
  app/frontend/components/domains/step-code/part-9/checklist/compliance-summary/zero-carbon-steps.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-3-step-code.ts
  app/frontend/models/part-9-step-code.ts
  app/frontend/stores/step-code-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/part_3_step_code/checklist.rb
Due: prettier --write, eslint, stree --write

Add renewable energy section
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/controllers/api/part_3_building/checklists_controller.rb
  app/frontend/components/domains/step-code/part-3/form-section/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/renewable-energy.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-3-step-code-checklist.ts
Due: prettier --write, eslint, stree --write

Add overheating requirements section
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/controllers/api/part_3_building/checklists_controller.rb
  app/frontend/components/domains/step-code/part-3/form-section/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/overheating-requirements.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-3-step-code-checklist.ts
  app/services/constants/part_3_step_code.rb
Due: prettier --write, eslint, stree --write

Added rename the jurisdiction for super admin
  app/frontend/components/domains/jurisdictions/edit-jurisdiction-screen.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/shared/jurisdiction/manage-jurisdiction-menu.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

BPHH-2474 Add modelled out put form section with basic grid scaffold
  app/frontend/components/domains/step-code/part-3/form-section/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/modelled-energy-outputs-grid.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

BPHH 2474 Add uniqueness validations for energy_output uset type and name. Also adds relevant specs
  app/models/part_3_step_code/energy_output.rb
  spec/factories/part_3_step_code/energy_outputs.rb
  spec/factories/part_3_step_code/fuel_types.rb
  spec/models/part_3_step_code/energy_output_spec.rb
Due: stree --write

BPHH-2474 Add migration for use_type enum field on energy_outputs. Change name field to be nullable and add presence validation
  app/models/part_3_step_code/energy_output.rb
  db/migrate/20241209182000_add_use_type_to_energy_outputs.rb
  db/migrate/20241209182856_allow_null_name_in_energy_outputs.rb
  db/schema.rb
Due: stree --write

BPHH 2474 Add modelled_enrgy_output to api as nested attributes and create relevant blueprints
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/blueprints/step_code/part_3/energy_output_blueprint.rb
  app/controllers/api/part_3_building/checklists_controller.rb
  app/models/part_3_step_code/checklist.rb
Due: stree --write

WIP
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/modelled-energy-outputs-grid.tsx
  app/frontend/components/shared/select/selectors/fuel-type-select.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  db/schema.rb
Due: prettier --write, eslint, stree --write
