Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

Update README.md
  README.md
Due: none

refactor early access filter as visibility and finish early access requirement block index
  app/blueprints/requirement_template_blueprint.rb
  app/controllers/api/concerns/search/requirement_blocks.rb
  app/controllers/api/concerns/search/requirement_templates.rb
  app/frontend/components/domains/requirements-library/grid-header.tsx
  app/frontend/components/domains/requirements-library/index.tsx
  app/frontend/components/domains/requirements-library/requirement-blocks-table.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
  app/frontend/components/domains/super-admin/early-access/requirements-library/index.tsx
  app/frontend/hooks/use-search.ts
  app/frontend/i18n/i18n.ts
  app/frontend/lib/create-search-model.ts
  app/frontend/stores/early-access-requirement-block-store.ts
  app/frontend/stores/early-access-requirement-template-store.ts
  app/frontend/stores/requirement-block-store.ts
  app/frontend/stores/requirement-template-store.ts
  app/frontend/stores/root-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/early_access_requirement_template.rb
  app/models/live_requirement_template.rb
  app/models/requirement_block.rb
  app/models/requirement_template.rb
Due: prettier --write, eslint, stree --write

fix specs
  app/models/live_requirement_template.rb
  app/models/requirement_template.rb
  spec/controllers/requirement_templates_controller_spec.rb
Due: stree --write

fix lint staged, prettier, and stree, rubocop configuration
  .prettierignore
  .prettierrc.mjs
  .rubocop.yml
  .streeignore
  .vscode/settings.json
  Gemfile
  Gemfile.lock
  README.md
  package.json
Due: none

add gem and instructions for solargraph intellisense
  .vscode/settings.json
  Gemfile
  Gemfile.lock
  README.md
Due: none

add lint and format fix
  .prettierignore
  .prettierrc.mjs
  .rubocop.yml
  .streeignore
  .vscode/settings.json
  Gemfile
  Gemfile.lock
  README.md
  package.json
Due: none

use class whitelist to fix critical code injectrion vulnerability in copy service
  app/services/requirement_template_copy_service.rb
Due: stree --write

fixes after smoke testing for large merge
  app/frontend/components/domains/permit-application/new-permit-application-screen.tsx
  app/frontend/models/jurisdiction.ts
Due: prettier --write, eslint

rename application metrics report
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

add seeds for invitable super admin
  db/seeds.rb
Due: stree --write

update gemfile.lock for solrgraph .50
  Gemfile.lock
Due: none

make visibility editable on requirement blocks
  app/blueprints/requirement_block_blueprint.rb
  app/controllers/api/requirement_blocks_controller.rb
  app/frontend/components/domains/requirements-library/requirement-blocks-table.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/block-setup.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
  app/frontend/components/domains/super-admin/early-access/requirements-library/index.tsx
  app/frontend/components/shared/select/block-visibility-select.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement-block.ts
  app/frontend/models/requirement-template.ts
  app/frontend/stores/early-access-requirement-block-store.ts
  app/frontend/types/api-request.ts
  app/frontend/types/types.ts
  app/models/requirement_block.rb
  app/models/requirement_template.rb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

Change pull request CI file to use Ruby 3.2.5
  .github/workflows/pull-request.yml
Due: none

updating readme and .env examples for docker
  .env_example
  .env_example.docker_compose
  README.md
Due: none

Merge conflicts
  .dockerignore
  .gitattributes
  db/schema.rb
  devops/docker/app/Dockerfile.dev
  docker-compose.yml
Due: stree --write

Upgrade to Ruby 3.2.5 for security reasons
  .ruby-version
  Gemfile
  Gemfile.lock
  devops/docker/app/Dockerfile
  devops/docker/app/Dockerfile.dev
Due: none

Complete local setup to run the app with Docker via docker compose including Vite HMR
  .dockerignore
  README.md
  devops/docker/app/Dockerfile.dev
  docker-compose.yml
Due: none

update schemas so they migrate gracefully, all environmnets should be update readme
  .env_example.docker_compose
  Gemfile.lock
  README.md
  db/migrate/20240308221409_add_default_steps_to_jurisdictions.rb
  db/migrate/20240315214621_add_slug_to_jurisdictions.rb
  db/migrate/20240612213911_create_permit_type_required_step.rb
Due: stree --write

fixes and enhancements for preview blocks including editability, display logic, ui fixes, copy updates, etc
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/sections-display.tsx
  app/frontend/components/domains/requirement-template/sections-display.tsx
  app/frontend/components/domains/requirements-library/grid-header.tsx
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/components/domains/requirements-library/requirement-blocks-table.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/block-setup.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
  app/frontend/components/domains/requirements-library/requirements-library-drawer.tsx
  app/frontend/components/domains/super-admin/early-access/requirement-templates/edit-early-access-requirement-template-screen.tsx
  app/frontend/components/shared/select/block-visibility-select.tsx
  app/frontend/components/shared/visibility-tag.tsx.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement-block.ts
  app/frontend/stores/requirement-block-store.ts
Due: prettier --write, eslint

rework preview versioning to fix bugs with viewing after update
  app/controllers/api/requirement_templates_controller.rb
  app/frontend/components/domains/super-admin/early-access/requirement-templates/edit-early-access-requirement-template-screen.tsx
  app/frontend/models/requirement-template.ts
  app/models/early_access_requirement_template.rb
  app/services/template_versioning_service.rb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

fix preview seeding
  app/services/template_versioning_service.rb
Due: stree --write

add popover for preview invitees
  .rubocop.yml
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/requirement-template/share-preview-popover.tsx
  app/frontend/components/domains/super-admin/early-access/requirement-templates/index.tsx
  app/frontend/components/shared/base/copy-link-button.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

create backend and input using EarlyAccessPreview
  .rubocop.yml
  Gemfile
  Gemfile.lock
  app/blueprints/early_access_preview_blueprint.rb
  app/blueprints/requirement_template_blueprint.rb
  app/controllers/api/requirement_templates_controller.rb
  app/errors/preview_error.rb
  app/frontend/components/domains/requirement-template/share-preview-popover.tsx
  app/frontend/components/domains/super-admin/early-access/requirement-templates/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement-template.ts
  app/frontend/services/api/index.ts
  app/frontend/types/api-request.ts
  app/mailers/permit_hub_mailer.rb
  app/models/early_access_preview.rb
  app/models/early_access_requirement_template.rb
  app/models/user.rb
  app/policies/requirement_template_policy.rb
  app/services/early_access/preview_management_service.rb
  app/views/permit_hub_mailer/notify_new_or_unconfirmed_preview.erb
  app/views/permit_hub_mailer/notify_preview.erb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20241028171846_create_early_access_previews.rb
  db/schema.rb
  db/seeds.rb
  package-lock.json
Due: prettier --write, eslint, stree --write

invite previews with detailed errors list, new frontend models with merge updating
  .rubocop.yml
  app/blueprints/requirement_template_blueprint.rb
  app/controllers/api/requirement_templates_controller.rb
  app/frontend/components/shared/base/custom-message-box.tsx
  app/frontend/components/shared/base/flash-message.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/early-access-preview.ts
  app/frontend/models/flash-message.ts
  app/frontend/models/requirement-template.ts
  app/frontend/stores/early-access-preview-store.ts
  app/frontend/stores/requirement-template-store.ts
  app/frontend/stores/root-store.ts
  app/mailers/permit_hub_mailer.rb
  app/models/early_access_requirement_template.rb
  app/services/early_access/preview_management_service.rb
  config/locales/en.yml
  package-lock.json
  package.json
Due: prettier --write, eslint, stree --write

add extension and revocation, preview stores
  Gemfile.lock
  app/blueprints/early_access_preview_blueprint.rb
  app/controllers/api/early_access_previews_controller.rb
  app/frontend/components/domains/requirement-template/share-preview-popover.tsx
  app/frontend/components/domains/super-admin/early-access/requirement-templates/index.tsx
  app/frontend/components/shared/base/custom-message-box.tsx
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/components/shared/early-access/preview-status-tag.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/early-access-preview.ts
  app/frontend/services/api/index.ts
  app/frontend/styles/global-theme-variables.scss
  app/frontend/types/enums.ts
  app/frontend/utils/utility-functions.ts
  app/models/early_access_preview.rb
  app/models/preview_requirement_template.rb
  app/policies/early_access_preview_policy.rb
  app/policies/requirement_template_policy.rb
  app/services/early_access/preview_management_service.rb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20241028171846_create_early_access_previews.rb
  db/schema.rb
  package-lock.json
  package.json
  spec/requests/early_access_previews_spec.rb
Due: prettier --write, eslint, stree --write

remove problem console log to prevent codeql scanning error
  app/frontend/components/shared/chefs/additional-formio/providers/storage/s3custom.js
Due: none

Update copy and layout for new permit application and step code screens
  app/frontend/components/domains/permit-application/new-permit-application-screen.tsx
  app/frontend/components/domains/step-code/drawings-warning.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

BPHH-2252 update role of user on any re-invite
  app/frontend/components/shared/base/inputs/user-input.tsx
  app/services/jurisdiction/user_inviter.rb
Due: prettier --write, eslint, stree --write

reenable edit on non preview blocks for copying to preview
  app/controllers/api/requirement_blocks_controller.rb
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/block-setup.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
  app/frontend/components/domains/requirements-library/requirements-library-drawer.tsx
  app/frontend/components/shared/select/block-visibility-select.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/requirement-block-store.ts
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

refactor existing tables
  app/controllers/api/step_code_checklists_controller.rb
  app/controllers/api/step_codes_controller.rb
  app/frontend/components/domains/step-code/import.tsx
  app/models/part_9_step_code/building_characteristics_summary.rb
  app/models/part_9_step_code/checklist.rb
  app/models/part_9_step_code/data_entry.rb
  app/models/step_code.rb
  app/policies/part_9_step_code/checklist_policy.rb
  app/services/external_permit_application_service.rb
  app/services/step_code/compliance/check_requirements/energy/base.rb
  app/services/step_code/compliance/check_requirements/zero_carbon/base.rb
  db/migrate/20241029223207_update_step_code_tables.rb
  db/schema.rb
  package-lock.json
Due: prettier --write, eslint, stree --write

fixes and improvements for early access requirement blocks
  app/frontend/components/domains/requirements-library/block-setup-options-menu.tsx
  app/frontend/components/domains/requirements-library/grid-header.tsx
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/components/domains/requirements-library/requirement-blocks-table.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/block-setup.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
  app/frontend/components/domains/requirements-library/requirements-library-drawer.tsx
  app/frontend/components/shared/select/block-visibility-select.tsx
  app/frontend/models/requirement-block.ts
  app/frontend/stores/early-access-requirement-block-store.ts
  app/frontend/stores/requirement-block-store.ts
  app/frontend/utils/utility-functions.ts
  app/models/requirement_block.rb
Due: prettier --write, eslint, stree --write

add more accurate pin error message
  app/controllers/api/geocoder_controller.rb
  config/locales/en.yml
Due: stree --write

BPHH-2322 add data migration to save all users regenerating preference
  db/data/20241104163503_save_users_for_preference_regen.rb
Due: stree --write

Add db models for part 3 step code
  app/models/concerns/form_supporting_documents.rb
  app/models/part_3_step_code.rb
  app/models/part_3_step_code/checklist.rb
  app/models/part_3_step_code/document_reference.rb
  app/models/part_3_step_code/energy_output.rb
  app/models/part_3_step_code/fuel_type.rb
  app/models/part_3_step_code/make_up_air_fuel.rb
  app/models/part_3_step_code/occupancy_classification.rb
  app/models/part_9_step_code.rb
  app/models/part_9_step_code/building_characteristics_summary.rb
  app/models/part_9_step_code/checklist.rb
  app/models/part_9_step_code/data_entry.rb
  app/models/step_code.rb
  db/data/20241101162203_update_step_code_types.rb
  db/data_schema.rb
  db/migrate/20241030222657_create_part_3_step_code_tables.rb
  db/migrate/20241031235633_add_type_to_step_codes.rb
  db/schema.rb
Due: stree --write

Fix loading error and part 9 step code specs
  app/models/part_3_step_code/checklist.rb
  app/models/part_3_step_code/document_reference.rb
  app/models/part_3_step_code/energy_output.rb
  app/models/part_3_step_code/fuel_type.rb
  app/models/part_3_step_code/make_up_air_fuel.rb
  app/models/part_3_step_code/occupancy_classification.rb
  app/models/part_9_step_code/building_characteristics_summary.rb
  app/models/part_9_step_code/checklist.rb
  app/models/part_9_step_code/data_entry.rb
  spec/factories/part_9_step_code/checklists.rb
  spec/factories/part_9_step_codes.rb
  spec/factories/step_code_checklists.rb
  spec/factories/step_code_data_entries.rb
  spec/factories/step_codes.rb
  spec/models/part_9_step_code_spec.rb
  spec/services/step_code/compliance/check_requirements/energy/airtightness_spec.rb
  spec/services/step_code/compliance/check_requirements/energy/meui_spec.rb
  spec/services/step_code/compliance/check_requirements/energy/tedi_spec.rb
  spec/services/step_code/compliance/check_requirements/zero_carbon/co2_spec.rb
  spec/services/step_code/compliance/check_requirements/zero_carbon/ghg_spec.rb
  spec/services/step_code/compliance/check_requirements/zero_carbon/prescriptive_spec.rb
  spec/services/step_code/compliance/propose_step/base_spec.rb
Due: stree --write

initial structure of versioned calcualtions and failing specs
  app/controllers/api/step_codes_controller.rb
  app/services/step_code/compliance/check_requirements/zero_carbon/co2.rb
  app/services/step_code/compliance/check_requirements/zero_carbon/ghg.rb
  app/services/step_code/compliance/check_requirements/zero_carbon/prescriptive.rb
  app/services/step_code/part_3/v0/compliance/generate_reports.rb
  app/services/step_code/part_3/v1/check_requirements/base.rb
  app/services/step_code/part_3/v1/compliance/generate_reports.rb
  app/services/step_code/part_3/v1/generate_requirements/base.rb
  app/services/step_code/part_3/v1/propose_step/base.rb
  app/services/step_code/part_9/data_entry_from_hot2000.rb
  app/services/step_code/part_9/data_entry_hot2000_mapper.rb
  app/services/step_code/part_9/meui_references_seeder.rb
  app/services/step_code/part_9/references.rb
  app/services/step_code/part_9/tedi_references_seeder.rb
  db/schema.rb
  db/seeds.rb
  lib/tasks/seed_prod.rake
  spec/services/step_code/compliance/check_requirements/energy/meui_spec.rb
  spec/services/step_code/compliance/check_requirements/energy/tedi_spec.rb
  spec/services/step_code/part_3/v0/compliance/generate_reports_spec.rb
  spec/services/step_code/part_3/v1/compliance/generate_reports_spec.rb
  spec/spec_helper.rb
Due: stree --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
