Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

fix dummy models in specs
  spec/concerns/validate_url_attributes_spec.rb
Due: stree --write

HUB 1046 updated the PR review changes fixed schema conflict
  app/policies/permit_application_policy.rb
  db/migrate/20250616204159_add_designated_reviewer_to_jurisdictions.rb
  db/migrate/20250616210003_set_default_designated_reviewer_for_jurisdictions.rb
  db/schema.rb
Due: stree --write

disable file selection in dummy file input
  app/frontend/components/domains/requirements-library/requirement-field-display/generic-field-display.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB 3248 updated contact types list and resolved the PR review changes
  app/frontend/components/shared/form/input-form-control.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/types.ts
  config/locales/en.yml
Due: prettier --write, eslint

implement workaround for step code deletion
  app/frontend/components/domains/step-code/part-9/restart-confirmation-modal.tsx
  app/frontend/stores/step-code-store.ts
Due: prettier --write, eslint

add fuel types to seeds and fix zerocarbon coloring
  app/frontend/components/domains/step-code/part-3/form-section/step-code-summary/step-code-performance/step-code-occupancy/zero-carbon.tsx
  app/frontend/i18n/i18n.ts
  app/services/permit_classification_seeder.rb
  db/seeds.rb
Due: prettier --write, eslint, stree --write

HUB 3156 updated the MR with instructions field to display for all users
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/generic-field-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/index.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/edit-box.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/editable-group.tsx
  app/frontend/components/shared/chefs/index.tsx
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/types/api-request.ts
  app/frontend/types/types.ts
  app/services/requirement_form_json_service.rb
Due: prettier --write, eslint, stree --write

UI validation, defaulting, display,rounding etc fixes for step code part 3
  app/frontend/components/domains/step-code/part-3/form-section/baseline-performance.tsx
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/annual-energy-whole-building-grid.tsx
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/modelled-energy-outputs-grid.tsx
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/step-code-building-portions-grid.tsx
  app/frontend/components/domains/step-code/part-3/form-section/performance-characteristics.tsx
  app/frontend/components/domains/step-code/part-3/form-section/step-code-summary/mixed-use/step-code-portions.tsx
  app/models/part_3_step_code/energy_output.rb
  lib/tasks/restore_step_code.rake
Due: prettier --write, eslint, stree --write

add helper to jurisdiciton checks that doesnt cause 404
  app/models/user.rb
  app/policies/collaborator_policy.rb
  app/policies/external_api_key_policy.rb
  app/policies/integration_mapping_policy.rb
  app/policies/jurisdiction_policy.rb
  app/policies/permit_application_policy.rb
  app/policies/template_version_policy.rb
Due: stree --write

improve pdf generation idempotency, error handling, and rendering
  app/blueprints/permit_application_blueprint.rb
  app/frontend/models/permit-application.ts
  app/frontend/ssr/ssr.tsx
  app/frontend/types/types.ts
  app/jobs/zipfile_job.rb
  app/models/submission_version.rb
Due: prettier --write, eslint, stree --write

validate required steps
  app/models/permit_type_required_step.rb
Due: stree --write

change copy for back to inbox buttons
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

fix step code factories
  spec/factories/part_3_step_codes.rb
  spec/factories/part_9_step_codes.rb
  spec/factories/step_codes.rb
  spec/models/permit_application_spec.rb
Due: stree --write

change phase filter to a list
  app/controllers/api/concerns/search/permit_projects.rb
  app/frontend/components/domains/permit-project/phase-filter.tsx
  app/frontend/components/domains/permit-project/projects-table.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-project.ts
  app/frontend/stores/permit-project-store.ts
  app/frontend/types/types.ts
Due: prettier --write, eslint, stree --write

add project phase description
  app/frontend/models/permit-project.ts
Due: prettier --write, eslint

add phase description and optimized nested permit applicaiton load
  app/blueprints/permit_project_blueprint.rb
  app/controllers/api/concerns/search/permit_projects.rb
  app/controllers/api/permit_projects_controller.rb
  app/frontend/components/domains/permit-project/projects-table.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-project.ts
  app/models/permit_application.rb
  app/models/permit_project.rb
Due: prettier --write, eslint, stree --write

skip over exisitng panumbers and use jurisdiction lock in creation
  app/models/permit_application.rb
Due: stree --write

WIP public pages
  app/frontend/components/domains/onboarding/onboarding-checklist-page-for-lg-adopting-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

development of step code lookup tool and integration
  app/blueprints/permit_type_required_step_blueprint.rb
  app/frontend/components/domains/jurisdictions/step-code-requirements-screen.tsx
  app/frontend/components/domains/landing/index.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/project-readiness-tools/index.tsx
  app/frontend/components/domains/project-readiness-tools/look-up-step-codes-requirements-for-your-project.tsx
  app/frontend/components/domains/project-readiness-tools/step-code-lookup-tool.tsx
  app/frontend/components/shared/base/footer.tsx
  app/frontend/components/shared/select/selectors/step-code-lookup-address-select.tsx
  app/frontend/components/shared/step-code-address-search/index.tsx
  app/frontend/components/shared/step-code-requirements-table.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/types.ts
Due: prettier --write, eslint, stree --write

touch up unused variables and repeated method
  app/frontend/components/domains/permit-project/new-permit-project-screen.tsx
  app/frontend/components/domains/permit-project/permit-project-screen.tsx
  app/frontend/components/domains/step-code/part-3/index.tsx
  app/frontend/components/shared/permit-projects/permit-project-card.tsx
  app/frontend/stores/permit-project-store.ts
Due: prettier --write, eslint

remove duplicate step code params
  app/controllers/api/part_3_building/step_codes_controller.rb
Due: stree --write

refactor file trnasformer
  app/blueprints/project_document_blueprint.rb
  app/blueprints/requirement_document_blueprint.rb
  app/blueprints/transformers/file_attachment_transformer.rb
Due: stree --write

useJurisdiciton and delegate activityName
  app/blueprints/permit_type_required_step_blueprint.rb
  app/frontend/components/domains/jurisdictions/step-code-requirements-screen.tsx
  app/frontend/components/shared/step-code-requirements-table.tsx
  app/frontend/types/types.ts
  app/models/permit_type_required_step.rb
Due: prettier --write, eslint, stree --write

fix instructions in schema
  db/schema.rb
Due: stree --write

add contact type to schema
  db/schema.rb
Due: stree --write

bump vite
  package-lock.json
  package.json
Due: none

Updated the copy and formatting
  app/frontend/components/domains/onboarding/onboarding-checklist-page-for-lg-adopting-screen.tsx
  app/frontend/i18n/i18n.ts
  public/images/whats-coming-next.jpeg
Due: prettier --write, eslint

Updated the copy and formatting
  app/frontend/components/domains/onboarding/onboarding-checklist-page-for-lg-adopting-screen.tsx
Due: prettier --write, eslint

prevent double generation of PDFs
  app/jobs/pdf_generation_job.rb
Due: stree --write

copy updates for privacy page
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-3012 updated copy and links
  app/frontend/components/domains/misc/privacy-policy-screen.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/shared/base/footer.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-3311 handled the Check mark if inbox enabled for a jurisdiction
  app/frontend/components/shared/jurisdiction-search/index.tsx
Due: prettier --write, eslint

revert activity name logic to previous wip solution
  app/blueprints/permit_type_required_step_blueprint.rb
  app/models/permit_type_required_step.rb
Due: stree --write

set select options in part 9 fetch
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/index.tsx
  app/frontend/models/jurisdiction.ts
  app/frontend/stores/step-code-store.ts
Due: prettier --write, eslint

check collaborators when feature enabled
  app/policies/permit_application_policy.rb
Due: stree --write

HUB-3290 fixed requirement table design and 404 error
  app/frontend/components/domains/jurisdictions/step-code-requirements-screen.tsx
  app/frontend/components/domains/project-readiness-tools/index.tsx
  app/frontend/components/shared/step-code-address-search/index.tsx
  app/frontend/components/shared/step-code-requirements-table.tsx
Due: prettier --write, eslint

HUB 3006 onboarding page update for release 0.7
  app/frontend/components/domains/onboarding/onboarding-checklist-page-for-lg-adopting-screen.tsx
  app/frontend/i18n/i18n.ts
  public/images/whats-coming-next.jpeg
Due: prettier --write, eslint

set select options in part 9 fetch
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/index.tsx
  app/frontend/stores/step-code-store.ts
Due: prettier --write, eslint

modify project item delegations and migrations to reenable old permit application flow
  app/models/concerns/project_item.rb
  db/migrate/20250529185100_migrate_data_to_permit_projects_and_drop_old_columns.rb
  db/migrate/20250616204159_add_designated_reviewer_to_jurisdictions.rb
  db/schema.rb
Due: stree --write

HUB-3477 created early access speficif warning message
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint
