Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

HUB-5551 specs
  spec/concerns/jurisdiction_permit_project_search_spec.rb
  spec/controllers/requirement_templates_controller_spec.rb
  spec/models/permit_project_spec.rb
Due: stree --write

HUB-5382 update step codes copy
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-5382 update reports step codes copy
  config/locales/reports.en.yml
Due: none

HUB-5604 HUB-5605 HUB-5607 HUB-5608 Assemble and send a revision package
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/shared/permit-applications/permit-application-submit-modal.tsx
  app/frontend/components/shared/permit-applications/requirement-form/index.tsx
  app/frontend/components/shared/revisions/resubmission-summary-box.tsx
  app/frontend/components/shared/revisions/review-and-submit-revised-application-screen.tsx
  app/frontend/utils/submission-change-summary.ts
Due: prettier --write, eslint

HUB-5169 use data-* opt out for scroll aware navbar
  app/frontend/components/domains/permit-application/submission-download-modal.tsx
  app/frontend/hooks/use-scroll-aware-nav-bar.ts
Due: prettier --write, eslint

HUB-5169 re-add configurations column
  app/frontend/components/domains/requirements-library/grid-header.tsx
  app/frontend/components/domains/requirements-library/requirement-blocks-table.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement-block-picker-search.ts
  app/frontend/stores/requirement-block-store.ts
  app/frontend/types/enums.ts
Due: prettier --write, eslint

HUB-5169 make drawer scrollable
  app/frontend/components/domains/requirements-library/requirements-library-drawer.tsx
Due: prettier --write, eslint

add template version awareness to download modal
  app/blueprints/supporting_document_blueprint.rb
  app/frontend/components/domains/permit-application/revision-sidebar.tsx
  app/frontend/components/domains/permit-application/submission-download-modal.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/types.ts
  app/views/permit_hub_mailer/notify_application_revisions_requested.html.erb
Due: prettier --write, eslint, stree --write

HUB-5559 tag spa pageviews with role and jurisdiction
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/matomo-spa-pageviews.tsx
  app/frontend/utils/matomo.ts
Due: prettier --write, eslint

Hub 5551 rm submissions custom menu for permit dropdown individual permit types nested within categories (#1968)
  app/controllers/api/concerns/search/jurisdiction_permit_projects.rb
  app/controllers/api/requirement_templates_controller.rb
  app/models/permit_project.rb
  db/data/20260921213900_reindex_permit_projects_for_inbox_template_ids.rb
  spec/concerns/jurisdiction_permit_project_search_spec.rb
  spec/controllers/requirement_templates_controller_spec.rb
  spec/models/permit_project_spec.rb
Due: stree --write

Hub 5382 bug bash step codes requirements page for a jurisdiction uses the singular step code instead of the plural step codes 🐛 (#1969)
  app/frontend/i18n/i18n.ts
  config/locales/reports.en.yml
Due: prettier --write, eslint

Revert "HUB-5169 re-add configurations column"
  app/frontend/components/domains/requirements-library/grid-header.tsx
  app/frontend/components/domains/requirements-library/requirement-blocks-table.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement-block-picker-search.ts
  app/frontend/stores/requirement-block-store.ts
  app/frontend/types/enums.ts
Due: prettier --write, eslint

HUB-5169 keep tooltip in associations column
  app/frontend/components/domains/question-bank/grid-header.tsx
  app/frontend/components/domains/requirements-library/grid-header.tsx
  app/frontend/components/domains/requirements-library/requirement-blocks-table.tsx
Due: prettier --write, eslint

Various accuracy fixes to the step code print reports
  app/frontend/components/print/__tests__/fixtures/part9-populated.json
  app/frontend/components/print/report-content.tsx
  app/frontend/components/print/step-code/part-9/sections/building-characteristics-summary/dynamic-characteristics-grid/ventilation.tsx
  app/frontend/components/print/step-code/part-9/sections/energy-performance-compliance/index.tsx
  app/frontend/components/print/step-code/part-9/sections/energy-step-compliance/compliance-grid/airtightness.tsx
  app/frontend/components/print/step-code/part-9/sections/zero-carbon-step-compliance/compliance-grid/prescriptive.tsx
  app/frontend/utils/__tests__/round-metric.test.mjs
  app/frontend/utils/utility-functions.ts
  spec/services/print_reports_renderer_spec.rb
Due: prettier --write, eslint, stree --write

Restore application identity on PDF covers
  app/frontend/components/print/README.md
  app/frontend/components/print/components/report-cover.tsx
  app/frontend/components/print/permit-application/report-data.ts
  app/frontend/components/print/styles/print.css
  app/services/print_reports/data.rb
  spec/services/print_reports_data_spec.rb
  spec/services/print_reports_renderer_spec.rb
Due: prettier --write, eslint, stree --write

Limit ZIP attachment lookup to file fields
  app/services/supporting_documents_zipper.rb
  spec/services/supporting_documents_zipper_spec.rb
Due: stree --write

create submitter and applicant responses as notes
  app/blueprints/note_blueprint.rb
  app/blueprints/permit_project_blueprint.rb
  app/controllers/api/permit_applications_controller.rb
  app/controllers/api/permit_projects/notes_controller.rb
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-notes-tab.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-project-detail-screen.tsx
  app/frontend/components/domains/permit-project/permit-project-screen.tsx
  app/frontend/components/domains/permit-project/project-notes-tab-panel-content.tsx
  app/frontend/components/shared/notes/note-card.tsx
  app/frontend/components/shared/notes/project-notes-list.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/note.ts
  app/frontend/stores/note-store.ts
  app/frontend/types/enums.ts
  app/models/concerns/permit_application_status.rb
  app/models/note.rb
  app/models/submission_version.rb
  db/migrate/20260924181500_move_revision_messages_to_notes.rb
  db/schema.rb
  spec/models/note_spec.rb
  spec/requests/api/notes_spec.rb
  spec/requests/api/permit_applications_spec.rb
Due: prettier --write, eslint, stree --write

hide reviewer name and fix editor box
  app/blueprints/note_blueprint.rb
  app/controllers/api/permit_projects/notes_controller.rb
  app/controllers/api/project_meetings/notes_controller.rb
  app/controllers/api/project_meetings_controller.rb
  app/frontend/components/domains/permit-application/revision-sidebar.tsx
  app/frontend/components/shared/revisions/resubmission-summary-box.tsx
  app/frontend/components/shared/revisions/review-and-send-requests-screen.tsx
  app/frontend/components/shared/revisions/review-and-submit-revised-application-screen.tsx
  app/frontend/i18n/i18n.ts
  app/models/note.rb
  app/models/submission_version.rb
  app/services/notes_export_service.rb
  app/views/permit_hub_mailer/notify_application_revisions_requested.html.erb
  spec/models/note_spec.rb
  spec/requests/api/notes_spec.rb
  spec/requests/api/permit_applications_spec.rb
Due: prettier --write, eslint, stree --write

Hub 5169 admin panel permit templates catalog edit template add requirement dialog cutoff at top (#1973)
  app/frontend/components/domains/permit-application/submission-download-modal.tsx
  app/frontend/components/domains/question-bank/grid-header.tsx
  app/frontend/components/domains/requirements-library/grid-header.tsx
  app/frontend/components/domains/requirements-library/requirement-blocks-table.tsx
  app/frontend/components/domains/requirements-library/requirements-library-drawer.tsx
  app/frontend/hooks/use-scroll-aware-nav-bar.ts
Due: prettier --write, eslint

HUB-5559 tag spa pageviews with role and jurisdiction (#1977)
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/matomo-spa-pageviews.tsx
  app/frontend/utils/matomo.ts
Due: prettier --write, eslint

HUB-5560 fire login start, success, and fail from the hub spa
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/matomo-auth-funnel.tsx
  app/frontend/components/shared/auth/login-forms.tsx
  app/frontend/stores/ui-store.ts
Due: prettier --write, eslint

HUB-5560 add matomo auth event helpers
  app/frontend/models/user.ts
  app/frontend/utils/matomo.ts
Due: prettier --write, eslint

HUB-5560 pass allowlisted login fail reasons to the login redirect
  app/controllers/api/omniauth_callbacks_controller.rb
  config/routes.rb
  spec/requests/api/omniauth_callbacks_spec.rb
Due: stree --write

HUB-5571 Accept applicant notes when requesting revisions
  app/controllers/external_api/permit_applications_controller.rb
  app/models/note.rb
Due: stree --write

HUB-5571 Accept applicant notes when requesting revisions
  app/models/note.rb
  app/services/external_api/apply_revision_requests.rb
  db/migrate/20260928105100_allow_null_user_on_notes.rb
  db/schema.rb
  spec/models/note_spec.rb
  spec/requests/external_api/v2/permit_applications_controller_spec.rb
  spec/requests/external_api/v2/permit_applications_spec.rb
  spec/services/external_api/apply_revision_requests_spec.rb
  swagger/external_api/v2/swagger.yaml
Due: stree --write

HUB-5640 Gate missing notification preferences in profile settings
  app/blueprints/preference_blueprint.rb
  app/controllers/api/users_controller.rb
  app/frontend/components/domains/users/profile-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/user.ts
  app/services/notification_service.rb
  db/migrate/20260928114600_add_missed_notification_preferences.rb
  db/schema.rb
  spec/services/notification_service_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5551 Keep draft permit types in project-scoped inbox filters
  app/controllers/api/requirement_templates_controller.rb
Due: stree --write

Pin json to 2.21 so schema load works on Rails 7.2
  Gemfile
  Gemfile.lock
Due: none

HUB-5571 Show last updated date on external API docs
  spec/swagger_helper.rb
  swagger/external_api/v1/swagger.yaml
  swagger/external_api/v2/swagger.yaml
Due: stree --write

Use rubyzip 3 create flag when zipping supporting documents
  app/services/supporting_documents_zipper.rb
Due: stree --write

lates clam av changes added
  devops/helm-charts/clamav/MULTI_POD_SETUP.md
  devops/helm-charts/clamav/templates/cronjob.yaml
  devops/helm-charts/clamav/templates/deployment.yaml
  devops/helm-charts/clamav/templates/pvc.yaml
  devops/helm-charts/clamav/templates/service.yaml
  devops/helm-charts/clamav/values-dev.yaml
  devops/helm-charts/clamav/values-test.yaml
  devops/helm-charts/clamav/values.yaml
  devops/helm-charts/matomo-openshift-chart/values.yaml
Due: none

HUB-5560 tidy matomo login funnel hook and provider label
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/hooks/use-matomo-auth-funnel.ts
  app/frontend/models/user.ts
  app/frontend/stores/root-store.ts
  app/frontend/stores/session-store.ts
  app/frontend/stores/ui-store.ts
Due: prettier --write, eslint

HUB-5581 Use application number, reference number, and project number in labels
  app/frontend/components/domains/overheating-code/form-section/introduction.tsx
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/components/domains/permit-project/permit-application-grid-headers.tsx
  app/frontend/i18n/i18n.ts
  app/services/step_code_export_service.rb
  app/views/permit_hub_mailer/02a_notify_reviewer_application_received_email.html.erb
  app/views/permit_hub_mailer/03_competion_of_assigned_checklist_email.html.erb
  app/views/permit_hub_mailer/05_notify_reviewer_assignment.html.erb
  app/views/permit_hub_mailer/12_remind_submitter_email.html.erb
  app/views/permit_hub_mailer/notify_application_revisions_requested.html.erb
  app/views/permit_hub_mailer/notify_project_review_collaboration.erb
  app/views/permit_hub_mailer/notify_review_started.html.erb
  app/views/permit_hub_mailer/notify_reviewer_application_received.html.erb
  app/views/permit_hub_mailer/notify_submitter_application_submitted.html.erb
  app/views/permit_hub_mailer/postdrop_io/_postdrop template generic html.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/02a notify reviewer application recieved.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/02b notify submitter application submitted.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/03 completion of assigned checklist section.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/04 notify application updated.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/05 notify of assignment.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/13 reminder reviewer - still not downloaded.txt
  app/views/permit_hub_mailer/remind_reviewer.html.erb
  spec/services/step_code_export_service_spec.rb
Due: prettier --write, eslint, stree --write
