Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

HUB-4215 commit schema changes
  db/schema.rb
Due: stree --write

HUB-4215 add handling for release note publish notifications
  app/frontend/stores/notification-store.ts
Due: prettier --write, eslint

HUB-4215 enable in-app release note publish notification in user preferences
  app/controllers/api/users_controller.rb
Due: stree --write

HUB-4215 display version for breadcrumb instead of id
  app/frontend/components/domains/super-admin/site-configuration-management/release-note-form-screen.tsx
Due: prettier --write, eslint

HUB-4215 add spec for publish_event_notification_data method
  spec/models/release_note_spec.rb
Due: stree --write

HUB-4215 add specs for publish_release_note_publish_event method
  spec/services/notification_service_spec.rb
Due: stree --write

HUB-4215 add enable_in_app_release_note_publish_notification to preference blueprint
  app/blueprints/preference_blueprint.rb
Due: stree --write

HUB-4215 reset current release note to clear breadcrumb
  app/frontend/components/domains/super-admin/site-configuration-management/release-notes-screen.tsx
Due: prettier --write, eslint

HUB-4215 trigger notification for published release notes
  app/controllers/api/release_notes_controller.rb
Due: stree --write

HUB-4215 update notification service spec to validate payload structure for release note publish events
  spec/services/notification_service_spec.rb
Due: stree --write

prevent losing tempfiles before completion of zipper job
  app/services/supporting_documents_zipper.rb
  spec/services/supporting_documents_zipper_spec.rb
Due: stree --write

set defaults for map position
  db/data/20260514165341_update_map_positions.rb
  db/migrate/20260514120000_default_map_position_to_origin_on_jurisdictions.rb
Due: stree --write

remove dependence on sandbox for qa tools
  app/frontend/components/domains/navigation/qa-tools-popout.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

add qa tools feature flag
  app/blueprints/site_configuration_blueprint.rb
  app/controllers/api/site_configuration_controller.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/global-feature-access.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/site-configuration-store.ts
  app/frontend/types/api-request.ts
  app/models/site_configuration.rb
  app/policies/permit_application_policy.rb
  app/services/permit_application/form_json_service.rb
  config/locales/en.yml
  db/data/20260515001609_back_fill_template_version_counters.rb
  db/data_schema.rb
  db/migrate/20251008184807_add_customizations_count_to_template_versions.rb
  db/schema.rb
  db/seeds.rb
  spec/models/site_configuration_spec.rb
Due: prettier --write, eslint, stree --write

HUB-4215 all users receive notifications when release notes published (#1694)
  app/blueprints/preference_blueprint.rb
  app/controllers/api/release_notes_controller.rb
  app/controllers/api/users_controller.rb
  app/frontend/components/domains/navigation/sub-nav-bar.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/release-note-form-screen.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/release-notes-screen.tsx
  app/frontend/stores/notification-store.ts
  app/frontend/stores/release-note-store.ts
  app/frontend/types/enums.ts
  app/models/release_note.rb
  app/services/constants/notification_action_types.rb
  app/services/notification_service.rb
  config/locales/en.yml
  db/migrate/20260512163028_add_release_note_notification_to_preference.rb
  db/schema.rb
  spec/models/release_note_spec.rb
  spec/requests/release_notes_spec.rb
  spec/services/notification_service_spec.rb
Due: prettier --write, eslint, stree --write

add feature flag for qa tools
  app/blueprints/site_configuration_blueprint.rb
  app/controllers/api/qa_tools_controller.rb
  app/controllers/api/site_configuration_controller.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/qa-tools-popout.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/global-feature-access.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/qa-tools-feature-access.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/site-configuration-store.ts
  app/frontend/types/api-request.ts
  app/models/site_configuration.rb
  app/policies/permit_application_policy.rb
  db/migrate/20260515165400_add_qa_tools_enabled_to_site_configurations.rb
  db/schema.rb
  db/seeds.rb
  spec/models/site_configuration_spec.rb
  spec/requests/api/qa_tools_spec.rb
Due: prettier --write, eslint, stree --write

copy on promote EA draft and update labels
  app/frontend/components/domains/requirement-template/screens/template-version-screen.tsx
  app/frontend/i18n/i18n.ts
  app/services/template_versioning_service.rb
  db/schema.rb
  spec/controllers/requirement_templates_controller_spec.rb
  spec/services/template_versioning_service_spec.rb
Due: prettier --write, eslint, stree --write

add go to builder button
  app/frontend/components/domains/requirement-template/screens/template-version-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

force 16 by 9 aspect ratio on video
  app/frontend/components/domains/help-videos/help-video-screen.tsx
Due: prettier --write, eslint

HUB-4744 add auditing for permit project collaboration model
  app/models/permit_project_collaboration.rb
Due: stree --write

HUB-4744 include state and viewed_at changes in audits
  app/models/permit_project.rb
Due: stree --write

HUB-4744 audit submission versions for changes to viewed_at
  app/models/submission_version.rb
Due: stree --write

loosen vcr matching to get around new url encoded query param match behaviour
  spec/services/automated_compliance/historic_site_spec.rb
  spec/services/automated_compliance/parcel_info_extractor_spec.rb
  spec/services/wrappers/geocoder_spec.rb
Due: stree --write

fix schema version
  db/schema.rb
Due: stree --write

show error box on sandbox mismatch
  app/frontend/components/domains/permit-project/new-permit-project-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

add anonymous crossorigin for video files
  app/frontend/components/domains/help-videos/help-video-screen.tsx
Due: prettier --write, eslint

HUB-4744 exclude redundant viewed_at transitions from permit project audits
  app/models/application_audit.rb
Due: stree --write

HUB-4744 refactor viewed_at handling in permit applications to use version methods for marking read/unread
  app/models/permit_application.rb
Due: stree --write

HUB-4744 improve viewed_at update logic in permit project model to prevent unnecessary updates
  app/models/permit_project.rb
Due: stree --write

HUB-4744 add mark_read! and clear_read! methods to manage viewed_at state in submission versions
  app/models/submission_version.rb
Due: stree --write

HUB-4744 preload project collaborations and submission versions
  app/models/concerns/activity_feed_preloader.rb
Due: stree --write

HUB-4744 exclude reviewer-only project updates and specific audit types based on role
  app/models/concerns/audit_role_filter.rb
Due: stree --write

HUB-4744 add helper for formatting project audit changes
  app/presenters/project_audit_formatters/changes_helper.rb
Due: stree --write

HUB-4744 include helper module in base formatter
  app/presenters/project_audit_formatters/base_formatter.rb
Due: stree --write

HUB-4744 implement formatter for project collaboration audits
  app/presenters/project_audit_formatters/permit_project_collaboration_formatter.rb
Due: stree --write

HUB-4744 add submission version audit formatter
  app/presenters/project_audit_formatters/submission_version_formatter.rb
Due: stree --write

HUB-4744 add new action messages and permit state/status values
  config/locales/en.yml
Due: none
