Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

add climate zone models and configuration
  app/blueprints/jurisdiction_blueprint.rb
  app/blueprints/jurisdiction_climate_zone_blueprint.rb
  app/controllers/api/jurisdictions_controller.rb
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/climate-zones-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/jurisdiction.ts
  app/frontend/types/types.ts
  app/models/jurisdiction.rb
  app/models/jurisdiction_climate_zone.rb
  db/migrate/20260223185028_create_jurisdiction_climate_zones.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

HUB-4622 Look up & About Page | part 3 step code update
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/components/domains/jurisdictions/step-code-requirements-screen.tsx
  app/frontend/components/shared/part3-step-code-requirements.tsx
  app/frontend/components/shared/step-code-requirements-table.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

update other occupancy to match mercantile
  app/services/constants/part_3_step_code.rb
Due: stree --write

add step code seeder with templates and instructions email
  data/step_code_seed/INSTRUCTIONS_EMAIL.md
  data/step_code_seed/example-climate-zones.csv
  data/step_code_seed/example-step-requirements.csv
  lib/tasks/step_code_seed.rake
Due: none

convert climate zones into enum
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/climate-zones-screen.tsx
Due: prettier --write, eslint

HUB-4323 integrated VCR cassette method to call yml files to simulate the HTTP calls
  spec/services/wrappers/archistar_spec.rb
  spec/services/wrappers/geocoder_spec.rb
  spec/services/wrappers/ltsa_parcel_map_bc_gis_spec.rb
  spec/services/wrappers/ltsa_parcel_map_bc_spec.rb
  spec/support/vcr_setup.rb
  spec/vcr_cassettes/wrappers/archistar/comply_certificates.yml
  spec/vcr_cassettes/wrappers/archistar/create_submission.yml
  spec/vcr_cassettes/wrappers/archistar/get_submission_analytics_invalid_real.yml
  spec/vcr_cassettes/wrappers/archistar/get_submission_invalid_real.yml
  spec/vcr_cassettes/wrappers/archistar/get_submission_pdf_report.yml
  spec/vcr_cassettes/wrappers/geocoder/pids.yml
  spec/vcr_cassettes/wrappers/geocoder/pids_real.yml
  spec/vcr_cassettes/wrappers/geocoder/site_options_nearest.yml
  spec/vcr_cassettes/wrappers/geocoder/site_options_raw_real.yml
  spec/vcr_cassettes/wrappers/geocoder/site_options_with_subsites.yml
  spec/vcr_cassettes/wrappers/ltsa_parcel_map_bc/get_coordinates_by_pid_failure.yml
  spec/vcr_cassettes/wrappers/ltsa_parcel_map_bc/get_coordinates_by_pid_invalid_real.yml
  spec/vcr_cassettes/wrappers/ltsa_parcel_map_bc/get_feature_attributes_by_pid_failure.yml
  spec/vcr_cassettes/wrappers/ltsa_parcel_map_bc/get_feature_attributes_by_pid_invalid_real.yml
  spec/vcr_cassettes/wrappers/ltsa_parcel_map_bc/get_feature_attributes_by_pid_real.yml
  spec/vcr_cassettes/wrappers/ltsa_parcel_map_bc/get_feature_attributes_by_pid_success.yml
  spec/vcr_cassettes/wrappers/ltsa_parcel_map_bc_gis/search_pid_from_coordinates.yml
  spec/vcr_cassettes/wrappers/ltsa_parcel_map_bc_gis/search_pin_from_coordinates.yml
Due: stree --write

add stub for geo parcelmap in pr workflow
  .github/workflows/pull-request.yml
Due: none

update processing of newer requirements in external API
  app/services/external_permit_application_service.rb
  config/locales/en.yml
  db/data/20250620230025_update_sandbox_descriptions.rb
Due: stree --write

fix zc retail levels
  app/services/step_code/part_3/v0/requirements/references/zero_carbon.rb
Due: stree --write

add date input for date based conditionals
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/block-conditional-config.tsx
Due: prettier --write, eslint

HUB-4322 step code calculation and compliance services RSpec
  app/services/step_code/part_3/v0/requirements/baseline.rb
  app/services/step_code/part_3/v0/requirements/references/zero_carbon.rb
  spec/services/step_code/building_characteristics/base_spec.rb
  spec/services/step_code/building_characteristics/fossil_fuels_spec.rb
  spec/services/step_code/building_characteristics/line/base_spec.rb
  spec/services/step_code/building_characteristics/line/space_heating_cooling_spec.rb
  spec/services/step_code/building_characteristics/validator_spec.rb
  spec/services/step_code/building_characteristics/with_performance_type_spec.rb
  spec/services/step_code/compliance/generate_reports_spec.rb
  spec/services/step_code/part_3/v0/lookup_requirements_spec.rb
  spec/services/step_code/part_3/v0/requirements/baseline_spec.rb
  spec/services/step_code/part_3/v0/requirements/references/climate_zone_spec.rb
  spec/services/step_code/part_3/v0/requirements/references/energy_spec.rb
  spec/services/step_code/part_3/v0/requirements/references/zero_carbon_spec.rb
  spec/services/step_code/part_3/v0/requirements/step_code_occupancy_spec.rb
  spec/services/step_code/part_3/v0/requirements/step_code_spec.rb
  spec/services/step_code/part_3/v0/requirements/whole_building_spec.rb
  spec/services/step_code/part_3/v0/seeders/jurisdiction_hdd_spec.rb
  spec/services/step_code/part_3/v1/evaluate_performance_spec.rb
  spec/services/step_code/part_3/v1/performance/adjusted_results_spec.rb
  spec/services/step_code/part_3/v1/performance/corridor_pressurization_adjustment_spec.rb
  spec/services/step_code/part_3/v1/performance/energy_step_achieved_spec.rb
  spec/services/step_code/part_3/v1/performance/overall_compliance_spec.rb
  spec/services/step_code/part_3/v1/performance/results_as_modelled_spec.rb
  spec/services/step_code/part_3/v1/performance/suite_sub_metering_adjustment_spec.rb
  spec/services/step_code/part_3/v1/performance/zero_carbon_step_achieved_spec.rb
  spec/services/step_code/part_9/data_entry_from_hot2000_spec.rb
  spec/services/step_code/part_9/data_entry_hot2000_mapper_spec.rb
  spec/services/step_code/part_9/references_spec.rb
  spec/support/shared_examples/part_3_step_code_compliance.rb
Due: stree --write

HUB-4329 RSpecs for mailer herlper and validator helper
  spec/helpers/application_helper_spec.rb
  spec/helpers/frontend_url_helper_spec.rb
  spec/helpers/html_validation_helper_spec.rb
  spec/helpers/site_configuration_helper_spec.rb
  spec/mailers/application_mailer_spec.rb
  spec/mailers/custom_devise_mailer_spec.rb
  spec/mailers/permit_hub_mailer_spec.rb
  spec/validators/phone_validator_spec.rb
Due: stree --write

update archive and warning emails
  app/mailers/permit_hub_mailer.rb
  app/models/user.rb
  app/views/permit_hub_mailer/user_archive_warning.html.erb
  app/views/permit_hub_mailer/user_delete_warning.html.erb
Due: stree --write

re-add schema file
  db/schema.rb
Due: stree --write

convert string decimal serving
  app/blueprints/jurisdiction_blueprint.rb
  app/frontend/components/domains/home/index.tsx
  app/frontend/components/domains/navigation/nav-bar-menu.tsx
  db/data/20250620230025_update_sandbox_descriptions.rb
  db/data/20260225233837_add_weather_location_to_jurisdiction.rb
  db/data_schema.rb
Due: prettier --write, eslint, stree --write

HUB-4325 RSpec for template and requirement services
  app/services/infrastructure/template_import_service.rb
  spec/services/infrastructure/template_export_service_spec.rb
  spec/services/infrastructure/template_import_service_spec.rb
  spec/services/permit_classification_seeder_spec.rb
  spec/services/permit_project_seeder_service_spec.rb
  spec/services/permit_type_required_step_seeder_spec.rb
  spec/services/requirement_form_json_service_spec.rb
  spec/services/requirement_template_copy_service_spec.rb
  spec/services/requirements_from_xlsx_seeder_spec.rb
  spec/services/revision_reason_seeder_spec.rb
  spec/services/template_reporting_service_spec.rb
Due: stree --write

bugfix route, breadcrumb, missing link
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/project-readiness-tools/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

fix failing conditional spec
  spec/services/requirement_form_json_service_spec.rb
Due: stree --write

debug back navigation and p3 step code setting loading
  app/frontend/components/domains/step-code/part-9/import.tsx
  app/frontend/components/domains/step-code/part-9/restart-confirmation-modal.tsx
  app/frontend/stores/permit-application-store.ts
  app/frontend/stores/step-code-store.ts
Due: prettier --write, eslint

part 3 navigation refactor stage 1, centralize into hook
  app/frontend/components/domains/step-code/nav-bar/part-3-nav-links.tsx
  app/frontend/components/domains/step-code/part-3/form-section/baseline-occupancies/baseline-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/baseline-occupancies/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/baseline-performance.tsx
  app/frontend/components/domains/step-code/part-3/form-section/contact.tsx
  app/frontend/components/domains/step-code/part-3/form-section/district-energy.tsx
  app/frontend/components/domains/step-code/part-3/form-section/document-references.tsx
  app/frontend/components/domains/step-code/part-3/form-section/fuel-types/additional-fuel-types.tsx
  app/frontend/components/domains/step-code/part-3/form-section/fuel-types/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/hvac.tsx
  app/frontend/components/domains/step-code/part-3/form-section/location-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/modelled-energy-outputs-grid.tsx
  app/frontend/components/domains/step-code/part-3/form-section/overheating-requirements.tsx
  app/frontend/components/domains/step-code/part-3/form-section/performance-characteristics.tsx
  app/frontend/components/domains/step-code/part-3/form-section/project-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/renewable-energy.tsx
  app/frontend/components/domains/step-code/part-3/form-section/requirements-summary/baseline-requirements.tsx
  app/frontend/components/domains/step-code/part-3/form-section/requirements-summary/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/requirements-summary/step-code-requirements.tsx
  app/frontend/components/domains/step-code/part-3/form-section/requirements-summary/whole-building-requirements.tsx
  app/frontend/components/domains/step-code/part-3/form-section/residential-adjustments/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/shared/form-footer.tsx
  app/frontend/components/domains/step-code/part-3/form-section/start-page.tsx
  app/frontend/components/domains/step-code/part-3/form-section/step-code-occupancies/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/step-code-occupancies/performance-requirements.tsx
  app/frontend/components/domains/step-code/part-3/form-section/step-code-summary/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/step-code-summary/mixed-use/step-code-portions.tsx
  app/frontend/components/domains/step-code/part-3/form-section/step-code-summary/mixed-use/whole-building/baseline.tsx
  app/frontend/components/domains/step-code/part-3/form-section/step-code-summary/mixed-use/whole-building/step-code.tsx
  app/frontend/components/domains/step-code/part-3/use-part-3-navigation.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-3-step-code-checklist.ts
  app/frontend/utils/utility-functions.ts
Due: prettier --write, eslint

part 3 navigation refactor stage 2, remove emit
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/step-code/nav-bar/index.tsx
  app/frontend/components/domains/step-code/nav-bar/part-3-nav-links.tsx
  app/frontend/components/domains/step-code/part-3/form-section/baseline-occupancies/baseline-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/baseline-occupancies/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/baseline-performance.tsx
  app/frontend/components/domains/step-code/part-3/form-section/contact.tsx
  app/frontend/components/domains/step-code/part-3/form-section/district-energy.tsx
  app/frontend/components/domains/step-code/part-3/form-section/document-references.tsx
  app/frontend/components/domains/step-code/part-3/form-section/fuel-types/additional-fuel-types.tsx
  app/frontend/components/domains/step-code/part-3/form-section/fuel-types/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/hvac.tsx
  app/frontend/components/domains/step-code/part-3/form-section/location-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/overheating-requirements.tsx
  app/frontend/components/domains/step-code/part-3/form-section/performance-characteristics.tsx
  app/frontend/components/domains/step-code/part-3/form-section/project-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/renewable-energy.tsx
  app/frontend/components/domains/step-code/part-3/form-section/requirements-summary/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/residential-adjustments/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/shared/form-footer.tsx
  app/frontend/components/domains/step-code/part-3/form-section/start-page.tsx
  app/frontend/components/domains/step-code/part-3/form-section/step-code-occupancies/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/step-code-occupancies/performance-requirements.tsx
  app/frontend/components/domains/step-code/part-3/form-section/step-code-summary/index.tsx
  app/frontend/stores/notification-store.ts
Due: prettier --write, eslint

part 3 navigation refactor stage 2, remove emit
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/step-code/nav-bar/index.tsx
  app/frontend/components/domains/step-code/nav-bar/part-3-nav-links.tsx
  app/frontend/components/domains/step-code/part-3/form-section/baseline-occupancies/baseline-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/baseline-occupancies/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/baseline-performance.tsx
  app/frontend/components/domains/step-code/part-3/form-section/contact.tsx
  app/frontend/components/domains/step-code/part-3/form-section/district-energy.tsx
  app/frontend/components/domains/step-code/part-3/form-section/document-references.tsx
  app/frontend/components/domains/step-code/part-3/form-section/fuel-types/additional-fuel-types.tsx
  app/frontend/components/domains/step-code/part-3/form-section/fuel-types/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/hvac.tsx
  app/frontend/components/domains/step-code/part-3/form-section/location-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/overheating-requirements.tsx
  app/frontend/components/domains/step-code/part-3/form-section/performance-characteristics.tsx
  app/frontend/components/domains/step-code/part-3/form-section/project-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/renewable-energy.tsx
  app/frontend/components/domains/step-code/part-3/form-section/requirements-summary/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/residential-adjustments/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/shared/form-footer.tsx
  app/frontend/components/domains/step-code/part-3/form-section/start-page.tsx
  app/frontend/components/domains/step-code/part-3/form-section/step-code-occupancies/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/step-code-occupancies/performance-requirements.tsx
  app/frontend/components/domains/step-code/part-3/form-section/step-code-summary/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/notification-store.ts
Due: prettier --write, eslint

update step code nav bar and welcome page
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/step-code/nav-bar/index.tsx
Due: prettier --write, eslint

add dat amigration to turn off all unstarted about pages
  db/data/20260310223422_turn_off_about_pages.rb
Due: stree --write

convert welcome menu item to about section link
  app/frontend/components/domains/navigation/menu-content/logged-out-menu-content.tsx
  app/frontend/components/domains/navigation/menu-content/review-manager-menu-content.tsx
  app/frontend/components/domains/navigation/menu-content/reviewer-menu-content.tsx
  app/frontend/components/domains/navigation/menu-content/submitter-menu-content.tsx
  app/frontend/components/domains/navigation/menu-content/super-admin-menu-content.tsx
  app/frontend/components/domains/navigation/menu-content/technical-support-menu-content.tsx
  app/frontend/components/domains/navigation/nav-bar-menu.tsx
Due: prettier --write, eslint

HUB-4202 filter by date
  app/blueprints/project_audit_blueprint.rb
  app/controllers/api/concerns/search/project_audits.rb
  app/controllers/api/project_audits_controller.rb
  app/models/application_audit.rb
  app/models/permit_application.rb
  app/models/permit_block_status.rb
  app/models/permit_collaboration.rb
  app/models/permit_project.rb
  app/policies/application_audit_policy.rb
  app/policies/deny_all_policy.rb
  app/policies/project_audit_policy.rb
  app/presenters/project_audit_presenter.rb
Due: stree --write

HUB-4673:revis temaple name and descriptions
  .github/pull_request_template.md
Due: none

update step code policies to allow collabs, add specs
  app/frontend/components/shared/keycloak/info-block.tsx
  app/models/permit_application.rb
  app/policies/step_code_policy.rb
  spec/controllers/api/step_codes_controller_spec.rb
  spec/policies/step_code_policy_spec.rb
Due: prettier --write, eslint, stree --write

use tip tap display for requiremnt field hint
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/jurisdiction-requirement-block-edit-sidebar.tsx
Due: prettier --write, eslint

HUB-4324 RSpec for core aplication services
  spec/services/external_permit_application_service_spec.rb
  spec/services/integration_mapping_service_spec.rb
  spec/services/notification_service_spec.rb
  spec/services/omniauth_user_resolver_spec.rb
  spec/services/permit_application/form_json_service_spec.rb
  spec/services/permit_application/submission_data_service_spec.rb
  spec/services/permit_application_export_service_spec.rb
  spec/services/permit_collaboration/collaboration_management_service_spec.rb
  spec/services/promote_user_spec.rb
  spec/services/user_context_spec.rb
  spec/services/virus_scan_service_spec.rb
  spec/services/websocket_broadcaster_spec.rb
Due: stree --write

HUB-4202 add soft deletes to permit collaborations
  app/controllers/api/permit_collaborations_controller.rb
  app/models/permit_application.rb
  app/models/permit_collaboration.rb
  db/migrate/20260223224336_install_audited.rb
  db/migrate/20260310000000_add_discarded_at_to_permit_collaborations.rb
  db/schema.rb
  spec/models/permit_collaboration_spec.rb
  spec/requests/api/permit_collaborations_spec.rb
Due: stree --write

HUB-4202 remove searchkick logic
  app/controllers/api/concerns/search/project_audits.rb
  app/controllers/api/project_audits_controller.rb
  app/models/application_audit.rb
  app/models/permit_project.rb
Due: stree --write

HUB-4202 remove unused presenter logic
  app/presenters/project_audit_presenter.rb
Due: stree --write

add CI stubs for two URLs
  .github/workflows/pull-request.yml
Due: none

update solargraph in gemfile
  Gemfile
Due: none

remove trailling slash from stub url
  .github/workflows/pull-request.yml
Due: none

Fixed failing spec for mailer spec
  spec/mailers/permit_hub_mailer_spec.rb
Due: stree --write

HUB-4202 add error handling for missing permit project
  app/controllers/api/project_audits_controller.rb
Due: stree --write

update lockfile
  Gemfile.lock
Due: none

HUB-4202 restrict audit visibility for submitters and review staff
  app/policies/project_audit_policy.rb
Due: stree --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
