Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

fix non low code scanning warnings and tab loading
  app/controllers/api/part_3_building/checklists_controller.rb
  app/controllers/concerns/step_code_params_concern.rb
  app/frontend/components/domains/permit-application/checklist-sidebar.tsx
  app/frontend/components/domains/permit-project/permit-project-screen.tsx
  app/frontend/components/domains/permit-project/sidebar-tab-list.tsx
  app/frontend/stores/permit-application-store.ts
Due: prettier --write, eslint, stree --write

allow unconfirmed user to view eula
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/permit-application/checklist-sidebar.tsx
Due: prettier --write, eslint

consolidate step code requirement table
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/components/domains/jurisdictions/step-code-requirements-screen.tsx
  app/frontend/components/shared/step-code-requirements-table.tsx
  app/frontend/types/types.ts
Due: prettier --write, eslint

fixes for pinning, visual style, etc
  app/blueprints/permit_project_blueprint.rb
  app/controllers/api/permit_projects_controller.rb
  app/frontend/components/domains/permit-project/grid-header.tsx
  app/frontend/components/domains/permit-project/permit-application-grid-headers.tsx
  app/frontend/components/domains/permit-project/permit-application-grid-row.tsx
  app/frontend/components/domains/permit-project/permit-project-screen.tsx
  app/frontend/components/domains/permit-project/permits-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/pinned-projects-grid.tsx
  app/frontend/components/domains/permit-project/project-grid-row.tsx
  app/frontend/components/domains/permit-project/projects-table.tsx
  app/frontend/components/domains/permit-project/requirement-template-filter.tsx
  app/frontend/components/shared/grid/grid-header.tsx
  app/frontend/components/shared/grid/search-grid.tsx
  app/frontend/components/shared/step-code-requirements-table.tsx
  app/frontend/hooks/resources/use-permit-project.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-project.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/permit-project-store.ts
  app/frontend/types/enums.ts
  db/seeds.rb
Due: prettier --write, eslint, stree --write

rename phase to rollupStatus
  app/blueprints/permit_project_blueprint.rb
  app/controllers/api/concerns/search/permit_projects.rb
  app/frontend/components/domains/permit-project/permit-project-screen.tsx
  app/frontend/components/domains/permit-project/project-grid-row.tsx
  app/frontend/components/domains/permit-project/projects-table.tsx
  app/frontend/components/domains/permit-project/rollup-status-filter.tsx
  app/frontend/components/shared/permit-projects/phase-icon.tsx
  app/frontend/components/shared/permit-projects/phase-tag.tsx
  app/frontend/components/shared/permit-projects/rollup-status-box.tsx
  app/frontend/components/shared/permit-projects/rollup-status-icon.tsx
  app/frontend/components/shared/permit-projects/rollup-status-tag.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-project.ts
  app/frontend/stores/permit-project-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/permit_project.rb
  db/migrate/20250805204531_rename_phase_to_rollup_status_in_permit_projects.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

add pa filters for projects
  app/controllers/api/concerns/search/project_permit_applications.rb
  app/frontend/components/domains/permit-project/index.tsx
  app/frontend/components/domains/permit-project/permits-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/projects-grid.tsx
  app/frontend/components/domains/permit-project/requirement-template-filter.tsx
  app/frontend/components/domains/permit-project/rollup-status-filter.tsx
  app/frontend/components/domains/permit-project/sidebar-tab-list.tsx
  app/frontend/components/domains/permit-project/status-filter.tsx
  app/frontend/components/shared/filters/checkbox-filter.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/permit-application-store.ts
Due: prettier --write, eslint, stree --write

fix permit application filters
  app/controllers/api/concerns/search/permit_applications.rb
  app/frontend/components/domains/permit-application/index.tsx
  app/frontend/components/domains/permit-application/permit-application-filters-menu.tsx
  app/frontend/components/shared/permit-applications/permit-application-status-tabs.tsx
  app/frontend/hooks/use-reset-query-params.ts
  app/frontend/stores/permit-application-store.ts
  app/policies/permit_application_policy.rb
Due: prettier --write, eslint, stree --write

HUB-3006 updated the mailto text and h3 headings
  app/frontend/components/domains/onboarding/onboarding-checklist-page-for-lg-adopting-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

fix up assigned reviewr logic
  app/frontend/components/domains/permit-application/collaborator-management/collaborators-sidebar.tsx
  app/frontend/components/domains/permit-application/collaborator-management/designated-collaborator-assignment-popover.tsx
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/revision-sidebar.tsx
  app/frontend/models/permit-application.ts
Due: prettier --write, eslint

improve permit grid UI
  app/blueprints/permit_project_blueprint.rb
  app/frontend/components/domains/permit-project/permits-tab-panel-content.tsx
  app/frontend/components/shared/grid/grid-header.tsx
  app/frontend/hooks/resources/use-permit-project.ts
  app/frontend/models/permit-project.ts
Due: prettier --write, eslint, stree --write

add fully loaded check for projects
  app/blueprints/permit_project_blueprint.rb
  app/frontend/hooks/resources/use-permit-project.ts
  app/frontend/models/permit-project.ts
Due: prettier --write, eslint, stree --write

fix and rename collab sidebar component
  app/frontend/components/domains/permit-application/collaborator-management/collaborators-sidebar.tsx
  app/frontend/components/domains/permit-application/collaborator-management/designated-collaborator-assignment-popover.tsx
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/revision-sidebar.tsx
  app/frontend/models/permit-application.ts
Due: prettier --write, eslint

add assignee filtering
  app/blueprints/collaborator_option_blueprint.rb
  app/blueprints/permit_application_blueprint.rb
  app/blueprints/permit_project_blueprint.rb
  app/controllers/api/concerns/search/project_permit_applications.rb
  app/controllers/api/permit_projects_controller.rb
  app/frontend/components/domains/permit-project/permit-application-grid-row.tsx
  app/frontend/components/domains/permit-project/permits-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/project-grid-row.tsx
  app/frontend/components/domains/permit-project/submission-delegatee-filter.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/collaborator.ts
  app/frontend/models/permit-project.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/collaborator-store.ts
  app/frontend/stores/permit-application-store.ts
  app/frontend/stores/permit-project-store.ts
  app/models/permit_application.rb
  app/models/permit_project.rb
  app/policies/permit_application_policy.rb
  app/policies/permit_project_policy.rb
  config/routes.rb
  db/seeds.rb
Due: prettier --write, eslint, stree --write

HUB-3248 fixed the contact type position and validation
  app/frontend/components/shared/contact/create-edit-contact-modal.tsx
  app/services/requirement_form_json_service.rb
Due: prettier --write, eslint, stree --write

HUB-3248 added required validation
  app/frontend/components/shared/form/input-form-control.tsx
Due: prettier --write, eslint

add jurisdiction cleanup to data migrations
  db/data/20250807170000_run_jurisdiction_cleanup_rake_task.rb
Due: stree --write

HUB 3248 updated requirement block side contact type position
  app/frontend/components/domains/requirements-library/requirement-field-display/index.tsx
  app/frontend/types/enums.ts
Due: prettier --write, eslint

add jurisdiction filter to projects
  app/controllers/api/concerns/search/permit_projects.rb
  app/controllers/api/permit_projects_controller.rb
  app/frontend/components/domains/permit-project/jurisdiction-filter.tsx
  app/frontend/components/domains/permit-project/projects-grid.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/permit-project-store.ts
  app/frontend/types/types.ts
  app/models/permit_project.rb
  app/policies/permit_project_policy.rb
  config/routes.rb
Due: prettier --write, eslint, stree --write

HUB 3575 fixed merged last_name issue for new suer
  app/services/omniauth_user_resolver.rb
Due: stree --write

set up step code screen
  app/blueprints/part_3_step_code_blueprint.rb
  app/blueprints/step_code_base_blueprint.rb
  app/blueprints/step_code_blueprint.rb
  app/controllers/api/concerns/search/step_codes.rb
  app/controllers/api/end_user_license_agreement_controller.rb
  app/controllers/api/step_codes_controller.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/permit-project/index.tsx
  app/frontend/components/domains/permit-project/new-permit-project-screen.tsx
  app/frontend/components/domains/permit-project/overview-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/permit-project-screen.tsx
  app/frontend/components/domains/permit-project/project-grid-row.tsx
  app/frontend/components/domains/permit-project/project-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/step-code-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/step-codes-grid-header.tsx
  app/frontend/components/domains/permit-project/step-codes-grid-row.tsx
  app/frontend/components/domains/permit-project/step-codes-grid.tsx
  app/frontend/components/domains/step-code/index.tsx
  app/frontend/components/domains/step-code/nav-bar/part-3-nav-links.tsx
  app/frontend/components/domains/step-code/part-3/index.tsx
  app/frontend/components/shared/permit-projects/permit-project-card.tsx
  app/frontend/hooks/resources/use-part-3-step-code.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-3-step-code.ts
  app/frontend/models/step-code-base.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/step-code-store.ts
  app/frontend/types/enums.ts
  app/models/step_code.rb
  app/policies/step_code_policy.rb
  config/routes.rb
Due: prettier --write, eslint, stree --write

cut down step code policy scope for now
  app/frontend/components/domains/home/index.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/permit-project/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/step-code-store.ts
  app/frontend/types/enums.ts
  app/policies/step_code_policy.rb
Due: prettier --write, eslint, stree --write

WIP HUB 3628
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/cover-sheet-form.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/input-summary-form.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/results-form.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/single-zone-cooling-heating-tool-screen.tsx
  app/frontend/components/shared/base/footer.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

change lastModified to updatedAt for proper key indexing
  app/frontend/i18n/i18n.ts
  app/frontend/stores/permit-application-store.ts
  app/frontend/stores/step-code-store.ts
  app/frontend/types/enums.ts
Due: prettier --write, eslint

add step code index text and filters
  app/controllers/api/concerns/search/step_codes.rb
  app/frontend/components/domains/permit-project/step-code-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/step-code-type-filter.tsx
  app/frontend/components/domains/permit-project/step-codes-grid-header.tsx
  app/frontend/components/domains/permit-project/step-codes-grid-row.tsx
  app/frontend/components/domains/permit-project/step-codes-grid.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/step-code-store.ts
  app/frontend/types/enums.ts
Due: prettier --write, eslint, stree --write

fix empty array query params and step coe index layout
  app/frontend/components/domains/permit-project/step-code-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/step-code-type-filter.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/step-code-store.ts
  app/frontend/utils/utility-functions.ts
Due: prettier --write, eslint

rename api key variable as to not alarm dependabot
  app/models/integration_mapping.rb
Due: stree --write

add step code report document standalone generation
  app/blueprints/report_document_blueprint.rb
  app/blueprints/step_code_base_blueprint.rb
  app/controllers/api/part_3_building/checklists_controller.rb
  app/controllers/api/step_codes_controller.rb
  app/controllers/api/storage_controller.rb
  app/frontend/components/domains/permit-project/step-codes-grid-header.tsx
  app/frontend/components/domains/permit-project/step-codes-grid-row.tsx
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/index.tsx
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/step-code-performance-summary/baseline-energy.tsx
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/step-code-performance-summary/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/step-code-summary/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/step-code-summary/step-code-performance/index.tsx
  app/frontend/components/shared/base/file-download-button.tsx
  app/frontend/components/shared/permit-applications/pdf-content/cover/index.tsx
  app/frontend/components/shared/permit-applications/pdf-content/shared/footer/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-3-step-code-checklist.ts
  app/frontend/models/step-code-base.ts
  app/frontend/services/api/index.ts
  app/frontend/ssr/ssr.tsx
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/frontend/utils/utility-functions.ts
  app/jobs/concerns/pdf_renderer.rb
  app/jobs/step_code_report_generation_job.rb
  app/models/report_document.rb
  app/models/step_code.rb
  app/policies/report_document_policy.rb
  app/policies/step_code_policy.rb
  config/routes.rb
  db/migrate/20250812120000_create_report_documents.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

WIP development of result page
  app/frontend/components/domains/single-zone-cooling-heating-tool/input-summary-form.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/results-form.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/single-zone-cooling-heating-tool-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

add jurisdiction reference to step code and prepre model for collecting standalone details
  app/blueprints/step_code_base_blueprint.rb
  app/controllers/concerns/step_code_params_concern.rb
  app/frontend/components/domains/permit-application/new-permit-application-screen.tsx
  app/frontend/components/domains/permit-project/step-code-tab-panel-content.tsx
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/index.tsx
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/project-info/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/project-details.tsx
  app/frontend/components/shared/permit-applications/pdf-content/cover/index.tsx
  app/frontend/hooks/use-jurisdiction-from-site.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/jurisdiction.ts
  app/frontend/models/step-code-base.ts
  app/frontend/services/api/index.ts
  app/frontend/ssr/ssr.tsx
  app/frontend/stores/step-code-store.ts
  app/jobs/step_code_report_generation_job.rb
  app/models/concerns/project_item.rb
  app/models/part_3_step_code/checklist.rb
  app/models/step_code.rb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20250812130000_add_standalone_fields_to_step_codes.rb
  db/migrate/20250813140000_rename_step_code_fields.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

bump rails version in gemfile
  Gemfile
  Gemfile.lock
Due: none

remove project ref from stepcode and default delegated ref number to nil
  app/models/permit_project.rb
  db/migrate/20250813140000_rename_step_code_fields.rb
Due: stree --write

remove unused action, touch up enum usage and defaults
  app/controllers/api/step_codes_controller.rb
  app/frontend/components/shared/base/file-download-button.tsx
  app/frontend/ssr/ssr.tsx
  app/frontend/stores/step-code-store.ts
  app/models/concerns/project_item.rb
  app/models/permit_project.rb
  app/policies/step_code_policy.rb
  config/routes.rb
Due: prettier --write, eslint, stree --write

WIP HUB 3628 pdf to digital
  app/frontend/components/domains/single-zone-cooling-heating-tool/building-location-fields.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/cover-sheet-form.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/input-summary-form.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

add phase data and convert file download to blob method
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/permit-project/step-codes-grid-row.tsx
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/project-info/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/project-details.tsx
  app/frontend/components/shared/base/file-download-button.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/utils/utility-functions.ts
  app/jobs/step_code_report_generation_job.rb
Due: prettier --write, eslint, stree --write

fix project seeder indexing and status pluralization
  app/frontend/i18n/i18n.ts
  app/services/permit_project_seeder_service.rb
Due: prettier --write, eslint, stree --write

fix issue with site select resetting form
  app/frontend/components/domains/step-code/part-3/form-section/project-details.tsx
  app/frontend/components/shared/select/selectors/sites-select.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

other step code copy changes
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

update fuel type copy and next path logic
  app/frontend/components/domains/step-code/part-3/form-section/fuel-types/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

add project creation screen
  app/controllers/api/permit_projects_controller.rb
  app/frontend/components/domains/permit-project/new-permit-project-screen.tsx
  app/frontend/components/domains/step-code/part-3/form-section/project-details.tsx
  app/frontend/components/shared/select/selectors/sites-select.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/permit-project-store.ts
Due: prettier --write, eslint, stree --write

add category and new activities
  app/services/permit_classification_seeder.rb
  db/migrate/20250818120000_add_category_to_permit_classifications.rb
  db/schema.rb
Due: stree --write
