Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

Add suite submetering adjustment
  app/services/step_code/part_3/v1/performance/suite_sub_metering_adjustment.rb
  spec/support/shared_examples/part_3_step_code_compliance.rb
Due: stree --write

Add adjusted performance compliance logic
  app/services/step_code/part_3/v1/performance/adjusted_results.rb
  spec/services/step_code/part_3/v1/generate_reports_spec.rb
  spec/support/shared_examples/part_3_step_code_compliance.rb
Due: stree --write

improve strong params, wkid handling, conditional validation
  app/controllers/api/requirement_blocks_controller.rb
  app/controllers/api/template_versions_controller.rb
  app/models/requirement_block.rb
  app/services/wrappers/ltsa_parcel_map_bc.rb
Due: stree --write

address suggestion on finding non unique live template
  app/models/live_requirement_template.rb
Due: stree --write

add status scope column to api key grid
  app/blueprints/external_api_key_blueprint.rb
  app/frontend/components/domains/external-api-key/external-api-key-sandbox-tag.tsx
  app/frontend/components/domains/external-api-key/grid-header.tsx
  app/frontend/components/domains/external-api-key/index.tsx
  app/frontend/models/external-api-key.ts
  app/models/external_api_key.rb
Due: prettier --write, eslint, stree --write

update first nations verbage and link
  app/frontend/components/domains/permit-application/new-permit-application-screen.tsx
  app/frontend/components/domains/requirement-template/new-requirement-template-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

remove cruft found in PR
  app/frontend/components/domains/permit-application/new-permit-application-screen.tsx
Due: prettier --write, eslint

revert customizaiton strong params in template versions controller
  app/controllers/api/template_versions_controller.rb
Due: stree --write

rework temporary sandbox persistence for super sandbox and other sandbox dependence
  app/controllers/api/concerns/search/permit_applications.rb
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/index.tsx
  app/frontend/components/domains/permit-application/new-permit-application-sandbox-select.tsx
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/components/shared/permit-classification/permit-type-radio-select.tsx
  app/frontend/stores/root-store.ts
  app/frontend/stores/sandbox-store.ts
  app/frontend/stores/session-store.ts
  app/models/permit_application.rb
Due: prettier --write, eslint, stree --write

fix preview and sandbox bugs uncovered in live review
  app/frontend/components/domains/home/home-screen-box.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/editable-builder-header.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/sections-display.tsx
  app/frontend/components/domains/requirement-template/sections-display.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/components/domains/super-admin/early-access/requirement-templates/early-access-requirement-template-screen.tsx
  app/frontend/components/shared/editable-input-with-controls.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/services/api/index.ts
  app/models/early_access_requirement_template.rb
  app/models/site_configuration.rb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

address PR comments
  app/frontend/components/domains/permit-application/index.tsx
  app/frontend/stores/root-store.ts
Due: prettier --write, eslint

fix specs
  spec/models/jurisdiction_template_version_customization_spec.rb
  spec/models/permit_application_spec.rb
  spec/models/submission_version_spec.rb
  spec/services/template_versioning_service_spec.rb
Due: stree --write

Add timecop to early access tests
  app/models/concerns/traverse_data_json.rb
  spec/models/early_access_preview_spec.rb
Due: stree --write

use be within expectations to get around time persision spec issues
  spec/models/early_access_preview_spec.rb
Due: stree --write

fix file extensions
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/11 onboarding.txt
Due: none

add hack to remedy odd scroll behaviour on safari
  .rubocop.yml
  app/frontend/components/shared/contact/contact-modal.tsx
  app/frontend/utils/utility-functions.ts
Due: prettier --write, eslint

Add overall compliance metrics
  app/services/step_code/compliance/check_requirements/energy/meui.rb
  app/services/step_code/compliance/check_requirements/energy/tedi.rb
  app/services/step_code/part_3/v0/lookup_requirements.rb
  app/services/step_code/part_3/v1/evaluate_performance.rb
  app/services/step_code/part_3/v1/generate_reports.rb
  app/services/step_code/part_3/v1/performance/adjusted_results.rb
  app/services/step_code/part_3/v1/performance/base.rb
  app/services/step_code/part_3/v1/performance/corridor_pressurization_adjustment.rb
  app/services/step_code/part_3/v1/performance/overall_compliance.rb
  app/services/step_code/part_3/v1/performance/results_as_modelled.rb
  app/services/step_code/part_3/v1/performance/suite_sub_metering_adjustment.rb
  spec/services/step_code/part_3/v1/generate_reports_spec.rb
  spec/support/shared_examples/part_3_step_code_compliance.rb
Due: stree --write

fix preview and sandbox bugs uncovered in live review
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/index.tsx
  app/frontend/components/shared/permit-applications/permit-application-card.tsx
  app/frontend/i18n/i18n.ts
  app/models/jurisdiction_template_version_customization.rb
Due: prettier --write, eslint, stree --write

and sandbox id to api key, properly scope and authorize actions, fix specs
  app/blueprints/external_api_key_blueprint.rb
  app/controllers/api/external_api_keys_controller.rb
  app/controllers/api/permit_applications_controller.rb
  app/controllers/api/template_versions_controller.rb
  app/controllers/external_api/application_controller.rb
  app/controllers/external_api/concerns/search/permit_applications.rb
  app/controllers/external_api/v1/permit_applications_controller.rb
  app/frontend/components/domains/external-api-key/external-api-key-modal-sub-route.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/external-api-key.ts
  app/frontend/types/api-request.ts
  app/models/current.rb
  app/models/external_api_key.rb
  app/models/jurisdiction_template_version_customization.rb
  app/models/permit_application.rb
  app/models/submission_version.rb
  app/models/template_version.rb
  app/policies/external_api/application_policy.rb
  app/policies/external_api/permit_application_policy.rb
  app/policies/permit_application_policy.rb
  app/policies/template_version_policy.rb
  db/migrate/20241114212505_add_sandbox_id_to_api_key.rb
  db/schema.rb
  spec/factories/sandboxes.rb
  spec/models/external_api_key_spec.rb
  spec/models/jurisdiction_template_version_customization_spec.rb
  spec/models/permit_application_spec.rb
  spec/models/submission_version_spec.rb
  spec/policies/permit_application_policy_spec.rb
Due: prettier --write, eslint, stree --write

adding address component customizations
  app/controllers/api/geocoder_controller.rb
  app/policies/geocoder_policy.rb
  app/services/requirement_form_json_service.rb
  app/services/wrappers/geocoder.rb
  config/routes.rb
Due: stree --write

Include achieved steps in performance results
  .env_example
  .env_example.docker_compose
  .github/workflows/pull-request.yml
  app/models/jurisdiction.rb
  app/models/part_3_step_code/occupancy_classification.rb
  app/models/part_9_step_code/checklist.rb
  app/services/permit_type_required_step_seeder.rb
  app/services/step_code/compliance/propose_step/energy.rb
  app/services/step_code/compliance/propose_step/zero_carbon.rb
  app/services/step_code/part_3/v0/requirements/references/energy.rb
  app/services/step_code/part_3/v0/requirements/references/zero_carbon.rb
  app/services/step_code/part_3/v0/requirements/step_code_occupancy.rb
  app/services/step_code/part_3/v1/generate_reports.rb
  app/services/step_code/part_3/v1/performance/energy_step_achieved.rb
  app/services/step_code/part_3/v1/performance/overall_compliance.rb
  app/services/step_code/part_3/v1/performance/zero_carbon_step_achieved.rb
  db/migrate/20240308221409_add_default_steps_to_jurisdictions.rb
  spec/factories/part_3_step_code/occupancy_classifications.rb
  spec/services/step_code/part_3/v1/generate_reports_spec.rb
  spec/support/shared_examples/part_3_step_code_compliance.rb
Due: stree --write

wip
  app/controllers/api/geocoder_controller.rb
  app/frontend/components/domains/requirements-library/fields-setup-drawer.tsx
  app/frontend/components/shared/chefs/custom-formio-components/components/BCAddress/Component.js
  app/frontend/components/shared/chefs/custom-formio-components/components/SimpleBCAddress/Component.js
  app/frontend/components/shared/chefs/custom-formio-components/providers/storage/chefs.js
  app/frontend/components/shared/permit-applications/pdf-content/application/index.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/utils/index.ts
  app/services/requirement_form_json_service.rb
Due: prettier --write, eslint, stree --write

handle null formjson on single form
  app/frontend/components/shared/revisions/revision-modal.tsx
  app/frontend/utils/formio-helpers.ts
Due: prettier --write, eslint

null check on sandbox options
  app/frontend/components/domains/navigation/sandbox-menu-item.tsx
Due: prettier --write, eslint

fix early access section copying bug
  app/services/requirement_template_copy_service.rb
Due: stree --write

add has manies for copied from and permit applicaiton
  app/models/requirement_template.rb
  app/models/requirement_template_section.rb
  app/models/template_version.rb
Due: stree --write

initial planned update of api endpoints
  app/blueprints/permit_application_blueprint.rb
  app/blueprints/step_code/building_characteristics_summary_blueprint.rb
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/blueprints/step_code/part_3/step_code_blueprint.rb
  app/blueprints/step_code/part_9/checklist_blueprint.rb
  app/blueprints/step_code/part_9/step_code_blueprint.rb
  app/blueprints/step_code_blueprint.rb
  app/blueprints/step_code_building_characteristic_blueprint.rb
  app/controllers/api/step_code/part_3_checklists_controller.rb
  app/controllers/api/step_code/part_3_controller.rb
  app/controllers/api/step_code/part_9_checklists_controller.rb
  app/controllers/api/step_code/part_9_controller.rb
  app/controllers/api/step_codes_controller.rb
  app/frontend/models/step-code-checklist.ts
  app/frontend/models/step-code.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/step-code-store.ts
  app/models/concerns/permit_application_status.rb
  app/models/part_3_step_code/checklist.rb
  config/routes.rb
Due: prettier --write, eslint, stree --write

fix merging of sandbox from minimal view
  app/frontend/components/domains/home/notifications/notifications-popover.tsx
  app/frontend/stores/jurisdiction-store.ts
Due: prettier --write, eslint

do not sandbox scope permit application for super admin
  app/controllers/api/permit_applications_controller.rb
Due: stree --write

Add stdin_open and tty support for containers that you want to debugger / pry in. Also removes redundant line in devise.rb initalizer
  README.md
  config/initializers/devise.rb
  docker-compose.yml
Due: stree --write

Test branch with initial commit
  README.md
Due: none

refactor existing tables
  app/controllers/api/step_code_checklists_controller.rb
  app/controllers/api/step_codes_controller.rb
  app/frontend/components/domains/step-code/import.tsx
  app/models/part_9_step_code/building_characteristics_summary.rb
  app/models/part_9_step_code/checklist.rb
  app/models/part_9_step_code/data_entry.rb
  app/models/step_code.rb
  app/policies/part_9_step_code/checklist_policy.rb
  app/services/external_permit_application_service.rb
  app/services/step_code/compliance/check_requirements/energy/base.rb
  app/services/step_code/compliance/check_requirements/zero_carbon/base.rb
  db/migrate/20241029223207_update_step_code_tables.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

Add db models for part 3 step code
  app/models/concerns/form_supporting_documents.rb
  app/models/part_3_step_code.rb
  app/models/part_3_step_code/checklist.rb
  app/models/part_3_step_code/document_reference.rb
  app/models/part_3_step_code/energy_output.rb
  app/models/part_3_step_code/fuel_type.rb
  app/models/part_3_step_code/make_up_air_fuel.rb
  app/models/part_3_step_code/occupancy_classification.rb
  app/models/part_9_step_code.rb
  app/models/part_9_step_code/building_characteristics_summary.rb
  app/models/part_9_step_code/checklist.rb
  app/models/part_9_step_code/data_entry.rb
  app/models/step_code.rb
  db/data/20241101162203_update_step_code_types.rb
  db/data_schema.rb
  db/migrate/20241030222657_create_part_3_step_code_tables.rb
  db/migrate/20241031235633_add_type_to_step_codes.rb
  db/schema.rb
Due: stree --write

Fix loading error and part 9 step code specs
  app/models/part_3_step_code/checklist.rb
  app/models/part_3_step_code/document_reference.rb
  app/models/part_3_step_code/energy_output.rb
  app/models/part_3_step_code/fuel_type.rb
  app/models/part_3_step_code/make_up_air_fuel.rb
  app/models/part_3_step_code/occupancy_classification.rb
  app/models/part_9_step_code/building_characteristics_summary.rb
  app/models/part_9_step_code/checklist.rb
  app/models/part_9_step_code/data_entry.rb
  spec/factories/part_9_step_code/checklists.rb
  spec/factories/part_9_step_codes.rb
  spec/factories/step_code_checklists.rb
  spec/factories/step_code_data_entries.rb
  spec/factories/step_codes.rb
  spec/models/part_9_step_code_spec.rb
  spec/services/step_code/compliance/check_requirements/energy/airtightness_spec.rb
  spec/services/step_code/compliance/check_requirements/energy/meui_spec.rb
  spec/services/step_code/compliance/check_requirements/energy/tedi_spec.rb
  spec/services/step_code/compliance/check_requirements/zero_carbon/co2_spec.rb
  spec/services/step_code/compliance/check_requirements/zero_carbon/ghg_spec.rb
  spec/services/step_code/compliance/check_requirements/zero_carbon/prescriptive_spec.rb
  spec/services/step_code/compliance/propose_step/base_spec.rb
Due: stree --write
