Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

add copy for early access home boxes
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

address pr comment about rest
  app/frontend/components/shared/base/inputs/user-input.tsx
Due: prettier --write, eslint

WIP - add part 3 step code occupancies
  app/models/part_3_step_code/document_reference.rb
  app/models/part_3_step_code/energy_output.rb
  app/models/part_3_step_code/fuel_type.rb
  app/models/part_3_step_code/make_up_air_fuel.rb
  app/models/part_3_step_code/occupancy_classification.rb
  app/services/step_code/part_3/v0/compliance/generate_reports.rb
  db/migrate/20241030222657_create_part_3_step_code_tables.rb
  db/schema.rb
  spec/factories/part_3_step_code/checklists.rb
  spec/factories/part_3_step_code/occupancy_classifications.rb
  spec/factories/part_3_step_codes.rb
  spec/services/step_code/part_3/v0/compliance/generate_reports_spec.rb
Due: stree --write

update content of visibility change modal
  app/frontend/components/shared/select/block-visibility-select.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/api-request.ts
  app/models/requirement_block.rb
Due: prettier --write, eslint, stree --write

fixes and enhancements for preview blocks including editability, display logic, ui fixes, copy updates, etc
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/sections-display.tsx
  app/frontend/components/domains/requirement-template/sections-display.tsx
  app/frontend/components/domains/requirements-library/grid-header.tsx
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/components/domains/requirements-library/requirement-blocks-table.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/block-setup.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
  app/frontend/components/domains/requirements-library/requirements-library-drawer.tsx
  app/frontend/components/domains/super-admin/early-access/requirement-templates/edit-early-access-requirement-template-screen.tsx
  app/frontend/components/shared/select/block-visibility-select.tsx
  app/frontend/components/shared/visibility-tag.tsx.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement-block.ts
  app/frontend/stores/requirement-block-store.ts
Due: prettier --write, eslint

add popover for preview invitees
  .rubocop.yml
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/requirement-template/share-preview-popover.tsx
  app/frontend/components/domains/super-admin/early-access/requirement-templates/index.tsx
  app/frontend/components/shared/base/copy-link-button.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

rework preview versioning to fix bugs with viewing after update
  app/controllers/api/requirement_templates_controller.rb
  app/frontend/components/domains/super-admin/early-access/requirement-templates/edit-early-access-requirement-template-screen.tsx
  app/frontend/models/requirement-template.ts
  app/models/early_access_requirement_template.rb
  app/services/template_versioning_service.rb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

invite previews with detailed errors list, new frontend models with merge updating
  .rubocop.yml
  app/blueprints/requirement_template_blueprint.rb
  app/controllers/api/requirement_templates_controller.rb
  app/frontend/components/shared/base/custom-message-box.tsx
  app/frontend/components/shared/base/flash-message.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/early-access-preview.ts
  app/frontend/models/flash-message.ts
  app/frontend/models/requirement-template.ts
  app/frontend/stores/early-access-preview-store.ts
  app/frontend/stores/requirement-template-store.ts
  app/frontend/stores/root-store.ts
  app/mailers/permit_hub_mailer.rb
  app/models/early_access_requirement_template.rb
  app/services/early_access/preview_management_service.rb
  config/locales/en.yml
  package-lock.json
  package.json
Due: prettier --write, eslint, stree --write

fix preview seeding
  app/services/template_versioning_service.rb
Due: stree --write

create backend and input using EarlyAccessPreview
  .rubocop.yml
  Gemfile
  Gemfile.lock
  app/blueprints/early_access_preview_blueprint.rb
  app/blueprints/requirement_template_blueprint.rb
  app/controllers/api/requirement_templates_controller.rb
  app/errors/preview_error.rb
  app/frontend/components/domains/requirement-template/share-preview-popover.tsx
  app/frontend/components/domains/super-admin/early-access/requirement-templates/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement-template.ts
  app/frontend/services/api/index.ts
  app/frontend/types/api-request.ts
  app/mailers/permit_hub_mailer.rb
  app/models/early_access_preview.rb
  app/models/early_access_requirement_template.rb
  app/models/user.rb
  app/policies/requirement_template_policy.rb
  app/services/early_access/preview_management_service.rb
  app/views/permit_hub_mailer/notify_new_or_unconfirmed_preview.erb
  app/views/permit_hub_mailer/notify_preview.erb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20241028171846_create_early_access_previews.rb
  db/schema.rb
  db/seeds.rb
  package-lock.json
Due: prettier --write, eslint, stree --write

add extension and revocation, preview stores
  Gemfile.lock
  app/blueprints/early_access_preview_blueprint.rb
  app/controllers/api/early_access_previews_controller.rb
  app/frontend/components/domains/requirement-template/share-preview-popover.tsx
  app/frontend/components/domains/super-admin/early-access/requirement-templates/index.tsx
  app/frontend/components/shared/base/custom-message-box.tsx
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/components/shared/early-access/preview-status-tag.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/early-access-preview.ts
  app/frontend/services/api/index.ts
  app/frontend/styles/global-theme-variables.scss
  app/frontend/types/enums.ts
  app/frontend/utils/utility-functions.ts
  app/models/early_access_preview.rb
  app/models/preview_requirement_template.rb
  app/policies/early_access_preview_policy.rb
  app/policies/requirement_template_policy.rb
  app/services/early_access/preview_management_service.rb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20241028171846_create_early_access_previews.rb
  db/schema.rb
  package-lock.json
  package.json
  spec/requests/early_access_previews_spec.rb
Due: prettier --write, eslint, stree --write

reenable edit on non preview blocks for copying to preview
  app/controllers/api/requirement_blocks_controller.rb
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/block-setup.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
  app/frontend/components/domains/requirements-library/requirements-library-drawer.tsx
  app/frontend/components/shared/select/block-visibility-select.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/requirement-block-store.ts
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

fixes and improvements for early access requirement blocks
  app/frontend/components/domains/requirements-library/block-setup-options-menu.tsx
  app/frontend/components/domains/requirements-library/grid-header.tsx
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/components/domains/requirements-library/requirement-blocks-table.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/block-setup.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
  app/frontend/components/domains/requirements-library/requirements-library-drawer.tsx
  app/frontend/components/shared/select/block-visibility-select.tsx
  app/frontend/models/requirement-block.ts
  app/frontend/stores/early-access-requirement-block-store.ts
  app/frontend/stores/requirement-block-store.ts
  app/frontend/utils/utility-functions.ts
  app/models/requirement_block.rb
Due: prettier --write, eslint, stree --write

add public flag to requirement tempaltes
  app/blueprints/requirement_template_blueprint.rb
  app/controllers/api/requirement_templates_controller.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/share-preview-popover.tsx
  app/frontend/components/domains/super-admin/early-access/requirement-templates/early-access-requirement-template-screen.tsx
  app/frontend/components/domains/super-admin/early-access/requirement-templates/edit-early-access-requirement-template-screen.tsx
  app/frontend/components/domains/super-admin/early-access/requirement-templates/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/models/requirement-template.ts
  app/frontend/types/api-request.ts
  app/models/requirement_template.rb
  app/models/user.rb
  app/policies/requirement_template_policy.rb
  config/locales/en.yml
  db/migrate/20241101205023_add_public_to_requirement_template.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

make landing setup configuration page
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/index.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/landing-setup-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

add template version selection for landing page setup
  app/blueprints/site_configuration_blueprint.rb
  app/blueprints/template_version_blueprint.rb
  app/controllers/api/site_configuration_controller.rb
  app/controllers/api/template_versions_controller.rb
  app/frontend/components/domains/landing/index.tsx
  app/frontend/components/domains/requirement-template/digital-building-permits-list.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/landing-setup-screen.tsx
  app/frontend/components/shared/select/block-visibility-select.tsx
  app/frontend/hooks/resources/use-template-versions.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/template-version.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/site-configuration-store.ts
  app/frontend/stores/template-version-store.ts
  app/frontend/types/api-request.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/site_configuration.rb
  app/models/template_version.rb
  db/migrate/20241104223257_add_small_scale_preview_id_to_site_configuration.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

updated specs
  app/services/step_code/part_3/v0/compliance/generate_reports.rb
  spec/factories/part_3_step_code/occupancy_classifications.rb
  spec/services/step_code/part_3/v0/compliance/generate_reports_spec.rb
  spec/services/step_code/part_3/v1/compliance/generate_reports_spec.rb
Due: stree --write

Move occupancies lookup to constant
  app/models/part_3_step_code/occupancy_classification.rb
  app/services/constants/part_3_step_code.rb
  db/migrate/20241030222657_create_part_3_step_code_tables.rb
  db/schema.rb
Due: stree --write

lookup references
  app/services/constants/part_3_step_code.rb
  app/services/step_code/part_3/v0/lookups/climate_zone_references.rb
  app/services/step_code/part_3/v0/lookups/occupancy_step_references.rb
  config/initializers/inflections.rb
Due: stree --write

improve modals and UX for previews
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/controls-header.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/share-preview-popover.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/block-setup.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/components/domains/requirements-library/requirements-library-drawer.tsx
  app/frontend/components/domains/super-admin/early-access/requirement-templates/edit-early-access-requirement-template-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/requirement-block-store.ts
  app/frontend/types/api-request.ts
  app/models/requirement_block.rb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

Add service to lookup requirements for a checklist
  app/models/part_3_step_code/checklist.rb
  app/models/part_3_step_code/occupancy_classification.rb
  app/services/constants/part_3_step_code.rb
  app/services/step_code/part_3/v0/generate_reports.rb
  app/services/step_code/part_3/v0/lookup_requirements.rb
  app/services/step_code/part_3/v0/requirements/baseline.rb
  app/services/step_code/part_3/v0/requirements/reference_building_occupancy.rb
  app/services/step_code/part_3/v0/requirements/references/climate_zone.rb
  app/services/step_code/part_3/v0/requirements/references/energy.rb
  app/services/step_code/part_3/v0/requirements/references/zero_carbon.rb
  app/services/step_code/part_3/v0/requirements/step_code.rb
  app/services/step_code/part_3/v0/requirements/step_code_occupancy.rb
  app/services/step_code/part_3/v0/requirements/whole_building.rb
  app/services/step_code/part_3/v1/compliance/generate_reports.rb
  spec/factories/part_3_step_code/occupancy_classifications.rb
  spec/services/step_code/part_3/v0/compliance/generate_reports_spec.rb
  spec/services/step_code/part_3/v1/compliance/generate_reports_spec.rb
Due: stree --write

guard clasues and algorithm fixing
  app/services/step_code/part_3/v0/lookup_requirements.rb
  app/services/step_code/part_3/v0/requirements/baseline.rb
  app/services/step_code/part_3/v0/requirements/step_code.rb
  spec/services/step_code/part_3/v1/compliance/generate_reports_spec.rb
Due: stree --write

better gaurd clasuing further up
  app/services/step_code/part_3/v0/requirements/baseline.rb
Due: stree --write

initial refactor pieces
  app/services/step_code/part_3/v1/check_requirements/base.rb
  app/services/step_code/part_3/v1/compliance/generate_reports.rb
  app/services/step_code/part_3/v1/evaluate_performance.rb
  app/services/step_code/part_3/v1/generate_reports.rb
  app/services/step_code/part_3/v1/performance/corridor_pressurization_adjustment.rb
  app/services/step_code/part_3/v1/performance/results_as_modelled.rb
  spec/services/step_code/part_3/v1/compliance/generate_reports_spec.rb
Due: stree --write

Add base skeleton for performance results services
  app/services/step_code/part_3/v1/evaluate_performance.rb
  app/services/step_code/part_3/v1/performance/corridor_pressurization_adjustment.rb
  app/services/step_code/part_3/v1/performance/results_as_modelled.rb
  app/services/step_code/part_3/v1/performance/suite_sub_metering_adjustment.rb
Due: stree --write

add subject line for new api mappings email
  config/locales/en.yml
Due: none

Initial structure for generating part 3 checklist
  app/controllers/api/step_codes_controller.rb
  app/models/part_3_step_code/checklist.rb
  app/models/part_3_step_code/document_reference.rb
  app/models/part_3_step_code/energy_output.rb
  app/models/part_3_step_code/fuel_type.rb
  app/models/part_3_step_code/make_up_air_fuel.rb
  app/models/part_3_step_code/occupancy_classification.rb
  app/services/constants/part_3_step_code.rb
  app/services/step_code/compliance/check_requirements/zero_carbon/co2.rb
  app/services/step_code/compliance/check_requirements/zero_carbon/ghg.rb
  app/services/step_code/compliance/check_requirements/zero_carbon/prescriptive.rb
  app/services/step_code/part_3/v0/generate_reports.rb
  app/services/step_code/part_3/v0/lookup_requirements.rb
  app/services/step_code/part_3/v0/requirements/baseline.rb
  app/services/step_code/part_3/v0/requirements/baseline_occupancy.rb
  app/services/step_code/part_3/v0/requirements/references/climate_zone.rb
  app/services/step_code/part_3/v0/requirements/references/energy.rb
  app/services/step_code/part_3/v0/requirements/references/zero_carbon.rb
  app/services/step_code/part_3/v0/requirements/step_code.rb
  app/services/step_code/part_3/v0/requirements/step_code_occupancy.rb
  app/services/step_code/part_3/v0/requirements/whole_building.rb
  app/services/step_code/part_3/v1/generate_reports.rb
  app/services/step_code/part_9/data_entry_from_hot2000.rb
  app/services/step_code/part_9/data_entry_hot2000_mapper.rb
  app/services/step_code/part_9/meui_references_seeder.rb
  app/services/step_code/part_9/references.rb
  app/services/step_code/part_9/tedi_references_seeder.rb
  config/initializers/inflections.rb
  db/migrate/20241030222657_create_part_3_step_code_tables.rb
  db/schema.rb
  db/seeds.rb
  lib/tasks/seed_prod.rake
  spec/factories/part_3_step_code/checklists.rb
  spec/factories/part_3_step_code/occupancy_classifications.rb
  spec/factories/part_3_step_codes.rb
  spec/services/step_code/compliance/check_requirements/energy/meui_spec.rb
  spec/services/step_code/compliance/check_requirements/energy/tedi_spec.rb
  spec/services/step_code/part_3/v0/compliance/generate_reports_spec.rb
  spec/services/step_code/part_3/v1/compliance/generate_reports_spec.rb
Due: stree --write

add specs and fixes for early access
  .rubocop.yml
  app/controllers/api/concerns/search/requirement_blocks.rb
  app/controllers/api/concerns/search/requirement_templates.rb
  app/controllers/api/early_access_previews_controller.rb
  app/controllers/api/requirement_templates_controller.rb
  app/frontend/services/api/index.ts
  app/models/contact.rb
  app/models/early_access_preview.rb
  app/models/early_access_requirement_template.rb
  app/models/jurisdiction.rb
  app/models/live_requirement_template.rb
  app/models/requirement_block.rb
  app/models/requirement_template.rb
  app/models/template_version.rb
  app/policies/early_access_preview_policy.rb
  app/services/template_versioning_service.rb
  config/routes.rb
  spec/concerns/requirement_block_search_spec.rb
  spec/concerns/requirement_template_search_spec.rb
  spec/controllers/early_access_preview_controller_spec.rb
  spec/controllers/requirement_blocks_controller_spec.rb
  spec/controllers/requirement_templates_controller_spec.rb
  spec/controllers/users_controller_spec.rb
  spec/factories/early_access_previews.rb
  spec/factories/early_access_requirement_templates.rb
  spec/factories/jurisdiction_template_version_customizations.rb
  spec/models/early_access_preview_spec.rb
  spec/models/early_access_requirement_template_spec.rb
  spec/models/live_requirement_template_spec.rb
  spec/models/requirement_template_spec.rb
  spec/rails_helper.rb
  spec/services/customization_copy_service_spec.rb
  spec/services/preview_management_service_spec.rb
  spec/services/template_versioning_service_spec.rb
  spec/support/01_test_constants.rb
  spec/support/customization_helpers.rb
Due: prettier --write, eslint, stree --write

null check on step code reqs in job
  app/services/step_code_export_service.rb
Due: stree --write

UI updates for sandbox
  app/blueprints/permit_application_blueprint.rb
  app/frontend/components/domains/home/home-screen-box.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/navigation/sandbox-menu-item.tsx
  app/frontend/components/domains/permit-application/new-permit-application-sandbox-select.tsx
  app/frontend/components/domains/permit-application/new-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/successful-submission.tsx
  app/frontend/components/shared/base/custom-message-box.tsx
  app/frontend/components/shared/permit-applications/permit-application-submit-modal.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/components/shared/permit-classification/activity-list.tsx
  app/frontend/components/shared/permit-classification/permit-type-radio-select.tsx
  app/frontend/components/shared/sandbox/sandbox-header.tsx
  app/frontend/components/shared/select/selectors/sandbox-select.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/stores/geocoder-store.ts
  app/frontend/stores/permit-application-store.ts
  app/frontend/stores/sandbox-store.ts
  app/frontend/stores/session-store.ts
  app/frontend/styles/theme/foundations/colors.ts
  app/models/jurisdiction_template_version_customization.rb
  app/models/permit_application.rb
Due: prettier --write, eslint, stree --write

Fix issue generating step code summary CSV
  app/services/step_code_export_service.rb
Due: stree --write

rework temporary sandbox persistence for super sandbox and other sandbox dependence
  app/controllers/api/concerns/search/permit_applications.rb
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/index.tsx
  app/frontend/components/domains/permit-application/new-permit-application-sandbox-select.tsx
  app/frontend/components/domains/permit-application/new-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/components/shared/permit-classification/permit-type-radio-select.tsx
  app/frontend/stores/root-store.ts
  app/frontend/stores/sandbox-store.ts
  app/frontend/stores/session-store.ts
  app/models/permit_application.rb
Due: prettier --write, eslint, stree --write

update copy
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Add base skeleton for performance results services
  app/services/step_code/part_3/v1/evaluate_performance.rb
  app/services/step_code/part_3/v1/generate_reports.rb
  app/services/step_code/part_3/v1/performance/corridor_pressurization_adjustment.rb
  app/services/step_code/part_3/v1/performance/results_as_modelled.rb
  app/services/step_code/part_3/v1/performance/suite_sub_metering_adjustment.rb
  spec/services/step_code/part_3/v1/compliance/generate_reports_spec.rb
Due: stree --write

Add calculation logic for results as modelled
  app/models/part_3_step_code/checklist.rb
  app/services/step_code/part_3/v0/requirements/whole_building.rb
  app/services/step_code/part_3/v1/performance/results_as_modelled.rb
  spec/services/step_code/part_3/v0/generate_reports_spec.rb
Due: stree --write

fix preview and sandbox bugs uncovered in live review
  app/frontend/components/domains/home/home-screen-box.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/permit-application/index.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/editable-builder-header.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/sections-display.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/index.tsx
  app/frontend/components/domains/requirement-template/sections-display.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/components/domains/super-admin/early-access/requirement-templates/early-access-requirement-template-screen.tsx
  app/frontend/components/shared/editable-input-with-controls.tsx
  app/frontend/components/shared/permit-applications/permit-application-card.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/services/api/index.ts
  app/models/early_access_requirement_template.rb
  app/models/jurisdiction_template_version_customization.rb
  app/models/site_configuration.rb
  app/services/template_versioning_service.rb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

Fix v0 specs
  app/models/part_3_step_code/checklist.rb
  app/services/step_code/part_3/v0/lookup_requirements.rb
  app/services/step_code/part_3/v0/requirements/baseline.rb
  app/services/step_code/part_3/v0/requirements/baseline_occupancy.rb
  app/services/step_code/part_3/v0/requirements/references/climate_zone.rb
  app/services/step_code/part_3/v0/requirements/references/energy.rb
  app/services/step_code/part_3/v0/requirements/references/zero_carbon.rb
  app/services/step_code/part_3/v0/requirements/step_code.rb
  app/services/step_code/part_3/v0/requirements/step_code_occupancy.rb
  app/services/step_code/part_3/v0/requirements/whole_building.rb
  spec/factories/part_3_step_code/energy_outputs.rb
  spec/factories/part_3_step_code/fuel_types.rb
  spec/factories/part_3_step_code/occupancy_classifications.rb
  spec/services/step_code/part_3/v0/generate_reports_spec.rb
Due: stree --write

and sandbox id to api key, properly scope and authorize actions, fix specs
  app/blueprints/external_api_key_blueprint.rb
  app/controllers/api/external_api_keys_controller.rb
  app/controllers/api/permit_applications_controller.rb
  app/controllers/api/template_versions_controller.rb
  app/controllers/external_api/application_controller.rb
  app/controllers/external_api/concerns/search/permit_applications.rb
  app/controllers/external_api/v1/permit_applications_controller.rb
  app/frontend/components/domains/external-api-key/external-api-key-modal-sub-route.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/external-api-key.ts
  app/frontend/types/api-request.ts
  app/models/current.rb
  app/models/external_api_key.rb
  app/models/jurisdiction_template_version_customization.rb
  app/models/permit_application.rb
  app/models/submission_version.rb
  app/models/template_version.rb
  app/policies/external_api/application_policy.rb
  app/policies/external_api/permit_application_policy.rb
  app/policies/permit_application_policy.rb
  app/policies/template_version_policy.rb
  db/migrate/20241114212505_add_sandbox_id_to_api_key.rb
  db/schema.rb
  spec/factories/sandboxes.rb
  spec/models/external_api_key_spec.rb
  spec/models/jurisdiction_template_version_customization_spec.rb
  spec/models/permit_application_spec.rb
  spec/models/submission_version_spec.rb
  spec/policies/permit_application_policy_spec.rb
Due: prettier --write, eslint, stree --write

Fix/refactor v1 specs
  app/services/step_code/part_3/v1/evaluate_performance.rb
  app/services/step_code/part_3/v1/generate_reports.rb
  app/services/step_code/part_3/v1/performance/adjusted_results.rb
  app/services/step_code/part_3/v1/performance/base.rb
  app/services/step_code/part_3/v1/performance/corridor_pressurization_adjustment.rb
  app/services/step_code/part_3/v1/performance/results_as_modelled.rb
  app/services/step_code/part_3/v1/performance/suite_sub_metering_adjustment.rb
  db/migrate/20241030222657_create_part_3_step_code_tables.rb
  db/schema.rb
  spec/factories/part_3_step_code/make_up_air_fuels.rb
  spec/models/part_3_step_code/checklist_spec.rb
  spec/services/step_code/part_3/v1/compliance/generate_reports_spec.rb
  spec/services/step_code/part_3/v1/generate_reports_spec.rb
  spec/services/step_code/part_3/v1/performance/results_as_modelled.rb
  spec/support/shared_examples/part_3_step_code_compliance.rb
  spec/support/shared_examples/part_9_step_code_compliance.rb
Due: stree --write

Implement corridor pressurization adjustment
  app/services/step_code/part_3/v1/performance/corridor_pressurization_adjustment.rb
  spec/support/shared_examples/part_3_step_code_compliance.rb
Due: stree --write
