Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

HUB-3010 updated marketing page content
  app/frontend/components/domains/project-readiness-tools/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-3010 updated content for LOA page
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/project-readiness-tools/index.tsx
  app/frontend/components/domains/project-readiness-tools/letter-of-assurance.tsx
  app/frontend/i18n/i18n.ts
  public/pdfs/2024-LoA-Sch-A.pdf
  public/pdfs/2024-LoA-Sch-B.pdf
  public/pdfs/2024-LoA-Sch-C-A.pdf
  public/pdfs/2024-LoA-Sch-C-B.pdf
Due: prettier --write, eslint

HUB-3010 removeed unused translations
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

fix vibe coded migration and schem
  app/services/step_code/part_3/v0/seeders/jurisdiction_hdd.rb
  db/data/20250527221236_update_show_about_page.rb
  db/data_schema.rb
  db/migrate/20250410174656_add_show_about_page_to_jurisdictions.rb
  db/schema.rb
Due: stree --write

Merge feature access into develop branch and removed the old submission inbox set up from configuration
  app/frontend/components/domains/home/review-manager/configuration-management-screen/feature-access-screen/inbox-feature-access.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/index.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/submissions-inbox-setup-screen/form.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/submissions-inbox-setup-screen/index.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/inbox-feature-access.tsx
  app/frontend/components/shared/base/feature-toggle-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-3010 fixed colors on LOA and marketing page
  app/frontend/components/domains/project-readiness-tools/index.tsx
  app/frontend/components/domains/project-readiness-tools/letter-of-assurance.tsx
Due: prettier --write, eslint

wip
  app/controllers/api/part_3_building/step_codes_controller.rb
  app/controllers/api/part_9_building/step_codes_controller.rb
  app/controllers/api/permit_applications_controller.rb
  app/controllers/api/permit_projects_controller.rb
  app/controllers/api/step_codes_controller.rb
  app/controllers/concerns/step_code_params_concern.rb
  app/frontend/components/domains/home/super-admin-home-screen.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/permit-project/new-permit-project-screen.tsx
  app/frontend/components/domains/permit-project/permit-project-screen.tsx
  app/frontend/components/domains/permit-project/project-readiness-tab-content.tsx
  app/frontend/components/domains/step-code/checklist/pdf-content/viewer.tsx
  app/frontend/components/domains/step-code/part-3/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-3-step-code-checklist.ts
  app/frontend/models/part-3-step-code.ts
  app/frontend/models/part-9-step-code-checklist.ts
  app/frontend/models/part-9-step-code.ts
  app/frontend/models/step-code-base.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/permit-project-store.ts
  app/frontend/stores/step-code-store.ts
  app/frontend/types/enums.ts
  app/models/concerns/project_item.rb
  app/models/part_9_step_code.rb
  app/models/permit_application.rb
  app/models/project_membership.rb
  app/models/step_code.rb
  app/services/permit_project_seeder_service.rb
  config/routes.rb
  db/schema.rb
  db/seeds.rb
Due: prettier --write, eslint, stree --write

HUB-2090 updated the label color
  app/frontend/styles/chakra-overrides.scss
Due: none

WIP HUB-3030 display placeholder message
  app/frontend/components/domains/home/review-manager/configuration-management-screen/feature-access-screen/inbox-feature-access.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/feature-access-screen/my-jurisdiction-about-page.tsx
  app/frontend/components/shared/base/feature-toggle-screen.tsx
  app/frontend/i18n/i18n.ts
  db/migrate/20250410174656_add_show_about_page_to_jurisdictions.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

wip
  Gemfile.lock
  app/controllers/concerns/step_code_params_concern.rb
  app/models/permit_application.rb
  db/migrate/20250529185100_migrate_data_to_permit_projects_and_drop_old_columns.rb
  db/schema.rb
  spec/concerns/permit_application_search_spec.rb
  spec/factories/permit_applications.rb
  spec/factories/permit_projects.rb
Due: stree --write

HUB-3030 removed global toggle feature file
  app/frontend/components/domains/home/review-manager/configuration-management-screen/feature-access-screen/inbox-feature-access.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/feature-access-screen/my-jurisdiction-about-page.tsx
  app/frontend/components/shared/base/feature-toggle-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

BPHworkflow for helms deploy
  .github/workflows/helms-deploy.yml
Due: none

WIP HUB-2976
  app/models/requirement_block.rb
  db/migrate/20241212190000_make_requirement_block_name_unique_only_when_not_discarded.rb
  db/schema.rb
Due: stree --write

consolidate inbox setup screens and add debug loggng for config page issue
  app/frontend/components/domains/home/review-manager/configuration-management-screen/feature-access-screen/inbox-feature-access.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/submissions-inbox-setup-screen/index.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/protected-route.tsx
Due: prettier --write, eslint

seed projects properly
  app/models/permit_application.rb
  db/schema.rb
  db/seeds.rb
Due: stree --write

fix step code and project delegations, fields, associations
  app/models/concerns/project_item.rb
  app/models/permit_application.rb
  app/models/user.rb
  db/migrate/20250529182758_create_permit_projects.rb
  db/schema.rb
Due: stree --write

HUB-3208:change user authorization to main workflow
  .github/workflows/dev.yml
  .github/workflows/prod.yml
Due: none

WIP debugging configure manager routes
  app/frontend/components/domains/home/technical-support/TechnicalSupportHomeSection.tsx
  app/frontend/components/domains/home/technical-support/configuration-management-screen/index.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/protected-route.tsx
Due: prettier --write, eslint

fix all specs
  app/models/part_3_step_code/checklist.rb
  app/models/requirement_block.rb
  app/models/user.rb
  spec/factories/part_9_step_codes.rb
  spec/factories/permit_applications.rb
  spec/factories/permit_projects.rb
  spec/models/permit_application_spec.rb
  spec/models/user_spec.rb
  spec/policies/permit_application_policy_spec.rb
Due: stree --write

define routes for tech support OR manager separately
  app/frontend/components/domains/navigation/index.tsx
Due: prettier --write, eslint

HUB-3030 removed the unwanted file
  app/frontend/components/domains/home/technical-support/configuration-management-screen/index.tsx
Due: prettier --write, eslint

HUB-3030 removed console logs
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/protected-route.tsx
Due: prettier --write, eslint

unformat and ignore schema in pre-commeit
  .streeignore
  db/schema.rb
  package.json
Due: stree --write

unformat schema
  .streeignore
  db/schema.rb
  package.json
Due: stree --write

HUB-3030 updated configuration management screen to hide Grid Items which are not associated with TS user role
  app/frontend/components/domains/home/review-manager/configuration-management-screen/index.tsx
  app/frontend/services/rbac-rules.ts
Due: prettier --write, eslint

fix signer message ID matching and schema formatting
  .streeignore
  app/frontend/components/shared/chefs/index.tsx
  db/schema.rb
  package.json
Due: prettier --write, eslint, stree --write

HUB-3030 + HUB-3155 mailto link on suggest your community button
  app/frontend/components/domains/home/review-manager/configuration-management-screen/submissions-inbox-setup-screen/index.tsx
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/components/domains/navigation/index.tsx
Due: prettier --write, eslint

add reindex to regular migrations
  db/data/20250402151321_reindex_permit_applications_for_updated_at.rb
  db/migrate/20250410174655_rename_submission_json_to_submission_data_in_revision_requests.rb
Due: stree --write

convert existing file data keys to camelCase and expect camelCase for all
  app/controllers/api/storage_controller.rb
  app/frontend/components/shared/chefs/additional-formio/providers/storage/s3custom.js
  app/frontend/utils/utility-functions.ts
  app/services/external_permit_application_service.rb
  app/services/submission_data_key_converter_service.rb
  lib/tasks/submission_data.rake
  spec/services/submission_data_key_converter_service_spec.rb
Due: prettier --write, eslint, stree --write

include SubmissionData and create data migration
  app/services/submission_data_key_converter_service.rb
  db/data/20250605174944_update_file_field_keys.rb
  db/data_schema.rb
  lib/tasks/submission_data.rake
  spec/services/submission_data_key_converter_service_spec.rb
Due: stree --write

remove unecessary validation preventing updates to permit applicaitons
  app/models/concerns/permit_application_status.rb
Due: stree --write

hotfix removed unwanted commit from 6.5 relase
  app/frontend/components/domains/landing/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
Due: prettier --write, eslint

wip
  Gemfile
  Gemfile.lock
  app/models/requirement_template.rb
  db/migrate/20250606170610_add_created_by_test_to_requirement_templates.rb
  db/schema.rb
  spec/concerns/permit_application_search_spec.rb
  spec/concerns/requirement_block_search_spec.rb
  spec/concerns/requirement_template_search_spec.rb
  spec/controllers/early_access_preview_controller_spec.rb
  spec/controllers/requirement_blocks_controller_spec.rb
  spec/controllers/requirement_templates_controller_spec.rb
  spec/controllers/template_versions_controller_spec.rb
  spec/jobs/template_publish_job_spec.rb
  spec/models/concerns/automated_compliance_utils_spec.rb
  spec/models/early_access_preview_spec.rb
  spec/models/early_access_requirement_template_spec.rb
  spec/models/jurisdiction_template_version_customization_spec.rb
  spec/models/live_requirement_template_spec.rb
  spec/models/permit_application_spec.rb
  spec/models/requirement_block_spec.rb
  spec/models/requirement_spec.rb
  spec/models/requirement_template_section_spec.rb
  spec/models/step_code_spec.rb
  spec/models/submission_version_spec.rb
  spec/models/template_section_block_spec.rb
  spec/models/template_version_spec.rb
  spec/policies/permit_application_policy_spec.rb
  spec/rails_helper.rb
  spec/requests/external_api/v1/permit_applications_spec.rb
  spec/services/automated_compliance/historic_site_spec.rb
  spec/services/automated_compliance/parcel_info_extractor_spec.rb
  spec/services/customization_copy_service_spec.rb
  spec/services/preview_management_service_spec.rb
  spec/services/template_versioning_service_spec.rb
Due: stree --write

fix remaining specs
  app/models/requirement_template.rb
  db/migrate/20250606170610_add_created_by_test_to_requirement_templates.rb
  db/schema.rb
  spec/models/permit_application_spec.rb
  spec/models/requirement_block_spec.rb
  spec/models/requirement_spec.rb
  spec/models/step_code_spec.rb
  spec/models/submission_version_spec.rb
  spec/models/template_section_block_spec.rb
  spec/policies/permit_application_policy_spec.rb
  spec/services/submission_data_key_converter_service_spec.rb
  spec/services/template_versioning_service_spec.rb
Due: stree --write

fix checkbox pdf rendering
  app/frontend/components/shared/permit-applications/pdf-content/application/index.tsx
  package.json
Due: prettier --write, eslint

reconfigure shrine options for content disposition
  config/initializers/shrine.rb
Due: stree --write

fix assigned reviewer layout
  app/frontend/components/domains/permit-application/collaborator-management/collaborators-sidebar.tsx
Due: prettier --write, eslint

fix contact modal address display
  app/frontend/components/domains/permit-application/contact-summary-modal.tsx
Due: prettier --write, eslint

print failing json for testing
  app/jobs/pdf_generation_job.rb
Due: stree --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
