Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

fix specs
  app/controllers/api/requirement_templates_controller.rb
  app/models/note.rb
Due: stree --write

HUB-5583 Reorder super admin home cards
  app/frontend/components/domains/home/super-admin-home-screen.tsx
Due: prettier --write, eslint

add db back uo and restore for matomo
  devops/helm-charts/matomo-openshift-chart/BACKUP-AND-RESTORE-GUIDE.md
  devops/helm-charts/matomo-openshift-chart/FIXES-AND-DEPLOYMENT-GUIDE.md
  devops/helm-charts/matomo-openshift-chart/OPENSHIFT-INSTALL.md
  devops/helm-charts/matomo-openshift-chart/README.md
  devops/helm-charts/matomo-openshift-chart/UPGRADE-AND-RESTORE-GUIDE.md
  devops/helm-charts/matomo-openshift-chart/templates/NOTES.txt
  devops/helm-charts/matomo-openshift-chart/templates/_helpers.tpl
  devops/helm-charts/matomo-openshift-chart/templates/backup-cronjob.yaml
  devops/helm-charts/matomo-openshift-chart/templates/backup-pvc.yaml
  devops/helm-charts/matomo-openshift-chart/templates/backup-s3-secret.yaml
  devops/helm-charts/matomo-openshift-chart/templates/configmap-nginx-matomo-dashboard.yaml
  devops/helm-charts/matomo-openshift-chart/templates/configmap-nginx-matomo-tracker.yaml
  devops/helm-charts/matomo-openshift-chart/templates/cronjob-matomo-scheduled-tasks.yaml
  devops/helm-charts/matomo-openshift-chart/templates/db-mariadb.yaml
  devops/helm-charts/matomo-openshift-chart/templates/matomo-admin-secret.yaml
  devops/helm-charts/matomo-openshift-chart/templates/networkpolicy.yaml
  devops/helm-charts/matomo-openshift-chart/templates/post-install-job.yaml
  devops/helm-charts/matomo-openshift-chart/templates/pre-upgrade-job.yaml
  devops/helm-charts/matomo-openshift-chart/templates/restore-job.yaml
  devops/helm-charts/matomo-openshift-chart/values-openshift-bb18ab-dev.yaml
  devops/helm-charts/matomo-openshift-chart/values-openshift-bb18ab-tools.yaml
  devops/helm-charts/matomo-openshift-chart/values-openshift.yaml
  devops/helm-charts/matomo-openshift-chart/values.yaml
Due: none

Show submission contact status and save each invite immediately
  app/controllers/api/submission_contacts_controller.rb
  app/frontend/components/domains/home/review-manager/configuration-management-screen/feature-access-screen/project-meetings.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/shared/submission-contact-form.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/submissions-inbox-setup-screen/form.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/submissions-inbox-setup-screen/i18n-prefix.ts
  app/frontend/components/domains/home/review-manager/configuration-management-screen/submissions-inbox-setup-screen/index.tsx
  app/frontend/components/shared/form/email-list-editable-block.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/jurisdiction.ts
  app/frontend/services/api/index.ts
  app/models/submission_contact.rb
  app/policies/submission_contact_policy.rb
  config/locales/en.yml
  config/routes.rb
  spec/requests/api/submission_contacts_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5639 Remove signature requirement input type
  app/frontend/components/domains/permit-application-builder/stubs/test_permit_application_schema.json
  app/frontend/components/shared/chefs/custom-formio-components/components/SimpleSignatureAdvanced/Component.d.ts
  app/frontend/components/shared/chefs/custom-formio-components/components/SimpleSignatureAdvanced/Component.form.d.ts
  app/frontend/components/shared/chefs/custom-formio-components/components/SimpleSignatureAdvanced/Component.form.js
  app/frontend/components/shared/chefs/custom-formio-components/components/SimpleSignatureAdvanced/Component.js
  app/frontend/components/shared/chefs/custom-formio-components/components/SimpleSignatureAdvanced/editForm/Component.edit.validation.d.ts
  app/frontend/components/shared/chefs/custom-formio-components/components/SimpleSignatureAdvanced/editForm/Component.edit.validation.js
  app/frontend/components/shared/chefs/custom-formio-components/components/index.d.ts
  app/frontend/components/shared/chefs/custom-formio-components/components/index.js
  app/frontend/components/shared/chefs/custom-formio-components/index.d.ts
  app/frontend/i18n/i18n.ts
  app/frontend/types/enums.ts
  app/frontend/utils/export-permit-application-csv.ts
  app/models/requirement.rb
  app/models/requirement_question.rb
  app/services/requirement_form_json_service.rb
  app/services/seeded_requirement_template_service.rb
Due: prettier --write, eslint, stree --write

HUB-5639 Remove unused permit application CSV export
  app/frontend/utils/export-permit-application-csv.ts
Due: prettier --write, eslint

Show qualified jurisdiction names on notes and keep project draft permit types
  app/controllers/api/requirement_templates_controller.rb
  app/models/note.rb
Due: stree --write

add sandbox id and remove pa id
  app/blueprints/pre_check_blueprint.rb
  app/controllers/api/concerns/search/overheating_codes.rb
  app/controllers/api/concerns/search/pre_checks.rb
  app/controllers/api/concerns/search/step_codes.rb
  app/controllers/api/overheating_codes_controller.rb
  app/controllers/api/pre_checks_controller.rb
  app/controllers/concerns/step_code_params_concern.rb
  app/frontend/components/domains/permit-project/pre-check-grid-header.tsx
  app/frontend/components/domains/permit-project/pre-check-grid-row.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/pre-check.ts
  app/frontend/types/enums.ts
  app/models/concerns/project_item.rb
  app/models/overheating_code.rb
  app/models/pre_check.rb
  app/models/step_code.rb
  app/policies/overheating_code_policy.rb
  app/policies/pre_check_policy.rb
  app/policies/project_meeting_policy.rb
  app/policies/step_code_policy.rb
  app/services/reports/storage_footprint.rb
  app/views/permit_hub_mailer/notify_pre_check_submitted.erb
  db/data/20261001140100_backfill_standalone_record_sandboxes.rb
  db/data_schema.rb
  db/migrate/20261001140000_add_sandbox_id_to_standalone_records.rb
  db/migrate/20261001140200_remove_permit_application_from_pre_checks.rb
  db/schema.rb
  spec/controllers/api/pre_checks_controller_spec.rb
  spec/factories/pre_checks.rb
  spec/models/pre_check_spec.rb
  spec/models/step_code_spec.rb
  spec/policies/overheating_code_policy_spec.rb
  spec/policies/pre_check_policy_spec.rb
  spec/policies/project_meeting_policy_spec.rb
  spec/policies/step_code_policy_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5612 Add a published_sandbox spec helper
  spec/models/pre_check_spec.rb
  spec/rails_helper.rb
  spec/services/permit_application_export_service_spec.rb
  spec/services/pre_check_export_service_spec.rb
  spec/services/reports/storage_footprint_spec.rb
  spec/services/step_code_checklist_dump_service_spec.rb
  spec/services/step_code_file_upload_zip_service_spec.rb
  spec/support/sandbox_spec_helpers.rb
Due: stree --write

HUB-5612 Exclude sandboxed records from reporting and fix sandbox download and notification fallout
  app/frontend/channels/processors/notification_effects.ts
  app/frontend/components/shared/chefs/additional-formio/providers/storage/s3custom.js
  app/frontend/i18n/i18n.ts
  app/frontend/utils/utility-functions.ts
  app/models/permit_application.rb
  app/models/pre_check.rb
  app/models/report_document.rb
  app/services/pre_check_export_service.rb
  app/services/reports/storage_footprint.rb
  app/services/step_code_checklist_dump_service.rb
  app/services/step_code_export_service.rb
  app/services/step_code_file_upload_zip_service.rb
  config/locales/reports.en.yml
  db/data_schema.rb
  db/schema.rb
  spec/models/pre_check_spec.rb
  spec/services/permit_application_export_service_spec.rb
  spec/services/pre_check_export_service_spec.rb
  spec/services/reports/storage_footprint_spec.rb
  spec/services/step_code_checklist_dump_service_spec.rb
  spec/services/step_code_export_service_spec.rb
  spec/services/step_code_file_upload_zip_service_spec.rb
Due: prettier --write, eslint, stree --write

move sandbox blocking to find level
  app/controllers/api/application_controller.rb
  app/controllers/api/overheating_codes_controller.rb
  app/controllers/api/part_3_building/checklists_controller.rb
  app/controllers/api/part_3_building/step_codes_controller.rb
  app/controllers/api/part_9_building/checklists_controller.rb
  app/controllers/api/part_9_building/step_codes_controller.rb
  app/controllers/api/permit_applications_controller.rb
  app/controllers/api/permit_collaborations_controller.rb
  app/controllers/api/pre_checks_controller.rb
  app/controllers/api/project_meetings/notes_controller.rb
  app/controllers/api/qa_tools_controller.rb
  app/controllers/api/report_documents_controller.rb
  app/controllers/api/requirement_templates_controller.rb
  app/controllers/api/step_codes_controller.rb
  app/controllers/api/storage_controller.rb
  app/models/note.rb
  app/policies/note_policy.rb
  app/policies/permit_application_policy.rb
  app/policies/project_meeting_policy.rb
  spec/policies/note_policy_spec.rb
  spec/policies/permit_application_policy_spec.rb
  spec/policies/project_meeting_policy_spec.rb
  spec/requests/api/sandbox_member_lookup_spec.rb
Due: stree --write

fix notifications and spec
  app/frontend/stores/notification-store.ts
  app/models/file_upload_attachment.rb
  spec/models/file_upload_attachment_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5653 Admin - Permit template catalog - View EA previews: Restore missing 'View optional electives' functionality
  app/frontend/components/shared/permit-applications/requirement-form/index.tsx
  app/frontend/components/shared/permit-applications/requirement-form/optional-electives-modal.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/types/types.ts
  app/frontend/utils/view-optional-electives.ts
Due: prettier --write, eslint

HUB-5614 redirect reviewer to the correct page after add
  app/frontend/components/domains/permit-project/permit-project-screen.tsx
Due: prettier --write, eslint

HUB-5614 do not redirect reviewer to meeting requst on add pa
  app/frontend/components/domains/permit-project/add-permit-application-screen.tsx
Due: prettier --write, eslint

match revision sidebar style for submitter
  app/frontend/components/domains/permit-application/revision-sidebar.tsx
  app/frontend/i18n/i18n.ts
  db/seeds.rb
Due: prettier --write, eslint, stree --write

Filter project notes by type and author
  app/frontend/components/shared/notes/project-notes-list.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Attach revision fulfillment files to the resubmitted version
  app/frontend/components/domains/permit-application/submission-download-modal.tsx
  app/frontend/i18n/i18n.ts
  app/models/concerns/permit_application_status.rb
  app/models/supporting_document.rb
  db/data/20261002211900_backfill_revision_fulfillment_submission_versions.rb
  spec/requests/api/permit_applications_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5620 Admin - Reports - All new reports: Update to new PCT time zone
  app/frontend/components/domains/super-admin/reporting/report-controls.tsx
  app/services/reports/accounts.rb
  app/services/reports/base.rb
  app/services/reports/storage_footprint.rb
  spec/services/reports/application_growth_spec.rb
Due: prettier --write, eslint, stree --write

Share revision tab styling between reviewer and submitter
  app/frontend/components/domains/permit-application/revision-sidebar.tsx
Due: prettier --write, eslint

bump brace expansion override to 1.1.21
  package-lock.json
  package.json
Due: none

Pin brace-expansion 2.x to 2.1.7 for CVE-2026-102277
  package-lock.json
  package.json
Due: none

HUB-5560 tidy matomo login funnel hook and provider label (#1985)
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/hooks/use-matomo-auth-funnel.ts
  app/frontend/models/user.ts
  app/frontend/stores/root-store.ts
  app/frontend/stores/session-store.ts
  app/frontend/stores/ui-store.ts
Due: prettier --write, eslint

HUB-5654 Missing ability to archive a permit template
  app/frontend/components/domains/requirement-template/requirement-template-actions.tsx
  app/frontend/components/shared/requirement-template/mange-requirement-template-menu.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Add V2 project state write-back and available next codes
  app/blueprints/permit_application_blueprint.rb
  app/blueprints/permit_project_blueprint.rb
  app/controllers/external_api/permit_applications_controller.rb
  app/controllers/external_api/v2/permit_projects_controller.rb
  app/policies/external_api/permit_project_policy.rb
  app/postman_collections/integration-api-v2.postman_collection.json
  app/services/constants/external_api.rb
  app/services/external_api/apply_revision_requests.rb
  config/routes.rb
  spec/policies/external_api/permit_project_policy_spec.rb
  spec/requests/external_api/v2/permit_applications_controller_spec.rb
  spec/requests/external_api/v2/permit_projects_controller_spec.rb
  spec/requests/external_api/v2/permit_projects_spec.rb
  spec/services/constants/external_api_spec.rb
  spec/swagger_helper.rb
  swagger/external_api/v2/swagger.yaml
Due: stree --write

Add V2 project state write to the Postman collection
  app/postman_collections/integration-api-v2.postman_collection.json
Due: none

Add V2 project meeting webhook, fetch, and accept
  .cursor/rules/permissions.mdc
  app/blueprints/permit_project_blueprint.rb
  app/blueprints/project_meeting_blueprint.rb
  app/controllers/api/jurisdictions_controller.rb
  app/controllers/api/project_meetings_controller.rb
  app/controllers/external_api/v2/project_meetings_controller.rb
  app/jobs/permit_webhook_job.rb
  app/models/concerns/project_meeting_status.rb
  app/policies/external_api/project_meeting_policy.rb
  app/postman_collections/integration-api-v2.postman_collection.json
  app/services/constants/webhooks.rb
  config/routes.rb
  spec/factories/meeting_request_documents.rb
  spec/jobs/permit_webhook_job_spec.rb
  spec/models/external_api_webhook_delivery_spec.rb
  spec/requests/external_api/v2/project_meetings_controller_spec.rb
  spec/requests/external_api/v2/project_meetings_spec.rb
  spec/swagger_helper.rb
  swagger/external_api/v2/swagger.yaml
Due: stree --write

Stop tracking local Cursor rule files
  .cursor/rules/camelization.mdc
  .cursor/rules/permissions.mdc
Due: none

HUB-5646 Send the scheduled meeting email only after the schedule commits
  app/models/concerns/project_meeting_status.rb
Due: stree --write

wip
  app/controllers/external_api/concerns/search/permit_projects.rb
  app/controllers/external_api/v2/permit_projects_controller.rb
  app/policies/external_api/permit_project_policy.rb
  app/postman_collections/integration-api-v2.postman_collection.json
  config/routes.rb
  spec/policies/external_api/permit_project_policy_spec.rb
  spec/requests/external_api/v2/permit_projects_controller_spec.rb
  spec/requests/external_api/v2/permit_projects_spec.rb
  swagger/external_api/v2/swagger.yaml
Due: stree --write

Initial upgrade to Node 24
  .github/workflows/pull-request.yml
  .nvmrc
  README.md
  devops/docker/app/Dockerfile
  devops/docker/app/Dockerfile.dev
  package-lock.json
  package.json
  tsconfig.json
Due: none

Upgrade application to use Ruby 4.0
  .github/workflows/pull-request.yml
  .rubocop.yml
  .ruby-version
  Gemfile
  Gemfile.lock
  README.md
  devops/docker/app/Dockerfile
  devops/docker/app/Dockerfile.dev
  docs/ruby-4-upgrade.md
Due: none

limit permissions for modification of application files in Dockerfile while keeping Openshift support
  devops/docker/app/Dockerfile
Due: none

HUB-5465 Improve PDF footer layout
  app/frontend/components/print/README.md
  app/frontend/components/print/components/report-footer.tsx
  app/frontend/components/print/components/report-shell.tsx
  app/frontend/components/print/styles/print.css
  spec/services/print_reports_renderer_spec.rb
Due: prettier --write, eslint, stree --write

Restore application identity on PDF covers
  app/frontend/components/print/README.md
  app/frontend/components/print/components/report-cover.tsx
  app/frontend/components/print/permit-application/report-data.ts
  app/frontend/components/print/styles/print.css
  app/services/print_reports/data.rb
  spec/services/print_reports_data_spec.rb
  spec/services/print_reports_renderer_spec.rb
Due: prettier --write, eslint, stree --write

Fix Step Code PDF placeholders and table wrapping
  app/frontend/components/print/components/report-cover.tsx
  app/frontend/components/print/components/report-translation.ts
  app/frontend/components/print/components/step-code-layout.tsx
  app/frontend/components/print/form/field-values.ts
  app/frontend/components/print/report-content.tsx
  app/frontend/components/print/step-code/part-3/sections/mixed-use-summary/table-values.ts
  app/frontend/components/print/step-code/part-3/sections/step-code-performance-summary/index.tsx
  app/frontend/components/print/step-code/part-9/report.tsx
  app/frontend/components/print/step-code/part-9/sections/building-characteristics-summary/dynamic-characteristics-grid/fossil-fuels.tsx
  app/frontend/components/print/step-code/part-9/sections/building-characteristics-summary/dynamic-characteristics-grid/other.tsx
  app/frontend/components/print/step-code/part-9/sections/building-characteristics-summary/static-characteristics-grid/index.tsx
  app/frontend/components/print/step-code/part-9/sections/completed-by/index.tsx
  app/frontend/components/print/step-code/part-9/sections/energy-performance-compliance/index.tsx
  app/frontend/components/print/styles/print.css
  spec/services/print_reports_renderer_spec.rb
Due: prettier --write, eslint, stree --write

Preserve submission report snapshots and support PDF recovery
  app/blueprints/permit_application_blueprint.rb
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/domains/permit-application/submission-download-modal.tsx
  app/frontend/components/print/README.md
  app/frontend/components/print/components/report-cover.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/permit-application-store.ts
  app/frontend/types/types.ts
  app/jobs/pdf_generation_job.rb
  app/jobs/zipfile_job.rb
  app/models/concerns/form_supporting_documents.rb
  app/models/concerns/permit_application_status.rb
  app/models/permit_application.rb
  app/models/submission_version.rb
  app/models/supporting_document.rb
  app/services/permit_application/form_json_service.rb
  app/services/print_reports/application_lock.rb
  app/services/print_reports/data.rb
  app/services/print_reports/generation.rb
  app/services/print_reports/recovery.rb
  app/services/print_reports/snapshot.rb
  app/services/print_reports/stored_file.rb
  app/services/supporting_documents_zipper.rb
  db/migrate/20261002120000_add_report_snapshot_to_submission_versions.rb
  db/schema.rb
  lib/tasks/print_reports.rake
  spec/factories/submission_versions.rb
  spec/jobs/zipfile_job_spec.rb
  spec/models/permit_application_spec.rb
  spec/requests/api/permit_applications_spec.rb
  spec/services/permit_application/form_json_service_spec.rb
  spec/services/print_reports_data_spec.rb
  spec/services/print_reports_generation_spec.rb
  spec/services/print_reports_recovery_spec.rb
  spec/services/print_reports_renderer_spec.rb
  spec/services/print_reports_snapshot_spec.rb
  spec/services/supporting_documents_zipper_spec.rb
Due: prettier --write, eslint, stree --write
