Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

fix jurisdiction pagination
  app/frontend/stores/jurisdiction-store.ts
Due: prettier --write, eslint

update data migrate gem
  Gemfile
  Gemfile.lock
Due: none

update requirement input types and requirement block policy scoping
  app/controllers/api/concerns/search/requirement_blocks.rb
  app/controllers/api/requirement_blocks_controller.rb
  app/policies/requirement_block_policy.rb
  spec/controllers/requirement_blocks_controller_spec.rb
Due: stree --write

remove awkward special design fine requirement shoehorning
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/edit-jurisdiction-api-mapping-screen/grid-accordion.tsx
  app/frontend/components/domains/requirements-library/fields-setup-drawer.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/generic-field-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/index.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/editable-group.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/field-controls-header.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/components/shared/requirement-type-tag.tsx
  app/frontend/constants/index.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement-block.ts
  app/frontend/types/enums.ts
  app/frontend/utils/utility-functions.ts
  app/models/concerns/step_code_field_extraction.rb
  app/models/requirement.rb
  app/models/requirement_template.rb
  app/services/requirement_form_json_service.rb
  spec/factories/requirements.rb
  spec/models/requirement_spec.rb
Due: prettier --write, eslint, stree --write

Re-create old step code package logic
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/edit-jurisdiction-api-mapping-screen/grid-accordion.tsx
  app/frontend/components/domains/requirements-library/fields-setup-drawer.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/generic-field-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/index.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/editable-group.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/field-controls-header.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/components/shared/requirement-type-tag.tsx
  app/frontend/constants/index.ts
  app/frontend/models/requirement-block.ts
  app/frontend/utils/utility-functions.ts
  app/models/concerns/step_code_field_extraction.rb
  app/models/requirement.rb
  app/models/requirement_template.rb
  config/locales/en.yml
  spec/models/part_9_step_code_spec.rb
Due: prettier --write, eslint, stree --write

add architectural requirement
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
  app/frontend/constants/index.ts
  app/frontend/i18n/i18n.ts
  app/frontend/types/api-request.ts
  app/frontend/types/enums.ts
  app/models/requirement.rb
  config/locales/en.yml
  spec/models/requirement_spec.rb
Due: prettier --write, eslint, stree --write

HUB-2220 download permit application as a CSV
  app/frontend/components/domains/permit-application/submission-download-modal.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/utils/export-permit-application-csv.ts
Due: prettier --write, eslint

HUB-2220 download permit application as a CSV
  app/frontend/utils/export-permit-application-csv.ts
Due: prettier --write, eslint

improve error logging
  app/controllers/api/permit_projects_controller.rb
  app/controllers/concerns/base_controller_methods.rb
Due: stree --write

fix requirement factory for architectual file
  spec/factories/requirements.rb
Due: stree --write

fix permitted param naming
  app/controllers/api/permit_projects_controller.rb
Due: stree --write

disable add permits button for other sandbox jurisdiciton
  app/blueprints/sandbox_blueprint.rb
  app/frontend/components/domains/permit-project/overview-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/permits-tab-panel-content.tsx
  app/frontend/components/shared/permit-projects/add-permits-button.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-project.ts
  app/frontend/models/sandbox.ts
Due: prettier --write, eslint, stree --write

disable jurisdiction selector when sandbox enabled
  app/frontend/components/domains/navigation/regional-rm-jurisdiction-select.tsx
  app/frontend/components/shared/conditional-tooltip.tsx
  app/frontend/components/shared/permit-projects/add-permits-button.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

add precheck models, controllers, stores, search, and policies with passing specs
  app/blueprints/pre_check_blueprint.rb
  app/controllers/api/concerns/search/pre_checks.rb
  app/controllers/api/pre_checks_controller.rb
  app/frontend/models/pre-check.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/pre-check-store.ts
  app/frontend/types/api-responses.ts
  app/frontend/types/enums.ts
  app/models/pre_check.rb
  app/policies/pre_check_policy.rb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20250926120000_create_pre_checks.rb
  db/schema.rb
  spec/controllers/api/pre_checks_controller_spec.rb
  spec/factories/pre_checks.rb
  spec/models/pre_check_spec.rb
  spec/policies/pre_check_policy_spec.rb
  spec/spec_helper.rb
Due: prettier --write, eslint, stree --write

harden pre check association validations
  app/controllers/api/pre_checks_controller.rb
  app/models/pre_check.rb
  spec/controllers/api/pre_checks_controller_spec.rb
  spec/factories/pre_checks.rb
  spec/models/pre_check_spec.rb
  spec/policies/pre_check_policy_spec.rb
Due: stree --write

use reflection as fallback for obtaining parent id column when not loaded
  app/models/concerns/project_item.rb
Due: stree --write

add subsite querying for strata lot
  app/controllers/api/geocoder_controller.rb
  app/frontend/components/domains/permit-project/new-permit-project-screen.tsx
  app/frontend/components/domains/step-code/part-3/form-section/project-details.tsx
  app/frontend/components/domains/step-code/part-9/import.tsx
  app/frontend/components/shared/select/selectors/sites-select.tsx
  app/frontend/hooks/use-jurisdiction-from-site.ts
  app/frontend/i18n/i18n.ts
  app/services/wrappers/geocoder.rb
  app/services/wrappers/ltsa_parcel_map_bc.rb
Due: prettier --write, eslint, stree --write

add LTSA matcher
  app/blueprints/jurisdiction_blueprint.rb
  app/controllers/api/jurisdictions_controller.rb
  app/controllers/api/permit_projects_controller.rb
  app/frontend/components/domains/jurisdictions/edit-jurisdiction-screen.tsx
  app/frontend/components/domains/jurisdictions/new-jurisdiction-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/jurisdiction.ts
  app/models/jurisdiction.rb
  config/locales/en.yml
  db/migrate/20251006221400_add_ltsa_matcher_to_jurisdictions.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

Add script for populating LTSA matcher
  app/controllers/api/geocoder_controller.rb
  app/frontend/components/domains/jurisdictions/edit-jurisdiction-screen.tsx
  app/frontend/components/domains/jurisdictions/jurisdiction-form.tsx
  app/frontend/components/domains/jurisdictions/new-jurisdiction-screen.tsx
  app/frontend/components/shared/jurisdiction-search/index.tsx
  app/frontend/components/shared/select/selectors/sites-select.tsx
  app/frontend/components/shared/step-code-address-search/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/jurisdiction.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/geocoder-store.ts
  app/frontend/stores/jurisdiction-store.ts
  app/models/jurisdiction.rb
  db/data/20251008002911_populate_ltsa_matchers.rb
  db/data_schema.rb
  db/migrate/20251006221400_add_ltsa_matcher_to_jurisdictions.rb
  lib/tasks/jurisdiction_cleanup.rake
Due: prettier --write, eslint, stree --write

remove unused variables
  app/frontend/components/domains/jurisdictions/edit-jurisdiction-screen.tsx
  app/frontend/components/domains/permit-project/new-permit-project-screen.tsx
  app/frontend/components/domains/step-code/part-9/import.tsx
  app/frontend/components/shared/select/selectors/sites-select.tsx
  app/frontend/models/jurisdiction.ts
  app/models/jurisdiction.rb
  app/models/permit_project.rb
Due: prettier --write, eslint, stree --write

properly handle conditional tooltip props
  app/frontend/components/shared/conditional-tooltip.tsx
Due: prettier --write, eslint

add automatic count field for jurisdiction customizations
  app/blueprints/requirement_template_blueprint.rb
  app/models/jurisdiction_template_version_customization.rb
  app/models/requirement_template.rb
  db/migrate/20251008184807_add_customizations_count_to_template_versions.rb
  db/schema.rb
Due: stree --write

touchups to validation, copy, form DRY
  app/frontend/components/domains/jurisdictions/jurisdiction-form.tsx
  app/frontend/components/domains/jurisdictions/new-jurisdiction-screen.tsx
  app/frontend/components/domains/permit-project/new-permit-project-screen.tsx
  app/frontend/i18n/i18n.ts
  app/models/jurisdiction.rb
  db/data/20251008002911_populate_ltsa_matchers.rb
Due: prettier --write, eslint, stree --write

Update app/frontend/i18n/i18n.ts
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

add feature for sharing report documents with jurisdictions
  app/controllers/api/report_documents_controller.rb
  app/frontend/components/domains/permit-project/step-codes-grid-row.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/step-code-base.ts
  app/frontend/services/api/index.ts
  app/mailers/permit_hub_mailer.rb
  app/models/jurisdiction.rb
  app/models/report_document.rb
  app/policies/report_document_policy.rb
  app/services/step_code_report_sharing_service.rb
  app/views/permit_hub_mailer/send_step_code_report_to_jurisdiction.html.erb
  config/locales/en.yml
  config/routes.rb
Due: prettier --write, eslint, stree --write

allow generating early reports on non standlone step codes
  app/blueprints/step_code/part_9/checklist_blueprint.rb
  app/controllers/api/part_3_building/checklists_controller.rb
  app/controllers/api/part_9_building/checklists_controller.rb
  app/frontend/components/domains/step-code/part-9/checklist/project-info/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-9-step-code-checklist.ts
  app/frontend/styles/chakra-overrides.scss
  app/jobs/step_code_report_generation_job.rb
  app/services/requirement_form_json_service.rb
  app/views/permit_hub_mailer/send_step_code_report_to_jurisdiction.html.erb
Due: prettier --write, eslint, stree --write

only allow sharing report with corresponding jurisdicition contact
  app/controllers/api/report_documents_controller.rb
  app/frontend/models/step-code-base.ts
  app/frontend/services/api/index.ts
  app/models/report_document.rb
  app/services/step_code_report_sharing_service.rb
Due: prettier --write, eslint, stree --write

fix used by count indexing and sorting
  app/blueprints/requirement_template_blueprint.rb
  app/frontend/components/shared/requirement-template/requirement-template-grid.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement-template.ts
  app/frontend/types/enums.ts
  app/models/requirement_template.rb
  db/migrate/20251009201440_reindex_templates_for_used_by_count.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

enable archiving step codes
  app/blueprints/step_code_base_blueprint.rb
  app/controllers/api/concerns/search/step_codes.rb
  app/controllers/api/step_codes_controller.rb
  app/frontend/components/domains/permit-project/step-code-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/step-codes-grid-row.tsx
  app/frontend/models/step-code-base.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/step-code-store.ts
  app/models/step_code.rb
  app/policies/step_code_policy.rb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20251009202916_add_discarded_at_to_step_codes.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

cover edge cases with permit application
  app/controllers/api/part_3_building/checklists_controller.rb
  app/controllers/api/part_3_building/step_codes_controller.rb
  app/controllers/api/part_9_building/checklists_controller.rb
  app/controllers/api/part_9_building/step_codes_controller.rb
  app/controllers/api/step_codes_controller.rb
  app/frontend/components/domains/permit-project/step-codes-grid-row.tsx
  app/frontend/components/domains/step-code/part-3/index.tsx
  app/frontend/components/domains/step-code/part-9/index.tsx
  app/models/part_3_step_code/checklist.rb
  app/models/part_9_step_code/checklist.rb
  app/models/step_code.rb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

add digital seal validation for multi file upload
  app/frontend/components/shared/chefs/custom-formio-components/components/SimpleFile/Component.js
  app/frontend/components/shared/chefs/index.tsx
  app/frontend/components/shared/chefs/styles.scss
  app/models/concerns/form_supporting_documents.rb
  app/models/supporting_document.rb
Due: prettier --write, eslint, stree --write

check step code type in notifiacation side effect and fic pdf fields
  app/frontend/channels/processors/notification_effects.ts
  app/frontend/components/domains/step-code/part-9/checklist/pdf-content/project-info/index.tsx
  app/jobs/concerns/pdf_renderer.rb
  app/jobs/pdf_generation_job.rb
  app/models/report_document.rb
Due: prettier --write, eslint, stree --write

add pre-check boilerplate
  .cursor/commands/new.md
  app/blueprints/pre_check_blueprint.rb
  app/controllers/api/pre_checks_controller.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/permit-project/index.tsx
  app/frontend/components/domains/permit-project/pre-check-grid-header.tsx
  app/frontend/components/domains/permit-project/pre-check-grid-row.tsx
  app/frontend/components/domains/permit-project/pre-check-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/pre-checks-grid.tsx
  app/frontend/components/domains/pre-check/form-section/agreements-and-consent.tsx
  app/frontend/components/domains/pre-check/form-section/building-type.tsx
  app/frontend/components/domains/pre-check/form-section/confirm-submission.tsx
  app/frontend/components/domains/pre-check/form-section/form-footer.tsx
  app/frontend/components/domains/pre-check/form-section/index.tsx
  app/frontend/components/domains/pre-check/form-section/project-address.tsx
  app/frontend/components/domains/pre-check/form-section/results-summary.tsx
  app/frontend/components/domains/pre-check/form-section/service-partner.tsx
  app/frontend/components/domains/pre-check/form-section/upload-drawings.tsx
  app/frontend/components/domains/pre-check/index.tsx
  app/frontend/components/domains/pre-check/sidebar/index.tsx
  app/frontend/components/domains/pre-check/sidebar/nav-sections.ts
  app/frontend/components/domains/pre-check/sidebar/section-header.tsx
  app/frontend/components/domains/pre-check/sidebar/section-link.tsx
  app/frontend/components/domains/pre-check/use-pre-check-navigation.ts
  app/frontend/hooks/resources/use-pre-check.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/pre-check.ts
  app/frontend/stores/pre-check-store.ts
  app/frontend/stores/root-store.ts
  app/frontend/types/enums.ts
  app/models/pre_check.rb
  db/migrate/20250926120000_create_pre_checks.rb
  db/schema.rb
  spec/factories/pre_checks.rb
Due: prettier --write, eslint, stree --write

add permit type to precheck
  app/blueprints/pre_check_blueprint.rb
  app/controllers/api/pre_checks_controller.rb
  app/frontend/components/domains/pre-check/form-section/agreements-and-consent.tsx
  app/frontend/components/domains/pre-check/form-section/building-type.tsx
  app/frontend/components/domains/pre-check/form-section/confirm-submission.tsx
  app/frontend/components/domains/pre-check/form-section/form-footer.tsx
  app/frontend/components/domains/pre-check/form-section/project-address.tsx
  app/frontend/components/domains/pre-check/form-section/service-partner.tsx
  app/frontend/components/shared/select/selectors/sites-select.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/pre-check.ts
  app/frontend/stores/pre-check-store.ts
  app/models/concerns/project_item.rb
  db/migrate/20250926120000_create_pre_checks.rb
  db/schema.rb
  spec/factories/pre_checks.rb
Due: prettier --write, eslint, stree --write

add polish from pm feedback and add precheck documents
  app/controllers/api/concerns/search/pre_checks.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/permit-project/pre-check-grid-row.tsx
  app/frontend/components/domains/pre-check/form-section/agreements-and-consent.tsx
  app/frontend/components/domains/pre-check/form-section/building-type.tsx
  app/frontend/components/domains/pre-check/form-section/form-footer.tsx
  app/frontend/components/domains/pre-check/form-section/project-address.tsx
  app/frontend/components/domains/pre-check/form-section/results-summary.tsx
  app/frontend/components/domains/pre-check/form-section/service-partner.tsx
  app/frontend/components/domains/pre-check/index.tsx
  app/frontend/components/domains/pre-check/sidebar/index.tsx
  app/frontend/components/domains/pre-check/sidebar/section-header.tsx
  app/frontend/components/domains/pre-check/sidebar/section-link.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/pre-check.ts
  app/frontend/types/enums.ts
  app/models/permit_project.rb
  app/models/pre_check.rb
  app/models/pre_check_design_document.rb
  db/migrate/20250926130000_create_pre_check_design_documents.rb
  db/schema.rb
  spec/factories/pre_check_design_documents.rb
Due: prettier --write, eslint, stree --write

support uploading pre check design docs
  app/blueprints/design_document_blueprint.rb
  app/blueprints/pre_check_blueprint.rb
  app/controllers/api/pre_checks_controller.rb
  app/controllers/api/storage_controller.rb
  app/frontend/components/domains/pre-check/form-section/upload-drawings.tsx
  app/frontend/hooks/use-uppy-s3.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/pre-check.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/design_document.rb
  app/models/pre_check.rb
  app/policies/design_document_policy.rb
  app/policies/storage_policy.rb
  db/migrate/20250926130000_create_design_documents.rb
  db/migrate/20250926130000_create_pre_check_design_documents.rb
  db/migrate/20251008184807_add_customizations_count_to_template_versions.rb
  db/schema.rb
  spec/factories/design_documents.rb
Due: prettier --write, eslint, stree --write

add results summary screen, back link, completion validations and logic
  app/blueprints/pre_check_blueprint.rb
  app/controllers/api/pre_checks_controller.rb
  app/frontend/components/domains/permit-project/pre-check-grid-row.tsx
  app/frontend/components/domains/pre-check/form-section/agreements-and-consent.tsx
  app/frontend/components/domains/pre-check/form-section/building-type.tsx
  app/frontend/components/domains/pre-check/form-section/confirm-submission.tsx
  app/frontend/components/domains/pre-check/form-section/form-footer.tsx
  app/frontend/components/domains/pre-check/form-section/project-address.tsx
  app/frontend/components/domains/pre-check/form-section/results-summary.tsx
  app/frontend/components/domains/pre-check/form-section/service-partner.tsx
  app/frontend/components/domains/pre-check/form-section/upload-drawings.tsx
  app/frontend/components/domains/pre-check/index.tsx
  app/frontend/components/domains/pre-check/pre-check-back-link.tsx
  app/frontend/components/domains/pre-check/sidebar/index.tsx
  app/frontend/components/shared/select/selectors/sites-select.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/pre-check.ts
  app/frontend/types/enums.ts
  app/models/pre_check.rb
  db/migrate/20250926120000_create_pre_checks.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

fix scheduled sandbox template version seelction
  app/models/permit_application.rb
Due: stree --write

fix fuzzy find mispelling distance in test
  app/models/jurisdiction.rb
Due: stree --write

fix file signature error font color
  app/frontend/components/shared/chefs/styles.scss
Due: none
