Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

Add ability to initialize step code from H2K XML
  app/models/step_code.rb
  app/models/step_code_data_entry.rb
  app/services/step_code/data_entry_hot2000_mapper.rb
  app/services/step_code/initialize_from_hot2000.rb
  db/migrate/20240201232041_create_step_codes.rb
  db/migrate/20240202233603_create_step_code_data_entries.rb
  db/schema.rb
Due: stree --write

add permit application submission
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/permit-application/checklist-sidebar.tsx
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/successful-submission.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/services/api/index.ts
  app/frontend/utils/index.ts
  app/models/requirement_template.rb
  app/policies/permit_application_policy.rb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20240215233532_add_signed_off_at_to_permit_application.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

clean up code smells
  app/frontend/components/domains/permit-application/successful-submission.tsx
  app/frontend/utils/index.ts
  app/models/requirement_template.rb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

add some specs
  app/frontend/components/shared/chefs/styles.scss
  app/models/permit_application.rb
  spec/factories/permit_applications.rb
  spec/models/requirement_block_spec.rb
  spec/policies/permit_application_policy_spec.rb
Due: stree --write

address PR concerns on matching section keys, PA update return
  .gitignore
  app/frontend/components/domains/permit-application/successful-submission.tsx
  app/frontend/models/permit-application.ts
  app/frontend/utils/index.ts
Due: prettier --write, eslint

fix application form json method
  app/models/permit_application.rb
Due: stree --write

add some missing translations
  app/frontend/components/domains/jurisdictions/contacts/contact-grid.tsx
Due: prettier --write, eslint

fix specs & re-add permit application compliance methods
  app/models/permit_application.rb
Due: stree --write

update web template for QA and add sidekiq template
  config/sidekiq_production.yml
  openshift/dev-test-templates/hous-permit-portal-sidekiq-template.yaml
  openshift/dev-test-templates/hous-permit-portal-web-template.yaml
Due: none

update enum types for admin screens
  app/frontend/types/enums.ts
Due: prettier --write, eslint

deal with empty requirements as well as updating seeder to update the publshed templates
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/models/permit_application.rb
  app/services/requirements_from_xlsx_seeder.rb
Due: prettier --write, eslint, stree --write

fix status in spec
  spec/factories/requirement_templates.rb
Due: stree --write

update some limits and change routes to add in Sidekiq Username and password
  config/routes.rb
  openshift/dev-test-templates/hous-permit-portal-sidekiq-template.yaml
  openshift/dev-test-templates/hous-permit-portal-web-template.yaml
Due: stree --write

[hotfix] Fix issue with requirement templates not loading, a regression from a change to withMerge
  app/frontend/components/domains/requirements-library/requirement-field-display.tsx
  app/frontend/stores/requirement-template-store.ts
  app/frontend/types/enums.ts
Due: prettier --write, eslint

[bphh-614] Disable publish button if template already published
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/controls-header.tsx
Due: prettier --write, eslint

add styling elements for icons on formio
  app/frontend/components/shared/chefs/styles.scss
Due: none

fixed styling, refactored uploader
  app/frontend/components/shared/chefs/custom-formio-components/providers/storage/s3custom.js
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/utils/uploads.ts
  app/uploaders/file_uploader.rb
Due: prettier --write, eslint, stree --write

file upload for h2k squashed
  .gitattributes
  app/controllers/api/step_codes_controller.rb
  app/frontend/components/domains/step-code/new.tsx
  app/frontend/components/shared/form/input-form-control.tsx
  app/frontend/i18n/i18n.ts
  app/models/step_code_data_entry.rb
  app/models/user.rb
  app/policies/step_code_policy.rb
  app/uploaders/h2k_file_uploader.rb
  db/migrate/20240216191016_add_h2k_file_data_to_step_code_data_entries.rb
  db/migrate/20240218020706_add_submitter_id_to_step_code.rb
  db/schema.rb
  spec/policies/step_code_policy_spec.rb
  spec/support/Test Model side 1.h2k
  spec/support/Test Model side 2.h2k
Due: prettier --write, eslint, stree --write

ability to trigger auto compliance can be disabled for developers
  .env.example
  app/controllers/api/permit_applications_controller.rb
Due: stree --write

add LTSA powered jurisdiction to creation process
  app/controllers/api/permit_applications_controller.rb
  app/controllers/api/permit_classifications_controller.rb
  app/errors/feature_attributes_retrieval_error.rb
  app/frontend/components/domains/permit-application/new-permit-application-screen.tsx
  app/frontend/components/shared/permit-classification/activity-list.tsx
  app/frontend/services/api/index.ts
  app/frontend/stores/permit-application-store.ts
  app/frontend/stores/permit-classification-store.ts
  app/models/jurisdiction.rb
  app/models/permit_application.rb
  app/models/regional_district.rb
  app/models/sub_district.rb
  app/services/automated_compliance/parcel_info_extractor.rb
  app/services/integrations/ltsa_parcel_map_bc.rb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

allow classified jurisdiction template to be uniquely identified
  app/models/permit_application.rb
  app/models/requirement_template.rb
  config/locales/en.yml
  spec/factories/permit_classification.rb
  spec/models/requirement_template_spec.rb
Due: stree --write

add sq units
  app/frontend/constants.ts
  app/frontend/i18n/i18n.ts
  app/frontend/types/enums.ts
Due: prettier --write, eslint

adding file uploads to components
  app/frontend/components/domains/requirements-library/fields-setup-drawer.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
  app/frontend/types/enums.ts
Due: prettier --write, eslint

added requirement display for emails and phone
  app/frontend/components/domains/requirements-library/requirement-field-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/enums.ts
Due: prettier --write, eslint

Hotfix buggy inputs for requirement edit
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/options-menu.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
Due: prettier --write, eslint

Add touch true for requirements, so that their updates indexes requirement block
  app/models/requirement.rb
Due: stree --write

fix options and remove divergent code
  app/controllers/api/permit_classifications_controller.rb
  app/frontend/components/domains/home/index.tsx
  app/frontend/components/domains/home/submitter-home-screen.tsx
  app/frontend/components/domains/permit-application/new-permit-application-screen.tsx
  app/frontend/models/permit-application.ts
  app/frontend/stores/permit-classification-store.ts
  app/frontend/types/types.ts
  app/models/jurisdiction.rb
  app/models/permit_application.rb
  app/models/requirement.rb
  app/models/requirement_template.rb
  spec/models/requirement_template_spec.rb
Due: prettier --write, eslint, stree --write

cleanup, need to infer requirements and hints and keep both functionalities in ltsa parcel map
  app/models/requirement.rb
  app/services/integrations/ltsa_parcel_map_bc.rb
Due: stree --write

add historic sites checker
  app/services/automated_compliance/historic_site.rb
  app/services/integrations/ltsa_parcel_map_bc.rb
  spec/factories/requirement_templates.rb
  spec/services/automated_compliance/historic_site_spec.rb
  spec/vcr_cassettes/automated_compliance/historic_site/matched_by_geometry.yml
  spec/vcr_cassettes/automated_compliance/historic_site/matched_by_legal.yml
  spec/vcr_cassettes/automated_compliance/historic_site/unmatched.yml
  spec/vcr_cassettes/automated_compliance/parcel_info_extractor/details.yml
Due: stree --write

fix up checklist checkboxes
  app/frontend/models/permit-application.ts
  app/models/requirement.rb
Due: prettier --write, eslint, stree --write

remove debugging statements
  app/frontend/models/permit-application.ts
Due: prettier --write, eslint

Address PR fixes
  config/locales/en.yml
  spec/models/requirement_template_spec.rb
Due: stree --write

move error under a nested folder (just picked models for now) so that it follows Zeitwerk conventions
  app/models/errors/feature_attributes_retrieval_error.rb
Due: stree --write

dynamic section updating should work now
  app/frontend/components/domains/permit-application/checklist-sidebar.tsx
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/models/permit-application.ts
  app/frontend/utils/formio-component-traversal.ts
Due: prettier --write, eslint

navigation update for permit applications
  app/frontend/components/domains/home/index.tsx
  app/frontend/components/shared/permit-applications/permit-application-card.tsx
Due: prettier --write, eslint

add loading spinner in right space
  app/frontend/components/domains/permit-application/index.tsx
  app/frontend/stores/permit-application-store.ts
Due: prettier --write, eslint

regex fix for section
  app/frontend/utils/index.ts
Due: prettier --write, eslint

add sensitive seeder task
  lib/tasks/sensitive_seeder.rake
Due: none

[bphh-609] Add migration to add TemplateVersion model
  app/models/requirement_template.rb
  app/models/template_version.rb
  db/migrate/20240215210244_create_template_versions.rb
  db/schema.rb
  spec/factories/template_versions.rb
  spec/models/template_version_spec.rb
Due: stree --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
