Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

fix standarderror typo
  app/controllers/api/geocoder_controller.rb
Due: stree --write

add index abstract method and fix site configuration controller callbacks
  app/controllers/api/application_controller.rb
  app/controllers/api/site_configuration_controller.rb
Due: stree --write

fix previously merged failing spec
  spec/models/requirement_spec.rb
Due: stree --write

Standardize naming of i18n prefix
  app/frontend/components/domains/step-code/checklist/completed-by/i18n-prefix.ts
  app/frontend/components/domains/step-code/checklist/completed-by/index.tsx
  app/frontend/components/domains/step-code/checklist/compliance-summary/energy-steps.tsx
  app/frontend/components/domains/step-code/checklist/compliance-summary/i18n-prefix.ts
  app/frontend/components/domains/step-code/checklist/compliance-summary/index.tsx
  app/frontend/components/domains/step-code/checklist/compliance-summary/translation-prefix.ts
  app/frontend/components/domains/step-code/checklist/compliance-summary/zero-carbon-steps.tsx
  app/frontend/components/domains/step-code/checklist/index.tsx
  app/frontend/components/domains/step-code/checklist/pdf-content/completed-by/index.tsx
  app/frontend/components/domains/step-code/checklist/pdf-content/compliance-summary/index.tsx
  app/frontend/components/domains/step-code/checklist/pdf-content/project-info/index.tsx
  app/frontend/components/domains/step-code/checklist/project-info/building-type-select.tsx
  app/frontend/components/domains/step-code/checklist/project-info/i18n-prefix.ts
  app/frontend/components/domains/step-code/checklist/project-info/index.tsx
  app/frontend/components/domains/step-code/checklist/project-info/translation-prefix.ts
  app/frontend/components/domains/step-code/checklist/shared/grid/requirements-met-tag.tsx
Due: prettier --write, eslint

Add missing keys
  app/frontend/components/domains/step-code/checklist/pdf-content/building-characteristics-summary/dynamic-characteristics-grid/doors.tsx
  app/frontend/components/domains/step-code/checklist/pdf-content/building-characteristics-summary/dynamic-characteristics-grid/hot-water.tsx
  app/frontend/components/domains/step-code/checklist/pdf-content/building-characteristics-summary/dynamic-characteristics-grid/other.tsx
  app/frontend/components/domains/step-code/checklist/pdf-content/building-characteristics-summary/dynamic-characteristics-grid/ventilation.tsx
  app/frontend/components/domains/step-code/checklist/pdf-content/building-characteristics-summary/dynamic-characteristics-grid/windows-glazed-doors.tsx
Due: prettier --write, eslint

Fix issue displaying file inputs on form
  app/frontend/components/shared/permit-applications/pdf-content/application/index.tsx
Due: prettier --write, eslint

refactor so there is no syncing of SupportingDocument with formio
  app/blueprints/supporting_document_blueprint.rb
  app/controllers/api/concerns/form_supporting_documents.rb
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/shared/chefs/additional-formio/providers/storage/s3custom.js
  app/frontend/components/shared/permit-applications/pdf-content/application/index.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/utils/formio-component-traversal.ts
  app/frontend/utils/uploads.ts
  app/models/concerns/automated_compliance_utils.rb
  app/models/concerns/form_supporting_documents.rb
  app/models/concerns/step_code_field_extraction.rb
  app/models/concerns/traverse_data_json.rb
  app/models/supporting_document.rb
  app/policies/permit_application_policy.rb
  app/services/supporting_documents_zipper.rb
  config/routes.rb
Due: prettier --write, eslint, stree --write

fix metadata for filename
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/shared/chefs/additional-formio/providers/storage/s3custom.js
Due: stree --write

update compliance message to disappear when file item removed
  app/frontend/components/shared/chefs/index.tsx
  app/frontend/utils/formio-component-traversal.ts
  app/frontend/utils/uploads.ts
  app/models/concerns/form_supporting_documents.rb
  app/models/supporting_document.rb
Due: prettier --write, eslint, stree --write

formatting signatures when there are multiple
  app/models/concerns/step_code_field_extraction.rb
  app/models/supporting_document.rb
  spec/models/step_code_spec.rb
Due: stree --write

fix delimter on reuiqrement spec
  spec/models/requirement_spec.rb
Due: stree --write

remove comments
  app/helpers/html_validation_helper.rb
Due: stree --write

remove docx cruft from eula html
  eulas/employee.html
  eulas/open.html
Due: none

update eulas in migration
  db/migrate/20240404171321_reseed_eulas.rb
  db/schema.rb
Due: stree --write

disallow discarded user login
  app/controllers/api/sessions_controller.rb
Due: stree --write

reshuffle navbar jurisdiction link and landing copy
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

update email help link
  app/views/layouts/mailer.html.erb
  app/views/permit_hub_mailer/02a_notify_reviewer_application_received_email.html.erb
  app/views/permit_hub_mailer/postdrop_io/_postdrop template generic html.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/01 welcome.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/02a notify reviewer application recieved.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/02b notify submitter application submitted.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/03 completion of assigned checklist section.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/04 notify application updated.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/05 notify of assignment.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/07 reminder pending action.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/08 notify of updated documenation requirements.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/09 announcement system maintenance.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/10 acknowledge feedback inquiry.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/11 onboarding.txt.
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/12 reminder submitter - still in draft.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/13 reminder reviewer - still not downloaded.txt
Due: none

update zipfile naming and directory
  app/services/supporting_documents_zipper.rb
Due: stree --write

cleanup and do a backend update when file autocompliance finishes running
  app/blueprints/supporting_document_blueprint.rb
  app/controllers/api/storage_controller.rb
  app/frontend/components/shared/chefs/additional-formio/providers/storage/s3custom.js
  app/frontend/components/shared/chefs/index.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/utils/formio-component-traversal.ts
  app/jobs/automated_compliance/digital_seal_validator_job.rb
  app/models/concerns/form_supporting_documents.rb
Due: prettier --write, eslint, stree --write

standardize filenames within zip
  app/models/supporting_document.rb
  app/services/supporting_documents_zipper.rb
Due: stree --write

add seed_prod rake task
  app/services/permit_classification_seeder.rb
  db/seeds.rb
  lib/tasks/seed_prod.rake
Due: stree --write

Only autosave if form is dirty
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
Due: prettier --write, eslint

refactored compliance utilities to utilize the template version instead of the requirement template lookups
  app/models/concerns/automated_compliance_utils.rb
  app/models/concerns/step_code_field_extraction.rb
  app/models/concerns/traverse_data_json.rb
  app/models/template_version.rb
  app/services/automated_compliance/historic_site.rb
  app/services/automated_compliance/parcel_info_extractor.rb
  app/services/automated_compliance/permit_application.rb
  app/services/requirement_form_json_service.rb
  spec/factories/requirement_templates.rb
  spec/factories/template_versions.rb
  spec/jobs/automated_compliance/autopopulate_job_spec.rb
  spec/models/concerns/automated_compliance_utils_spec.rb
  spec/models/requirement_spec.rb
Due: stree --write

code cleanup, remove unused functions
  app/models/requirement.rb
  app/models/requirement_block.rb
  app/models/requirement_template.rb
  app/models/requirement_template_section.rb
Due: stree --write

Make the floating grey buttons to look the same size
  app/frontend/styles/global-theme-variables.scss
  app/frontend/styles/theme/components/button.ts
Due: prettier --write, eslint

updated seeding for prod
  db/templates/Core Permit Requirements List.xlsx
  db/templates/~$Core Permit Requirements List.xlsx
Due: none

[bphh-1106] Fix logo loading for ssr pdf generation
  app/frontend/components/shared/permit-applications/pdf-content/cover/index.tsx
  app/frontend/components/shared/permit-applications/pdf-content/index.tsx
  app/frontend/ssr/ssr.tsx
  app/jobs/pdf_generation_job.rb
  package.json
Due: prettier --write, eslint, stree --write

Cleaning up the links in the footer to have the appropriate clickable area
  app/frontend/components/shared/base/footer.tsx
Due: prettier --write, eslint

Make the form view more robust / cleaning up the code. Hide the checklist sidebar in mobile/tablet so the page is at least viewable. Add in more IDs.
  app/frontend/components/domains/permit-application/checklist-sidebar.tsx
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/index.tsx
  app/frontend/components/shared/base/flash-message.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/styles/global-theme-variables.scss
Due: prettier --write, eslint

Adjust checklist border to be on the correct element
  app/frontend/components/domains/permit-application/checklist-sidebar.tsx
Due: prettier --write, eslint

[bphh-1108] Add route level code splitting
  app/frontend/components/domains/navigation/index.tsx
Due: prettier --write, eslint

[bphh-1108] Optimize lodash imports for better tree shaking
  app/frontend/components/shared/chefs/custom-formio-components/components/BCAddress/Component.js
  app/frontend/components/shared/chefs/custom-formio-components/components/Common/utils.js
  app/frontend/components/shared/chefs/custom-formio-components/components/SimpleBCAddress/Component.js
  app/frontend/components/shared/chefs/custom-formio-components/components/SimpleCheckboxes/editForm/Component.edit.data.js
  app/frontend/components/shared/chefs/custom-formio-components/components/SimpleRadios/editForm/Component.edit.data.js
  app/frontend/components/shared/editor/editor.tsx
  app/frontend/components/shared/select/selectors/address-select.tsx
  app/frontend/components/shared/select/selectors/jurisdiction-select.tsx
  app/frontend/components/shared/select/selectors/sites-select.tsx
  app/frontend/components/shared/select/selectors/tags-select.tsx
Due: prettier --write, eslint

[bphh-1108] Lazy load Editor for EULAModal to reduce intial load bundle size
  app/frontend/components/shared/eula-modal/index.tsx
Due: prettier --write, eslint

[bphh-1108] lazy load pdf content
  app/frontend/components/domains/step-code/checklist/pdf-content/viewer.tsx
  app/frontend/components/shared/permit-applications/pdf-content/viewer.tsx
Due: prettier --write, eslint

[bphh-1108] lazy load footer
  app/frontend/components/domains/navigation/index.tsx
Due: prettier --write, eslint

Standardizing the markup of the the form template with the sidebar (to follow submitter application screen) to reduce bugs. Also I wanted this change to be done in 1 single commit.
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/template-version-screen.tsx
Due: prettier --write, eslint

temporarily add basic auth
  app/controllers/application_controller.rb
Due: stree --write

temporarily add http_auth back in for testing
  app/models/user.rb
Due: stree --write

Remove basic auth in develop
  app/controllers/application_controller.rb
  app/models/user.rb
Due: stree --write
