Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

wip
  .env_example
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/shared/help-drawer.tsx
  app/frontend/hooks/use-jira-collector.ts
  app/frontend/i18n/i18n.ts
  app/frontend/types/dom.d.ts
Due: prettier --write, eslint

fix requirement and template grid layouts
  app/frontend/components/domains/requirements-library/requirement-blocks-table.tsx
  app/frontend/components/shared/requirement-template/requirement-template-grid.tsx
  app/frontend/models/requirement-block.ts
Due: prettier --write, eslint

fix styling of degree days input and elsewhere
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/energy-step-editable-block/part-9-energy-step-editable-block.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/form.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/index.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/part-3-heating-degree-days-form.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/shared/editable-block.tsx
  app/frontend/components/domains/step-code/part-3/form-section/location-details.tsx
  app/frontend/components/shared/base/custom-message-box.tsx
  app/frontend/types/types.ts
Due: prettier --write, eslint

WIP adding validations
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/building-location-fields.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/cover-sheet-form.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/form-section/index.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/form-section/result-form.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/form-section/review-form.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/form-section/uploads-form.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/input-summary-form.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/nav-bar/index.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/nav-bar/overheating-nav-links.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/overheating-tab-panel-content.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/room-by-room-form.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/sidebar/index.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/sidebar/nav-sections.ts
  app/frontend/components/domains/single-zone-cooling-heating-tool/sidebar/section-header.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/sidebar/section-link.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/sidebar/side-bar-drawer.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/sidebar/sub-link.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/single-zone-cooling-heating-tool-screen.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/single-zone-cooling-heating-tool-start-screen.tsx
  app/frontend/components/domains/step-code/part-3/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/pdf-form-store.ts
  app/frontend/types/enums.ts
Due: prettier --write, eslint

wip
  app/blueprints/jurisdiction_blueprint.rb
  app/blueprints/jurisdiction_document_blueprint.rb
  app/blueprints/resource_blueprint.rb
  app/blueprints/resource_document_blueprint.rb
  app/controllers/api/jurisdictions_controller.rb
  app/controllers/api/storage_controller.rb
  app/frontend/components/domains/home/review-manager/configuration-management-screen/index.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/jurisdiction-documents-screen.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/resources-screen.tsx
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/jurisdiction.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/permit-project-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/jurisdiction.rb
  app/models/jurisdiction_document.rb
  app/models/permit_project.rb
  app/models/property_plan_jurisdiction.rb
  app/models/resource.rb
  app/models/resource_document.rb
  app/policies/jurisdiction_document_policy.rb
  app/policies/resource_document_policy.rb
  db/migrate/20251106175938_create_resources.rb
  db/migrate/20251106175952_rename_jurisdiction_documents_to_resource_documents.rb
  db/migrate/20251106180012_remove_property_plan_jurisdiction_references.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

Replace quill with tiptap
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/components/domains/onboarding/eula/index.tsx
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/components/shared/editor/custom-extensions/editor-with-preview.tsx
  app/frontend/components/shared/editor/custom-extensions/image-blot.ts
  app/frontend/components/shared/editor/custom-extensions/link-blot.ts
  app/frontend/components/shared/editor/custom-extensions/quill-image-uploader/blots/image.js
  app/frontend/components/shared/editor/custom-extensions/quill-image-uploader/imageUploader.css
  app/frontend/components/shared/editor/custom-extensions/quill-image-uploader/imageUploader.js
  app/frontend/components/shared/editor/editor.tsx
  app/frontend/components/shared/editor/extensions/custom-image.tsx
  app/frontend/components/shared/editor/extensions/custom-link.tsx
  app/frontend/components/shared/editor/quill.css
  app/frontend/components/shared/editor/safe-quill-display.tsx
  app/frontend/components/shared/editor/savable-editor.tsx
  app/frontend/components/shared/rich-text-tip.tsx
  app/frontend/components/shared/user-eulas.tsx
  app/frontend/styles/chakra-overrides.scss
  app/frontend/utils/sanitize-quill-content.ts
  app/frontend/utils/utility-functions.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

full rename of quill components
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/components/domains/onboarding/eula/index.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/jurisdiction-requirement-block-edit-sidebar.tsx
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/generic-field-display.tsx
  app/frontend/components/shared/editor/custom-extensions/editor-with-preview.tsx
  app/frontend/components/shared/editor/editor.tsx
  app/frontend/components/shared/editor/safe-tiptap-display.tsx
  app/frontend/components/shared/user-eulas.tsx
  app/frontend/styles/chakra-overrides.scss
  app/frontend/utils/sanitize-tiptap-content.ts
  app/frontend/utils/utility-functions.ts
  package-lock.json
Due: prettier --write, eslint

make step code p9 back go to previous page
  app/frontend/components/domains/step-code/nav-bar/part-9-nav-links.tsx
  app/frontend/components/domains/step-code/part-9/checklist/compliance-summary/index.tsx
  app/frontend/components/domains/step-code/part-9/checklist/index.tsx
Due: prettier --write, eslint

HUB-3841 feedback changes made
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/building-location-fields.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/cover-sheet-form.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/form-section/result-form.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/form-section/review-form.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/input-summary-form.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/nav-bar/overheating-nav-links.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/overheating-tab-panel-content.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/pdf-form-grid-row.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/results-form_not_used.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/room-by-room-form.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/sidebar/index.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/sidebar/section-link.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/single-zone-cooling-heating-tool-list-screen.tsx
  app/frontend/components/shared/form/input-form-control.tsx
  app/frontend/i18n/i18n.ts
  config/locales/en.yml
Due: prettier --write, eslint

full rework of menu for all roles
  app/frontend/components/domains/navigation/menu-content/logged-out-menu-content.tsx
  app/frontend/components/domains/navigation/menu-content/logout-button.tsx
  app/frontend/components/domains/navigation/menu-content/menu-content-wrapper.tsx
  app/frontend/components/domains/navigation/menu-content/menu-items/api-settings-menu-item.tsx
  app/frontend/components/domains/navigation/menu-content/menu-items/configuration-management-menu-item.tsx
  app/frontend/components/domains/navigation/menu-content/menu-items/digital-building-permits-menu-item.tsx
  app/frontend/components/domains/navigation/menu-content/menu-items/early-access-menu-item.tsx
  app/frontend/components/domains/navigation/menu-content/menu-items/give-feedback-menu-item.tsx
  app/frontend/components/domains/navigation/menu-content/menu-items/help-menu-item.tsx
  app/frontend/components/domains/navigation/menu-content/menu-items/home-menu-item.tsx
  app/frontend/components/domains/navigation/menu-content/menu-items/jurisdictions-menu-item.tsx
  app/frontend/components/domains/navigation/menu-content/menu-items/login-menu-item.tsx
  app/frontend/components/domains/navigation/menu-content/menu-items/my-profile-menu-item.tsx
  app/frontend/components/domains/navigation/menu-content/menu-items/my-projects-menu-item.tsx
  app/frontend/components/domains/navigation/menu-content/menu-items/permit-template-catalogue-menu-item.tsx
  app/frontend/components/domains/navigation/menu-content/menu-items/reporting-menu-item.tsx
  app/frontend/components/domains/navigation/menu-content/menu-items/requirements-library-menu-item.tsx
  app/frontend/components/domains/navigation/menu-content/menu-items/sandbox-menu-item.tsx
  app/frontend/components/domains/navigation/menu-content/menu-items/submission-inbox-menu-item.tsx
  app/frontend/components/domains/navigation/menu-content/menu-items/super-admin-configuration-menu-item.tsx
  app/frontend/components/domains/navigation/menu-content/menu-link-item.tsx
  app/frontend/components/domains/navigation/menu-content/menu-section.tsx
  app/frontend/components/domains/navigation/menu-content/review-manager-menu-content.tsx
  app/frontend/components/domains/navigation/menu-content/reviewer-menu-content.tsx
  app/frontend/components/domains/navigation/menu-content/submitter-menu-content.tsx
  app/frontend/components/domains/navigation/menu-content/super-admin-menu-content.tsx
  app/frontend/components/domains/navigation/menu-content/technical-support-menu-content.tsx
  app/frontend/components/domains/navigation/menu-content/user-info-section.tsx
  app/frontend/components/domains/navigation/nav-bar-menu.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/permit-project/index.tsx
  app/frontend/components/shared/base/error-screen.tsx
  app/frontend/components/shared/sandbox/sandbox-header.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/user.ts
  app/frontend/styles/global-theme-variables.scss
Due: prettier --write, eslint

fix menu close to match mocks
  app/frontend/components/domains/navigation/nav-bar-menu.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

fix safe quill display scroll
  app/frontend/components/domains/onboarding/eula/index.tsx
  app/frontend/components/shared/editor/safe-quill-display.tsx
  app/frontend/components/shared/select/selectors/step-code-lookup-address-select.tsx
Due: prettier --write, eslint

Fixed HUB-3908 Updated the correct spellings of metres
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

fix preview drawer layout and datagrid ux
  app/frontend/components/domains/requirements-library/fields-setup-drawer.tsx
  app/frontend/components/domains/requirements-library/multiply-sum-grid-preview.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/generic-contact-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/generic-multi-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/index.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
  app/frontend/i18n/i18n.ts
  app/services/requirement_form_json_service.rb
Due: prettier --write, eslint, stree --write

Fixed HUB-3897 marked tip text optional
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
Due: prettier --write, eslint

improve error messaging for bulk permit create and implrove typing
  app/controllers/api/permit_projects_controller.rb
  app/frontend/components/domains/home/review-manager/configuration-management-screen/submissions-inbox-setup-screen/editable-block.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/submissions-inbox-setup-screen/form.tsx
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

fix broken inbox enabled switch
  app/frontend/components/domains/home/review-manager/configuration-management-screen/submissions-inbox-setup-screen/form.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/submissions-inbox-setup-screen/index.tsx
Due: prettier --write, eslint

styling feedback for menu bar
  app/frontend/components/domains/home/notifications/notifications-popover.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/feature-access-screen/my-jurisdiction-about-page.tsx
  app/frontend/components/domains/navigation/menu-content/logout-button.tsx
  app/frontend/components/domains/navigation/menu-content/menu-items/sandbox-menu-item.tsx
  app/frontend/components/domains/navigation/menu-content/menu-link-item.tsx
  app/frontend/components/domains/navigation/menu-content/menu-section.tsx
  app/frontend/components/domains/navigation/menu-content/review-manager-menu-content.tsx
  app/frontend/components/domains/navigation/menu-content/reviewer-menu-content.tsx
  app/frontend/components/domains/navigation/menu-content/technical-support-menu-content.tsx
  app/frontend/components/domains/navigation/nav-bar-menu.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/styles/theme/components/button.ts
  app/frontend/styles/theme/components/link.ts
Due: prettier --write, eslint

turn sandbox modal into shared component
  app/frontend/components/domains/navigation/menu-content/menu-items/sandbox-menu-item.tsx
  app/frontend/components/domains/navigation/sandbox-menu-item.tsx
  app/frontend/components/shared/modals/sandbox-switch-modal.tsx
Due: prettier --write, eslint

improve sandbox selection UX
  app/frontend/components/domains/navigation/menu-content/menu-items/sandbox-menu-item.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/navigation/sandbox-menu-item.tsx
  app/frontend/components/shared/modals/sandbox-switch-modal.tsx
  app/frontend/components/shared/sandbox/sandbox-header.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

add real time unviewed submission counter
  app/blueprints/jurisdiction_blueprint.rb
  app/blueprints/user_blueprint.rb
  app/controllers/api/application_controller.rb
  app/controllers/api/sessions_controller.rb
  app/controllers/concerns/current_sandbox.rb
  app/frontend/channels/processors/user_push_processor.ts
  app/frontend/components/domains/navigation/menu-content/menu-items/submission-inbox-menu-item.tsx
  app/frontend/components/domains/navigation/menu-content/menu-link-item.tsx
  app/frontend/components/domains/permit-project/permit-application-grid-row.tsx
  app/frontend/components/shared/permit-applications/permit-application-card.tsx
  app/frontend/components/shared/sandbox/sandbox-header.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/jurisdiction.ts
  app/frontend/stores/jurisdiction-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/jurisdiction.rb
  app/models/permit_application.rb
  app/models/submission_version.rb
  app/services/constants/websockets.rb
Due: prettier --write, eslint, stree --write

fix autofill of contact types
  app/frontend/components/shared/contact/contact-modal.tsx
  app/frontend/components/shared/contact/create-edit-contact-modal.tsx
  app/frontend/stores/contact-store.ts
  app/frontend/types/enums.ts
Due: prettier --write, eslint

HUB-3628 feedback changes updated
  app/frontend/components/domains/single-zone-cooling-heating-tool/building-location-fields.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/cover-sheet-form.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/input-summary-form.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/room-by-room-form.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/sidebar/nav-sections.ts
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Fixed HUB-3149
  app/frontend/components/domains/users/profile-screen.tsx
Due: prettier --write, eslint

Add script tag to application erb and get feedback working
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/shared/help-drawer.tsx
  app/frontend/hooks/use-jira-collector.ts
Due: prettier --write, eslint

wip add placeholders for required story fields
  .env_example
  app/frontend/components/domains/landing/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/shared/help-drawer.tsx
  app/frontend/components/shared/keycloak/info-block.tsx
  app/frontend/hooks/use-jira-collector.ts
  app/frontend/types/dom.d.ts
  app/frontend/utils/feedback.ts
  app/helpers/application_helper.rb
  app/views/layouts/application.html.erb
Due: prettier --write, eslint, stree --write

Fixed HUB-3582 Additional PID input field needs to have Automated Compliance for LTSA
  app/frontend/components/domains/requirements-library/requirement-field-edit/computed-compliance-setup-modal/index.tsx
Due: prettier --write, eslint

remove save button
  app/frontend/components/domains/home/review-manager/configuration-management-screen/resources-screen.tsx
  app/frontend/i18n/i18n.ts
  db/schema.rb
Due: prettier --write, eslint, stree --write

removed renamed file
  app/blueprints/jurisdiction_document_blueprint.rb
Due: stree --write

Restyle resource cards
  app/frontend/components/domains/home/review-manager/configuration-management-screen/resources-screen.tsx
  app/frontend/i18n/i18n.ts
  app/services/permit_classification_seeder.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

rename cert number
  app/blueprints/pre_check_blueprint.rb
  app/controllers/api/pre_checks_controller.rb
  app/controllers/webhooks/archistar_controller.rb
  app/frontend/components/domains/pre-check/form-section/results-summary.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/pre-check.ts
  app/models/pre_check.rb
  app/services/wrappers/archistar.rb
  app/views/permit_hub_mailer/notify_pre_check_completed.erb
  db/migrate/20251118000000_rename_pre_check_certificate_no_to_external_id.rb
  spec/controllers/webhooks/archistar_controller_spec.rb
  spec/factories/pre_checks.rb
  spec/models/pre_check_spec.rb
Due: prettier --write, eslint, stree --write

rename cert number
  app/blueprints/pre_check_blueprint.rb
  app/controllers/api/pre_checks_controller.rb
  app/controllers/webhooks/archistar_controller.rb
  app/frontend/components/domains/pre-check/form-section/results-summary.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/pre-check.ts
  app/models/pre_check.rb
  app/services/wrappers/archistar.rb
  app/views/permit_hub_mailer/notify_pre_check_completed.erb
  db/migrate/20251118000000_rename_pre_check_certificate_no_to_external_id.rb
  db/schema.rb
  spec/controllers/webhooks/archistar_controller_spec.rb
  spec/factories/pre_checks.rb
  spec/models/pre_check_spec.rb
Due: prettier --write, eslint, stree --write

optimize props in profile switches
  app/frontend/components/domains/users/profile-screen.tsx
Due: prettier --write, eslint

add comment for retest
  app/blueprints/jurisdiction_blueprint.rb
Due: stree --write

transform help link into resource
  app/blueprints/permit_classification_blueprint.rb
  app/frontend/components/domains/home/review-manager/configuration-management-screen/resources-screen.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/jurisdiction-requirement-block-edit-sidebar.tsx
  app/frontend/utils/file-utils.tsx
  app/frontend/utils/index.ts
  db/data/20240617164456_update_template_version_permit_types.rb
  db/data/20251118225619_populate_link_resources.rb
  db/data_schema.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

replace help link with resources in block edit
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/jurisdiction-requirement-block-edit-sidebar.tsx
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/components/shared/rich-text-tip.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/types.ts
  app/frontend/utils/file-utils.tsx
  app/models/jurisdiction_template_version_customization.rb
Due: prettier --write, eslint, stree --write

work resources into formio json
  app/frontend/components/domains/home/review-manager/configuration-management-screen/resources-screen.tsx
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/jurisdiction-requirement-block-edit-sidebar.tsx
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/jurisdiction.ts
  app/frontend/models/permit-application.ts
  app/frontend/ssr/ssr.tsx
  app/frontend/utils/formio-component-traversal.ts
Due: prettier --write, eslint

add migration to assign staff permit applications to sandbox
  db/data/20251119175520_move_staff_permit_applications_to_sandbox.rb
Due: stree --write

add disclaimer bar for precheck viewer
  app/frontend/components/domains/pre-check/index.tsx
  app/frontend/components/domains/pre-check/pre-check-nav-bar.tsx
  app/frontend/components/domains/pre-check/pre-check-viewer.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint
