Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

HUB-3628 PR reviewed
  app/blueprints/pdf_form_blueprint.rb
  app/controllers/api/pdf_forms_controller.rb
  app/controllers/api/storage_controller.rb
  app/frontend/components/domains/single-zone-cooling-heating-tool/building-location-fields.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/cover-sheet-form.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/form-section/index.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/form-section/result-form.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/form-section/review-form.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/form-section/uploads-form.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/sidebar/side-bar-drawer.tsx
  app/frontend/components/shared/address/address-search-select.tsx
  app/frontend/components/shared/filters/checkbox-filter.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/pdf-form.ts
  app/frontend/types/enums.ts
  app/jobs/overheating_report_generation_job.rb
  app/models/pdf_form.rb
  db/migrate/20251216120000_add_pdf_file_data_to_pdf_forms.rb
Due: prettier --write, eslint, stree --write

HUB-3751 moves css code to chakra-override css file
  app/frontend/components/shared/editor/editor.tsx
  app/frontend/styles/chakra-overrides.scss
Due: prettier --write, eslint

add missing space to standardization preview
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

fix step code create without jurisdiction
  app/frontend/components/domains/permit-application/revision-sidebar.tsx
  app/frontend/components/domains/step-code/part-9/import.tsx
  app/frontend/components/shared/floating-help-drawer.tsx
  app/frontend/components/shared/help-drawer.tsx
  config/environments/production.rb
Due: prettier --write, eslint, stree --write

address sonarcloud complaints
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/requirement-field-row.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/use-requirement-logic.ts
Due: prettier --write, eslint

add data validation
  app/controllers/api/requirement_blocks_controller.rb
  app/frontend/components/domains/requirements-library/requirement-blocks-table.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/data-validation-setup-modal.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/options-menu.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/field-controls-header.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/requirement-field-row.tsx
  app/frontend/components/shared/has-data-validation-tag.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/api-request.ts
  app/models/requirement.rb
  app/models/requirement_block.rb
  app/services/requirement_form_json_service.rb
Due: prettier --write, eslint, stree --write

HUB-3628 PR review changes
  app/controllers/api/pdf_forms_controller.rb
  app/frontend/components/domains/single-zone-cooling-heating-tool/cover-sheet-form.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/form-section/index.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/input-summary-form.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/pdf-content/input-summary-content.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/pdf-content/pdf-content.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/pdf-content/room-by-room-content.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/room-by-room-form.tsx
  app/frontend/components/shared/pdf/pdf-component-registry.ts
Due: prettier --write, eslint, stree --write

fix specs
  spec/factories/requirement_blocks.rb
  spec/factories/requirements.rb
  spec/models/requirement_block_spec.rb
  spec/models/requirement_spec.rb
Due: stree --write

HUB-4270 Permit templates: Missing Non FN New const. template in test for Saanich RRM
  app/frontend/components/domains/requirement-template/template-versions-list.tsx
Due: prettier --write, eslint

remove errant help button
  app/frontend/components/domains/navigation/nav-bar.tsx
Due: prettier --write, eslint

HUB-4272 Home/Welcome page: 'Help' link displayed outside menu when not logged in
  app/frontend/components/domains/navigation/nav-bar.tsx
Due: prettier --write, eslint

add more editable headers and total to datagrid
  app/controllers/api/requirement_blocks_controller.rb
  app/frontend/components/domains/requirements-library/multiply-sum-grid-preview.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/index.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
  app/frontend/components/shared/chefs/styles.scss
  app/services/requirement_form_json_service.rb
Due: prettier --write, eslint, stree --write

HUB-3628 PR review chnages, better handling of filedownload and upload
  app/blueprints/overheating_document_blueprint.rb
  app/blueprints/pdf_form_blueprint.rb
  app/controllers/api/pdf_forms_controller.rb
  app/controllers/api/storage_controller.rb
  app/frontend/components/domains/single-zone-cooling-heating-tool/form-section/result-form.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/form-section/review-form.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/form-section/upload-overheating-report-form.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/form-section/uploads-form.tsx
  app/frontend/models/pdf-form.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/pdf-form-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/jobs/overheating_report_generation_job.rb
  app/models/overheating_document.rb
  app/models/pdf_form.rb
  app/policies/overheating_document_policy.rb
  db/migrate/20251219_create_overheating_documents.rb
  db/migrate/20251220_add_scan_status_to_overheating_documents.rb
Due: prettier --write, eslint, stree --write

HUB-3628 PR review chnages, better handling of filedownload and upload
  app/policies/overheating_document_policy.rb
Due: stree --write

add review comments and lessons for overheating tool
  app/controllers/api/pdf_forms_controller.rb
  app/controllers/api/storage_controller.rb
  app/frontend/components/domains/single-zone-cooling-heating-tool/cover-sheet-form.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/form-section/result-form.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/input-summary-form.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/pdf-content/pdf-content.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/pdf-form-grid-row.tsx
  app/frontend/services/api/index.ts
  app/frontend/stores/pdf-form-store.ts
  app/frontend/types/enums.ts
  app/frontend/utils/object-utils.ts
  app/jobs/overheating_report_generation_job.rb
  app/policies/overheating_document_policy.rb
  app/policies/pdf_form_policy.rb
  db/migrate/20250825221046_create_pdf_forms.rb
  db/migrate/20251216120000_add_pdf_file_data_to_pdf_forms.rb
  db/migrate/20251219_create_overheating_documents.rb
  db/migrate/20251220_add_scan_status_to_overheating_documents.rb
Due: prettier --write, eslint, stree --write

HUB-2220 added missing requirement types in export CSV
  app/frontend/utils/export-permit-application-csv.ts
Due: prettier --write, eslint

HUB-1886 fixed login access if RM is removed from a jurisdiction
  app/controllers/api/users_controller.rb
  app/models/user.rb
Due: stree --write

merge in new overheating tool code and add new audit comments
  .cursor/debug.log
  app/controllers/api/concerns/search/pdf_forms.rb
  app/controllers/api/pdf_forms_controller.rb
  app/frontend/components/domains/single-zone-cooling-heating-tool/form-section/result-form.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/form-section/review-form.tsx
  app/frontend/services/api/index.ts
  app/frontend/stores/pdf-form-store.ts
  app/frontend/types/enums.ts
  app/frontend/utils/object-utils.ts
  app/jobs/overheating_report_generation_job.rb
  app/models/pdf_form.rb
  app/policies/pdf_form_policy.rb
  db/migrate/20251216120000_add_pdf_file_data_to_pdf_forms.rb
  db/migrate/20251219_create_overheating_documents.rb
  db/migrate/20251220_add_scan_status_to_overheating_documents.rb
Due: prettier --write, eslint, stree --write

starting point for jurisdiction membership management function
  app/controllers/api/users_controller.rb
  app/frontend/components/shared/user/manage-user-menu.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/user.ts
  app/frontend/services/api/index.ts
  config/locales/en.yml
  config/routes.rb
Due: prettier --write, eslint, stree --write

add auth for revoke
  app/frontend/components/shared/user/manage-user-menu.tsx
  app/frontend/services/rbac-rules.ts
  app/policies/user_policy.rb
Due: prettier --write, eslint, stree --write

Overheating tool review audit fixes
  app/blueprints/pdf_form_blueprint.rb
  app/controllers/api/concerns/search/pdf_forms.rb
  app/controllers/api/pdf_forms_controller.rb
  app/frontend/components/domains/single-zone-cooling-heating-tool/form-section/result-form.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/form-section/review-form.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/grid-header.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/overheating-tab-panel-content.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/pdf-form-grid-row.tsx
  app/frontend/models/pdf-form.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/pdf-form-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/frontend/utils/object-utils.ts
  app/jobs/overheating_report_generation_job.rb
  app/models/pdf_form.rb
  app/policies/overheating_document_policy.rb
  app/policies/pdf_form_policy.rb
  db/migrate/20251216120000_add_pdf_file_data_to_pdf_forms.rb
  db/migrate/20251220_add_scan_status_to_overheating_documents.rb
  db/migrate/20260106120000_add_fields_to_pdf_forms.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

add additional audit comments to overheating tool
  app/blueprints/pdf_form_blueprint.rb
  app/controllers/api/concerns/search/pdf_forms.rb
  app/controllers/api/pdf_forms_controller.rb
  app/frontend/components/domains/single-zone-cooling-heating-tool/form-section/result-form.tsx
  app/policies/pdf_form_policy.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

move in missing step code metrics action
  app/controllers/api/step_codes_controller.rb
Due: stree --write

overheating tool reviewed changes fixed
  app/blueprints/pdf_form_blueprint.rb
  app/controllers/api/concerns/search/pdf_forms.rb
  app/controllers/api/pdf_forms_controller.rb
  app/policies/pdf_form_policy.rb
Due: stree --write

Overheating tool audit - validated the json before saving to the table
  app/blueprints/pdf_form_blueprint.rb
  app/models/pdf_form.rb
Due: stree --write

Overheating tool audit - validated the json before saving to the table + prevent review staff to access the PDFs
  app/policies/overheating_document_policy.rb
  app/policies/pdf_form_policy.rb
Due: stree --write

count customizations for used_by by unique jurisdiction
  .gitignore
  app/models/jurisdiction_template_version_customization.rb
  app/models/requirement_template.rb
Due: stree --write

add data migration to update incorrect columns
  db/data/20260107225035_update_jurisdiction_template_version_customization_counts.rb
Due: stree --write

HUB-2220 CSV download PR review changes
  app/frontend/utils/export-permit-application-csv.ts
  app/frontend/utils/formio-component-traversal.ts
Due: prettier --write, eslint

HUB 3582 added auto compliance tag if auto compliance is enambed on a field from PID infobox
  app/services/requirement_form_json_service.rb
  config/locales/en.yml
Due: stree --write

HUB 3829 removed the subnav from projects, step codes and pre check pages
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/permit-project/index.tsx
Due: prettier --write, eslint

HUB-3553 added undo functionality on requirement blocks
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/sections-display.tsx
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-3633 fixed the incorrect url for latest template
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/builder-header.tsx
Due: prettier --write, eslint

HUB-3633 better handling of go to latest button URL
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/builder-header.tsx
  app/frontend/components/domains/requirement-template/screens/template-version-screen.tsx
Due: prettier --write, eslint

fix reminder sched, env example, cruft
  .env_example
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  config/sidekiq_cron_schedule.yml
Due: prettier --write, eslint

add missing template id to object data
  app/models/jurisdiction_template_version_customization.rb
Due: stree --write

HUB-3582 handled issue of setting auto_compliance on all the fields
  app/services/requirement_form_json_service.rb
Due: stree --write
