Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

[bphh-635] Refactor requirement-field-edit sub components to individual files and organize them under folder
  app/frontend/components/domains/requirements-library/requirement-field-edit/editable-group.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/editable-helper-text.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/editable-label.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/is-elective-checkbox.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/is-optional-checkbox.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/types.ts
Due: prettier --write, eslint

[bphh-635] Add contact requirement types display component, and add it to field setup drawer
  app/frontend/components/domains/requirements-library/fields-setup-drawer.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
  app/frontend/constants.ts
  app/frontend/i18n/i18n.ts
  app/frontend/types/enums.ts
  app/models/requirement.rb
Due: prettier --write, eslint, stree --write

[bphh-635] Refactor requirement-field-display sub components to individual files and organize them under folder
  app/frontend/components/domains/requirements-library/requirement-field-display/contact-field-item-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/generic-contact-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/generic-field-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/index.tsx
Due: prettier --write, eslint

[bphh-635] Add contact field formio jsons for submitter
  app/frontend/components/domains/requirements-library/requirement-field-display/index.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/i18n/i18n.ts
  app/models/requirement.rb
  app/services/requirement_form_json_service.rb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

[bphh-635] mark contact fields as required or not
  app/services/requirement_form_json_service.rb
  config/locales/en.yml
Due: stree --write

[bphh-635] Update contact requirement styles from submitter side
  app/frontend/components/shared/chefs/styles.scss
  app/services/requirement_form_json_service.rb
Due: stree --write

[bphh-635] Mark more contact fields as optional
  app/services/requirement_form_json_service.rb
Due: stree --write

[bphh-635] Make keys more unique for contact requirements
  app/services/requirement_form_json_service.rb
Due: stree --write

[bphh-635] Update submitter side contact grid button styles and increase setup drawer max width
  app/frontend/components/domains/requirements-library/fields-setup-drawer.tsx
  app/frontend/components/shared/chefs/styles.scss
Due: prettier --write, eslint

[bphh-635] Include add another person button for requirement display component
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/generic-contact-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/types.ts
Due: prettier --write, eslint

[bphh-750] Add rich text for helper text from super admin side
  app/frontend/components/domains/requirements-library/requirement-field-display/generic-field-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/editable-helper-text.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/components/shared/editor/custom-extensions/editor-with-preview.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Add step code requirements management screen
  app/blueprints/jurisdiction_blueprint.rb
  app/controllers/api/jurisdictions_controller.rb
  app/frontend/components/domains/home/home-screen-box.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/energy-step-editable-block/energy-step-select.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/energy-step-editable-block/index.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/energy-step-editable-block/zero-carbon-step-select.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/i18n-prefix.ts
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/index.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/index.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/shared/editable-block.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/jurisdiction.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/step_code_checklist.rb
  db/migrate/20240308221409_add_default_steps_to_jurisdictions.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

Add Review Manager Configuration Management Screen
  app/frontend/components/domains/home/home-screen-box.tsx
  app/frontend/components/domains/home/index.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/index.tsx
  app/frontend/components/domains/home/review-manager/index.tsx
  app/frontend/components/domains/home/section-box.ts
  app/frontend/components/domains/jurisdictions/index.tsx
  app/frontend/components/domains/jurisdictions/jurisdiction-configuration-screen.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

simplify useEffect
  app/frontend/components/domains/home/review-manager/configuration-management-screen/submissions-inbox-setup-screen/editable-block.tsx
Due: prettier --write, eslint

update breadcrumb
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Add support for LG configured energy steps
  app/blueprints/step_code/zero_carbon/compliance_blueprint.rb
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/energy-step-editable-block/energy-step-select.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/energy-step-editable-block/index.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/energy-step-editable-block/zero-carbon-step-select.tsx
  app/frontend/components/domains/step-code/checklist/energy-step-code-compliance/compliance-grid/energy-step.tsx
  app/frontend/components/domains/step-code/checklist/zero-carbon-step-code-compliance/compliance-grid/zero-carbon-step.tsx
  app/services/step_code/compliance/check_requirements/zero_carbon/base.rb
  app/services/step_code/compliance/propose_step/zero_carbon.rb
Due: prettier --write, eslint, stree --write

quick fix for non logged in confirmation
  app/controllers/api/permit_type_submission_contacts_controller.rb
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint, stree --write

Add link to setup from submission inbox
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

add email taken explanation to inviter
  app/controllers/api/invitations_controller.rb
  app/frontend/components/domains/users/invite-screen.tsx
  app/frontend/components/shared/base/inputs/user-input.tsx
  app/frontend/i18n/i18n.ts
  db/schema.rb
Due: prettier --write, eslint, stree --write

remove errant table column that was not needed
  db/migrate/20240315213511_remove_changed_status_at_from_permit_application.rb
  db/schema.rb
Due: stree --write

add slug to jurisdictions and replace ID on frontend
  Gemfile
  Gemfile.lock
  app/blueprints/jurisdiction_blueprint.rb
  app/controllers/api/jurisdictions_controller.rb
  app/frontend/components/domains/navigation/sub-nav-bar.tsx
  app/frontend/hooks/resources/use-jurisdiction.ts
  app/models/jurisdiction.rb
  db/migrate/20240315214621_add_slug_to_jurisdictions.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

Refactor CHESWrapper to be a proper email method for Rails (ChesEmailDelivery) and refactor PermitHubMailer to be async
  Gemfile
  Gemfile.lock
  app/controllers/api/confirmations_controller.rb
  app/controllers/api/invitations_controller.rb
  app/controllers/api/users_controller.rb
  app/jobs/destroy_asset_job.rb
  app/jobs/permit_hub_mailer_job.rb
  app/mailers/application_mailer.rb
  app/mailers/custom_devise_mailer.rb
  app/mailers/permit_hub_mailer.rb
  app/models/permit_application.rb
  app/services/CHES_api_wrapper.rb
  config/application.rb
  config/environments/development.rb
  config/initializers/ches.rb
  config/initializers/devise.rb
  config/initializers/exception_notification.rb
  config/initializers/sidekiq.rb
  db/schema.rb
  lib/ches_email_delivery.rb
Due: stree --write

Fix uniqueness bug and allow exception notifier disabling
  app/models/user.rb
  config/initializers/exception_notification.rb
Due: stree --write

.env.example
  .env.example
Due: none

add template request link
  app/frontend/components/domains/requirement-template/screens/jurisdiction-digital-permit-screen/digital-building-permits-list.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

restyle no reply section
  app/views/layouts/mailer.html.erb
Due: none

fixes styles and issues related to the email refactor and broken templates
  app/controllers/api/confirmations_controller.rb
  app/controllers/api/invitations_controller.rb
  app/jobs/remind_reviewer_job.rb
  app/mailers/application_mailer.rb
  app/mailers/custom_devise_mailer.rb
  app/mailers/permit_hub_mailer.rb
  app/models/permit_application.rb
  app/views/user_mailer/update_password_success.html.erb
  config/environments/development.rb
  config/initializers/devise.rb
  lib/ches_email_delivery.rb
Due: stree --write

Filled in page content for "Contact Us", "Page not found", and added new copy for user when they start "New permit application".
  app/frontend/components/domains/misc/contact-screen.tsx
  app/frontend/components/domains/permit-application/new-permit-application-screen.tsx
  app/frontend/components/shared/base/not-found-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Temporarily commenting out the link to see list of jurisdictions until we have it (in BPHH-883)
  app/frontend/components/domains/misc/contact-screen.tsx
Due: prettier --write, eslint

Update blue header graphic to housing graphic
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/components/domains/permit-application/index.tsx
  app/frontend/components/shared/base/blue-title-bar.tsx
  public/images/banner-housing.svg
Due: prettier --write, eslint

add eula variants for different roles
  app/blueprints/user_blueprint.rb
  app/controllers/api/end_user_license_agreement_controller.rb
  app/controllers/api/users_controller.rb
  app/frontend/stores/session-store.ts
  app/models/end_user_license_agreement.rb
  app/models/user.rb
  app/models/user_license_agreement.rb
  db/migrate/20240318190718_add_for_roles_to_end_user_license_agreement.rb
  db/schema.rb
  db/seeds.rb
Due: prettier --write, eslint, stree --write

add eula updater service and html eulas
  app/services/eula_updater.rb
  db/migrate/20240318190718_add_for_roles_to_end_user_license_agreement.rb
  db/seeds.rb
  eulas/employee.html
  eulas/open.html
  lib/tasks/update_eulas.rake
Due: stree --write

Fix devise styling and @root_url for devise views
  app/mailers/custom_devise_mailer.rb
  app/mailers/permit_type_submission_contact_mailer.rb
  app/views/devise/mailer/confirmation_instructions.html.erb
  app/views/devise/mailer/email_changed.html.erb
  app/views/devise/mailer/invitation_instructions.html.erb
  app/views/devise/mailer/password_change.html.erb
  app/views/devise/mailer/reset_password_instructions.html.erb
  app/views/devise/mailer/unlock_instructions.html.erb
Due: stree --write

consolidate multiple translation keys using Trans component
  app/frontend/components/domains/requirement-template/screens/jurisdiction-digital-permit-screen/digital-building-permits-list.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

update eulas
  app/services/eula_updater.rb
  eulas/employee.html
  eulas/open.html
Due: stree --write

fix breaking change from merged in develop
  app/frontend/models/jurisdiction.ts
Due: prettier --write, eslint

moves tips not inside child, but to override the panel template instead.
  app/frontend/components/shared/chefs/additional-formio/templates/panel.js
  app/frontend/components/shared/chefs/index.tsx
  app/frontend/components/shared/chefs/styles.scss
Due: prettier --write, eslint

Also remove Audit Log from user nav menu https://hous-bssb.atlassian.net/browse/BPHH-739. Also add in new header image on landing page
  app/frontend/components/domains/home/section-box.ts
  app/frontend/components/domains/landing/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/styles/theme/foundations/colors.ts
  app/frontend/styles/theme/index.ts
  public/images/header-background.jpeg
Due: prettier --write, eslint

add a address jurisdiction search endpoint and component
  app/controllers/api/geocoder_controller.rb
  app/frontend/components/domains/landing/index.tsx
  app/frontend/components/domains/permit-application/new-permit-application-screen.tsx
  app/frontend/components/shared/select/selectors/address-select.tsx
  app/frontend/services/api/index.ts
  app/frontend/stores/geocoder-store.ts
  app/frontend/stores/permit-classification-store.ts
  app/policies/geocoder_policy.rb
  app/services/constants/error.rb
  config/locales/en.yml
  config/routes.rb
Due: prettier --write, eslint, stree --write
