Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

HUB-4770 integrate jurisdiction contact info banner into jurisdiction screen
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
Due: prettier --write, eslint

HUB-4770 refactor jurisdiction screen to avoid conditional can calls
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
Due: prettier --write, eslint

HUB-4770 update jurisdiction management rules to handle optional jurisdiction data
  app/frontend/services/rbac-rules.ts
Due: prettier --write, eslint

HUB-4770 add office address snippet card to jurisdiction about section
  app/frontend/components/domains/jurisdictions/jurisdiction-about-snippet-cards.tsx
Due: prettier --write, eslint

HUB-4770 add translation for timelines and deliverables
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4770 refactor url_validatable_attributes method to support STI subclasses
  app/models/concerns/validate_url_attributes.rb
Due: stree --write

HUB-4770 implement timelines and deliverables accordion
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
Due: prettier --write, eslint

HUB-4770 add office hours, telephone, and email fields to jurisdiction type
  app/frontend/types/types.ts
Due: prettier --write, eslint

HUB-4770 add jurisdiction contact info banner component
  app/frontend/components/domains/jurisdictions/jurisdiction-contact-info-banner.tsx
Due: prettier --write, eslint

HUB-4770 add url validation for website_url
  app/models/jurisdiction.rb
Due: stree --write

HUB-4770 add contact information translations for office address, hours, telephone, and email
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4770 add timeline and deliverables html field
  app/frontend/types/types.ts
Due: prettier --write, eslint

HUB-4770 hide contact information when content is missing
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
Due: prettier --write, eslint

HUB-4770 adjust spacing and padding to match figma
  app/frontend/components/domains/jurisdictions/jurisdiction-about-accordion-item.tsx
Due: prettier --write, eslint

HUB-4524 rm rrm configuration api settings back navigation opens new api dialog (#1620)
  app/frontend/components/domains/external-api-key/external-api-key-modal-sub-route.tsx
  app/frontend/components/domains/external-api-key/index.tsx
  app/frontend/components/shared/navigation/router-link-button.tsx
Due: prettier --write, eslint

HUB-4770 move conditional display logic after jurisdiction guard clause
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
Due: prettier --write, eslint

fix join in pa metrics csv
  app/models/permit_application.rb
Due: stree --write

HUB-4770 only wrap components that requirement a form provider with one
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
Due: prettier --write, eslint

update permit link and wording
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-overview-tab.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4770 avoid conditionally calling can
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
Due: prettier --write, eslint

HUB-4770 revert rbac rule changes
  app/frontend/services/rbac-rules.ts
Due: prettier --write, eslint

HUB-4770 refactor jurisdiction contact info banner
  app/frontend/components/domains/jurisdictions/jurisdiction-contact-info-banner.tsx
Due: prettier --write, eslint

HUB-4770 regen schema
  db/schema.rb
Due: stree --write

HUB-4770 add contact summary empty state translation
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4770 update typography styles for jurisdiction editor preview
  app/frontend/components/domains/jurisdictions/jurisdiction-editor-with-preview.tsx
Due: prettier --write, eslint

HUB-4770 add default editable text and top layout button variant
  app/frontend/components/domains/jurisdictions/jurisdiction-editor-with-preview.tsx
Due: prettier --write, eslint

HUB-4770 add editable empty fallback for contact summary
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
Due: prettier --write, eslint

HUB-4770 replace empty state text with custom message box
  app/frontend/components/domains/jurisdictions/contacts/contact-grid.tsx
Due: prettier --write, eslint

HUB-4770 replace empty state box with custom message box
  app/frontend/components/shared/jurisdiction/jurisdiction-resources-grid-section.tsx
Due: prettier --write, eslint

HUB-4770 remove editable map functionality
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
Due: prettier --write, eslint

HUB-4770 add floppy disk icon to save button
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
Due: prettier --write, eslint

rework projects to work with sandbox
  app/controllers/api/concerns/search/jurisdiction_permit_projects.rb
  app/controllers/api/concerns/search/permit_projects.rb
  app/controllers/api/permit_applications_controller.rb
  app/controllers/api/permit_projects_controller.rb
  app/controllers/api/project_audits_controller.rb
  app/models/concerns/project_item.rb
  app/models/permit_application.rb
  app/models/permit_project.rb
  app/models/submission_version.rb
  app/policies/external_api/permit_application_policy.rb
  app/policies/permit_application_policy.rb
  config/locales/en.yml
  db/migrate/20260416183037_move_sandbox_id_to_projects.rb
  db/schema.rb
  lib/tasks/contrive_ambiguous_project.rake
  spec/factories/permit_applications.rb
  spec/factories/permit_projects.rb
  spec/policies/external_api/permit_application_policy_spec.rb
  spec/policies/project_audit_policy_spec.rb
  spec/requests/api/permit_projects_spec.rb
  spec/requests/api/project_audits_spec.rb
Due: stree --write

HUB-4837 Reviewer workspace - Submission inbox: View permit bugs
  app/frontend/components/domains/jurisdictions/submission-inbox/application-inbox-table.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-overview-tab.tsx
  app/frontend/components/domains/permit-project/permit-application-grid-row.tsx
Due: prettier --write, eslint

move sandbox select for admin projects
  app/controllers/api/permit_projects_controller.rb
  app/frontend/components/domains/permit-project/add-permit-application-screen.tsx
  app/frontend/components/domains/permit-project/new-permit-project-sandbox-select.tsx
  app/frontend/components/domains/permit-project/new-permit-project-screen.tsx
Due: prettier --write, eslint, stree --write

HUB-4842 count unread in inbox separate from applied filters
  app/controllers/api/concerns/search/jurisdiction_permit_applications.rb
Due: stree --write

HUB-4842 count unread in inbox separate from applied filters
  app/controllers/api/concerns/search/jurisdiction_permit_projects.rb
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-permits-tab.tsx
  app/frontend/models/permit-application-inbox-search-shared.ts
  app/frontend/models/permit-project-inbox-application-search.ts
  app/frontend/stores/submission-inbox-store.ts
  spec/concerns/jurisdiction_permit_project_search_spec.rb
  spec/concerns/permit_application_search_spec.rb
Due: prettier --write, eslint, stree --write

improve inbox filter wrap
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
Due: prettier --write, eslint

HUB-4770 persist website url when not editing
  app/frontend/components/domains/jurisdictions/jurisdiction-hero-lg-website-row.tsx
Due: prettier --write, eslint

HUB-4770 pass primitive state for re-rendering and specify persisted url for header
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
Due: prettier --write, eslint

HUB-4770 fix typo
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint
