Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

Fix issue merging with existing user
  app/services/omniauth_user_resolver.rb
Due: stree --write

Persist path on login redirect
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/protected-route.tsx
  app/frontend/stores/root-store.ts
  app/frontend/stores/session-store.ts
Due: prettier --write, eslint

fix typo
  db/seeds.rb
Due: stree --write

Fix infinite redirect issue
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/protected-route.tsx
Due: prettier --write, eslint

Fix routing logic
  app/frontend/components/domains/navigation/index.tsx
Due: prettier --write, eslint

Fix issues inviting submitter as a reviewer
  app/services/jurisdiction/user_inviter.rb
  app/services/merge_submitter_with_invited_user.rb
Due: stree --write

Update home page copy for review managers
  app/frontend/components/domains/home/review-manager/index.tsx
  app/frontend/components/domains/home/super-admin-home-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

move block uniqueness validation to permit template
  app/models/requirement_template.rb
  app/models/template_section_block.rb
  config/locales/en.yml
Due: stree --write

move block uniqueness validation to permit template
  app/models/requirement_template.rb
  config/locales/en.yml
Due: stree --write

Update seeds
  db/schema.rb
  db/templates/Core Permit Requirements List.xlsx
Due: stree --write

wrap menu content in portal
  app/frontend/components/domains/navigation/nav-bar.tsx
Due: prettier --write, eslint

Allow all users to view and submit permit apps
  app/controllers/api/concerns/search/permit_applications.rb
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/services/api/index.ts
  app/models/permit_application.rb
  app/policies/permit_application_policy.rb
  config/routes.rb
Due: prettier --write, eslint, stree --write

Fix issue showing jursidiction screen
  app/frontend/components/domains/navigation/index.tsx
Due: prettier --write, eslint

Fix specs on permit application search
  spec/concerns/permit_application_search_spec.rb
Due: stree --write

[bphh-1364] Make requirement code unique per requirement block
  app/models/requirement.rb
Due: stree --write

[bphh-1364] Implement ability to add a pseudo step code package file type based on the requirement_code and file input type
  app/frontend/components/domains/requirements-library/fields-setup-drawer.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/generic-field-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/index.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/editable-group.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/field-controls-header.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/components/shared/requirement-type-tag.tsx
  app/frontend/constants.ts
  app/frontend/i18n/i18n.ts
  app/frontend/utils/utility-functions.ts
  app/models/requirement.rb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

[bphh-1364] update requirement remove logic to remove all step code dependency fields when step code is removed
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
Due: prettier --write, eslint

[bphh-1364] remove disabled from elective and optional checkbox controllers as without them required indicator does not show
  app/frontend/components/domains/requirements-library/requirement-field-edit/is-elective-checkbox.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/is-optional-checkbox.tsx
Due: prettier --write, eslint

[bphh-1364] Update back-end specs to ensure correct energy step code dependencies for requirement block and requirements.
  spec/factories/requirement_blocks.rb
  spec/factories/requirements.rb
  spec/models/requirement_block_spec.rb
  spec/models/requirement_spec.rb
Due: stree --write

[bphh-1364] front-end: disable the ability to add more than one energy_step code type to a requirement_block. Also limits the edit capabilites of energy_step_code dependencies
  app/controllers/api/requirement_blocks_controller.rb
  app/frontend/components/domains/requirements-library/fields-setup-drawer.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/editable-group.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/is-elective-checkbox.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/is-optional-checkbox.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/options-menu.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/field-controls-header.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement-block.ts
  app/frontend/types/api-request.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/requirement.rb
Due: prettier --write, eslint, stree --write

[bphh-1364] Implement of auto adding of dependencies for step code requirement
  app/frontend/components/domains/requirements-library/requirement-field-edit/options-menu.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/field-controls-header.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
  app/frontend/constants.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement-block.ts
  app/models/requirement.rb
  app/models/requirement_block.rb
Due: prettier --write, eslint, stree --write

[bphh-1364] Add back-end validations to ensure correct energy step code dependencies for requirement block and requirements.
  app/models/requirement.rb
  app/models/requirement_block.rb
  config/locales/en.yml
Due: stree --write

[bphh-1364] Add step code related error banners for edit requirement template in the front-end
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/index.tsx
  app/frontend/components/shared/base/callout-banner.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement-block.ts
Due: prettier --write, eslint

[bphh-1364] Fix issue with energy step code requirement add button not being disabled when there is already one in a requirement_block
  app/frontend/components/domains/requirements-library/fields-setup-drawer.tsx
Due: prettier --write, eslint

[bphh-1364] update specs
  spec/models/requirement_spec.rb
Due: stree --write

[bphh-1364] Optimize query for step code related guard clauses in requirement_template mode
  app/models/requirement_template.rb
Due: stree --write

[bphh-1364] Disables the add requirement block use button for the requirement template builder if there are duplicate blocks in the whole template
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/sections-display.tsx
  app/models/concerns/step_code_field_extraction.rb
  app/models/requirement_template.rb
Due: prettier --write, eslint, stree --write

[bphh-1364] Refactor requirement_block sku generation to be human readable and unique
  app/models/requirement_block.rb
Due: stree --write

[bphh-1364] Disable submit when there is a step code validation error in the front-end
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/controls-header.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/index.tsx
Due: prettier --write, eslint

[bphh-1364] Add step code related validations for requirement template in the back-end
  app/controllers/api/requirement_templates_controller.rb
  app/models/requirement.rb
  app/models/requirement_template.rb
  config/locales/en.yml
Due: stree --write

[bphh-1364] remove unused model method
  app/models/requirement.rb
Due: stree --write

[bphh-1364] fix type
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/sections-display.tsx
  app/frontend/components/domains/requirements-library/requirements-library-drawer.tsx
Due: prettier --write, eslint

Add title to contact requirement block
  app/frontend/components/domains/requirements-library/requirement-field-display/contact-field-item-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/enums.ts
  app/services/requirement_form_json_service.rb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

Remove "Question Support" link
  app/frontend/components/domains/requirements-library/fields-setup-drawer.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Add review manager flow for retrieving and reviewing template changes
  .env.example
  app/blueprints/compare_requirements_blueprint.rb
  app/controllers/api/template_versions_controller.rb
  app/frontend/components/domains/home/notifications/notifications-popover.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/permit-application/compare-requirements-box.tsx
  app/frontend/components/domains/permit-application/errors-box.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/index.tsx
  app/frontend/components/domains/requirement-template/sections-display.tsx
  app/frontend/components/domains/requirement-template/sections-sidebar.tsx
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/components/shared/base/custom-message-box.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/components/shared/permit-applications/scroll-link.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement.ts
  app/frontend/models/template-version.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/root-store.ts
  app/frontend/types/api-responses.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/template_version.rb
  app/policies/template_version_policy.rb
  app/services/notification_service.rb
  app/services/template_versioning_service.rb
  config/initializers/load_settings.rb
  config/initializers/simple_feed.rb
  config/routes.rb
  config/settings.yml
Due: prettier --write, eslint, stree --write

update core permit reqs
  db/templates/Core Permit Requirements List.xlsx
Due: none

Add icon to BCeID login buttons
  app/frontend/components/domains/authentication/login-screen.tsx
  app/frontend/components/domains/users/accept-invitation-screen.tsx
Due: prettier --write, eslint

Remove warning on configuration management screen
  app/frontend/components/domains/home/review-manager/configuration-management-screen/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

fix formio phone number auto input format
  app/frontend/models/permit-application.ts
  app/frontend/utils/utility-functions.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
