Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

Initial structure for generating part 3 checklist
  app/controllers/api/step_codes_controller.rb
  app/models/part_3_step_code/checklist.rb
  app/models/part_3_step_code/document_reference.rb
  app/models/part_3_step_code/energy_output.rb
  app/models/part_3_step_code/fuel_type.rb
  app/models/part_3_step_code/make_up_air_fuel.rb
  app/models/part_3_step_code/occupancy_classification.rb
  app/services/constants/part_3_step_code.rb
  app/services/step_code/compliance/check_requirements/zero_carbon/co2.rb
  app/services/step_code/compliance/check_requirements/zero_carbon/ghg.rb
  app/services/step_code/compliance/check_requirements/zero_carbon/prescriptive.rb
  app/services/step_code/part_3/v0/generate_reports.rb
  app/services/step_code/part_3/v0/lookup_requirements.rb
  app/services/step_code/part_3/v0/requirements/baseline.rb
  app/services/step_code/part_3/v0/requirements/baseline_occupancy.rb
  app/services/step_code/part_3/v0/requirements/references/climate_zone.rb
  app/services/step_code/part_3/v0/requirements/references/energy.rb
  app/services/step_code/part_3/v0/requirements/references/zero_carbon.rb
  app/services/step_code/part_3/v0/requirements/step_code.rb
  app/services/step_code/part_3/v0/requirements/step_code_occupancy.rb
  app/services/step_code/part_3/v0/requirements/whole_building.rb
  app/services/step_code/part_3/v1/generate_reports.rb
  app/services/step_code/part_9/data_entry_from_hot2000.rb
  app/services/step_code/part_9/data_entry_hot2000_mapper.rb
  app/services/step_code/part_9/meui_references_seeder.rb
  app/services/step_code/part_9/references.rb
  app/services/step_code/part_9/tedi_references_seeder.rb
  config/initializers/inflections.rb
  db/migrate/20241030222657_create_part_3_step_code_tables.rb
  db/schema.rb
  db/seeds.rb
  lib/tasks/seed_prod.rake
  spec/factories/part_3_step_code/checklists.rb
  spec/factories/part_3_step_code/occupancy_classifications.rb
  spec/factories/part_3_step_codes.rb
  spec/services/step_code/compliance/check_requirements/energy/meui_spec.rb
  spec/services/step_code/compliance/check_requirements/energy/tedi_spec.rb
  spec/services/step_code/part_3/v0/compliance/generate_reports_spec.rb
  spec/services/step_code/part_3/v1/compliance/generate_reports_spec.rb
Due: stree --write

Implement corridor pressurization adjustment
  app/services/step_code/part_3/v1/performance/corridor_pressurization_adjustment.rb
  spec/support/shared_examples/part_3_step_code_compliance.rb
Due: stree --write

Fix v0 specs
  app/models/part_3_step_code/checklist.rb
  app/services/step_code/part_3/v0/lookup_requirements.rb
  app/services/step_code/part_3/v0/requirements/baseline.rb
  app/services/step_code/part_3/v0/requirements/baseline_occupancy.rb
  app/services/step_code/part_3/v0/requirements/references/climate_zone.rb
  app/services/step_code/part_3/v0/requirements/references/energy.rb
  app/services/step_code/part_3/v0/requirements/references/zero_carbon.rb
  app/services/step_code/part_3/v0/requirements/step_code.rb
  app/services/step_code/part_3/v0/requirements/step_code_occupancy.rb
  app/services/step_code/part_3/v0/requirements/whole_building.rb
  spec/factories/part_3_step_code/energy_outputs.rb
  spec/factories/part_3_step_code/fuel_types.rb
  spec/factories/part_3_step_code/occupancy_classifications.rb
  spec/services/step_code/part_3/v0/generate_reports_spec.rb
Due: stree --write

Add calculation logic for results as modelled
  app/models/part_3_step_code/checklist.rb
  app/services/step_code/part_3/v0/requirements/whole_building.rb
  app/services/step_code/part_3/v1/performance/results_as_modelled.rb
  spec/services/step_code/part_3/v0/generate_reports_spec.rb
Due: stree --write

Fix/refactor v1 specs
  app/services/step_code/part_3/v1/evaluate_performance.rb
  app/services/step_code/part_3/v1/generate_reports.rb
  app/services/step_code/part_3/v1/performance/adjusted_results.rb
  app/services/step_code/part_3/v1/performance/base.rb
  app/services/step_code/part_3/v1/performance/corridor_pressurization_adjustment.rb
  app/services/step_code/part_3/v1/performance/results_as_modelled.rb
  app/services/step_code/part_3/v1/performance/suite_sub_metering_adjustment.rb
  db/migrate/20241030222657_create_part_3_step_code_tables.rb
  spec/factories/part_3_step_code/make_up_air_fuels.rb
  spec/models/part_3_step_code/checklist_spec.rb
  spec/services/step_code/part_3/v1/compliance/generate_reports_spec.rb
  spec/services/step_code/part_3/v1/generate_reports_spec.rb
  spec/services/step_code/part_3/v1/performance/results_as_modelled.rb
  spec/support/shared_examples/part_3_step_code_compliance.rb
  spec/support/shared_examples/part_9_step_code_compliance.rb
Due: stree --write

Add suite submetering adjustment
  app/services/step_code/part_3/v1/performance/suite_sub_metering_adjustment.rb
  spec/support/shared_examples/part_3_step_code_compliance.rb
Due: stree --write

Add overall compliance metrics
  app/services/step_code/compliance/check_requirements/energy/meui.rb
  app/services/step_code/compliance/check_requirements/energy/tedi.rb
  app/services/step_code/part_3/v0/lookup_requirements.rb
  app/services/step_code/part_3/v1/evaluate_performance.rb
  app/services/step_code/part_3/v1/generate_reports.rb
  app/services/step_code/part_3/v1/performance/adjusted_results.rb
  app/services/step_code/part_3/v1/performance/base.rb
  app/services/step_code/part_3/v1/performance/corridor_pressurization_adjustment.rb
  app/services/step_code/part_3/v1/performance/overall_compliance.rb
  app/services/step_code/part_3/v1/performance/results_as_modelled.rb
  app/services/step_code/part_3/v1/performance/suite_sub_metering_adjustment.rb
  spec/services/step_code/part_3/v1/generate_reports_spec.rb
  spec/support/shared_examples/part_3_step_code_compliance.rb
Due: stree --write

Add adjusted performance compliance logic
  app/services/step_code/part_3/v1/performance/adjusted_results.rb
  spec/services/step_code/part_3/v1/generate_reports_spec.rb
  spec/support/shared_examples/part_3_step_code_compliance.rb
Due: stree --write

Add base skeleton for performance results services
  app/services/step_code/part_3/v1/evaluate_performance.rb
  app/services/step_code/part_3/v1/generate_reports.rb
  app/services/step_code/part_3/v1/performance/corridor_pressurization_adjustment.rb
  app/services/step_code/part_3/v1/performance/results_as_modelled.rb
  app/services/step_code/part_3/v1/performance/suite_sub_metering_adjustment.rb
  spec/services/step_code/part_3/v1/compliance/generate_reports_spec.rb
Due: stree --write

Fix isssue creating part 9 step codes
  app/controllers/api/step_codes_controller.rb
  app/models/part_9_step_code/checklist.rb
  app/services/step_code/part_9/data_entry_hot2000_mapper.rb
Due: stree --write

Include achieved steps in performance results
  .env_example
  .env_example.docker_compose
  .github/workflows/pull-request.yml
  app/models/jurisdiction.rb
  app/models/part_3_step_code/occupancy_classification.rb
  app/models/part_9_step_code/checklist.rb
  app/services/permit_type_required_step_seeder.rb
  app/services/step_code/compliance/propose_step/energy.rb
  app/services/step_code/compliance/propose_step/zero_carbon.rb
  app/services/step_code/part_3/v0/requirements/references/energy.rb
  app/services/step_code/part_3/v0/requirements/references/zero_carbon.rb
  app/services/step_code/part_3/v0/requirements/step_code_occupancy.rb
  app/services/step_code/part_3/v1/generate_reports.rb
  app/services/step_code/part_3/v1/performance/energy_step_achieved.rb
  app/services/step_code/part_3/v1/performance/overall_compliance.rb
  app/services/step_code/part_3/v1/performance/zero_carbon_step_achieved.rb
  db/migrate/20240308221409_add_default_steps_to_jurisdictions.rb
  spec/factories/part_3_step_code/occupancy_classifications.rb
  spec/services/step_code/part_3/v1/generate_reports_spec.rb
  spec/support/shared_examples/part_3_step_code_compliance.rb
Due: stree --write

make visibility optional to attempt to fix null error
  app/frontend/models/requirement-block.ts
Due: prettier --write, eslint

default visibility in visibility tag for outdated denormalized blocks
  app/frontend/components/shared/visibility-tag.tsx.tsx
  app/frontend/models/requirement-block.ts
  app/frontend/types/types.ts
Due: prettier --write, eslint

Made changes so that super admin will be able to search for review managers using their email addresses
  app/models/jurisdiction.rb
  app/models/user.rb
Due: stree --write

Updated the code so that only super admin can search the review managers using email restricting public users to access the info
  app/controllers/api/concerns/search/jurisdictions.rb
  app/models/jurisdiction.rb
Due: stree --write

remove coupling of user role inside the concern. Allow easier configuration of admin and non admin fields (prevent accidental use of admin ability)
  app/controllers/api/concerns/search/jurisdictions.rb
  app/controllers/api/jurisdictions_controller.rb
  app/models/jurisdiction.rb
Due: stree --write

Working on BPHH-1790
  app/frontend/components/domains/permit-application/index.tsx
  app/frontend/components/domains/permit-application/status-filter.tsx
Due: prettier --write, eslint

refactor user inviter to better handle role updates and regional review manager
  app/models/jurisdiction.rb
  app/services/jurisdiction/user_inviter.rb
Due: stree --write

Update new resource values for prod
  devops/helm-charts/anycable-go/values-prod.yaml
  devops/helm-charts/app/values-prod.yaml
  devops/helm-charts/ha-elasticsearch/values-prod.yaml
  devops/helm-charts/ha-postgres-crunchydb/values-prod.yaml
  devops/helm-charts/ha-redis/values-prod.yaml
Due: none

upgrade dev values
  devops/helm-charts/app/values-dev.yaml
  devops/helm-charts/app/values-test.yaml
  devops/helm-charts/ha-elasticsearch/values-dev.yaml
  devops/helm-charts/ha-elasticsearch/values-test.yaml
  devops/helm-charts/ha-postgres-crunchydb/values-dev.yaml
  devops/helm-charts/ha-postgres-crunchydb/values-test.yaml
  devops/helm-charts/ha-redis/values-dev.yaml
  devops/helm-charts/ha-redis/values-test.yaml
Due: none

Update prod cpu settings in helm charts
  devops/helm-charts/app/values-prod.yaml
  devops/helm-charts/ha-elasticsearch/values-prod.yaml
  devops/helm-charts/ha-postgres-crunchydb/values-prod.yaml
Due: none

Implemented email saerch capability for regional reviw managers too
  app/models/jurisdiction.rb
  app/models/user.rb
Due: stree --write

modify reload in callback to prevent discarding nickname changes
  app/models/early_access_requirement_template.rb
  app/models/requirement_block.rb
  app/services/requirement_template_copy_service.rb
  app/services/template_versioning_service.rb
  db/migrate/20241128180210_reindex_missing_records.rb
  db/schema.rb
  spec/models/early_access_requirement_template_spec.rb
  spec/services/template_versioning_service_spec.rb
Due: stree --write

add specs and update devise redirect behaviour
  config/initializers/devise.rb
  spec/concerns/requirement_template_search_spec.rb
  spec/controllers/requirement_templates_controller_spec.rb
Due: stree --write

Fixed syntax error
  app/models/jurisdiction.rb
Due: stree --write

Added specs
  spec/controllers/jurisdictions_controller_spec.rb
Due: stree --write

Modified specs
  spec/controllers/jurisdictions_controller_spec.rb
Due: stree --write

make permit and template version hooks depend on sandbox and improve error resetting
  app/frontend/hooks/resources/use-integration-mapping.ts
  app/frontend/hooks/resources/use-jurisdiction.ts
  app/frontend/hooks/resources/use-permit-application.ts
  app/frontend/hooks/resources/use-permit-type-options.ts
  app/frontend/hooks/resources/use-requirement-template.ts
  app/frontend/hooks/resources/use-template-version.ts
  app/frontend/hooks/resources/use-template-versions.ts
Due: prettier --write, eslint

add null checks in copy services
  app/services/customization_copy_service.rb
  app/services/requirement_template_copy_service.rb
Due: stree --write

BPHH-1790 Integration of Filters on permit table
  app/controllers/api/concerns/search/permit_applications.rb
  app/frontend/components/domains/permit-application/index.tsx
  app/frontend/components/domains/permit-application/permit-application-filters-menu.tsx
  app/frontend/components/domains/permit-application/status-filter.tsx
  app/frontend/hooks/use-search.ts
  app/frontend/i18n/i18n.ts
  app/frontend/lib/create-search-model.ts
  app/frontend/types/enums.ts
  app/models/permit_application.rb
Due: prettier --write, eslint, stree --write

Removed unsed imports from component files
  app/controllers/api/concerns/search/permit_applications.rb
  app/frontend/components/domains/permit-application/index.tsx
  app/frontend/components/domains/permit-application/permit-application-filters-menu.tsx
Due: prettier --write, eslint, stree --write

Add base layout and navigation structure
  app/blueprints/step_code_blueprint.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/step-code/index.tsx
  app/frontend/components/domains/step-code/nav-bar/index.tsx
  app/frontend/components/domains/step-code/nav-bar/part-3-nav-links.tsx
  app/frontend/components/domains/step-code/nav-bar/part-9-nav-links.tsx
  app/frontend/components/domains/step-code/part_3/form-section/baseline-occupancies.tsx
  app/frontend/components/domains/step-code/part_3/form-section/baseline-occupancy.tsx
  app/frontend/components/domains/step-code/part_3/form-section/district-energy.tsx
  app/frontend/components/domains/step-code/part_3/form-section/energy-setup.tsx
  app/frontend/components/domains/step-code/part_3/form-section/fuel-types.tsx
  app/frontend/components/domains/step-code/part_3/form-section/index.tsx
  app/frontend/components/domains/step-code/part_3/form-section/project-details.tsx
  app/frontend/components/domains/step-code/part_3/form-section/start-page.tsx
  app/frontend/components/domains/step-code/part_3/index.tsx
  app/frontend/components/domains/step-code/part_3/sidebar/index.tsx
  app/frontend/components/domains/step-code/part_3/sidebar/section-header.tsx
  app/frontend/components/domains/step-code/part_3/sidebar/section-link.tsx
  app/frontend/components/domains/step-code/part_3/sidebar/sub-link.tsx
  app/frontend/components/shared/floating-help-drawer.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint, stree --write

create new separated login page
  app/frontend/components/domains/authentication/login-screen.tsx
  app/frontend/components/domains/users/accept-invitation-screen.tsx
  app/frontend/components/domains/users/profile-screen.tsx
  app/frontend/components/shared/auth/login-forms.tsx
  app/frontend/components/shared/bceid/basic/index.tsx
  app/frontend/components/shared/bceid/business/index.tsx
  app/frontend/components/shared/containers/center-container.tsx
  app/frontend/components/shared/keycloak/basicbceid/index.tsx
  app/frontend/components/shared/keycloak/bcsc-info.tsx
  app/frontend/components/shared/keycloak/businessbceid/index.tsx
  app/frontend/components/shared/keycloak/info-block.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/user.ts
  app/frontend/types/enums.ts
  app/services/omniauth_user_resolver.rb
Due: prettier --write, eslint, stree --write

validate appropriate omniauth provider for role
  app/models/user.rb
Due: stree --write

resolve bcsc user using sub
  app/frontend/components/domains/users/profile-screen.tsx
  app/frontend/models/user.ts
  app/services/omniauth_user_resolver.rb
Due: prettier --write, eslint, stree --write

initial creation of new part 3 step coe block
  app/frontend/components/domains/requirements-library/fields-setup-drawer.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/index.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
  app/frontend/constants/index.ts
  app/frontend/i18n/i18n.ts
  app/frontend/types/enums.ts
  app/models/concerns/step_code_field_extraction.rb
  app/models/requirement.rb
  app/services/permit_application/form_json_service.rb
  spec/factories/requirements.rb
  spec/models/requirement_spec.rb
Due: prettier --write, eslint, stree --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
