Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

send logout url in logout response
  app/controllers/api/omniauth_callbacks_controller.rb
  app/controllers/api/sessions_controller.rb
  app/frontend/stores/session-store.ts
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

some ammendments to inbox switch pages and controller
  Gemfile.lock
  app/controllers/api/site_configuration_controller.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/global-feature-access.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/inbox-feature-access.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/submission-inbox.tsx
  app/frontend/components/shared/buttons/switch-button.tsx
Due: prettier --write, eslint, stree --write

wip
  app/frontend/components/domains/home/review-manager/configuration-management-screen/global-feature-access-screen/inbox-feature-access.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/global-feature-access-screen/index.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/global-feature-access/index.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/global-feature-access/submission-inbox.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/inbox-feature-access.tsx
  app/frontend/components/shared/base/feature-access-screen.tsx
  app/frontend/components/shared/base/feature-toggle-screen.tsx
Due: prettier --write, eslint

combine cookie and logoutUrl approaches and use httponly
  app/controllers/api/omniauth_callbacks_controller.rb
  app/controllers/api/sessions_controller.rb
  app/frontend/stores/session-store.ts
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

DRY up reused screen logic
  app/frontend/components/domains/home/review-manager/configuration-management-screen/global-feature-access/index.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/inbox-feature-access.tsx
  app/frontend/components/shared/base/feature-access-screen.tsx
  app/frontend/components/shared/base/feature-toggle-screen.tsx
Due: prettier --write, eslint

Working on cleaning the PR
  app/frontend/components/domains/permit-application/EnergyStepCodeReportLink.tsx
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
Due: prettier --write, eslint

set domain on cookie
  app/controllers/api/omniauth_callbacks_controller.rb
  app/controllers/api/sessions_controller.rb
Due: stree --write

use existing env var
  app/controllers/api/sessions_controller.rb
Due: stree --write

add multiple file checkbox to interface
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-push
  app/controllers/api/requirement_blocks_controller.rb
  app/frontend/components/domains/requirements-library/requirement-field-edit/editable-group.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/is-multiple-files-checkbox.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/types.ts
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint, stree --write

Revert "Hub 1893 bug when logging out the page is not redirected to bph login page cookie"
  Gemfile
  Gemfile.lock
  app/controllers/api/omniauth_callbacks_controller.rb
  app/controllers/api/sessions_controller.rb
  app/frontend/stores/session-store.ts
  config/initializers/devise.rb
  config/initializers/omniauth_keycloak_fix.rb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

update comment
  app/controllers/api/sessions_controller.rb
Due: stree --write

Bphh-720 PR Code optimization
  app/frontend/components/domains/permit-application/EnergyStepCodeReportLink.tsx
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
Due: prettier --write, eslint

Revert "Revert "Hub 1893 bug when logging out the page is not redirected to bph login page cookie""
  Gemfile
  Gemfile.lock
  app/controllers/api/omniauth_callbacks_controller.rb
  app/controllers/api/sessions_controller.rb
  app/frontend/stores/session-store.ts
  config/initializers/devise.rb
  config/initializers/omniauth_keycloak_fix.rb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

Updated professional contact block to single row
  app/services/requirement_form_json_service.rb
Due: stree --write

rework past submission version viewing and switching
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/revision-sidebar.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/components/shared/revisions/revision-modal.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/stores/permit-application-store.ts
  app/frontend/utils/formio-helpers.ts
Due: prettier --write, eslint

improve scrolllilnk strikethrough refreshing
  app/frontend/components/domains/permit-application/revision-sidebar.tsx
  app/frontend/components/shared/permit-applications/scroll-link.tsx
Due: prettier --write, eslint

Bphh 720 updated file name
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/energy-step-code-report-link.tsx
Due: prettier --write, eslint

add cursorignore
  .cursorignore
Due: none

add disabling logic and improve permit application sortability
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/permit-application/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/flash-message.ts
  app/frontend/models/permit-application.ts
  app/frontend/types/enums.ts
  app/models/concerns/permit_application_status.rb
  app/models/jurisdiction.rb
  app/models/permit_application.rb
  app/models/site_configuration.rb
  db/data/20250402151321_reindex_permit_applications_for_updated_at.rb
  db/data_schema.rb
  db/seeds.rb
Due: prettier --write, eslint, stree --write

null check published template
  app/models/requirement_template.rb
Due: stree --write

fixed login screen env variable for basic bc ID
  app/frontend/components/domains/authentication/login-screen.tsx
Due: prettier --write, eslint

update inbox_enabled model method
  app/models/concerns/permit_application_status.rb
  app/models/permit_application.rb
Due: stree --write

renamed file from tsx to ts
  app/frontend/components/domains/permit-application/energy-step-code-report-link.ts
Due: prettier --write, eslint

BPHH-2590:add line to EOF
  .github/workflows/dev.yml
  .github/workflows/prod.yml
  .github/workflows/test.yml
Due: none

fix return before notification send for new template publish and add translation strings
  app/services/template_versioning_service.rb
  config/locales/en.yml
Due: stree --write

remove prod relase veresion setting in workflow
  .github/workflows/prod.yml
Due: none

replace account recovery url
  app/frontend/components/domains/authentication/login-screen.tsx
Due: prettier --write, eslint

move multiple upload checkbox
  app/frontend/components/domains/requirements-library/requirement-field-edit/editable-group.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/is-elective-checkbox.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/is-optional-checkbox.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/pid-info-edit.tsx
Due: prettier --write, eslint

typescript fixes for pidinfo input
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/pid-info-edit.tsx
Due: prettier --write, eslint

fix id token domain in deletion
  app/controllers/api/sessions_controller.rb
Due: stree --write

move logout variables to backend, add bcsc partner to frontend, remove siteminder logout
  .env_example
  .env_example.docker_compose
  .github/workflows/dev.yml
  .github/workflows/prod.yml
  .github/workflows/test.yml
  app/controllers/api/sessions_controller.rb
  devops/docker/app/Dockerfile
Due: stree --write

HUB-3029 issues resolved
  app/blueprints/contact_blueprint.rb
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/jurisdiction-requirement-block-edit-sidebar.tsx
  app/frontend/components/shared/form/email-form-control.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint, stree --write

fix domain in cookie deletion2
  app/controllers/api/sessions_controller.rb
Due: stree --write

add postman collection for v1 external api
  app/postman_collections/integration-api-v1.postman_collection.json
Due: none

fix errant optional message
  app/frontend/components/domains/requirements-library/requirement-field-display/generic-field-display.tsx
Due: prettier --write, eslint

add expiry & revoked email for api keys
  app/jobs/check_expiring_api_keys_job.rb
  app/mailers/permit_hub_mailer.rb
  app/models/external_api_key.rb
  app/models/permit_application.rb
  app/services/notification_service.rb
  app/views/permit_hub_mailer/notify_api_key_status_change.html.erb
  config/locales/en.yml
  config/sidekiq_cron_schedule.yml
Due: stree --write

BPHH-1519 updated technical support based UI component
  app/frontend/components/domains/home/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/models/user.ts
  app/models/user.rb
Due: prettier --write, eslint, stree --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
