Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

add stub for notification service
  app/frontend/channels/user_channel.ts
  app/services/notification_service.rb
Due: prettier --write, eslint, stree --write

Add BCeID instructions to login screen
  .env.example
  app/frontend/components/domains/authentication/login-screen.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Update seeds to use BCeID
  db/migrate/20240410164337_update_contacts.rb
  db/seeds.rb
Due: stree --write

Update onboarding and user profile UI/UX
  app/blueprints/user_blueprint.rb
  app/controllers/api/confirmations_controller.rb
  app/controllers/api/users_controller.rb
  app/frontend/components/domains/authentication/register-screen.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/onboarding/eula/index.tsx
  app/frontend/components/domains/users/profile-screen.tsx
  app/frontend/components/shared/eula-modal/index.tsx
  app/frontend/components/shared/form/email-form-control.tsx
  app/frontend/components/shared/form/input-form-control.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/user.ts
  app/frontend/services/api/index.ts
  app/frontend/styles/theme/components/form-label.ts
  app/frontend/styles/theme/components/input.ts
  app/frontend/styles/theme/components/select.ts
  app/frontend/styles/theme/foundations/border-radii.ts
  app/frontend/styles/theme/foundations/colors.ts
  app/frontend/styles/theme/index.ts
  app/mailers/custom_devise_mailer.rb
  app/policies/user_policy.rb
  app/views/devise/mailer/confirmation_instructions.html.erb
  app/views/devise/mailer/email_changed.html.erb
  config/locales/en.yml
  config/routes.rb
Due: prettier --write, eslint, stree --write

Update invitation flow UI
  app/controllers/api/omniauth_callbacks_controller.rb
  app/frontend/components/domains/authentication/login-screen.tsx
  app/frontend/components/domains/users/accept-invitation-screen.tsx
  app/frontend/components/shared/bceid/basic/index.tsx
  app/frontend/components/shared/bceid/business/index.tsx
  app/frontend/components/shared/bceid/info-block.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/user.ts
  app/views/devise/mailer/invitation_instructions.html.erb
Due: prettier --write, eslint, stree --write

fix error zeitwerk naming
  app/models/errors/wrapper_client_error.rb
  app/models/errors/wrapper_server_error.rb
  app/services/wrappers/base.rb
Due: stree --write

Add support for skipping keycloak login page
  app/frontend/components/domains/authentication/login-screen.tsx
  config/initializers/devise.rb
Due: prettier --write, eslint, stree --write

[bphh-196] Typo fix
  app/models/template_section_block.rb
Due: stree --write

Upgrade submitter if invited as another role
  app/controllers/api/omniauth_callbacks_controller.rb
  app/models/user.rb
  app/services/merge_submitter_with_invited_user.rb
  app/services/omniauth_user_resolver.rb
Due: stree --write

Handle invalid invitation token
  app/blueprints/invitation_blueprint.rb
  app/blueprints/jurisdiction_blueprint.rb
  app/blueprints/jurisdiction_option_blueprint.rb
  app/blueprints/permit_application_blueprint.rb
  app/blueprints/user_blueprint.rb
  app/controllers/api/geocoder_controller.rb
  app/controllers/api/invitations_controller.rb
  app/controllers/api/jurisdictions_controller.rb
  app/controllers/api/users_controller.rb
  app/frontend/components/domains/users/accept-invitation-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/jurisdiction.ts
  app/frontend/models/user.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/user-store.ts
  app/views/devise/mailer/invitation_instructions.html.erb
  config/routes.rb
Due: prettier --write, eslint, stree --write

add downloadable csv and json for templates with customizations only
  app/blueprints/template_version_blueprint.rb
  app/controllers/api/template_versions_controller.rb
  app/frontend/components/domains/jurisdictions/exports/export-templates-screen.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/shared/jurisdiction/manage-jurisdiction-menu.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/template-version.ts
  app/frontend/services/api/index.ts
  app/frontend/types/enums.ts
  app/models/jurisdiction_template_version_customization.rb
  app/models/template_version.rb
  app/policies/template_version_policy.rb
  config/locales/en.yml
  config/routes.rb
Due: prettier --write, eslint, stree --write

make customizations optional in template export, finish UI
  app/controllers/api/template_versions_controller.rb
  app/frontend/components/domains/jurisdictions/exports/export-templates-screen.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-digital-permit-screen/digital-building-permits-list.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-digital-permit-screen/index.tsx
  app/frontend/components/shared/version-tag.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/template-version.ts
  app/models/jurisdiction_template_version_customization.rb
  app/models/template_version.rb
  app/services/template_export_service.rb
Due: prettier --write, eslint, stree --write

dry up activity tabs into their own component
  app/frontend/components/domains/jurisdictions/exports/export-templates-screen.tsx
  app/frontend/components/domains/requirement-template/activity-tab-switcher.tsx
  app/frontend/components/domains/requirement-template/digital-building-permits-list.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-digital-permit-screen/index.tsx
  app/frontend/models/template-version.ts
Due: prettier --write, eslint

lazy load necessary screens and fix export route
  app/frontend/components/domains/navigation/index.tsx
Due: prettier --write, eslint

update core seeds
  db/templates/Core Permit Requirements List.xlsx
Due: none

remove users from prod seeder for now since now it will be using bceid
  lib/tasks/seed_prod.rake
Due: none

fix conditionals validations
  app/models/requirement.rb
Due: stree --write

increase lorem words on facotry to prevent test failures
  spec/factories/external_api_key.rb
Due: stree --write

add downloadable csv and json for templates with customizations only
  app/frontend/models/template-version.ts
Due: prettier --write, eslint

add summary csv download
  app/controllers/api/template_versions_controller.rb
  app/frontend/components/domains/jurisdictions/exports/export-templates-screen.tsx
  app/frontend/components/domains/requirement-template/template-versions-sidebar.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/template-version.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/root-store.ts
  app/frontend/utils/utility-functions.ts
  app/models/jurisdiction_template_version_customization.rb
  app/models/requirement.rb
  app/models/template_version.rb
  app/policies/template_version_policy.rb
  app/services/template_export_service.rb
  config/locales/en.yml
  config/routes.rb
  spec/factories/requirements.rb
  spec/models/jurisdiction_template_version_customization_spec.rb
Due: prettier --write, eslint, stree --write

Add reporting index and template summary export screen
  app/frontend/components/domains/home/super-admin-home-screen.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/super-admin/reporting/export-template-summary-screen.tsx
  app/frontend/components/domains/super-admin/reporting/grid-header.tsx
  app/frontend/components/domains/super-admin/reporting/reporting-screen.tsx
  app/frontend/components/shared/base/search-input.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/enums.ts
Due: prettier --write, eslint

Address PR comments
  app/frontend/models/template-version.ts
  app/models/requirement.rb
  app/models/template_version.rb
  app/services/template_export_service.rb
  config/locales/en.yml
  spec/models/jurisdiction_template_version_customization_spec.rb
Due: prettier --write, eslint, stree --write

Add support for admin login with IDIR
  app/blueprints/user_blueprint.rb
  app/controllers/api/omniauth_callbacks_controller.rb
  app/frontend/components/domains/authentication/login-screen.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/users/accept-invitation-screen.tsx
  app/frontend/components/domains/users/profile-screen.tsx
  app/frontend/entrypoints/application.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/user.ts
  app/models/user.rb
  app/services/omniauth_user_resolver.rb
  app/views/permit_hub_mailer/welcome.html.erb
  config/locales/en.yml
  db/migrate/20240506171123_rename_omniauth_fields.rb
  db/schema.rb
  db/seeds.rb
  lib/tasks/sensitive_seeder.rake
Due: prettier --write, eslint, stree --write

fix and imporve export downloads
  app/frontend/models/template-version.ts
  app/frontend/utils/utility-functions.ts
Due: prettier --write, eslint

use requirement_blocks_json when fetching requirements
  app/models/template_version.rb
Due: stree --write

Update home page copy
  app/frontend/components/domains/landing/index.tsx
  app/frontend/components/shared/base/footer.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Add account deletion instructions to profile
  app/frontend/components/domains/users/profile-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Show placeholder avatar when onboarding
  app/frontend/components/domains/users/profile-screen.tsx
  app/frontend/models/user.ts
Due: prettier --write, eslint

fix home reporting description
  app/frontend/components/domains/home/super-admin-home-screen.tsx
Due: prettier --write, eslint

add column for elective and change manage button variant
  app/frontend/components/domains/super-admin/reporting/reporting-screen.tsx
  app/frontend/components/shared/jurisdiction/manage-jurisdiction-menu.tsx
  app/services/template_export_service.rb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

Add missing front end ENV variables
  .github/workflows/dev.yml
  .github/workflows/prod.yml
  .github/workflows/test.yml
  devops/docker/app/Dockerfile
Due: none

Update admin home screen copy
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Update email greeting copy
  app/views/devise/mailer/confirmation_instructions.html.erb
  app/views/permit_hub_mailer/notify_reviewer_application_received.html.erb
  app/views/permit_hub_mailer/remind_reviewer.html.erb
Due: none
