Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

HUB 3044 PR reviewed
  app/frontend/types/types.ts
Due: prettier --write, eslint

HUB-1881 updated phone and email required fields
  app/frontend/components/shared/contact/create-edit-contact-modal.tsx
Due: prettier --write, eslint

HUB 3092 handled page scroll to back to energy step code section when returning from step code page to edit application page
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/step-code/nav-bar/part-9-nav-links.tsx
  app/frontend/stores/ui-store.ts
Due: prettier --write, eslint

remove type column removal bug and update step code seeds
  app/frontend/components/domains/requirements-library/fields-setup-drawer.tsx
  app/frontend/types/enums.ts
  app/models/step_code.rb
  db/templates/Core Permit Requirements List.xlsx
Due: prettier --write, eslint, stree --write

dont validate irrelevant occupancy selections
  app/frontend/components/domains/step-code/part-3/form-section/baseline-occupancies/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/step-code-occupancies/index.tsx
Due: prettier --write, eslint

HUB-3248 added contact type to general and professional contact box
  app/blueprints/contact_blueprint.rb
  app/controllers/api/contacts_controller.rb
  app/frontend/components/domains/requirements-library/requirement-field-display/index.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
  app/frontend/components/shared/contact/create-edit-contact-modal.tsx
  app/frontend/components/shared/form/input-form-control.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/contact.rb
  app/services/requirement_form_json_service.rb
  config/locales/en.yml
  db/migrate/20250702173848_add_contact_type_to_contacts.rb
Due: prettier --write, eslint, stree --write

fix project reindexing, location, empty box etc
  app/blueprints/permit_project_blueprint.rb
  app/controllers/api/permit_projects_controller.rb
  app/controllers/api/sessions_controller.rb
  app/frontend/components/domains/permit-project/pinned-projects-grid.tsx
  app/frontend/components/domains/permit-project/projects-table.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-project.ts
  app/frontend/types/enums.ts
  app/models/concerns/project_item.rb
  app/models/payment_detail.rb
  app/models/permit_project.rb
Due: prettier --write, eslint, stree --write

add jurisdiction name shortening task
  app/models/jurisdiction.rb
  lib/tasks/jurisdiction_cleanup.rake
Due: stree --write

HUB-3152 fixed the missing space
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

improve upload error handling
  app/controllers/api/permit_applications_controller.rb
  app/controllers/api/storage_controller.rb
  config/locales/en.yml
Due: stree --write

HUB-3152 copy update
  app/frontend/components/domains/landing/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-3069 updated font size for list items
  app/frontend/components/domains/project-readiness-tools/letter-of-assurance.tsx
Due: prettier --write, eslint

HUB-1705 fixed correct copy update
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-1705 copy update for super admin
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-3069 font size updated to lg for list items
  app/frontend/components/domains/project-readiness-tools/letter-of-assurance.tsx
Due: prettier --write, eslint

HUB 3030 email copy updates
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB 3030 email copy updates
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
Due: prettier --write, eslint

HUB 3044 removed unwanted code
  app/frontend/components/domains/external-api-key/external-api-key-modal-sub-route.tsx
Due: prettier --write, eslint

HUB 3250 reverse the logic to display about us page
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
Due: prettier --write, eslint

HUB 3156 added instructions field before the multiple checkbox option
  app/blueprints/requirement_blueprint.rb
  app/controllers/api/requirement_blocks_controller.rb
  app/frontend/components/domains/requirements-library/requirement-field-edit/edit-box.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/editable-group.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/editable-instructions-text.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/types.ts
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement-block.ts
  app/frontend/models/requirement.ts
  db/migrate/20250704121916_add_instructions_to_requirements.rb
Due: prettier --write, eslint, stree --write

HUB-3130:fix: chart directory mapping
  .github/workflows/helms-deploy.yml
Due: none

wip
  app/controllers/api/concerns/search/permit_applications.rb
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint, stree --write

HUB-3130:fix: tools file environment handling
  .github/workflows/helms-deploy.yml
Due: none

HUB-3130:fix: fix component naming to deploy
  .github/workflows/helms-deploy.yml
Due: none

wip
  app/controllers/api/concerns/search/permit_applications.rb
  app/frontend/components/domains/step-code/part-3/form-section/step-code-occupancies/performance-requirements.tsx
  app/frontend/i18n/i18n.ts
  app/models/part_3_step_code/occupancy_classification.rb
  app/services/step_code/part_3/v0/lookup_requirements.rb
  app/services/step_code/part_3/v0/requirements/references/zero_carbon.rb
  app/services/step_code/part_3/v0/requirements/step_code.rb
  app/services/step_code/part_3/v0/requirements/step_code_occupancy.rb
  app/services/step_code/part_3/v0/requirements/whole_building.rb
  app/services/step_code/part_3/v1/generate_report.rb
  app/services/step_code/part_3/v1/performance/overall_compliance.rb
Due: prettier --write, eslint, stree --write

add new content to project readyness screen and check sc screen
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/project-readiness-tools/check-step-code-requirements/index.tsx
  app/frontend/components/domains/project-readiness-tools/index.tsx
  app/frontend/components/shared/navigation/router-link.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/lib/create-search-model.ts
  app/frontend/stores/permit-project-store.ts
Due: prettier --write, eslint

fix logged out redirects
  app/frontend/components/domains/authentication/login-screen.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/navigation/protected-route.tsx
  app/frontend/components/domains/project-readiness-tools/check-step-code-requirements/new/index.tsx
  app/frontend/components/shared/base/loading-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/root-store.ts
Due: prettier --write, eslint

restore seed file
  db/seeds.rb
Due: stree --write

HUB-3274 contact us page
  app/frontend/components/domains/landing/index.tsx
  app/frontend/components/domains/misc/contact-screen.tsx
  app/frontend/components/shared/jurisdiction-search/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

wip start step code
  app/controllers/api/step_codes_controller.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/project-readiness-tools/check-step-code-requirements/index.tsx
  app/frontend/components/domains/project-readiness-tools/check-step-code-requirements/new/index.tsx
  app/frontend/components/domains/project-readiness-tools/check-step-code-requirements/start-check-step-code-requirements-screen.tsx
  app/frontend/components/domains/project-readiness-tools/index.tsx
  app/frontend/components/domains/project-readiness-tools/letter-of-assurance.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/step-code-store.ts
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

wip refactor step code create
  app/blueprints/part_3_step_code_blueprint.rb
  app/blueprints/part_9_step_code_blueprint.rb
  app/blueprints/step_code_base_blueprint.rb
  app/controllers/api/part_3_building/step_codes_controller.rb
  app/controllers/api/step_codes_controller.rb
  app/frontend/i18n/i18n.ts
  app/frontend/models/step-code-base.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/step-code-store.ts
  app/frontend/types/enums.ts
  app/models/concerns/project_item.rb
  app/models/concerns/step_code_checklist_delegates.rb
  app/models/part_3_step_code/checklist.rb
  app/models/step_code.rb
  app/models/user.rb
  config/routes.rb
  db/migrate/20250708200347_add_user_to_step_codes.rb
  db/migrate/20250708203447_add_address_and_pid_to_step_codes.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

HUB-3266 fixed the invalid name displayed in permit application
  app/models/requirement_block.rb
Due: stree --write

HUB-3485 removed must word from the translation file
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

fix project details, create, and authorize
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/blueprints/step_code_base_blueprint.rb
  app/controllers/api/part_3_building/checklists_controller.rb
  app/controllers/api/part_3_building/step_codes_controller.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/project-readiness-tools/check-step-code-requirements/index.tsx
  app/frontend/components/domains/project-readiness-tools/check-step-code-requirements/select-step-code-requirements-screen.tsx
  app/frontend/components/domains/project-readiness-tools/index.tsx
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/project-info/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/project-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/start-page.tsx
  app/frontend/components/domains/step-code/part-3/index.tsx
  app/frontend/hooks/resources/use-part-3-step-code.ts
  app/frontend/models/step-code-base.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/step-code-store.ts
  app/frontend/types/enums.ts
  app/models/concerns/project_item.rb
  app/models/concerns/step_code_checklist_delegates.rb
  app/models/part_3_step_code/checklist.rb
  app/models/part_9_step_code/checklist.rb
  app/models/step_code.rb
  app/policies/part_3_step_code_policy.rb
  config/routes.rb
Due: prettier --write, eslint, stree --write

HUB-2964 updates no found text for scheduled sandbox new permit application
  app/frontend/components/shared/base/custom-message-box.tsx
  app/frontend/components/shared/permit-classification/permit-type-radio-select.tsx
Due: prettier --write, eslint

add fixes for step code pdfs, download links, contact summary
  app/frontend/components/domains/permit-application/contact-summary-modal.tsx
  app/frontend/components/domains/permit-application/submission-download-modal.tsx
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/index.tsx
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/mixed-use-summary/index.tsx
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/mixed-use-summary/styles.ts
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/step-code-performance-summary/index.tsx
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/step-code-performance-summary/mixed-use-energy.tsx
  app/frontend/components/domains/step-code/part-3/form-section/step-code-summary/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/step-code-summary/mixed-use/whole-building/index.tsx
  app/frontend/components/shared/permit-applications/pdf-content/application/index.tsx
  app/frontend/models/part-3-step-code.ts
  app/frontend/models/part-9-step-code.ts
  app/frontend/ssr/ssr.tsx
  app/jobs/pdf_generation_job.rb
  app/models/supporting_document.rb
Due: prettier --write, eslint, stree --write

HUB-756-energy-step-code-step-should-be-checked-off-once-step-code-is-uploaded
  app/frontend/components/domains/permit-application/checklist-sidebar.tsx
Due: prettier --write, eslint

correcting guri, use correct types etc
  app/frontend/components/domains/permit-application/checklist-sidebar.tsx
  app/frontend/components/domains/permit-application/new-permit-application-sandbox-select.tsx
  app/frontend/components/domains/permit-application/new-permit-application-screen.tsx
  app/frontend/components/shared/select/selectors/sandbox-select.tsx
  app/frontend/models/part-3-step-code-checklist.ts
  app/frontend/models/part-3-step-code.ts
  app/frontend/types/types.ts
  db/data/20250620230025_update_sandbox_descriptions.rb
  db/migrate/20250620224440_add_description_to_sandboxes.rb
  db/migrate/20250620230025_update_sandbox_descriptions.rb
Due: prettier --write, eslint, stree --write

patch supporting docs strong params, add missing migration
  app/controllers/api/permit_applications_controller.rb
  db/migrate/20250710191449_add_description_to_sandboxes.rb
  db/schema.rb
Due: stree --write

remove binding pry
  app/controllers/api/permit_applications_controller.rb
Due: stree --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
