Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

HUB-4655 RM/RRM - Jurisdiction /about page - Resources for applicants: Provide link to setup resources when empty
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/components/shared/jurisdiction/jurisdiction-resources-section.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4662 Project readiness tools - Digital seal validator - increase vertical size of file upload
  app/frontend/components/domains/project-readiness-tools/check-digital-seals.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4659 Projects - Permits - View draft permit application: 'Save & go back' navigates to /projects, rather than back to same project
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
Due: prettier --write, eslint

HUB-4635 Project readiness tools - Digital seal validator - Users must login to use the tool
  app/frontend/components/domains/navigation/index.tsx
Due: prettier --write, eslint

fix report sharing spec
  spec/services/step_code_report_sharing_service_spec.rb
Due: stree --write

HUB-4679 RM - Configuration - API Settings: Published API key displayed as Live
  app/frontend/components/domains/external-api-key/external-api-key-modal-sub-route.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

fix sandbox creation in specs
  spec/models/jurisdiction_template_version_customization_spec.rb
  spec/models/permit_application_spec.rb
  spec/models/submission_version_spec.rb
Due: stree --write

pin axios to 1.13.5
  package-lock.json
  package.json
Due: none

HUB-4202 add audited gem
  Gemfile
  Gemfile.lock
Due: none

HUB-4202 generate audits table
  db/migrate/20260223224336_install_audited.rb
  db/schema.rb
Due: stree --write

HUB-4202 enable auditing in permit project model
  app/models/permit_project.rb
Due: stree --write

HUB-4202 add application audit model with search capabilities
  app/models/application_audit.rb
Due: stree --write

HUB-4202 specify audit class for audited
  config/initializers/audited.rb
Due: stree --write

HUB-4202 suggestion for project scoped audit search
  app/controllers/api/concerns/search/project_audits.rb
  app/models/application_audit.rb
Due: stree --write

HUB-4202 configure app to use presenters
  config/application.rb
Due: stree --write

HUB-4202 add project activity presenter
  app/presenters/project_activity_presenter.rb
Due: stree --write

HUB-4202 add project activities search concern
  app/controllers/api/concerns/search/project_activities.rb
Due: stree --write

HUB-4202 add application audit policy
  app/policies/application_audit_policy.rb
Due: stree --write

HUB-4202 add project activity blueprint
  app/blueprints/project_activity_blueprint.rb
Due: stree --write

HUB-4202 add project activities controller
  app/controllers/api/project_activities_controller.rb
Due: stree --write

HUB-4202 add project activities route
  config/routes.rb
Due: stree --write

HUB-4202 keep project audits up to date
  app/models/permit_project.rb
Due: stree --write

add audit suggestions
  app/controllers/api/concerns/search/project_activities.rb
  app/controllers/api/concerns/search/project_audits.rb
  app/controllers/api/project_activities_controller.rb
  app/models/permit_project.rb
  app/policies/application_audit_policy.rb
  app/policies/deny_all_policy.rb
  app/presenters/project_activity_presenter.rb
  db/schema.rb
Due: stree --write

add collaborator questions
  app/blueprints/permit_application_blueprint.rb
  app/controllers/api/project_activities_controller.rb
  app/models/permit_application.rb
  app/policies/application_audit_policy.rb
  app/policies/permit_application_policy.rb
  app/presenters/project_activity_presenter.rb
  app/services/permit_application/form_json_service.rb
  app/services/permit_application/submission_data_service.rb
Due: stree --write

HUB-4421 move version info under grid
  app/frontend/components/domains/navigation/nav-bar-menu.tsx
Due: prettier --write, eslint

add block conditionals
  app/blueprints/template_section_block_blueprint.rb
  app/controllers/api/requirement_templates_controller.rb
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/block-conditional-config.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/sections-display.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/template-section-block.ts
  app/frontend/types/api-request.ts
  app/models/requirement_block.rb
  app/models/requirement_template.rb
  app/models/requirement_template_section.rb
  db/migrate/20260227200000_add_conditional_to_template_section_blocks.rb
  db/schema.rb
  spec/models/block_level_conditional_spec.rb
Due: prettier --write, eslint, stree --write

convert conditional format to simple conditional
  app/controllers/api/requirement_blocks_controller.rb
  app/controllers/api/requirement_templates_controller.rb
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/block-conditional-config.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/conditional-setup-modal.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
  app/frontend/constants/index.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement-block.ts
  app/frontend/models/template-section-block.ts
  app/frontend/types/api-request.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/requirement.rb
  app/models/requirement_block.rb
  app/models/requirement_template.rb
  app/services/conditional_format_migration_service.rb
  app/services/requirement_form_json_service.rb
  db/data/20260227231005_convert_conditionals_to_simple.rb
  spec/factories/requirement_blocks.rb
  spec/factories/requirements.rb
  spec/models/block_level_conditional_spec.rb
  spec/models/requirement_block_spec.rb
  spec/models/requirement_spec.rb
  spec/services/conditional_format_migration_service_spec.rb
Due: prettier --write, eslint, stree --write

ignore ActionDispatch::Http::MimeNegotiation::InvalidType exceptions
  config/initializers/exception_notification.rb
Due: stree --write

rename project activities to project audits
  app/blueprints/permit_application_blueprint.rb
  app/blueprints/project_audit_blueprint.rb
  app/controllers/api/concerns/search/project_audits.rb
  app/controllers/api/project_audits_controller.rb
  app/models/permit_application.rb
  app/models/user.rb
  app/presenters/project_audit_presenter.rb
  config/routes.rb
Due: stree --write

fix pre check coords without project
  app/models/pre_check.rb
  app/services/wrappers/archistar.rb
Due: stree --write

fix specs on stable
  app/controllers/api/invitations_controller.rb
  app/models/requirement.rb
  config/locales/en.yml
  spec/factories/requirements.rb
  spec/models/requirement_spec.rb
  spec/models/requirement_template_spec.rb
  spec/requests/api/invitations_spec.rb
Due: stree --write

fix drawing requirement label
  app/frontend/components/domains/requirements-library/requirements-block-modal/use-requirement-logic.ts
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

fix specs using sandbox factory
  spec/models/jurisdiction_spec.rb
  spec/models/sandbox_spec.rb
Due: stree --write

add stubbed devise jwt key for specs
  .github/workflows/pull-request.yml
Due: none

add stubbed jwt session timeout
  .github/workflows/pull-request.yml
Due: none

HUB-4202 refactor scope_results to use policy_scope with includes
  app/controllers/api/concerns/search/project_audits.rb
Due: stree --write

HUB-4202 add auditing to permit collaborations
  app/models/permit_collaboration.rb
Due: stree --write

update footer
  app/frontend/components/shared/base/footer.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4703 Modify nav behaviour of logo
  app/frontend/components/domains/navigation/menu-content/logged-out-menu-content.tsx
  app/frontend/components/domains/navigation/menu-content/menu-items/welcome-menu-item.tsx
  app/frontend/components/domains/navigation/menu-content/review-manager-menu-content.tsx
  app/frontend/components/domains/navigation/menu-content/reviewer-menu-content.tsx
  app/frontend/components/domains/navigation/menu-content/submitter-menu-content.tsx
  app/frontend/components/domains/navigation/menu-content/super-admin-menu-content.tsx
  app/frontend/components/domains/navigation/menu-content/technical-support-menu-content.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/pre-check/pre-check-nav-bar.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

address PR comments moving types and restoring schema
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/part-3-occupancy-detail-screen.tsx
  app/frontend/constants/part3-occupancy-requirements.ts
  app/frontend/types/types.ts
  db/schema.rb
Due: prettier --write, eslint, stree --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
