Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

fix floating help button vertical placememnt
  app/frontend/components/domains/pre-check/pre-check-viewer.tsx
Due: prettier --write, eslint

add a hook for uppy uploads of transient files
  .cursor/rules/permissions.mdc
  app/frontend/hooks/use-uppy-transient.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

HUB-3634 PR review changes with digital seal store and inherit other code base components
  app/controllers/api/digital_seal_validator_controller.rb
  app/frontend/components/domains/project-readiness-tools/digital-seal-validator.tsx
  app/frontend/hooks/use-uppy-transient.ts
  app/frontend/i18n/i18n.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/digital-seal-validator-store.ts
  app/frontend/stores/root-store.ts
  app/policies/digital_seal_validator_policy.rb
  config/locales/en.yml
  package-lock.json
Due: prettier --write, eslint, stree --write

change webhook retrigger copy
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

add eula content to open and employee
  db/data/20251208180157_update_eulas3.rb
  db/data_schema.rb
  eulas/employee.html
  eulas/open.html
Due: stree --write

Add import and export task and services
  .env_example
  app/controllers/api/template_versions_controller.rb
  app/services/infrastructure/template_export_service.rb
  app/services/infrastructure/template_import_service.rb
  db/seeds.rb
  lib/tasks/templates.rake
Due: stree --write

add transaction and improve error handling
  app/services/infrastructure/template_import_service.rb
Due: stree --write

revert eula overwrite
  db/data/20251208220955_revert_eula_overwrite3.rb
  db/data_schema.rb
  eulas/employee.html
  eulas/open.html
Due: stree --write

do not try to init redis sentinel without env var
  config/environments/production.rb
Due: stree --write

rename old export service to reporting and destroy to prevent fk violations
  app/controllers/api/template_versions_controller.rb
  app/services/infrastructure/template_import_service.rb
  app/services/template_reporting_service.rb
  lib/tasks/templates.rake
Due: stree --write

add new eula content, update styling and task
  app/frontend/components/shared/editor/safe-tiptap-display.tsx
  eulas/employee.html
  eulas/open.html
  lib/tasks/update_eulas.rake
Due: prettier --write, eslint

HUB-3999 add jurisdiction map with boundry points
  .env_example
  app/blueprints/jurisdiction_blueprint.rb
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/components/shared/module-wrappers/jurisdiction-map.tsx
  app/frontend/components/shared/step-code-requirements-table.tsx
  db/data/20251209225216_reverse_map_center_coordinates.rb
  db/data_schema.rb
  db/migrate/20251209225133_add_boundry_points_to_jurisdictions.rb
  db/schema.rb
  db/seeds.rb
  package-lock.json
  package.json
Due: prettier --write, eslint, stree --write

HUB-4000 add project map
  app/blueprints/permit_project_blueprint.rb
  app/frontend/components/domains/permit-project/overview-tab-panel-content.tsx
  app/frontend/components/shared/module-wrappers/jurisdiction-map.tsx
  app/frontend/components/shared/module-wrappers/project-map.tsx
  app/frontend/models/permit-project.ts
  app/models/concerns/project_item.rb
  app/models/permit_project.rb
  app/models/pre_check.rb
  db/migrate/20251209235013_add_coordinates_to_permit_projects.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

add env variable to make resource reminder system more testable
  app/jobs/resource_reminder_job.rb
  config/sidekiq_cron_schedule.yml
Due: stree --write

create in-app and preferences for resource reminders
  app/blueprints/preference_blueprint.rb
  app/controllers/api/users_controller.rb
  app/frontend/components/domains/users/profile-screen.tsx
  app/frontend/hooks/use-notification-popover.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/user.ts
  app/frontend/stores/notification-store.ts
  app/frontend/types/enums.ts
  app/jobs/resource_reminder_job.rb
  app/models/resource.rb
  app/services/constants/notification_action_types.rb
  app/services/notification_service.rb
  config/locales/en.yml
  db/migrate/20251210181530_add_resource_reminder_notification_to_preference.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

revert redis sentinel check in init
  config/environments/production.rb
Due: stree --write

change tool selects to radio buttons and enable architectural remove
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/constants/index.ts
  app/models/requirement.rb
Due: prettier --write, eslint, stree --write

Updated markdown HUB-4174
  package-lock.json
  package.json
Due: none

refactor block editor
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/field-controls-header.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/requirement-field-row.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/use-requirement-logic.ts
  app/frontend/utils/utility-functions.ts
Due: prettier --write, eslint

HUB-2220 rebased with develop branch - CSV download of submitted building permit application
  app/frontend/components/domains/permit-application/submission-download-modal.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/utils/export-permit-application-csv.ts
Due: prettier --write, eslint

HUB-3553 added confirmation box on the X icon before removing the requirement block
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

fix clamav check and sidebar padding
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/jurisdiction-requirement-block-edit-sidebar.tsx
  app/services/virus_scan_service.rb
Due: prettier --write, eslint, stree --write

HUB-4205 fixed the mainnav z-index to 1400
  app/frontend/components/domains/navigation/nav-bar.tsx
Due: prettier --write, eslint

HUB-3751 fixed text overlay issue with css in tiptap editor
  app/frontend/components/shared/editor/editor.tsx
Due: prettier --write, eslint

HUB-4277 Added home page block
  app/frontend/components/domains/landing/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4228 added standardization-preview menu item in main nav
  app/frontend/components/domains/navigation/nav-bar-menu.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4228 Guest users can discover standardized permit application materials from the home page from main branch
  app/frontend/components/domains/landing/index.tsx
  app/frontend/components/domains/navigation/nav-bar-menu.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4228 Guest users can discover standardized permit application materials from the home page from main branch
  app/frontend/components/domains/landing/index.tsx
Due: prettier --write, eslint

add standardization preview page
  app/blueprints/landing_page_early_access_requirement_template_blueprint.rb
  app/frontend/components/domains/landing/standardization-preview-screen.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/super-admin/early-access/requirement-templates/edit-early-access-requirement-template-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/site-configuration-store.ts
  app/frontend/types/api-request.ts
  app/models/early_access_requirement_template.rb
Due: prettier --write, eslint, stree --write

add erd config and update template version list to use nickname
  .erdconfig
  app/frontend/components/domains/requirement-template/template-versions-list.tsx
  app/frontend/types/types.ts
  erd.pdf
Due: prettier --write, eslint

fix standardization preview demo link
  app/frontend/components/domains/landing/standardization-preview-screen.tsx
Due: prettier --write, eslint

HUB-3634 updated copy changes to digital seal validator
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/project-readiness-tools/check-digital-seals.tsx
  app/frontend/components/domains/project-readiness-tools/index.tsx
  app/frontend/components/shared/chefs/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

constraint card width and make clickable
  app/frontend/components/domains/landing/standardization-preview-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

add link for customizing template
  app/views/permit_hub_mailer/notify_new_template_version_published.html.erb
Due: none

first pass for template publish with action required
  app/blueprints/preference_blueprint.rb
  app/controllers/api/users_controller.rb
  app/frontend/components/domains/users/profile-screen.tsx
  app/mailers/permit_hub_mailer.rb
  app/services/notification_service.rb
  app/views/permit_hub_mailer/notify_new_template_version_published.html.erb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

update wording
  app/views/permit_hub_mailer/notify_new_template_version_published.html.erb
Due: none

update all eslint packages
  package-lock.json
  package.json
Due: none

rename landing page setup to standardization
  app/blueprints/site_configuration_blueprint.rb
  app/blueprints/standardization_page_early_access_requirement_template_blueprint.rb
  app/controllers/api/site_configuration_controller.rb
  app/frontend/components/domains/landing/standardization-preview-screen.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/index.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/standardization-setup-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/site-configuration-store.ts
  app/frontend/types/api-request.ts
  app/models/early_access_requirement_template.rb
  app/models/site_configuration.rb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
