Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

HUB-5260 specs
  spec/requests/release_notes_spec.rb
Due: stree --write

HUB-5161 CEA can complete a mid-construction Part 9 report | Generate Part 9 As-Built Energy Reports
  app/frontend/components/domains/step-code/project-information.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

update code based on discussion with sme
  app/services/step_code/compliance/check_requirements/energy/base.rb
  app/services/step_code/compliance/check_requirements/energy/tedi_adjusted.rb
  app/services/step_code/compliance/check_requirements/zero_carbon/base.rb
  spec/services/step_code/compliance/check_requirements/energy/tedi_adjusted_spec.rb
Due: stree --write

Fix energy_step_code_method specs wiped by create callback
  spec/models/permit_application_spec.rb
Due: stree --write

override nanoid 3 and 5 separately
  package-lock.json
  package.json
Due: none

HUB-5358 Block save while Uppy S3 uploads are in progress
  app/frontend/components/domains/home/review-manager/configuration-management-screen/resources-screen.tsx
  app/frontend/components/domains/pre-check/form-section/upload-drawings.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/block-setup.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
  app/frontend/components/domains/super-admin/help-video-modal.tsx
Due: prettier --write, eslint

HUB-5358 Default Uppy Dashboard to allow remove after complete
  app/frontend/components/domains/home/review-manager/configuration-management-screen/resources-screen.tsx
  app/frontend/components/domains/pre-check/form-section/upload-drawings.tsx
  app/frontend/components/domains/project-meeting/project-meeting-screen/shared/uppy-dashboard-field.tsx
  app/frontend/components/domains/project-readiness-tools/check-digital-seals.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/block-setup.tsx
  app/frontend/components/domains/super-admin/help-video-modal.tsx
  app/frontend/components/shared/uppy-dashboard.tsx
  app/frontend/hooks/use-uppy-s3.ts
  app/frontend/styles/chakra-overrides.scss
Due: prettier --write, eslint

HUB-5443 Submitter can enter heating and cooling system details across four open lines | Step Code Part 9 Rev. 7
  app/controllers/concerns/part_9_step_code_checklist_params_concern.rb
  app/frontend/components/domains/step-code/part-9/checklist/building-characteristics-summary/dynamic-characteristics-grid/space-heating-cooling.tsx
  app/frontend/components/domains/step-code/part-9/checklist/pdf-content/building-characteristics-summary/dynamic-characteristics-grid/space-heating-cooling.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-9-step-code-checklist.ts
  app/frontend/types/enums.ts
  app/services/step_code/building_characteristics/line/space_heating_cooling.rb
  app/services/step_code/part_9/building_characteristics_hot2000_mapper.rb
  db/migrate/20260810120000_update_space_heating_cooling_lines_default.rb
  db/schema.rb
  spec/services/step_code/building_characteristics/line/space_heating_cooling_spec.rb
  spec/services/step_code/part_9/building_characteristics_hot2000_mapper_spec.rb
Due: prettier --write, eslint, stree --write

fix data migrations and seeds
  db/data/20260728173443_update_meui_targets.rb
  db/seeds.rb
Due: stree --write

Hub 5260 super admins and users can manage and browse release notes by type platform communication release management (#1874)
  app/frontend/components/domains/release-notes/release-note-type-fields.tsx
  app/frontend/components/domains/release-notes/release-notes-screen.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/release-note-form-screen.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/release-notes-grid-header.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/release-notes-screen.tsx
  app/frontend/i18n/i18n.ts
  spec/requests/release_notes_spec.rb
Due: prettier --write, eslint, stree --write

Hub 5261 release notes distinguish application releases from content standardization updates release notes (#1873)
  app/blueprints/release_note_blueprint.rb
  app/controllers/api/concerns/search/release_notes.rb
  app/controllers/api/release_notes_controller.rb
  app/frontend/components/domains/navigation/sub-nav-bar.tsx
  app/frontend/components/domains/release-notes/release-note-entry.tsx
  app/frontend/components/domains/release-notes/release-note-label-badge.tsx
  app/frontend/components/domains/release-notes/release-note-type-badge.tsx
  app/frontend/components/domains/release-notes/release-note-type-fields.tsx
  app/frontend/components/domains/release-notes/release-note-type-filter.tsx
  app/frontend/components/domains/release-notes/release-note-version-badge.tsx
  app/frontend/components/domains/release-notes/release-notes-screen.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/release-note-form-screen.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/release-notes-grid-header.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/release-notes-screen.tsx
  app/frontend/constants/release-note-type-config.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/release-note-model.ts
  app/frontend/stores/release-note-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/release_note.rb
  config/locales/en.yml
  db/migrate/20260807161100_add_release_type_to_release_notes.rb
  db/schema.rb
  spec/factories/release_notes.rb
  spec/models/release_note_spec.rb
  spec/requests/release_notes_spec.rb
  spec/services/notification_service_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5253 update save draft copy
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-5364 Hide conditionally hidden blocks from permit application sidebar and fix ephemeral conditionals
  app/frontend/components/domains/permit-application/checklist-sidebar.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/utils/formio-component-traversal.ts
  app/frontend/utils/formio-ephemeral-conditionals.check.mjs
  app/frontend/utils/formio-sidebar-visibility.check.mjs
  db/seeds.rb
  lib/local_tools.rb
  spec/lib/local_tools_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5364 Extract requirement-form visibility, scroll-spy, and event hooks
  app/frontend/components/shared/permit-applications/requirement-form/hooks/use-block-scroll-spy.ts
  app/frontend/components/shared/permit-applications/requirement-form/hooks/use-checklist-visibility.ts
  app/frontend/components/shared/permit-applications/requirement-form/hooks/use-requirement-form-events.ts
  app/frontend/components/shared/permit-applications/requirement-form/index.tsx
Due: prettier --write, eslint

HUB-5366 [Bug Bash] Fix flaky CONTENTS sidebar highlight on permit application form
  app/frontend/components/shared/permit-applications/requirement-form/hooks/use-block-scroll-spy.ts
  app/frontend/utils/formio-scroll-spy.check.mjs
Due: prettier --write, eslint

HUB-5253 add confirmation modal for publishing release notes
  app/frontend/components/domains/super-admin/site-configuration-management/release-note-form-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-5253 only display years with release notes
  app/controllers/api/release_notes_controller.rb
  app/frontend/services/api/index.ts
  app/frontend/stores/release-note-store.ts
  config/routes.rb
  spec/requests/release_notes_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5253 include footer
  app/frontend/components/domains/release-notes/release-note-year-nav.tsx
  app/frontend/components/domains/release-notes/release-notes-screen.tsx
  app/frontend/components/shared/base/footer.tsx
Due: prettier --write, eslint

HUB-5167 move map disclaimers to respective components
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-overview-tab.tsx
  app/frontend/components/domains/permit-project/overview-tab-panel-content.tsx
  app/frontend/components/shared/module-wrappers/jurisdiction-map.tsx
  app/frontend/components/shared/module-wrappers/project-map.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Fix populate_base_form_data wiping submission_data on create
  app/models/permit_application.rb
Due: stree --write

HUB-5167 refactor to consolidate error handling and loading states
  app/frontend/components/shared/module-wrappers/jurisdiction-map.tsx
  app/frontend/components/shared/module-wrappers/project-map.tsx
Due: prettier --write, eslint

Hub 5167 jurisdiction about page add tooltip to map (#1882)
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-overview-tab.tsx
  app/frontend/components/domains/permit-project/overview-tab-panel-content.tsx
  app/frontend/components/shared/module-wrappers/jurisdiction-map.tsx
  app/frontend/components/shared/module-wrappers/project-map.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-5383 [Bug Bash] Slim requirement blocks picker — drop Form fields and Config columns
  app/frontend/components/domains/requirements-library/grid-header.tsx
  app/frontend/components/domains/requirements-library/requirement-blocks-table.tsx
  app/frontend/components/domains/requirements-library/requirements-library-drawer.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/requirement-block-store.ts
  app/frontend/types/enums.ts
Due: prettier --write, eslint

HUB-5068 allow text inputs to grow dynamically
  app/frontend/components/domains/jurisdictions/jurisdiction-about-snippet-cards.tsx
Due: prettier --write, eslint

HUB-5068 remove link styling from fallback text
  app/frontend/components/domains/jurisdictions/jurisdiction-contact-info-banner.tsx
Due: prettier --write, eslint

npm i to fix package lock drift
  package-lock.json
Due: none

npm install using node 20
  package-lock.json
Due: none

HUB-5482 select audiences for release notes notifications
  app/controllers/api/release_notes_controller.rb
  app/frontend/components/domains/super-admin/site-configuration-management/release-note-form-screen.tsx
  app/frontend/components/shared/confirmation-modal.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/release_note.rb
  app/services/notification_service.rb
  spec/requests/release_notes_spec.rb
  spec/services/notification_service_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5253 notifiaction copy changes
  app/frontend/i18n/i18n.ts
  app/frontend/stores/notification-store.ts
  app/models/release_note.rb
  config/locales/en.yml
  spec/models/release_note_spec.rb
  spec/services/notification_service_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5482 add option to not send notifications
  app/frontend/i18n/i18n.ts
  app/frontend/types/enums.ts
  app/models/release_note.rb
  app/services/notification_service.rb
  spec/requests/release_notes_spec.rb
  spec/services/notification_service_spec.rb
Due: prettier --write, eslint, stree --write

Hub 5482 review notifications for release notes (#1890)
  app/controllers/api/release_notes_controller.rb
  app/frontend/components/domains/super-admin/site-configuration-management/release-note-form-screen.tsx
  app/frontend/components/shared/confirmation-modal.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/notification-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/release_note.rb
  app/services/notification_service.rb
  config/locales/en.yml
  spec/models/release_note_spec.rb
  spec/requests/release_notes_spec.rb
  spec/services/notification_service_spec.rb
Due: prettier --write, eslint, stree --write

Hub 5068 jurisdictions about page UI updates (#1885)
  app/frontend/components/domains/jurisdictions/jurisdiction-about-snippet-cards.tsx
  app/frontend/components/domains/jurisdictions/jurisdiction-contact-info-banner.tsx
Due: prettier --write, eslint

HUB-5476 Submitters - View/edit permit application - 'Save & finish later' maintains scroll level on subsequent page navigation
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
Due: prettier --write, eslint

HUB-5493 Make radio buttons white app-wide
  app/frontend/styles/theme/components/radio.ts
Due: prettier --write, eslint

fix discrepancies vs latest xlsx
  app/services/step_code/compliance/check_requirements/energy/tedi_adjusted.rb
  spec/services/step_code/compliance/check_requirements/energy/tedi_adjusted_spec.rb
Due: stree --write

Revert "HUB-5253 include footer"
  app/frontend/components/domains/release-notes/release-note-year-nav.tsx
  app/frontend/components/domains/release-notes/release-notes-screen.tsx
  app/frontend/components/shared/base/footer.tsx
Due: prettier --write, eslint

HUB-5253 Add release notes link to footer
  app/frontend/components/shared/base/footer.tsx
Due: prettier --write, eslint

Hub 5253 release notes 5 bug fixes (#1893)
  app/frontend/components/domains/release-notes/release-note-year-nav.tsx
  app/frontend/components/domains/release-notes/release-notes-screen.tsx
  app/frontend/components/shared/base/footer.tsx
Due: prettier --write, eslint

HUB-5169 prevent background scroll while drawers and modals are open
  app/frontend/styles/theme/index.ts
Due: prettier --write, eslint

HUB-5224 close current page link on mega menu
  app/frontend/components/domains/navigation/nav-bar-menu.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
