Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

add link copyability to tabs
  app/frontend/components/domains/jurisdictions/submission-inbox/reviewer-workspace-screen.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/reviewer-workspace-sidebar.tsx
  app/frontend/components/domains/permit-project/project-sidebar-tab-list.tsx
  app/frontend/styles/theme/components/tabs.ts
Due: prettier --write, eslint

modify search index refresh
  app/controllers/api/requirement_blocks_controller.rb
  app/controllers/api/requirement_questions_controller.rb
  app/models/requirement_block.rb
  app/models/requirement_question.rb
Due: stree --write

copy and ux suggestion for qb
  app/frontend/components/domains/question-bank/question-bank-modal/field-setup.tsx
  app/frontend/components/domains/question-bank/question-bank-modal/index.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/requirement-field-row.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

add logical validation of tempalte version form jsons
  app/controllers/api/requirement_templates_controller.rb
  app/controllers/api/template_versions_controller.rb
  app/errors/template_version_config_error.rb
  app/frontend/components/domains/question-bank/question-bank-modal/field-setup.tsx
  app/frontend/components/domains/requirement-template/screens/template-version-screen.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/computed-compliance-setup-modal/index.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/data-validation-setup-modal.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/options-menu.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/field-controls-header.tsx
  app/frontend/i18n/i18n.ts
  app/services/template_version_config_validator.rb
  app/services/template_versioning_service.rb
  config/locales/en.yml
  spec/services/template_version_config_validator_spec.rb
  spec/services/template_versioning_service_spec.rb
Due: prettier --write, eslint, stree --write

Hub 4239 suggestions (#1812)
  app/controllers/api/requirement_blocks_controller.rb
  app/controllers/api/requirement_questions_controller.rb
  app/frontend/components/domains/question-bank/question-bank-modal/field-setup.tsx
  app/frontend/components/domains/question-bank/question-bank-modal/index.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/requirement-field-row.tsx
  app/frontend/i18n/i18n.ts
  app/models/requirement_block.rb
  app/models/requirement_question.rb
Due: prettier --write, eslint, stree --write

replace project rollup status using project state
  app/controllers/api/concerns/search/permit_projects.rb
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-project-detail-screen.tsx
  app/frontend/components/domains/permit-project/overview-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/permit-project-screen.tsx
  app/frontend/components/domains/permit-project/permits-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/project-grid-row.tsx
  app/frontend/components/domains/permit-project/projects-grid.tsx
  app/frontend/components/domains/permit-project/rollup-status-filter.tsx
  app/frontend/components/domains/permit-project/state-filter.tsx
  app/frontend/components/shared/permit-projects/project-state-box.tsx
  app/frontend/components/shared/permit-projects/rollup-status-box.tsx
  app/frontend/components/shared/permit-projects/rollup-status-icon.tsx
  app/frontend/components/shared/permit-projects/rollup-status-tag.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-project.ts
  app/frontend/stores/permit-project-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
Due: prettier --write, eslint, stree --write

ux improvements for reused question text
  app/blueprints/requirement_blueprint.rb
  app/controllers/api/requirement_questions_controller.rb
  app/controllers/api/requirement_templates_controller.rb
  app/controllers/api/template_versions_controller.rb
  app/errors/template_version_config_error.rb
  app/frontend/components/domains/question-bank/question-bank-modal/field-setup.tsx
  app/frontend/components/domains/question-bank/question-bank-modal/index.tsx
  app/frontend/components/domains/requirement-template/config-errors-panel.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/sections-display.tsx
  app/frontend/components/domains/requirement-template/screens/template-version-screen.tsx
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/computed-compliance-setup-modal/index.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/conditional-setup-modal.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/data-validation-setup-modal.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/editable-helper-text.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/editable-instructions-text.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/options-menu.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/types.ts
  app/frontend/components/domains/requirements-library/requirements-block-modal/field-controls-header.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/requirement-field-row.tsx
  app/frontend/components/shared/editor/custom-extensions/editor-with-preview.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement-block.ts
  app/frontend/models/requirement.ts
  app/frontend/stores/requirement-template-store.ts
  app/frontend/types/api-request.ts
  app/models/requirement.rb
  app/models/requirement_question.rb
  app/services/template_version_config_validator.rb
  app/services/template_versioning_service.rb
  spec/controllers/requirement_questions_controller_spec.rb
  spec/controllers/requirement_templates_controller_spec.rb
  spec/controllers/template_versions_controller_spec.rb
  spec/models/requirement_question_spec.rb
  spec/models/requirement_spec.rb
  spec/services/template_version_config_validator_spec.rb
  spec/services/template_versioning_service_spec.rb
Due: prettier --write, eslint, stree --write

add last updated at to stepcode req page
  app/blueprints/jurisdiction_blueprint.rb
  app/frontend/components/domains/jurisdictions/step-code-requirements-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/jurisdiction.ts
  app/models/jurisdiction.rb
  spec/models/jurisdiction_spec.rb
Due: prettier --write, eslint, stree --write

update to brace-expansion 2.1.2
  package-lock.json
  package.json
Due: none

change nickname to custom name appwide
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/editable-builder-header.tsx
  app/frontend/i18n/i18n.ts
  config/locales/en.yml
Due: prettier --write, eslint

remove uneeded routes.txt
  routes.txt
Due: none

reinstall using node 20
  package-lock.json
Due: none

add description to step code required steps
  app/blueprints/jurisdiction_step_requirement_blueprint.rb
  app/blueprints/part3_occupancy_required_step_blueprint.rb
  app/blueprints/step_code/part_9/compliance_report_blueprint.rb
  app/controllers/api/jurisdictions_controller.rb
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/energy-step-editable-block/part-9-energy-step-editable-block.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/part-3-occupancy-detail-screen.tsx
  app/frontend/components/domains/step-code/part-9/checklist/compliance-summary/step-requirement-radio-group.tsx
  app/frontend/components/shared/part3-step-code-requirements.tsx
  app/frontend/components/shared/step-code-requirements-table.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/step-code-compliance-report.ts
  app/frontend/types/types.ts
  app/services/step_code/compliance/generate_reports.rb
  db/migrate/20260724100600_add_description_to_step_code_pathways.rb
  db/schema.rb
  db/seeds.rb
  spec/services/step_code/compliance/generate_reports_spec.rb
Due: prettier --write, eslint, stree --write

fix draft permit app policy scoping with active meetings
  app/blueprints/permit_project_blueprint.rb
  app/controllers/api/concerns/search/jurisdiction_permit_applications.rb
  app/frontend/components/domains/jurisdictions/submission-inbox/reviewer-workspace-sidebar.tsx
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/components/domains/permit-project/project-sidebar-tab-list.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/styles/theme/components/tabs.ts
  app/models/concerns/permit_application_status.rb
  app/models/permit_collaboration.rb
  app/models/permit_project.rb
  app/policies/permit_application_policy.rb
  db/seeds.rb
  spec/concerns/permit_application_search_spec.rb
  spec/policies/permit_application_policy_spec.rb
Due: prettier --write, eslint, stree --write

consolidate search inputs and fix debouncing
  app/frontend/components/domains/jurisdictions/submission-inbox/inbox-search-input.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/meetings-tab-panel-content.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-permits-tab.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/submissions-tab-panel-content.tsx
Due: prettier --write, eslint

HUB-4241 add requirement_question_id to requirements_attributes
  app/controllers/api/requirement_blocks_controller.rb
Due: stree --write

HUB-4241 specs
  spec/controllers/requirement_blocks_controller_spec.rb
Due: stree --write

HUB-4241 update requirement attributes to include requirementQuestionId and usesSharedQuestion handling in requirement block store
  app/frontend/stores/requirement-block-store.ts
  app/frontend/types/api-request.ts
Due: prettier --write, eslint

HUB-4241 add shared question to requirement blocks
  app/frontend/components/domains/question-bank/grid-header.tsx
  app/frontend/components/domains/question-bank/question-bank-modal/index.tsx
  app/frontend/components/domains/question-bank/questions-table.tsx
  app/frontend/components/domains/requirements-library/add-questions-modal.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/options-menu.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/field-controls-header.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/requirement-field-row.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/use-requirement-logic.ts
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

add redeploy md
  REDEPLOY.md
Due: none

HUB-4241 remove configurations column
  app/frontend/components/domains/question-bank/grid-header.tsx
  app/frontend/components/domains/question-bank/questions-table.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4241 lock definition fields
  app/frontend/components/domains/requirements-library/requirement-field-edit/editable-group.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/generic-contact-edit.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/pid-info-edit.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/requirement-field-row.tsx
  app/frontend/components/shared/select/selectors/unit-select.tsx
Due: prettier --write, eslint

HUB-4241 use consistent row height in drawer
  app/frontend/components/domains/question-bank/questions-table.tsx
Due: prettier --write, eslint

HUB-4241 do not sync url from question bank drawer
  app/frontend/components/domains/question-bank/questions-table.tsx
  app/frontend/lib/create-search-model.ts
Due: prettier --write, eslint

upgrade react router dom and enhance redirect security
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-overview-tab.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-project-detail-screen.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/permit-project/permit-project-screen.tsx
  app/frontend/stores/root-store.ts
  app/frontend/stores/session-store.ts
  app/frontend/utils/is-safe-app-path.check.mjs
  app/frontend/utils/utility-functions.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

touch up empty inbox styling
  app/frontend/components/domains/jurisdictions/submission-inbox/inbox-no-matching-empty.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/submissions-tab-panel-content.tsx
Due: prettier --write, eslint

show validation dry run in confirmation modal
  app/controllers/api/requirement_templates_controller.rb
  app/controllers/api/template_versions_controller.rb
  app/frontend/components/domains/requirement-template/config-errors-list.tsx
  app/frontend/components/domains/requirement-template/config-errors-panel.tsx
  app/frontend/components/domains/requirement-template/create-early-access-version-modal.tsx
  app/frontend/components/domains/requirement-template/publish-schedule-modal.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/controls-header.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/template-version-screen.tsx
  app/frontend/services/api/index.ts
  app/frontend/stores/requirement-template-store.ts
  app/frontend/types/types.ts
  app/policies/requirement_template_policy.rb
  app/policies/template_version_policy.rb
  app/services/template_versioning_service.rb
  config/routes.rb
  spec/controllers/requirement_templates_controller_spec.rb
  spec/controllers/template_versions_controller_spec.rb
  spec/services/template_versioning_service_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5308 adjust menu button font size
  app/frontend/components/shared/jurisdiction/manage-jurisdiction-menu.tsx
Due: prettier --write, eslint

data migrate meui requirements
  app/services/step_code/compliance/check_requirements/energy/meui.rb
  db/data/20260728173443_update_meui_targets.rb
  db/data_schema.rb
  db/templates/meui_targets.json
Due: stree --write

create a nested search construct
  app/frontend/components/domains/question-bank/grid-header.tsx
  app/frontend/components/domains/question-bank/questions-table.tsx
  app/frontend/components/domains/requirements-library/add-questions-modal.tsx
  app/frontend/components/domains/requirements-library/grid-header.tsx
  app/frontend/components/domains/requirements-library/requirement-blocks-table.tsx
  app/frontend/components/domains/requirements-library/requirements-library-drawer.tsx
  app/frontend/hooks/use-ephemeral-mst-model.ts
  app/frontend/hooks/use-search.ts
  app/frontend/lib/create-search-model.ts
  app/frontend/models/requirement-block-picker-search.ts
  app/frontend/models/requirement-question-picker-search.ts
Due: prettier --write, eslint

Hub 4241 super admin can add question bank questions to a requirement block question management (#1833)
  app/controllers/api/requirement_blocks_controller.rb
  app/frontend/components/domains/question-bank/grid-header.tsx
  app/frontend/components/domains/question-bank/question-bank-modal/index.tsx
  app/frontend/components/domains/question-bank/questions-table.tsx
  app/frontend/components/domains/requirements-library/add-questions-modal.tsx
  app/frontend/components/domains/requirements-library/grid-header.tsx
  app/frontend/components/domains/requirements-library/requirement-blocks-table.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/editable-group.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/generic-contact-edit.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/options-menu.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/pid-info-edit.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/field-controls-header.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/requirement-field-row.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/use-requirement-logic.ts
  app/frontend/components/domains/requirements-library/requirements-library-drawer.tsx
  app/frontend/components/shared/select/selectors/unit-select.tsx
  app/frontend/hooks/use-ephemeral-mst-model.ts
  app/frontend/hooks/use-search.ts
  app/frontend/i18n/i18n.ts
  app/frontend/lib/create-search-model.ts
  app/frontend/models/requirement-block-picker-search.ts
  app/frontend/models/requirement-question-picker-search.ts
  app/frontend/stores/requirement-block-store.ts
  app/frontend/types/api-request.ts
  spec/controllers/requirement_blocks_controller_spec.rb
Due: prettier --write, eslint, stree --write

Revert "show validation dry run in confirmation modal"
  app/controllers/api/requirement_templates_controller.rb
  app/controllers/api/template_versions_controller.rb
  app/frontend/components/domains/requirement-template/config-errors-list.tsx
  app/frontend/components/domains/requirement-template/config-errors-panel.tsx
  app/frontend/components/domains/requirement-template/create-early-access-version-modal.tsx
  app/frontend/components/domains/requirement-template/publish-schedule-modal.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/controls-header.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/template-version-screen.tsx
  app/frontend/services/api/index.ts
  app/frontend/stores/requirement-template-store.ts
  app/frontend/types/types.ts
  app/policies/requirement_template_policy.rb
  app/policies/template_version_policy.rb
  app/services/template_versioning_service.rb
  config/routes.rb
  spec/controllers/requirement_templates_controller_spec.rb
  spec/controllers/template_versions_controller_spec.rb
  spec/services/template_versioning_service_spec.rb
Due: prettier --write, eslint, stree --write

add logical validation of tempalte version form jsons
  app/controllers/api/template_versions_controller.rb
  app/frontend/components/domains/question-bank/question-bank-modal/field-setup.tsx
Due: prettier --write, eslint, stree --write

ux improvements for reused question text
  app/controllers/api/template_versions_controller.rb
  app/frontend/components/domains/question-bank/question-bank-modal/field-setup.tsx
Due: prettier --write, eslint, stree --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
