Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

fix customization sandbox UI and enable promotion
  app/controllers/api/template_versions_controller.rb
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/index.tsx
  app/frontend/hooks/resources/use-jurisdiction-template-version-customization.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/template-version.ts
  app/frontend/services/api/index.ts
  app/models/jurisdiction_template_version_customization.rb
  app/policies/template_version_policy.rb
  config/locales/en.yml
  config/routes.rb
Due: prettier --write, eslint, stree --write

filter requirement templates based on a temporary sandbox ID
  app/controllers/api/application_controller.rb
  app/controllers/api/permit_applications_controller.rb
  app/controllers/api/permit_classifications_controller.rb
  app/frontend/components/domains/navigation/nav-sandbox-select.tsx
  app/frontend/components/domains/permit-application/new-permit-application-sandbox-select.tsx
  app/frontend/components/domains/permit-application/new-permit-application-screen.tsx
  app/frontend/components/shared/select/selectors/sandbox-select.tsx
  app/models/requirement_template.rb
Due: prettier --write, eslint, stree --write

BPHH-2107 increment name and sku of copied block
  app/frontend/stores/requirement-block-store.ts
  app/frontend/utils/utility-functions.ts
Due: prettier --write, eslint

clear sandbox id after page refresh for non review staff
  app/frontend/stores/root-store.ts
  app/frontend/stores/sandbox-store.ts
  app/frontend/stores/session-store.ts
Due: prettier --write, eslint

use linkoverlay for home screen
  app/frontend/components/domains/home/home-screen-box.tsx
Due: prettier --write, eslint

add guard clause for blank submitter in inbox screen
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
Due: prettier --write, eslint

fix jurisdiction id permit type filtering
  app/frontend/components/domains/permit-application/new-permit-application-screen.tsx
Due: prettier --write, eslint

fix jurisdiction ID permit type option filtering
  app/frontend/components/domains/permit-application/new-permit-application-screen.tsx
  app/frontend/i18n/i18n.ts
  config/locales/en.yml
Due: prettier --write, eslint

add permit applications metrics report
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/domains/super-admin/reporting/reporting-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/step-code-store.ts
  app/models/permit_application.rb
  app/policies/permit_application_policy.rb
  app/services/permit_application_export_service.rb
  config/locales/en.yml
  config/routes.rb
Due: prettier --write, eslint, stree --write

Add aasm state for managing API enablement with role considerations
  app/blueprints/jurisdiction_blueprint.rb
  app/controllers/api/jurisdictions_controller.rb
  app/frontend/components/domains/external-api-key/grid-header.tsx
  app/frontend/components/domains/external-api-key/index.tsx
  app/frontend/i18n/i18n.ts
  app/models/concerns/jurisdiction_external_api_state.rb
  app/models/external_api_key.rb
  app/models/jurisdiction.rb
  app/models/template_version.rb
  app/policies/jurisdiction_policy.rb
  db/data/20240605235009_add_integration_mappings_for_jurisdictions.rb
  db/migrate/20241002222326_change_external_api_enabled_to_external_api_state_in_jurisdictions.rb
  db/schema.rb
  spec/controllers/external_api/application_controller_spec.rb
  spec/factories/external_api_key.rb
  spec/factories/sub_districts.rb
  spec/models/external_api_key_spec.rb
  spec/models/jurisdiction_spec.rb
  spec/models/template_version_spec.rb
Due: prettier --write, eslint, stree --write

improve pid select with autoformat and autoclear
  app/frontend/components/domains/permit-application/new-permit-application-screen.tsx
  app/frontend/components/shared/select/selectors/sites-select.tsx
  app/frontend/utils/utility-functions.ts
Due: prettier --write, eslint

fix ltsa error message handling
  app/controllers/api/geocoder_controller.rb
  app/services/wrappers/ltsa_parcel_map_bc.rb
Due: stree --write

[bphh-1501] Cleanup and simplify external_api_state updating and transitions with policy guards for controllers
  app/controllers/api/jurisdictions_controller.rb
  app/models/concerns/jurisdiction_external_api_state.rb
  app/policies/jurisdiction_policy.rb
  spec/models/jurisdiction_spec.rb
Due: stree --write

[bphh-1501] Update external api switch and warning banners and interactions to take into account new external api states for a jurisdiction
  app/blueprints/jurisdiction_blueprint.rb
  app/frontend/components/domains/external-api-key/grid-header.tsx
  app/frontend/components/domains/external-api-key/index.tsx
  app/frontend/models/jurisdiction.ts
  app/frontend/types/enums.ts
Due: prettier --write, eslint, stree --write

fix schema
  db/migrate/20241002222326_change_external_api_enabled_to_external_api_state_in_jurisdictions.rb
  db/schema.rb
Due: stree --write

Enable preview creation and copy, refactor reusable components
  app/controllers/api/requirement_templates_controller.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/requirement-template/new-requirement-template-screen.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/editable-builder-header.tsx
  app/frontend/components/domains/requirement-template/screens/requirement-template-screen.tsx
  app/frontend/components/domains/super-admin/early-access/requirement-templates/copy-from-live-modal.tsx
  app/frontend/components/domains/super-admin/early-access/requirement-templates/create-modal.tsx
  app/frontend/components/domains/super-admin/early-access/requirement-templates/edit-early-access-requirement-template-screen.tsx
  app/frontend/components/domains/super-admin/early-access/requirement-templates/index.tsx
  app/frontend/components/domains/super-admin/early-access/requirement-templates/new-early-access-requirement-template-screen.tsx
  app/frontend/components/shared/requirement-template/requirement-template-form.tsx
  app/frontend/components/shared/requirement-template/requirement-template-grid.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/requirement-template-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/early_access_requirement_template.rb
  app/services/requirement_template_copy_service.rb
  config/locales/en.yml
  db/migrate/20241004180237_create_early_access_preview_fields.rb
  db/schema.rb
  spec/controllers/requirement_templates_controller_spec.rb
Due: prettier --write, eslint, stree --write

calculate averages by jurisdiciton and permit template (memory intensive)
  app/models/permit_application.rb
  app/services/permit_application_export_service.rb
Due: stree --write

calculate averages by jurisdiciton and permit template (efficient subquery)
  app/models/permit_application.rb
  app/services/permit_application_export_service.rb
  config/locales/en.yml
Due: stree --write

refactor template create and copy into separate actions
  app/controllers/api/requirement_templates_controller.rb
  app/frontend/components/domains/super-admin/early-access/requirement-templates/copy-from-live-modal.tsx
  app/frontend/components/domains/super-admin/early-access/requirement-templates/create-modal.tsx
  app/frontend/components/shared/requirement-template/requirement-template-form.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/requirement-template-store.ts
  app/frontend/types/types.ts
  app/models/live_requirement_template.rb
  app/models/requirement_template.rb
  app/models/requirement_template_section.rb
  app/models/template_version.rb
  app/policies/requirement_template_policy.rb
  app/services/requirement_template_copy_service.rb
  config/locales/en.yml
  config/routes.rb
Due: prettier --write, eslint, stree --write

refactor edit screen into reusable component
  app/blueprints/requirement_template_blueprint.rb
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/navigation/sub-nav-bar.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/builder-header.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/controls-header.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/editable-builder-header.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/sections-display.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/sections-dnd/droppable-section.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/sections-dnd/index.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/sections-dnd/multipleContainersKeyboardCoordinates.ts
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/sections-dnd/requirement-block.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/sections-dnd/section.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/sections-dnd/sortable-requirement-block.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/publish-schedule-modal.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/template-version-screen.tsx
  app/frontend/components/domains/requirement-template/use-section-highlight.ts
  app/frontend/components/domains/super-admin/early-access/requirement-templates/create-modal.tsx
  app/frontend/components/domains/super-admin/early-access/requirement-templates/edit-early-access-requirement-template-screen.tsx
  app/frontend/components/domains/super-admin/early-access/requirement-templates/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement-template.ts
  app/models/early_access_requirement_template.rb
  db/migrate/20241004180237_create_early_access_preview_fields.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

enable nickname edit on previews
  app/controllers/api/requirement_templates_controller.rb
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/builder-header.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/controls-header.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/editable-builder-header.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/sections-display.tsx
  app/frontend/components/domains/super-admin/early-access/requirement-templates/edit-early-access-requirement-template-screen.tsx
  app/frontend/components/shared/editable-input-with-controls.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/api-request.ts
  app/models/early_access_requirement_template.rb
Due: prettier --write, eslint, stree --write

format pid labels with dashes in selector
  app/frontend/components/shared/select/selectors/sites-select.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/utils/utility-functions.ts
Due: prettier --write, eslint

Fix ltsa error messages
  app/controllers/api/geocoder_controller.rb
  app/models/errors/ltsa_unavailable_error.rb
  app/services/wrappers/ltsa_parcel_map_bc.rb
  config/locales/en.yml
Due: stree --write

Add Request-ID to the logs and format them to swe can better debug on Kibana
  config/application.rb
  config/environments/production.rb
  config/initializers/logger.rb
Due: stree --write

add comments about seconds in a day
  app/services/permit_application_export_service.rb
Due: stree --write

update template spec for copy
  spec/controllers/requirement_templates_controller_spec.rb
Due: stree --write

Add assignee selection to previews
  app/blueprints/early_access_requirement_template_blueprint.rb
  app/blueprints/live_requirement_template_blueprint.rb
  app/blueprints/requirement_template_blueprint.rb
  app/controllers/api/requirement_templates_controller.rb
  app/controllers/api/users_controller.rb
  app/frontend/components/domains/super-admin/early-access/requirement-templates/edit-early-access-requirement-template-screen.tsx
  app/frontend/components/domains/super-admin/early-access/requirement-templates/index.tsx
  app/frontend/components/shared/conditional-wrapper.tsx
  app/frontend/components/shared/select/selectors/assignee-select.tsx
  app/frontend/components/shared/user/user-card.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement-template.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/permit-application-store.ts
  app/frontend/stores/requirement-template-store.ts
  app/frontend/stores/user-store.ts
  app/frontend/types/api-request.ts
  app/models/early_access_requirement_template.rb
  app/models/live_requirement_template.rb
  app/models/requirement_template.rb
  app/policies/user_policy.rb
  config/locales/en.yml
  config/routes.rb
Due: prettier --write, eslint, stree --write

fix active_job flag and add specs for batched notifications job
  config/sidekiq_cron_schedule.yml
  spec/factories/integration_mapping_notifications.rb
  spec/jobs/send_batched_notifications_job_spec.rb
Due: stree --write

bump to rails 7.1.4.1
  Gemfile
  Gemfile.lock
Due: none

add page and processing for early access view
  app/blueprints/requirement_template_blueprint.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/super-admin/early-access/requirement-templates/early-access-requirement-template-screen.tsx
  app/frontend/components/domains/super-admin/early-access/requirement-templates/index.tsx
  app/frontend/components/shared/permit-applications/permit-application-status-tag.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/hooks/use-ephemeral-permit-application.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/models/template-version.ts
  app/frontend/stores/permit-application-store.ts
  app/frontend/types/enums.ts
  app/frontend/utils/formio-component-traversal.ts
  app/models/early_access_requirement_template.rb
  app/models/template_version.rb
  app/services/requirement_template_copy_service.rb
  app/services/template_versioning_service.rb
  db/seeds.rb
Due: prettier --write, eslint, stree --write

fix redundant super admin option loads
  app/frontend/components/domains/super-admin/early-access/requirement-templates/index.tsx
  app/frontend/components/shared/select/selectors/assignee-select.tsx
Due: prettier --write, eslint

optimize requirement template search n+1
  app/controllers/api/concerns/search/requirement_templates.rb
  app/models/requirement_template.rb
Due: stree --write

add page and processing for early access view
  app/blueprints/requirement_template_blueprint.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/super-admin/early-access/requirement-templates/early-access-requirement-template-screen.tsx
  app/frontend/components/domains/super-admin/early-access/requirement-templates/index.tsx
  app/frontend/components/shared/permit-applications/permit-application-status-tag.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/models/template-version.ts
  app/frontend/stores/permit-application-store.ts
  app/frontend/types/enums.ts
  app/frontend/utils/formio-component-traversal.ts
  app/models/early_access_requirement_template.rb
  app/models/template_version.rb
  app/services/requirement_template_copy_service.rb
  app/services/template_versioning_service.rb
  db/seeds.rb
Due: prettier --write, eslint, stree --write

fix lint staged, prettier, and stree configuration
  .prettierignore
  .prettierrc.mjs
  .streeignore
  package.json
Due: none

use subclass dependent search includes
  app/controllers/api/concerns/search/requirement_templates.rb
  app/models/early_access_requirement_template.rb
  app/models/requirement_template.rb
Due: stree --write

remove duplicate method and sandboxes route
  app/frontend/stores/root-store.ts
  app/models/permit_application.rb
  config/routes.rb
Due: prettier --write, eslint, stree --write

address PR comments
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/index.tsx
  config/locales/en.yml
Due: prettier --write, eslint
