Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

HUB-3553 added simple confirmation box on requirement block
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

fix req block bugs and update validation to include checkboxes, dates
  app/frontend/components/domains/requirements-library/requirement-field-display/generic-multi-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/data-validation-setup-modal.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/editable-instructions-text.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/options-menu.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/use-requirement-logic.ts
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/api-request.ts
  app/frontend/types/enums.ts
  app/models/requirement_block.rb
  app/services/requirement_form_json_service.rb
Due: prettier --write, eslint, stree --write

HUB-4186 hide the options menu if external api key is disabled
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
Due: prettier --write, eslint

HUB-4216 fixed incorrect spellings for centimetre and millimetre
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

add file type data validation
  app/frontend/components/domains/requirements-library/requirement-field-edit/data-validation-setup-modal.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/options-menu.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/field-controls-header.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/api-request.ts
  app/frontend/types/enums.ts
  app/models/requirement_block.rb
  app/services/requirement_form_json_service.rb
Due: prettier --write, eslint, stree --write

HUB-4203 qualified name replaced with disambiguated name and locality type
  app/models/jurisdiction.rb
Due: stree --write

HUB-4203 fixed failing rspec
  spec/seeds/jurisdiction_seeder_spec.rb
Due: stree --write

add archiving of permit applicaitons
  app/blueprints/permit_application_blueprint.rb
  app/controllers/api/concerns/search/permit_applications.rb
  app/controllers/api/concerns/search/project_permit_applications.rb
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/permit-project/overview-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/permit-application-grid-row.tsx
  app/frontend/components/domains/permit-project/permits-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/step-codes-grid-row.tsx
  app/frontend/components/domains/requirements-library/block-setup-options-menu.tsx
  app/frontend/components/shared/requirement-template/mange-requirement-template-menu.tsx
  app/frontend/components/shared/user/manage-user-menu.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/lib/create-search-model.ts
  app/frontend/models/permit-application.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/permit-application-store.ts
  app/models/permit_application.rb
  app/models/permit_project.rb
  app/policies/permit_application_policy.rb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20260113222602_add_discarded_at_to_permit_applications.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

consider only kept permit applicaitons in a few key places
  app/controllers/api/concerns/search/permit_applications.rb
  app/controllers/api/concerns/search/project_permit_applications.rb
  app/controllers/external_api/concerns/search/permit_applications.rb
  app/models/jurisdiction.rb
  app/models/permit_project.rb
  app/policies/permit_application_policy.rb
  app/services/notification_service.rb
Due: stree --write

HUB-2220 renamed the traverse component and moved to utility file
  app/frontend/utils/export-permit-application-csv.ts
  app/frontend/utils/formio-component-traversal.ts
Due: prettier --write, eslint

Owning user only scope
  app/controllers/api/concerns/search/overheating_tools.rb
  app/policies/overheating_tool_policy.rb
Due: stree --write

Fixed conflict of gitignore file
  .cursor/debug.log
  app/policies/overheating_tool_policy.rb
Due: stree --write

Fixed failing rspec
  spec/controllers/overheating_controller_spec.rb
Due: stree --write

HUB-4371 error handling during failed digital seal validation
  app/controllers/api/digital_seal_validator_controller.rb
  app/frontend/components/domains/project-readiness-tools/check-digital-seals.tsx
  app/frontend/i18n/i18n.ts
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

add self account archival with email
  app/controllers/api/users_controller.rb
  app/frontend/components/domains/permit-project/permit-application-grid-row.tsx
  app/frontend/components/domains/users/profile-screen.tsx
  app/frontend/components/shared/confirmation-modal.tsx
  app/frontend/components/shared/user/manage-user-menu.tsx
  app/frontend/i18n/i18n.ts
  app/mailers/permit_hub_mailer.rb
  app/models/user.rb
  app/policies/user_policy.rb
  app/views/permit_hub_mailer/account_closed.html.erb
  config/locales/devise.en.yml
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

HUB-4224 display optional elective as a submitter within Early Access requirement block
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/utils/early-access-view-optional-electives.ts
Due: prettier --write, eslint

HUB-4225 updated copy and button Early Access yellow message box
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

refactor electives modal into its own component
  app/frontend/components/shared/permit-applications/optional-electives-modal.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/models/permit-application.ts
  app/frontend/utils/early-access-view-optional-electives.ts
Due: prettier --write, eslint

HUB-3582 removed unused code
  app/services/requirement_form_json_service.rb
  config/locales/en.yml
Due: stree --write

add user cleanup job
  app/jobs/user_data_cleanup_job.rb
  app/mailers/permit_hub_mailer.rb
  app/models/concerns/permit_application_status.rb
  app/models/user.rb
  app/views/permit_hub_mailer/user_archive_warning.html.erb
  app/views/permit_hub_mailer/user_delete_warning.html.erb
  config/locales/en.yml
  config/sidekiq_cron_schedule.yml
Due: stree --write

HUB-4302 added a conditional tag on the permit template for review staff
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/components/shared/conditional-tag.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

update uri gem
  Gemfile
  Gemfile.lock
Due: none

HUB-4313 rspec added for permit workflow models
  app/models/permit_classification.rb
  app/models/permit_collaboration.rb
  app/models/permit_project.rb
  spec/factories/permit_block_statuses.rb
  spec/factories/permit_classifications.rb
  spec/factories/project_documents.rb
  spec/factories/report_documents.rb
  spec/factories/requirement_documents.rb
  spec/factories/resource_documents.rb
  spec/factories/resources.rb
  spec/factories/step_codes.rb
  spec/factories/users.rb
  spec/models/payment_detail_spec.rb
  spec/models/payment_detail_transaction_spec.rb
  spec/models/permit_block_status_spec.rb
  spec/models/permit_classification_spec.rb
  spec/models/permit_collaboration_spec.rb
  spec/models/permit_project_payment_detail_spec.rb
  spec/models/permit_project_spec.rb
  spec/models/project_document_spec.rb
  spec/models/report_document_spec.rb
  spec/models/requirement_document_spec.rb
  spec/models/resource_document_spec.rb
Due: stree --write

fix discarded pa scoping
  app/controllers/api/concerns/search/jurisdiction_permit_applications.rb
  app/controllers/api/concerns/search/project_permit_applications.rb
  app/policies/permit_application_policy.rb
Due: stree --write

HUB-4302 removed unused props and translation
  app/frontend/components/shared/conditional-tag.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4205 fixed z-index issue with navbar height css variable
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/jurisdiction-requirement-block-edit-sidebar.tsx
Due: prettier --write, eslint

HUB-4205 fixed sidebar cuttoff issue with navbar height css variable
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/jurisdiction-requirement-block-edit-sidebar.tsx
Due: prettier --write, eslint

HUB-4314 rspec for admin and configuration model
  app/models/end_user_license_agreement.rb
  app/models/site_configuration.rb
  spec/models/allowlisted_jwt_spec.rb
  spec/models/api_key_expiration_notification_spec.rb
  spec/models/collaborator_spec.rb
  spec/models/current_spec.rb
  spec/models/customization_spec.rb
  spec/models/design_document_spec.rb
  spec/models/end_user_license_agreement_spec.rb
  spec/models/file_upload_attachment_spec.rb
  spec/models/integration_mapping_notification_spec.rb
  spec/models/jurisdiction_membership_spec.rb
  spec/models/jurisdiction_service_partner_enrollment_spec.rb
  spec/models/pinned_project_spec.rb
  spec/models/preference_spec.rb
  spec/models/resource_spec.rb
  spec/models/revision_reason_spec.rb
  spec/models/revision_request_spec.rb
  spec/models/section_spec.rb
  spec/models/site_configuration_spec.rb
  spec/models/user_license_agreement_spec.rb
Due: stree --write

add debouncing sidekiq job email system with custom aggregator
  .env_example
  .github/workflows/pull-request.yml
  README.md
  app/jobs/debounced_notification_email_job.rb
  app/mailers/permit_hub_mailer.rb
  app/models/permit_block_status.rb
  app/services/notification_aggregators/permit_block_ready_summary.rb
  app/views/permit_hub_mailer/notify_block_status_ready_summary.erb
  config/initializers/sidekiq.rb
  docker-compose.yml
Due: stree --write

HUB-4307 remove redundant sandbox headers
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
Due: prettier --write, eslint

fix sidebar overlap using nav bar padding
  app/frontend/components/domains/permit-application/collaborator-management/collaborators-sidebar.tsx
Due: prettier --write, eslint

add help comment for solving menu bug
  app/frontend/components/domains/navigation/nav-bar-menu.tsx
Due: prettier --write, eslint

Added console log on project readiness tool page for debugging
  app/frontend/components/domains/project-readiness-tools/index.tsx
Due: prettier --write, eslint

added debug code on project readiness tool page
  app/frontend/components/domains/project-readiness-tools/index.tsx
Due: prettier --write, eslint

fix overheating migrations
  db/migrate/20251220_add_scan_status_to_overheating_documents.rb
  db/migrate/20260107100000_rename_pdf_forms_to_overheating_tools.rb
  db/migrate/20260107100010_create_overheating_documents.rb
  db/migrate/20260107100030_rename_pdf_forms_to_overheating_tools.rb
  db/schema.rb
Due: stree --write

commit for redeploy
  app/frontend/components/shared/module-wrappers/jurisdiction-map.tsx
Due: prettier --write, eslint

HUB-4416 Display logged in content to unconfirmed users
  app/frontend/components/domains/navigation/nav-bar-menu.tsx
Due: prettier --write, eslint

data validation and other req block builder ux fixes
  app/frontend/components/domains/requirements-library/requirement-field-edit/data-validation-setup-modal.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/field-controls-header.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/requirement-field-row.tsx
  app/frontend/components/shared/form-modal.tsx
  app/frontend/components/shared/modals/confirmation-modal.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4224 EA to show tooltip and description text
  app/frontend/components/shared/permit-applications/optional-electives-modal.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/types.ts
  app/frontend/utils/early-access-view-optional-electives.ts
Due: prettier --write, eslint

HUB-3633 fixed latest page not found issue
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/editable-builder-header.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/template-version-screen.tsx
Due: prettier --write, eslint
