Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

HUB-4841 Reviewer workspace - Submission inbox: Add tooltip for 'Days with us' column
  app/frontend/components/domains/jurisdictions/submission-inbox/application-inbox-table.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-inbox-table.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4743 update style of empty inbox message
  app/frontend/components/domains/jurisdictions/submission-inbox/inbox-no-matching-empty.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

add updates to project inbox overview
  app/blueprints/permit_project_blueprint.rb
  app/frontend/components/domains/jurisdictions/submission-inbox/change-project-state-menu.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-overview-tab.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-kanban-board.tsx
  app/frontend/components/shared/project/project-info-row.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-project.ts
  app/models/permit_project.rb
Due: prettier --write, eslint, stree --write

update inviter and spec
  app/services/jurisdiction/user_inviter.rb
  spec/services/jurisdiction/user_inviter_spec.rb
Due: stree --write

touchups for about page pr
  app/frontend/components/domains/jurisdictions/jurisdiction-about-snippet-cards.tsx
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/models/jurisdiction.rb
Due: prettier --write, eslint, stree --write

allow finalize when no designated
  app/frontend/components/domains/permit-application/designated-reviewer-modal.tsx
  app/frontend/models/permit-application.ts
  app/policies/permit_application_policy.rb
  db/seeds.rb
Due: prettier --write, eslint, stree --write

update drag handle and reorder menu
  app/frontend/components/domains/jurisdictions/submission-inbox/application-kanban-board.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/kanban-board.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/kanban-card.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-kanban-board.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4770 provide defaults for map position and zoom
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
Due: prettier --write, eslint

touchups for about page pr (#1628)
  app/frontend/components/domains/jurisdictions/jurisdiction-about-snippet-cards.tsx
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/models/jurisdiction.rb
Due: prettier --write, eslint, stree --write

HUB-4722 revert search grid item padding change
  app/frontend/components/shared/grid/search-grid-item.tsx
Due: prettier --write, eslint

HUB-4819 add map visual reference disclaimer translation
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4819 add tooltip for map visual reference disclaimer
  app/frontend/components/domains/permit-project/overview-tab-panel-content.tsx
Due: prettier --write, eslint

fix unread count in mega menu
  app/models/jurisdiction.rb
Due: stree --write

fix assignee validation logic and ui
  app/blueprints/permit_project_blueprint.rb
  app/frontend/components/domains/jurisdictions/submission-inbox/application-inbox-table.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/application-kanban-board.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-inbox-table.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-kanban-board.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/review-assignees-row.tsx
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/components/shared/user/shared-avatar.tsx
  app/frontend/models/permit-project-collaboration.ts
  app/frontend/models/permit-project.ts
  app/frontend/stores/permit-project-store.ts
  app/models/permit_project.rb
  app/models/permit_project_collaboration.rb
  config/locales/en.yml
  db/migrate/20260420120000_enforce_single_kept_project_review_collaborator.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

broadcast unviewed updates specific to model
  app/blueprints/jurisdiction_blueprint.rb
  app/frontend/components/domains/navigation/menu-content/menu-items/submission-inbox-menu-item.tsx
  app/frontend/models/jurisdiction.ts
  app/frontend/stores/jurisdiction-store.ts
  app/frontend/types/enums.ts
  app/models/jurisdiction.rb
  app/models/permit_project.rb
  app/services/constants/websockets.rb
Due: prettier --write, eslint, stree --write

HUB-4869 Update external API documentation version to 1.1
  swagger/external_api/v1/swagger.yaml
Due: none

HUB-4744 inner scroll when used in fixed height
  app/frontend/components/domains/permit-project/activity-tab-panel-content.tsx
Due: prettier --write, eslint

HUB-4888 make link blue
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-overview-tab.tsx
Due: prettier --write, eslint

simplify assignee types
  app/frontend/components/domains/jurisdictions/submission-inbox/application-inbox-table.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/application-kanban-board.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-inbox-table.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-kanban-board.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/review-assignees-row.tsx
Due: prettier --write, eslint

fix pa policy spec
  spec/policies/permit_application_policy_spec.rb
Due: stree --write

HUB-4744 inner scroll when used in fixed height (#1635)
  app/frontend/components/domains/permit-project/activity-tab-panel-content.tsx
Due: prettier --write, eslint

HUB-4819 projects overview add tooltip with disclaimer to map (#1633)
  app/frontend/components/domains/permit-project/overview-tab-panel-content.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

convert conversion to data migration
  db/data/20260421165626_convert_early_access_to_draft_versions.rb
  db/data/20260421165700_cleanup_early_access_legacy_columns.rb
  db/migrate/20260212000004_migrate_early_access_to_draft_versions.rb
  db/migrate/20260212000005_cleanup_early_access_columns.rb
Due: stree --write

add guard clause to re enable sandbox migration even though column missing
  db/data/20251119175520_move_staff_permit_applications_to_sandbox.rb
Due: stree --write

clean up migrated models an search data
  app/blueprints/requirement_template_blueprint.rb
  app/controllers/api/concerns/search/requirement_templates.rb
  app/frontend/models/requirement-template.ts
  app/frontend/stores/requirement-template-store.ts
  app/models/early_access_requirement_template.rb
  db/data/20260421165640_retire_early_access_requirement_templates.rb
  db/data_schema.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

restore public preview feature
  app/blueprints/site_configuration_blueprint.rb
  app/blueprints/template_version_blueprint.rb
  app/controllers/api/site_configuration_controller.rb
  app/controllers/api/template_versions_controller.rb
  app/frontend/components/domains/landing/standardization-preview-screen.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/requirement-template/screens/template-version-screen.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/index.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/standardization-setup-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/template-version.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/template-version-store.ts
  app/frontend/types/api-request.ts
  app/models/site_configuration.rb
  app/policies/template_version_policy.rb
  config/locales/en.yml
  config/routes.rb
Due: prettier --write, eslint, stree --write

HUB-4209 add release note model and migration
  app/models/release_note.rb
  db/migrate/20260420221252_create_release_notes.rb
  db/schema.rb
Due: stree --write

full pass on removing earlyAccess from frontend
  app/frontend/components/domains/requirement-template/digital-building-permits-list.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/sections-display.tsx
  app/frontend/components/domains/requirement-template/sections-display.tsx
  app/frontend/components/domains/requirement-template/share-preview-popover.tsx
  app/frontend/components/domains/requirement-template/template-versions-list.tsx
  app/frontend/components/domains/requirements-library/grid-header.tsx
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/components/domains/requirements-library/requirement-blocks-table.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/block-setup.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
  app/frontend/components/domains/requirements-library/requirements-library-drawer.tsx
  app/frontend/components/domains/step-code/part-3/index.tsx
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/components/shared/permit-applications/optional-electives-modal.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/components/shared/select/block-visibility-select.tsx
  app/frontend/components/shared/template-version-preview/preview-status-tag.tsx
  app/frontend/components/shared/visibility-tag.tsx.tsx
  app/frontend/hooks/resources/use-template-versions.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/models/requirement-block.ts
  app/frontend/models/template-version.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/requirement-block-store.ts
  app/frontend/stores/template-version-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/frontend/utils/early-access-view-optional-electives.ts
  app/models/requirement_block.rb
  db/data/20260421210000_remap_requirement_block_early_access_visibility.rb
  spec/concerns/requirement_block_search_spec.rb
  spec/factories/early_access_previews.rb
  swagger/external_api/v1/swagger.yaml
Due: prettier --write, eslint, stree --write

add template name input on create and clean up inbox config
  app/frontend/components/domains/home/review-manager/configuration-management-screen/submissions-inbox-setup-screen/editable-block.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/submissions-inbox-setup-screen/form.tsx
  app/frontend/components/shared/requirement-template/requirement-template-form.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4907 Reviewer workspace - Projects - List view: Applications column sorting logic
  app/frontend/types/enums.ts
Due: prettier --write, eslint

HUB-4894 RM Home screen - Submissions: Copy update
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

move in migration guartd clasue from develop
  db/data/20251119175520_move_staff_permit_applications_to_sandbox.rb
Due: stree --write

fix early access cleanup migrations
  db/data/20260421165626_convert_early_access_to_draft_versions.rb
  db/data/20260421165700_cleanup_early_access_legacy_columns.rb
Due: stree --write

restore preview invitations
  app/controllers/api/template_version_previews_controller.rb
  app/controllers/api/template_versions_controller.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/requirement-template/screens/template-version-preview-screen.tsx
  app/frontend/components/domains/requirement-template/share-preview-popover.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/template-version-preview.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/permit-application-store.ts
  app/mailers/permit_hub_mailer.rb
  app/policies/template_version_policy.rb
  app/services/template_version_preview/management_service.rb
  app/views/permit_hub_mailer/notify_new_or_unconfirmed_template_version_preview.erb
  app/views/permit_hub_mailer/notify_template_version_preview.erb
  config/locales/en.yml
  config/routes.rb
  spec/services/template_version_preview/management_service_spec.rb
Due: prettier --write, eslint, stree --write

remove visibility field
  app/blueprints/requirement_block_blueprint.rb
  app/blueprints/requirement_template_blueprint.rb
  app/controllers/api/concerns/search/requirement_blocks.rb
  app/controllers/api/requirement_blocks_controller.rb
  app/frontend/components/domains/requirement-template/share-preview-popover.tsx
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/block-setup.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
  app/frontend/components/shared/select/block-visibility-select.tsx
  app/frontend/components/shared/visibility-tag.tsx.tsx
  app/frontend/hooks/use-search.ts
  app/frontend/i18n/i18n.ts
  app/frontend/lib/create-search-model.ts
  app/frontend/models/requirement-block.ts
  app/frontend/models/requirement-template.ts
  app/frontend/stores/requirement-block-store.ts
  app/frontend/types/api-request.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/requirement_block.rb
  app/models/requirement_template.rb
  app/services/requirement_template_copy_service.rb
  db/data_schema.rb
  db/migrate/20260423005953_remove_visibility_from_requirement_blocks.rb
  db/schema.rb
  spec/concerns/requirement_block_search_spec.rb
  spec/concerns/requirement_template_search_spec.rb
  spec/controllers/requirement_blocks_controller_spec.rb
  spec/models/requirement_template_spec.rb
  spec/policies/template_version_policy_spec.rb
  spec/services/requirement_template_copy_service_spec.rb
Due: prettier --write, eslint, stree --write

fix recent permit applications in sandbox with todo
  app/controllers/api/permit_projects_controller.rb
Due: stree --write

replace and touch up some missing early access ui components
  app/frontend/components/domains/requirement-template/screens/template-version-screen.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
Due: prettier --write, eslint

wire up draft promotion
  app/controllers/api/requirement_templates_controller.rb
  app/frontend/components/domains/requirement-template/publish-schedule-modal.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/template-version-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/requirement-template-store.ts
  app/policies/requirement_template_policy.rb
  app/services/template_versioning_service.rb
  spec/controllers/requirement_templates_controller_spec.rb
  spec/policies/requirement_template_policy_spec.rb
  spec/services/template_versioning_service_spec.rb
Due: prettier --write, eslint, stree --write

HUB-4956 Prod issue: Jurisdictions not able to view/configure permits application templates
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint
