Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

[bphh-1406] Add automated compliance configuration copy update
  app/services/automated_compliance_configuration_service.rb
  config/locales/en.yml
Due: stree --write

[bphh-1406] Add back-end validation for computed compliance options map
  app/models/requirement.rb
  app/services/automated_compliance_configuration_service.rb
  config/locales/en.yml
Due: stree --write

[bphh-1406] Fix useffect infinite looping issue
  app/frontend/components/domains/requirements-library/requirement-field-edit/computed-compliance-setup-modal.tsx
Due: prettier --write, eslint

[bphh-1406] Implement back-end saving logic for optionsMap
  app/blueprints/requirement_blueprint.rb
  app/controllers/api/requirement_blocks_controller.rb
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
  app/frontend/utils/index.ts
  app/frontend/utils/utility-functions.ts
  app/models/requirement.rb
  app/services/automated_compliance/historic_site.rb
  app/services/automated_compliance_configuration_service.rb
Due: prettier --write, eslint, stree --write

[bphh-1406] Refactor module config retrieval logic to use a mst view, to ensure incompatible configs and options aren't returned
  app/frontend/components/domains/requirements-library/requirement-field-edit/computed-compliance-setup-modal.tsx
  app/frontend/stores/requirement-block-store.ts
Due: prettier --write, eslint

[bphh-1406] Add pid and pin to permit application auto compliance white list
  app/services/automated_compliance/permit_application.rb
Due: stree --write

Allow regional RMs to switch jurisdictions
  app/controllers/api/jurisdictions_controller.rb
  app/frontend/components/domains/jurisdictions/new-jurisdiction-screen.tsx
  app/frontend/components/domains/landing/index.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/navigation/regional-rm-jurisdiction-select.tsx
  app/frontend/components/domains/permit-application/new-permit-application-screen.tsx
  app/frontend/components/domains/users/accept-invitation-screen.tsx
  app/frontend/components/shared/base/inputs/user-input.tsx
  app/frontend/components/shared/select/async-select.tsx
  app/frontend/components/shared/select/selectors/jurisdiction-select.tsx
  app/frontend/hooks/resources/use-jurisdiction.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/user.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/jurisdiction-store.ts
  app/frontend/stores/root-store.ts
  app/frontend/stores/ui-store.ts
  app/frontend/stores/user-store.ts
  app/frontend/types/types.ts
  app/models/jurisdiction.rb
  app/policies/template_version_policy.rb
  db/seeds.rb
Due: prettier --write, eslint, stree --write

[bphh-1406] Refactor computed compliance setup modal into sub components
  app/frontend/components/domains/requirements-library/requirement-field-edit/computed-compliance-setup-modal.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/computed-compliance-setup-modal/index.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/computed-compliance-setup-modal/module-select.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/computed-compliance-setup-modal/options-map-grid.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/computed-compliance-setup-modal/value-extraction-field-select.tsx
Due: prettier --write, eslint

Fix error when omniauth fails due to invalid CSRF
  app/controllers/api/omniauth_callbacks_controller.rb
  app/frontend/components/domains/authentication/login-screen.tsx
Due: prettier --write, eslint, stree --write

Show jurisdiction in permit application emails
  app/views/permit_hub_mailer/notify_application_updated.html.erb
  app/views/permit_hub_mailer/notify_reviewer_application_received.html.erb
  app/views/permit_hub_mailer/remind_reviewer.html.erb
Due: none

[bphh-1201] Update copy for submission inbox setup warning
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

[bphh-1406] Add automated_compliance tag to search index
  app/models/requirement_block.rb
Due: stree --write

add updatable permit applications and submitter notifications
  app/blueprints/permit_application_blueprint.rb
  app/controllers/api/permit_applications_controller.rb
  app/controllers/api/template_versions_controller.rb
  app/frontend/components/domains/home/notifications/notifications-popover.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/submissions-inbox-setup-screen/editable-block.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/permit-application/compare-requirements-box.tsx
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/errors-box.tsx
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/components/shared/permit-applications/scroll-link.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/permit-application-store.ts
  app/frontend/types/types.ts
  app/models/permit_application.rb
  app/models/requirement.rb
  app/models/requirement_block.rb
  app/models/template_version.rb
  app/policies/permit_application_policy.rb
  app/services/template_versioning_service.rb
  config/locales/en.yml
  config/routes.rb
Due: prettier --write, eslint, stree --write

disable submitting out of date permit application
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/models/permit_application.rb
  app/models/requirement.rb
  app/models/requirement_block.rb
Due: prettier --write, eslint, stree --write

[bphh-1406] Address PR cleanup comments: Add missing i18n and rename variable
  app/frontend/components/domains/requirements-library/requirement-field-edit/computed-compliance-setup-modal/options-map-grid.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Expire invitation token after 72 hours
  config/initializers/devise.rb
Due: stree --write

wip
  app/frontend/stores/notification-store.ts
  app/frontend/types/enums.ts
  app/jobs/notification_push_job.rb
  app/models/jurisdiction_template_version_customization.rb
  app/models/template_version.rb
  app/services/constants/notification_action_types.rb
  app/services/notification_service.rb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

prevent floating compare box from covering other buttons
  app/frontend/components/domains/permit-application/compare-requirements-box.tsx
  app/frontend/components/shared/permit-applications/scroll-link.tsx
Due: prettier --write, eslint

address PR review
  app/frontend/models/template-version.ts
  app/models/jurisdiction_template_version_customization.rb
Due: prettier --write, eslint, stree --write

hide read notifications by default
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/domains/home/notifications/notifications-popover.tsx
  app/frontend/components/shared/permit-applications/scroll-link.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint, stree --write

wip
  app/frontend/components/domains/permit-application/compare-requirements-box.tsx
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/components/shared/permit-applications/requirement-form.tsx
Due: prettier --write, eslint

Add rel noopener to link for security
  app/views/permit_hub_mailer/new_jurisdiction_membership.html.erb
Due: none

Update user to support multiple jurisdictions
  app/blueprints/user_blueprint.rb
  app/controllers/api/concerns/search/jurisdiction_users.rb
  app/controllers/api/external_api_keys_controller.rb
  app/controllers/api/invitations_controller.rb
  app/frontend/components/domains/users/invite-screen.tsx
  app/frontend/components/shared/base/inputs/user-input.tsx
  app/frontend/models/user.ts
  app/frontend/stores/user-store.ts
  app/models/jurisdiction.rb
  app/models/jurisdiction_membership.rb
  app/models/user.rb
  app/policies/external_api_key_policy.rb
  app/policies/jurisdiction_policy.rb
  app/policies/permit_application_policy.rb
  app/policies/supporting_document_policy.rb
  app/policies/template_version_policy.rb
  app/policies/user_policy.rb
  app/services/jurisdiction/user_inviter.rb
  app/services/omniauth_user_resolver.rb
  config/initializers/devise.rb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20240514165829_create_jurisdiction_memberships.rb
  db/schema.rb
  db/seeds.rb
  spec/factories/jurisdiction_memberships.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
  spec/policies/permit_application_policy_spec.rb
Due: prettier --write, eslint, stree --write

Allow admins to invite regional review managers
  app/controllers/api/concerns/search/jurisdiction_users.rb
  app/frontend/components/domains/home/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/enums.ts
  app/mailers/permit_hub_mailer.rb
  app/models/jurisdiction.rb
  app/policies/user_policy.rb
  app/services/jurisdiction/user_inviter.rb
  app/views/permit_hub_mailer/new_jurisdiction_membership.html.erb
Due: prettier --write, eslint, stree --write

remove duplicated import
  app/frontend/components/domains/navigation/index.tsx
Due: prettier --write, eslint

Fix missing consideration for new regional_review_manager_role in the ExternalApiKeyPolicy
  app/policies/external_api_key_policy.rb
Due: stree --write

Fix broken specs
  app/models/requirement.rb
  spec/concerns/validate_url_attributes_spec.rb
  spec/factories/requirement_templates.rb
  spec/services/automated_compliance/parcel_info_extractor_spec.rb
Due: stree --write

[bphh-1392] Add endpoint and front-end actions and view to unschedule a template version
  app/controllers/api/requirement_templates_controller.rb
  app/errors/template_version_unschedule_error.rb
  app/frontend/components/domains/requirement-template/template-versions-sidebar.tsx
  app/frontend/components/shared/requirement-template/template-status-tag.tsx
  app/frontend/models/requirement-template.ts
  app/frontend/models/template-version.ts
  app/frontend/services/api/index.ts
  app/policies/requirement_template_policy.rb
  app/services/template_versioning_service.rb
  config/locales/en.yml
  config/routes.rb
Due: prettier --write, eslint, stree --write

[bphh-1392] Add data migration gem. Add migration to add deprecation reason and deprecated by to template_version
  Gemfile
  Gemfile.lock
  app/models/template_version.rb
  db/data/20240521222127_add_deprecated_reason_to_template_version.rb
  db/data_schema.rb
  db/migrate/20240521213238_add_deprecation_reason_to_template_version.rb
  db/schema.rb
Due: stree --write

[bphh-1392] Limit deprecated versions viewing to last 3
  app/frontend/components/domains/requirement-template/template-versions-sidebar.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement-template.ts
Due: prettier --write, eslint

[bphh-1392] Fix logic to use scheduled version to determin if a version date is valid instead of among all versions
  app/services/template_versioning_service.rb
Due: stree --write

[bphh-1392] Add confirmation for unscheduling a template
  app/frontend/components/domains/requirement-template/template-versions-sidebar.tsx
  app/frontend/components/shared/remove-confirmation-modal.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

[bphh-1392] Add deprecation reason to front-end
  app/blueprints/template_version_blueprint.rb
  app/frontend/components/domains/requirement-template/template-versions-sidebar.tsx
  app/frontend/components/shared/requirement-template/template-status-tag.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/template-version.ts
  app/frontend/types/enums.ts
Due: prettier --write, eslint, stree --write

[bphh-1392] Add deprecation reason when publishing and unscheduling in template version service
  app/controllers/api/requirement_templates_controller.rb
  app/services/template_versioning_service.rb
  spec/services/template_versioning_service_spec.rb
Due: stree --write

[bphh-196] Add jobs and services to send permit_submitted webhook events to external_api_key webhook_urls
  app/errors/permit_webhook_error.rb
  app/jobs/permit_webhook_job.rb
  app/models/external_api_key.rb
  app/models/jurisdiction.rb
  app/models/permit_application.rb
  app/services/permit_webhook_service.rb
  config/initializers/sidekiq.rb
Due: stree --write

Add more UI details for submitter diff
  app/controllers/api/template_versions_controller.rb
  app/frontend/components/domains/permit-application/compare-requirements-box.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/index.tsx
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/models/requirement.ts
  app/frontend/stores/notification-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/frontend/utils/formio-component-traversal.ts
  app/jobs/notification_push_job.rb
  app/models/jurisdiction_template_version_customization.rb
  app/models/template_version.rb
  app/services/constants/notification_action_types.rb
  app/services/notification_service.rb
  app/services/template_versioning_service.rb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

[bphh-1442] Fix bug with front-end state not update when using api key toggle. Also fixes authorization policy for this action to allow review mangers to disable api key for the jurisdiction.
  app/blueprints/jurisdiction_blueprint.rb
  app/controllers/api/jurisdictions_controller.rb
  app/frontend/components/domains/external-api-key/grid-header.tsx
  app/frontend/components/domains/external-api-key/index.tsx
  app/policies/jurisdiction_policy.rb
Due: prettier --write, eslint, stree --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
