Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

Add CTA for summery screen
  app/frontend/components/domains/step-code/part-3/form-section/step-code-summary/index.tsx
Due: prettier --write, eslint

style polish
  app/frontend/components/domains/step-code/part-3/form-section/location-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/project-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/requirements-summary/whole-building-requirements.tsx
  app/frontend/components/domains/step-code/part-3/form-section/step-code-summary/mixed-use/step-code-occupancies.tsx
  app/frontend/components/domains/step-code/part-3/form-section/step-code-summary/mixed-use/step-code-portions.tsx
  app/frontend/components/domains/step-code/part-3/form-section/step-code-summary/mixed-use/whole-building/baseline.tsx
  app/frontend/components/domains/step-code/part-3/form-section/step-code-summary/mixed-use/whole-building/step-code.tsx
Due: prettier --write, eslint

Allow building height to be a decimal
  app/frontend/components/domains/step-code/part-3/form-section/location-details.tsx
  app/frontend/models/part-3-step-code-checklist.ts
  db/migrate/20241220235808_change_building_height_to_decimal.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

create new separated login page
  app/frontend/components/domains/authentication/login-screen.tsx
  app/frontend/components/domains/users/accept-invitation-screen.tsx
  app/frontend/components/domains/users/profile-screen.tsx
  app/frontend/components/shared/auth/login-forms.tsx
  app/frontend/components/shared/bceid/basic/index.tsx
  app/frontend/components/shared/bceid/business/index.tsx
  app/frontend/components/shared/containers/center-container.tsx
  app/frontend/components/shared/keycloak/basicbceid/index.tsx
  app/frontend/components/shared/keycloak/bcsc-info.tsx
  app/frontend/components/shared/keycloak/businessbceid/index.tsx
  app/frontend/components/shared/keycloak/info-block.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/user.ts
  app/frontend/types/enums.ts
  app/services/omniauth_user_resolver.rb
Due: prettier --write, eslint, stree --write

validate appropriate omniauth provider for role
  app/models/user.rb
Due: stree --write

resolve bcsc user using sub
  app/frontend/components/domains/users/profile-screen.tsx
  app/frontend/models/user.ts
  app/services/omniauth_user_resolver.rb
Due: prettier --write, eslint, stree --write

rework login form
  app/frontend/components/domains/authentication/login-screen.tsx
  app/frontend/components/domains/permit-application/index.tsx
  app/frontend/components/domains/users/accept-invitation-screen.tsx
  app/frontend/components/shared/base/custom-message-box.tsx
  app/frontend/components/shared/keycloak/basicbceid/entity-basic-bceid-info.tsx
  app/frontend/components/shared/keycloak/basicbceid/lg-basic-bceid-info.tsx
  app/frontend/components/shared/keycloak/basicbceid/submitter-basic-bceid-info.tsx
  app/frontend/components/shared/keycloak/bcsc-info.tsx
  app/frontend/components/shared/keycloak/businessbceid/entity-business-bceid-info copy.tsx
  app/frontend/components/shared/keycloak/businessbceid/lg-business-bceid-info.tsx
  app/frontend/components/shared/keycloak/info-block.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

refactor user inviter to better handle role updates and regional review manager
  app/blueprints/invitation_blueprint.rb
  app/frontend/components/shared/base/inputs/user-input.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/user-store.ts
  app/frontend/types/api-responses.ts
  app/models/jurisdiction.rb
  app/models/user.rb
  app/services/jurisdiction/user_inviter.rb
Due: prettier --write, eslint, stree --write

minor changes to nav styling for the SHA, etc.
  app/frontend/components/domains/navigation/nav-bar.tsx
Due: prettier --write, eslint

add foippa warning to login screen
  app/frontend/components/shared/containers/center-container.tsx
Due: prettier --write, eslint

use full SHA
  .github/workflows/dev.yml
  .github/workflows/test.yml
Due: none

Adjust prod values for more resiliency in Redis and ES
  devops/helm-charts/ha-elasticsearch/values-prod.yaml
Due: none

automatically detect SHA and add that to the VITE_RELEASE_VERSION ENV var for dev and test
  .github/workflows/dev.yml
  .github/workflows/test.yml
Due: none

Fail authentication on discarded user in lieu of before action check
  app/controllers/api/application_controller.rb
  app/controllers/api/sessions_controller.rb
  app/models/user.rb
Due: stree --write

Add VITE_BSCS_REGISTRATION_URL to Dockerfile
  devops/docker/app/Dockerfile
Due: none

add data migration for enabling appropriate inboxes
  db/data/20241217193925_enable_inboxes.rb
  db/data_schema.rb
Due: stree --write

rename misnamed archive button component
  app/frontend/components/domains/jurisdictions/users/index.tsx
  app/frontend/components/domains/requirement-template/screens/requirement-template-screen.tsx
  app/frontend/components/domains/requirements-library/index.tsx
  app/frontend/components/domains/super-admin/early-access/requirement-templates/index.tsx
  app/frontend/components/domains/super-admin/early-access/requirements-library/index.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/users-screen.tsx
  app/frontend/components/shared/buttons/toggle-archived-button.tsx
  app/frontend/components/shared/select/selectors/sort-select.tsx
Due: prettier --write, eslint

remove use of bcsc provider env fvar
  app/models/user.rb
Due: stree --write

Adjust parameters for production (removal of limits and add more nodes for Redis and ES)
  devops/helm-charts/anycable-go/values-prod.yaml
  devops/helm-charts/app/values-prod.yaml
  devops/helm-charts/consigno-verifio-notarius-server/values-prod.yaml
  devops/helm-charts/ha-elasticsearch/values-prod.yaml
  devops/helm-charts/ha-postgres-crunchydb/values-prod.yaml
  devops/helm-charts/ha-postgres-crunchydb/values.yaml
  devops/helm-charts/ha-redis/values-prod.yaml
Due: none

show single column grid for login on mobile
  app/frontend/components/domains/authentication/login-screen.tsx
Due: prettier --write, eslint

Use slice instead
  .github/workflows/dev.yml
  .github/workflows/test.yml
Due: none

remove sandbox specific labeling for api key setup
  app/frontend/components/domains/home/review-manager/configuration-management-screen/index.tsx
Due: prettier --write, eslint

Remove limits for Dev / Test environments as per Openshift new policies
  devops/helm-charts/anycable-go/values-dev.yaml
  devops/helm-charts/anycable-go/values-test.yaml
  devops/helm-charts/anycable-go/values.yaml
  devops/helm-charts/app/templates/compliance-logging-cleanup-cronjob.yaml
  devops/helm-charts/app/templates/deployment.yaml
  devops/helm-charts/app/values-dev.yaml
  devops/helm-charts/app/values-test.yaml
  devops/helm-charts/app/values.yaml
  devops/helm-charts/consigno-verifio-notarius-server/templates/deployment.yaml
  devops/helm-charts/consigno-verifio-notarius-server/values-dev.yaml
  devops/helm-charts/consigno-verifio-notarius-server/values-test.yaml
  devops/helm-charts/consigno-verifio-notarius-server/values.yaml
  devops/helm-charts/ha-elasticsearch/values-dev.yaml
  devops/helm-charts/ha-elasticsearch/values-test.yaml
  devops/helm-charts/ha-elasticsearch/values.yaml
  devops/helm-charts/ha-postgres-crunchydb/values-dev.yaml
  devops/helm-charts/ha-postgres-crunchydb/values-test.yaml
  devops/helm-charts/ha-postgres-crunchydb/values.yaml
  devops/helm-charts/ha-redis/values-dev.yaml
  devops/helm-charts/ha-redis/values-test.yaml
  devops/helm-charts/ha-redis/values.yaml
Due: none

bugfixes for block copy, jurisdiction select, rm select, disable notifications
  app/blueprints/jurisdiction_blueprint.rb
  app/frontend/components/domains/home/notifications/notifications-popover.tsx
  app/frontend/components/domains/navigation/regional-rm-jurisdiction-select.tsx
  app/frontend/components/domains/permit-application/new-permit-application-screen.tsx
  app/frontend/stores/requirement-block-store.ts
  app/models/template_version.rb
Due: prettier --write, eslint, stree --write

Add BCSC_REGISTRATION_URL to dev.yml
  .github/workflows/dev.yml
Due: none

fix bceid info on accept invite screen
  app/frontend/components/domains/users/accept-invitation-screen.tsx
Due: prettier --write, eslint

add the word account to bcsc
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

remove variable bcsc key
  app/frontend/models/user.ts
  app/models/user.rb
  app/services/omniauth_user_resolver.rb
Due: prettier --write, eslint, stree --write

fix URL search behaviour
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/hooks/resources/use-jurisdiction.ts
  app/frontend/hooks/use-sync-path-with-root-store.tsx
  app/frontend/lib/create-search-model.ts
  app/frontend/stores/root-store.ts
  app/frontend/utils/utility-functions.ts
Due: prettier --write, eslint

fix landing, copy, jurisdiction minimal blueprint
  app/frontend/components/domains/home/review-manager/configuration-management-screen/index.tsx
  app/frontend/components/domains/landing/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

update rollup and peer deps
  Gemfile.lock
  package-lock.json
  package.json
Due: none

Refactor omniauth_uid and omniauth_username to use case statements explicitly
  app/services/omniauth_user_resolver.rb
Due: stree --write

bump vite to latest
  package-lock.json
  package.json
Due: none

update rails and thus actionpack to 7.1.5.1
  Gemfile
  Gemfile.lock
Due: none

Fixes and optimizes the Docker build after the various updates
  .dockerignore
  config/environments/production.rb
  devops/docker/app/Dockerfile
Due: stree --write

Add to the other environments as well
  .github/workflows/prod.yml
  .github/workflows/test.yml
Due: none

show better eula error message
  app/frontend/components/shared/user-eulas.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/notification-store.ts
Due: prettier --write, eslint

move users to jurisdicton config management
  app/frontend/components/domains/home/review-manager/configuration-management-screen/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Created a new method to handle jurisdiciton staff role to be used in future user role references
  app/models/user.rb
Due: stree --write

Updated user role description in the modal box
  app/frontend/components/shared/user-roles-explanation-modal.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint
