Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

remove project collab auto assign behaviour - to be discussed
  app/models/permit_application.rb
  app/models/permit_project.rb
Due: stree --write

fix status search spec
  spec/concerns/jurisdiction_permit_project_search_spec.rb
Due: stree --write

revert clear filters and reinerpret task
  app/frontend/components/domains/jurisdictions/submission-inbox/application-inbox-table.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/kanban-board.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-inbox-table.tsx
  app/frontend/stores/submission-inbox-store.ts
Due: prettier --write, eslint

add repair migration for boundary points
  db/data/20260407181311_repair_boundary_points.rb
  db/data_schema.rb
Due: stree --write

add activity tab to inbox details
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-activity-tab.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-project-detail-screen.tsx
  app/frontend/components/domains/permit-project/activity-list-item.tsx
  app/frontend/components/domains/permit-project/activity-tab-panel-content.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4771 about page shows documents and contacts (#1587)
  app/frontend/components/domains/jurisdictions/contacts/contact-grid.tsx
  app/frontend/components/domains/jurisdictions/jurisdiction-about-accordion-item.tsx
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/components/shared/jurisdiction/jurisdiction-about-contact-card.tsx
  app/frontend/components/shared/jurisdiction/jurisdiction-resources-grid-section.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/styles/theme/foundations/colors.ts
Due: prettier --write, eslint

fix spec
  spec/policies/permit_application_policy_spec.rb
  spec/services/template_versioning_service_spec.rb
Due: stree --write

bump lodash override
  package-lock.json
  package.json
Due: none

add example to swagger doc
  swagger/external_api/v1/swagger.yaml
Due: none

enable yaml aliases in swagger
  config/initializers/rswag_yaml_aliases.rb
Due: stree --write

add report and reapir scripts for ltsa matchers
  app/models/permit_project.rb
  app/services/wrappers/ltsa_parcel_map_bc.rb
  db/data/20260407181310_repair_ltsa_matchers.rb
  db/data_schema.rb
  lib/tasks/ltsa_matcher_report.rake
Due: stree --write

fix pa links in activities
  app/blueprints/project_audit_blueprint.rb
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-overview-tab.tsx
  app/frontend/types/types.ts
  app/presenters/project_audit_presenter.rb
Due: prettier --write, eslint, stree --write

HUB-4754 fix breadcrumb bar
  app/frontend/components/domains/navigation/sub-nav-bar.tsx
Due: prettier --write, eslint

reposition rollup popoover
  app/frontend/components/domains/jurisdictions/submission-inbox/project-inbox-permit-applications-popover.tsx
Due: prettier --write, eslint

add hmac header to webhook payloads, specs and docs
  app/services/constants/webhooks.rb
  app/services/permit_webhook_service.rb
  spec/services/permit_webhook_service_spec.rb
  spec/swagger_helper.rb
  swagger/external_api/v1/swagger.yaml
Due: stree --write

add project review collabs with notifications
  app/blueprints/permit_project_blueprint.rb
  app/blueprints/permit_project_collaboration_blueprint.rb
  app/controllers/api/concerns/search/jurisdiction_permit_projects.rb
  app/controllers/api/permit_projects_controller.rb
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-collaborators-sidebar.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-designated-reviewer-popover.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-inbox-table.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-kanban-board.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-project.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/notification-store.ts
  app/frontend/stores/permit-project-store.ts
  app/frontend/types/enums.ts
  app/mailers/permit_hub_mailer.rb
  app/models/permit_application.rb
  app/models/permit_project.rb
  app/models/permit_project_collaboration.rb
  app/policies/permit_project_policy.rb
  app/services/constants/notification_action_types.rb
  app/services/notification_service.rb
  app/views/permit_hub_mailer/notify_project_review_collaboration.erb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20260410120000_create_permit_project_collaborations.rb
  db/schema.rb
  db/seeds.rb
  spec/services/notification_service_spec.rb
Due: prettier --write, eslint, stree --write

add lock none to fix sidekiq retries in many jobs
  app/jobs/check_expiring_api_keys_job.rb
  app/jobs/destroy_job.rb
  app/jobs/orphan_cleanup_job.rb
  app/jobs/permit_webhook_job.rb
  app/jobs/promote_job.rb
  app/jobs/remind_reviewer_job.rb
  app/jobs/resource_reminder_job.rb
  app/jobs/template_publish_job.rb
  app/jobs/user_data_cleanup_job.rb
  spec/jobs/check_expiring_api_keys_job_spec.rb
  spec/jobs/destroy_job_spec.rb
  spec/jobs/orphan_cleanup_job_spec.rb
  spec/jobs/permit_webhook_job_spec.rb
  spec/jobs/promote_job_spec.rb
  spec/jobs/remind_reviewer_job_spec.rb
  spec/jobs/resource_reminder_job_spec.rb
  spec/jobs/template_publish_job_spec.rb
  spec/jobs/user_data_cleanup_job_spec.rb
Due: stree --write

revert none option and fix statuses
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/models/permit-application.ts
  app/jobs/check_expiring_api_keys_job.rb
  app/jobs/destroy_job.rb
  app/jobs/orphan_cleanup_job.rb
  app/jobs/permit_webhook_job.rb
  app/jobs/promote_job.rb
  app/jobs/remind_reviewer_job.rb
  app/jobs/resource_reminder_job.rb
  app/jobs/template_publish_job.rb
  app/jobs/user_data_cleanup_job.rb
  app/models/concerns/permit_application_status.rb
  app/models/permit_application.rb
  spec/jobs/check_expiring_api_keys_job_spec.rb
  spec/jobs/destroy_job_spec.rb
  spec/jobs/orphan_cleanup_job_spec.rb
  spec/jobs/permit_webhook_job_spec.rb
  spec/jobs/promote_job_spec.rb
  spec/jobs/remind_reviewer_job_spec.rb
  spec/jobs/resource_reminder_job_spec.rb
  spec/jobs/template_publish_job_spec.rb
  spec/jobs/user_data_cleanup_job_spec.rb
Due: prettier --write, eslint, stree --write

rework days in queue with chess clock functionality
  app/blueprints/permit_application_blueprint.rb
  app/blueprints/permit_project_blueprint.rb
  app/controllers/api/concerns/search/jurisdiction_permit_applications.rb
  app/controllers/api/concerns/search/jurisdiction_permit_projects.rb
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/models/permit-project.ts
  app/frontend/types/enums.ts
  app/models/concerns/permit_application_status.rb
  app/models/concerns/permit_project_state.rb
  app/models/permit_application.rb
  app/models/permit_project.rb
  db/data/20260413194501_backfill_queue_clock.rb
  db/migrate/20260413200000_add_queue_clock_columns.rb
  db/schema.rb
  db/seeds.rb
  spec/concerns/jurisdiction_permit_project_search_spec.rb
  spec/concerns/permit_application_search_spec.rb
Due: prettier --write, eslint, stree --write

HUB-4879 April 13 inbox touchps
  app/frontend/components/domains/jurisdictions/submission-inbox/application-kanban-board.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/kanban-board.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/kanban-card.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-kanban-board.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/submission-inbox-mark-unread-icon-button.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/submission-inbox-store.ts
Due: prettier --write, eslint

HUB-4524 include react router link props
  app/frontend/components/shared/navigation/router-link-button.tsx
Due: prettier --write, eslint

HUB-4524 replace browser history entry instead of pushing
  app/frontend/components/domains/external-api-key/index.tsx
Due: prettier --write, eslint

HUB-4524 update back navigation button to redirect to configuration management page for the current jurisdiction
  app/frontend/components/domains/external-api-key/index.tsx
Due: prettier --write, eslint

add per project permitapp search and recents
  app/blueprints/permit_project_blueprint.rb
  app/controllers/api/concerns/search/jurisdiction_permit_applications.rb
  app/frontend/components/domains/jurisdictions/submission-inbox/application-inbox-table.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/kanban-board.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-overview-tab.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-permits-tab.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-project-detail-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application-inbox-search-shared.ts
  app/frontend/models/permit-project-inbox-application-search.ts
  app/frontend/models/permit-project.ts
  app/frontend/stores/permit-project-store.ts
  app/frontend/stores/submission-inbox-store.ts
  app/frontend/types/types.ts
  app/models/permit_project.rb
  app/models/template_version.rb
  db/data_schema.rb
  db/seeds.rb
  spec/concerns/permit_application_search_spec.rb
Due: prettier --write, eslint, stree --write

HUB-4524 handle routing from multiple locations.
  app/frontend/components/domains/external-api-key/index.tsx
Due: prettier --write, eslint

HUB-4524 replace browser history entry when closing the API key modal
  app/frontend/components/domains/external-api-key/external-api-key-modal-sub-route.tsx
Due: prettier --write, eslint

bugfixes and enhancements for inbox view
  app/frontend/components/domains/jurisdictions/submission-inbox/application-inbox-table.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-permits-tab.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-project-detail-screen.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-inbox-table.tsx
  app/frontend/components/domains/permit-application/revision-sidebar.tsx
  app/frontend/components/domains/permit-project/activity-list-item.tsx
  app/frontend/components/shared/grid/search-grid-row.tsx
  app/frontend/hooks/resources/use-permit-project.ts
  app/frontend/lib/create-search-model.ts
  db/seeds.rb
Due: prettier --write, eslint, stree --write

improve scoping of collabs in blueprints
  app/blueprints/permit_application_blueprint.rb
  app/blueprints/permit_project_blueprint.rb
  app/models/permit_project_collaboration.rb
Due: stree --write

HUB-4771 add dashed border to editable jursidction fields
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
Due: prettier --write, eslint

HUB-4770 add jurisdiction about snippet cards
  app/frontend/components/domains/jurisdictions/jurisdiction-about-snippet-cards.tsx
Due: prettier --write, eslint

HUB-4770 integrate lg website url
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
Due: prettier --write, eslint

HUB-4770 add local government website translation
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4770 integrate about snippet cards
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
Due: prettier --write, eslint

HUB-4770 add i18n translations for about snippets
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4770 add extended fields to jurisdiction model for about page
  app/blueprints/jurisdiction_blueprint.rb
  app/controllers/api/jurisdictions_controller.rb
  app/frontend/models/jurisdiction.ts
  app/models/jurisdiction.rb
  db/migrate/20260401120000_add_about_page_extended_fields_to_jurisdictions.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

HUB-4770 add jurisdiction hero lg website row component
  app/frontend/components/domains/jurisdictions/jurisdiction-hero-lg-website-row.tsx
Due: prettier --write, eslint

HUB-4770 add type definition for jurisdiction about page form values
  app/frontend/types/types.ts
Due: prettier --write, eslint

HUB-4770 layout touchups
  app/frontend/components/domains/jurisdictions/jurisdiction-about-snippet-cards.tsx
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
Due: prettier --write, eslint

HUB-4770 remove redundant add descriptions for jurisdiction settings
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4770 add validations for office email and telephone in jurisdiction model
  app/models/jurisdiction.rb
  spec/models/jurisdiction_spec.rb
Due: stree --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
