Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

ensure policy scope is called even with empty results
  app/controllers/api/application_controller.rb
  app/controllers/api/concerns/search/jurisdiction_permit_applications.rb
  app/controllers/api/concerns/search/jurisdiction_project_meetings.rb
  app/controllers/api/concerns/search/overheating_codes.rb
  app/controllers/api/concerns/search/pre_checks.rb
  app/controllers/api/concerns/search/project_meetings.rb
  app/controllers/api/concerns/search/project_permit_applications.rb
  app/controllers/api/concerns/search/requirement_blocks.rb
Due: stree --write

add open in builder link
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/sections-display.tsx
  app/frontend/components/domains/requirement-template/screens/template-version-screen.tsx
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
  app/frontend/i18n/i18n.ts
  db/schema.rb
Due: prettier --write, eslint, stree --write

add additional comments
  app/services/step_code/part_3/v0/requirements/references/climate_zone.rb
Due: stree --write

add project meetings ics attachments to invite emails
  app/frontend/components/domains/jurisdictions/submission-inbox/reviewer-meeting-detail-content.tsx
  app/mailers/permit_hub_mailer.rb
  app/services/project_meeting_ics_generator.rb
  app/views/permit_hub_mailer/notify_project_meeting_rescheduled.html.erb
  app/views/permit_hub_mailer/notify_project_meeting_rescheduled_to_jurisdiction.html.erb
  app/views/permit_hub_mailer/notify_project_meeting_scheduled.html.erb
  app/views/permit_hub_mailer/notify_project_meeting_scheduled_to_jurisdiction.html.erb
  spec/mailers/permit_hub_mailer_spec.rb
  spec/services/project_meeting_ics_generator_spec.rb
Due: prettier --write, eslint, stree --write

wip blocked on archived cleanup job
  app/blueprints/permit_application_blueprint.rb
  app/frontend/components/domains/permit-project/permit-application-grid-row.tsx
  app/frontend/components/shared/permit-applications/permit-application-card.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/models/permit_application.rb
  spec/models/permit_application_spec.rb
Due: prettier --write, eslint, stree --write

move heating degree table to bottom and update copy
  app/frontend/components/domains/jurisdictions/step-code-requirements-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

add breakpoint for pa headers
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/styles/theme/foundations/breakpoints.ts
  app/frontend/styles/theme/index.ts
Due: prettier --write, eslint

commit for re run ci
  spec/jobs/orphan_cleanup_job_spec.rb
Due: stree --write

improve checklist ui
  app/blueprints/step_code_blueprint.rb
  app/controllers/api/concerns/search/step_codes.rb
  app/controllers/concerns/checklist_report_document_concern.rb
  app/frontend/components/domains/permit-project/step-code-stage-indicators.tsx
  app/frontend/components/domains/permit-project/step-codes-grid-header.tsx
  app/frontend/components/domains/permit-project/step-codes-grid.tsx
  app/frontend/components/domains/step-code/part-3/form-section/shared/form-footer.tsx
  app/frontend/components/domains/step-code/part-9/checklist/pdf-content/index.tsx
  app/frontend/components/domains/step-code/part-9/form-section/shared/form-footer.tsx
  app/frontend/components/domains/step-code/part-9/restart-confirmation-modal.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/step-code-base.ts
  app/frontend/stores/step-code-store.ts
  app/frontend/types/enums.ts
  app/models/concerns/step_code_checklist_stage_completion.rb
  app/models/part_3_step_code.rb
  app/models/part_3_step_code/checklist.rb
  app/models/part_9_step_code.rb
  app/models/part_9_step_code/checklist.rb
  app/models/step_code.rb
  db/migrate/20260630120000_add_stage_completed_at_to_step_code_checklists.rb
  db/schema.rb
  spec/blueprints/step_code_blueprint_spec.rb
  spec/models/part_3_step_code/checklist_spec.rb
  spec/models/part_9_step_code/checklist_spec.rb
  spec/services/step_code_export_service_spec.rb
Due: prettier --write, eslint, stree --write

move building info into its own checklist specific section
  app/controllers/concerns/checklist_report_document_concern.rb
  app/frontend/components/domains/step-code/part-9/checklist/project-info/building-type-select.tsx
  app/frontend/components/domains/step-code/part-9/form-section/index.tsx
  app/frontend/components/domains/step-code/part-9/sidebar/nav-sections.ts
  app/frontend/components/domains/step-code/project-information.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/types.ts
  app/models/part_9_step_code/checklist.rb
Due: prettier --write, eslint, stree --write

HUB-4783 HUB-5149 HUB-5150 HUB-5151 HUB-5152 HUB-5153 HUB-4753 add staged step code checklists
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/index.tsx
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/project-info/index.tsx
  app/frontend/components/domains/step-code/part-9/checklist/pdf-content/building-info/index.tsx
  app/frontend/components/domains/step-code/part-9/checklist/pdf-content/index.tsx
  app/frontend/components/domains/step-code/part-9/checklist/pdf-content/project-info/index.tsx
Due: prettier --write, eslint

improve report generation etc
  app/blueprints/report_document_blueprint.rb
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/controllers/concerns/checklist_report_document_concern.rb
  app/frontend/components/domains/navigation/qa-tools-popout.tsx
  app/frontend/components/domains/permit-project/step-codes-grid-row.tsx
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/project-info/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/shared/form-footer.tsx
  app/frontend/components/domains/step-code/part-3/form-section/step-code-summary/index.tsx
  app/frontend/components/domains/step-code/part-9/form-section/index.tsx
  app/frontend/components/domains/step-code/part-9/form-section/shared/form-footer.tsx
  app/frontend/components/domains/step-code/project-information.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/lib/with-merge.ts
  app/frontend/models/part-3-step-code.ts
  app/frontend/models/step-code-base.ts
  app/frontend/models/template-version.ts
  app/frontend/ssr/ssr.tsx
  app/frontend/types/types.ts
  app/jobs/step_code_report_generation_job.rb
  app/services/qa/part_3_step_code_autofill_data.rb
  app/services/qa/part_3_step_code_autofill_service.rb
  app/services/qa/part_9_step_code_autofill_data.rb
  app/services/qa/part_9_step_code_autofill_service.rb
  app/services/qa/step_code_autofill_support.rb
  db/migrate/20260702120000_add_stale_to_report_documents.rb
  db/schema.rb
  spec/jobs/step_code_report_generation_job_spec.rb
  spec/models/part_3_step_code/checklist_spec.rb
  spec/requests/api/qa_tools_spec.rb
  spec/services/qa/part_3_step_code_autofill_service_spec.rb
  spec/services/qa/part_9_step_code_autofill_service_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5147 HUB-5148 HUB-4783 HUB-5149 HUB-5150 HUB-5151 HUB-5152 HUB-5153 HUB-4753 add staged step code checklists
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/index.tsx
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/project-info/index.tsx
  app/frontend/components/domains/step-code/part-9/checklist/pdf-content/building-info/index.tsx
  app/frontend/components/domains/step-code/part-9/checklist/pdf-content/index.tsx
  app/frontend/components/domains/step-code/part-9/checklist/pdf-content/project-info/index.tsx
Due: prettier --write, eslint

HUB-5059 Date fields not marked as required - Energy and Zero Carbon Step Codes Part 3 Buildings tool
  app/controllers/concerns/part_3_step_code_checklist_params_concern.rb
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/renewable-energy.tsx
  app/frontend/components/shared/form/input-form-control.tsx
Due: prettier --write, eslint, stree --write

HUB-5061 Accordions collapsed on page load - Document references - Energy and ZC Step Code Part 3 tool
  app/frontend/components/domains/step-code/part-3/form-section/document-references.tsx
Due: prettier --write, eslint

fix checklist buttons
  app/frontend/components/domains/step-code/part-3/form-section/shared/form-footer.tsx
  app/frontend/components/domains/step-code/part-3/use-part-3-navigation.ts
  app/frontend/components/domains/step-code/part-9/form-section/shared/form-footer.tsx
  app/frontend/components/domains/step-code/part-9/use-part-9-navigation.ts
  app/frontend/components/domains/step-code/project-information.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-5246 Projects: 500 error on filter by location
  app/controllers/api/concerns/search/permit_projects.rb
Due: stree --write

HUB-5251 Projects - Overview - Pinned projects: Update explainer copy
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/builder-header.tsx
Due: prettier --write, eslint

HUB-5251 Projects - Overview - Pinned projects: Update explainer copy
  app/frontend/components/domains/permit-project/pinned-projects-grid.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-5242 Projects - Overview: Copy change ('Permit' to 'Application') & new column ('Application nickname')
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-overview-tab.tsx
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-project/overview-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/permit-application-grid-row.tsx
  app/frontend/components/domains/permit-project/permits-tab-panel-content.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/permit-application-store.ts
  app/frontend/types/enums.ts
Due: prettier --write, eslint

remove primary checklist
  app/frontend/models/part-3-step-code.ts
  app/frontend/models/part-9-step-code.ts
  app/models/step_code.rb
  lib/tasks/restore_step_code.rake
  spec/models/part_3_step_code_spec.rb
  spec/models/part_9_step_code_spec.rb
  spec/models/step_code_spec.rb
Due: prettier --write, eslint, stree --write

prevent parameter missing exceptions from sending email
  config/initializers/exception_notification.rb
Due: stree --write

fix specs
  app/models/concerns/project_item.rb
  spec/factories/jurisdiction_climate_zones.rb
  spec/factories/sub_districts.rb
Due: stree --write

update schema
  db/schema.rb
Due: stree --write

enhance buttons for pa attached step code
  app/frontend/components/domains/step-code/form-section/shared/form-footer.tsx
  app/frontend/components/domains/step-code/part-3/use-part-3-navigation.ts
  app/frontend/components/domains/step-code/part-9/use-part-9-navigation.ts
  app/frontend/components/domains/step-code/project-information.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

redirect template version base route to template catalogue
  app/frontend/components/domains/navigation/index.tsx
Due: prettier --write, eslint

index created at on jurisdiciton using membership date
  app/blueprints/user_blueprint.rb
  app/controllers/api/concerns/search/jurisdiction_users.rb
  app/controllers/api/jurisdictions_controller.rb
  app/frontend/components/domains/jurisdictions/users/index.tsx
  app/frontend/models/user.ts
  app/models/jurisdiction_membership.rb
  app/models/user.rb
  spec/controllers/jurisdictions_controller_spec.rb
Due: prettier --write, eslint, stree --write

fix seeds
  db/seeds.rb
Due: stree --write

reindex jurisdiciton for new column values
  db/migrate/20260707180516_reindex_jurisdictions.rb
  db/schema.rb
Due: stree --write

give pa status tags unique colors
  app/frontend/components/shared/permit-applications/permit-application-status-tag.tsx
Due: prettier --write, eslint

HUB-5245 Reviewer workspace - Submission inbox - View revised application: 'Answer changed' should link to previous answer(s)
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/models/permit-application.ts
Due: prettier --write, eslint

fix permit application sort
  app/controllers/api/concerns/search/jurisdiction_permit_applications.rb
  app/controllers/api/concerns/search/project_permit_applications.rb
  app/controllers/external_api/concerns/search/permit_applications.rb
  app/frontend/types/enums.ts
  app/models/permit_application.rb
Due: prettier --write, eslint, stree --write

Add featre flag for overheating tools
  app/blueprints/site_configuration_blueprint.rb
  app/controllers/api/overheating_codes_controller.rb
  app/controllers/api/site_configuration_controller.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/overheating-code/unavailable-screen.tsx
  app/frontend/components/domains/permit-project/index.tsx
  app/frontend/components/domains/project-readiness-tools/index.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/global-feature-access.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/overheating-tool-feature-access.tsx
  app/frontend/components/shared/buttons/switch-button.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/site-configuration-store.ts
  app/frontend/types/api-request.ts
  app/models/site_configuration.rb
  app/policies/overheating_code_policy.rb
  db/migrate/20260707200600_add_overheating_tool_enabled_to_site_configurations.rb
  db/schema.rb
  spec/controllers/api/overheating_codes_controller_spec.rb
  spec/controllers/site_configuration_controller_spec.rb
  spec/models/site_configuration_spec.rb
  spec/policies/overheating_code_policy_spec.rb
Due: prettier --write, eslint, stree --write

refactor report generation
  app/frontend/components/domains/step-code/form-section/shared/form-footer.tsx
  app/frontend/components/domains/step-code/part-3/form-section/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/report.tsx
  app/frontend/components/domains/step-code/part-3/form-section/requirements-summary/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/step-code-summary/index.tsx
  app/frontend/components/domains/step-code/part-3/sidebar/nav-sections.ts
  app/frontend/components/domains/step-code/part-9/form-section/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-3-step-code-checklist.ts
  app/frontend/models/part-9-step-code-checklist.ts
  app/frontend/types/types.ts
  app/models/part_3_step_code/checklist.rb
  app/services/qa/part_3_step_code_autofill_data.rb
  spec/controllers/part_3_building/checklists_controller_spec.rb
  spec/models/part_3_step_code/checklist_spec.rb
  spec/models/part_9_step_code_spec.rb
  spec/services/qa/part_3_step_code_autofill_service_spec.rb
Due: prettier --write, eslint, stree --write

extract building characteristics and fix float inputs
  app/frontend/components/domains/step-code/part-9/checklist/building-characteristics-summary/dynamic-characteristics-grid/doors.tsx
  app/frontend/components/domains/step-code/part-9/checklist/building-characteristics-summary/dynamic-characteristics-grid/hot-water.tsx
  app/frontend/components/domains/step-code/part-9/checklist/building-characteristics-summary/dynamic-characteristics-grid/space-heating-cooling.tsx
  app/frontend/components/domains/step-code/part-9/checklist/building-characteristics-summary/dynamic-characteristics-grid/windows-glazed-doors.tsx
  app/frontend/components/domains/step-code/part-9/checklist/building-characteristics-summary/static-characteristics-grid/characteristic.tsx
  app/models/part_9_step_code.rb
  app/services/step_code/part_9/building_characteristics_hot2000_mapper.rb
  spec/services/step_code/part_9/building_characteristics_hot2000_mapper_spec.rb
Due: prettier --write, eslint, stree --write

migrate schema
  db/schema.rb
Due: stree --write

Add featre flag for overheating tools
  app/blueprints/site_configuration_blueprint.rb
  app/controllers/api/overheating_codes_controller.rb
  app/controllers/api/site_configuration_controller.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/overheating-code/unavailable-screen.tsx
  app/frontend/components/domains/permit-project/index.tsx
  app/frontend/components/domains/project-readiness-tools/index.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/global-feature-access.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/overheating-tool-feature-access.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/site-configuration-store.ts
  app/frontend/types/api-request.ts
  app/models/site_configuration.rb
  app/policies/overheating_code_policy.rb
  db/migrate/20251008184807_add_customizations_count_to_template_versions.rb
  db/migrate/20260707200600_add_overheating_tool_enabled_to_site_configurations.rb
  db/schema.rb
  spec/controllers/api/overheating_codes_controller_spec.rb
  spec/controllers/site_configuration_controller_spec.rb
  spec/models/site_configuration_spec.rb
  spec/policies/overheating_code_policy_spec.rb
Due: prettier --write, eslint, stree --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
