Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

fix minor style issues and specs
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/models/permit_application.rb
  app/services/integrations/ltsa_parcel_map_bc.rb
  spec/services/automated_compliance/parcel_info_extractor_spec.rb
Due: prettier --write, eslint, stree --write

Allow user to mark checklist as complete
  app/blueprints/step_code_checklist_blueprint.rb
  app/controllers/api/step_code_checklists_controller.rb
  app/frontend/components/domains/step-code/checklist/index.tsx
  app/frontend/components/domains/step-code/nav-links.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/step-code-checklist.ts
  app/frontend/types/enums.ts
  app/models/step_code_checklist.rb
  db/migrate/20240326173200_add_status_to_step_code_checklists.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

Last bit UI fixing
  app/frontend/components/domains/requirement-template/builder-top-floating-buttons.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/builder-header.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/controls-header.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/sections-display.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/sections-dnd/index.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/template-version-screen.tsx
  app/frontend/components/domains/requirement-template/sections-display.tsx
  app/frontend/components/domains/requirement-template/sections-sidebar.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/styles/global-theme-variables.scss
  app/frontend/styles/theme/index.ts
Due: prettier --write, eslint

seed submission contacts onto all jurisdcitions
  db/seeds.rb
Due: stree --write

Add missing translation
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

[bphh-487] Add password regex to back-end validation and update message
  app/frontend/components/shared/form/password-form-control.tsx
  app/frontend/i18n/i18n.ts
  app/models/user.rb
  config/initializers/devise.rb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

[bphh-487] Fix password validation logic in front-end and back-end
  app/frontend/components/shared/form/password-form-control.tsx
  app/frontend/stores/user-store.ts
  app/models/user.rb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

add site configuration page, frontend and backend
  app/blueprints/site_configuration_blueprint.rb
  app/controllers/api/site_configuration_controller.rb
  app/frontend/components/domains/home/super-admin-home-screen.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/super-admin/site-configuration-management-screen.tsx/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/root-store.ts
  app/frontend/stores/site-configuration-store.ts
  app/frontend/types/types.ts
  app/helpers/site_configuration_helper.rb
  app/models/site_configuration.rb
  app/policies/site_configuration_policy.rb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20240327191001_create_site_configurations.rb
  db/schema.rb
  spec/helpers/site_configuration_helper_spec.rb
  spec/requests/site_configuration_spec.rb
Due: prettier --write, eslint, stree --write

[bphh-487] Add password checklist on submit error
  app/frontend/components/domains/authentication/register-screen.tsx
  app/frontend/components/domains/users/accept-invitation-screen.tsx
  app/frontend/components/domains/users/profile-screen.tsx
  app/frontend/components/shared/form/password-checklist.tsx
  app/frontend/components/shared/form/password-form-control.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

refactor as sitewide message
  app/blueprints/site_configuration_blueprint.rb
  app/controllers/api/site_configuration_controller.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/super-admin/site-configuration-management-screen.tsx/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/site-configuration-store.ts
  app/frontend/types/types.ts
  db/migrate/20240327191001_create_site_configurations.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

[bphh-977] Add missing nav menu items for review manager
  app/frontend/components/domains/navigation/nav-bar.tsx
Due: prettier --write, eslint

prevent permit full loads from closed download modal, emails from not previously nil viewed_at
  app/frontend/components/domains/permit-application/submission-download-modal.tsx
  app/frontend/components/domains/permit-application/successful-submission.tsx
  app/frontend/i18n/i18n.ts
  app/models/permit_application.rb
  db/schema.rb
  db/seeds.rb
Due: prettier --write, eslint, stree --write

[bphh-834] Fix bug with next pagination button showing in table when there is an empty table
  app/frontend/components/shared/base/inputs/paginator.tsx
Due: prettier --write, eslint

add action for changing role
  app/controllers/api/users_controller.rb
  app/frontend/components/shared/user/manage-user-menu.tsx
  app/frontend/models/user.ts
  app/frontend/services/api/index.ts
  app/policies/user_policy.rb
  config/routes.rb
Due: prettier --write, eslint, stree --write

proper sizing errors on raising from the file component
  .env.example
  app/frontend/components/shared/chefs/additional-formio/providers/storage/s3custom.js
  app/frontend/components/shared/chefs/custom-formio-components/components/SimpleFile/Component.js
  app/frontend/components/shared/chefs/index.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/utils/uploads.ts
  app/services/requirement_form_json_service.rb
  app/uploaders/file_uploader.rb
  app/uploaders/h2k_file_uploader.rb
  app/uploaders/zipfile_uploader.rb
  config/initializers/shrine.rb
Due: prettier --write, eslint, stree --write

fix error messages
  config/locales/en.yml
Due: none

move to constants
  app/frontend/components/shared/chefs/additional-formio/constant.ts
  app/frontend/components/shared/chefs/additional-formio/providers/storage/s3custom.js
  app/frontend/utils/uploads.ts
  app/services/requirement_form_json_service.rb
  app/uploaders/file_uploader.rb
  app/uploaders/h2k_file_uploader.rb
  app/uploaders/zipfile_uploader.rb
  config/initializers/shrine.rb
Due: prettier --write, eslint, stree --write

fix welcome breadcrumb
  app/frontend/i18n/i18n.ts
  app/frontend/models/user.ts
Due: prettier --write, eslint

add error handling to site config controller
  app/controllers/api/site_configuration_controller.rb
  config/locales/en.yml
Due: stree --write

change config controller action methods
  app/controllers/api/site_configuration_controller.rb
  app/frontend/services/api/index.ts
  app/models/site_configuration.rb
  config/routes.rb
Due: prettier --write, eslint, stree --write

Add support for contact block in application PDF
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/shared/permit-applications/pdf-content/application/index.tsx
  app/frontend/components/shared/permit-applications/pdf-content/application/styles.ts
  app/frontend/components/shared/permit-applications/pdf-content/viewer.tsx
Due: prettier --write, eslint

Fixup step code styles
  app/frontend/components/domains/step-code/checklist/building-characteristics-summary/dynamic-characteristics-grid/doors.tsx
  app/frontend/components/domains/step-code/checklist/building-characteristics-summary/dynamic-characteristics-grid/windows-glazed-doors.tsx
  app/frontend/components/domains/step-code/checklist/building-characteristics-summary/static-characteristics-grid/characteristic.tsx
  app/frontend/components/domains/step-code/checklist/energy-step-code-compliance/compliance-grid/airtightness.tsx
  app/frontend/components/domains/step-code/checklist/energy-step-code-compliance/compliance-grid/energy-step.tsx
  app/frontend/components/domains/step-code/checklist/energy-step-code-compliance/compliance-grid/index.tsx
  app/frontend/components/domains/step-code/checklist/energy-step-code-compliance/compliance-grid/meui.tsx
  app/frontend/components/domains/step-code/checklist/energy-step-code-compliance/compliance-grid/tedi.tsx
  app/frontend/components/domains/step-code/checklist/energy-step-code-compliance/other-data.tsx
  app/frontend/components/domains/step-code/checklist/shared/grid/data.ts
  app/frontend/components/domains/step-code/checklist/shared/grid/data.tsx
  app/frontend/components/domains/step-code/checklist/zero-carbon-step-code-compliance/compliance-grid/co2.tsx
  app/frontend/components/domains/step-code/checklist/zero-carbon-step-code-compliance/compliance-grid/index.tsx
  app/frontend/components/domains/step-code/checklist/zero-carbon-step-code-compliance/compliance-grid/prescriptive.tsx
  app/frontend/components/domains/step-code/checklist/zero-carbon-step-code-compliance/compliance-grid/total-ghg.tsx
  app/frontend/components/domains/step-code/checklist/zero-carbon-step-code-compliance/compliance-grid/zero-carbon-step.tsx
Due: prettier --write, eslint

Add help drawer to step code screen
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/template-version-screen.tsx
  app/frontend/components/domains/step-code/index.tsx
  app/frontend/components/shared/floating-help-drawer.tsx
Due: prettier --write, eslint

[bphh-487] Fix typo
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Add missing PDF translations
  app/frontend/components/shared/permit-applications/pdf-content/application/index.tsx
  app/frontend/components/shared/permit-applications/pdf-content/cover/index.tsx
  app/frontend/components/shared/permit-applications/pdf-content/shared/footer/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

UI improvements and code cleanup that got missed in previous round
  app/frontend/components/domains/authentication/register-screen.tsx
  app/frontend/components/domains/misc/contact-screen.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/controls-header.tsx
  app/frontend/components/domains/users/profile-screen.tsx
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/components/shared/navigation/router-link.tsx
  app/frontend/components/shared/permit-applications/permit-application-card.tsx
  app/frontend/entrypoints/application.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/utils/utility-functions.ts
Due: prettier --write, eslint

[bphh-844] Proof of concept generating pdf from sidekik worker and node script
  .gitignore
  app/jobs/pdf_generation_job.rb
  config/initializers/node_scripts.rb
  node_scripts/.babelrc
  node_scripts/generate_pdf.js
  node_scripts/package-lock.json
  node_scripts/package.json
  node_scripts/pdf_document.js
Due: stree --write

Making the Elective tag work with "Has Elective(s)" for the Requirements Library table view. And fixing the "Add form field to requirement block" drawer to not be underneath the modal.
  app/frontend/components/domains/requirements-library/requirement-blocks-table.tsx
  app/frontend/components/domains/requirements-library/requirements-library-drawer.tsx
  app/frontend/components/shared/elective-tag.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/styles/theme/index.ts
Due: prettier --write, eslint

allow large file multi upload, test with > 10MB files
  .env.example
  Gemfile
  Gemfile.lock
  app/frontend/components/domains/step-code/import.tsx
  app/frontend/components/shared/chefs/additional-formio/constant.ts
  app/frontend/components/shared/chefs/additional-formio/providers/storage/s3custom.js
  app/frontend/utils/uploads.ts
  config/initializers/shrine.rb
  config/routes.rb
Due: prettier --write, eslint, stree --write

Fix the Review application screen that may have gotten lost in the rebase from earlier
  app/frontend/components/domains/permit-application/checklist-sidebar.tsx
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
Due: prettier --write, eslint

do not mount routes in test, gives an error due to lack of s3
  config/routes.rb
Due: stree --write

Cute blue round icons for contact card on About LG pages
  app/frontend/components/shared/jurisdiction/contact-card.tsx
Due: prettier --write, eslint

When user is re-ordering sections of a template, the right side (form) is greyed out and not interact-able. Also added some IDs in some more views.Adding some IDs
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/sections-display.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/sections-dnd/index.tsx
  app/frontend/components/domains/requirement-template/sections-sidebar.tsx
  app/frontend/styles/chakra-overrides.scss
  app/frontend/styles/global-theme-variables.scss
Due: prettier --write, eslint

[bphh-1020] Add validation to check for valid html for hint in requirements and display description in requirement block
  app/helpers/html_validation_helper.rb
  app/models/requirement.rb
  app/models/requirement_block.rb
Due: stree --write

Landing page's "go to jurisdiction" based on address button to have hover affect and be big and clickable.
  app/frontend/components/domains/landing/index.tsx
  app/frontend/styles/chakra-overrides.scss
Due: prettier --write, eslint

Missed the hover state on the landing page's jurisdiction button
  app/frontend/components/domains/landing/index.tsx
  app/frontend/styles/chakra-overrides.scss
Due: prettier --write, eslint

Show instructional text for when user is in the re-ordering sections mode.
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/sections-dnd/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

add work type descriptions
  app/services/permit_classification_seeder.rb
Due: stree --write

default status filter to draft
  app/frontend/lib/create-search-model.ts
  app/frontend/models/permit-application.ts
Due: prettier --write, eslint

show viewed on status tag
  app/frontend/components/shared/permit-applications/permit-application-status-tag.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
