Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

Fix issue sending submission contact confirmation
  app/mailers/permit_hub_mailer.rb
Due: stree --write

fix permit and profile update issues, email confrim redirect, and copies
  app/controllers/api/confirmations_controller.rb
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/components/domains/landing/index.tsx
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/shared/select/selectors/address-select.tsx
  app/frontend/components/shared/select/selectors/jurisdiction-select.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/jurisdiction-store.ts
  config/locales/en.yml
  config/routes.rb
Due: prettier --write, eslint, stree --write

remove home_url
  app/controllers/api/confirmations_controller.rb
  config/routes.rb
Due: stree --write

[bphh-1163] Update draft permit applications with new template version on publish
  app/services/template_versioning_service.rb
  spec/services/template_versioning_service_spec.rb
Due: stree --write

make unconfirmed or discarded users re-invitable
  app/blueprints/invitation_blueprint.rb
  app/controllers/api/invitations_controller.rb
  app/frontend/components/shared/base/inputs/user-input.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/user.ts
  app/frontend/stores/user-store.ts
  app/frontend/types/api-responses.ts
  app/services/jurisdiction/user_inviter.rb
Due: prettier --write, eslint, stree --write

fix spelling error
  app/mailers/permit_hub_mailer.rb
Due: stree --write

add reinvite prepoulate function to user manage menu
  app/blueprints/user_blueprint.rb
  app/controllers/api/invitations_controller.rb
  app/frontend/components/domains/users/invite-screen.tsx
  app/frontend/components/shared/user/manage-user-menu.tsx
  app/frontend/hooks/use-query.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/user.ts
  app/frontend/stores/user-store.ts
  app/policies/invitation_policy.rb
  config/locales/en.yml
  config/routes.rb
Due: prettier --write, eslint, stree --write

update jurisdiction hrefs to use slugs
  app/frontend/components/domains/jurisdictions/limited-jurisdiction-index-screen.tsx
  app/frontend/components/domains/landing/index.tsx
Due: prettier --write, eslint

refactor result tag and fix controller callback
  app/controllers/api/invitations_controller.rb
  app/frontend/components/shared/base/inputs/user-input.tsx
Due: prettier --write, eslint, stree --write

[bphh-1162] Fix issue with auto compliance result from websocket not updating permit application form
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/constants.ts
  app/frontend/stores/permit-application-store.ts
  app/frontend/types/dom.d.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
Due: prettier --write, eslint

[bphh-1175] Fix mobx use action console error and react key console error
  app/frontend/components/domains/requirement-template/screens/jurisdiction-digital-permit-screen/digital-building-permits-list.tsx
  app/frontend/models/template-version.ts
Due: prettier --write, eslint

Dockerfile changed to single stage so we can use the jemalloc / npm stuff during runtime - also adds a VITE_ENABLE_TEMPLATE_FORCE_PUBLISH variable to build time in GHA
  .github/workflows/dev.yml
  .github/workflows/test.yml
  devops/docker/app/Dockerfile
Due: none

[bphh-907] Add ability to force publish template version, turned on by an env flag
  .env.example
  app/controllers/api/requirement_templates_controller.rb
  app/errors/template_version_force_publish_now_error.rb
  app/errors/template_version_publish_error.rb
  app/errors/template_version_schedule_error.rb
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/controls-header.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/publish-schedule-modal.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement-template-section.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/requirement-template-store.ts
  app/policies/requirement_template_policy.rb
  app/services/template_versioning_service.rb
  config/locales/en.yml
  config/routes.rb
  spec/services/template_versioning_service_spec.rb
Due: prettier --write, eslint, stree --write

[bphh-1183] Fix issue with mobx error causing merge update error when trying to update or schedule a template after remove a section with requirement blocks
  app/frontend/models/requirement-template-section.ts
Due: prettier --write, eslint

enable manual pid option creation with jurisdiction lookup
  app/controllers/api/geocoder_controller.rb
  app/frontend/components/domains/permit-application/new-permit-application-screen.tsx
  app/frontend/components/shared/select/selectors/sites-select.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/geocoder-store.ts
Due: prettier --write, eslint, stree --write

Fix issue generating PDFs when deployed
  app/frontend/ssr/ssr.tsx
  app/jobs/pdf_generation_job.rb
Due: prettier --write, eslint, stree --write

Fix issue generating PDFs with no checklist
  app/jobs/pdf_generation_job.rb
Due: stree --write

use absolute paths for image assets
  app/frontend/components/domains/landing/index.tsx
  app/frontend/components/shared/permit-applications/permit-application-card.tsx
Due: prettier --write, eslint

return error before any action if user is discarded
  app/controllers/api/application_controller.rb
Due: stree --write

show reference number to submitter when available
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
Due: prettier --write, eslint

change Dockerfile to have npm_cache in a writable location for the Zipfile job
  devops/docker/app/Dockerfile
Due: none

Set jwt cookie valid for .app_domain as a precursor since we will be switching to that in the future
  config/initializers/devise.rb
Due: stree --write

[bphh-1183] Remove isdirty logic and fix typo according to PR comments
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/constants.ts
Due: prettier --write, eslint

only add domain for jwt in prod
  config/initializers/devise.rb
Due: stree --write

add model migrations, selectors, modals, and logic for assigning contacts into form
  app/blueprints/contact_blueprint.rb
  app/blueprints/contact_option_blueprint.rb
  app/controllers/api/contacts_controller.rb
  app/controllers/api/jurisdictions_controller.rb
  app/frontend/components/domains/jurisdictions/contacts/contact-grid.tsx
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/shared/contact/contact-modal.tsx
  app/frontend/components/shared/contact/create-contact-modal.tsx
  app/frontend/components/shared/form/email-form-control.tsx
  app/frontend/components/shared/form/input-form-control.tsx
  app/frontend/components/shared/jurisdiction/contact-card.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/components/shared/select/async-select.tsx
  app/frontend/components/shared/select/selectors/contact-select.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/contact-store.ts
  app/frontend/stores/root-store.ts
  app/frontend/types/types.ts
  app/models/contact.rb
  app/models/jurisdiction.rb
  app/models/permit_application.rb
  app/models/user.rb
  app/policies/contact_policy.rb
  app/services/requirement_form_json_service.rb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20240410164337_update_contacts.rb
  db/schema.rb
  db/seeds.rb
  spec/factories/contacts.rb
  spec/models/contact_spec.rb
Due: prettier --write, eslint, stree --write

some ui ammendments
  app/controllers/api/contacts_controller.rb
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/components/shared/contact/contact-modal.tsx
  app/frontend/components/shared/contact/create-contact-modal.tsx
  app/frontend/components/shared/form/email-form-control.tsx
  app/frontend/components/shared/select/selectors/contact-select.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/stores/contact-store.ts
  app/models/contact.rb
  app/services/requirement_form_json_service.rb
  config/locales/en.yml
  db/migrate/20240410164337_update_contacts.rb
  spec/controllers/contact_controller_spec.rb
Due: prettier --write, eslint, stree --write

fix contact datagrid bug for empty arrays
  app/frontend/models/permit-application.ts
Due: prettier --write, eslint

add and fix specs
  app/controllers/api/contacts_controller.rb
  app/frontend/components/shared/contact/create-contact-modal.tsx
  spec/controllers/contact_controller_spec.rb
  spec/factories/contacts.rb
  spec/models/contact_spec.rb
Due: prettier --write, eslint, stree --write

address PR comments
  app/frontend/components/shared/select/selectors/contact-select.tsx
  db/migrate/20240410164337_update_contacts.rb
Due: prettier --write, eslint, stree --write

reinstate isDirty check for direct submissiondata manipulations
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
Due: prettier --write, eslint

Fix issue displaying download links
  app/frontend/components/domains/permit-application/submission-download-modal.tsx
Due: prettier --write, eslint

Hide BCeID login / signup option
  app/frontend/components/domains/authentication/login-screen.tsx
  app/frontend/components/domains/users/accept-invitation-screen.tsx
Due: prettier --write, eslint

add updated template xlsx and authorized hosts
  config/application.rb
  db/templates/Core Permit Requirements List.xlsx
Due: stree --write

default contact names in migration
  db/migrate/20240410164337_update_contacts.rb
Due: stree --write

Initial work for PVC definitions
  devops/helm-charts/app/templates/compliance-logging-pvc.yaml
  devops/helm-charts/app/templates/deployment.yaml
  devops/helm-charts/app/values-dev.yaml
Due: none

Cron job for purging log files and modify deployment.yaml to log to a volume
  devops/helm-charts/app/templates/compliance-logging-cleanup-cronjob.yaml
  devops/helm-charts/app/templates/deployment.yaml
Due: none

adjust storage for pvc logs
  devops/helm-charts/app/values-dev.yaml
  devops/helm-charts/app/values-prod.yaml
  devops/helm-charts/app/values-test.yaml
Due: none

Adds and configures MultiLogger so we can log simultaenously to STDOUT as well as to a file
  config/environments/production.rb
  lib/multi_logger.rb
Due: stree --write

make the logs host name specific
  config/environments/production.rb
Due: stree --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
