Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

only mount volumes for web pods
  devops/helm-charts/app/templates/deployment.yaml
Due: none

[bphh-1190] Add back-end model for external_api_key and add model specs
  .env.example
  app/models/external_api_key.rb
  config/application.rb
  db/migrate/20240417195959_create_external_api_keys.rb
  db/schema.rb
  spec/factories/external_api_key.rb
  spec/models/external_api_key_spec.rb
Due: stree --write

[bphh-1190] Rename api_key column to token
  app/models/external_api_key.rb
  db/migrate/20240417195959_create_external_api_keys.rb
  db/schema.rb
  spec/models/external_api_key_spec.rb
Due: stree --write

[bphh-1190] Add external_api_key controller and routes
  app/blueprints/external_api_key_blueprint.rb
  app/controllers/api/external_api_keys_controller.rb
  app/models/external_api_key.rb
  app/policies/external_api_key_policy.rb
  config/locales/en.yml
  config/routes.rb
Due: stree --write

[bphh-1190] Move mock routes into spec file to prevent overriding of all routes in test
  spec/controllers/external_api/application_controller_spec.rb
  spec/spec_helper.rb
Due: stree --write

[bphh-1190] Add base controller for external_api_key with authentication and authorisation support. Add relevant specs
  app/controllers/external_api/application_controller.rb
  app/models/current.rb
  app/models/external_api_key.rb
  app/policies/external_api/application_policy.rb
  config/locales/en.yml
  spec/controllers/external_api/application_controller_spec.rb
  spec/models/external_api_key_spec.rb
  spec/spec_helper.rb
Due: stree --write

[bphh-1190] Add token namespace, and set token to always be auto-generated on create. Also adds spec to ensure token is encrypted
  app/models/external_api_key.rb
  spec/models/external_api_key_spec.rb
Due: stree --write

[bphh-1190] Add concern to validate url attributes. Add webhook_url validation. Adds relevant specs
  app/models/concerns/validate_url_attributes.rb
  app/models/external_api_key.rb
  spec/concerns/validate_url_attributes_spec.rb
  spec/models/external_api_key_spec.rb
Due: stree --write

[bphh-1190] Add revoked and expired spec to external_api base controller authorisation spec
  spec/controllers/external_api/application_controller_spec.rb
Due: stree --write

[bphh-1190] Rename expired_date to expired_at and add revoked_at column to external api key. Adds scope to retrieve active api_keys and adds spec for the scope
  db/migrate/20240417195959_create_external_api_keys.rb
  db/schema.rb
  spec/factories/external_api_key.rb
  spec/models/external_api_key_spec.rb
Due: stree --write

Fix error handling when accepting invitation
  app/controllers/api/invitations_controller.rb
  config/locales/en.yml
Due: stree --write

Fix issue showing requirement block create errors
  config/locales/en.yml
Due: none

Fix issue showing new requirement blocks
  app/controllers/api/concerns/search/requirement_blocks.rb
  app/controllers/api/requirement_blocks_controller.rb
Due: stree --write

update yaml for cronjob
  devops/helm-charts/app/templates/compliance-logging-cleanup-cronjob.yaml
Due: none

[bphh-1208] Add ability to enable or disable external_api_keys for a whole jurisdiction. Update relevant scope, logic, and spec's to handle this
  app/controllers/api/jurisdictions_controller.rb
  app/models/external_api_key.rb
  app/policies/external_api_key_policy.rb
  db/migrate/20240422165748_add_external_api_enabled_to_jurisdiction.rb
  db/schema.rb
  spec/controllers/external_api/application_controller_spec.rb
  spec/factories/external_api_key.rb
  spec/models/external_api_key_spec.rb
Due: stree --write

add migration to reindex contacts
  app/controllers/api/contacts_controller.rb
  db/migrate/20240423203202_reindex_contacts.rb
Due: stree --write

allow review managers to archive searchable users
  app/policies/user_policy.rb
  db/schema.rb
Due: stree --write

Add support for skipping keycloak login page
  app/frontend/components/domains/authentication/login-screen.tsx
  config/initializers/devise.rb
Due: prettier --write, eslint, stree --write

add super admin invite and bugfixes
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/users/admin-invite-screen.tsx
  app/frontend/components/shared/base/inputs/user-input.tsx
  app/frontend/components/shared/user/manage-user-menu.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/stores/user-store.ts
  app/models/user.rb
  app/services/jurisdiction/user_inviter.rb
  app/views/devise/mailer/invitation_instructions.html.erb
Due: prettier --write, eslint, stree --write

add env to example
  .env.example
Due: none

address PR comments re admin invite
  app/frontend/components/domains/users/admin-invite-screen.tsx
  app/frontend/components/domains/users/invite-screen.tsx
  app/frontend/components/shared/base/inputs/user-input.tsx
  app/policies/user_policy.rb
Due: prettier --write, eslint, stree --write

Cleanup PDF styles
  app/frontend/components/domains/step-code/checklist/pdf-content/building-characteristics-summary/dynamic-characteristics-grid/airtightness.tsx
  app/frontend/components/domains/step-code/checklist/pdf-content/building-characteristics-summary/index.tsx
  app/frontend/components/domains/step-code/checklist/pdf-content/completed-by/index.tsx
  app/frontend/components/domains/step-code/checklist/pdf-content/compliance-summary/index.tsx
  app/frontend/components/domains/step-code/checklist/pdf-content/energy-performance-compliance/index.tsx
  app/frontend/components/domains/step-code/checklist/pdf-content/energy-step-compliance/index.tsx
  app/frontend/components/domains/step-code/checklist/pdf-content/index.tsx
  app/frontend/components/domains/step-code/checklist/pdf-content/project-info/index.tsx
  app/frontend/components/domains/step-code/checklist/pdf-content/shared/field.tsx
  app/frontend/components/domains/step-code/checklist/pdf-content/shared/panel.tsx
  app/frontend/components/domains/step-code/checklist/pdf-content/styles.ts
  app/frontend/components/domains/step-code/checklist/pdf-content/zero-carbon-step-compliance/index.tsx
  app/frontend/components/shared/permit-applications/pdf-content/application/index.tsx
  app/frontend/components/shared/permit-applications/pdf-content/application/styles.ts
  app/frontend/components/shared/permit-applications/pdf-content/cover/index.tsx
  app/frontend/components/shared/permit-applications/pdf-content/cover/styles.ts
  app/frontend/components/shared/permit-applications/pdf-content/shared/footer/index.tsx
  app/frontend/components/shared/permit-applications/pdf-content/shared/footer/styles.ts
  app/frontend/components/shared/permit-applications/pdf-content/shared/styles/flex-column.ts
  app/frontend/components/shared/permit-applications/pdf-content/shared/styles/page.ts
Due: prettier --write, eslint

add individual default fields in invite query params
  app/frontend/components/domains/users/admin-invite-screen.tsx
  app/frontend/components/domains/users/invite-screen.tsx
  app/frontend/components/shared/user/manage-user-menu.tsx
Due: prettier --write, eslint

add a step code functionality to contact modal
  app/frontend/components/domains/step-code/checklist/completed-by/index.tsx
  app/frontend/components/shared/contact/contact-modal.tsx
  app/frontend/components/shared/contact/create-contact-modal.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

fix auto phone filling at add phone input
  app/frontend/components/domains/step-code/checklist/completed-by/index.tsx
  app/frontend/components/shared/contact/contact-modal.tsx
  app/frontend/components/shared/contact/create-contact-modal.tsx
  app/frontend/components/shared/form/input-form-control.tsx
  app/frontend/models/permit-application.ts
  app/models/step_code.rb
Due: prettier --write, eslint, stree --write

update requirements seeds
  db/templates/Core Permit Requirements List.xlsx
Due: none

remove creatable option from contact modal
  app/frontend/components/shared/select/selectors/contact-select.tsx
  app/models/step_code.rb
Due: prettier --write, eslint, stree --write

keep drawer open after adding requirement, fix some console and typescript errors
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/sections-display.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/sections-dnd/requirement-block.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
  app/frontend/components/shared/elective-tag.tsx
  app/frontend/components/shared/form/input-form-control.tsx
  app/frontend/components/shared/permit-applications/pdf-content/application/index.tsx
  app/frontend/models/requirement-block.ts
Due: prettier --write, eslint

refactor integrations to use wrapper base class
  app/controllers/api/geocoder_controller.rb
  app/models/errors/wrapper_client_error.rb
  app/models/errors/wrapper_server_error.rb
  app/services/automated_compliance/historic_site.rb
  app/services/automated_compliance/parcel_info_extractor.rb
  app/services/automated_compliance/sub_process/doc_digital_seal_validator.rb
  app/services/integrations/base.rb
  app/services/integrations/ltsa_parcel_map_bc.rb
  app/services/wrappers/base.rb
  app/services/wrappers/digital_seal_validator.rb
  app/services/wrappers/geocoder.rb
  app/services/wrappers/ltsa_parcel_map_bc.rb
  spec/services/automated_compliance/sub_process/doc_digital_seal_validator_spec.rb
  spec/services/wrappers/digital_seal_validator_spec.rb
  spec/vcr_cassettes/wrappers/digital_seal_validator/signed_documents.yml
  spec/vcr_cassettes/wrappers/digital_seal_validator/unsigned.yml
Due: stree --write

Restrict registration/login to keycloak omniauth
  app/blueprints/user_blueprint.rb
  app/controllers/api/application_controller.rb
  app/controllers/api/invitations_controller.rb
  app/controllers/api/passwords_controller.rb
  app/controllers/api/registrations_controller.rb
  app/controllers/api/sessions_controller.rb
  app/controllers/api/users_controller.rb
  app/frontend/components/domains/authentication/forgot-password-screen.tsx
  app/frontend/components/domains/authentication/login-screen.tsx
  app/frontend/components/domains/authentication/register-screen.tsx
  app/frontend/components/domains/authentication/reset-password-screen.tsx
  app/frontend/components/domains/landing/index.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/users/accept-invitation-screen.tsx
  app/frontend/components/domains/users/profile-screen.tsx
  app/frontend/components/shared/eula-modal/index.tsx
  app/frontend/components/shared/form/nickname-form-control.tsx
  app/frontend/components/shared/form/password-checklist.tsx
  app/frontend/components/shared/form/password-form-control.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/user.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/session-store.ts
  app/frontend/stores/user-store.ts
  app/frontend/types/api-responses.ts
  app/models/user.rb
  app/services/jurisdiction/user_inviter.rb
  app/views/permit_hub_mailer/welcome.html.erb
  config/initializers/devise.rb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20240424210724_add_bceid_fields_to_users.rb
  db/schema.rb
  lib/tasks/sensitive_seeder.rake
  spec/factories/users.rb
Due: prettier --write, eslint, stree --write
