Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

[bphh-638] Add collaboration notification email
  app/mailers/permit_hub_mailer.rb
  app/models/permit_collaboration.rb
  app/models/user.rb
  app/services/permit_collaboration/collaboration_management_service.rb
  app/views/devise/mailer/invitation_instructions.html.erb
  app/views/permit_hub_mailer/notify_permit_collaboration.erb
  config/locales/en.yml
Due: stree --write

[bphh-638] Add ability to re-invite permit collaborators if unconfirmed or archived and a submitter
  app/controllers/api/permit_collaborations_controller.rb
  app/frontend/components/domains/permit-application/collaborator-assignment-popover.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/services/api/index.ts
  app/services/permit_collaboration/collaboration_management_service.rb
  config/locales/en.yml
  config/routes.rb
Due: prettier --write, eslint, stree --write

[bphh-638] Merge collaborations when invited user is merged with existing user
  app/services/promote_user.rb
Due: stree --write

[bphh-638] Add validation for permit collaboration creation based on collaboration type and permit_application state
  app/models/permit_collaboration.rb
  config/locales/en.yml
Due: stree --write

[bphh-638] Add collaborator user validations for submission and review
  app/models/collaborator.rb
  app/models/permit_collaboration.rb
  config/locales/en.yml
Due: stree --write

[bphh-638] WIP invite collaborator api and services
  app/controllers/api/collaborators_controller.rb
  app/controllers/api/permit_applications_controller.rb
  app/errors/collaboration_management_error.rb
  app/errors/permit_collaboration_error.rb
  app/models/collaborator.rb
  app/models/user.rb
  app/services/collaborator/inviter.rb
  app/services/permit_application/collaboration_management_service.rb
  app/services/permit_collaboration/collaboration_management_service.rb
  config/locales/en.yml
  config/routes.rb
Due: stree --write

[bphh-638] Add collaboration assignment notification
  app/frontend/stores/notification-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/permit_collaboration.rb
  app/services/constants/notification_action_types.rb
  app/services/notification_service.rb
  app/services/permit_collaboration/collaboration_management_service.rb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

[bphh-638] Implement invite collaborator screen for assignment popover and fix back-end errors for the api
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/domains/permit-application/collaborator-assignment-popover.tsx
  app/frontend/components/shared/confirmation-modal.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/services/api/index.ts
  app/models/collaborator.rb
  app/policies/permit_application_policy.rb
  app/services/permit_collaboration/collaboration_management_service.rb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

[bphh-638] Implement unassignment of collaborator
  app/controllers/api/contacts_controller.rb
  app/controllers/api/permit_collaborations_controller.rb
  app/frontend/components/domains/permit-application/collaborator-assignment-popover.tsx
  app/frontend/components/shared/confirmation-modal.tsx
  app/frontend/components/shared/request-loading-button.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/services/api/index.ts
  app/policies/permit_collaboration_policy.rb
  config/locales/en.yml
  config/routes.rb
Due: prettier --write, eslint, stree --write

[bphh-638] Refactor data structure for collaboration popover assignment nodes
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
Due: prettier --write, eslint

[bphh-638] Fix duplication collaboration notification email and add validation and loading state to invite confirmation modal
  app/frontend/components/domains/permit-application/collaborator-assignment-popover.tsx
  app/frontend/components/shared/confirmation-modal.tsx
  app/services/permit_collaboration/collaboration_management_service.rb
Due: prettier --write, eslint, stree --write

[bphh-638] Implement collaboration list for assignment popover
  app/blueprints/permit_collaboration_blueprint.rb
  app/frontend/components/domains/permit-application/collaborator-assignment-popover.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/models/permit-collaboration.ts
  app/models/permit_collaboration.rb
Due: prettier --write, eslint, stree --write

[bphh-638] Fix re_invite policy and authorization bug
  app/controllers/api/permit_collaborations_controller.rb
  app/policies/permit_collaboration_policy.rb
Due: stree --write

[bphh-638] Add floating avatars for requirement block assignment
  app/frontend/components/domains/permit-application/block-collaborator-assignment-management/collaborator-assignment-popover.tsx
  app/frontend/components/domains/permit-application/block-collaborator-assignment-management/index.tsx
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
Due: prettier --write, eslint

improve variable naming, submission change comparrison logic
  app/frontend/components/domains/permit-application/revision-sidebar.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/utils/formio-helpers.ts
Due: prettier --write, eslint

address pr suggestion adding super to reason attribute assigner
  app/models/site_configuration.rb
Due: stree --write

fix some type definitions
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
  app/frontend/models/requirement-block.ts
  app/frontend/types/api-request.ts
  app/frontend/types/types.ts
Due: prettier --write, eslint

Fix bug with confirmation modal opening for all collaborators in collaborator search for permit applications
  app/frontend/components/domains/permit-application/block-collaborator-assignment-management/collaborator-assignment-popover.tsx
  app/frontend/components/shared/confirmation-modal.tsx
Due: prettier --write, eslint

add factories and test cases for new permit application statuses
  app/models/revision_request.rb
  spec/concerns/permit_application_search_spec.rb
  spec/factories/permit_applications.rb
  spec/factories/revision_requests.rb
  spec/factories/submission_version.rb
  spec/factories/submission_versions.rb
Due: stree --write

[bphh-157] Address PR comments. Includes variable renaming, new constants file and other cleanup
  app/blueprints/permit_collaboration_blueprint.rb
  app/controllers/api/concerns/search/collaborators.rb
  app/controllers/api/permit_collaborations_controller.rb
  app/frontend/components/domains/external-api-key/external-api-key-modal-sub-route.tsx
  app/frontend/components/domains/external-api-key/grid-header.tsx
  app/frontend/components/domains/permit-application/block-collaborator-assignment-management/collaborator-assignment-popover.tsx
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/sections-display.tsx
  app/frontend/components/domains/requirement-template/template-versions-sidebar.tsx
  app/frontend/components/domains/step-code/checklist/pdf-content/completed-by/index.tsx
  app/frontend/components/shared/contact/create-edit-contact-modal.tsx
  app/frontend/components/shared/modals/remove-confirmation-modal.tsx
  app/frontend/constants/formio-constants.ts
  app/frontend/constants/index.ts
  app/frontend/models/permit-application.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/notification-store.ts
  app/frontend/utils/formio-component-traversal.ts
  app/policies/collaborator_policy.rb
  app/policies/permit_collaboration_policy.rb
  config/routes.rb
Due: prettier --write, eslint, stree --write

[bphh-157] Fix merge errors
  app/frontend/models/permit-application.ts
Due: prettier --write, eslint

[bphh-1797] Refactor PermitApplication form_json service, controller and blueprint to filter out requirement block based on collaboration permissions
  app/blueprints/permit_application_blueprint.rb
  app/controllers/api/permit_applications_controller.rb
  app/models/permit_application.rb
  app/services/permit_application/form_json_service.rb
Due: stree --write

[bphh-1797] Add collaboration indicator for permit application card
  app/blueprints/permit_application_blueprint.rb
  app/frontend/components/shared/permit-applications/permit-application-card.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint, stree --write

WIP
  app/controllers/api/concerns/search/permit_applications.rb
  app/jobs/automated_compliance/autopopulate_job.rb
  app/jobs/automated_compliance/digital_seal_validator_job.rb
  app/jobs/zipfile_job.rb
  app/models/permit_application.rb
  app/policies/permit_application_policy.rb
  app/services/promote_user.rb
  db/data/20240726232024_reindex_permit_application_for_collaborator_ids.rb
  db/data_schema.rb
Due: stree --write

[bphh-1797] reindex permit application if collaborator user or permit collaboration collaborator id changes
  app/models/collaborator.rb
  app/models/permit_collaboration.rb
Due: stree --write

[bphh-1797] format returned submission data to filter out data user has no permission for
  app/blueprints/permit_application_blueprint.rb
  app/models/permit_application.rb
  app/services/promote_user.rb
Due: stree --write

[bphh-1797] Update collaboration invitation logic to find user by omniauth email id
  app/services/permit_collaboration/collaboration_management_service.rb
Due: stree --write

add migration to reindex permit applications
  db/data/20240621234529_create_submission_versions.rb
Due: stree --write

commit for re-test
  app/models/permit_application.rb
Due: stree --write

[bphh-1797] Implement submission_data merging based on permissions for permit application update
  app/blueprints/collaborator_blueprint.rb
  app/blueprints/permit_application_blueprint.rb
  app/blueprints/user_blueprint.rb
  app/controllers/api/permit_applications_controller.rb
  app/models/permit_application.rb
  app/policies/permit_application_policy.rb
  app/services/permit_application/submission_data_service.rb
Due: stree --write

[bphh-1797] Add submission block modal for collaborators. Update collaboration copy for submitted permit card
  app/frontend/components/shared/permit-applications/permit-application-card.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
Due: prettier --write, eslint

[bphh-1797] Add collaboration assignment popover permissioning
  app/frontend/components/domains/permit-application/block-collaborator-assignment-management/collaborator-assignment-popover.tsx
Due: prettier --write, eslint

[bphh-1797] Add better filtering of params for permit application update, disable UI elements and add more indicators for collaborators
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/shared/permit-applications/permit-application-submit-modal.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/policies/permit_application_policy.rb
Due: prettier --write, eslint, stree --write

fix showing past revision value, updating submitted, pa rev styling, disabled scroll inks, submitted pa version update policy
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/revision-sidebar.tsx
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/components/shared/permit-applications/scroll-link.tsx
  app/frontend/components/shared/revisions/revision-modal.tsx
  app/policies/permit_application_policy.rb
Due: prettier --write, eslint, stree --write

fix form editability and diff loading
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/models/user.ts
Due: prettier --write, eslint

[bphh-1797] Remove extra space in copy
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

fix extra revision button and defaulting bug
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/requirement-template/builder-bottom-floating-buttons.tsx
  app/frontend/components/shared/revisions/revision-modal.tsx
  app/frontend/utils/formio-component-traversal.ts
  app/frontend/utils/formio-helpers.ts
Due: prettier --write, eslint

[bphh-1798] WIP collaborators sidebar. And implement designated submitter selector
  app/frontend/components/domains/permit-application/block-collaborator-assignment-management/collaborator-assignment-popover.tsx
  app/frontend/components/domains/permit-application/collaborator-management/block-collaborator-assignment-management.tsx
  app/frontend/components/domains/permit-application/collaborator-management/collaboration-assignment-popover-content.tsx
  app/frontend/components/domains/permit-application/collaborator-management/collaborator-assignment-popover.tsx
  app/frontend/components/domains/permit-application/collaborator-management/collaborator-invite-popover-content.tsx
  app/frontend/components/domains/permit-application/collaborator-management/collaborators-sidebar.tsx
  app/frontend/components/domains/permit-application/collaborator-management/designated-submitter-assignment-popover.tsx
  app/frontend/components/domains/permit-application/collaborator-management/reinvite.tsx
  app/frontend/components/domains/permit-application/collaborator-management/types.ts
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/services/permit_collaboration/collaboration_management_service.rb
Due: prettier --write, eslint, stree --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
