Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

updated home page details
  app/frontend/components/domains/landing/index.tsx
  app/frontend/i18n/i18n.ts
  app/services/permit_classification_seeder.rb
  public/Building Permit Hub Structure_May 16_2024.pdf
Due: prettier --write, eslint, stree --write

hotfix link
  app/frontend/components/domains/landing/index.tsx
Due: prettier --write, eslint

[bphh-1401] Fix bug with req block modal state not resetting after create
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
Due: prettier --write, eslint

add last minute landing ui updates
  app/frontend/components/domains/landing/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

move enabled jurisdictions to constants
  app/frontend/components/domains/landing/index.tsx
  app/frontend/constants.ts
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Add contact edit and delete modal and related functionality
  app/controllers/api/contacts_controller.rb
  app/frontend/components/shared/contact/contact-modal.tsx
  app/frontend/components/shared/contact/create-contact-modal.tsx
  app/frontend/components/shared/contact/create-edit-contact-modal.tsx
  app/frontend/components/shared/modals/confirm-delete-modal.tsx
  app/frontend/components/shared/modals/confirmation-modal.tsx
  app/frontend/components/shared/select/selectors/contact-select.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/contact-store.ts
  app/frontend/types/types.ts
  app/frontend/utils/utility-functions.ts
  app/policies/contact_policy.rb
  config/locales/en.yml
  config/routes.rb
Due: prettier --write, eslint, stree --write

Add review manager flow for retrieving and reviewing template changes
  .env.example
  app/blueprints/compare_requirements_blueprint.rb
  app/blueprints/notification_blueprint.rb
  app/controllers/api/template_versions_controller.rb
  app/frontend/components/domains/home/notifications/notifications-popover.tsx
  app/frontend/components/domains/permit-application/compare-requirements-box.tsx
  app/frontend/components/domains/permit-application/errors-box.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/index.tsx
  app/frontend/components/domains/requirement-template/sections-display.tsx
  app/frontend/components/domains/requirement-template/sections-sidebar.tsx
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/components/shared/base/custom-message-box.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/components/shared/permit-applications/scroll-link.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement.ts
  app/frontend/models/template-version.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/root-store.ts
  app/frontend/types/api-responses.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/template_section_block.rb
  app/models/template_version.rb
  app/policies/template_version_policy.rb
  app/services/notification_service.rb
  app/services/template_versioning_service.rb
  config/initializers/load_settings.rb
  config/initializers/simple_feed.rb
  config/routes.rb
  config/settings.yml
Due: prettier --write, eslint, stree --write

refactor websocket event constants
  app/blueprints/notification_blueprint.rb
  app/frontend/components/domains/home/notifications/notifications-popover.tsx
  app/frontend/stores/notification-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/jobs/automated_compliance/autopopulate_job.rb
  app/jobs/automated_compliance/digital_seal_validator_job.rb
  app/models/template_version.rb
  app/services/constants/notification_action_types.rb
  app/services/constants/socket_types.rb
  app/services/notification_service.rb
Due: prettier --write, eslint, stree --write

add updatable permit applications and submitter notifications
  app/blueprints/permit_application_blueprint.rb
  app/controllers/api/permit_applications_controller.rb
  app/controllers/api/template_versions_controller.rb
  app/frontend/components/domains/home/notifications/notifications-popover.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/submissions-inbox-setup-screen/editable-block.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/permit-application/compare-requirements-box.tsx
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/errors-box.tsx
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/components/shared/permit-applications/scroll-link.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/permit-application-store.ts
  app/frontend/types/types.ts
  app/models/permit_application.rb
  app/models/requirement.rb
  app/models/requirement_block.rb
  app/models/template_version.rb
  app/policies/permit_application_policy.rb
  app/services/template_versioning_service.rb
  config/locales/en.yml
  config/routes.rb
Due: prettier --write, eslint, stree --write

prevent floating compare box from covering other buttons
  app/frontend/components/domains/permit-application/compare-requirements-box.tsx
  app/frontend/components/shared/permit-applications/scroll-link.tsx
Due: prettier --write, eslint

disable submitting out of date permit application
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/models/permit_application.rb
  app/models/requirement.rb
  app/models/requirement_block.rb
Due: prettier --write, eslint, stree --write

hide read notifications by default
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/domains/home/notifications/notifications-popover.tsx
  app/frontend/components/shared/permit-applications/scroll-link.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint, stree --write

remove test for automatic draft version update
  app/services/notification_service.rb
  spec/services/template_versioning_service_spec.rb
Due: stree --write

remove uneeded shared confirm modals
  app/frontend/components/shared/contact/create-edit-contact-modal.tsx
  app/frontend/components/shared/modals/confirm-delete-modal.tsx
  app/frontend/components/shared/modals/confirmation-modal.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

address pr comments
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/index.tsx
  app/frontend/components/shared/permit-applications/scroll-link.tsx
  app/models/template_version.rb
  app/services/template_versioning_service.rb
Due: prettier --write, eslint, stree --write

fix errors after rebase
  app/controllers/api/template_versions_controller.rb
  app/frontend/components/shared/chefs/styles.scss
  app/services/template_versioning_service.rb
Due: stree --write

init set for disabled block iDs for correct type
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/sections-display.tsx
Due: prettier --write, eslint

remove debugging
  app/controllers/api/template_versions_controller.rb
  app/services/template_versioning_service.rb
Due: stree --write

wip - upgrade customization update event and data
  app/models/jurisdiction_template_version_customization.rb
  app/services/notification_service.rb
Due: stree --write

Fix issue accepting invite with existing BCeID
  app/services/merge_submitter_with_invited_user.rb
Due: stree --write

apply nokogiri and skidekiq patches
  Gemfile
  Gemfile.lock
  package-lock.json
  package.json
Due: none

[bphh-1340] Refactor external routes with versioning
  app/controllers/external_api/v1/permit_applications_controller.rb
  config/routes.rb
Due: stree --write

WIP
  Gemfile
  Gemfile.lock
  config/initializers/rswag_api.rb
  config/initializers/rswag_ui.rb
  config/routes.rb
  spec/requests/external_api/v1/permit_applications_spec.rb
  spec/swagger_helper.rb
  swagger/external_api_docs/v1/swagger.yaml
Due: stree --write

[bphh-1288] Update api docs route and update title
  config/initializers/rswag_ui.rb
  config/routes.rb
  spec/swagger_helper.rb
  swagger/external_api/v1/swagger.yaml
Due: stree --write

[bphh-1288] Add more detailed description for docs, and add documentation for individual permit end point
  spec/requests/external_api/v1/permit_applications_spec.rb
  spec/swagger_helper.rb
  swagger/external_api/v1/swagger.yaml
Due: stree --write

[bphh-1288] Add webhook docs
  swagger/external_api/v1/swagger.yaml
Due: none

[bphh-1288] Add base docs for permit application search for external api
  app/blueprints/permit_application_blueprint.rb
  config/initializers/rswag_ui.rb
  spec/requests/external_api/v1/permit_applications_spec.rb
  spec/swagger_helper.rb
  swagger/external_api/v1/swagger.yaml
  swagger/external_api_docs/v1/swagger.yaml
Due: stree --write

configuration setup fix
  config/initializers/rswag_ui.rb
Due: stree --write

[bphh-1288] Api appi doc routes to be consitent in casing
  config/initializers/rswag_ui.rb
  config/routes.rb
Due: stree --write

[bphh-1288] Add docs and rswag test for rate limit and not found errors. Also updates descriptions and ordering of schemas
  spec/requests/external_api/v1/permit_applications_spec.rb
  spec/support/rack_attack_helper.rb
  spec/swagger_helper.rb
  swagger/external_api/v1/swagger.yaml
Due: stree --write

Add Redis to specs
  .github/workflows/pull-request.yml
Due: none

add migration to destroy all bceidboth users and update sensitive seeder
  db/migrate/20240529205744_remove_bceid_both_users.rb
  lib/tasks/sensitive_seeder.rake
Due: stree --write

[bphh-1288] Update api doc copy
  spec/requests/external_api/v1/permit_applications_spec.rb
  spec/swagger_helper.rb
  swagger/external_api/v1/swagger.yaml
Due: stree --write

[bphh-1288] Move webhook doc generation to rswag and fix grouping of some request specs
  spec/requests/external_api/v1/permit_applications_spec.rb
  spec/swagger_helper.rb
  swagger/external_api/v1/swagger.yaml
Due: stree --write

Fix bug with api key list not loading for regional and review managers
  app/controllers/api/external_api_keys_controller.rb
Due: stree --write

[bphh-1288] Add info banner for external api screen
  app/frontend/components/domains/external-api-key/index.tsx
  app/frontend/components/shared/base/callout-banner.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

use an endpoint that has arcgis instead of arcserver
  app/services/wrappers/ltsa_parcel_map_bc.rb
  app/services/wrappers/ltsa_parcel_map_bc_gis.rb
Due: stree --write

add backend search data for if a jurisdiciton is set up and show on landing
  app/blueprints/jurisdiction_blueprint.rb
  app/controllers/api/concerns/search/jurisdictions.rb
  app/frontend/components/domains/jurisdictions/index.tsx
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/components/domains/jurisdictions/limited-jurisdiction-index-screen.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/landing/index.tsx
  app/frontend/components/domains/permit-application/checklist-sidebar.tsx
  app/frontend/components/domains/users/accept-invitation-screen.tsx
  app/frontend/constants.ts
  app/frontend/hooks/resources/use-jurisdiction.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/jurisdiction.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/jurisdiction-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/jurisdiction.rb
  app/models/permit_type_submission_contact.rb
  app/services/wrappers/geocoder.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

optimize inbox set up check and paramaterize enabled search per page
  app/frontend/components/domains/landing/index.tsx
  app/frontend/stores/jurisdiction-store.ts
  app/models/jurisdiction.rb
Due: prettier --write, eslint, stree --write
