Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

adding event handling to the start click
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/models/requirement-block.ts
  app/services/requirement_form_json_service.rb
Due: prettier --write, eslint, stree --write

Updated the PR 798
  app/controllers/api/concerns/search/permit_applications.rb
  app/frontend/components/domains/permit-application/permit-application-filters-menu.tsx
  app/frontend/hooks/use-search.ts
  app/frontend/stores/permit-application-store.ts
  app/frontend/types/enums.ts
  app/models/permit_application.rb
Due: prettier --write, eslint, stree --write

fix formatting
  app/frontend/components/domains/permit-application/permit-application-filters-menu.tsx
Due: prettier --write, eslint

Debugging the code
  app/frontend/components/domains/permit-application/permit-application-filters-menu.tsx
  app/frontend/stores/permit-application-store.ts
Due: prettier --write, eslint

Code refinement
  app/controllers/api/concerns/search/permit_applications.rb
  app/frontend/components/domains/permit-application/permit-application-filters-menu.tsx
  app/frontend/stores/permit-application-store.ts
Due: prettier --write, eslint, stree --write

BPHH-1790 Integration of Filters on permit table
  app/controllers/api/concerns/search/permit_applications.rb
  app/frontend/components/domains/permit-application/index.tsx
  app/frontend/components/domains/permit-application/permit-application-filters-menu.tsx
  app/frontend/hooks/use-search.ts
  app/frontend/i18n/i18n.ts
  app/frontend/lib/create-search-model.ts
  app/frontend/stores/permit-application-store.ts
  app/frontend/types/enums.ts
  app/models/permit_application.rb
Due: prettier --write, eslint, stree --write

Updated PermitApplicationFiltersMenu component self closing
  app/frontend/components/domains/permit-application/index.tsx
Due: prettier --write, eslint

Add project details page
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/frontend/components/domains/step-code/nav-bar/index.tsx
  app/frontend/components/domains/step-code/nav-bar/part-3-nav-links.tsx
  app/frontend/components/domains/step-code/part-3/form-section/energy-setup.tsx
  app/frontend/components/domains/step-code/part-3/form-section/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/location-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/project-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/start-page.tsx
  app/frontend/components/domains/step-code/part-3/index.tsx
  app/frontend/components/domains/step-code/part-3/sidebar/index.tsx
  app/frontend/components/domains/step-code/part-3/sidebar/nav-sections.ts
  app/frontend/components/domains/step-code/part-3/sidebar/section-header.tsx
  app/frontend/components/domains/step-code/part-3/sidebar/section-link.tsx
  app/frontend/hooks/resources/use-part-3-step-code.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-3-step-code-checklist.ts
  app/frontend/models/part-3-step-code.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/step-code-store.ts
  app/frontend/styles/theme/components/input.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/concerns/permit_application_status.rb
  app/models/part_3_step_code/checklist.rb
  app/models/step_code.rb
  app/services/constants/part_3_step_code.rb
  db/migrate/20241203165751_add_newly_submitted_at_to_permit_applications.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

Refactored the code
  app/models/jurisdiction.rb
Due: stree --write

initial early access screens for admins and also adding the part9 step-code path which is currently not working
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/super-admin/early-access/early-access-screen.tsx
  app/frontend/components/domains/super-admin/early-access/step-code/index.tsx
  app/frontend/i18n/i18n.ts
  app/jobs/clear_early_access_job.rb
  config/sidekiq_cron_schedule.yml
  spec/jobs/clear_early_access_job_spec.rb
Due: prettier --write, eslint, stree --write

refactor user inviter to better handle role updates and regional review manager
  app/blueprints/invitation_blueprint.rb
  app/frontend/components/shared/base/inputs/user-input.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/user-store.ts
  app/frontend/types/api-responses.ts
  app/models/jurisdiction.rb
  app/models/user.rb
  app/services/jurisdiction/user_inviter.rb
Due: prettier --write, eslint, stree --write

fix jurisdiction input and make pin optional
  app/frontend/components/domains/permit-application/new-permit-application-screen.tsx
  app/frontend/i18n/i18n.ts
  app/models/permit_application.rb
Due: prettier --write, eslint, stree --write

Added Department field in My Profile For Reviewer, RM, RRM.
  app/blueprints/user_blueprint.rb
  app/controllers/api/users_controller.rb
  app/frontend/components/domains/users/profile-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/user.ts
  db/migrate/20241203165914_add_department_to_users.rb
  db/schema.rb
  spec/controllers/users_controller_spec.rb
Due: prettier --write, eslint, stree --write

Add support for building and location details page
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/controllers/api/part_3_building/checklists_controller.rb
  app/frontend/components/domains/step-code/part-3/form-section/location-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/project-details.tsx
  app/frontend/components/domains/step-code/part-3/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-3-step-code-checklist.ts
  app/models/part_3_step_code/checklist.rb
  app/models/permit_application.rb
  app/models/step_code.rb
  app/services/step_code/part_3/v0/requirements/references/climate_zone.rb
  app/services/step_code/part_3/v0/seeders/jurisdiction_hdd.rb
  config/initializers/inflections.rb
  db/data/20241204220552_seed_jursidictions_hdd.rb
  db/data_schema.rb
  db/migrate/20241030222657_create_part_3_step_code_tables.rb
  db/migrate/20241204184650_add_heating_degree_days_to_jurisdictions.rb
  db/schema.rb
  db/templates/jurisdiction_hdd_references.xlsx
Due: prettier --write, eslint, stree --write

Working on Edit rename option
  app/frontend/components/domains/jurisdictions/edit-jurisdiction-screen.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/shared/jurisdiction/manage-jurisdiction-menu.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

rename misnamed archive button component
  app/frontend/components/domains/jurisdictions/users/index.tsx
  app/frontend/components/domains/requirement-template/screens/requirement-template-screen.tsx
  app/frontend/components/domains/requirements-library/index.tsx
  app/frontend/components/domains/super-admin/early-access/requirement-templates/index.tsx
  app/frontend/components/domains/super-admin/early-access/requirements-library/index.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/users-screen.tsx
  app/frontend/components/shared/buttons/toggle-archived-button.tsx
  app/frontend/components/shared/select/selectors/sort-select.tsx
Due: prettier --write, eslint

Added option for Super Admin to rename the Jurisdiction Naming
  app/frontend/components/domains/jurisdictions/edit-jurisdiction-screen.tsx
Due: prettier --write, eslint

Fixed the failing test for quality gate
  app/frontend/components/domains/jurisdictions/edit-jurisdiction-screen.tsx
Due: prettier --write, eslint

Fail authentication on discarded user in lieu of before action check
  app/controllers/api/application_controller.rb
  app/controllers/api/sessions_controller.rb
  app/models/user.rb
Due: stree --write

fix URL search behaviour
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/hooks/resources/use-jurisdiction.ts
  app/frontend/hooks/use-sync-path-with-root-store.tsx
  app/frontend/lib/create-search-model.ts
  app/frontend/stores/root-store.ts
  app/frontend/utils/utility-functions.ts
Due: prettier --write, eslint

Updated the MR review changes
  app/frontend/components/domains/permit-application/permit-application-filters-menu.tsx
  app/frontend/lib/create-search-model.ts
Due: prettier --write, eslint

Removed unwanted props from filter menu component
  app/frontend/components/domains/permit-application/permit-application-filters-menu.tsx
Due: prettier --write, eslint

BPHH-2474 Add modelled out put form section with basic grid scaffold
  app/frontend/components/domains/step-code/part-3/form-section/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/modelled-energy-outputs-grid.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Add baseline occupancies sections & show errors
  app/blueprints/step_code/part_3/baseline_occupancy_blueprint.rb
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/controllers/api/part_3_building/checklists_controller.rb
  app/frontend/components/domains/step-code/part-3/form-section/baseline-occupancies.tsx
  app/frontend/components/domains/step-code/part-3/form-section/baseline-occupancies/baseline-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/baseline-occupancies/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/baseline-occupancies/occupancy-panel.tsx
  app/frontend/components/domains/step-code/part-3/form-section/baseline-occupancy.tsx
  app/frontend/components/domains/step-code/part-3/form-section/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/location-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/project-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/shared/section-heading.tsx
  app/frontend/components/domains/step-code/part-3/form-section/start-page.tsx
  app/frontend/components/domains/step-code/part-3/index.tsx
  app/frontend/components/domains/step-code/part-3/sidebar/index.tsx
  app/frontend/components/domains/step-code/part-3/sidebar/nav-sections.ts
  app/frontend/components/shared/base/custom-message-box.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-3-step-code-checklist.ts
  app/frontend/styles/theme/components/radio.ts
  app/frontend/styles/theme/index.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/part_3_step_code/checklist.rb
  app/models/part_3_step_code/occupancy_classification.rb
  db/migrate/20241206005741_add_unique_index_to_occupancy_classifications.rb
  db/schema.rb
  package-lock.json
  package.json
Due: prettier --write, eslint, stree --write

Add district energy section & update backend model
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/blueprints/step_code/part_3/fuel_type_blueprint.rb
  app/controllers/api/part_3_building/checklists_controller.rb
  app/frontend/components/domains/step-code/part-3/form-section/baseline-occupancies/baseline-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/baseline-occupancies/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/district-energy.tsx
  app/frontend/components/domains/step-code/part-3/form-section/location-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/project-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/start-page.tsx
  app/frontend/components/domains/step-code/part-3/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-3-step-code-checklist.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/part_3_step_code/checklist.rb
  app/models/part_3_step_code/fuel_type.rb
  db/migrate/20241207001055_rename_fuel_type_name_to_key.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

Refactored the code
  app/frontend/components/domains/users/profile-screen.tsx
Due: prettier --write, eslint

Add screens for setting fuel types
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/frontend/components/domains/step-code/part-3/form-section/baseline-occupancies/baseline-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/district-energy.tsx
  app/frontend/components/domains/step-code/part-3/form-section/fuel-types.tsx
  app/frontend/components/domains/step-code/part-3/form-section/fuel-types/additional-fuel-types.tsx
  app/frontend/components/domains/step-code/part-3/form-section/fuel-types/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/location-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/project-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/start-page.tsx
  app/frontend/components/domains/step-code/part-3/sidebar/nav-sections.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-3-step-code-checklist.ts
  app/models/part_3_step_code/checklist.rb
  app/models/part_3_step_code/fuel_type.rb
  db/data/20241209190727_seed_default_fuel_types.rb
  db/data_schema.rb
Due: prettier --write, eslint, stree --write

BPHH 2474 Add uniqueness validations for energy_output uset type and name. Also adds relevant specs
  app/models/part_3_step_code/energy_output.rb
  spec/factories/part_3_step_code/energy_outputs.rb
  spec/factories/part_3_step_code/fuel_types.rb
  spec/models/part_3_step_code/energy_output_spec.rb
Due: stree --write

BPHH-2474 Add migration for use_type enum field on energy_outputs. Change name field to be nullable and add presence validation
  app/models/part_3_step_code/energy_output.rb
  db/migrate/20241209182000_add_use_type_to_energy_outputs.rb
  db/migrate/20241209182856_allow_null_name_in_energy_outputs.rb
  db/schema.rb
Due: stree --write

BPHH 2474 Add modelled_enrgy_output to api as nested attributes and create relevant blueprints
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/blueprints/step_code/part_3/energy_output_blueprint.rb
  app/controllers/api/part_3_building/checklists_controller.rb
  app/models/part_3_step_code/checklist.rb
Due: stree --write

WIP
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/modelled-energy-outputs-grid.tsx
  app/frontend/components/shared/select/selectors/fuel-type-select.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  db/schema.rb
Due: prettier --write, eslint, stree --write

fix visibility check on blocks during copy
  app/models/requirement_block.rb
Due: stree --write

Adds a branch confirmation step for deploys in GHA
  .github/workflows/dev.yml
  .github/workflows/prod.yml
  .github/workflows/test.yml
Due: none

refactor existing tables
  app/controllers/api/step_code_checklists_controller.rb
  app/controllers/api/step_codes_controller.rb
  app/frontend/components/domains/step-code/import.tsx
  app/models/part_9_step_code/building_characteristics_summary.rb
  app/models/part_9_step_code/checklist.rb
  app/models/part_9_step_code/data_entry.rb
  app/models/step_code.rb
  app/policies/part_9_step_code/checklist_policy.rb
  app/services/external_permit_application_service.rb
  app/services/step_code/compliance/check_requirements/energy/base.rb
  app/services/step_code/compliance/check_requirements/zero_carbon/base.rb
  db/migrate/20241029223207_update_step_code_tables.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

Initial structure for generating part 3 checklist
  app/controllers/api/step_codes_controller.rb
  app/models/part_3_step_code/checklist.rb
  app/models/part_3_step_code/document_reference.rb
  app/models/part_3_step_code/energy_output.rb
  app/models/part_3_step_code/fuel_type.rb
  app/models/part_3_step_code/make_up_air_fuel.rb
  app/models/part_3_step_code/occupancy_classification.rb
  app/services/constants/part_3_step_code.rb
  app/services/step_code/compliance/check_requirements/zero_carbon/co2.rb
  app/services/step_code/compliance/check_requirements/zero_carbon/ghg.rb
  app/services/step_code/compliance/check_requirements/zero_carbon/prescriptive.rb
  app/services/step_code/part_3/v0/generate_reports.rb
  app/services/step_code/part_3/v0/lookup_requirements.rb
  app/services/step_code/part_3/v0/requirements/baseline.rb
  app/services/step_code/part_3/v0/requirements/baseline_occupancy.rb
  app/services/step_code/part_3/v0/requirements/references/climate_zone.rb
  app/services/step_code/part_3/v0/requirements/references/energy.rb
  app/services/step_code/part_3/v0/requirements/references/zero_carbon.rb
  app/services/step_code/part_3/v0/requirements/step_code.rb
  app/services/step_code/part_3/v0/requirements/step_code_occupancy.rb
  app/services/step_code/part_3/v0/requirements/whole_building.rb
  app/services/step_code/part_3/v1/generate_reports.rb
  app/services/step_code/part_9/data_entry_from_hot2000.rb
  app/services/step_code/part_9/data_entry_hot2000_mapper.rb
  app/services/step_code/part_9/meui_references_seeder.rb
  app/services/step_code/part_9/references.rb
  app/services/step_code/part_9/tedi_references_seeder.rb
  config/initializers/inflections.rb
  db/migrate/20241030222657_create_part_3_step_code_tables.rb
  db/schema.rb
  db/seeds.rb
  lib/tasks/seed_prod.rake
  spec/factories/part_3_step_code/checklists.rb
  spec/factories/part_3_step_code/occupancy_classifications.rb
  spec/factories/part_3_step_codes.rb
  spec/services/step_code/compliance/check_requirements/energy/meui_spec.rb
  spec/services/step_code/compliance/check_requirements/energy/tedi_spec.rb
  spec/services/step_code/part_3/v0/compliance/generate_reports_spec.rb
  spec/services/step_code/part_3/v1/compliance/generate_reports_spec.rb
Due: stree --write

Add overall compliance metrics
  app/services/step_code/compliance/check_requirements/energy/meui.rb
  app/services/step_code/compliance/check_requirements/energy/tedi.rb
  app/services/step_code/part_3/v0/lookup_requirements.rb
  app/services/step_code/part_3/v1/evaluate_performance.rb
  app/services/step_code/part_3/v1/generate_reports.rb
  app/services/step_code/part_3/v1/performance/adjusted_results.rb
  app/services/step_code/part_3/v1/performance/base.rb
  app/services/step_code/part_3/v1/performance/corridor_pressurization_adjustment.rb
  app/services/step_code/part_3/v1/performance/overall_compliance.rb
  app/services/step_code/part_3/v1/performance/results_as_modelled.rb
  app/services/step_code/part_3/v1/performance/suite_sub_metering_adjustment.rb
  spec/services/step_code/part_3/v1/generate_reports_spec.rb
  spec/support/shared_examples/part_3_step_code_compliance.rb
Due: stree --write

Add base skeleton for performance results services
  app/services/step_code/part_3/v1/evaluate_performance.rb
  app/services/step_code/part_3/v1/generate_reports.rb
  app/services/step_code/part_3/v1/performance/corridor_pressurization_adjustment.rb
  app/services/step_code/part_3/v1/performance/results_as_modelled.rb
  app/services/step_code/part_3/v1/performance/suite_sub_metering_adjustment.rb
  spec/services/step_code/part_3/v1/compliance/generate_reports_spec.rb
Due: stree --write

Implement corridor pressurization adjustment
  app/services/step_code/part_3/v1/performance/corridor_pressurization_adjustment.rb
  spec/support/shared_examples/part_3_step_code_compliance.rb
Due: stree --write
