Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

assign prefixes during jurisdiction prefix migrate
  db/migrate/20240207194117_add_number_to_permit_applications.rb
  db/migrate/20240210010209_make_jurisdiction_prefix_not_null.rb
Due: stree --write

[bphh-531] Add collapse all functionality for template builder
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/sections-display.tsx
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
Due: prettier --write, eslint

[bphh-531] Add scroll to section/block functionality for template builder
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/sections-display.tsx
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/sections-dnd/index.tsx
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/sections-sidebar.tsx
  package-lock.json
  package.json
Due: prettier --write, eslint

[bphh-531] Add current section detection logic and styles for template builder
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/sections-display.tsx
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/sections-sidebar.tsx
Due: prettier --write, eslint

[bphh-531] Refactor requirement block displays to accordion for template builder
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/sections-display.tsx
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/components/domains/requirements-library/requirement-block-display.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
Due: prettier --write, eslint

[bphh-531] Add scroll to top functionality and floating buttons
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/styles/theme/components/button.ts
Due: prettier --write, eslint

Fix RSpec tests / ensure latest schema is committed
  .github/workflows/pull-request.yml
  db/schema.rb
Due: stree --write

WIP
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/sections-display.tsx
Due: prettier --write, eslint

initial LTSA wrapper to fetch info to populate requirements on ttemplate
  .env.example
  app/controllers/api/permit_applications_controller.rb
  app/jobs/application_job.rb
  app/jobs/automated_compliance/autopopulate_job.rb
  app/jobs/automated_compliance/digital_seal_validator_job.rb
  app/models/permit_application.rb
  app/models/requirement.rb
  app/models/requirement_block.rb
  app/models/requirement_template.rb
  app/models/requirement_template_section.rb
  app/services/automated_compliance/alr_validator.rb
  app/services/automated_compliance/parcel_info_extractor.rb
  app/services/integrations/ltsa_parcel_map_bc.rb
  config/environments/test.rb
  spec/factories/requirement_template_sections.rb
  spec/factories/requirement_templates.rb
  spec/jobs/automated_compliance/autopopulate_job_spec.rb
  spec/services/automated_compliance/alr_validator_spec.rb
  spec/services/automated_compliance/parcel_info_extractor_spec.rb
  spec/support/vcr_setup.rb
  spec/vcr_cassettes/automated_compliance/parcel_info_extractor/details.yml
Due: stree --write

working autopopulate on save
  app/controllers/api/permit_applications_controller.rb
  app/jobs/automated_compliance/digital_seal_validator_job.rb
  app/models/permit_application.rb
  spec/services/automated_compliance/digital_seal_validator_spec.rb
Due: stree --write

updated CI env variables
  .github/workflows/pull-request.yml
Due: none

remove alr validator until we need it later
  .env.example
  app/services/automated_compliance/alr_validator.rb
  db/schema.rb
  spec/services/automated_compliance/alr_validator_spec.rb
Due: stree --write

Add ability to initialize step code from H2K XML
  app/models/step_code.rb
  app/models/step_code_data_entry.rb
  app/services/step_code/data_entry_hot2000_mapper.rb
  app/services/step_code/initialize_from_hot2000.rb
  db/migrate/20240201232041_create_step_codes.rb
  db/migrate/20240202233603_create_step_code_data_entries.rb
  db/schema.rb
Due: stree --write

Add service to check step code compliance
  app/models/mechanical_energy_use_intensity_reference.rb
  app/models/step_code.rb
  app/models/step_code_checklist.rb
  app/models/thermal_energy_demand_intensity_reference.rb
  app/services/step_code/compliance/check_requirements/base.rb
  app/services/step_code/compliance/check_requirements/energy/airtightness.rb
  app/services/step_code/compliance/check_requirements/energy/base.rb
  app/services/step_code/compliance/check_requirements/energy/meui.rb
  app/services/step_code/compliance/check_requirements/energy/tedi.rb
  app/services/step_code/compliance/check_requirements/zero_carbon/base.rb
  app/services/step_code/compliance/check_requirements/zero_carbon/co2.rb
  app/services/step_code/compliance/check_requirements/zero_carbon/ghg.rb
  app/services/step_code/compliance/check_requirements/zero_carbon/prescriptive.rb
  app/services/step_code/compliance/propose_step/base.rb
  app/services/step_code/compliance/propose_step/energy.rb
  app/services/step_code/compliance/propose_step/zero_carbon.rb
  app/services/step_code/meui_references_seeder.rb
  app/services/step_code/references.rb
  app/services/step_code/tedi_references_seeder.rb
  config/initializers/inflections.rb
  db/migrate/20240130185555_create_mechanical_energy_use_intensity_references.rb
  db/migrate/20240201003400_create_thermal_energy_demand_intensity_references.rb
  db/migrate/20240206221124_create_step_code_checklists.rb
  db/seeds.rb
  db/templates/meui_references.xlsx
  db/templates/tedi_references.xlsx
Due: stree --write

Add specs for step code compliance
  app/models/step_code.rb
  spec/factories/step_code_checklists.rb
  spec/factories/step_code_data_entries.rb
  spec/factories/step_codes.rb
  spec/services/step_code/compliance/check_requirements/energy/airtightness_spec.rb
  spec/services/step_code/compliance/check_requirements/energy/meui_spec.rb
  spec/services/step_code/compliance/check_requirements/energy/tedi_spec.rb
  spec/services/step_code/compliance/check_requirements/zero_carbon/co2_spec.rb
  spec/services/step_code/compliance/check_requirements/zero_carbon/ghg_spec.rb
  spec/services/step_code/compliance/check_requirements/zero_carbon/prescriptive_spec.rb
  spec/services/step_code/compliance/propose_step/base_spec.rb
  spec/support/shared_examples/step_code_compliance.rb
Due: stree --write

[bphh-594] Fixes issue with adding new section and section block not having front-end ids causing issues with reordering and not saving new sections properly
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/sections-display.tsx
Due: prettier --write, eslint

put back permit applications index scope
  app/controllers/api/permit_applications_controller.rb
Due: stree --write

[bphh-599] Disable the addition of same blocks to the same sections for early feedback and as back-end validation for this is not user friendly
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/sections-display.tsx
  app/frontend/components/domains/requirements-library/requirements-library-drawer.tsx
Due: prettier --write, eslint

[bphh-598] Align place ment of remove button to requirement blocks in template section
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/sections-display.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
Due: prettier --write, eslint

[bphh-485] Refactor requirement blocks to have persistent edit mode with done button.
  app/frontend/components/domains/requirements-library/requirement-field-edit/options-menu.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
Due: prettier --write, eslint

[bphh-560] Implement missing checkbox and select edit mode for requirement block
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
Due: prettier --write, eslint

[bphh-591] Refactor add sections in template builder to add sections to end of form instead of top, and add a scroll to function after
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/index.tsx
Due: prettier --write, eslint

dynamically changing sidebar with section highlight
  app/blueprints/permit_application_blueprint.rb
  app/frontend/components/domains/home/review-manager-home-screen.tsx
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/jurisdictions/users/index.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/permit-application-screen.tsx
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/users/invite-screen.tsx
  app/frontend/components/shared/base/footer.tsx
  app/frontend/components/shared/base/not-found-screen.tsx
  app/frontend/components/shared/permit-applications/permit-application-card.tsx
  app/frontend/components/shared/permit-applications/permit-application-status-tag.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/entrypoints/application.tsx
  app/frontend/hooks/resources/use-jurisdiction.ts
  app/frontend/hooks/resources/use-permit-application.ts
  app/frontend/hooks/use-mount-status.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/lib/with-merge.ts
  app/frontend/models/permit-application.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/jurisdiction-store.ts
  app/frontend/stores/permit-application-store.ts
  app/frontend/types/types.ts
  app/models/permit_application.rb
  app/policies/permit_application_policy.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

add submission dependent sidebar checkmarks
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/entrypoints/application.tsx
  app/frontend/models/permit-application.ts
  app/frontend/types/types.ts
Due: prettier --write, eslint, stree --write

dynamically changing sidebar with section highlight
  app/blueprints/permit_application_blueprint.rb
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/domains/home/review-manager-home-screen.tsx
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/jurisdictions/users/index.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/permit-application-screen.tsx
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/users/invite-screen.tsx
  app/frontend/components/shared/base/footer.tsx
  app/frontend/components/shared/base/not-found-screen.tsx
  app/frontend/components/shared/permit-applications/permit-application-card.tsx
  app/frontend/components/shared/permit-applications/permit-application-status-tag.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/entrypoints/application.tsx
  app/frontend/hooks/resources/use-jurisdiction.ts
  app/frontend/hooks/resources/use-permit-application.ts
  app/frontend/hooks/use-mount-status.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/lib/with-merge.ts
  app/frontend/models/permit-application.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/jurisdiction-store.ts
  app/frontend/stores/permit-application-store.ts
  app/frontend/types/types.ts
  app/models/permit_application.rb
  app/models/requirement_block.rb
  app/models/requirement_template_section.rb
  app/policies/permit_application_policy.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

only migrate, do not always run seeds
  bin/entrypoint.sh
Due: none

add collapse and scroll to top
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/models/requirement_block.rb
  app/models/requirement_template_section.rb
Due: prettier --write, eslint, stree --write

refactor headings to use css for decoration
  app/frontend/components/domains/authentication/forgot-password-screen.tsx
  app/frontend/components/domains/authentication/login-screen.tsx
  app/frontend/components/domains/authentication/register-screen.tsx
  app/frontend/components/domains/authentication/reset-password-screen.tsx
  app/frontend/components/domains/home/home-screen-box.tsx
  app/frontend/components/domains/home/submitter-home-screen.tsx
  app/frontend/components/domains/jurisdictions/contacts/contact-grid.tsx
  app/frontend/components/domains/jurisdictions/index.tsx
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/components/domains/jurisdictions/new-jurisdiction-screen.tsx
  app/frontend/components/domains/landing/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/index.tsx
  app/frontend/components/domains/permit-application/new-permit-application-screen.tsx
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/builder-header.tsx
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/sections-sidebar.tsx
  app/frontend/components/domains/requirement-template/index.tsx
  app/frontend/components/domains/requirements-library/index.tsx
  app/frontend/components/domains/users/accept-invitation-screen.tsx
  app/frontend/components/domains/users/invite-screen.tsx
  app/frontend/components/domains/users/profile-screen.tsx
  app/frontend/components/shared/base/flash-message.tsx
  app/frontend/components/shared/base/footer.tsx
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/components/shared/permit-classification/activity-list.tsx
  app/frontend/components/shared/permit-classification/permit-type-radio-select.tsx
  app/models/requirement_block.rb
Due: prettier --write, eslint, stree --write

updated seeding for invalid types, provincial referrals, updated phone types to use chefs
  app/models/requirement.rb
  app/services/permit_classification_seeder.rb
  app/services/requirements_from_xlsx_seeder.rb
  db/templates/Core Permit Requirements List.xlsx
Due: stree --write

update conditionals to work
  app/models/requirement.rb
  app/services/permit_classification_seeder.rb
  app/services/requirements_from_xlsx_seeder.rb
  db/templates/Core Permit Requirements List.xlsx
Due: stree --write

improve form structure
  app/frontend/components/domains/permit-application/checklist-sidebar.tsx
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/styles/theme/components/button.ts
  app/frontend/utils/utility-funcitons.ts
Due: prettier --write, eslint

fix sidebar maxW
  app/frontend/components/domains/permit-application/checklist-sidebar.tsx
Due: prettier --write, eslint

Refactor shared form control
  app/frontend/components/domains/authentication/register-screen.tsx
  app/frontend/components/domains/jurisdictions/contacts/contact-grid.tsx
  app/frontend/components/domains/jurisdictions/new-jurisdiction-screen.tsx
  app/frontend/components/domains/requirement-template/new-requirement-tempate-screen.tsx
  app/frontend/components/domains/users/accept-invitation-screen.tsx
  app/frontend/components/domains/users/profile-screen.tsx
  app/frontend/components/shared/base/inputs/user-input.tsx
  app/frontend/components/shared/form/email-form-control.tsx
  app/frontend/components/shared/form/input-form-control.tsx
Due: prettier --write, eslint

Add react vite plugin to fix hot reload
  app/views/layouts/application.html.erb
  package-lock.json
  package.json
  vite.config.ts
Due: prettier --write, eslint

Add service to check step code compliance
  app/models/mechanical_energy_use_intensity_reference.rb
  app/models/step_code.rb
  app/models/step_code_checklist.rb
  app/models/thermal_energy_demand_intensity_reference.rb
  app/services/step_code/compliance/check_requirements/energy/airtightness.rb
  app/services/step_code/compliance/check_requirements/energy/base.rb
  app/services/step_code/compliance/check_requirements/energy/meui.rb
  app/services/step_code/compliance/check_requirements/energy/tedi.rb
  app/services/step_code/compliance/check_requirements/zero_carbon/base.rb
  app/services/step_code/compliance/check_requirements/zero_carbon/co2.rb
  app/services/step_code/compliance/check_requirements/zero_carbon/ghg.rb
  app/services/step_code/compliance/check_requirements/zero_carbon/prescriptive.rb
  app/services/step_code/compliance/propose_step/base.rb
  app/services/step_code/compliance/propose_step/energy.rb
  app/services/step_code/compliance/propose_step/zero_carbon.rb
  app/services/step_code/meui_references_seeder.rb
  app/services/step_code/references.rb
  app/services/step_code/tedi_references_seeder.rb
  config/initializers/inflections.rb
  db/migrate/20240130185555_create_mechanical_energy_use_intensity_references.rb
  db/migrate/20240201003400_create_thermal_energy_demand_intensity_references.rb
  db/migrate/20240206221124_create_step_code_checklists.rb
  db/schema.rb
  db/seeds.rb
  db/templates/meui_references.xlsx
  db/templates/tedi_references.xlsx
Due: stree --write

WIP
  app/controllers/api/step_codes_controller.rb
  app/frontend/components/domains/home/submitter-home-screen.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/step-code/index.tsx
  app/frontend/components/domains/step-code/new.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/step-code.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/root-store.ts
  app/frontend/stores/step-code-store.ts
  app/models/step_code_data_entry.rb
  config/routes.rb
Due: prettier --write, eslint, stree --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
