Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

[bphh-609] Add migrations to drop JurisdictionTemplate and adds JurisdictionVersionCustomization to replace it
  app/models/jurisdiction.rb
  app/models/jurisdiction_requirement_template.rb
  app/models/jurisdiction_template_version_customization.rb
  app/models/requirement_template.rb
  app/models/template_version.rb
  db/migrate/20240215210244_create_template_versions.rb
  db/migrate/20240215220906_remove_jurisdiction_requirement_template.rb
  db/migrate/20240215223336_create_jurisdiction_template_version_customizations.rb
  db/schema.rb
  spec/factories/jurisdiction_template_version_customizations.rb
  spec/models/jurisdiction_template_version_customization_spec.rb
Due: stree --write

Fix wrong column name in migration
  db/migrate/20240215210244_create_template_versions.rb
  db/schema.rb
Due: stree --write

[bphh-610] Add specs for saving the state of requirement_template in a template version and fix bugs caught in test
  app/services/template_versioning_service.rb
  spec/factories/requirement_template_sections.rb
  spec/factories/requirement_templates.rb
  spec/factories/template_section_blocks.rb
  spec/seeds/template_versioning_service_spec.rb
  spec/services/template_versioning_service_spec.rb
Due: stree --write

[bphh-609] Add migrations to drop JurisdictionTemplate and adds JurisdictionVersionCustomization to replace it
  db/schema.rb
Due: stree --write

[bphh-609] Add migration to add TemplateVersion model
  app/models/template_version.rb
  db/migrate/20240215210244_create_template_versions.rb
Due: stree --write

[bphh-610] Add spec for valid and invalid version date when there are existing template versions and fix bugs related to it
  app/services/template_versioning_service.rb
  spec/services/template_versioning_service_spec.rb
Due: stree --write

[bphh-610] Add initial schedule method and TemplateVersioningService with smoke tests
  app/blueprints/requirement_template_blueprint.rb
  app/blueprints/requirement_template_section_blueprint.rb
  app/models/requirement_template.rb
  app/services/template_versioning_service.rb
  spec/factories/requirement_template_sections.rb
  spec/factories/requirement_templates.rb
  spec/factories/template_versions.rb
  spec/seeds/template_versioning_service_spec.rb
Due: stree --write

[bphh-610] Add TemplateVersioningService to handle versioning related tasks
  Gemfile
  Gemfile.lock
  app/errors/template_versions_publish_error.rb
  app/services/template_versioning_service.rb
  spec/services/template_versioning_service_spec.rb
Due: stree --write

[bphh-609] Add migrations to drop JurisdictionTemplate and adds JurisdictionVersionCustomization to replace it
  app/models/requirement_template.rb
Due: stree --write

[bphh-612] Add api to schedule versioning
  app/controllers/api/requirement_templates_controller.rb
  app/frontend/services/api/index.ts
  app/policies/requirement_template_policy.rb
  app/services/template_versioning_service.rb
  config/locales/en.yml
  config/routes.rb
  spec/services/template_versioning_service_spec.rb
Due: prettier --write, eslint, stree --write

visual fixes for TEST
  app/frontend/components/domains/jurisdictions/index.tsx
  app/frontend/components/domains/permit-application/index.tsx
Due: prettier --write, eslint

add some fixes for TEST
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/shared/permit-applications/permit-application-card.tsx
  app/frontend/hooks/use-interval.ts
  app/frontend/services/api/index.ts
  lib/tasks/sensitive_seeder.rake
Due: prettier --write, eslint, stree --write

await logout before navigate to root
  app/frontend/components/domains/navigation/nav-bar.tsx
Due: prettier --write, eslint

fix user seeder
  lib/tasks/sensitive_seeder.rake
Due: none

[bphh-356] Add scheduling template capability from front-end
  app/blueprints/requirement_template_blueprint.rb
  app/blueprints/template_version_blueprint.rb
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/builder-header.tsx
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/controls-header.tsx
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/publish-schedule-modal.tsx
  app/frontend/components/shared/date-picker.tsx
  app/frontend/components/shared/remove-confirmation-modal.tsx
  app/frontend/constants.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement-template.ts
  app/frontend/models/template-version.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/requirement-template-store.ts
  app/frontend/stores/root-store.ts
  app/frontend/stores/template-version-store.ts
  app/frontend/types/enums.ts
  app/models/requirement_template.rb
  app/services/template_versioning_service.rb
  config/locales/en.yml
  db/schema.rb
  package-lock.json
  package.json
Due: prettier --write, eslint, stree --write

[bphh-356] Change app time zone to PST
  config/application.rb
Due: stree --write

Refactor PA search endpoint to service all roles, add reusable sort select
  app/controllers/api/concerns/search/permit_applications.rb
  app/controllers/api/jurisdictions_controller.rb
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/permit-application/index.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/components/shared/select/selectors/sort-select.tsx
  app/frontend/hooks/use-search.ts
  app/frontend/i18n/i18n.ts
  app/frontend/lib/create-search-model.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/permit-application-store.ts
  app/frontend/stores/user-store.ts
  app/models/permit_application.rb
  app/models/user.rb
  app/policies/jurisdiction_policy.rb
  app/policies/permit_application_policy.rb
  config/routes.rb
  spec/factories/users.rb
  spec/policies/permit_application_policy_spec.rb
Due: prettier --write, eslint, stree --write

wip
  app/controllers/api/geocoder_controller.rb
  app/frontend/components/shared/select/selectors/sites-select.tsx
  app/frontend/services/api/index.ts
  app/frontend/stores/geocoder-store.ts
  app/services/wrappers/geocoder.rb
  config/routes.rb
Due: prettier --write, eslint, stree --write

add multi pid select
  app/frontend/components/shared/select/selectors/sites-select.tsx
Due: prettier --write, eslint

add coordinate search for pid
  app/controllers/api/geocoder_controller.rb
  app/frontend/components/shared/select/selectors/sites-select.tsx
  app/services/integrations/ltsa_parcel_map_bc.rb
  app/services/wrappers/geocoder.rb
Due: prettier --write, eslint, stree --write

Add ability to initialize step code from H2K XML
  app/models/step_code.rb
  app/models/step_code_data_entry.rb
  app/services/step_code/data_entry_hot2000_mapper.rb
  app/services/step_code/initialize_from_hot2000.rb
  db/migrate/20240201232041_create_step_codes.rb
  db/migrate/20240202233603_create_step_code_data_entries.rb
  db/schema.rb
Due: stree --write

Add service to check step code compliance
  app/models/mechanical_energy_use_intensity_reference.rb
  app/models/step_code.rb
  app/models/step_code_checklist.rb
  app/models/thermal_energy_demand_intensity_reference.rb
  app/services/step_code/compliance/check_requirements/energy/airtightness.rb
  app/services/step_code/compliance/check_requirements/energy/base.rb
  app/services/step_code/compliance/check_requirements/energy/meui.rb
  app/services/step_code/compliance/check_requirements/energy/tedi.rb
  app/services/step_code/compliance/check_requirements/zero_carbon/base.rb
  app/services/step_code/compliance/check_requirements/zero_carbon/co2.rb
  app/services/step_code/compliance/check_requirements/zero_carbon/ghg.rb
  app/services/step_code/compliance/check_requirements/zero_carbon/prescriptive.rb
  app/services/step_code/compliance/propose_step/base.rb
  app/services/step_code/compliance/propose_step/energy.rb
  app/services/step_code/compliance/propose_step/zero_carbon.rb
  app/services/step_code/meui_references_seeder.rb
  app/services/step_code/references.rb
  app/services/step_code/tedi_references_seeder.rb
  config/initializers/inflections.rb
  db/migrate/20240130185555_create_mechanical_energy_use_intensity_references.rb
  db/migrate/20240201003400_create_thermal_energy_demand_intensity_references.rb
  db/migrate/20240206221124_create_step_code_checklists.rb
  db/schema.rb
  db/seeds.rb
  db/templates/meui_references.xlsx
  db/templates/tedi_references.xlsx
Due: stree --write

[bphh-665] Add api to retrieve template versions. Add corresponding front-end stores, models and fetchers
  app/blueprints/template_version_blueprint.rb
  app/controllers/api/template_versions_controller.rb
  app/frontend/hooks/resources/use-template-version.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/template-version.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/root-store.ts
  app/frontend/stores/template-version-store.ts
  app/frontend/types/types.ts
  app/policies/template_version_policy.rb
  config/routes.rb
Due: prettier --write, eslint, stree --write

add pid selector
  app/controllers/api/geocoder_controller.rb
  app/frontend/components/domains/permit-application/new-permit-application-screen.tsx
  app/frontend/components/shared/select/selectors/sites-select.tsx
  app/frontend/services/api/index.ts
  app/frontend/stores/geocoder-store.ts
Due: prettier --write, eslint, stree --write

[bphh-665] Add template version screen
  app/controllers/api/template_versions_controller.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/builder-header.tsx
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/editable-builder-header.tsx
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/index.tsx
  app/frontend/components/domains/requirement-template/sections-sidebar.tsx
  app/frontend/components/domains/requirement-template/template-version-screen/index.tsx
  app/frontend/components/domains/requirement-template/template-version-screen/sections-display.tsx
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/components/shared/requirement-template/template-status-tag.tsx
  app/frontend/components/shared/version-tag.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement-template.ts
  app/frontend/models/template-version.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/template-version-store.ts
  app/frontend/types/enums.ts
  app/frontend/utils/utility-funcitons.ts
Due: prettier --write, eslint, stree --write

[bphh-665] Add versions sidebar for template catalogue table
  app/blueprints/requirement_template_blueprint.rb
  app/frontend/components/domains/requirement-template/grid-header.tsx
  app/frontend/components/domains/requirement-template/index.tsx
  app/frontend/components/domains/requirement-template/template-versions-sidebar.tsx
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/i18n/i18n.ts
  app/frontend/models/template-version.ts
  app/frontend/types/enums.ts
  app/models/requirement_template.rb
  app/models/template_version.rb
Due: prettier --write, eslint, stree --write

Add specs for step code compliance
  app/models/step_code.rb
  spec/factories/step_code_checklists.rb
  spec/factories/step_code_data_entries.rb
  spec/factories/step_codes.rb
  spec/services/step_code/compliance/check_requirements/energy/airtightness_spec.rb
  spec/services/step_code/compliance/check_requirements/energy/meui_spec.rb
  spec/services/step_code/compliance/check_requirements/energy/tedi_spec.rb
  spec/services/step_code/compliance/check_requirements/zero_carbon/co2_spec.rb
  spec/services/step_code/compliance/check_requirements/zero_carbon/ghg_spec.rb
  spec/services/step_code/compliance/check_requirements/zero_carbon/prescriptive_spec.rb
  spec/services/step_code/compliance/propose_step/base_spec.rb
  spec/support/shared_examples/step_code_compliance.rb
Due: stree --write

Update compliance check with spreadsheet fixes
  app/controllers/api/step_codes_controller.rb
  app/frontend/components/domains/step-code/edit/compliance-summary/index.tsx
  app/frontend/components/domains/step-code/new/compliance-path-select.tsx
  app/frontend/components/domains/step-code/new/new.tsx
  app/frontend/components/domains/step-code/new/translation-prefix.ts
  app/frontend/i18n/i18n.ts
  app/models/step_code.rb
  app/services/step_code/compliance/check_requirements/energy/meui.rb
  app/services/step_code/compliance/check_requirements/energy/tedi.rb
  spec/services/step_code/compliance/check_requirements/energy/tedi_spec.rb
Due: prettier --write, eslint, stree --write

wip cant get correct coordinates
  Gemfile
  Gemfile.lock
  app/controllers/api/geocoder_controller.rb
  app/frontend/components/domains/permit-application/new-permit-application-screen.tsx
  app/frontend/components/shared/select/selectors/sites-select.tsx
  app/frontend/stores/geocoder-store.ts
  app/services/integrations/ltsa_parcel_map_bc.rb
  app/services/wrappers/geocoder.rb
Due: prettier --write, eslint, stree --write

only show next stage when done checking pids
  app/frontend/components/shared/select/selectors/sites-select.tsx
  app/frontend/stores/geocoder-store.ts
Due: prettier --write, eslint

add multi pid select
  app/controllers/api/geocoder_controller.rb
  app/frontend/components/domains/permit-application/new-permit-application-screen.tsx
  app/frontend/components/shared/select/selectors/sites-select.tsx
  app/frontend/services/api/index.ts
  app/frontend/stores/geocoder-store.ts
  app/services/integrations/ltsa_parcel_map_bc.rb
  app/services/wrappers/geocoder.rb
  config/routes.rb
Due: prettier --write, eslint, stree --write

add pa searchbility for submitters
  app/frontend/components/domains/permit-application/index.tsx
  app/frontend/components/shared/base/search-input.tsx
  app/frontend/styles/theme/foundations/colors.ts
  app/models/permit_application.rb
Due: prettier --write, eslint, stree --write

make sites select more reusable
  app/frontend/components/shared/select/selectors/sites-select.tsx
  app/services/wrappers/geocoder.rb
Due: prettier --write, eslint, stree --write

adding ability to have step code open from requirement form
  app/frontend/components/domains/requirements-library/requirement-field-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/enums.ts
  app/models/requirement.rb
  config/locales/en.yml
  db/templates/Core Permit Requirements List.xlsx
Due: prettier --write, eslint, stree --write

update stubs for jurisdiction templates
  app/controllers/api/permit_classifications_controller.rb
  app/models/jurisdiction.rb
Due: stree --write

fix template service spec
  spec/services/template_versioning_service_spec.rb
Due: stree --write

[bphh-610] Update seeds to publish a template version, and fix blueprint and front-end bug to display published template version
  Gemfile
  app/blueprints/requirement_template_blueprint.rb
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/builder-header.tsx
  app/frontend/components/domains/requirement-template/template-version-screen/index.tsx
  app/frontend/i18n/i18n.ts
  app/services/requirements_from_xlsx_seeder.rb
Due: prettier --write, eslint, stree --write

rebased - fix requirements validation and submission data object to use formRef
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/new-permit-application-screen.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/models/requirement.rb
Due: prettier --write, eslint, stree --write

rebased - refactor s3 import so our custom is not in chefs, update the way we create supporting documents and go back and update the front end with the values for download purposes
  app/blueprints/permit_application_blueprint.rb
  app/controllers/api/concerns/form_supporting_documents.rb
  app/controllers/api/permit_applications_controller.rb
  app/controllers/api/storage_controller.rb
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/shared/chefs/additional-formio/components/index.js
  app/frontend/components/shared/chefs/additional-formio/index.js
  app/frontend/components/shared/chefs/additional-formio/providers/index.d.ts
  app/frontend/components/shared/chefs/additional-formio/providers/index.js
  app/frontend/components/shared/chefs/additional-formio/providers/storage/index.d.ts
  app/frontend/components/shared/chefs/additional-formio/providers/storage/index.js
  app/frontend/components/shared/chefs/additional-formio/providers/storage/s3custom.d.ts
  app/frontend/components/shared/chefs/additional-formio/providers/storage/s3custom.js
  app/frontend/components/shared/chefs/custom-formio-components/index.d.ts
  app/frontend/components/shared/chefs/custom-formio-components/providers/index.d.ts
  app/frontend/components/shared/chefs/custom-formio-components/providers/storage/index.d.ts
  app/frontend/components/shared/chefs/custom-formio-components/providers/storage/index.js
  app/frontend/components/shared/chefs/custom-formio-components/providers/storage/s3custom.js
  app/frontend/components/shared/chefs/index.tsx
  app/frontend/models/permit-application.ts
  app/frontend/utils/formio-component-traversal.ts
  app/frontend/utils/uploads.ts
  app/jobs/automated_compliance/autopopulate_job.rb
  app/jobs/automated_compliance/digital_seal_validator_job.rb
  app/models/concerns/form_supporting_documents.rb
  app/models/concerns/traverse_data_json.rb
  app/models/permit_application.rb
  app/models/requirement.rb
  app/models/supporting_document.rb
  app/policies/supporting_document_policy.rb
  app/services/automated_compliance/digital_seal_validator.rb
  app/uploaders/file_uploader.rb
  config/initializers/shrine.rb
  config/routes.rb
  db/migrate/20240222072810_add_data_key_to_supporting_documents.rb
  db/migrate/20240222203547_modify_shrine_data_fields_to_jsonb.rb
  db/schema.rb
  db/templates/Core Permit Requirements List.xlsx
  spec/models/requirement_spec.rb
  spec/support/test_file.rb
Due: prettier --write, eslint, stree --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
