Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

HUB-5296 display confirmation modal after clicking save changes for published sheets
  app/frontend/components/domains/super-admin/info-document-modal.tsx
Due: prettier --write, eslint

Hub 5310 ✨ bug bash jurisdictions search field is visually disconnected from its label (#1950)
  app/frontend/components/domains/external-api-key/grid-header.tsx
  app/frontend/components/domains/external-api-key/index.tsx
  app/frontend/components/domains/jurisdictions/grid-header.tsx
  app/frontend/components/domains/jurisdictions/index.tsx
  app/frontend/components/domains/jurisdictions/limited-jurisdiction-index-screen.tsx
  app/frontend/components/domains/jurisdictions/users/grid-header.tsx
  app/frontend/components/domains/jurisdictions/users/index.tsx
  app/frontend/components/domains/question-bank/grid-header.tsx
  app/frontend/components/domains/question-bank/questions-table.tsx
  app/frontend/components/domains/requirement-template/screens/edit-jurisdiction-api-mapping-screen/grid-headers.tsx
  app/frontend/components/domains/requirement-template/screens/edit-jurisdiction-api-mapping-screen/index.tsx
  app/frontend/components/domains/requirements-library/grid-header.tsx
  app/frontend/components/domains/requirements-library/requirement-blocks-table.tsx
  app/frontend/components/domains/super-admin/reporting/grid-header.tsx
  app/frontend/components/domains/super-admin/reporting/reporting-screen.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/users-screen.tsx
  app/frontend/components/shared/base/model-search-input.tsx
  app/frontend/components/shared/base/search-input.tsx
  app/frontend/components/shared/grid/search-grid.tsx
  app/frontend/components/shared/requirement-template/requirement-template-grid.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

upgrade GitHub Actions to Node 24-compatible versions
  .github/actions/openshift-deploy/action.yml
  .github/workflows/dev.yml
  .github/workflows/helms-deploy.yml
  .github/workflows/prod.yml
  .github/workflows/pull-request.yml
  .github/workflows/test.yml
Due: none

Replace deployment reporting with using actions/github-script instead
  .github/actions/openshift-deploy/action.yml
  .github/actions/openshift-deploy/scripts/finish.cjs
  .github/actions/openshift-deploy/scripts/start.cjs
Due: none

update dockerfile apt-get packages
  devops/docker/app/Dockerfile
  devops/docker/app/Dockerfile.dev
Due: none

HUB-5296 update info sheets copy
  app/frontend/i18n/i18n.ts
  spec/controllers/site_configuration_controller_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5570 Scope External API search with policy_scope
  app/controllers/external_api/application_controller.rb
  app/controllers/external_api/concerns/search/permit_applications.rb
  app/controllers/external_api/permit_applications_controller.rb
  app/policies/external_api/permit_application_policy.rb
  spec/policies/external_api/permit_application_policy_spec.rb
  spec/requests/external_api/v1/permit_applications_controller_spec.rb
  spec/requests/external_api/v2/permit_applications_controller_spec.rb
  spec/support/policy_spec_helpers.rb
Due: stree --write

HUB-5327 make optional text consistent with label styles
  app/frontend/components/shared/form/email-form-control.tsx
  app/frontend/components/shared/form/input-form-control.tsx
Due: prettier --write, eslint

HUB-5327 allow empty project names on the client
  app/frontend/components/domains/permit-project/new-permit-project-screen.tsx
  app/frontend/i18n/i18n.ts
  app/models/permit_project.rb
Due: prettier --write, eslint, stree --write

HUB-5327 specs
  spec/models/permit_project_spec.rb
Due: stree --write

HUB-5127 adjust notification popover spacing
  app/frontend/components/domains/home/notifications/notifications-popover.tsx
Due: prettier --write, eslint

HUB-5551 include template category on for_filter options
  app/blueprints/options_blueprint.rb
  app/controllers/api/requirement_templates_controller.rb
Due: stree --write

HUB-5551 specs
  spec/controllers/requirement_templates_controller_spec.rb
Due: stree --write

HUB-5551 group permit type filters by category
  app/frontend/components/shared/filters/checkbox-filter.tsx
  app/frontend/components/shared/filters/inbox-filter.tsx
  app/frontend/types/types.ts
  app/frontend/utils/group-filter-options.ts
Due: prettier --write, eslint

update naming of template blueprint
  app/blueprints/requirement_template_option_blueprint.rb
  app/controllers/api/requirement_templates_controller.rb
Due: stree --write

HUB-5549 scroll training banner with nav bar
  app/frontend/components/domains/navigation/nav-bar-menu.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/onboarding/eula/index.tsx
  app/frontend/components/domains/overheating-code/index.tsx
  app/frontend/components/domains/permit-application/checklist-sidebar.tsx
  app/frontend/components/domains/permit-project/project-sidebar-tab-list.tsx
  app/frontend/components/domains/step-code/part-9/checklist/index.tsx
  app/frontend/hooks/scroll-peek-state.check.ts
  app/frontend/hooks/scroll-peek-state.ts
  app/frontend/hooks/use-scroll-aware-nav-bar.ts
  app/frontend/styles/global-theme-variables.scss
  app/frontend/styles/nav-bar-offset.ts
Due: prettier --write, eslint

Hub 5296 super admin can upload or replace a pdf with last updated and no version history browse and manage public adoption info documents (#1951)
  app/frontend/components/domains/super-admin/info-document-modal.tsx
  app/frontend/i18n/i18n.ts
  spec/controllers/site_configuration_controller_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5570 Add V2 package_ready webhook and versioned submission reads
  app/blueprints/permit_application_blueprint.rb
  app/blueprints/submission_version_blueprint.rb
  app/controllers/external_api/permit_applications_controller.rb
  app/controllers/external_api/v2/permit_applications_controller.rb
  app/jobs/permit_webhook_job.rb
  app/jobs/zipfile_job.rb
  app/models/concerns/permit_application_status.rb
  app/models/permit_application.rb
  app/models/submission_version.rb
  app/policies/external_api/permit_application_policy.rb
  app/postman_collections/integration-api-v2.postman_collection.json
  app/services/constants/webhooks.rb
  app/services/external_permit_application_service.rb
  app/services/supporting_documents_zipper.rb
  config/routes.rb
  db/migrate/20260914170000_add_package_ready_at_to_submission_versions.rb
  db/migrate/20260914180000_move_zipfile_data_to_submission_versions.rb
  db/schema.rb
  spec/jobs/permit_webhook_job_spec.rb
  spec/jobs/zipfile_job_spec.rb
  spec/models/external_api_webhook_delivery_spec.rb
  spec/policies/external_api/permit_application_policy_spec.rb
  spec/requests/external_api/v1/permit_applications_controller_spec.rb
  spec/requests/external_api/v2/permit_applications_controller_spec.rb
  spec/requests/external_api/v2/permit_applications_spec.rb
  spec/services/external_permit_application_service_spec.rb
  spec/services/supporting_documents_zipper_spec.rb
  spec/swagger_helper.rb
  swagger/external_api/v2/swagger.yaml
Due: stree --write

HUB-5570 Expose zip as a File on V2 submission versions
  app/blueprints/permit_application_blueprint.rb
  app/blueprints/submission_version_blueprint.rb
  app/models/concerns/form_supporting_documents.rb
  app/models/permit_application.rb
  app/models/submission_version.rb
  app/postman_collections/integration-api-v2.postman_collection.json
  spec/requests/external_api/v1/permit_applications_controller_spec.rb
  spec/requests/external_api/v2/permit_applications_controller_spec.rb
  spec/swagger_helper.rb
  swagger/external_api/v2/swagger.yaml
Due: stree --write

Hub 5327 💥 bug bash project can be created without entering a value in the mandatory project name field (#1953)
  app/frontend/components/domains/permit-project/new-permit-project-screen.tsx
  app/frontend/components/shared/form/email-form-control.tsx
  app/frontend/components/shared/form/input-form-control.tsx
  app/frontend/i18n/i18n.ts
  app/models/permit_project.rb
  spec/models/permit_project_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5127 adjust notification popover spacing (#1954)
  app/frontend/components/domains/home/notifications/notifications-popover.tsx
Due: prettier --write, eslint

Hub 5551 rm submissions custom menu for permit dropdown individual permit types nested within categories (#1955)
  app/blueprints/options_blueprint.rb
  app/blueprints/requirement_template_option_blueprint.rb
  app/controllers/api/requirement_templates_controller.rb
  app/frontend/components/shared/filters/checkbox-filter.tsx
  app/frontend/components/shared/filters/inbox-filter.tsx
  app/frontend/types/types.ts
  app/frontend/utils/group-filter-options.ts
  spec/controllers/requirement_templates_controller_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5567 Add V2 GET permit project with child summaries
  app/blueprints/permit_application_blueprint.rb
  app/blueprints/permit_project_blueprint.rb
  app/controllers/external_api/v2/permit_projects_controller.rb
  app/models/concerns/permit_application_status.rb
  app/models/permit_project.rb
  app/policies/external_api/application_policy.rb
  app/policies/external_api/permit_application_policy.rb
  app/policies/external_api/permit_project_policy.rb
  app/policies/permit_project_policy.rb
  app/postman_collections/integration-api-v2.postman_collection.json
  config/routes.rb
  spec/policies/external_api/permit_project_policy_spec.rb
  spec/policies/permit_project_policy_spec.rb
  spec/requests/external_api/v2/permit_projects_controller_spec.rb
  spec/requests/external_api/v2/permit_projects_spec.rb
  spec/swagger_helper.rb
  swagger/external_api/v2/swagger.yaml
Due: stree --write

HUB-5567 Isolate permit project policy by sandbox
  app/controllers/api/permit_projects_controller.rb
  app/policies/permit_project_policy.rb
  spec/policies/permit_project_policy_spec.rb
  spec/policies/project_audit_policy_spec.rb
Due: stree --write

HUB-5558 track spa navigations
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/utils/matomo.ts
Due: prettier --write, eslint

add revision request v2 transition
  app/blueprints/revision_reason_blueprint.rb
  app/controllers/external_api/permit_applications_controller.rb
  app/controllers/external_api/v2/revision_reasons_controller.rb
  app/policies/external_api/permit_application_policy.rb
  app/policies/external_api/revision_reason_policy.rb
  app/postman_collections/integration-api-v2.postman_collection.json
  app/services/constants/external_api.rb
  app/services/external_api/apply_revision_requests.rb
  config/routes.rb
  spec/policies/external_api/permit_application_policy_spec.rb
  spec/requests/external_api/v2/permit_applications_controller_spec.rb
  spec/requests/external_api/v2/permit_applications_spec.rb
  spec/requests/external_api/v2/revision_reasons_controller_spec.rb
  spec/requests/external_api/v2/revision_reasons_spec.rb
  spec/services/constants/external_api_spec.rb
  spec/services/external_api/apply_revision_requests_spec.rb
  spec/swagger_helper.rb
  swagger/external_api/v2/swagger.yaml
Due: stree --write

HUB-5618 Fix specs and some storage logic for moved zipfiles
  app/services/reports/storage_footprint.rb
  config/locales/reports.en.yml
  spec/services/reports/storage_footprint_spec.rb
  spec/services/requirement_template_structure_restore_service_spec.rb
Due: stree --write

Upgrade application to use Ruby 4.0
  .github/workflows/pull-request.yml
  .rubocop.yml
  .ruby-version
  Gemfile
  Gemfile.lock
  README.md
  devops/docker/app/Dockerfile
  devops/docker/app/Dockerfile.dev
  docs/ruby-4-upgrade.md
Due: none

Initial upgrade to Node 24
  .github/workflows/pull-request.yml
  .nvmrc
  README.md
  devops/docker/app/Dockerfile
  devops/docker/app/Dockerfile.dev
  package-lock.json
  package.json
  tsconfig.json
Due: none

limit permissions for modification of application files in Dockerfile while keeping Openshift support
  devops/docker/app/Dockerfile
Due: none

HUB-5604 Add supporting-info and additional-permit requests to revision assemble
  app/blueprints/additional_permit_request_blueprint.rb
  app/blueprints/project_document_blueprint.rb
  app/blueprints/submission_version_blueprint.rb
  app/blueprints/supporting_information_request_blueprint.rb
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/revision-sidebar.tsx
  app/frontend/components/shared/notes/use-note-attachments.ts
  app/frontend/components/shared/revisions/additional-permit-request-modal.tsx
  app/frontend/components/shared/revisions/supporting-information-modal.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/types/api-request.ts
  app/frontend/types/types.ts
  app/models/additional_permit_request.rb
  app/models/concerns/permit_application_status.rb
  app/models/permit_application.rb
  app/models/permit_project.rb
  app/models/project_document.rb
  app/models/submission_version.rb
  app/models/supporting_information_request.rb
  app/policies/project_document_policy.rb
  config/locales/en.yml
  db/migrate/20260917140000_add_revision_package_request_types.rb
  db/schema.rb
  spec/factories/additional_permit_requests.rb
  spec/factories/supporting_information_requests.rb
  spec/models/additional_permit_request_spec.rb
  spec/models/permit_application_spec.rb
  spec/models/permit_project_spec.rb
  spec/models/project_document_spec.rb
  spec/models/submission_version_spec.rb
  spec/models/supporting_information_request_spec.rb
  spec/policies/project_document_policy_spec.rb
  spec/requests/api/permit_applications_spec.rb
Due: prettier --write, eslint, stree --write

Show submitters a mixed revision-request checklist after send WIP
  app/blueprints/additional_permit_request_blueprint.rb
  app/blueprints/project_document_blueprint.rb
  app/blueprints/revision_request_blueprint.rb
  app/blueprints/supporting_information_request_blueprint.rb
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/revision-sidebar.tsx
  app/frontend/components/shared/revisions/supporting-information-modal.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/services/api/index.ts
  app/frontend/types/types.ts
  app/models/additional_permit_request.rb
  app/models/concerns/permit_application_status.rb
  app/models/permit_application.rb
  app/policies/permit_application_policy.rb
  config/routes.rb
  db/migrate/20260917150000_add_addressed_at_to_request_items.rb
  db/schema.rb
  spec/models/additional_permit_request_spec.rb
  spec/policies/permit_application_policy_spec.rb
  spec/requests/api/permit_applications_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5549 scroll training banner with nav bar (#1956)
  app/frontend/components/domains/navigation/nav-bar-menu.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/onboarding/eula/index.tsx
  app/frontend/components/domains/overheating-code/index.tsx
  app/frontend/components/domains/permit-application/checklist-sidebar.tsx
  app/frontend/components/domains/permit-project/project-sidebar-tab-list.tsx
  app/frontend/components/domains/step-code/part-9/checklist/index.tsx
  app/frontend/hooks/scroll-peek-state.check.ts
  app/frontend/hooks/scroll-peek-state.ts
  app/frontend/hooks/use-scroll-aware-nav-bar.ts
  app/frontend/styles/global-theme-variables.scss
  app/frontend/styles/nav-bar-offset.ts
Due: prettier --write, eslint

HUB-5558 track spa navigations (#1964)
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/utils/matomo.ts
Due: prettier --write, eslint

HUB-5551 match inbox project permit-type filters to submitted applications only
  app/controllers/api/concerns/search/jurisdiction_permit_projects.rb
  app/models/permit_project.rb
Due: stree --write

HUB-5551 Reindex permit projects for inbox template ids
  db/data/20260921213900_reindex_permit_projects_for_inbox_template_ids.rb
Due: stree --write

HUB-5551 stop listing draft permit types in the submission inbox filter menu
  app/controllers/api/requirement_templates_controller.rb
Due: stree --write
