Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

remove unecessary sort field mapping
  app/controllers/api/concerns/search/jurisdiction_permit_applications.rb
  app/controllers/api/concerns/search/project_permit_applications.rb
  app/controllers/external_api/concerns/search/permit_applications.rb
  app/models/permit_application.rb
Due: stree --write

Pin step code stage on the permit application
  app/blueprints/permit_application_blueprint.rb
  app/blueprints/site_configuration_blueprint.rb
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/domains/permit-application/checklist-sidebar.tsx
  app/frontend/components/domains/step-code/project-information.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/models/concerns/permit_application_status.rb
  app/models/permit_application.rb
  app/models/step_code.rb
  db/migrate/20260709170445_add_step_code_stage_to_permit_applications.rb
  db/schema.rb
  spec/models/permit_application_spec.rb
  spec/requests/api/permit_applications_spec.rb
Due: prettier --write, eslint, stree --write

HUB-2207 clean up deprecated code and fix specs
  app/frontend/components/domains/step-code/project-information.tsx
  app/frontend/models/part-3-step-code-checklist.ts
  app/frontend/models/part-3-step-code.ts
  app/frontend/models/part-9-step-code-checklist.ts
  app/frontend/models/part-9-step-code.ts
  app/frontend/models/permit-application.ts
  app/frontend/models/step-code-base.ts
  db/schema.rb
  spec/models/permit_application_spec.rb
  spec/requests/api/qa_tools_spec.rb
Due: prettier --write, eslint, stree --write

improve authorization resources
  app/frontend/components/domains/home/review-manager/configuration-management-screen/feature-access-screen/project-meetings.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/resources-screen.tsx
  app/frontend/i18n/i18n.ts
  app/models/jurisdiction.rb
  config/locales/en.yml
  spec/controllers/jurisdictions_controller_spec.rb
  spec/models/jurisdiction_spec.rb
Due: prettier --write, eslint, stree --write

remove 10MB file upload limit in project meetings
  app/frontend/components/domains/project-meeting/project-meeting-screen/sections/authorization-documents-section.tsx
  app/frontend/components/domains/project-meeting/project-meeting-screen/sections/documents-section.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

fix project meeting info layout
  app/frontend/components/domains/project-meeting/project-meeting-screen/sections/project-information-section.tsx
  app/frontend/components/domains/project-meeting/project-meeting-screen/sections/review-section.tsx
  app/frontend/components/domains/project-meeting/project-meeting-screen/sections/review-summary-section.tsx
  app/frontend/components/shared/base/info-row.tsx
Due: prettier --write, eslint

update sent page
  app/frontend/components/domains/project-meeting/project-meeting-sent-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

enable changing requester details after submit request
  app/frontend/components/domains/project-meeting/detail/detail-section.tsx
  app/frontend/components/domains/project-meeting/detail/sections/requester-information-section.tsx
  app/frontend/components/domains/project-meeting/nav-sections.ts
  app/frontend/components/domains/project-meeting/project-meeting-detail-screen.tsx
  app/frontend/components/domains/project-meeting/project-meeting-screen/index.tsx
  app/frontend/components/domains/project-meeting/project-meeting-screen/shared/form-actions.tsx
  app/frontend/components/domains/project-meeting/use-project-meeting-navigation.ts
  app/policies/project_meeting_policy.rb
  spec/policies/project_meeting_policy_spec.rb
  spec/requests/api/project_meetings_spec.rb
Due: prettier --write, eslint, stree --write

hide download buttons when empty and update building auth copy
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-notes-tab.tsx
  app/frontend/components/domains/permit-project/project-notes-tab-panel-content.tsx
  app/frontend/components/domains/project-meeting/detail/sections/meeting-notes-section.tsx
  app/frontend/i18n/i18n.ts
  app/views/permit_hub_mailer/notify_project_meeting_rescheduled.html.erb
  app/views/permit_hub_mailer/notify_project_meeting_scheduled.html.erb
Due: prettier --write, eslint

refactor notification store and add meeting notification
  app/frontend/components/domains/project-meeting/project-meeting-screen/sections/review-section.tsx
  app/frontend/stores/notification-store.ts
  app/frontend/types/enums.ts
  app/models/project_meeting.rb
  app/services/constants/notification_action_types.rb
  app/services/notification_service.rb
  config/locales/en.yml
  spec/services/notification_service_spec.rb
Due: prettier --write, eslint, stree --write

recfactor empty states
  app/frontend/components/domains/jurisdictions/submission-inbox/application-inbox-table.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/inbox-no-matching-empty.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-notes-tab.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-project-detail-screen.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-inbox-table.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-meeting-inbox-table.tsx
  app/frontend/components/domains/permit-application/index.tsx
  app/frontend/components/domains/permit-project/activity-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/meetings-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/overview-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/permit-project-screen.tsx
  app/frontend/components/domains/permit-project/permits-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/pre-checks-grid.tsx
  app/frontend/components/domains/permit-project/project-meeting-grid-row.tsx
  app/frontend/components/domains/permit-project/project-notes-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/projects-grid.tsx
  app/frontend/components/domains/permit-project/step-codes-grid.tsx
  app/frontend/components/domains/project-meeting/detail/sections/documents-section.tsx
  app/frontend/components/domains/project-meeting/detail/sections/meeting-notes-section.tsx
  app/frontend/components/shared/grid/empty-results-box.tsx
  app/frontend/components/shared/grid/search-grid.tsx
  app/frontend/components/shared/project-meetings/project-meeting-notes-list.tsx
Due: prettier --write, eslint

add a time slot picker
  app/frontend/components/domains/project-meeting/detail/banners/schedule-meeting-banner.tsx
  app/frontend/components/shared/time-slot-picker.tsx
Due: prettier --write, eslint

add date slot picker
  app/frontend/components/shared/time-slot-picker.tsx
Due: prettier --write, eslint

add reinviting ICS
  app/mailers/permit_hub_mailer.rb
  app/services/project_meeting_ics_generator.rb
  spec/mailers/permit_hub_mailer_spec.rb
  spec/services/project_meeting_ics_generator_spec.rb
Due: stree --write

HUB-4234: Migrate existing requirement block fields
  app/blueprints/requirement_blueprint.rb
  app/blueprints/requirement_question_blueprint.rb
  app/models/requirement.rb
  app/models/requirement_block.rb
  app/models/requirement_question.rb
  app/services/infrastructure/template_export_service.rb
  app/services/infrastructure/template_import_service.rb
  app/services/requirement_form_json_service.rb
  db/data/20260709150001_backfill_requirement_questions.rb
  db/data_schema.rb
  db/migrate/20260709150000_create_requirement_questions.rb
  db/schema.rb
  spec/factories/requirement_questions.rb
  spec/models/requirement_question_spec.rb
  spec/models/requirement_spec.rb
  spec/services/requirement_form_json_service_spec.rb
Due: stree --write

add calendar invite and touch up meeting layout
  app/controllers/api/project_meetings_controller.rb
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-meetings-tab.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-meeting-inbox-table.tsx
  app/frontend/components/domains/project-meeting/detail/banners/project-meeting-status-banner.tsx
  app/frontend/components/domains/project-meeting/detail/banners/reviewer-scheduled-meeting-banner.tsx
  app/frontend/components/domains/project-meeting/detail/download-calendar-invite-button.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/project-meeting.ts
  app/frontend/services/api/index.ts
  app/policies/project_meeting_policy.rb
  config/locales/en.yml
  config/routes.rb
  spec/policies/project_meeting_policy_spec.rb
  spec/requests/api/project_meetings_spec.rb
Due: prettier --write, eslint, stree --write

fix meeting summary layout
  app/frontend/components/shared/base/info-row.tsx
Due: prettier --write, eslint

rename closed meeting to withdrawn
  app/blueprints/project_meeting_blueprint.rb
  app/controllers/api/project_meetings_controller.rb
  app/frontend/components/domains/jurisdictions/submission-inbox/filters/project-meeting-status-filter.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/reviewer-meeting-detail-content.tsx
  app/frontend/components/domains/project-meeting/detail/banners/project-meeting-status-banner.tsx
  app/frontend/components/domains/project-meeting/project-meeting-detail-screen.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/block-setup.tsx
  app/frontend/components/domains/super-admin/help-video-modal.tsx
  app/frontend/components/shared/project-meetings/project-meeting-status-tag.tsx
  app/frontend/hooks/use-uppy-s3.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/project-meeting.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/project-meeting-store.ts
  app/frontend/types/enums.ts
  app/models/concerns/project_meeting_status.rb
  app/models/project_meeting.rb
  app/policies/project_meeting_policy.rb
  app/presenters/project_audit_formatters/project_meeting_formatter.rb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20260713140000_rename_project_meeting_closed_at_to_withdrawn_at.rb
  db/schema.rb
  db/seeds.rb
  spec/factories/project_meetings.rb
  spec/models/project_activity_auditing_spec.rb
  spec/models/project_meeting_spec.rb
  spec/policies/note_policy_spec.rb
  spec/policies/permit_application_policy_spec.rb
  spec/policies/project_meeting_policy_spec.rb
  spec/presenters/project_audit_formatters/project_meeting_formatter_spec.rb
  spec/requests/api/notes_spec.rb
  spec/requests/api/permit_projects_spec.rb
  spec/requests/api/project_meetings_spec.rb
Due: prettier --write, eslint, stree --write

improve uppy behaviour
  app/frontend/components/domains/home/review-manager/configuration-management-screen/resources-screen.tsx
  app/frontend/components/domains/pre-check/form-section/upload-drawings.tsx
  app/frontend/components/domains/project-meeting/project-meeting-screen/sections/authorization-documents-section.tsx
  app/frontend/components/domains/project-meeting/project-meeting-screen/sections/documents-section.tsx
  app/frontend/components/domains/project-meeting/project-meeting-screen/shared/document-utils.ts
  app/frontend/components/domains/project-meeting/project-meeting-screen/shared/documents-table.tsx
  app/frontend/components/domains/project-meeting/project-meeting-screen/shared/form-actions.tsx
Due: prettier --write, eslint

rework confirmed date display on completed
  app/frontend/components/domains/project-meeting/detail/banners/meeting-schedule-details.tsx
  app/frontend/components/domains/project-meeting/detail/banners/project-meeting-status-banner.tsx
  app/frontend/components/domains/project-meeting/detail/banners/reviewer-scheduled-meeting-banner.tsx
Due: prettier --write, eslint

add confirmed date filter to meeting inbox
  app/controllers/api/concerns/search/jurisdiction_project_meetings.rb
  app/frontend/components/domains/jurisdictions/submission-inbox/filters/index.ts
  app/frontend/components/domains/jurisdictions/submission-inbox/filters/meeting-date-filter.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/meetings-tab-panel-content.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/reviewer-meeting-detail-content.tsx
  app/frontend/components/domains/project-meeting/detail/banners/project-meeting-status-banner.tsx
  app/frontend/components/domains/project-meeting/detail/banners/reviewer-scheduled-meeting-banner.tsx
  app/frontend/components/domains/project-meeting/project-meeting-detail-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/project-meeting-inbox-store.ts
  app/frontend/types/types.ts
  spec/requests/api/project_meetings_spec.rb
Due: prettier --write, eslint, stree --write

refactor and make phone numbers and emails clickable
  app/frontend/components/domains/jurisdictions/jurisdiction-contact-info-banner.tsx
  app/frontend/components/domains/permit-application/contact-summary-modal.tsx
  app/frontend/components/domains/project-meeting/detail/sections/requester-information-section.tsx
  app/frontend/components/domains/project-meeting/project-meeting-screen/sections/review-section.tsx
  app/frontend/components/shared/jurisdiction/contact-card.tsx
  app/frontend/components/shared/jurisdiction/jurisdiction-about-contact-card.tsx
  app/frontend/utils/utility-functions.ts
Due: prettier --write, eslint

close editing meeting details on completion
  app/frontend/components/domains/project-meeting/detail/banners/reviewer-scheduled-meeting-banner.tsx
Due: prettier --write, eslint

HUB-4863 Permit projects are not yet scoped to sandbox
  app/views/devise/mailer/invitation_instructions.html.erb
Due: none

HUB-5259 Missing required attribution to HVAC Designers of Canada and TECA
  app/frontend/components/domains/overheating-code/form-section/introduction.tsx
  app/frontend/i18n/i18n.ts
  app/services/overheating_code_pdf_service.rb
  spec/services/overheating_code_pdf_service_spec.rb
Due: prettier --write, eslint, stree --write

HUB-4863 add warning to invite accept email
  app/views/devise/mailer/invitation_instructions.html.erb
Due: none

update accept invite warning
  app/blueprints/user_blueprint.rb
  app/frontend/components/domains/users/accept-invitation-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/user.ts
  app/models/user.rb
  app/views/devise/mailer/invitation_instructions.html.erb
  spec/models/user_spec.rb
  spec/requests/api/invitations_spec.rb
Due: prettier --write, eslint, stree --write

create data and rake task for updating step code requirements
  data/jurisdiction_step_requirements_seed.rb
  lib/tasks/seed_jurisdiction_step_requirements.rake
Due: stree --write

add draft timestamps and clean up dead code
  app/controllers/api/template_versions_controller.rb
  app/frontend/components/domains/requirement-template/screens/template-version-screen.tsx
  app/frontend/components/domains/requirement-template/template-versions-sidebar.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/template-version.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/requirement-template-store.ts
  app/models/requirement_template.rb
  app/services/template_versioning_service.rb
  config/locales/en.yml
  config/routes.rb
  db/schema.rb
  spec/services/template_versioning_service_spec.rb
Due: prettier --write, eslint, stree --write

HUB-4748 update copy
  config/locales/en.yml
Due: none

HUB-4748 add service unavailable message for BCeID login
  config/locales/en.yml
Due: none

HUB-4748 refactor omniauth failure handling to include service unavailable messages
  app/controllers/api/omniauth_callbacks_controller.rb
Due: stree --write

Hub 4748 admin banner notifications create alternate banner warning when keycloak b ce id login service unavailable (#1796)
  app/controllers/api/omniauth_callbacks_controller.rb
  config/locales/en.yml
Due: stree --write

fix part 3 qa tool spec
  spec/requests/api/qa_tools_spec.rb
Due: stree --write

HUB-4234: Migrate existing requirement block fields (#1791)
  app/blueprints/requirement_blueprint.rb
  app/blueprints/requirement_question_blueprint.rb
  app/models/requirement.rb
  app/models/requirement_block.rb
  app/models/requirement_question.rb
  app/services/infrastructure/template_export_service.rb
  app/services/infrastructure/template_import_service.rb
  app/services/requirement_form_json_service.rb
  db/data/20260709150001_backfill_requirement_questions.rb
  db/data_schema.rb
  db/migrate/20260709150000_create_requirement_questions.rb
  db/schema.rb
  spec/factories/requirement_questions.rb
  spec/models/requirement_question_spec.rb
  spec/models/requirement_spec.rb
  spec/services/requirement_form_json_service_spec.rb
Due: stree --write

rework heating degree days
  app/blueprints/jurisdiction_blueprint.rb
  app/blueprints/jurisdiction_climate_zone_blueprint.rb
  app/blueprints/jurisdiction_heating_degree_day_blueprint.rb
  app/controllers/api/jurisdictions_controller.rb
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/climate-zones-screen.tsx
  app/frontend/components/domains/jurisdictions/step-code-requirements-screen.tsx
  app/frontend/components/domains/step-code/part-3/form-section/location-details.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/jurisdiction.ts
  app/frontend/types/types.ts
  app/frontend/utils/climate-zone.ts
  app/models/concerns/project_item.rb
  app/models/jurisdiction.rb
  app/models/jurisdiction_climate_zone.rb
  app/models/jurisdiction_heating_degree_day.rb
  app/models/part_3_step_code/checklist.rb
  app/services/qa/part_3_step_code_autofill_service.rb
  app/services/step_code/part_3/v0/requirements/references/climate_zone.rb
  app/services/step_code/part_3/v0/requirements/references/energy.rb
  db/migrate/20260715111439_rework_jurisdiction_heating_degree_days.rb
  db/schema.rb
  lib/tasks/step_code_seed.rake
  spec/factories/jurisdiction_heating_degree_days.rb
  spec/factories/sub_districts.rb
  spec/models/jurisdiction_heating_degree_day_spec.rb
  spec/services/step_code/part_3/v0/requirements/references/climate_zone_spec.rb
Due: prettier --write, eslint, stree --write

fix up historic site and consigno autocompliance
  app/frontend/components/shared/chefs/index.tsx
  app/jobs/automated_compliance/autopopulate_job.rb
  app/services/wrappers/ltsa_parcel_map_bc.rb
  spec/services/wrappers/ltsa_parcel_map_bc_spec.rb
Due: prettier --write, eslint, stree --write

lean on backend rule for accepted upload types
  app/frontend/components/domains/project-meeting/project-meeting-screen/sections/authorization-documents-section.tsx
  app/frontend/components/domains/project-meeting/project-meeting-screen/sections/documents-section.tsx
  app/frontend/components/domains/project-meeting/project-meeting-screen/shared/constants.ts
  app/frontend/components/domains/project-meeting/project-meeting-screen/shared/uppy-dashboard-field.tsx
Due: prettier --write, eslint

skip auth file validation if requester relationship is being changed on draft
  app/models/project_meeting.rb
  spec/models/project_meeting_spec.rb
  spec/requests/api/project_meetings_spec.rb
Due: stree --write
