Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

Fix inconsistent UI for Admin Panel's "manage" dropdown. And fix the typo "Mange" -> "Manage" for the tsx file name
  app/frontend/components/domains/jurisdictions/users/index.tsx
  app/frontend/components/shared/jurisdiction/manage-jurisdiction-menu.tsx
  app/frontend/components/shared/user/manage-user-menu.tsx
Due: prettier --write, eslint

add cad units
  app/frontend/constants.ts
  app/frontend/i18n/i18n.ts
  app/frontend/types/enums.ts
  app/models/requirement.rb
Due: prettier --write, eslint, stree --write

For submitters, they'll see a "My Permits" button in the nav next to menu.
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

[bphh-802] Fix bug with tips showing up on a submitted application, when it was added after the original application was submitted
  app/models/permit_application.rb
  db/migrate/20240313212234_add_form_customizations_snapshot_to_permit_application.rb
  db/schema.rb
Due: stree --write

update breadcrumb
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Make some of the buttons in the nav to look like primary buttons
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/shared/chefs/styles.scss
Due: prettier --write, eslint

quick fix for non logged in confirmation
  app/controllers/api/permit_type_submission_contacts_controller.rb
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint, stree --write

simplify useEffect
  app/frontend/components/domains/home/review-manager/configuration-management-screen/submissions-inbox-setup-screen/editable-block.tsx
Due: prettier --write, eslint

Add support for LG configured energy steps
  app/blueprints/step_code/zero_carbon/compliance_blueprint.rb
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/energy-step-editable-block/energy-step-select.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/energy-step-editable-block/index.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/energy-step-editable-block/zero-carbon-step-select.tsx
  app/frontend/components/domains/step-code/checklist/energy-step-code-compliance/compliance-grid/energy-step.tsx
  app/frontend/components/domains/step-code/checklist/zero-carbon-step-code-compliance/compliance-grid/zero-carbon-step.tsx
  app/services/step_code/compliance/check_requirements/zero_carbon/base.rb
  app/services/step_code/compliance/propose_step/zero_carbon.rb
Due: prettier --write, eslint, stree --write

Add support for End-User License Agreement
  app/blueprints/end_user_license_agreement_blueprint.rb
  app/blueprints/user_blueprint.rb
  app/controllers/api/end_user_license_agreement_controller.rb
  app/controllers/api/users_controller.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/shared/eula-modal/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/user.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/user-store.ts
  app/frontend/types/types.ts
  app/models/end_user_license_agreement.rb
  app/models/user.rb
  app/models/user_license_agreement.rb
  app/policies/end_user_license_agreement_policy.rb
  app/policies/user_policy.rb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20240313185112_create_end_user_license_agreements.rb
  db/migrate/20240313185241_create_user_license_agreements.rb
  db/schema.rb
  db/seeds.rb
Due: prettier --write, eslint, stree --write

use 2xl modal size
  app/frontend/components/shared/eula-modal/index.tsx
Due: prettier --write, eslint

ensure only one agreement is active
  app/models/end_user_license_agreement.rb
Due: stree --write

I updated the <Link> to <Link isExternal> for the mailto: and tel: since those types of links are outside of the app. Also moved my css styles to its own area. (as per Keith's recommendations).
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/components/shared/jurisdiction/contact-card.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/styles/global-app.scss
  app/frontend/styles/global-theme-variables.scss
  app/frontend/styles/index.ts
Due: prettier --write, eslint

[bphh-144] Implement ability to add reference number to a submitted permit application by reviewer and review manager
  app/blueprints/permit_application_blueprint.rb
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/components/shared/base/copyable-value.tsx
  app/frontend/components/shared/editable-input-with-controls.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/styles/theme/components/button.ts
  app/models/permit_application.rb
  app/policies/permit_application_policy.rb
  config/locales/en.yml
  db/migrate/20240313233909_add_reference_number_to_permit_application.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

Another copy change to email template #2a (change a word)
  app/views/permit_hub_mailer/02a_notify_reviewer_application_received_email.html.erb
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/02a notify reviewer application recieved.txt
Due: none

remove user mailer in lieu of the customized devise mailer
  app/controllers/api/users_controller.rb
  app/mailers/user_mailer.rb
  app/views/permit_hub_mailer/welcome.html.erb
  spec/mailers/previews/user_mailer_preview.rb
  spec/mailers/user_mailer_spec.rb
Due: stree --write

add permit application updated callback for notification
  app/models/permit_application.rb
Due: stree --write

[bphh-856] Explicitly set formatting and date calculations for template version date to use Vancouver timezone, as otherwise there are bugs with scheduling
  app/blueprints/template_version_blueprint.rb
  app/frontend/components/shared/requirement-template/template-status-tag.tsx
  app/frontend/constants.ts
  app/frontend/models/requirement-template.ts
  app/frontend/utils/utility-functions.ts
  package-lock.json
  package.json
Due: prettier --write, eslint, stree --write

[bphh-635] Add contact requirement types display component, and add it to field setup drawer
  app/frontend/components/domains/requirements-library/fields-setup-drawer.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
  app/frontend/constants.ts
  app/frontend/i18n/i18n.ts
  app/frontend/types/enums.ts
  app/models/requirement.rb
Due: prettier --write, eslint, stree --write

[bphh-635] Refactor requirement-field-display sub components to individual files and organize them under folder
  app/frontend/components/domains/requirements-library/requirement-field-display/contact-field-item-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/generic-contact-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/generic-field-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/index.tsx
Due: prettier --write, eslint

[bphh-635] Add contact field edit mode for requirement block edit
  app/controllers/api/requirement_blocks_controller.rb
  app/frontend/components/domains/requirements-library/requirement-field-display/generic-contact-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/index.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/generic-contact-edit.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/api-request.ts
  app/frontend/utils/utility-functions.ts
  app/models/requirement.rb
Due: prettier --write, eslint, stree --write

[bphh-635] Refactor requirement-field-edit sub components to individual files and organize them under folder
  app/frontend/components/domains/requirements-library/requirement-field-edit/editable-group.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/editable-helper-text.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/editable-label.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/is-elective-checkbox.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/is-optional-checkbox.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/types.ts
Due: prettier --write, eslint

[bphh-635] Add contact field formio jsons for submitter
  app/frontend/components/domains/requirements-library/requirement-field-display/index.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/i18n/i18n.ts
  app/models/requirement.rb
  app/services/requirement_form_json_service.rb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

[bphh-635] Mark more contact fields as optional
  app/services/requirement_form_json_service.rb
Due: stree --write

[bphh-635] Update submitter side contact grid button styles and increase setup drawer max width
  app/frontend/components/domains/requirements-library/fields-setup-drawer.tsx
  app/frontend/components/shared/chefs/styles.scss
Due: prettier --write, eslint

[bphh-635] mark contact fields as required or not
  app/services/requirement_form_json_service.rb
  config/locales/en.yml
Due: stree --write

[bphh-635] Make keys more unique for contact requirements
  app/services/requirement_form_json_service.rb
Due: stree --write

[bphh-635] Update contact requirement styles from submitter side
  app/frontend/components/shared/chefs/styles.scss
  app/services/requirement_form_json_service.rb
Due: stree --write

[bphh-635] Include add another person button for requirement display component
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/generic-contact-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/types.ts
Due: prettier --write, eslint

remove production root URL hazzard
  app/controllers/api/invitations_controller.rb
  app/frontend/components/shared/base/inputs/user-input.tsx
  app/jobs/permit_hub_mailer_job.rb
  app/mailers/custom_devise_mailer.rb
  app/mailers/permit_hub_mailer.rb
  app/views/layouts/mailer.html.erb
  app/views/permit_hub_mailer/02a_notify_reviewer_application_received_email.html.erb
  app/views/permit_hub_mailer/11_onboarding_email.html.erb
  app/views/permit_hub_mailer/onboarding.html.erb
  app/views/permit_hub_mailer/welcome.html.erb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

add a no reply message to mailer layout
  app/views/layouts/mailer.html.erb
Due: none

fixing reduction of completion block calls
  app/frontend/components/shared/permit-applications/requirement-form.tsx
Due: prettier --write, eslint

form restoration was broken due to a camelization mismatch on values on select boxes. This impacts all input option type items.
  app/frontend/components/shared/chefs/index.tsx
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/i18n/i18n.ts
  app/frontend/styles/global-theme-variables.scss
  app/frontend/utils/formio-component-traversal.ts
  app/models/concerns/form_supporting_documents.rb
  app/models/concerns/step_code_field_extraction.rb
  app/models/requirement.rb
  app/models/step_code.rb
  config/locales/en.yml
  db/migrate/20240312220546_add_plan_fields_to_step_codes.rb
Due: prettier --write, eslint, stree --write

open up file types to everything on upload, this allwos h2k file section to accept xls and h2k if they do not use the tool
  app/uploaders/file_uploader.rb
Due: stree --write

added specs for step code and autopupulation
  app/models/concerns/automated_compliance_utils.rb
  app/models/step_code.rb
  db/schema.rb
  spec/jobs/automated_compliance/autopopulate_job_spec.rb
  spec/models/step_code_spec.rb
  spec/support/response_stubs.rb
Due: stree --write

BPHH-854 validation error due to compliane data issue
  app/models/step_code.rb
  spec/models/step_code_spec.rb
Due: stree --write

[bphh-734] Add rich text for helper text from super admin side
  app/frontend/components/domains/requirements-library/requirement-field-display/generic-field-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/editable-helper-text.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/components/shared/editor/custom-extensions/editor-with-preview.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

some frontend url fixes
  app/views/permit_hub_mailer/02a_notify_reviewer_application_received_email.html.erb
  app/views/permit_hub_mailer/notify_reviewer_application_received.html.erb
Due: none
