Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

[bphh-1386] Filter out electives from requirements mapping when not enabled
  app/blueprints/integration_mapping_blueprint.rb
  app/frontend/models/requirement-block-mapping.ts
  app/models/integration_mapping.rb
Due: prettier --write, eslint, stree --write

Add Rails cache
  .env.example
  config/environments/development.rb
  config/environments/production.rb
Due: stree --write

[bphh-1386] Add email template for integration mapping
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/requirement-template/screens/edit-jurisdiction-api-mapping-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-api-mappings-setup-index-screen.tsx
  app/mailers/permit_hub_mailer.rb
  app/models/integration_mapping.rb
  app/models/template_version.rb
  app/views/permit_hub_mailer/_notify_integration_mapping.erb
  app/views/permit_hub_mailer/notify_missing_integration_mapping.html.erb
  app/views/permit_hub_mailer/notify_new_integration_mapping.html.erb
  app/views/permit_hub_mailer/notify_submitter_application_submitted.html.erb
  config/locales/en.yml
  spec/mailers/previews/permit_hub_mailer_preview.rb
Due: prettier --write, eslint, stree --write

[bphh-1386] Add notification email input for api key front-end
  app/blueprints/external_api_key_blueprint.rb
  app/controllers/api/external_api_keys_controller.rb
  app/frontend/components/domains/external-api-key/external-api-key-modal-sub-route.tsx
  app/frontend/components/shared/form/input-form-control.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/external-api-key.ts
  app/frontend/types/api-request.ts
Due: prettier --write, eslint, stree --write

WIP
  app/blueprints/template_version_blueprint.rb
  app/models/integration_mapping.rb
  app/models/jurisdiction.rb
  app/models/jurisdiction_template_version_customization.rb
  app/models/template_version.rb
  app/services/constants/notification_action_types.rb
  app/services/notification_service.rb
  config/locales/en.yml
Due: stree --write

[bphh-1746] Background job the force publish of requirement template
  app/frontend/channels/processors/user_push_processor.ts
  app/frontend/models/template-version.ts
  app/frontend/stores/template-version-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/template_version.rb
  app/services/constants/websockets.rb
  app/services/template_versioning_service.rb
Due: prettier --write, eslint, stree --write

[bphh-1386] Add rel no opener to email link
  app/views/permit_hub_mailer/_notify_integration_mapping.erb
Due: none

[bphh-1386] Remove unecessary generator
  app/frontend/stores/template-version-store.ts
Due: prettier --write, eslint

[bphh-1386] Fix specs
  spec/models/template_version_spec.rb
Due: stree --write

[bphh-1386] Complete flow to send notification for integration mapping missing requirements
  app/frontend/components/domains/home/notifications/notifications-popover.tsx
  app/frontend/components/shared/base/custom-message-box.tsx
  app/frontend/stores/notification-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/integration_mapping.rb
Due: prettier --write, eslint, stree --write

[bphh-1386]Refactor integration mapping index page to have tabbed status navigation
  app/frontend/components/domains/requirement-template/digital-building-permits-list.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-api-mappings-setup-index-screen.tsx
Due: prettier --write, eslint

Change SKIP_DEPENDENCY_INITIALIZERS flag to IS_DOCKER_BUILD and subsequently exclude caching during Docker build
  .env.example
  config/environments/production.rb
  config/initializers/anycable.rb
  config/initializers/rack_attack.rb
  config/initializers/shrine.rb
  config/initializers/sidekiq.rb
  config/initializers/simple_feed.rb
  devops/docker/app/Dockerfile
  devops/docker/app/entrypoint.sh
Due: stree --write

Fix error archiving super admins
  app/policies/user_policy.rb
Due: stree --write

Add manual save button to application form
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/components/domains/requirement-template/builder-bottom-floating-buttons.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/template-version-screen.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/styles/theme/foundations/shadows.ts
Due: prettier --write, eslint

Upgrade node version
  devops/docker/app/Dockerfile
Due: none

updating step code requirements to not require full plan and author extraction
  app/models/step_code.rb
  config/locales/en.yml
  spec/models/step_code_spec.rb
Due: stree --write

[bphh-1034] Implement reordering drag and drop for requirements
  app/controllers/api/requirement_blocks_controller.rb
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/reorder-list.tsx
  app/frontend/components/shared/draggable.tsx
  app/frontend/components/shared/droppable.tsx
  app/frontend/components/shared/sortable-item.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/api-request.ts
Due: prettier --write, eslint, stree --write

Add helper text for browser search
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/controls-header.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/index.tsx
  app/frontend/components/shared/permit-applications/browser-search-prompt.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

add aasm transitions and update email templates, notification data, substatus functionality etc
  Gemfile
  Gemfile.lock
  app/blueprints/permit_application_blueprint.rb
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/domains/jurisdictions/submission-inbox/grid-header.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/components/shared/permit-applications/permit-application-status-tabs.tsx
  app/frontend/components/shared/permit-applications/permit-application-status-tag.tsx
  app/frontend/components/shared/permit-applications/permit-application-viewed-at-tag.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/components/shared/select/selectors/sort-select.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/stores/notification-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/mailers/permit_hub_mailer.rb
  app/models/permit_application.rb
  app/models/template_version.rb
  app/services/constants/notification_action_types.rb
  app/services/notification_service.rb
  app/views/permit_hub_mailer/notify_application_revisions_requested.html.erb
  app/views/permit_hub_mailer/notify_application_viewed.html.erb
  app/views/permit_hub_mailer/notify_reviewer_application_received.html.erb
  app/views/permit_hub_mailer/notify_submitter_application_submitted.html.erb
  config/locales/en.yml
  db/migrate/20240708163306_add_resubmitted_at_to_permit_applications.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

add blueprint view and ui for requested revisions
  app/blueprints/permit_application_blueprint.rb
  app/blueprints/revision_request_blueprint.rb
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/revision-sidebar.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/components/shared/revisions/revision-modal.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/types/types.ts
  app/frontend/utils/formio-component-traversal.ts
Due: prettier --write, eslint, stree --write

[bphh-1801] Add migrations to add collaborator and permit_collaboration models
  app/models/collaborator.rb
  app/models/jurisdiction.rb
  app/models/permit_application.rb
  app/models/permit_collaboration.rb
  app/models/user.rb
  db/migrate/20240709220547_create_collaborators.rb
  db/migrate/20240709222932_create_permit_collaborations.rb
  db/schema.rb
Due: stree --write

Fix issue toggling unmapped filter
  app/frontend/components/shared/editable-input-with-controls.tsx
  app/frontend/models/requirement-block-mapping.ts
Due: prettier --write, eslint

Hide manual save bar on step code screen
  app/frontend/components/domains/step-code/index.tsx
Due: prettier --write, eslint

add permit application flow preferences
  app/blueprints/preference_blueprint.rb
  app/controllers/api/users_controller.rb
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/permit-application/revision-sidebar.tsx
  app/frontend/components/domains/users/profile-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/user.ts
  app/frontend/stores/notification-store.ts
  app/frontend/types/enums.ts
  app/models/permit_application.rb
  app/services/constants/notification_action_types.rb
  app/services/notification_service.rb
  config/locales/en.yml
  db/migrate/20240709230956_add_revision_flow_booleans_to_preferences.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

fix notification copy
  config/locales/en.yml
Due: none

address UI updates for skye
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/revision-sidebar.tsx
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/types/enums.ts
  app/frontend/utils/formio-component-traversal.ts
Due: prettier --write, eslint

wip submission versions
  app/blueprints/permit_application_blueprint.rb
  app/blueprints/submission_version_blueprint.rb
  app/controllers/api/permit_applications_controller.rb
  app/frontend/models/permit-application.ts
  app/frontend/types/types.ts
  app/models/permit_application.rb
  app/models/submission_version.rb
  db/data/20240621234529_create_submission_versions.rb
  db/migrate/20240621234528_create_revision_requests.rb
  db/migrate/20240708163306_add_resubmitted_at_to_permit_applications.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

Manual save UI updates
  app/frontend/components/domains/requirement-template/builder-bottom-floating-buttons.tsx
  app/frontend/models/permit-application.ts
Due: prettier --write, eslint

fix revision request updates
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/domains/requirement-template/builder-bottom-floating-buttons.tsx
  app/frontend/models/permit-application.ts
  app/frontend/services/api/index.ts
  app/frontend/utils/formio-component-traversal.ts
  app/models/revision_request.rb
Due: prettier --write, eslint, stree --write

Fix issue showing custom step requirements
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/models/jurisdiction.ts
Due: prettier --write, eslint

wip
  app/blueprints/permit_application_blueprint.rb
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/permit-application/index.tsx
  app/frontend/components/shared/permit-applications/permit-application-status-tabs.tsx
  app/frontend/components/shared/permit-applications/permit-application-status-tag.tsx
  app/frontend/components/shared/permit-applications/permit-application-viewed-at-tag.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/stores/permit-application-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/permit_application.rb
  app/views/permit_hub_mailer/notify_application_revisions_requested.html.erb
  app/views/permit_hub_mailer/notify_application_viewed.html.erb
  db/migrate/20240621234528_create_revision_requests.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

[bphh-1796] fix scroll to for super admin and review manager edit tempolate scroll to
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/sections-display.tsx
  app/frontend/components/shared/editable-input-with-controls.tsx
Due: prettier --write, eslint

Fix issue deleting permit type step requirements
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/energy-step-editable-block/index.tsx
Due: prettier --write, eslint

[bphh-1488] Filter out inactive requirement blocks from permit application form json
  app/models/permit_application.rb
Due: stree --write

add notification action bar and colors
  app/blueprints/permit_application_blueprint.rb
  app/blueprints/submission_version_blueprint.rb
  app/controllers/api/concerns/search/jurisdiction_permit_applications.rb
  app/controllers/api/concerns/search/permit_applications.rb
  app/controllers/api/permit_applications_controller.rb
  app/controllers/external_api/concerns/search/permit_applications.rb
  app/frontend/components/domains/home/notifications/notifications-popover.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/permit-application/index.tsx
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/components/shared/permit-applications/permit-application-card.tsx
  app/frontend/components/shared/permit-applications/permit-application-status-tabs.tsx
  app/frontend/components/shared/permit-applications/permit-application-status-tag.tsx
  app/frontend/components/shared/permit-applications/permit-application-viewed-at-tag.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/components/shared/revisions/revision-modal.tsx
  app/frontend/hooks/use-notification-popover.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/stores/notification-store.ts
  app/frontend/stores/permit-application-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/frontend/utils/formio-component-traversal.ts
  app/frontend/utils/utility-functions.ts
  app/models/concerns/permit_application_status.rb
  app/models/integration_mapping.rb
  app/models/permit_application.rb
  app/models/submission_version.rb
  app/services/notification_service.rb
  app/views/permit_hub_mailer/notify_application_viewed.html.erb
  app/views/permit_hub_mailer/notify_submitter_application_submitted.html.erb
  config/environments/development.rb
Due: prettier --write, eslint, stree --write

[bphh-1857] Filter out empty sections from permit application form json
  app/models/permit_application.rb
Due: stree --write

fix email copy
  app/views/permit_hub_mailer/notify_application_viewed.html.erb
  config/locales/en.yml
Due: none

[bphh-1815] Fixes bug where email was being sent to only one submission contact when there are multiple for permit application submission notification
  app/models/permit_application.rb
Due: stree --write

Fix issue generating step code reports
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/energy-step-editable-block/energy-step-select.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/energy-step-editable-block/index.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/energy-step-editable-block/zero-carbon-step-select.tsx
  app/frontend/components/domains/step-code/checklist/compliance-summary/energy-steps.tsx
  app/frontend/components/domains/step-code/checklist/compliance-summary/index.tsx
  app/frontend/components/domains/step-code/checklist/compliance-summary/step-requirement-radio-group.tsx
  app/frontend/components/domains/step-code/checklist/compliance-summary/zero-carbon-steps.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/step-code-store.ts
  app/frontend/types/enums.ts
  app/models/permit_type_required_step.rb
  app/services/step_code/compliance/propose_step/base.rb
  app/services/step_code/compliance/propose_step/energy.rb
  app/services/step_code/compliance/propose_step/zero_carbon.rb
  spec/services/step_code/compliance/propose_step/base_spec.rb
Due: prettier --write, eslint, stree --write

Only require step code if requirements exist
  app/models/permit_application.rb
  app/services/permit_application/form_json_service.rb
Due: stree --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
