Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

[bphh-1208] Add ability to enable or disable external_api_keys for a whole jurisdiction. Update relevant scope, logic, and spec's to handle this
  app/controllers/api/jurisdictions_controller.rb
  app/models/external_api_key.rb
  app/policies/external_api_key_policy.rb
  db/migrate/20240422165748_add_external_api_enabled_to_jurisdiction.rb
  db/schema.rb
  spec/controllers/external_api/application_controller_spec.rb
  spec/factories/external_api_key.rb
  spec/models/external_api_key_spec.rb
Due: stree --write

[bphh-1236] Add jurisdiction external api key index screen
  app/controllers/api/external_api_keys_controller.rb
  app/frontend/components/domains/external-api-key/external-api-key-status-tag.tsx
  app/frontend/components/domains/external-api-key/grid-header.tsx
  app/frontend/components/domains/external-api-key/index.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/index.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/requirements-library/requirement-blocks-table.tsx
  app/frontend/components/shared/jurisdiction/manage-jurisdiction-menu.tsx
  app/frontend/constants.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/external-api-key.ts
  app/frontend/models/jurisdiction.ts
  app/frontend/services/api/index.ts
  app/frontend/types/enums.ts
  app/models/jurisdiction.rb
  app/policies/external_api_key_policy.rb
Due: prettier --write, eslint, stree --write

[bphh-1236] Add base create and update modal for external-api-key
  app/frontend/components/domains/external-api-key/external-api-key-modal-sub-route.tsx
  app/frontend/components/domains/external-api-key/grid-header.tsx
  app/frontend/components/domains/external-api-key/index.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/shared/base/copyable-value.tsx
  app/frontend/components/shared/date-picker.tsx
  app/frontend/components/shared/form/input-form-control.tsx
  app/frontend/hooks/resources/use-jurisdiction.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/external-api-key.ts
  app/frontend/models/jurisdiction.ts
  app/frontend/services/api/index.ts
  app/frontend/types/api-request.ts
Due: prettier --write, eslint

[bphh-1236] Add migration to connecting_application field to external_api_key. Add presence validation for new field and update expired_at to have presence validation
  app/models/external_api_key.rb
  db/migrate/20240425172912_add_connecting_application_to_external_api_key.rb
  db/schema.rb
  spec/factories/external_api_key.rb
  spec/models/external_api_key_spec.rb
Due: stree --write

[bphh-1236] Add webhook url label placeholder info link
  app/frontend/components/domains/external-api-key/external-api-key-modal-sub-route.tsx
  app/frontend/components/shared/form/input-form-control.tsx
Due: prettier --write, eslint

[bphh-1236] Add abiliy to enable or disable api key for whole jurisdiction by superadmin. Also add's disbaled state callout banner and disabled interaction
  app/blueprints/jurisdiction_blueprint.rb
  app/controllers/api/jurisdictions_controller.rb
  app/frontend/components/domains/external-api-key/external-api-key-modal-sub-route.tsx
  app/frontend/components/domains/external-api-key/grid-header.tsx
  app/frontend/components/domains/external-api-key/index.tsx
  app/frontend/components/shared/base/callout-banner.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/external-api-key.ts
  app/frontend/models/jurisdiction.ts
  app/frontend/services/api/index.ts
  app/policies/jurisdiction_policy.rb
  config/locales/en.yml
  config/routes.rb
Due: prettier --write, eslint, stree --write

[bphh-1236] Add revoke button for external api key modal
  app/frontend/components/domains/external-api-key/external-api-key-modal-sub-route.tsx
  app/frontend/components/domains/external-api-key/index.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/shared/remove-confirmation-modal.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/jurisdiction.ts
  app/frontend/services/api/index.ts
  config/locales/en.yml
Due: prettier --write, eslint

[bphh-1236] Add webhookUrl field placeholder and change default expiredAt date to 2 years in the future for external api key
  app/frontend/components/domains/external-api-key/external-api-key-modal-sub-route.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

[bphh-1236] Add connectingApplication to form field and table column for external api key in FE. Update's front-end expiredAt label, and make's it required with a default value
  app/blueprints/external_api_key_blueprint.rb
  app/controllers/api/external_api_keys_controller.rb
  app/frontend/components/domains/external-api-key/external-api-key-modal-sub-route.tsx
  app/frontend/components/domains/external-api-key/grid-header.tsx
  app/frontend/components/domains/external-api-key/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/external-api-key.ts
  app/frontend/types/api-request.ts
Due: prettier --write, eslint, stree --write

add bullet
  Gemfile
Due: none

Add field processing and inputs for conditionals
  app/controllers/api/requirement_blocks_controller.rb
  app/frontend/components/domains/requirements-library/requirement-field-edit/conditional-setup-modal.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/options-menu.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/field-controls-header.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
  app/frontend/components/shared/select/selectors/requirement-select.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement-block.ts
  app/frontend/models/requirement.ts
  app/frontend/types/api-request.ts
  app/frontend/types/types.ts
  app/models/requirement.rb
  app/services/requirement_form_json_service.rb
  package-lock.json
  package.json
Due: prettier --write, eslint, stree --write

remove comparison select
  app/frontend/components/domains/requirements-library/requirement-field-edit/conditional-setup-modal.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
  app/frontend/models/requirement-block.ts
  app/frontend/types/api-request.ts
  app/frontend/types/types.ts
Due: prettier --write, eslint

prevent name collisions in req block facotry
  spec/factories/requirement_blocks.rb
Due: stree --write

address PR comments
  app/frontend/components/domains/requirements-library/requirement-field-edit/conditional-setup-modal.tsx
  app/frontend/i18n/i18n.ts
  app/models/requirement.rb
  spec/factories/requirements.rb
  spec/models/requirement_spec.rb
Due: prettier --write, eslint, stree --write

Update seeds to use BCeID
  db/migrate/20240410164337_update_contacts.rb
  db/seeds.rb
Due: stree --write

remove bullet version constraint
  Gemfile
  Gemfile.lock
Due: none

fix sensitive seeder
  db/schema.rb
  lib/tasks/sensitive_seeder.rake
Due: stree --write

Lock down bullet version
  Gemfile
  Gemfile.lock
Due: none

Allow contact fields to be optional
  Gemfile
  app/controllers/api/jurisdictions_controller.rb
  app/frontend/components/domains/home/review-manager/configuration-management-screen/submissions-inbox-setup-screen/editable-block.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/contact-field-item-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/generic-contact-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/generic-contact-edit.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/is-optional-checkbox.tsx
  app/services/requirement_form_json_service.rb
Due: prettier --write, eslint, stree --write

Gemfile.lock update
  Gemfile.lock
Due: none

add downloadable csv and json for templates with customizations only
  app/blueprints/template_version_blueprint.rb
  app/controllers/api/template_versions_controller.rb
  app/frontend/components/domains/jurisdictions/exports/export-templates-screen.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/shared/jurisdiction/manage-jurisdiction-menu.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/template-version.ts
  app/frontend/services/api/index.ts
  app/frontend/types/enums.ts
  app/models/jurisdiction_template_version_customization.rb
  app/models/template_version.rb
  app/policies/template_version_policy.rb
  config/locales/en.yml
  config/routes.rb
Due: prettier --write, eslint, stree --write

make customizations optional in template export, finish UI
  app/controllers/api/template_versions_controller.rb
  app/frontend/components/domains/jurisdictions/exports/export-templates-screen.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-digital-permit-screen/digital-building-permits-list.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-digital-permit-screen/index.tsx
  app/frontend/components/shared/version-tag.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/template-version.ts
  app/models/jurisdiction_template_version_customization.rb
  app/models/template_version.rb
  app/services/template_export_service.rb
Due: prettier --write, eslint, stree --write

Add stub encryption keys to github work flow
  .github/workflows/pull-request.yml
Due: none

[bphh-1287] Add WIP formatted_submission_data_for_external_use. Now handling non contact submitted data
  app/blueprints/requirement_blueprint.rb
  app/models/permit_application.rb
Due: stree --write

[bphh-1289] Add unique requirement block per requirement_template constraint
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/sections-display.tsx
  app/frontend/components/domains/requirements-library/requirements-library-drawer.tsx
  app/frontend/i18n/i18n.ts
  app/models/template_section_block.rb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

[bphh-1291] Fix validate_url_attribute_spec by dropping mock table only if it exists
  spec/concerns/validate_url_attributes_spec.rb
Due: stree --write

[bphh-1287] Extract formatting_submission_data for api's into it's own service
  app/models/permit_application.rb
  app/services/external_permit_application_service.rb
Due: stree --write

[bphh-1291] Refactor ExternalPermitApplicationService with extracted methods and comments
  app/services/external_permit_application_service.rb
Due: stree --write

[bphh-1291] Create external api routes and controllers for permit application search and get
  app/blueprints/permit_application_blueprint.rb
  app/controllers/external_api/application_controller.rb
  app/controllers/external_api/concerns/search/permit_applications.rb
  app/controllers/external_api/permit_applications_controller.rb
  app/policies/external_api/permit_application_policy.rb
  config/routes.rb
Due: stree --write

[bphh-1291] Change FE external api key copy to be more user friendly
  app/frontend/components/domains/external-api-key/external-api-key-modal-sub-route.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/index.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/shared/jurisdiction/manage-jurisdiction-menu.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

[bphh-1287] Handle contact requirements in formatted_submission_data_for_external_use
  app/blueprints/requirement_blueprint.rb
  app/models/permit_application.rb
Due: stree --write

[bphh-1291] Refactor requirement block sku generation logic to create a human readable unique sku instead of just uuid
  app/models/requirement_block.rb
  spec/models/requirement_block_spec.rb
Due: stree --write

dry up activity tabs into their own component
  app/frontend/components/domains/jurisdictions/exports/export-templates-screen.tsx
  app/frontend/components/domains/requirement-template/activity-tab-switcher.tsx
  app/frontend/components/domains/requirement-template/digital-building-permits-list.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-digital-permit-screen/index.tsx
  app/frontend/models/template-version.ts
Due: prettier --write, eslint

add second paragraph to when is permit needed section for permit connect
  app/frontend/components/domains/landing/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

install simple feed
  .env.example
  Gemfile
  Gemfile.lock
  config/initializers/simple_feed.rb
Due: stree --write

[bphh-1200] Add rake-attack gem and implement rate limiting for external_api/* route based on ip and token using it
  .env.example
  Gemfile
  Gemfile.lock
  config/initializers/rack_attack.rb
Due: stree --write

add shadow file for preventing hiredis LoadError
  config/boot.rb
  config/initializers/sidekiq.rb
  config/initializers/simple_feed.rb
  lib/redis/connection/hiredis.rb
Due: stree --write

move overrides to their own folder
  config/boot.rb
  overrides/redis/connection/hiredis.rb
Due: stree --write

add summary csv download
  app/controllers/api/template_versions_controller.rb
  app/frontend/components/domains/jurisdictions/exports/export-templates-screen.tsx
  app/frontend/components/domains/requirement-template/template-versions-sidebar.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/template-version.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/root-store.ts
  app/frontend/utils/utility-functions.ts
  app/models/jurisdiction_template_version_customization.rb
  app/models/requirement.rb
  app/models/template_version.rb
  app/policies/template_version_policy.rb
  app/services/template_export_service.rb
  config/locales/en.yml
  config/routes.rb
  spec/factories/requirements.rb
  spec/models/jurisdiction_template_version_customization_spec.rb
Due: prettier --write, eslint, stree --write

add afunction for counting responses to requirements WIP
  app/models/requirement.rb
Due: stree --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
