Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

attempt pdf json fix and output jsons for debugging purposes
  app/frontend/components/shared/permit-applications/pdf-content/application/index.tsx
  app/jobs/pdf_generation_job.rb
Due: prettier --write, eslint, stree --write

default pdf component title
  app/frontend/components/shared/permit-applications/pdf-content/application/index.tsx
  app/jobs/pdf_generation_job.rb
Due: prettier --write, eslint, stree --write

BPHH-3130: fix permission vulnarabilty suggestin
  .github/workflows/helms-deploy.yml
Due: none

optional logging of pdf jsons
  app/jobs/pdf_generation_job.rb
Due: stree --write

update rack
  Gemfile
  Gemfile.lock
Due: none

WIP HUB-3006 lg adopting page
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-3030 removed console logs
  app/frontend/components/domains/home/review-manager/configuration-management-screen/feature-access-screen/my-jurisdiction-about-page.tsx
Due: prettier --write, eslint

BPHH-3130:fix:path corrected for values file
  .github/workflows/helms-deploy.yml
Due: none

BPHH-3130:update:update code for specific users
  .github/workflows/helms-deploy.yml
Due: none

BPHH-3130:update:add OC cli installation step
  .github/workflows/helms-deploy.yml
Due: none

update lockfile
  Gemfile.lock
Due: none

HUB-3006 onboarding checklist page
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/onboarding/onboarding-checklist-page-for-lg-adopting-screen.tsx
  app/frontend/components/shared/base/footer.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

hot handled inbox enabled variable usage
  app/frontend/stores/jurisdiction-store.ts
  app/frontend/types/types.ts
Due: prettier --write, eslint

reapply landing changes
  app/frontend/components/domains/landing/index.tsx
Due: prettier --write, eslint

change ruby in dockerfile
  devops/docker/app/Dockerfile
Due: none

add image registry to pull from docker
  devops/docker/app/Dockerfile
  devops/docker/app/Dockerfile.dev
Due: none

hot fix to manage home page jurisdiction list with inbox_enabled toggle
  app/controllers/api/concerns/search/jurisdictions.rb
  app/frontend/stores/jurisdiction-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/jurisdiction.rb
Due: prettier --write, eslint, stree --write

use safeRefernce for current compilance report
  app/frontend/models/part-9-step-code-checklist.ts
Due: prettier --write, eslint

use loading flag to prevent race conditions on step code
  app/frontend/components/domains/step-code/part-9/checklist/index.tsx
  app/frontend/hooks/resources/use-part-9-step-code.ts
  app/frontend/hooks/resources/use-permit-application.ts
  app/frontend/stores/permit-application-store.ts
Due: prettier --write, eslint

Updated content and fine tune the page
  app/frontend/components/domains/onboarding/onboarding-checklist-page-for-lg-adopting-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-3012 development of privacy policy page
  app/frontend/components/domains/misc/privacy-policy-screen.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/shared/base/footer.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

add logging for debugging checklist issue on test
  app/frontend/models/part-9-step-code-checklist.ts
Due: prettier --write, eslint

attempt log and fix blank step code error
  app/frontend/models/part-9-step-code-checklist.ts
Due: prettier --write, eslint

remove postprocess methodology
  app/frontend/models/part-9-step-code-checklist.ts
Due: prettier --write, eslint

remove selectedReport reference in lieu of frozen data for science
  app/frontend/models/part-9-step-code-checklist.ts
Due: prettier --write, eslint

HUB-844 fixed jurisdiction name sort issue
  app/frontend/stores/jurisdiction-store.ts
  app/frontend/utils/utility-functions.ts
Due: prettier --write, eslint

add temp logs for investigating mst bug
  app/frontend/models/part-9-step-code-checklist.ts
Due: prettier --write, eslint

add checklist validitiy logging
  app/frontend/models/part-9-step-code-checklist.ts
Due: prettier --write, eslint

upcase indexed jurisdiction name and reindex
  app/models/jurisdiction.rb
  db/migrate/20250617175120_reindex_jurisdiction_names_upcase.rb
  db/schema.rb
Due: stree --write

refresh page after step code reset
  app/frontend/components/domains/step-code/part-9/restart-confirmation-modal.tsx
  app/frontend/stores/step-code-store.ts
Due: prettier --write, eslint

WIP HUB-1046 designated reviewer to send revisions
  app/blueprints/jurisdiction_blueprint.rb
  app/controllers/api/jurisdictions_controller.rb
  app/frontend/components/domains/home/review-manager/configuration-management-screen/feature-access-screen/designated-reviewer.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/feature-access-screen/index.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/permit-application/designated-reviewer-modal.tsx
  app/frontend/components/domains/permit-application/revision-sidebar.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/jurisdiction.ts
  app/frontend/models/permit-application.ts
  app/frontend/models/permit-collaboration.ts
  db/migrate/20250616204159_add_designated_reviewer_to_jurisdictions.rb
  db/migrate/20250616210003_set_default_designated_reviewer_for_jurisdictions.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

Removed sort option inbox_enabled sort option from jurisdiction search
  app/frontend/types/enums.ts
Due: prettier --write, eslint

default formio_type_options
  app/services/requirement_form_json_service.rb
Due: stree --write

default to_form_json
  app/services/requirement_form_json_service.rb
Due: stree --write

add logging to fix rq blocks on test
  app/services/requirement_form_json_service.rb
Due: stree --write

filter out nil requirements
  app/models/requirement_block.rb
  app/services/requirement_form_json_service.rb
Due: stree --write

add down migrations
  db/migrate/20240308221409_add_default_steps_to_jurisdictions.rb
Due: stree --write

WIP HUB 1046
  app/blueprints/jurisdiction_blueprint.rb
  app/controllers/api/jurisdictions_controller.rb
  app/frontend/components/domains/home/review-manager/configuration-management-screen/feature-access-screen/designated-reviewer.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/designated-reviewer-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/site-configuration-store.ts
  app/frontend/types/api-request.ts
  db/migrate/20250616204159_add_designated_reviewer_to_jurisdictions.rb
  db/migrate/20250616210003_set_default_designated_reviewer_for_jurisdictions.rb
  db/migrate/20250618051410_add_allow_designated_reviewer_to_site_configurations.rb
  db/migrate/20250618204739_remove_designated_reviewer_from_jurisdictions.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

disable type column from other branches migrations
  app/models/step_code.rb
Due: stree --write

HUB-1046 Integrated designated reviewer feature access on super admin and RM levels
  app/blueprints/jurisdiction_blueprint.rb
  app/blueprints/site_configuration_blueprint.rb
  app/controllers/api/site_configuration_controller.rb
  app/frontend/components/domains/home/review-manager/configuration-management-screen/feature-access-screen/designated-reviewer.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/feature-access-screen/index.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/permit-application/collaborator-management/collaborators-sidebar.tsx
  app/frontend/components/domains/permit-application/revision-sidebar.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/designated-reviewer-screen.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/global-feature-access.tsx
  app/frontend/models/jurisdiction.ts
  app/frontend/models/permit-application.ts
  app/frontend/stores/site-configuration-store.ts
  app/frontend/types/api-request.ts
  app/models/site_configuration.rb
  app/policies/permit_application_policy.rb
Due: prettier --write, eslint, stree --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
