Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

add frontend for landing jurisdiction search
  app/frontend/components/domains/landing/index.tsx
  app/frontend/components/shared/base/blue-title-bar.tsx
  app/frontend/components/shared/select/selectors/address-select.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/jurisdiction.ts
Due: prettier --write, eslint

add scroll to top for routerlinks
  app/frontend/components/shared/navigation/router-link.tsx
Due: prettier --write, eslint

hide overflow on html and body tags to workaround scrolling issues
  app/frontend/entrypoints/application.tsx
Due: prettier --write, eslint

BPHH-870 Update the links that are inside the permit application preview cards that submitter see
  app/frontend/components/shared/permit-applications/permit-application-card.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

update seed and checkboxes
  app/models/requirement.rb
  app/services/requirements_from_xlsx_seeder.rb
  db/templates/Core Permit Requirements List.xlsx
  spec/models/requirement_spec.rb
Due: stree --write

updating jurisdictions routing
  app/blueprints/jurisdiction_blueprint.rb
  app/frontend/components/domains/home/reviewer-home-screen.tsx
  app/frontend/components/domains/jurisdictions/index.tsx
  app/frontend/components/domains/jurisdictions/new-jurisdiction-screen.tsx
  app/frontend/components/shared/jurisdiction/manage-jurisdiction-menu.tsx
  app/frontend/hooks/resources/use-jurisdiction.ts
  app/frontend/models/jurisdiction.ts
  app/frontend/stores/jurisdiction-store.ts
Due: prettier --write, eslint, stree --write

[bphh-635] Add contact requirement types display component, and add it to field setup drawer
  app/frontend/components/domains/requirements-library/fields-setup-drawer.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
  app/frontend/constants.ts
  app/frontend/i18n/i18n.ts
  app/frontend/types/enums.ts
  app/models/requirement.rb
Due: prettier --write, eslint, stree --write

[bphh-635] Refactor requirement-field-edit sub components to individual files and organize them under folder
  app/frontend/components/domains/requirements-library/requirement-field-edit/editable-group.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/editable-helper-text.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/editable-label.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/is-elective-checkbox.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/is-optional-checkbox.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/types.ts
Due: prettier --write, eslint

[bphh-635] Refactor requirement-field-display sub components to individual files and organize them under folder
  app/frontend/components/domains/requirements-library/requirement-field-display/contact-field-item-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/generic-contact-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/generic-field-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/index.tsx
Due: prettier --write, eslint

[bphh-635] Add contact field edit mode for requirement block edit
  app/controllers/api/requirement_blocks_controller.rb
  app/frontend/components/domains/requirements-library/requirement-field-display/generic-contact-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/index.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/generic-contact-edit.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/api-request.ts
  app/frontend/utils/utility-functions.ts
  app/models/requirement.rb
Due: prettier --write, eslint, stree --write

[bphh-635] Add contact field formio jsons for submitter
  app/frontend/components/domains/requirements-library/requirement-field-display/index.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/i18n/i18n.ts
  app/models/requirement.rb
  app/services/requirement_form_json_service.rb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

[bphh-635] mark contact fields as required or not
  app/services/requirement_form_json_service.rb
  config/locales/en.yml
Due: stree --write

[bphh-635] Update contact requirement styles from submitter side
  app/frontend/components/shared/chefs/styles.scss
  app/services/requirement_form_json_service.rb
Due: stree --write

[bphh-635] Include add another person button for requirement display component
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/generic-contact-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/types.ts
Due: prettier --write, eslint

[bphh-635] Mark more contact fields as optional
  app/services/requirement_form_json_service.rb
Due: stree --write

[bphh-635] Make keys more unique for contact requirements
  app/services/requirement_form_json_service.rb
Due: stree --write

[bphh-635] Update submitter side contact grid button styles and increase setup drawer max width
  app/frontend/components/domains/requirements-library/fields-setup-drawer.tsx
  app/frontend/components/shared/chefs/styles.scss
Due: prettier --write, eslint

refactor checkbox to not have multiple value options for the front-end
  app/frontend/components/domains/requirements-library/requirement-field-display/generic-field-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/index.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/editable-group.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
  app/frontend/utils/utility-functions.ts
  app/models/requirement.rb
Due: prettier --write, eslint, stree --write

Add in a placeholder image for the permit type image for low density residential
  app/frontend/components/shared/permit-applications/permit-application-card.tsx
  app/frontend/components/shared/permit-classification/permit-type-radio-select.tsx
  app/frontend/styles/theme/components/text.ts
  public/images/permit_classifications/low_residential.png
Due: prettier --write, eslint

[bphh-724] Add basic ability to view conditional logic on requirements for super admins
  app/frontend/components/domains/requirements-library/requirement-field-edit/conditional-setup-modal.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/options-menu.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/field-controls-header.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/api-request.ts
Due: prettier --write, eslint

[bphh-724] Add a configurations column for requirements library table
  app/frontend/components/domains/requirements-library/grid-header.tsx
  app/frontend/components/domains/requirements-library/requirement-blocks-table.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/field-controls-header.tsx
  app/frontend/components/shared/elective-tag.tsx
  app/frontend/components/shared/has-conditional-tag.tsx
  app/frontend/components/shared/requirement-type-tag.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement-block.ts
  app/frontend/models/requirement.ts
  app/frontend/stores/requirement-block-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/requirement.rb
  app/models/requirement_block.rb
Due: prettier --write, eslint, stree --write

[bphh-648] Show required asterisk for required requirement field display
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/contact-field-item-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/generic-field-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/index.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/types/types.ts
Due: prettier --write, eslint

Tweaking preamble content when user starts a new permit application: removing background color and making it full width.
  app/frontend/components/domains/permit-application/new-permit-application-screen.tsx
  app/frontend/styles/theme/index.ts
Due: prettier --write, eslint

Add jurisdiciton validation on permit applicaitons
  app/models/permit_application.rb
  config/locales/en.yml
  db/schema.rb
  db/seeds.rb
Due: stree --write

add validation and logic for ensuring users only pick permit types with a jurisdiction contact
  app/controllers/api/permit_classifications_controller.rb
  app/frontend/components/domains/permit-application/new-permit-application-screen.tsx
  app/frontend/components/shared/permit-classification/activity-list.tsx
  app/frontend/components/shared/permit-classification/permit-type-radio-select.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/permit-classification-store.ts
  app/models/permit_application.rb
  config/locales/en.yml
  db/schema.rb
  db/seeds.rb
Due: prettier --write, eslint, stree --write

add factories to fix specs
  spec/factories/jurisdictions.rb
  spec/factories/permit_type_submission_contact.rb
Due: stree --write

make routerlink icon optional
  app/frontend/components/shared/navigation/router-link-button.tsx
Due: prettier --write, eslint

updating urls for reviewers
  app/frontend/components/domains/home/review-manager/configuration-management-screen/index.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/submissions-inbox-setup-screen/editable-block.tsx
  app/frontend/components/domains/home/review-manager/index.tsx
  app/frontend/components/domains/home/reviewer-home-screen.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/stores/jurisdiction-store.ts
  db/schema.rb
Due: prettier --write, eslint, stree --write

[bphh-738] Remove feedback bar
  app/frontend/components/shared/base/footer.tsx
  app/frontend/components/shared/feedback-bar.tsx
  app/frontend/constants.ts
  app/frontend/i18n/i18n.ts
  app/frontend/services/api/send-gov-feedback-response.tsx
  app/frontend/types/enums.ts
Due: prettier --write, eslint

updating computed compliance capabilities
  app/frontend/components/shared/chefs/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/utils/formio-component-traversal.ts
  app/jobs/automated_compliance/autopopulate_job.rb
  app/models/concerns/automated_compliance_utils.rb
  app/models/concerns/form_supporting_documents.rb
  app/services/automated_compliance/historic_site.rb
  app/services/automated_compliance/parcel_info_extractor.rb
  app/services/integrations/ltsa_parcel_map_bc.rb
  db/migrate/20240314183310_add_compliance_data_to_permit_applications.rb
  db/schema.rb
  db/seeds.rb
  spec/factories/requirement_templates.rb
  spec/factories/requirements.rb
  spec/jobs/automated_compliance/autopopulate_job_spec.rb
  spec/models/concerns/automated_compliance_utils_spec.rb
  spec/services/automated_compliance/historic_site_spec.rb
  spec/services/automated_compliance/parcel_info_extractor_spec.rb
  spec/vcr_cassettes/automated_compliance/parcel_info_extractor/details.yml
Due: prettier --write, eslint, stree --write

initail update of websockets for automated compliance to get data into front end
  app/blueprints/permit_application_blueprint.rb
  app/controllers/api/jurisdictions_controller.rb
  app/controllers/api/permit_applications_controller.rb
  app/frontend/channels/processors/user_push_processor.ts
  app/frontend/channels/user_channel.ts
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/stores/permit-application-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/jobs/automated_compliance/autopopulate_job.rb
  app/models/concerns/form_supporting_documents.rb
  app/models/permit_application.rb
  app/services/websocket_broadcaster.rb
Due: prettier --write, eslint, stree --write

adding a permit application compliance module for full address
  app/jobs/automated_compliance/autopopulate_job.rb
  app/services/automated_compliance/permit_application.rb
Due: stree --write

optimize draft search and hooks
  app/blueprints/permit_application_blueprint.rb
  app/controllers/api/jurisdictions_controller.rb
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/permit-application/index.tsx
  app/frontend/components/shared/permit-applications/permit-application-status-tabs.tsx
  app/frontend/lib/create-search-model.ts
  app/frontend/stores/permit-application-store.ts
Due: prettier --write, eslint, stree --write

fix comma bug
  app/blueprints/permit_application_blueprint.rb
  db/schema.rb
Due: stree --write

check isFullyLoaded permit application
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/errors-box.tsx
  app/frontend/components/domains/permit-application/index.tsx
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/successful-submission.tsx
  app/frontend/models/permit-application.ts
  app/frontend/stores/permit-application-store.ts
Due: prettier --write, eslint

[bphh-859] Adds a required reason select field for an enabled elective field
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/jurisdiction-requirement-block-edit-sidebar.tsx
  app/frontend/constants.ts
  app/frontend/i18n/i18n.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/jurisdiction_template_version_customization.rb
  app/services/template_versioning_service.rb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

Copy update on landing page based on "181-R Landing Page.docx"
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Adjust timeout parameter properly (for devise-jwt and not base devise)
  config/initializers/devise.rb
Due: stree --write

Change pundit errors to status 403
  app/controllers/api/application_controller.rb
Due: stree --write

[bphh-885] Fix bug when trying to save a requirement template after removing and then adding the same requirement block to the same section
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/index.tsx
  app/frontend/models/requirement-template-section.ts
Due: prettier --write, eslint
