Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

[bphh-365] Add ability for jurisdiction to enable/disable elective fields
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/jurisdiction-requirement-block-edit-sidebar.tsx
  app/frontend/components/domains/requirement-template/template-versions-sidebar.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement.ts
Due: prettier --write, eslint

[bphh-365] Fix dangling coma
  app/frontend/stores/template-version-store.ts
Due: prettier --write, eslint

[bphh-365] Fix breadcrumb for edit building permit path
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/builder-header.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/editable-builder-header.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/template-version-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/types.ts
Due: prettier --write, eslint

Tune some settings so we are under quota in prod
  devops/helm-charts/anycable-go/values-prod.yaml
  devops/helm-charts/anycable-go/values.yaml
  devops/helm-charts/ha-elasticsearch/values-prod.yaml
Due: none

[bphh-760] Refactor requirment field edit to use reusable components to reduce duplication
  app/frontend/components/domains/requirements-library/requirement-field-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
Due: prettier --write, eslint

[bphh-760] Refactor RequirementFieldDisplay to use reusable components to reduce duplication
  app/frontend/components/domains/requirements-library/requirement-field-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/constants.ts
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

[bphh-760] Add ability to denote a field in requirement block edit as elective. Also fix bug with "optional for submitters" checkbox
  app/controllers/api/requirement_blocks_controller.rb
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement.ts
  app/frontend/types/api-request.ts
Due: prettier --write, eslint, stree --write

bump ram limit for consigno
  devops/helm-charts/consigno-verifio-notarius-server/values.yaml
Due: none

[bphh-760] Add input type tag and elective tag to requirement template block edit page
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/jurisdiction-requirement-block-edit-sidebar.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/styles/theme/foundations/colors.ts
Due: prettier --write, eslint

correct helm chart error
  devops/helm-charts/ha-elasticsearch/values.yaml
  devops/helm-charts/ha-redis/values.yaml
Due: none

abstract network policies to a openshift-base chart
  devops/helm-charts/openshift-base/.helmignore
  devops/helm-charts/openshift-base/Chart.lock
  devops/helm-charts/openshift-base/Chart.yaml
  devops/helm-charts/openshift-base/templates/networkpolicies.yaml
  devops/helm-charts/openshift-base/values-dev.yaml
  devops/helm-charts/openshift-base/values-prod.yaml
  devops/helm-charts/openshift-base/values-test.yaml
  devops/helm-charts/openshift-base/values.yaml
Due: none

update permit appl. create flow using template version delegations and new reference
  app/controllers/api/permit_classifications_controller.rb
  app/models/jurisdiction.rb
  app/models/permit_application.rb
  app/models/requirement_template.rb
  app/models/template_version.rb
  db/migrate/20240307004129_add_template_version_to_permit_application.rb
  db/schema.rb
  db/seeds.rb
Due: stree --write

shrine fix for moving cache to storage
  config/initializers/shrine.rb
Due: stree --write

add tempate version to PA factory and fix other specs
  db/migrate/20240307004129_add_template_version_to_permit_application.rb
  spec/factories/permit_applications.rb
  spec/spec_helper.rb
Due: stree --write

[bphh-754] Add back-end logic to copy over jurisdiction changes to new template version
  app/services/template_versioning_service.rb
Due: stree --write

Add some basic styling on the link to look like a button, a <H1> title so it looks less basic, and also a link back to Building Permit Hub.
  app/views/devise/mailer/invitation_instructions.html.erb
  app/views/devise/mailer/reset_password_instructions.html.erb
Due: none

added elective into seeding column
  app/services/requirements_from_xlsx_seeder.rb
Due: stree --write

Add a permit-portal-routing helm chart which has the base network policies and an nginx reverse proxy so that we can route websocket connections to the proper place
  config/initializers/devise.rb
  devops/helm-charts/anycable-go/templates/route.yaml
  devops/helm-charts/anycable-go/values.yaml
  devops/helm-charts/app/values-prod.yaml
  devops/helm-charts/app/values.yaml
  devops/helm-charts/consigno-verifio-notarius-server/values-prod.yaml
  devops/helm-charts/openshift-base/Chart.lock
  devops/helm-charts/openshift-base/values-dev.yaml
  devops/helm-charts/openshift-base/values-prod.yaml
  devops/helm-charts/openshift-base/values-test.yaml
  devops/helm-charts/openshift-base/values.yaml
  devops/helm-charts/permit-portal-routing/.helmignore
  devops/helm-charts/permit-portal-routing/Chart.lock
  devops/helm-charts/permit-portal-routing/Chart.yaml
  devops/helm-charts/permit-portal-routing/charts/nginx-15.14.0.tgz
  devops/helm-charts/permit-portal-routing/templates/networkpolicies.yaml
  devops/helm-charts/permit-portal-routing/templates/route.yaml
  devops/helm-charts/permit-portal-routing/values-dev.yaml
  devops/helm-charts/permit-portal-routing/values-prod.yaml
  devops/helm-charts/permit-portal-routing/values-test.yaml
  devops/helm-charts/permit-portal-routing/values.yaml
Due: stree --write

Fix issue with filtering of elective field for jurisdiction template version customization edit
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/index.tsx
  app/frontend/components/domains/requirement-template/sections-display.tsx
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
Due: prettier --write, eslint

Some cleanup, do not specify stage on the name of the web, worker, and rpc pods for an easier time referencing them
  devops/helm-charts/anycable-go/templates/route.yaml
  devops/helm-charts/anycable-go/values.yaml
  devops/helm-charts/app/templates/deployment.yaml
  devops/helm-charts/app/templates/service-anycable-rpc.yaml
  devops/helm-charts/app/templates/service-web.yaml
  devops/helm-charts/permit-portal-routing/templates/route.yaml
  devops/helm-charts/permit-portal-routing/values.yaml
Due: none

Update log4j.xml configuration for Consigno Dockerfile to see more logs in the foreground, also adjust the helm chart settings
  devops/docker/consigno-verifio-notarius-server/Dockerfile
  devops/docker/consigno-verifio-notarius-server/log4j.xml
  devops/helm-charts/app/templates/deployment.yaml
  devops/helm-charts/consigno-verifio-notarius-server/templates/deployment.yaml
  devops/helm-charts/consigno-verifio-notarius-server/templates/service.yaml
  devops/helm-charts/consigno-verifio-notarius-server/values-prod.yaml
  devops/helm-charts/ha-redis/values-test.yaml
Due: none

add tempate version to PA factory and fix other specs
  app/frontend/components/domains/navigation/nav-bar.tsx
  db/migrate/20240307004129_add_template_version_to_permit_application.rb
  public/images/logo.png
  spec/factories/permit_applications.rb
  spec/spec_helper.rb
Due: prettier --write, eslint, stree --write

add status filter to pa index remove viewed and approved as statuses
  app/controllers/api/concerns/search/permit_applications.rb
  app/frontend/components/domains/permit-application/index.tsx
  app/frontend/components/shared/permit-applications/permit-application-status-tabs.tsx
  app/frontend/components/shared/permit-applications/permit-application-status-tag.tsx
  app/frontend/hooks/use-search.ts
  app/frontend/i18n/i18n.ts
  app/frontend/lib/create-search-model.ts
  app/frontend/stores/permit-application-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/permit_application.rb
  spec/models/permit_application_spec.rb
Due: prettier --write, eslint, stree --write

fix seeds, status query param, and search
  app/controllers/api/concerns/search/permit_applications.rb
  app/frontend/components/shared/permit-applications/permit-application-status-tabs.tsx
  app/frontend/i18n/i18n.ts
  app/models/jurisdiction.rb
  app/models/permit_application.rb
  app/models/requirement.rb
  app/models/requirement_template.rb
  db/seeds.rb
Due: prettier --write, eslint, stree --write

several maintenance cards including fixing archive and count, invite input layout, logout, footer, etc
  app/blueprints/jurisdiction_blueprint.rb
  app/frontend/components/domains/jurisdictions/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/shared/base/footer.tsx
  app/frontend/components/shared/base/inputs/user-input.tsx
  app/frontend/components/shared/base/not-found-screen.tsx
  app/frontend/components/shared/user/mange-user-menu.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/jurisdiction.ts
  app/frontend/stores/session-store.ts
  app/models/jurisdiction.rb
Due: prettier --write, eslint, stree --write

nested parsing for to_form_json was not converting all properly
  app/blueprints/requirement_block_blueprint.rb
  app/models/requirement_template.rb
  app/services/template_versioning_service.rb
  spec/services/template_versioning_service_spec.rb
Due: stree --write

adding tips to the template structure and through frontend merging
  app/blueprints/permit_application_blueprint.rb
  app/frontend/components/shared/chefs/index.tsx
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/hooks/resources/use-permit-application.ts
  app/frontend/models/permit-application.ts
  app/frontend/utils/formio-component-traversal.ts
  app/models/permit_application.rb
Due: prettier --write, eslint, stree --write

bphh-653 basic icons for computed compliance
  app/frontend/components/shared/chefs/index.tsx
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/utils/formio-component-traversal.ts
  app/models/requirement.rb
  app/models/supporting_document.rb
Due: prettier --write, eslint, stree --write

updated styling fix
  app/frontend/components/shared/chefs/styles.scss
Due: none

add user mailer, mailer parent class, password confirmation email
  app/controllers/api/users_controller.rb
  app/mailers/application_mailer.rb
  app/mailers/custom_devise_mailer.rb
  app/mailers/user_mailer.rb
  app/views/layouts/mailer.html.erb
  app/views/layouts/mailer.text.erb
  app/views/user_mailer/update_password_success.html.erb
  config/initializers/devise.rb
  config/locales/en.yml
  db/migrate/20240308210431_add_unconfirmed_email_to_users.rb
  db/schema.rb
  spec/mailers/previews/user_mailer_preview.rb
  spec/mailers/user_mailer_spec.rb
Due: stree --write

update typings
  app/frontend/models/permit-application.ts
Due: prettier --write, eslint

Adjust limits for dev / test in Openshift environment
  devops/helm-charts/anycable-go/values-prod.yaml
  devops/helm-charts/anycable-go/values-test.yaml
  devops/helm-charts/app/values-dev.yaml
  devops/helm-charts/app/values-prod.yaml
  devops/helm-charts/app/values-test.yaml
  devops/helm-charts/consigno-verifio-notarius-server/values-dev.yaml
  devops/helm-charts/consigno-verifio-notarius-server/values-prod.yaml
  devops/helm-charts/consigno-verifio-notarius-server/values-test.yaml
  devops/helm-charts/consigno-verifio-notarius-server/values.yaml
  devops/helm-charts/ha-elasticsearch/values-dev.yaml
  devops/helm-charts/ha-elasticsearch/values-test.yaml
  devops/helm-charts/ha-postgres-crunchydb/values-dev.yaml
  devops/helm-charts/ha-postgres-crunchydb/values-test.yaml
  devops/helm-charts/ha-postgres-crunchydb/values.yaml
  devops/helm-charts/ha-redis/values-test.yaml
  devops/helm-charts/ha-redis/values.yaml
Due: none

Move Dockerfile for app into devops folder
  .github/workflows/dev.yml
  .github/workflows/prod.yml
  .github/workflows/test.yml
  devops/docker/app/Dockerfile
  devops/docker/app/entrypoint.sh
Due: none

ad foippa warning and fix pid selector
  app/frontend/components/domains/requirement-template/builder-floating-buttons.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/components/shared/select/selectors/sites-select.tsx
  app/frontend/i18n/i18n.ts
  app/models/permit_application.rb
Due: prettier --write, eslint, stree --write

update more test values
  devops/helm-charts/anycable-go/values-test.yaml
  devops/helm-charts/app/values-test.yaml
  devops/helm-charts/ha-postgres-crunchydb/values-test.yaml
  devops/helm-charts/permit-portal-routing/values.yaml
Due: none

rename view directory to permit_hub_mailer
  app/views/permit_hub_mailer/01_welcome_email.html.erb
  app/views/permit_hub_mailer/02a_notify_reviewer_application_received_email.html.erb
  app/views/permit_hub_mailer/02b_notify_submitter_application_submitted_email.html.erb
  app/views/permit_hub_mailer/03_competion_of_assigned_checklist_email.html.erb
  app/views/permit_hub_mailer/04_notify_application_updated_email.html.erb
  app/views/permit_hub_mailer/05_notify_reviewer_assignment.html.erb
  app/views/permit_hub_mailer/07_reminder_submitter_pending_action.html.erb
  app/views/permit_hub_mailer/08_notify_updated_documenation_requirements.html.erb
  app/views/permit_hub_mailer/09_announce_maintenance_email.html.erb
  app/views/permit_hub_mailer/10_acknowledge_inquiry_email.html.erb
  app/views/permit_hub_mailer/11_onboarding_email.html.erb
  app/views/permit_hub_mailer/12_remind_submitter_email.html.erb
  app/views/permit_hub_mailer/13_remind_reviewer_email.html.erb
Due: none

[bphh-754] Early return from copying customization if the previous template version does not exist
  app/services/template_versioning_service.rb
Due: stree --write

Update values for dev
  .github/workflows/dev.yml
  devops/helm-charts/anycable-go/values-dev.yaml
  devops/helm-charts/app/values-dev.yaml
  devops/helm-charts/consigno-verifio-notarius-server/values-dev.yaml
  devops/helm-charts/ha-elasticsearch/values-dev.yaml
  devops/helm-charts/ha-postgres-crunchydb/values-dev.yaml
  devops/helm-charts/ha-redis/values-dev.yaml
Due: none

use jemalloc to improve memory - https://medium.com/code-wild/how-jemalloc-improved-memory-usage-of-our-rails-application-7038d5926d4
  devops/docker/app/Dockerfile
Due: none

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
