Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

BPHH-2725 - updated PR code
  app/frontend/components/domains/users/profile-screen.tsx
Due: prettier --write, eslint

Added anchor tag with ArrowSquareOut hard coded link
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/step-code/info.tsx
Due: prettier --write, eslint

Code optimization of the PR
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
Due: prettier --write, eslint

BPHH-1867 Updated code to send notification when new template is published
  app/services/template_versioning_service.rb
Due: stree --write

BPHH-2690 Integration of submission inbox enable/disable for super admin end
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-push
  app/blueprints/site_configuration_blueprint.rb
  app/controllers/api/site_configuration_controller.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/global-feature-access.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/index.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/submission-inbox.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/site-configuration-store.ts
  app/frontend/types/api-request.ts
  db/migrate/20250218213843_add_inbox_enabled_to_site_configurations.rb
Due: prettier --write, eslint, stree --write

BPHH-2690 Restore git related files
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-push
Due: none

Bphh 2690 global feature flag management by super admin - PR updated
  app/frontend/components/domains/super-admin/site-configuration-management/global-feature-access.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/submission-inbox.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

BHPP-720 fixed the svg icon position
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
Due: prettier --write, eslint

BPHH-2794 - Fixed text wrapping globally whereever the text editor is used
  app/frontend/components/shared/editor/editor.tsx
Due: prettier --write, eslint

BHPP-2690 - Updated PR with review changes
  app/controllers/api/site_configuration_controller.rb
  app/frontend/components/domains/super-admin/site-configuration-management/global-feature-access.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/submission-inbox.tsx
  app/frontend/components/shared/buttons/switch-button.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/flash-message.ts
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

HUB-1886 - fixed updated user role from RRM -> submitter
  app/controllers/api/users_controller.rb
  app/models/user.rb
Due: stree --write

Updated hover effect on the row instead of each column
  app/frontend/components/domains/super-admin/site-configuration-management/global-feature-access.tsx
Due: prettier --write, eslint

HUB-1748 Implemented Test data to send to Kibana from Jurisdiction submission inbox
  Gemfile
  Gemfile.lock
  app/controllers/api/user_activities_controller.rb
  app/frontend/models/jurisdiction.ts
  app/frontend/models/user-activity.ts
  app/frontend/services/api/index.ts
  app/models/user_activity.rb
  app/services/activity_logger.rb
  config/routes.rb
  db/migrate/20250304235246_create_user_activities.rb
  docker-compose.yml
Due: prettier --write, eslint, stree --write

HUB-1748 removed debugging code
  app/frontend/models/jurisdiction.ts
  docker-compose.yml
Due: prettier --write, eslint

HUB-1736 Removed unwanted debugging code
  app/frontend/components/shared/chefs/additional-formio/providers/storage/s3custom.js
Due: none

HUB-1155 CodeQL failed scan fixed
  Gemfile
  package.json
Due: none

HUB-1869 disabled autofill button on any of the event on the page
  app/frontend/components/shared/permit-applications/requirement-form.tsx
Due: prettier --write, eslint

HUB-1872 updated environment variables
  .github/workflows/dev.yml
  .github/workflows/prod.yml
  .github/workflows/test.yml
  app/frontend/components/domains/authentication/login-screen.tsx
Due: prettier --write, eslint

HUB-1043 Fixed the Tip anchor tag display issue on submitter end
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/jurisdiction-requirement-block-edit-sidebar.tsx
  app/frontend/components/shared/chefs/additional-formio/templates/panel.js
  app/frontend/components/shared/form/input-form-control.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-1155 CodeQL failed scan fixed (#898)
  Gemfile
  package.json
Due: none

HUB-1869 disabled autofill button on any of the event on the page (#899)
  app/frontend/components/shared/permit-applications/requirement-form.tsx
Due: prettier --write, eslint

HUB-1043 Fixed the Tip anchor tag display issue on submitter end (#901)
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/jurisdiction-requirement-block-edit-sidebar.tsx
  app/frontend/components/shared/chefs/additional-formio/templates/panel.js
  app/frontend/components/shared/form/input-form-control.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-1872 updated environment variables (#900)
  .github/workflows/dev.yml
  .github/workflows/prod.yml
  .github/workflows/test.yml
  app/frontend/components/domains/authentication/login-screen.tsx
Due: prettier --write, eslint

add cursorignore and some git lfs changes
  .cursorignore
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-push
  Gemfile.lock
Due: none

Update bundler to bundler:2.5.22
  devops/docker/app/Dockerfile
  devops/docker/app/Dockerfile.dev
Due: none

BPHH-2794 updated the word-break to text editor
  app/frontend/components/shared/editor/editor.tsx
Due: prettier --write, eslint

apply quill work break style globally
  app/frontend/components/shared/editor/editor.tsx
  app/frontend/components/shared/editor/quill.css
Due: prettier --write, eslint

make disabling autofill button more concise
  app/frontend/components/shared/permit-applications/requirement-form.tsx
Due: prettier --write, eslint

Apply changes to lock file
  Gemfile.lock
Due: none

Fixed First Nations text on home page under Why use this tool section
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Apply changes to npm lock file
  package-lock.json
Due: none

use css to hide autofill on preview
  app/frontend/components/domains/super-admin/early-access/requirement-templates/early-access-requirement-template-screen.tsx
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/components/shared/permit-applications/requirement-form.tsx
Due: prettier --write, eslint

Update bundler version from 2.5.4 to 2.5.22 to fix build issues with updated gems
  Gemfile.lock
  devops/docker/app/Dockerfile
  devops/docker/app/Dockerfile.dev
  package-lock.json
Due: none

Update bundler version from 2.5.4 to 2.5.22 to fix build issues with updated gems (#907)
  Gemfile.lock
  devops/docker/app/Dockerfile
  devops/docker/app/Dockerfile.dev
  package-lock.json
Due: none

Hotfix for RM Help link section to accept URL starting with www and http
  app/frontend/components/shared/form/input-form-control.tsx
Due: prettier --write, eslint

Updated method to check www http and subdomain in a URL
  app/frontend/components/shared/form/input-form-control.tsx
Due: prettier --write, eslint

hotfix for isValidUrl regex to check url patters
  app/frontend/components/shared/form/input-form-control.tsx
Due: prettier --write, eslint
