Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

fix desceiprion rendering on white spaces
  app/frontend/components/shared/chefs/additional-formio/templates/panel.js
  app/services/requirements_from_xlsx_seeder.rb
Due: stree --write

refactor template mesaging order for compliance
  app/frontend/components/shared/chefs/index.tsx
Due: prettier --write, eslint

switch to simplefile
  app/controllers/api/storage_controller.rb
  app/frontend/components/shared/chefs/additional-formio/providers/storage/s3custom.js
  app/policies/supporting_document_policy.rb
  app/services/requirement_form_json_service.rb
Due: stree --write

updated seed
  db/templates/Core Permit Requirements List.xlsx
Due: none

add pid or pin validation
  app/models/permit_application.rb
  config/locales/en.yml
  spec/factories/permit_applications.rb
  spec/jobs/automated_compliance/autopopulate_job_spec.rb
Due: stree --write

adding pin into parcel info extractor
  app/services/automated_compliance/parcel_info_extractor.rb
  app/services/integrations/ltsa_parcel_map_bc.rb
  spec/services/automated_compliance/parcel_info_extractor_spec.rb
  spec/vcr_cassettes/automated_compliance/parcel_info_extractor/details_pin.yml
Due: stree --write

add ltsa call to search for pins based on coordiantes from a site id
  app/services/integrations/ltsa_parcel_map_bc.rb
  app/services/wrappers/geocoder.rb
Due: stree --write

always check PIN is not null to ensure pin results only
  app/services/integrations/ltsa_parcel_map_bc.rb
Due: stree --write

use domparser instead of regex in quill empty check
  app/frontend/utils/utility-functions.ts
Due: prettier --write, eslint

fixing file input types on seed and seed items
  app/services/requirement_form_json_service.rb
  db/templates/Core Permit Requirements List.xlsx
Due: stree --write

security updates to rails, nokogiri, rdoc, and more
  Gemfile
  Gemfile.lock
  package-lock.json
  package.json
Due: none

rename function
  app/frontend/utils/formio-component-traversal.ts
Due: prettier --write, eslint

Reimplement rich text help text for requirement, which got removed due to an error in merge before
  app/frontend/components/domains/requirements-library/requirement-field-display/generic-field-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/editable-helper-text.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/components/shared/editor/custom-extensions/editor-with-preview.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Remove "My Permits" link from checklist header
  app/frontend/components/domains/navigation/nav-bar.tsx
Due: prettier --write, eslint

Decrease requirement fields column padding to include enough space
  app/frontend/components/domains/requirements-library/requirement-blocks-table.tsx
Due: prettier --write, eslint

add first nations to seeds
  docs/csv/jurisdictions.csv
Due: none

contact name fixing
  app/frontend/models/permit-application.ts
  db/seeds.rb
Due: prettier --write, eslint, stree --write

Add active record concern to sanitize attributes and include them for models with rich text
  app/models/concerns/html_sanitize_attributes.rb
  app/models/end_user_license_agreement.rb
  app/models/requirement.rb
  app/models/requirement_block.rb
Due: stree --write

Add confirmation on step code restart
  app/frontend/components/domains/step-code/nav-links.tsx
  app/frontend/components/domains/step-code/restart-confirmation-modal.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Fix zero carbon prescriptive value copy
  app/frontend/components/domains/step-code/checklist/zero-carbon-step-code-compliance/compliance-grid/prescriptive.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/step-code-checklist.ts
  app/frontend/types/enums.ts
Due: prettier --write, eslint

Default compliance section to open
  app/frontend/components/domains/step-code/checklist/index.tsx
Due: prettier --write, eslint

Add placeholder for fossil fuel select
  app/frontend/components/domains/step-code/checklist/building-characteristics-summary/dynamic-characteristics-grid/fossil-fuels-presence-select.tsx
Due: prettier --write, eslint

Position the spinners in the tables and page loading ones to look centered.
  app/frontend/components/domains/jurisdictions/index.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/jurisdictions/users/index.tsx
  app/frontend/components/domains/permit-application/index.tsx
  app/frontend/components/domains/requirements-library/requirement-blocks-table.tsx
  app/frontend/components/shared/base/loading-screen.tsx
  app/frontend/components/shared/base/shared-spinner.tsx
Due: prettier --write, eslint

Fix help text for checkbox requirement
  app/frontend/components/domains/requirements-library/requirement-field-display/generic-field-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/index.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/editable-helper-text.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
Due: prettier --write, eslint

Allow user to specify builder for step code
  app/blueprints/step_code_checklist_blueprint.rb
  app/controllers/api/step_code_checklists_controller.rb
  app/frontend/components/domains/step-code/checklist/project-info/index.tsx
  app/frontend/models/step-code-checklist.ts
  app/models/step_code_checklist.rb
  db/migrate/20240326205321_add_builder_to_step_code_checklists.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

[bphh-983] Fix bug with radio requirement formjson
  app/services/requirement_form_json_service.rb
Due: stree --write

applying some of the scrolling fix by removing parent flexbox
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/index.tsx
Due: prettier --write, eslint

Fixed the scroll issues for Submitter's view of the permit application, its looking good. Various minor UI visual tweaks.
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/requirement-template/builder-top-floating-buttons.tsx
Due: prettier --write, eslint

Making Portal to have higher z index so it doesnt go below other things in the ui
  app/frontend/components/domains/permit-application/errors-box.tsx
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/styles/global-app.scss
  app/frontend/styles/theme/index.ts
Due: prettier --write, eslint

Make the portal to be higher than other things so it doesn't get covered by position sticky things. Refactor the background dim when menu is open. Rename the scss file to be more specific.
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/permit-application/index.tsx
  app/frontend/components/domains/permit-application/new-permit-application-screen.tsx
  app/frontend/components/shared/base/footer.tsx
  app/frontend/styles/chakra-overrides.scss
  app/frontend/styles/index.ts
  app/frontend/styles/theme/components/heading.ts
  app/frontend/styles/theme/index.ts
Due: prettier --write, eslint

Simplying the scrollTo buttons
  app/frontend/utils/utility-functions.ts
Due: prettier --write, eslint

some ammendments to scrolling behaviour
  app/frontend/components/domains/permit-application/checklist-sidebar.tsx
Due: prettier --write, eslint

Rename typo in file name
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/requirement-template/new-requirement-template-screen.tsx
  app/frontend/services/api/index.ts
  app/frontend/stores/requirement-template-store.ts
Due: prettier --write, eslint

Admin panel nav menu dropdown's link color became white for some reason. More cleanup.
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/requirement-template/builder-top-floating-buttons.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/sections-dnd/index.tsx
  app/frontend/components/domains/requirement-template/sections-sidebar.tsx
  app/frontend/styles/theme/components/heading.ts
Due: prettier --write, eslint

improve form bottom margin
  app/frontend/components/shared/permit-applications/requirement-form.tsx
Due: prettier --write, eslint

Addressing all the PR comments
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/permit-application/checklist-sidebar.tsx
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/requirement-template/builder-top-floating-buttons.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/template-version-screen.tsx
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/components/shared/permit-applications/permit-application-card.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/components/shared/permit-applications/scroll-link.tsx
  app/frontend/styles/chakra-overrides.scss
  app/frontend/styles/theme/components/heading.ts
  app/frontend/styles/theme/index.ts
  app/frontend/utils/utility-functions.ts
Due: prettier --write, eslint

Use IconButton around the accordion expand/collapse icon. Take out unused Partial<StackProps>
  app/frontend/components/domains/requirement-template/builder-top-floating-buttons.tsx
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
Due: prettier --write, eslint

refactor collapse button state and debounce
  app/frontend/components/domains/requirement-template/builder-bottom-floating-buttons.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/template-version-screen.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
Due: prettier --write, eslint

Update look of Registration success page BPHH-867
  app/frontend/components/domains/authentication/register-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Email confirmation email to look more like the other email templates BPHH-921
  app/views/devise/mailer/confirmation_instructions.html.erb
Due: none
