Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

commit for retest
  app/frontend/components/domains/step-code/part-3/form-section/baseline-occupancies/index.tsx
Due: prettier --write, eslint

fix zeitwerk class naming for CI
  app/services/step_code/part_3/v0/requirements/baseline_occupancy.rb
Due: stree --write

HUB-2964 Updated error messages
  app/frontend/components/shared/permit-classification/permit-type-radio-select.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

BPHH-1519 PR review updated
  app/models/user.rb
  app/policies/jurisdiction_policy.rb
Due: stree --write

fix spec by remove tooltip state leak]
  spec/models/requirement_spec.rb
Due: stree --write

move back in removed files
  app/frontend/components/domains/home/review-manager/configuration-management-screen/global-feature-access-screen/inbox-feature-access.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/global-feature-access-screen/index.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/global-feature-access/index.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/index.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/submissions-inbox-setup-screen/editable-block.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/submissions-inbox-setup-screen/form.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/submissions-inbox-setup-screen/i18n-prefix.ts
  app/frontend/components/domains/home/review-manager/configuration-management-screen/submissions-inbox-setup-screen/index.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/submission-inbox.tsx
Due: prettier --write, eslint

HUB-3083 fixed submission inbox toggle to work on/off
  app/frontend/components/domains/super-admin/site-configuration-management/submission-inbox.tsx
Due: prettier --write, eslint

fix completion checkmark for step code, buttons, and file upload
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/models/part-3-step-code.ts
  app/frontend/models/part-9-step-code.ts
  app/frontend/utils/formio-component-traversal.ts
  app/models/part_3_step_code/checklist.rb
  app/models/permit_application.rb
Due: prettier --write, eslint, stree --write

integration of submission email set up under submission inbox scree
  app/frontend/components/domains/home/review-manager/configuration-management-screen/feature-access-screen/inbox-feature-access.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/feature-access-screen/index.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/index.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

fix links and route element
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/hooks/resources/use-jurisdiction.ts
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Updated feature access icon
  app/frontend/components/domains/home/review-manager/configuration-management-screen/index.tsx
Due: prettier --write, eslint

BPH-1519 fixed failed rspec
  app/models/user.rb
Due: stree --write

fix websocket camelization for autopopulate
  Gemfile
  Gemfile.lock
  app/frontend/utils/index.ts
Due: prettier --write, eslint

BPHH-1519 fixed jurisdiction/user page error
  app/policies/jurisdiction_policy.rb
Due: stree --write

fix calmelcase error in supporting document extraction
  app/frontend/components/domains/navigation/index.tsx
  app/models/concerns/form_supporting_documents.rb
Due: prettier --write, eslint, stree --write

HUB-1748 created api/audit_logs to feed kibana using new gem pack
  Gemfile
  Gemfile.lock
  app/controllers/api/application_controller.rb
  app/controllers/api/audit_logs_controller.rb
  app/models/jurisdiction.rb
  app/models/site_configuration.rb
  config/initializers/audited.rb
  config/routes.rb
  db/migrate/20250506164041_install_audited.rb
  db/schema.rb
Due: stree --write

rework audit setup using elasticsearch, uuids, no endpoint
  app/controllers/api/audit_logs_controller.rb
  app/models/concerns/searchable_audit.rb
  app/models/jurisdiction.rb
  app/models/site_configuration.rb
  config/initializers/audited_searchkick.rb
  config/routes.rb
  db/migrate/20250506235335_install_audited.rb
  db/schema.rb
Due: stree --write

fix expiring api key email subject
  config/locales/en.yml
Due: none

add content for disabled early access file uploaders and validate user role presense
  app/frontend/components/shared/chefs/styles.scss
  app/models/user.rb
Due: stree --write

HUB-1988 updated the copy changes
  app/frontend/components/domains/step-code/part-3/form-section/step-code-occupancies/performance-requirements.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

add multipart uploads to uppy and formio
  .env_example
  Gemfile
  app/controllers/api/storage_controller.rb
  app/frontend/components/shared/chefs/additional-formio/constant.ts
  app/frontend/hooks/use-uppy-s3.ts
  app/frontend/utils/utility-functions.ts
  config/initializers/shrine.rb
  config/routes.rb
Due: prettier --write, eslint, stree --write

WIP for marketing pages
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/project-readiness-tools/index.tsx
  app/frontend/components/shared/base/footer.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB--2090 added settimeout so that it automatically updates the label to anchor tag
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
Due: prettier --write, eslint

debug multipart uploads
  app/frontend/components/shared/requirement-template/requirement-document-download-button.tsx
  config/initializers/shrine.rb
Due: prettier --write, eslint, stree --write

debug multipart uploads
  Gemfile.lock
  app/frontend/components/shared/requirement-template/requirement-document-download-button.tsx
  config/initializers/shrine.rb
Due: prettier --write, eslint, stree --write

update gemfile lock
  Gemfile.lock
Due: none

fix scroll link
  app/frontend/components/domains/permit-application/revision-sidebar.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/components/shared/permit-applications/scroll-link.tsx
Due: prettier --write, eslint

replace copy logic for shrine init
  config/initializers/shrine.rb
Due: stree --write

put back original copy lgoic and properly background promotion jobs
  app/jobs/destroy_job.rb
  app/jobs/promote_job.rb
  app/uploaders/file_uploader.rb
  config/initializers/shrine.rb
Due: stree --write

install patches for rack, rack-session, nokofiri, netimap
  Gemfile
  Gemfile.lock
Due: none

wip - ip blocked by nominatim
  app/frontend/components/shared/contact/create-edit-contact-modal.tsx
  app/frontend/components/shared/form/address-form-control.tsx
  package-lock.json
  package.json
Due: prettier --write, eslint

WIP HUB-3010 marketing pages
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/project-readiness-tools/index.tsx
  app/frontend/components/domains/project-readiness-tools/letter-of-assurance.tsx
  app/frontend/components/shared/base/footer.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

add project and payment tables and migration
  app/models/jurisdiction.rb
  app/models/payment_detail.rb
  app/models/payment_detail_transaction.rb
  app/models/permit_application.rb
  app/models/permit_project.rb
  app/models/permit_project_payment_detail.rb
  app/models/permit_project_permit_application.rb
  app/models/property_plan_local_jurisdiction.rb
  db/migrate/20250509210248_create_project_related_entities_and_payment_details.rb
  db/schema.rb
Due: stree --write

WIP moving set up email screen under submission inbox
  app/frontend/components/domains/home/review-manager/configuration-management-screen/feature-access-screen/inbox-feature-access.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/feature-access-screen/index.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/index.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-1257 deleted global feature access folder - added new feature access with submission inbox set up screen
  app/frontend/components/domains/home/review-manager/configuration-management-screen/feature-access-screen/inbox-feature-access.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/feature-access-screen/index.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/global-feature-access/index.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/submissions-inbox-setup-screen/editable-block.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/submissions-inbox-setup-screen/form.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/submissions-inbox-setup-screen/i18n-prefix.ts
  app/frontend/components/domains/home/review-manager/configuration-management-screen/submissions-inbox-setup-screen/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/jurisdiction.ts
Due: prettier --write, eslint

HUB-3010 updated breadcrumb and borders for each item on the page to match the mock ups
  app/frontend/components/domains/project-readiness-tools/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-3010 updated marketing page content
  app/frontend/components/domains/project-readiness-tools/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

add step code application metrics
  app/controllers/api/step_codes_controller.rb
  app/frontend/components/domains/super-admin/reporting/reporting-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/permit-application-store.ts
  app/frontend/stores/step-code-store.ts
  app/frontend/types/enums.ts
  app/models/concerns/form_supporting_documents.rb
  app/models/concerns/step_code_field_extraction.rb
  app/models/part_9_step_code.rb
  app/models/requirement_block.rb
  app/policies/step_code_policy.rb
  app/services/step_code_export_service.rb
  config/routes.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

HUB-3075:set explicit permission block for workflow
  .github/workflows/dev.yml
  .github/workflows/prod.yml
  .github/workflows/pull-request.yml
  .github/workflows/test.yml
Due: none

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
