Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

tighten up question views and ui refresh
  app/blueprints/requirement_question_blueprint.rb
  app/controllers/api/concerns/search/requirement_questions.rb
  app/controllers/api/requirement_questions_controller.rb
  app/frontend/components/domains/question-bank/question-bank-modal/index.tsx
  app/frontend/components/domains/question-bank/question-bank-modal/question-usage-section.tsx
  app/frontend/models/requirement-question.ts
  app/models/requirement_block.rb
  spec/blueprints/requirement_question_blueprint_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5202 share logic between permit application and tool seal validations
  app/controllers/api/digital_seal_validator_controller.rb
  app/services/automated_compliance/sub_process/doc_digital_seal_validator.rb
  app/services/digital_seal_signature_filter.rb
Due: stree --write

HUB-5202 specs
  spec/services/automated_compliance/sub_process/doc_digital_seal_validator_spec.rb
  spec/services/digital_seal_signature_filter_spec.rb
Due: stree --write

HUB-5202 align permit application and standalone tool copy
  app/frontend/components/shared/chefs/index.tsx
  app/frontend/components/shared/chefs/styles.scss
Due: prettier --write, eslint

convert shared question wording and redundant boolean
  app/blueprints/requirement_blueprint.rb
  app/frontend/components/domains/requirements-library/add-questions-modal.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/editable-helper-text.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/editable-instructions-text.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/options-menu.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/types.ts
  app/frontend/components/domains/requirements-library/requirements-block-modal/field-controls-header.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/requirement-field-row.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/use-requirement-logic.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement-block.ts
  app/frontend/models/requirement.ts
  app/frontend/stores/requirement-block-store.ts
  app/frontend/types/api-request.ts
  app/models/requirement.rb
  spec/models/requirement_spec.rb
Due: prettier --write, eslint, stree --write

cherry pick restoration commits
  app/controllers/api/template_versions_controller.rb
  app/errors/requirement_template_structure_restore_error.rb
  app/frontend/components/domains/requirement-template/screens/template-version-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/requirement-template-store.ts
  app/policies/template_version_policy.rb
  app/services/requirement_template_structure_restore_service.rb
  config/locales/en.yml
  config/routes.rb
  spec/controllers/template_versions_controller_spec.rb
  spec/policies/template_version_policy_spec.rb
  spec/services/requirement_template_structure_restore_service_spec.rb
Due: prettier --write, eslint, stree --write

allow restoring requirement blocks
  app/controllers/api/template_versions_controller.rb
  app/errors/requirement_block_snapshot_restore_error.rb
  app/frontend/components/domains/requirement-template/screens/template-version-block-actions-menu.tsx
  app/frontend/components/domains/requirement-template/screens/template-version-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/requirement-template-store.ts
  app/policies/template_version_policy.rb
  app/services/requirement_block_snapshot_restore_service.rb
  config/locales/en.yml
  config/routes.rb
  spec/controllers/template_versions_controller_spec.rb
  spec/policies/template_version_policy_spec.rb
  spec/services/requirement_block_snapshot_restore_service_spec.rb
Due: prettier --write, eslint, stree --write

fixes after rebase on question bank
  app/controllers/api/template_versions_controller.rb
  app/frontend/components/domains/requirement-template/screens/template-version-block-actions-menu.tsx
  app/frontend/i18n/i18n.ts
  app/models/requirement.rb
  app/services/requirement_block_snapshot_restore_service.rb
  spec/services/requirement_block_snapshot_restore_service_spec.rb
Due: prettier --write, eslint, stree --write

clean up templateversion top bar
  app/frontend/components/domains/requirement-template/screens/template-version-actions-menu.tsx
  app/frontend/components/domains/requirement-template/screens/template-version-go-to-menu.tsx
  app/frontend/components/domains/requirement-template/screens/template-version-screen.tsx
  app/frontend/components/domains/requirement-template/share-preview-popover.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

unify nav bar using peak style bar
  app/frontend/components/domains/jurisdictions/submission-inbox/project-collaborators-sidebar.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-project-detail-screen.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/reviewer-workspace-screen.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/overheating-code/index.tsx
  app/frontend/components/domains/overheating-code/overheating-code-nav-bar.tsx
  app/frontend/components/domains/permit-application/checklist-sidebar.tsx
  app/frontend/components/domains/permit-application/collaborator-management/collaborators-sidebar.tsx
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/revision-sidebar.tsx
  app/frontend/components/domains/permit-project/project-sidebar-tab-list.tsx
  app/frontend/components/domains/pre-check/index.tsx
  app/frontend/components/domains/pre-check/pre-check-nav-bar.tsx
  app/frontend/components/domains/pre-check/pre-check-viewer.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/controls-header.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/sections-dnd/index.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/jurisdiction-requirement-block-edit-sidebar.tsx
  app/frontend/components/domains/requirement-template/screens/template-version-preview-screen.tsx
  app/frontend/components/domains/requirement-template/screens/template-version-screen.tsx
  app/frontend/components/domains/requirement-template/sections-sidebar.tsx
  app/frontend/components/domains/requirement-template/template-access-sidebar.tsx
  app/frontend/components/domains/requirement-template/template-versions-sidebar.tsx
  app/frontend/components/domains/step-code/part-3/index.tsx
  app/frontend/components/domains/step-code/part-9/index.tsx
  app/frontend/hooks/scroll-peek-state.check.ts
  app/frontend/hooks/scroll-peek-state.ts
  app/frontend/hooks/use-scroll-aware-nav-bar.ts
  app/frontend/styles/global-theme-variables.scss
  app/frontend/styles/nav-bar-offset.ts
Due: prettier --write, eslint

improve look of notes files list
  app/frontend/components/shared/notes/note-attachment-list.tsx
  app/frontend/components/shared/notes/note-card.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4972 move button
  app/frontend/components/domains/project-meeting/detail/detail-section.tsx
Due: prettier --write, eslint

fix project redirect oscillations
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-project-detail-screen.tsx
  app/frontend/components/domains/permit-project/permit-project-screen.tsx
  app/frontend/hooks/resources/use-permit-project.ts
Due: prettier --write, eslint

HUB-2906 Add selective supporting documents zip download
  app/controllers/api/permit_applications_controller.rb
  app/policies/permit_application_policy.rb
  app/services/supporting_documents_zipper.rb
  config/routes.rb
Due: stree --write

dry up tab logic
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-project-detail-screen.tsx
  app/frontend/components/domains/permit-project/permit-project-screen.tsx
  app/frontend/hooks/use-project-detail-tabs.ts
Due: prettier --write, eslint

HUB-2906 Expose document metadata for download UI
  app/blueprints/supporting_document_blueprint.rb
  app/frontend/types/types.ts
Due: prettier --write, eslint, stree --write

HUB-2906 data loading and actions for download UI
  app/frontend/models/permit-application.ts
  app/frontend/services/api/index.ts
Due: prettier --write, eslint

HUB-2906 Redesign submission download modal
  app/frontend/components/domains/permit-application/submission-download-modal.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-2906 specs
  spec/services/supporting_documents_zipper_spec.rb
Due: stree --write

HUB-5252 remove blue tags advisory box
  app/frontend/components/domains/permit-project/add-permit-application-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

add dockerization for non node or rails services for dev conveniece
  README.md
  docker-compose.services.yml
Due: none

Calculate Part 9 TEDI from Rev. 7 HDD formula and fix MEUI 175
  app/services/step_code/compliance/check_requirements/energy/tedi.rb
  app/services/step_code/compliance/check_requirements/energy/tedi_adjusted.rb
  db/templates/meui_targets.json
  spec/models/thermal_energy_demand_intensity_reference_spec.rb
  spec/services/step_code/compliance/check_requirements/energy/tedi_adjusted_spec.rb
  spec/services/step_code/compliance/check_requirements/energy/tedi_spec.rb
Due: stree --write

HUB-5472 Align Part 9 multi-entry aggregation with Excel Calculator
  app/blueprints/step_code/part_9/energy/compliance_blueprint.rb
  app/services/step_code/compliance/check_requirements/energy/airtightness.rb
  app/services/step_code/compliance/check_requirements/energy/base.rb
  app/services/step_code/compliance/check_requirements/energy/meui.rb
  app/services/step_code/compliance/check_requirements/energy/tedi.rb
  app/services/step_code/compliance/check_requirements/zero_carbon/prescriptive.rb
  spec/services/step_code/compliance/check_requirements/energy/airtightness_spec.rb
  spec/services/step_code/compliance/check_requirements/energy/tedi_spec.rb
  spec/services/step_code/compliance/check_requirements/zero_carbon/prescriptive_spec.rb
Due: stree --write

HUB-5381 Fix archive requirement block confirmation copy
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-5307 Make invite name fields optional
  app/frontend/components/shared/base/inputs/user-input.tsx
Due: prettier --write, eslint

Fix permit application specs wiped by populate_base_form_data
  lib/local_tools.rb
  spec/lib/local_tools_spec.rb
  spec/models/permit_application_spec.rb
Due: stree --write

make selection zip download async
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/domains/permit-application/submission-download-modal.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/permit-application-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/jobs/supporting_documents_zip_download_job.rb
  app/services/constants/websockets.rb
  spec/jobs/supporting_documents_zip_download_job_spec.rb
  spec/policies/permit_application_policy_spec.rb
  spec/requests/api/permit_applications_spec.rb
Due: prettier --write, eslint, stree --write

fix hybrid docker local services for arm64
  .env_example
  docker-compose.services.yml
Due: none

update builder restore copy and colors
  app/frontend/components/domains/requirement-template/screens/template-version-actions-menu.tsx
  app/frontend/components/domains/requirement-template/screens/template-version-block-actions-menu.tsx
  app/frontend/components/shared/modals/confirmation-modal.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-5261 add release_type to release notes
  app/blueprints/release_note_blueprint.rb
  app/models/release_note.rb
  db/migrate/20260807161100_add_release_type_to_release_notes.rb
  db/schema.rb
Due: stree --write

HUB-5261 update release note form for software and content types
  app/frontend/components/domains/navigation/sub-nav-bar.tsx
  app/frontend/components/domains/release-notes/release-note-entry.tsx
  app/frontend/components/domains/release-notes/release-note-type-badge.tsx
  app/frontend/components/domains/release-notes/release-note-type-filter.tsx
  app/frontend/components/domains/release-notes/release-notes-screen.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/release-notes-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-5261 Support release note types in API and notifications
  app/controllers/api/concerns/search/release_notes.rb
  app/controllers/api/release_notes_controller.rb
  config/locales/en.yml
Due: stree --write

HUB-5261 update release note form for software and content types
  app/frontend/components/domains/release-notes/release-note-label-badge.tsx
  app/frontend/components/domains/release-notes/release-note-type-fields.tsx
  app/frontend/components/domains/release-notes/release-note-version-badge.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/release-note-form-screen.tsx
Due: prettier --write, eslint

HUB-5261 add frontend release note type model and config
  app/frontend/constants/release-note-type-config.ts
  app/frontend/models/release-note-model.ts
  app/frontend/stores/release-note-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
Due: prettier --write, eslint

HUB-5261 specs
  spec/factories/release_notes.rb
  spec/models/release_note_spec.rb
  spec/requests/release_notes_spec.rb
  spec/services/notification_service_spec.rb
Due: stree --write

HUB-5261 refactor release notes specs to use json_response for data extraction
  spec/requests/release_notes_spec.rb
Due: stree --write

HUB-5472 Align Part 9 calc assumptions with Aug 2025 checklist for SME review
  app/blueprints/step_code/part_9/energy/compliance_blueprint.rb
  app/services/step_code/compliance/check_requirements/energy/airtightness.rb
  app/services/step_code/compliance/check_requirements/energy/base.rb
  app/services/step_code/compliance/check_requirements/energy/meui.rb
  app/services/step_code/compliance/check_requirements/energy/tedi.rb
  app/services/step_code/compliance/check_requirements/energy/tedi_adjusted.rb
  app/services/step_code/compliance/check_requirements/zero_carbon/base.rb
  app/services/step_code/compliance/check_requirements/zero_carbon/prescriptive.rb
  db/data/20260728173443_update_meui_targets.rb
  spec/services/step_code/compliance/check_requirements/energy/tedi_adjusted_spec.rb
Due: stree --write

HUB-5260 remove redundant label
  app/frontend/components/domains/release-notes/release-notes-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-5260 add release type column and badge to release admin notes screen
  app/frontend/components/domains/super-admin/site-configuration-management/release-notes-grid-header.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/release-notes-screen.tsx
Due: prettier --write, eslint

HUB-5260 refinements to admin release notes screen
  app/frontend/components/domains/release-notes/release-note-type-fields.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/release-note-form-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
