Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

HUB-5324 limit inbox permit type options to types on current submissions
  app/controllers/api/concerns/search/jurisdiction_permit_applications.rb
  app/controllers/api/concerns/search/jurisdiction_permit_projects.rb
  app/frontend/components/domains/jurisdictions/submission-inbox/filters/permit-type-filter.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-permits-tab.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/submissions-tab-panel-content.tsx
  app/frontend/models/permit-application-inbox-search-shared.ts
  app/frontend/models/permit-project-inbox-application-search.ts
  app/frontend/stores/submission-inbox-store.ts
  spec/concerns/jurisdiction_permit_project_search_spec.rb
  spec/concerns/permit_application_search_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5324 limit submitter permit type options to templates on their applications
  app/controllers/api/requirement_templates_controller.rb
  app/frontend/components/domains/permit-project/requirement-template-filter.tsx
  app/frontend/services/api/index.ts
  app/frontend/stores/requirement-template-store.ts
  spec/controllers/requirement_templates_controller_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5324 keep filter menu actions visible when the option list scrolls
  app/frontend/components/shared/filters/checkbox-filter.tsx
  app/frontend/components/shared/filters/inbox-filter.tsx
Due: prettier --write, eslint

HUB-5324 fix permit-type options spec that excluded a template still used in the inbox
  spec/concerns/permit_application_search_spec.rb
Due: stree --write

HUB-5383 [Bug Bash] Slim requirement blocks picker — drop Form fields and Config columns
  app/frontend/components/domains/requirements-library/grid-header.tsx
  app/frontend/components/domains/requirements-library/requirement-blocks-table.tsx
  app/frontend/components/domains/requirements-library/requirements-library-drawer.tsx
Due: prettier --write, eslint

HUB-5370 🐛 [Bug Bash] Can begin a new meeting via URL if there is an active meeting request(s)
  app/frontend/components/domains/project-meeting/project-meeting-request-screen.tsx
Due: prettier --write, eslint

HUB-5498 Fix catalog white screen after force publishing a template
  app/controllers/api/requirement_templates_controller.rb
  app/frontend/components/domains/requirement-template/template-versions-sidebar.tsx
  app/frontend/models/requirement-template.ts
  spec/controllers/requirement_templates_controller_spec.rb
Due: prettier --write, eslint, stree --write

collab rework phase 1 wip
  app/blueprints/permit_project_blueprint.rb
  app/blueprints/project_membership_blueprint.rb
  app/blueprints/project_team_blueprint.rb
  app/controllers/api/concerns/search/permit_projects.rb
  app/controllers/api/permit_projects/memberships_controller.rb
  app/controllers/api/permit_projects/teams_controller.rb
  app/controllers/api/permit_projects_controller.rb
  app/frontend/components/domains/permit-project/collaborators-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/permit-project-screen.tsx
  app/frontend/components/domains/permit-project/teams-tab-panel-content.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-project.ts
  app/frontend/models/project-membership.ts
  app/frontend/models/project-permissions.ts
  app/frontend/models/project-team.ts
  app/frontend/services/api/index.ts
  app/frontend/types/enums.ts
  app/models/permit_application.rb
  app/models/permit_project.rb
  app/models/project_membership.rb
  app/models/project_permissions.rb
  app/models/project_team.rb
  app/policies/permit_application_policy.rb
  app/policies/permit_project_policy.rb
  app/policies/project_membership_policy.rb
  app/policies/project_team_policy.rb
  app/services/project_membership/invite_service.rb
  config/locales/en.yml
  config/routes.rb
  db/data/20260817150100_create_auto_teams_for_existing_projects.rb
  db/data/20260817150200_backfill_project_memberships_from_collaborations.rb
  db/migrate/20260817150000_create_project_memberships_and_teams.rb
  db/schema.rb
  spec/factories/project_memberships.rb
  spec/models/project_permissions_spec.rb
  spec/policies/permit_application_policy_spec.rb
  spec/policies/permit_project_policy_spec.rb
Due: prettier --write, eslint, stree --write

gate activity and add floor project permission
  app/blueprints/permit_project_blueprint.rb
  app/controllers/api/concerns/search/permit_projects.rb
  app/controllers/api/project_audits_controller.rb
  app/frontend/components/domains/permit-project/collaborators-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/overview-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/permit-project-screen.tsx
  app/frontend/components/domains/permit-project/permits-tab-panel-content.tsx
  app/frontend/components/shared/base/inputs/user-input.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-project.ts
  app/models/permit_project.rb
  app/models/project_membership.rb
  app/models/project_permissions.rb
  app/policies/permit_application_policy.rb
  app/policies/permit_project_policy.rb
  spec/models/project_permissions_spec.rb
  spec/policies/permit_project_policy_spec.rb
  spec/requests/api/project_audits_spec.rb
Due: prettier --write, eslint, stree --write

HUB-2906 do not dismiss modal on successful downloads
  app/frontend/components/domains/permit-application/submission-download-modal.tsx
Due: prettier --write, eslint

HUB-5500 notification label copy change
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Clarify that Teams, not membership alone, set collaborator access
  app/frontend/components/domains/permit-project/collaborators-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/teams-tab-panel-content.tsx
  app/frontend/components/shared/base/inputs/user-input.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-5153 Restrict Part 9 H2K import to .h2k files
  app/frontend/components/domains/step-code/part-9/import.tsx
Due: prettier --write, eslint

HUB-4863 copy update
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4675 show attached step code pinned
  app/frontend/components/domains/permit-project/step-codes-select-grid-row.tsx
  app/frontend/components/domains/permit-project/step-codes-select-grid.tsx
  app/frontend/components/shared/permit-applications/requirement-form/index.tsx
  app/frontend/components/shared/permit-applications/step-code-select-modal.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

allow owner to view any project permit applcation
  app/policies/permit_application_policy.rb
  spec/policies/permit_application_policy_spec.rb
Due: stree --write

HUB-4675 Draft permit application - Energy step codes P9: Show completed report
  app/blueprints/report_document_blueprint.rb
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/blueprints/step_code/part_3/checklist_summary_blueprint.rb
  app/blueprints/step_code/part_9/checklist_blueprint.rb
  app/blueprints/step_code_blueprint.rb
  app/controllers/api/concerns/search/step_codes.rb
  app/controllers/concerns/checklist_report_document_concern.rb
  app/frontend/components/domains/permit-project/step-codes-grid-row.tsx
  app/frontend/components/domains/step-code/part-3/form-section/report.tsx
  app/frontend/components/domains/step-code/part-9/checklist/index.tsx
  app/frontend/components/domains/step-code/part-9/form-section/index.tsx
  app/frontend/components/domains/step-code/project-information.tsx
  app/frontend/models/part-3-step-code-checklist.ts
  app/frontend/models/part-3-step-code.ts
  app/frontend/models/part-9-step-code-checklist.ts
  app/frontend/models/part-9-step-code.ts
  app/frontend/models/step-code-base.ts
  app/frontend/types/types.ts
  app/jobs/step_code_report_generation_job.rb
  app/models/part_3_step_code/checklist.rb
  app/models/part_9_step_code/checklist.rb
  app/models/report_document.rb
  app/models/step_code.rb
  db/migrate/20260819120000_add_checklist_to_report_documents.rb
  db/schema.rb
  lib/tasks/step_code_reports.rake
  spec/jobs/step_code_report_generation_job_spec.rb
  spec/models/part_3_step_code/checklist_spec.rb
  spec/models/part_9_step_code/checklist_spec.rb
  spec/models/report_document_spec.rb
  spec/models/step_code_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5511 Step code info page - Select a construction date: Cannot start or continue checklist
  app/blueprints/permit_application_blueprint.rb
  app/frontend/components/domains/step-code/project-information.tsx
  app/frontend/components/shared/date-picker.tsx
  app/frontend/components/shared/form/input-form-control.tsx
  app/frontend/components/shared/permit-applications/requirement-form/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/stores/permit-application-store.ts
  app/models/concerns/permit_application_status.rb
  app/models/permit_application.rb
  app/models/step_code.rb
  db/migrate/20260819110000_add_issued_at_to_permit_applications.rb
  db/schema.rb
  spec/models/permit_application_spec.rb
  spec/models/step_code_spec.rb
  spec/policies/permit_application_policy_spec.rb
  spec/swagger_helper.rb
Due: prettier --write, eslint, stree --write

Extract Drawer theme into its own component file
  app/frontend/styles/theme/components/drawer.ts
  app/frontend/styles/theme/index.ts
Due: prettier --write, eslint

HUB-5500 notification label copy change (#1900)
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Hub 5324 💥 bug bash permit type filter shows irrelevant options and overflows the screen (#1896)
  app/controllers/api/concerns/search/jurisdiction_permit_applications.rb
  app/controllers/api/concerns/search/jurisdiction_permit_projects.rb
  app/controllers/api/requirement_templates_controller.rb
  app/frontend/components/domains/jurisdictions/submission-inbox/filters/permit-type-filter.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-permits-tab.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/submissions-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/requirement-template-filter.tsx
  app/frontend/components/shared/filters/checkbox-filter.tsx
  app/frontend/components/shared/filters/inbox-filter.tsx
  app/frontend/models/permit-application-inbox-search-shared.ts
  app/frontend/models/permit-project-inbox-application-search.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/requirement-template-store.ts
  app/frontend/stores/submission-inbox-store.ts
  spec/concerns/jurisdiction_permit_project_search_spec.rb
  spec/concerns/permit_application_search_spec.rb
  spec/controllers/requirement_templates_controller_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5224 close current page link on mega menu (#1895)
  app/frontend/components/domains/navigation/nav-bar-menu.tsx
Due: prettier --write, eslint

Treat existing project access as a successful invite accept
  app/models/project_membership.rb
  spec/requests/api/project_membership_invitations_spec.rb
Due: stree --write

Show project tabs with a no-access message when collaborator permissions are insufficient
  app/frontend/components/domains/permit-project/activity-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/collaborators-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/meetings-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/permit-project-screen.tsx
  app/frontend/components/domains/permit-project/project-notes-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/teams-tab-panel-content.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-project.ts
Due: prettier --write, eslint

Show recent applications on overview for collaborators with Full read
  app/models/permit_project.rb
  spec/models/permit_project_spec.rb
Due: stree --write

two panel layout
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/permit-project/collaborators-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/permit-project-screen.tsx
  app/frontend/components/domains/permit-project/teams-tab-panel-content.tsx
  app/frontend/hooks/use-project-detail-tabs.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-project.ts
  app/frontend/previews/cases/people-and-access.tsx
  app/frontend/previews/index.tsx
  app/frontend/types/enums.ts
Due: prettier --write, eslint

try drawer view
  app/frontend/components/domains/permit-project/collaborators-tab-panel-content.tsx
  app/frontend/hooks/use-project-detail-tabs.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-project.ts
  app/frontend/types/enums.ts
Due: prettier --write, eslint

HUB-5505 Energy step code checklist P9: 3 UI fixes
  app/frontend/components/domains/step-code/part-3/form-section/report.tsx
  app/frontend/components/domains/step-code/part-9/form-section/index.tsx
  app/frontend/components/domains/step-code/project-information.tsx
  app/frontend/components/shared/base/file-download-button.tsx
Due: prettier --write, eslint

HUB-5509 Energy step code P9 - .H2K import page: 3 UI fixes
  app/frontend/components/domains/step-code/part-9/compliance-path-select.tsx
  app/frontend/components/domains/step-code/part-9/h2k-file-upload.tsx
  app/frontend/components/domains/step-code/part-9/import.tsx
  app/frontend/components/domains/step-code/sidebar/project-info-sidebar-link.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-5058 Copy fixes - Energy and Zero Carbon Step Codes for Part 3 Buildings tool
  app/frontend/i18n/i18n.ts
  spec/models/part_9_step_code_spec.rb
Due: prettier --write, eslint, stree --write

Describe permission levels in configure access dropdowns and other ui fixes
  app/frontend/components/domains/permit-project/collaborators-tab-panel-content.tsx
  app/frontend/hooks/use-project-detail-tabs.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-project.ts
  app/frontend/types/enums.ts
Due: prettier --write, eslint

Rename Steward to Project head in people and access copy
  app/frontend/components/domains/permit-project/collaborators-tab-panel-content.tsx
  app/frontend/i18n/i18n.ts
  config/locales/en.yml
Due: prettier --write, eslint

Drop dead draft-block edit paths and use revise-in-builder copy
  app/controllers/api/template_versions_controller.rb
  app/frontend/components/domains/requirement-template/screens/template-version-block-actions-menu.tsx
  app/frontend/components/domains/requirement-template/screens/template-version-go-to-menu.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement-block-picker-search.ts
  app/frontend/services/api/index.ts
  app/models/requirement.rb
  db/migrate/20260622180223_reindex_release_notes.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

Drop dead draft-block edit paths and use revise-in-builder copy (#1905)
  app/controllers/api/template_versions_controller.rb
  app/frontend/components/domains/requirement-template/screens/template-version-block-actions-menu.tsx
  app/frontend/components/domains/requirement-template/screens/template-version-go-to-menu.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement-block-picker-search.ts
  app/frontend/services/api/index.ts
  app/models/requirement.rb
  db/migrate/20260622180223_reindex_release_notes.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

HUB-2906 do not dismiss modal on successful downloads (#1899)
  app/frontend/components/domains/permit-application/submission-download-modal.tsx
Due: prettier --write, eslint

HUB-5169 prevent background scroll while drawers and modals are open (#1894)
  app/frontend/styles/theme/components/drawer.ts
  app/frontend/styles/theme/index.ts
Due: prettier --write, eslint

HUB-5502 Tools page - Lookup energy step codes info: navigate directly to jurisdiction ESC info
  app/frontend/components/domains/project-readiness-tools/look-up-step-codes-requirements-for-your-project.tsx
  app/frontend/components/shared/step-code-address-search/index.tsx
Due: prettier --write, eslint

HUB-5506 RM - Configuration - Energy step code requirements: P9 'Description' field size
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/energy-step-editable-block/part-9-energy-step-editable-block.tsx
Due: prettier --write, eslint
