Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

send expiry notifications at various intervals
  app/jobs/check_expiring_api_keys_job.rb
  app/mailers/permit_hub_mailer.rb
  app/models/api_key_expiration_notification.rb
  app/models/external_api_key.rb
  app/views/permit_hub_mailer/notify_api_key_status_change.html.erb
  config/locales/en.yml
  db/migrate/20250409182906_create_api_key_expiration_notifications.rb
  db/schema.rb
Due: stree --write

adding address component customizations
  app/controllers/api/geocoder_controller.rb
  app/frontend/components/domains/requirements-library/fields-setup-drawer.tsx
  app/frontend/components/shared/chefs/custom-formio-components/components/BCAddress/Component.js
  app/frontend/components/shared/chefs/custom-formio-components/components/SimpleBCAddress/Component.js
  app/frontend/components/shared/chefs/custom-formio-components/providers/storage/chefs.js
  app/frontend/components/shared/permit-applications/pdf-content/application/index.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/utils/index.ts
  app/policies/geocoder_policy.rb
  app/services/requirement_form_json_service.rb
  app/services/wrappers/geocoder.rb
  config/routes.rb
Due: prettier --write, eslint, stree --write

approach using dont touch submission data keys in camelization
  app/controllers/api/geocoder_controller.rb
  app/frontend/components/domains/requirements-library/requirement-field-display/index.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
  app/frontend/components/shared/chefs/custom-formio-components/components/SimpleAddressAdvanced/Component.js
  app/frontend/components/shared/chefs/custom-formio-components/providers/storage/chefs.js
  app/frontend/components/shared/permit-applications/pdf-content/application/index.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/utils/index.ts
  app/services/requirement_form_json_service.rb
Due: prettier --write, eslint, stree --write

fix pdf wrapping, hyphening, padding, and add address fields
  app/frontend/components/domains/step-code/checklist/pdf-content/index.tsx
  app/frontend/components/shared/pdf/index.tsx
  app/frontend/components/shared/permit-applications/pdf-content/application/index.tsx
  app/frontend/components/shared/permit-applications/pdf-content/shared/styles/page.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

handle camel case in submission data keys
  app/frontend/components/domains/home/notifications/notifications-popover.tsx
  app/frontend/components/shared/chefs/custom-formio-components/components/SimpleAddressAdvanced/Component.js
  app/frontend/components/shared/permit-applications/pdf-content/application/index.tsx
  app/frontend/utils/index.ts
Due: prettier --write, eslint

fix contact autofill for new address input
  app/frontend/components/domains/step-code/checklist/pdf-content/index.tsx
  app/frontend/components/shared/chefs/custom-formio-components/components/BCAddress/Component.js
  app/frontend/components/shared/chefs/custom-formio-components/components/SimpleBCAddress/Component.js
  app/frontend/components/shared/contact/contact-modal.tsx
  app/frontend/components/shared/permit-applications/pdf-content/application/index.tsx
  app/frontend/utils/index.ts
Due: prettier --write, eslint

hotfix on production to make URL field optional for RRM when adding a tip for Submitter
  app/frontend/components/shared/form/input-form-control.tsx
Due: prettier --write, eslint

rename submission_json to submission_data for proper camelzation skipping
  app/blueprints/revision_request_blueprint.rb
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/domains/permit-application/revision-sidebar.tsx
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/components/shared/permit-applications/single-requirement-form.tsx
  app/frontend/components/shared/revisions/previous-submission-modal.tsx
  app/frontend/components/shared/revisions/revision-modal.tsx
  app/frontend/types/types.ts
  app/frontend/utils/formio-submission-traversal.ts
  db/migrate/20250410174655_rename_submission_json_to_submission_data_in_revision_requests.rb
  db/schema.rb
  spec/factories/revision_requests.rb
Due: prettier --write, eslint, stree --write

Refactor storage controller and attachments for multiple models
  .cursor/rules/camelization.mdc
  app/blueprints/requirement_block_blueprint.rb
  app/blueprints/requirement_document_blueprint.rb
  app/controllers/api/requirement_blocks_controller.rb
  app/controllers/api/storage_controller.rb
  app/controllers/uppy_controller.rb.deleteme
  app/frontend/components/domains/requirements-library/requirements-block-modal/block-setup.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
  app/frontend/components/shared/chefs/additional-formio/providers/storage/s3custom.js
  app/frontend/hooks/use-uppy-s3.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement-block.ts
  app/frontend/types/api-request.ts
  app/frontend/types/types.ts
  app/frontend/utils/uploads.ts
  app/frontend/utils/utility-functions.ts
  app/jobs/derivatives_job.rb
  app/jobs/destroy_asset_job.rb
  app/models/asset.rb
  app/models/file_upload_attachment.rb
  app/models/requirement_block.rb
  app/models/requirement_document.rb
  app/models/supporting_document.rb
  app/policies/requirement_document_policy.rb
  app/policies/supporting_document_policy.rb
  app/uploaders/asset_uploader.rb
  app/uploaders/file_uploader.rb
  config/initializers/shrine.rb
  config/routes.rb
  db/migrate/20250324191650_create_requirement_documents.rb
  db/schema.rb
  package-lock.json
  package.json
  spec/models/asset_spec.rb
Due: prettier --write, eslint, stree --write

Add download buttons
  .rubocop.yml
  Gemfile.lock
  app/controllers/api/requirement_blocks_controller.rb
  app/controllers/api/storage_controller.rb
  app/controllers/uppy_controller.rb.deleteme
  app/frontend/components/domains/authentication/login-screen.tsx
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/block-setup.tsx
  app/frontend/components/shared/chefs/additional-formio/providers/storage/s3custom.js
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/components/shared/requirement-template/requirement-document-download-button.tsx
  app/frontend/hooks/use-uppy-s3.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement-block.ts
  app/frontend/styles/chakra-overrides.scss
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/frontend/utils/utility-functions.ts
  app/models/requirement_block.rb
  app/policies/requirement_document_policy.rb
  app/policies/supporting_document_policy.rb
  app/uploaders/file_uploader.rb
  config/initializers/shrine.rb
  config/locales/en.yml
  package-lock.json
  package.json
Due: prettier --write, eslint, stree --write

fix download links not showing when no description
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
Due: prettier --write, eslint

fix upload on new req block by properly using field array
  app/frontend/components/domains/permit-application/new-permit-application-screen.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/block-setup.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement-block.ts
  app/models/requirement_block.rb
  app/models/requirement_document.rb
Due: prettier --write, eslint, stree --write

BPHH-1519 implemented role based rendering of configuration screen components for Technical Support user
  app/controllers/api/concerns/search/jurisdiction_users.rb
  app/controllers/api/external_api_keys_controller.rb
  app/frontend/components/domains/home/index.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/index.tsx
  app/frontend/components/domains/home/technical-support/technical-support-home-screen.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/user.ts
  app/models/user.rb
  app/policies/jurisdiction_policy.rb
Due: prettier --write, eslint, stree --write

fix step code conditionals and remove console logs
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-push
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/energy-step-editable-block/zero-carbon-step-select.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/step-code-occupancies/performance-requirements.tsx
Due: prettier --write, eslint

touch up a few bugs in step code flow
  app/frontend/components/domains/step-code/part-3/form-section/performance-characteristics.tsx
  app/frontend/components/domains/step-code/part-3/form-section/step-code-summary/index.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/models/part-3-step-code-checklist.ts
Due: prettier --write, eslint

initial code for reusing part 9 pdf viewer for part 3
  app/controllers/api/requirement_blocks_controller.rb
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/index.tsx
  app/frontend/components/domains/step-code/part-9/checklist/pdf-content/index.tsx
  app/frontend/components/domains/step-code/part-9/checklist/pdf-content/viewer.tsx
Due: prettier --write, eslint, stree --write

BPHH-1519 Fixed rspec for failing test
  spec/factories/sub_districts.rb
  spec/factories/users.rb
Due: stree --write

update schema
  db/schema.rb
Due: stree --write

revert jurisdiction factory and remove redundant recursive role method
  app/models/user.rb
  spec/factories/sub_districts.rb
Due: stree --write

bundle install and fix lockfile
  Gemfile.lock
Due: none

remove failing css import
  app/frontend/components/domains/requirements-library/requirements-block-modal/block-setup.tsx
Due: prettier --write, eslint

prevent nil requirement input type and add upload icon
  app/frontend/components/domains/requirements-library/requirements-block-modal/block-setup.tsx
  app/models/requirement.rb
Due: prettier --write, eslint, stree --write

BPHH-1519 fixed PR review changes
  app/frontend/components/domains/home/index.tsx
  app/frontend/components/domains/home/technical-support/configuration-management-screen/index.tsx
  app/frontend/components/domains/home/technical-support/index.tsx
  app/frontend/components/domains/home/technical-support/technical-support-home-screen.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/policies/external_api_key_policy.rb
  app/policies/jurisdiction_policy.rb
  app/policies/user_policy.rb
Due: prettier --write, eslint, stree --write

Captalize the user roles
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

BPHH-1519 code optimization
  app/frontend/components/domains/home/technical-support/configuration-management-screen/index.tsx
  app/frontend/components/domains/home/technical-support/index.tsx
Due: prettier --write, eslint

HUB-2975 added check to not allow empty options and values to be save into DB
  app/services/requirement_form_json_service.rb
Due: stree --write

HUB-305 Updated generic tooptip text for all the fields with auto compliance
  app/services/requirement_form_json_service.rb
  config/locales/en.yml
Due: stree --write

HUB-2941 spacing adjusted
  app/frontend/components/shared/editable-input-with-controls.tsx
Due: prettier --write, eslint

BPHH-1229: removed envrionment from workflow for CI-Test
  .github/workflows/pull-request.yml
Due: none

add alternate path navigation to after submit section handlers
  app/frontend/components/domains/step-code/nav-bar/part-3-nav-links.tsx
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/mixed-use-summary/baseline-whole-building.tsx
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/mixed-use-summary/index.tsx
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/mixed-use-summary/step-code-occupancies.tsx
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/mixed-use-summary/step-code-portions.tsx
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/mixed-use-summary/step-code-whole-building.tsx
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/project-info/i18n-prefix.ts
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/project-info/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/baseline-occupancies/baseline-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/baseline-occupancies/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/baseline-performance.tsx
  app/frontend/components/domains/step-code/part-3/form-section/contact.tsx
  app/frontend/components/domains/step-code/part-3/form-section/district-energy.tsx
  app/frontend/components/domains/step-code/part-3/form-section/document-references.tsx
  app/frontend/components/domains/step-code/part-3/form-section/fuel-types/additional-fuel-types.tsx
  app/frontend/components/domains/step-code/part-3/form-section/fuel-types/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/hvac.tsx
  app/frontend/components/domains/step-code/part-3/form-section/location-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/overheating-requirements.tsx
  app/frontend/components/domains/step-code/part-3/form-section/performance-characteristics.tsx
  app/frontend/components/domains/step-code/part-3/form-section/project-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/renewable-energy.tsx
  app/frontend/components/domains/step-code/part-3/form-section/requirements-summary/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/residential-adjustments/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/start-page.tsx
  app/frontend/components/domains/step-code/part-3/form-section/step-code-occupancies/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/step-code-occupancies/performance-requirements.tsx
  app/frontend/components/domains/step-code/part-3/form-section/step-code-summary/index.tsx
  app/frontend/components/domains/step-code/part-9/checklist/pdf-content/shared/field.tsx
  app/frontend/models/part-3-step-code-checklist.ts
  app/frontend/types/types.ts
Due: prettier --write, eslint

disallowed modifying submitted checklists
  app/controllers/api/part_9_building/checklists_controller.rb
  app/frontend/components/domains/step-code/nav-bar/part-3-nav-links.tsx
  app/policies/part_3_step_code/checklist_policy.rb
  app/policies/part_9_step_code/checklist_policy.rb
  app/policies/step_code/checklist_policy.rb
Due: prettier --write, eslint, stree --write

fix failing specs
  Gemfile.lock
  app/models/part_9_step_code.rb
  db/schema.rb
  spec/services/step_code/part_3/v1/generate_report_spec.rb
Due: stree --write

add template generation and import tasks for step code levels
  data/required_steps_template.csv
  lib/tasks/generate_required_steps_template.rake
  lib/tasks/import_required_steps.rake
Due: none

add touches after template controller updates
  app/controllers/api/requirement_templates_controller.rb
  app/frontend/components/domains/requirements-library/requirements-block-modal/block-setup.tsx
  app/models/template_section_block.rb
Due: prettier --write, eslint, stree --write

fix some part 3 inconsistencies
  app/controllers/external_api/application_controller.rb
  app/frontend/components/domains/step-code/nav-bar/part-3-nav-links.tsx
  app/models/step_code.rb
  app/services/external_permit_application_service.rb
Due: prettier --write, eslint, stree --write

add session tracking of early access part 3 step code id
  app/controllers/api/part_3_building/step_codes_controller.rb
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/energy-step-editable-block/index.tsx
  app/frontend/components/domains/permit-application/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/baseline-occupancies/baseline-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/baseline-occupancies/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/baseline-performance.tsx
  app/frontend/components/domains/step-code/part-3/form-section/district-energy.tsx
  app/frontend/components/domains/step-code/part-3/form-section/fuel-types/additional-fuel-types.tsx
  app/frontend/components/domains/step-code/part-3/form-section/fuel-types/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/location-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/overheating-requirements.tsx
  app/frontend/components/domains/step-code/part-3/form-section/performance-characteristics.tsx
  app/frontend/components/domains/step-code/part-3/form-section/renewable-energy.tsx
  app/frontend/components/domains/step-code/part-3/form-section/residential-adjustments/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/step-code-occupancies/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/step-code-occupancies/performance-requirements.tsx
  app/frontend/components/domains/step-code/part-9/checklist/index.tsx
  app/frontend/components/domains/step-code/part-9/checklist/shared/step-not-met-warning.tsx
  app/frontend/components/domains/step-code/part-9/drawings-warning.tsx
  app/frontend/components/domains/super-admin/early-access/requirement-templates/index.tsx
  app/frontend/components/domains/users/admin-invite-screen.tsx
  app/frontend/components/domains/users/invite-screen.tsx
  app/frontend/components/domains/users/profile-screen.tsx
  app/frontend/components/shared/permit-classification/permit-type-radio-select.tsx
  app/policies/step_code/checklist_policy.rb
Due: prettier --write, eslint, stree --write

add validation for empty occupancies
  app/frontend/components/domains/step-code/part-3/form-section/step-code-occupancies/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

fix spec
  spec/factories/requirements.rb
Due: stree --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
