Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

improve map ux
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/components/shared/module-wrappers/jurisdiction-map.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

fix menu buttons and links
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/components/shared/base/manage-menu-item.tsx
  app/frontend/components/shared/jurisdiction/manage-jurisdiction-menu.tsx
  app/frontend/components/shared/module-wrappers/jurisdiction-map.tsx
  app/frontend/components/shared/navigation/router-link-button.tsx
  app/frontend/components/shared/navigation/router-link.tsx
  app/frontend/components/shared/user/manage-user-menu.tsx
  app/frontend/stores/root-store.ts
Due: prettier --write, eslint

[bphh-522] Add help sidebar component and add help link on menu/ navbar
  .env.example
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/shared/help-drawer.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

[bphh-872] Add floating help button
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/components/domains/requirement-template/builder-bottom-floating-buttons.tsx
  app/frontend/components/domains/requirement-template/builder-top-floating-buttons.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/template-version-screen.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
Due: prettier --write, eslint

[bphh-872] Change footer help link to be dynamic env variable
  app/frontend/components/shared/base/footer.tsx
Due: prettier --write, eslint

[bphh-872] Add help sidebar button to login form
  app/frontend/components/domains/authentication/login-screen.tsx
Due: prettier --write, eslint

[bphh-918] Fix bug with requirement block failing to save when adding a file requirement
  app/models/requirement.rb
  config/locales/en.yml
Due: stree --write

allow blank for contact phone neumbers
  app/models/contact.rb
  db/seeds.rb
Due: stree --write

fix up permit_application
  app/models/permit_application.rb
Due: stree --write

fix seeding jurisidction initial contacts
  db/seeds.rb
Due: stree --write

[bphh-918] Update specs and ensure file types requirement code ends with _file instead of just including it
  app/models/requirement.rb
  spec/models/requirement_spec.rb
Due: stree --write

Updating copy according to https://hous-bssb.atlassian.net/browse/BPHH-829
  app/frontend/components/domains/permit-application/successful-submission.tsx
  app/frontend/i18n/i18n.ts
  config/locales/en.yml
Due: prettier --write, eslint

Missed the jurisdiction name
  app/frontend/components/domains/permit-application/successful-submission.tsx
Due: prettier --write, eslint

[bphh-884] Fix bug with page shifting due to scroll into view when adding first section to template
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/index.tsx
Due: prettier --write, eslint

fix some colors
  app/frontend/components/domains/permit-application/successful-submission.tsx
  app/frontend/components/shared/base/not-found-screen.tsx
Due: prettier --write, eslint

[bphh-934] Hardcode help link for footer
  app/frontend/components/shared/base/footer.tsx
Due: prettier --write, eslint

[bphh-786] Redirect to newly scheduled template version after schedule
  app/controllers/api/requirement_templates_controller.rb
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/index.tsx
  app/frontend/stores/requirement-template-store.ts
Due: prettier --write, eslint, stree --write

remove from gitlfs
  .gitattributes
  .gitignore
  db/templates/Core Permit Requirements List.xlsx
  db/templates/meui_references.xlsx
  db/templates/tedi_references.xlsx
  spec/support/Signed_invisible.pdf
  spec/support/Test Document Seal - unsigned.pdf
  spec/support/Test Model side 1.h2k
  spec/support/Test Model side 2.h2k
  spec/support/signedFile4parts.pdf
  spec/support/signed_converted.pdf
  spec/support/signed_two_people.pdf
  spec/vcr_cassettes/integrations/digital_seal_validator/signed_documents.yml
  spec/vcr_cassettes/integrations/digital_seal_validator/unsigned.yml
Due: none

[bphh-917] Move email and phone requirement field setup uboc contact requirements
  app/frontend/types/enums.ts
Due: prettier --write, eslint

pushing fixed binary files to not use git lfs, seeding file will be left as a manual copy
  db/templates/meui_references.xlsx
  db/templates/tedi_references.xlsx
  spec/support/Signed_invisible.pdf
  spec/support/Test Document Seal - unsigned.pdf
  spec/support/Test Model side 1.h2k
  spec/support/Test Model side 2.h2k
  spec/support/signedFile4parts.pdf
  spec/support/signed_converted.pdf
  spec/support/signed_two_people.pdf
  spec/vcr_cassettes/integrations/digital_seal_validator/signed_documents.yml
  spec/vcr_cassettes/integrations/digital_seal_validator/unsigned.yml
Due: none

adding address component customizations
  app/controllers/api/geocoder_controller.rb
  app/policies/geocoder_policy.rb
  app/services/requirement_form_json_service.rb
  app/services/wrappers/geocoder.rb
  config/locales/en.yml
  config/routes.rb
Due: stree --write

update seeding order
  app/services/requirements_from_xlsx_seeder.rb
Due: stree --write

navigate home after updating profile
  app/frontend/components/domains/users/profile-screen.tsx
Due: prettier --write, eslint

add a redirect screen for pages missing to certain roles ie jurisdictions and /welcome route
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/shared/base/redirect-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

make map zoom editable
  app/blueprints/jurisdiction_blueprint.rb
  app/controllers/api/jurisdictions_controller.rb
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/components/shared/module-wrappers/jurisdiction-map.tsx
  app/frontend/models/jurisdiction.ts
  db/migrate/20240321224402_add_map_zoom_to_jurisdiction.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

default invited role to null and improve spinners
  app/frontend/components/domains/users/invite-screen.tsx
  app/frontend/components/shared/base/inputs/user-input.tsx
Due: prettier --write, eslint

add locality alongside jurisdction name in config
  app/frontend/components/domains/home/review-manager/configuration-management-screen/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

fix form help box styles
  app/frontend/components/shared/chefs/styles.scss
Due: none

[bphh-935] Add warning banner for jurisdiction submission inbox if all contacts haven't been setup
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
  app/frontend/components/shared/base/callout-banner.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/jurisdiction.ts
Due: prettier --write, eslint

add check for completion section id
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/models/permit-application.ts
Due: prettier --write, eslint

Allow reviewers to download form as PDF
  app/frontend/components/domains/permit-application/submission-download-modal.tsx
  app/frontend/components/shared/permit-applications/pdf-content/application/index.tsx
  app/frontend/components/shared/permit-applications/pdf-content/application/styles.ts
  app/frontend/components/shared/permit-applications/pdf-content/cover/index.tsx
  app/frontend/components/shared/permit-applications/pdf-content/cover/styles.ts
  app/frontend/components/shared/permit-applications/pdf-content/index.tsx
  app/frontend/components/shared/permit-applications/pdf-content/shared/footer/index.tsx
  app/frontend/components/shared/permit-applications/pdf-content/shared/footer/styles.ts
  app/frontend/components/shared/permit-applications/pdf-content/shared/permit-application-context.ts
  app/frontend/components/shared/permit-applications/pdf-content/shared/styles/flex-column.ts
  app/frontend/components/shared/permit-applications/pdf-content/shared/styles/page.ts
  app/frontend/i18n/i18n.ts
  app/frontend/services/rbac-rules.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

increase file size chunking
  app/frontend/components/shared/chefs/additional-formio/providers/storage/s3custom.js
  app/frontend/utils/uploads.ts
  config/initializers/shrine.rb
Due: prettier --write, eslint, stree --write

fix login toast and add not confirmed message
  app/controllers/api/sessions_controller.rb
  app/frontend/components/domains/landing/index.tsx
  app/frontend/i18n/i18n.ts
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

fix typo
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

remove rescue from session create
  app/controllers/api/sessions_controller.rb
Due: stree --write

updating descriptions on requirement blocks
  app/frontend/components/shared/chefs/additional-formio/templates/panel.js
  app/frontend/components/shared/chefs/styles.scss
  app/models/requirement_block.rb
  app/services/requirements_from_xlsx_seeder.rb
Due: stree --write

fix email change template and footer layout
  app/controllers/api/users_controller.rb
  app/views/layouts/mailer.html.erb
Due: stree --write

Fix seeds
  app/services/step_code/meui_references_seeder.rb
  app/services/step_code/tedi_references_seeder.rb
  db/seeds.rb
Due: stree --write

fix spec
  spec/models/requirement_block_spec.rb
Due: stree --write

[bphh-956] Fix bug with jurisdiction inbox page crashing when there is a submitted permit application
  app/blueprints/permit_application_blueprint.rb
  app/controllers/api/jurisdictions_controller.rb
  app/frontend/stores/permit-application-store.ts
Due: prettier --write, eslint, stree --write
