Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

fix schemas
  db/data_schema.rb
  db/schema.rb
Due: stree --write

add fallback for when ltsa_matcher is missing
  app/models/jurisdiction.rb
  spec/models/jurisdiction_spec.rb
Due: stree --write

HUB-5169 Admin panel - Permit templates catalog - Edit template: Add requirement dialog cutoff at top
  app/frontend/components/domains/requirements-library/add-questions-modal.tsx
  app/frontend/components/domains/requirements-library/requirements-library-drawer.tsx
  app/frontend/components/shared/floating-help-drawer.tsx
  app/frontend/components/shared/help-drawer.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/styles/theme/components/drawer.ts
Due: prettier --write, eslint

HUB-5380 🐛 [Bug Bash] Unable to start step code checklist if address is selected but PID is not
  app/frontend/components/shared/select/selectors/sites-select.tsx
  app/models/jurisdiction.rb
Due: prettier --write, eslint, stree --write

HUB-5351 🐛 [Bug Bash] “Return to Home” Button Sends Users to Wrong Page + Scroll Position Reset
  app/frontend/components/domains/permit-application/successful-submission.tsx
Due: prettier --write, eslint

Make navbar tuck 1:1 with scroll like Amazon
  app/frontend/hooks/scroll-peek-state.check.ts
  app/frontend/hooks/scroll-peek-state.ts
  app/frontend/hooks/use-scroll-aware-nav-bar.ts
  app/frontend/styles/global-theme-variables.scss
  app/frontend/styles/nav-bar-offset.ts
Due: prettier --write, eslint

HUB-5317 🐛 [Bug Bash] PID not populating
  app/blueprints/site_option_blueprint.rb
  app/controllers/api/geocoder_controller.rb
  app/controllers/api/permit_projects_controller.rb
  app/frontend/components/domains/permit-project/new-permit-project-screen.tsx
  app/frontend/components/domains/permit-project/overview-tab-panel-content.tsx
  app/frontend/components/shared/select/selectors/jurisdiction-select.tsx
  app/frontend/components/shared/select/selectors/sites-select.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/permit-project-store.ts
  app/frontend/types/api-request.ts
  app/frontend/types/types.ts
  app/services/wrappers/geocoder.rb
  app/services/wrappers/ltsa_parcel_map_bc.rb
  spec/controllers/geocoder_controller_spec.rb
  spec/requests/api/permit_projects_spec.rb
  spec/services/wrappers/geocoder_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5056 Let submitters pick HDD when a jurisdiction has multiple values
  app/frontend/components/domains/step-code/part-3/form-section/location-details.tsx
  app/frontend/i18n/i18n.ts
  app/models/concerns/project_item.rb
  app/services/qa/part_3_step_code_autofill_service.rb
  spec/models/part_3_step_code_spec.rb
  spec/services/qa/part_3_step_code_autofill_service_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5556 Validation error: 'Owner review staff cannot own permit projects outside of a sandbox'
  app/models/concerns/permit_application_status.rb
  app/models/concerns/permit_project_state.rb
  app/models/permit_project.rb
  app/services/promote_user.rb
  config/locales/en.yml
  db/data/20260903193000_discard_staff_owned_live_permit_projects.rb
  lib/tasks/contrive_ambiguous_project.rake
  spec/models/concerns/permit_project_state_spec.rb
  spec/models/permit_application_spec.rb
  spec/models/permit_project_spec.rb
  spec/services/promote_user_spec.rb
Due: stree --write

Hub 5143 super admin can view where a question is used requirement blocks and permit templates question management (#1930)
  app/blueprints/requirement_question_blueprint.rb
  app/frontend/components/domains/question-bank/question-bank-modal/question-usage-section.tsx
  app/frontend/components/domains/requirements-library/add-questions-modal.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/editable-group.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/options-menu.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement-question.ts
  spec/blueprints/requirement_question_blueprint_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5317 Prefer PID jurisdiction over address locality prefill
  app/controllers/api/geocoder_controller.rb
  app/frontend/components/shared/select/selectors/jurisdiction-select.tsx
  app/frontend/components/shared/select/selectors/sites-select.tsx
  spec/controllers/geocoder_controller_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5434 Let review managers pick and order about-page resources
  app/blueprints/resource_blueprint.rb
  app/controllers/api/jurisdictions_controller.rb
  app/frontend/components/shared/base/resource-item.tsx
  app/frontend/components/shared/jurisdiction/jurisdiction-resources-grid-section.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/types.ts
  app/models/resource.rb
  db/migrate/20260904120000_add_about_page_display_to_resources.rb
  db/schema.rb
  spec/controllers/jurisdictions_controller_spec.rb
  spec/models/jurisdiction_spec.rb
  spec/models/resource_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5557 ignore sandbox tags
  app/frontend/entrypoints/application.tsx
  app/frontend/stores/sandbox-store.ts
  app/frontend/utils/utility-functions.ts
Due: prettier --write, eslint

HUB-5434 Let review managers pick and order about-page resources
  app/frontend/components/shared/base/resource-item.tsx
  app/frontend/components/shared/jurisdiction/jurisdiction-resources-grid-section.tsx
Due: prettier --write, eslint

HUB-5557 distinguish between sandbox and live tags
  app/frontend/entrypoints/application.tsx
  app/frontend/stores/sandbox-store.ts
  app/frontend/utils/utility-functions.ts
Due: prettier --write, eslint

HUB-5557 match matomo keys and values to description
  app/frontend/entrypoints/application.tsx
  app/frontend/stores/sandbox-store.ts
  app/frontend/utils/utility-functions.ts
Due: prettier --write, eslint

HUB-5557 ignore sandbox tags (#1940)
  app/frontend/entrypoints/application.tsx
  app/frontend/stores/sandbox-store.ts
  app/frontend/utils/utility-functions.ts
Due: prettier --write, eslint

HUB-5225 use consistent copy headings, mega menu, and breadcrumbs
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-5225 change /welcome to /about
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/menu-content/menu-items/welcome-menu-item.tsx
  app/frontend/components/domains/navigation/nav-bar-menu.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/shared/base/footer.tsx
  app/frontend/components/shared/select/selectors/step-code-lookup-address-select.tsx
  app/frontend/components/shared/step-code-address-search/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-5225 remove for-your-project form step code look up routes
  app/frontend/components/domains/jurisdictions/step-code-requirements-screen.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar-menu.tsx
  app/frontend/components/domains/permit-project/step-code-tab-panel-content.tsx
  app/frontend/components/domains/project-readiness-tools/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-5225 change project readiness tools step codes compliance report route copy
  app/frontend/components/domains/jurisdictions/step-code-requirements-screen.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/permit-project/step-code-tab-panel-content.tsx
  app/frontend/components/domains/project-readiness-tools/check-step-code-requirements/index.tsx
  app/frontend/components/domains/project-readiness-tools/index.tsx
  app/frontend/components/domains/project-readiness-tools/look-up-step-codes-requirements-for-your-project.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-5225 rename select segment of step codes compliance reports to buidling categories
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/permit-project/step-code-tab-panel-content.tsx
  app/frontend/components/domains/project-readiness-tools/check-step-code-requirements/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-5226 link to public facing pre-check tool
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar-menu.tsx
  app/frontend/components/domains/project-readiness-tools/pre-check-info-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-5225 remove additional uses of for your project
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Hub 5295 super admin can create edit order publish unpublish and delete info documents browse and manage public adoption info documents (#1911)
  app/blueprints/info_document_blueprint.rb
  app/blueprints/site_configuration_blueprint.rb
  app/controllers/api/info_documents_controller.rb
  app/controllers/api/site_configuration_controller.rb
  app/controllers/api/storage_controller.rb
  app/frontend/components/domains/info-documents/filter-pills.tsx
  app/frontend/components/domains/info-documents/index.tsx
  app/frontend/components/domains/info-documents/info-document-card.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar-menu.tsx
  app/frontend/components/domains/super-admin/info-document-intro-modal.tsx
  app/frontend/components/domains/super-admin/info-document-modal.tsx
  app/frontend/components/domains/super-admin/info-documents-management-screen.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/index.tsx
  app/frontend/components/shared/base/footer.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/flash-message.ts
  app/frontend/models/info-document.ts
  app/frontend/services/api/index.ts
  app/frontend/services/api/monitors.ts
  app/frontend/stores/info-document-store.ts
  app/frontend/stores/root-store.ts
  app/frontend/stores/site-configuration-store.ts
  app/frontend/types/api-request.ts
  app/frontend/types/enums.ts
  app/models/file_upload_attachment.rb
  app/models/info_document.rb
  app/policies/info_document_policy.rb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20260821190000_create_info_documents.rb
  db/schema.rb
  spec/controllers/api/info_documents_controller_spec.rb
  spec/controllers/site_configuration_controller_spec.rb
  spec/controllers/tags_controller_spec.rb
  spec/factories/info_documents.rb
  spec/models/file_upload_attachment_spec.rb
  spec/requests/api/storage_spec.rb
Due: prettier --write, eslint, stree --write

Hub 5297 public visitor can reach info documents from the lg onboarding checklist and about menu browse and manage public adoption info documents (#1923)
  app/frontend/components/domains/onboarding/onboarding-checklist-page-for-lg-adopting-screen.tsx
  app/frontend/i18n/i18n.ts
  spec/controllers/api/info_documents_controller_spec.rb
  spec/controllers/site_configuration_controller_spec.rb
  spec/factories/info_documents.rb
Due: prettier --write, eslint, stree --write

HUB-5226 link to public facing pre-check tool (#1942)
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar-menu.tsx
  app/frontend/components/domains/project-readiness-tools/pre-check-info-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

updated deprecated ruby docker runtime image
  devops/docker/app/Dockerfile
Due: none

HUB-5311 update energy step requirements label
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-5312 update translation for rename field
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-5322 disable save button for submitted applications
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
Due: prettier --write, eslint

HUB-5322 disable save button for submitted applications (#1947)
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
Due: prettier --write, eslint

HUB-5311 update energy step requirements label (#1946)
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

update dockerfile apt-get packages
  devops/docker/app/Dockerfile
  devops/docker/app/Dockerfile.dev
Due: none

HUB-5310 give table search a labeled field
  app/frontend/components/shared/base/model-search-input.tsx
  app/frontend/components/shared/base/search-input.tsx
  app/frontend/components/shared/grid/search-grid.tsx
Due: prettier --write, eslint

HUB-5310 put labeled search above table grids
  app/frontend/components/domains/external-api-key/grid-header.tsx
  app/frontend/components/domains/external-api-key/index.tsx
  app/frontend/components/domains/jurisdictions/grid-header.tsx
  app/frontend/components/domains/jurisdictions/index.tsx
  app/frontend/components/domains/jurisdictions/limited-jurisdiction-index-screen.tsx
  app/frontend/components/domains/jurisdictions/users/grid-header.tsx
  app/frontend/components/domains/jurisdictions/users/index.tsx
  app/frontend/components/domains/question-bank/grid-header.tsx
  app/frontend/components/domains/question-bank/questions-table.tsx
  app/frontend/components/domains/requirement-template/screens/edit-jurisdiction-api-mapping-screen/grid-headers.tsx
  app/frontend/components/domains/requirement-template/screens/edit-jurisdiction-api-mapping-screen/index.tsx
  app/frontend/components/domains/requirements-library/grid-header.tsx
  app/frontend/components/domains/requirements-library/requirement-blocks-table.tsx
  app/frontend/components/domains/super-admin/reporting/grid-header.tsx
  app/frontend/components/domains/super-admin/reporting/reporting-screen.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/users-screen.tsx
  app/frontend/components/shared/requirement-template/requirement-template-grid.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Hub 5225 page names are inconsistent across the mega menu breadcrumbs and page headings (#1941)
  app/frontend/components/domains/jurisdictions/step-code-requirements-screen.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/menu-content/menu-items/welcome-menu-item.tsx
  app/frontend/components/domains/navigation/nav-bar-menu.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/permit-project/step-code-tab-panel-content.tsx
  app/frontend/components/domains/project-readiness-tools/check-step-code-requirements/index.tsx
  app/frontend/components/domains/project-readiness-tools/index.tsx
  app/frontend/components/domains/project-readiness-tools/look-up-step-codes-requirements-for-your-project.tsx
  app/frontend/components/domains/project-readiness-tools/pre-check-info-screen.tsx
  app/frontend/components/shared/base/footer.tsx
  app/frontend/components/shared/select/selectors/step-code-lookup-address-select.tsx
  app/frontend/components/shared/step-code-address-search/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
