Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

HUB-4744 refactor permit application status change formatting
  app/presenters/project_audit_formatters/permit_application_formatter.rb
Due: stree --write

HUB-4744 add messages for assigned and removed application reviewers
  app/presenters/project_audit_formatters/permit_collaboration_formatter.rb
Due: stree --write

HUB-4744 adjust project update messages to include state changes
  app/presenters/project_audit_formatters/permit_project_formatter.rb
Due: stree --write

HUB-4744 add new formatters for project collaboration and submission version audits
  app/presenters/project_audit_presenter.rb
Due: stree --write

HUB-4744 specs
  spec/models/concerns/audit_role_filter_spec.rb
  spec/models/project_activity_auditing_spec.rb
  spec/presenters/project_audit_formatters/permit_application_formatter_spec.rb
  spec/presenters/project_audit_formatters/permit_collaboration_formatter_spec.rb
  spec/presenters/project_audit_formatters/permit_project_collaboration_formatter_spec.rb
  spec/presenters/project_audit_formatters/permit_project_formatter_spec.rb
  spec/presenters/project_audit_formatters/submission_version_formatter_spec.rb
  spec/presenters/project_audit_presenter_spec.rb
Due: stree --write

remove meeting received notificaiton and setting
  app/blueprints/preference_blueprint.rb
  app/controllers/api/users_controller.rb
  app/frontend/components/domains/users/profile-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/user.ts
  app/frontend/stores/notification-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/project_meeting.rb
  app/services/constants/notification_action_types.rb
  app/services/notification_service.rb
  config/locales/en.yml
  db/migrate/20260519223000_add_project_meeting_notification_preferences.rb
  db/schema.rb
  spec/services/notification_service_spec.rb
Due: prettier --write, eslint, stree --write

touch up jurisdiciton policy
  app/controllers/api/jurisdictions_controller.rb
  app/policies/jurisdiction_policy.rb
  spec/policies/jurisdiction_policy_spec.rb
Due: stree --write

break meetings flow into sections
  app/frontend/components/domains/project-meeting/project-meeting-screen.tsx
  app/frontend/components/domains/project-meeting/project-meeting-screen/index.tsx
  app/frontend/components/domains/project-meeting/project-meeting-screen/sections/authorization-documents-section.tsx
  app/frontend/components/domains/project-meeting/project-meeting-screen/sections/contact-details-section.tsx
  app/frontend/components/domains/project-meeting/project-meeting-screen/sections/discussion-section.tsx
  app/frontend/components/domains/project-meeting/project-meeting-screen/sections/documents-section.tsx
  app/frontend/components/domains/project-meeting/project-meeting-screen/sections/project-information-section.tsx
  app/frontend/components/domains/project-meeting/project-meeting-screen/sections/property-information-section.tsx
  app/frontend/components/domains/project-meeting/project-meeting-screen/sections/relationship-section.tsx
  app/frontend/components/domains/project-meeting/project-meeting-screen/sections/review-section.tsx
  app/frontend/components/domains/project-meeting/project-meeting-screen/sections/review-summary-section.tsx
  app/frontend/components/domains/project-meeting/project-meeting-screen/shared/constants.ts
  app/frontend/components/domains/project-meeting/project-meeting-screen/shared/document-utils.ts
  app/frontend/components/domains/project-meeting/project-meeting-screen/shared/documents-table.tsx
  app/frontend/components/domains/project-meeting/project-meeting-screen/shared/form-actions.tsx
  app/frontend/components/domains/project-meeting/project-meeting-screen/shared/section-heading.tsx
  app/frontend/components/domains/project-meeting/project-meeting-screen/shared/types.ts
  app/frontend/components/domains/project-meeting/project-meeting-screen/shared/uppy-dashboard-field.tsx
Due: prettier --write, eslint

fix navigation bug in meeting request flow
  app/frontend/components/domains/project-meeting/project-meeting-screen/index.tsx
  app/frontend/components/domains/project-meeting/use-project-meeting-navigation.ts
Due: prettier --write, eslint

update reviewman seeds
  db/seeds.rb
Due: stree --write

fix qa tools role dependence
  app/controllers/api/qa_tools_controller.rb
  app/frontend/components/domains/navigation/qa-tools-popout.tsx
  app/frontend/i18n/i18n.ts
  app/policies/permit_application_policy.rb
  spec/requests/api/qa_tools_spec.rb
Due: prettier --write, eslint, stree --write

add meeting status aasm
  app/blueprints/project_meeting_blueprint.rb
  app/controllers/api/project_meetings_controller.rb
  app/frontend/models/project-meeting.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/project-meeting-store.ts
  app/frontend/types/enums.ts
  app/models/concerns/project_meeting_status.rb
  app/models/project_meeting.rb
  app/policies/project_meeting_policy.rb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20260519182523_add_project_meetings.rb
  db/migrate/20260519223000_add_project_meeting_notification_preferences.rb
  db/migrate/20260519235200_add_project_meeting_notification_recipient_emails_to_jurisdictions.rb
  db/schema.rb
  spec/factories/project_meetings.rb
  spec/models/project_meeting_spec.rb
  spec/policies/project_meeting_policy_spec.rb
  spec/requests/api/project_meetings_spec.rb
Due: prettier --write, eslint, stree --write

add active project meeting note on overview
  app/blueprints/permit_project_blueprint.rb
  app/frontend/components/domains/permit-project/meetings-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/overview-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/permit-project-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-project.ts
  app/frontend/stores/project-meeting-store.ts
  app/models/concerns/project_meeting_status.rb
  app/models/permit_project.rb
Due: prettier --write, eslint, stree --write

fix submission contact email
  app/models/submission_contact.rb
  app/views/permit_hub_mailer/submission_contact_confirm.html.erb
Due: stree --write

HUB-4214 Refactor release notes routing
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/index.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/release-note-form-screen.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/release-notes-screen.tsx
Due: prettier --write, eslint

HUB-4214 Add routes for years and viewer context in release notes
  config/routes.rb
Due: stree --write

HUB-4214 allow anonymous viewers and add viewer context logic
  app/policies/release_note_policy.rb
Due: stree --write

HUB-4214 Add year filtering to release note search functionality
  app/controllers/api/concerns/search/release_notes.rb
Due: stree --write

HUB-4214 add release note pagination context for list view
  app/services/release_note_viewer_context.rb
Due: stree --write

HUB-4214 add viewer context and year retrieval endpoints
  app/controllers/api/release_notes_controller.rb
Due: stree --write

HUB-4214 specs
  spec/requests/release_notes_spec.rb
Due: stree --write

HUB-4214 add viewing context for release notes
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4214 add release note viewer context type
  app/frontend/types/types.ts
Due: prettier --write, eslint

HUB-4214 add years and viewer context api methods
  app/frontend/services/api/index.ts
Due: prettier --write, eslint

HUB-4214 add year selection and URL handling methods to release notes store
  app/frontend/stores/release-note-store.ts
Due: prettier --write, eslint

HUB-4214 add bad release note badge component
  app/frontend/components/domains/release-notes/release-note-version-badge.tsx
Due: prettier --write, eslint

HUB-4214 add release notes year nav component
  app/frontend/components/domains/release-notes/release-note-year-nav.tsx
Due: prettier --write, eslint

HUB-4214 highlight release from shareable url
  app/frontend/components/domains/release-notes/release-note-entry.tsx
  app/frontend/components/domains/release-notes/release-notes-screen.tsx
Due: prettier --write, eslint

HUB-4214 update release notes link format in notification store to use fragment identifier
  app/frontend/stores/notification-store.ts
Due: prettier --write, eslint

HUB-4635 make project readiness tools protected again
  app/frontend/components/domains/navigation/index.tsx
Due: prettier --write, eslint

fix submission contact policy and scope
  app/controllers/api/submission_contacts_controller.rb
  app/policies/submission_contact_policy.rb
Due: stree --write

first pass on question bank poc
  app/blueprints/question_definition_blueprint.rb
  app/blueprints/requirement_block_blueprint.rb
  app/blueprints/requirement_blueprint.rb
  app/controllers/api/question_definitions_controller.rb
  app/controllers/api/requirement_blocks_controller.rb
  app/controllers/api/requirements_controller.rb
  app/frontend/components/domains/requirements-library/requirement-blocks-table.tsx
  app/frontend/components/shared/shared-question-badge.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/question-definition.ts
  app/frontend/models/requirement-block.ts
  app/frontend/models/requirement.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/question-definition-store.ts
  app/frontend/stores/root-store.ts
  app/frontend/types/api-responses.ts
  app/frontend/types/enums.ts
  app/models/question_definition.rb
  app/models/requirement.rb
  app/policies/question_definition_policy.rb
  app/policies/requirement_policy.rb
  app/services/question_bank_dedup_service.rb
  app/services/question_bank_drift_service.rb
  app/services/template_versioning_service.rb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20260528170000_create_question_definitions.rb
  db/migrate/20260528170100_add_question_definition_to_requirements.rb
  db/migrate/20260528170200_add_question_bank_drift_to_requirement_templates.rb
  db/schema.rb
  lib/tasks/question_bank.rake
  spec/factories/question_definitions.rb
  spec/models/question_definition_spec.rb
  spec/services/question_bank_dedup_service_spec.rb
  spec/services/question_bank_governance_spec.rb
Due: prettier --write, eslint, stree --write

HUB-4782 add digital seal validation error messages
  config/locales/en.yml
Due: none

HUB-4782 refactor digital seal validation organization checks
  app/controllers/api/digital_seal_validator_controller.rb
Due: stree --write

HUB-4782 specs
  spec/controllers/digital_seal_validator_controller_spec.rb
Due: stree --write

HUB-4782 update digital seal validation messages
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4782 add digital seal validation utility functions and types
  app/frontend/utils/digital-seal-validation.ts
Due: prettier --write, eslint

HUB-4782 refactor state management and edge case views
  app/frontend/components/domains/project-readiness-tools/check-digital-seals.tsx
Due: prettier --write, eslint

HUB-4782 remove ddigital seal validator store from state management
  app/frontend/stores/digital-seal-validator-store.ts
  app/frontend/stores/root-store.ts
Due: prettier --write, eslint
