Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

first round of review revisions
  app/frontend/components/domains/permit-application/checklist-sidebar.tsx
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/revision-sidebar.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/sections-dnd/index.tsx
  app/frontend/components/domains/requirement-template/sections-sidebar.tsx
  app/frontend/styles/theme/foundations/sizes.ts
Due: prettier --write, eslint

Polish local jurisdiction page style
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

second round of pr revisions
  app/frontend/components/domains/permit-application/revision-sidebar.tsx
  app/frontend/components/shared/permit-applications/permit-application-status-tabs.tsx
  app/frontend/utils/utility-functions.ts
Due: prettier --write, eslint

third round of PR review ammendments
  app/frontend/components/domains/permit-application/checklist-sidebar.tsx
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/revision-sidebar.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/sections-dnd/index.tsx
  app/frontend/components/domains/requirement-template/sections-sidebar.tsx
  app/frontend/components/shared/revisions/revision-modal.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/permit-application-store.ts
  app/frontend/utils/formio-submission-traversal.ts
  app/models/concerns/permit_application_status.rb
  app/models/permit_application.rb
  app/views/permit_hub_mailer/notify_submitter_application_submitted.html.erb
Due: prettier --write, eslint, stree --write

fourth round of pr ammendments
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  db/data/20240621234529_create_submission_versions.rb
  db/migrate/20240621234528_create_revision_requests.rb
Due: prettier --write, eslint, stree --write

add revision reason form
  app/blueprints/revision_reason_blueprint.rb
  app/blueprints/site_configuration_blueprint.rb
  app/controllers/api/permit_applications_controller.rb
  app/controllers/api/site_configuration_controller.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/index.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/revision-reason-setup-screen.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/sitewide-message-screen.tsx
  app/frontend/components/shared/revisions/revision-modal.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/revision-reason.ts
  app/frontend/stores/site-configuration-store.ts
  app/frontend/types/api-request.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/revision_reason.rb
  app/models/revision_request.rb
  app/models/site_configuration.rb
  db/migrate/20240711231749_add_revision_reason_options_to_site_configuration.rb
  db/migrate/20240712162543_create_revision_reasons.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

add max validations for reasons
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/domains/super-admin/site-configuration-management/revision-reason-setup-screen.tsx
  app/frontend/components/shared/revisions/revision-modal.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/revision-reason.ts
  app/models/revision_reason.rb
  app/models/revision_request.rb
  app/models/site_configuration.rb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

Fix issue switching jurisdiction
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/energy-step-editable-block/index.tsx
  app/frontend/hooks/resources/use-jurisdiction.ts
Due: prettier --write, eslint

add data migration for default reasons
  app/controllers/api/site_configuration_controller.rb
  app/frontend/components/domains/home/review-manager/configuration-management-screen/index.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/help-drawer-setup-screen.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/index.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/revision-reason-setup-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/api-request.ts
  app/models/revision_reason.rb
  app/models/site_configuration.rb
  db/data/20240716232716_create_revision_reasons.rb
  db/data_schema.rb
Due: prettier --write, eslint, stree --write

add reason seeder
  app/services/revision_reason_seeder.rb
  db/data/20240716232716_create_revision_reasons.rb
  db/seeds.rb
  lib/tasks/seed_prod.rake
Due: stree --write

some reason UI fixes
  app/frontend/components/domains/permit-application/revision-sidebar.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/revision-reason-setup-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/site-configuration-store.ts
Due: prettier --write, eslint

add trait for newly submitted to fix specs
  app/controllers/external_api/concerns/search/permit_applications.rb
  spec/concerns/permit_application_search_spec.rb
  spec/factories/permit_applications.rb
  spec/factories/submission_version.rb
  spec/models/permit_application_spec.rb
  spec/policies/permit_application_policy_spec.rb
  spec/requests/external_api/v1/permit_applications_spec.rb
  spec/swagger_helper.rb
Due: stree --write

Fix contact phone error messages
  config/locales/en.yml
Due: none

add discard field to reasons and refactor attribute assigner
  app/models/revision_reason.rb
  app/models/site_configuration.rb
  db/migrate/20240718160238_add_discard_to_revision_reasons.rb
  db/schema.rb
Due: stree --write

add data migration for revision reasons
  db/data/20240718204647_create_revision_reasons.rb
Due: stree --write

Fix issue accepting invitation when logged in
  app/controllers/api/users_controller.rb
Due: stree --write

address cleanup comments
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/generic-contact-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/generic-multi-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/index.tsx
  app/services/requirement_form_json_service.rb
Due: prettier --write, eslint, stree --write

add editor for mulitple PIDs
  app/frontend/components/domains/requirements-library/requirement-field-display/generic-field-item-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/generic-multi-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/index.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/pid-info-edit.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/enums.ts
  app/models/requirement.rb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

updating multigrid display for generic use, fixing the rendering form side of things
  app/frontend/components/domains/requirements-library/requirement-field-display/generic-multi-display.tsx
  app/frontend/i18n/i18n.ts
  app/services/requirement_form_json_service.rb
Due: prettier --write, eslint, stree --write

added endgineering test
  spec/services/wrappers/digital_seal_validator_spec.rb
  spec/support/TEST OF ENGINEERING DIGITAL SEAL RECOGNITION - Sealed.pdf
  spec/vcr_cassettes/wrappers/digital_seal_validator/signed_approved_orgs.yml
Due: stree --write

initialize cypress
  cypress.config.ts
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/e2e.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

fix file extension
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/11 onboarding.txt
Due: none

Fix issue inviting existing super admins
  app/services/jurisdiction/user_inviter.rb
Due: stree --write

Prepopulate required steps for new jurisdictions
  app/models/jurisdiction.rb
Due: stree --write

Fix error when step code is optional
  app/services/permit_application/form_json_service.rb
Due: stree --write

Fix error showing not required option
  app/frontend/stores/step-code-store.ts
Due: prettier --write, eslint

Fix error translating not required step
  app/frontend/models/jurisdiction.ts
Due: prettier --write, eslint

direct reviewers to new instead of old template on template update
  app/frontend/i18n/i18n.ts
  app/frontend/stores/notification-store.ts
Due: prettier --write, eslint

add change markers and past requests view
  app/blueprints/permit_application_blueprint.rb
  app/blueprints/revision_request_blueprint.rb
  app/blueprints/submission_version_blueprint.rb
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/revision-sidebar.tsx
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/components/shared/permit-applications/permit-application-viewed-at-tag.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/components/shared/permit-applications/single-requirement-form.tsx
  app/frontend/components/shared/revisions/previous-submission-modal.tsx
  app/frontend/components/shared/revisions/revision-modal.tsx
  app/frontend/components/shared/select/selectors/submission-version-select.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/types/dom.d.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/frontend/utils/formio-component-traversal.ts
  app/frontend/utils/formio-helpers.ts
Due: prettier --write, eslint, stree --write

add migrations for first nations
  db/data/20240724221904_create_first_nations_tag.rb
  db/data_schema.rb
  db/migrate/20240724190137_add_first_nation_boolean_to_requirement_template.rb
  db/schema.rb
Due: stree --write

fix template update notifications and status filters
  app/frontend/components/domains/permit-application/index.tsx
  app/frontend/stores/notification-store.ts
  app/frontend/stores/permit-application-store.ts
  app/models/concerns/permit_application_status.rb
  app/services/notification_service.rb
Due: prettier --write, eslint, stree --write

add error message for submitting outdated permit application
  app/controllers/api/permit_applications_controller.rb
  config/locales/en.yml
Due: stree --write

[bphh-1801] Add migrations to add collaborator and permit_collaboration models
  app/models/collaborator.rb
  app/models/jurisdiction.rb
  app/models/permit_application.rb
  app/models/permit_collaboration.rb
  app/models/user.rb
  db/migrate/20240709220547_create_collaborators.rb
  db/migrate/20240709222932_create_permit_collaborations.rb
  db/schema.rb
Due: stree --write

[bphh-1825] Add collaborator search
  app/controllers/api/collaborators_controller.rb
  app/controllers/api/concerns/search/collaborators.rb
  app/models/collaborator.rb
  app/policies/collaborator_policy.rb
  config/routes.rb
Due: stree --write

WIP
  app/blueprints/collaborator_blueprint.rb
  app/controllers/api/collaborators_controller.rb
  app/controllers/api/concerns/search/collaborators.rb
  app/controllers/api/permit_collaborations_controller.rb
  app/frontend/components/domains/permit-application/collaborator-assignment-popover.tsx
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/components/shared/confirmation-modal.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/components/shared/remove-confirmation-modal.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/lib/create-search-model.ts
  app/frontend/models/collaborator.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/collaborator-store.ts
  app/frontend/stores/root-store.ts
  app/frontend/types/api-responses.ts
  app/frontend/types/enums.ts
  app/models/jurisdiction.rb
  app/models/user.rb
  app/services/collaborator/inviter.rb
  config/routes.rb
Due: prettier --write, eslint, stree --write

[bphh-638] Refactors permit_collaboration migration to include requirement_block_id instead of json. Implement create collaboration endpoint and add relevant validations
  app/blueprints/permit_collaboration_blueprint.rb
  app/controllers/api/permit_applications_controller.rb
  app/errors/collaboration_management_error.rb
  app/models/permit_application.rb
  app/models/permit_collaboration.rb
  app/policies/permit_application_policy.rb
  app/services/permit_application/collaboration_management_service.rb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20240709222932_create_permit_collaborations.rb
  db/schema.rb
Due: stree --write

[bphh-638] Implement assignment of a collaborator to requirement block
  app/blueprints/permit_application_blueprint.rb
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/domains/permit-application/collaborator-assignment-popover.tsx
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/models/collaborator.ts
  app/frontend/models/permit-application.ts
  app/frontend/models/permit-collaboration.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/collaborator-store.ts
  app/frontend/stores/permit-application-store.ts
  app/frontend/types/enums.ts
  app/models/permit_collaboration.rb
  db/data_schema.rb
Due: prettier --write, eslint, stree --write

[bphh-638] Update permit collaboration email copy and sending implementation
  app/mailers/permit_hub_mailer.rb
  app/models/permit_collaboration.rb
  app/services/permit_collaboration/collaboration_management_service.rb
  app/views/permit_hub_mailer/notify_new_or_unconfirmed_permit_collaboration.erb
  app/views/permit_hub_mailer/notify_permit_collaboration.erb
  config/locales/en.yml
Due: stree --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
