Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

Fixes and suggestions for various helm charts
  devops/helm-charts/clamav/templates/cronjob.yaml
  devops/helm-charts/crunchydb-backup-cron/templates/cronjob.yaml
  devops/helm-charts/crunchydb-backup-cron/values-prod.yaml
  devops/helm-charts/matomo-openshift-chart/templates/_helpers.tpl
  devops/helm-charts/matomo-openshift-chart/templates/backup-cronjob.yaml
  devops/helm-charts/matomo-openshift-chart/templates/configmap-matomo.yaml
Due: none

Preserve submission report snapshots and support PDF recovery
  app/blueprints/permit_application_blueprint.rb
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/domains/permit-application/submission-download-modal.tsx
  app/frontend/components/print/README.md
  app/frontend/components/print/components/report-cover.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/permit-application-store.ts
  app/frontend/types/types.ts
  app/jobs/pdf_generation_job.rb
  app/jobs/zipfile_job.rb
  app/models/concerns/form_supporting_documents.rb
  app/models/concerns/permit_application_status.rb
  app/models/permit_application.rb
  app/models/submission_version.rb
  app/models/supporting_document.rb
  app/services/permit_application/form_json_service.rb
  app/services/print_reports/application_lock.rb
  app/services/print_reports/data.rb
  app/services/print_reports/generation.rb
  app/services/print_reports/recovery.rb
  app/services/print_reports/snapshot.rb
  app/services/print_reports/stored_file.rb
  app/services/supporting_documents_zipper.rb
  db/migrate/20261002120000_add_report_snapshot_to_submission_versions.rb
  db/schema.rb
  lib/tasks/print_reports.rake
  spec/factories/submission_versions.rb
  spec/jobs/zipfile_job_spec.rb
  spec/models/permit_application_spec.rb
  spec/requests/api/permit_applications_spec.rb
  spec/services/permit_application/form_json_service_spec.rb
  spec/services/print_reports_data_spec.rb
  spec/services/print_reports_generation_spec.rb
  spec/services/print_reports_recovery_spec.rb
  spec/services/print_reports_renderer_spec.rb
  spec/services/print_reports_snapshot_spec.rb
  spec/services/supporting_documents_zipper_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5465 Improve PDF footer layout
  app/frontend/components/print/README.md
  app/frontend/components/print/components/report-footer.tsx
  app/frontend/components/print/components/report-shell.tsx
  app/frontend/components/print/styles/print.css
  spec/services/print_reports_renderer_spec.rb
Due: prettier --write, eslint, stree --write

lates clam av changes added
  devops/helm-charts/clamav/MULTI_POD_SETUP.md
  devops/helm-charts/clamav/templates/cronjob.yaml
  devops/helm-charts/clamav/templates/deployment.yaml
  devops/helm-charts/clamav/templates/pvc.yaml
  devops/helm-charts/clamav/templates/service.yaml
  devops/helm-charts/clamav/values-dev.yaml
  devops/helm-charts/clamav/values-test.yaml
  devops/helm-charts/clamav/values.yaml
  devops/helm-charts/matomo-openshift-chart/values.yaml
Due: none

Shorten unavailable PDF messages and add help tooltips
  app/frontend/components/domains/permit-application/submission-download-modal.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Fix S3 report validation and recovery ZIP retries
  app/frontend/components/print/README.md
  app/services/print_reports/recovery.rb
  app/services/print_reports/stored_file.rb
  spec/services/print_reports_recovery_spec.rb
  spec/services/print_reports_stored_file_spec.rb
Due: stree --write

Adjust limits and request for gotenberg
  devops/helm-charts/gotenberg/values.yaml
Due: none

Fix Gotenberg Chromium startup on OpenShift
  devops/helm-charts/gotenberg/templates/deployment.yaml
Due: none

HUB-5555 Step codes info page: no way to navigate back to step codes list page
  app/frontend/components/domains/step-code/project-information.tsx
Due: prettier --write, eslint

HUB-5554 Energy step code checklist: Review - Report: Buttons movement
  app/frontend/components/domains/step-code/part-3/form-section/report.tsx
  app/frontend/components/domains/step-code/part-9/form-section/index.tsx
  app/frontend/components/domains/step-code/report-document-actions.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-3-step-code-checklist.ts
  app/frontend/models/part-9-step-code-checklist.ts
Due: prettier --write, eslint

HUB-5620 Admin - Reports - All new reports: Update to new PCT time zone
  app/frontend/components/domains/super-admin/reporting/report-controls.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-5621 Show a sort icon on every report column
  app/frontend/components/domains/super-admin/reporting/report-table.tsx
  app/services/reports/base.rb
  spec/services/reports/application_growth_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5622 Group the admin reporting index
  app/frontend/components/domains/super-admin/reporting/reporting-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-5623 Add Part 3 step code report and checklist export
  app/controllers/api/step_codes_controller.rb
  app/frontend/components/domains/super-admin/reporting/reporting-screen.tsx
  app/frontend/components/domains/super-admin/reporting/step-code-data-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/step-code-store.ts
  app/policies/step_code_policy.rb
  app/services/reports/registry.rb
  app/services/reports/step_code_part_3.rb
  app/services/reports/step_code_part_9.rb
  app/services/step_code_checklist_dump_service.rb
  config/locales/reports.en.yml
  config/routes.rb
  spec/controllers/api/step_codes_controller_spec.rb
  spec/services/reports/step_code_part_3_spec.rb
  spec/services/step_code_checklist_dump_service_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5624 Page all-time month tables in the report view
  app/frontend/components/domains/super-admin/reporting/report-table.tsx
Due: prettier --write, eslint

HUB-5625 Hide zero-submission jurisdictions on step code reports
  app/frontend/components/domains/super-admin/reporting/report-table.tsx
  app/services/reports/step_code_part_9.rb
  spec/services/reports/step_code_part_9_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5626 Omit zero-submission jurisdictions and always show enablement charts
  app/services/reports/jurisdiction_enablement.rb
  config/locales/reports.en.yml
  spec/services/reports/jurisdiction_enablement_spec.rb
Due: stree --write

HUB-5627 Omit empty jurisdictions from permit volume
  app/services/reports/jurisdiction_volume.rb
  config/locales/reports.en.yml
  spec/services/reports/jurisdiction_volume_spec.rb
Due: stree --write

HUB-5628 Split template usage into created and submitted
  app/services/reports/template_usage.rb
  config/locales/reports.en.yml
  spec/services/reports/template_usage_spec.rb
Due: stree --write

HUB-5629 Rename template stall our-court labels for jurisdiction time
  config/locales/reports.en.yml
  spec/services/reports/template_stall_spec.rb
Due: stree --write

HUB-5630 Show every account role on the report chart in a distinct color
  app/frontend/components/domains/super-admin/reporting/report-chart.tsx
Due: prettier --write, eslint

HUB-5634 Show report file sizes in megabytes
  app/services/reports/base.rb
  app/services/reports/platform_health.rb
  app/services/reports/storage_footprint.rb
  config/locales/reports.en.yml
  spec/services/reports/platform_health_spec.rb
  spec/services/reports/storage_footprint_spec.rb
Due: stree --write

HUB-5637 Show storage in MB or GB and separate the forecast
  app/frontend/components/domains/super-admin/reporting/report-shell.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/report.ts
  app/services/reports/base.rb
  app/services/reports/storage_footprint.rb
  config/locales/reports.en.yml
  spec/services/reports/storage_footprint_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5632 Count draft completion by project and drop created_at copy
  app/frontend/components/domains/super-admin/reporting/report-controls.tsx
  app/frontend/stores/report-store.ts
  app/services/reports/draft_completion.rb
  config/locales/reports.en.yml
  spec/services/reports/draft_completion_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5633 Define in-flight and replace viewed_at copy
  config/locales/reports.en.yml
  spec/services/reports/review_process_spec.rb
Due: stree --write

HUB-5631 Define submitter adoption terms and count projects
  app/controllers/api/reports_controller.rb
  app/frontend/components/domains/super-admin/reporting/report-controls.tsx
  app/frontend/components/domains/super-admin/reporting/report-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/report-store.ts
  app/services/reports/base.rb
  app/services/reports/cache.rb
  app/services/reports/registry.rb
  app/services/reports/submitter_adoption.rb
  config/locales/reports.en.yml
  spec/services/reports/submitter_adoption_spec.rb
Due: prettier --write, eslint, stree --write

prefix auth cookies by environment to prevent login loops
  .env_example
  README.md
  app/channels/application_cable/connection.rb
  app/controllers/api/omniauth_callbacks_controller.rb
  app/controllers/api/sessions_controller.rb
  config/application.rb
  config/initializers/devise.rb
  lib/auth_cookies.rb
  lib/devise/jwt/cookie/configuration.rb
  spec/channels/application_cable/connection_spec.rb
  spec/lib/auth_cookies_spec.rb
  spec/requests/api/omniauth_callbacks_spec.rb
  spec/requests/api/sessions_spec.rb
  spec/support/auth_cookie_spec_helpers.rb
Due: stree --write

HUB-2310 link copy
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-2310 elective publish notifications
  app/blueprints/permit_application_blueprint.rb
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/models/permit-application.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/notification-store.ts
  app/frontend/types/enums.ts
  app/frontend/utils/formio-component-traversal.ts
  app/models/customization_change.rb
  app/models/jurisdiction_template_version_customization.rb
  app/models/permit_application.rb
  app/services/constants/notification_action_types.rb
  app/services/notification_service.rb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20261008161500_create_customization_changes.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

HUB-2310 specs
  spec/models/jurisdiction_template_version_customization_spec.rb
  spec/models/permit_application_spec.rb
Due: stree --write
