Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

HUB-4945 Reviewer workspace - Submission inbox - Nav back from permit app as RM to project, not inbox
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
Due: prettier --write, eslint

HUB-4946 Reviewer workspace - Submission inbox: Missing avatar for assignees on project overview
  app/frontend/components/domains/jurisdictions/submission-inbox/application-inbox-table.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/application-review-assignees-cell.tsx
  app/frontend/components/domains/permit-project/permit-application-grid-row.tsx
Due: prettier --write, eslint

HUB-4948 Reviewer workspace - Submission inbox: Missing collaborators button next to 'ready for revision' button at top of new permit app
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
Due: prettier --write, eslint

HUB-4953 RM/RRM - Configuration - Feature access & settings: Submissions inbox setup, remove 'inbox'
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

clean up loose ends with outmoded mapping notificaiton job
  app/blueprints/preference_blueprint.rb
  app/controllers/api/users_controller.rb
  app/frontend/components/domains/users/profile-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/user.ts
  db/data/20260427221551_cleanup_mapping_sidekiq_queue.rb
  db/data_schema.rb
  db/migrate/20260427222000_remove_integration_mapping_notification_preferences.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

consolidate collaborator select popovers
  app/frontend/components/domains/jurisdictions/submission-inbox/application-kanban-board.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/application-review-assignees-cell.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-designated-reviewer-popover.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-overview-tab.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/review-assignees-row.tsx
  app/frontend/components/domains/permit-application/collaborator-management/collaboration-assignment-popover-content.tsx
  app/frontend/components/domains/permit-application/collaborator-management/collaborator-assignment-popover.tsx
  app/frontend/components/domains/permit-application/collaborator-management/designated-collaborator-assignment-popover.tsx
  app/frontend/components/domains/permit-project/overview-tab-panel-content.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4960 undefined meui bug
  app/services/step_code/compliance/check_requirements/energy/meui.rb
  spec/services/step_code/compliance/check_requirements/energy/meui_spec.rb
Due: stree --write

HUB-4209 add release note model and migration (#1636)
  app/models/release_note.rb
  db/migrate/20260420221252_create_release_notes.rb
  db/schema.rb
Due: stree --write

HUB-4210 add publish action to release note policy
  app/policies/release_note_policy.rb
Due: stree --write

HUB-4210 test release note defaults to draft
  spec/models/release_note_spec.rb
Due: stree --write

HUB-4210 add release note create policy
  app/policies/release_note_policy.rb
Due: stree --write

HUB-4210 release note model specs
  spec/models/release_note_spec.rb
Due: stree --write

HUB-4210 allow optional params
  app/controllers/api/release_notes_controller.rb
Due: stree --write

HUB-4210 update release note error spec
  spec/requests/release_notes_spec.rb
Due: stree --write

HUB-4210 add success and error messages for release note updates
  config/locales/en.yml
Due: none

HUB-4210 add publish action for release notes
  app/controllers/api/release_notes_controller.rb
Due: stree --write

HUB-4210 Add release note blueprint base and extended views
  app/blueprints/release_note_blueprint.rb
Due: stree --write

HUB-4210 add release_notes_controller
  app/controllers/api/release_notes_controller.rb
Due: stree --write

HUB-4210 add routes for release notes resource
  config/routes.rb
Due: stree --write

HUB-4210 add publish route for release notes
  config/routes.rb
Due: stree --write

HUB-4210 update request spec
  spec/requests/release_notes_spec.rb
Due: stree --write

HUB-4210 add success and error messages for publishing release notes
  config/locales/en.yml
Due: none

HUB-4210 add update action for release notes
  app/controllers/api/release_notes_controller.rb
Due: stree --write

HUB-4210 add success and error messages for release note creation
  config/locales/en.yml
Due: none

HUB-4210 add release note validations
  app/models/release_note.rb
Due: stree --write

HUB-4210 add update policy for release notes
  app/policies/release_note_policy.rb
Due: stree --write

HUB-4210 add factory for release notes
  spec/factories/release_notes.rb
Due: stree --write

HUB-4210 publish specs
  spec/requests/release_notes_spec.rb
Due: stree --write

override uuid version within formio
  package-lock.json
  package.json
Due: none

HUB-4210 super admin can create edit and publish release notes (#1647)
  app/blueprints/release_note_blueprint.rb
  app/controllers/api/release_notes_controller.rb
  app/models/release_note.rb
  app/policies/release_note_policy.rb
  config/locales/en.yml
  config/routes.rb
  spec/factories/release_notes.rb
  spec/models/release_note_spec.rb
  spec/requests/release_notes_spec.rb
Due: stree --write

convert assignment popover to modal
  app/frontend/components/domains/jurisdictions/submission-inbox/application-kanban-board.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/application-review-assignees-cell.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-designated-reviewer-modal.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-inbox-table.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-kanban-board.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/review-assignees-row.tsx
  app/frontend/components/domains/permit-application/collaborator-management/block-collaborator-assignment-management.tsx
  app/frontend/components/domains/permit-application/collaborator-management/collaboration-assignment-modal-content.tsx
  app/frontend/components/domains/permit-application/collaborator-management/collaborator-assignment-modal.tsx
  app/frontend/components/domains/permit-application/collaborator-management/collaborator-invite-modal-content.tsx
  app/frontend/components/domains/permit-application/collaborator-management/collaborators-sidebar.tsx
  app/frontend/components/domains/permit-application/collaborator-management/designated-collaborator-assignment-modal.tsx
  app/frontend/components/domains/permit-application/collaborator-management/types.ts
Due: prettier --write, eslint

consolidate file url method with filename preserving functionality
  app/models/design_document.rb
  app/models/file_upload_attachment.rb
  app/models/project_document.rb
  app/models/report_document.rb
  app/models/requirement_document.rb
  app/models/resource_document.rb
  app/models/supporting_document.rb
  app/services/supporting_documents_zipper.rb
  spec/models/file_upload_attachment_spec.rb
  spec/models/supporting_document_spec.rb
  spec/services/supporting_documents_zipper_spec.rb
Due: stree --write

HUB-4866 only navigate if user is on the current pre-check edit flow
  app/frontend/components/domains/pre-check/form-section/confirm-submission.tsx
Due: prettier --write, eslint

update column collapsed state
  app/frontend/components/domains/jurisdictions/submission-inbox/kanban-board.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4950 make date filtering in project audits to include full calendar days
  app/controllers/api/concerns/search/project_audits.rb
  spec/requests/api/project_audits_spec.rb
Due: stree --write

HUB-4751 enable site search by pid
  app/frontend/components/shared/select/selectors/sites-select.tsx
Due: prettier --write, eslint

add download as json to submission download modal
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/domains/permit-application/submission-download-modal.tsx
  app/frontend/i18n/i18n.ts
  app/policies/permit_application_policy.rb
  config/routes.rb
  spec/policies/permit_application_policy_spec.rb
  spec/requests/api/permit_applications_spec.rb
Due: prettier --write, eslint, stree --write

add file namer service with specs
  app/jobs/pdf_generation_job.rb
  app/models/supporting_document.rb
  app/services/permit_application_generated_file_namer.rb
  app/services/supporting_documents_zipper.rb
  spec/jobs/pdf_generation_job_spec.rb
  spec/models/supporting_document_spec.rb
  spec/services/permit_application_generated_file_namer_spec.rb
  spec/services/supporting_documents_zipper_spec.rb
Due: stree --write

adjust collapsed column styling
  app/frontend/components/domains/jurisdictions/submission-inbox/kanban-board.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/kanban-card.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

update actions to not rely on node 20
  .github/actions/openshift-deploy/action.yml
  .github/workflows/dev.yml
  .github/workflows/helms-deploy.yml
  .github/workflows/prod.yml
  .github/workflows/pull-request.yml
  .github/workflows/test.yml
Due: none

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
