Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

fix bug in permit application search filter
  app/controllers/api/concerns/search/permit_applications.rb
  app/frontend/stores/notification-store.ts
Due: prettier --write, eslint, stree --write

add multiple links for notifications
  app/frontend/components/domains/home/notifications/notifications-popover.tsx
  app/frontend/components/shared/base/custom-message-box.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/notification-store.ts
  app/frontend/types/types.ts
  app/models/template_version.rb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

Change form labels to be bold by default and not based on focus state. Re-adjust the max-width to only target the input fields / dropdowns to not run full width.
  app/frontend/components/shared/chefs/styles.scss
Due: none

guard clause fix
  app/frontend/components/domains/permit-application/new-permit-application-screen.tsx
Due: prettier --write, eslint

add null check to permit type find by code
  db/data/20240617164456_update_template_version_permit_types.rb
Due: stree --write

convert menu links to <a> tags
  app/frontend/components/domains/navigation/nav-bar.tsx
Due: prettier --write, eslint

Add missing change from merge
  db/seeds.rb
Due: stree --write

Fix failing specs and other errors from merge from main to develop
  app/models/user.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
  spec/requests/external_api/v1/permit_applications_spec.rb
  spec/services/jurisdiction/user_inviter_spec.rb
Due: stree --write

Fix schema error from merge
  db/schema.rb
Due: stree --write

add additional guard clauses for when the pid is nil to return nothing
  app/controllers/api/geocoder_controller.rb
  app/services/wrappers/ltsa_parcel_map_bc.rb
Due: stree --write

Add request_id to logs so its easier for us to trace
  config/initializers/logger.rb
Due: stree --write

deal with cases where pid is not found guard clause
  app/controllers/api/geocoder_controller.rb
  app/services/wrappers/ltsa_parcel_map_bc.rb
Due: stree --write

amend last
  config/environments/production.rb
Due: stree --write

amend last
  config/initializers/logger.rb
Due: stree --write

create buttons for adding items to the revision list
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/revision-sidebar.tsx
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/components/shared/contact/contact-modal.tsx
  app/frontend/components/shared/permit-applications/requirement-form/requirement-form.tsx
  app/frontend/components/shared/permit-applications/requirement-form/use-form-event-listeners.tsx
  app/frontend/components/shared/revisions/revision-modal.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/types/types.ts
  app/frontend/utils/formio-component-traversal.ts
  app/models/revision_request.rb
  app/services/requirement_form_json_service.rb
  db/migrate/20240607170547_create_revision_requests.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

remove submission notification emails to jurisdiction users
  app/models/permit_application.rb
  app/services/requirement_form_json_service.rb
Due: stree --write

dont use cloned data in store set submission state
  app/frontend/components/shared/contact/contact-modal.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/models/permit-application.ts
Due: prettier --write, eslint

do not auto deploy dev for the time being so we can use the environment for testing
  .github/workflows/dev.yml
Due: none

Fix issue accepting invite as regional RM
  app/controllers/api/invitations_controller.rb
  app/controllers/api/users_controller.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/users/accept-invitation-screen.tsx
  app/frontend/models/user.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/user-store.ts
  app/models/jurisdiction_membership.rb
  app/policies/user_policy.rb
  app/services/jurisdiction/user_inviter.rb
  app/services/omniauth_user_resolver.rb
  app/services/promote_user.rb
  config/locales/en.yml
  config/routes.rb
  spec/factories/users.rb
  spec/services/jurisdiction/user_inviter_spec.rb
  spec/support/shared_examples/jurisdiction_user_inviter.rb
Due: prettier --write, eslint, stree --write

[bphh-1713] Add requirement template blueprint optimization to improve load on search page
  app/blueprints/requirement_template_blueprint.rb
  app/controllers/api/concerns/search/requirement_templates.rb
  app/frontend/models/requirement-template.ts
  app/frontend/stores/requirement-template-store.ts
  app/models/requirement_template.rb
Due: prettier --write, eslint, stree --write

[bphh-1713] Improve individual requirement template loading performance
  app/controllers/api/requirement_templates_controller.rb
Due: stree --write

add model to define several step code conditions per jurisdiction
  app/blueprints/jurisdiction_blueprint.rb
  app/blueprints/jurisdiction_template_required_step_blueprint.rb
  app/controllers/api/concerns/search/jurisdictions.rb
  app/controllers/api/jurisdictions_controller.rb
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/energy-step-editable-block/index.tsx
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/jurisdiction.ts
  app/frontend/types/types.ts
  app/models/jurisdiction.rb
  app/models/jurisdiction_template_required_step.rb
  app/models/jurisdiction_template_step_code.rb
  app/models/requirement_template.rb
  app/services/jurisdiction_template_required_step_seeder.rb
  app/services/step_code_export_service.rb
  db/migrate/20240612213911_create_jurisdiction_template_required_step.rb
  db/schema.rb
  db/seeds.rb
Due: prettier --write, eslint, stree --write

add migration for changing tleil-watuth name
  db/data/20240621170056_update_first_nations_names.rb
Due: stree --write

try prlimit to increase descriptor
  .github/workflows/dev.yml
Due: none

make some changes to the Dockerfile to make npm install better with resource usage
  devops/docker/app/Dockerfile
Due: none

remove file descriptor limit change from GHA
  .github/workflows/dev.yml
Due: none

convert column times to use 24 hour
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
Due: prettier --write, eslint

only show warning on draft applications
  app/frontend/components/shared/permit-applications/permit-application-card.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
Due: prettier --write, eslint

convert clonedSubmissionData to unsavedSubmissionData local state
  app/frontend/components/shared/contact/contact-modal.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/models/permit-application.ts
Due: prettier --write, eslint

address PR comments
  app/frontend/components/shared/permit-applications/requirement-form.tsx
Due: prettier --write, eslint

Fix issues with submission inbox setup screen
  app/frontend/components/domains/home/review-manager/configuration-management-screen/submissions-inbox-setup-screen/form.tsx
  app/frontend/hooks/resources/use-jurisdiction.ts
  db/seeds.rb
Due: prettier --write, eslint, stree --write

add null check for latest template version in blueprint
  app/blueprints/template_version_blueprint.rb
Due: stree --write

fix bug on clearing valeus for pids
  app/frontend/components/shared/select/selectors/sites-select.tsx
Due: prettier --write, eslint

[bphh-1746] Refactor integration mapping creation callbacks into background jobs
  app/jobs/model_callback_job.rb
  app/models/integration_mapping.rb
  app/models/jurisdiction.rb
  app/models/template_version.rb
  config/initializers/sidekiq.rb
Due: stree --write
