Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

BPHH-2474 Add ca;lculation of total annual energy and emissions. Add locale number formatting for input
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/modelled-energy-outputs-grid.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-3-step-code-checklist.ts
Due: prettier --write, eslint

BPHH-2474 Implement totals by fuel type for modelled energy outputs
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/modelled-energy-outputs-grid.tsx
  app/frontend/components/shared/select/selectors/fuel-type-select.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

BPHH-2474 Add annual energy and step code grid for modelled energy output
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/controllers/api/part_3_building/checklists_controller.rb
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/annual-energy-whole-building-grid.tsx
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/modelled-energy-outputs-grid.tsx
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/step-code-building-portions-grid.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/utils/utility-functions.ts
Due: prettier --write, eslint, stree --write

BPHH-2474 Add energy per area calculation for modelled energy outputs
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/annual-energy-whole-building-grid.tsx
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/modelled-energy-outputs-grid.tsx
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/step-code-building-portions-grid.tsx
  app/frontend/models/part-3-step-code-checklist.ts
  app/models/part_3_step_code/checklist.rb
Due: prettier --write, eslint, stree --write

BPHH-2474 Add helper tooltip messages for modelled energy outputs
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/modelled-energy-outputs-grid.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

BPHH-2474 Add error state for fuel type selection for modelled energy output
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/modelled-energy-outputs-grid.tsx
  app/frontend/components/shared/with-conditional-tooltip.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

BPHH-2747 Add persistence for modelled output and fixm clearable select
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/modelled-energy-outputs-grid.tsx
  app/frontend/components/shared/select/selectors/fuel-type-select.tsx
  app/frontend/types/types.ts
Due: prettier --write, eslint

rework login form
  app/frontend/components/domains/authentication/login-screen.tsx
  app/frontend/components/domains/permit-application/index.tsx
  app/frontend/components/domains/users/accept-invitation-screen.tsx
  app/frontend/components/shared/base/custom-message-box.tsx
  app/frontend/components/shared/keycloak/basicbceid/entity-basic-bceid-info.tsx
  app/frontend/components/shared/keycloak/basicbceid/lg-basic-bceid-info.tsx
  app/frontend/components/shared/keycloak/basicbceid/submitter-basic-bceid-info.tsx
  app/frontend/components/shared/keycloak/bcsc-info.tsx
  app/frontend/components/shared/keycloak/businessbceid/entity-business-bceid-info copy.tsx
  app/frontend/components/shared/keycloak/businessbceid/lg-business-bceid-info.tsx
  app/frontend/components/shared/keycloak/info-block.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

BPHH-2474 Fix rebase issues
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/blueprints/step_code/part_3/energy_output_blueprint.rb
  app/controllers/api/part_3_building/checklists_controller.rb
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/index.tsx
Due: prettier --write, eslint, stree --write

add release display in menu dropdown
  app/frontend/components/domains/navigation/nav-bar.tsx
Due: prettier --write, eslint

inject VITE_RELEASE_VERSION with GHA input and inject into Docker during runtime
  .github/workflows/dev.yml
  .github/workflows/prod.yml
  .github/workflows/test.yml
  devops/docker/app/Dockerfile
Due: none

BPHH- 2474 Add ability to add other use types
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/modelled-energy-outputs-grid.tsx
Due: prettier --write, eslint

add reindex migration
  db/migrate/20241211235557_reindex_permit_application_sandbox_and_has_collaborator.rb
Due: stree --write

BPHH-2474 Add ability to remove use types for modelled outputs
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/modelled-energy-outputs-grid.tsx
Due: prettier --write, eslint

BPHH-2474 Add info descriptions for modelled outputs
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/annual-energy-whole-building-grid.tsx
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/modelled-energy-outputs-grid.tsx
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/step-code-building-portions-grid.tsx
  app/frontend/components/shared/info-tooltip.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

BPH-2474 Add loading spinner for modelled outputs page
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/index.tsx
Due: prettier --write, eslint

add inbox enable switch
  app/blueprints/jurisdiction_blueprint.rb
  app/blueprints/permit_application_blueprint.rb
  app/controllers/api/jurisdictions_controller.rb
  app/controllers/api/permit_classifications_controller.rb
  app/frontend/components/domains/home/review-manager/configuration-management-screen/submissions-inbox-setup-screen/form.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/jurisdiction.ts
  app/frontend/models/permit-application.ts
  app/frontend/stores/jurisdiction-store.ts
  app/models/concerns/permit_application_status.rb
  app/models/jurisdiction.rb
  app/models/permit_application.rb
  config/locales/en.yml
  db/migrate/20241212180325_add_inbox_enabled_to_jurisdictions.rb
  db/schema.rb
  db/seeds.rb
Due: prettier --write, eslint, stree --write

update jurisdiction factory
  app/models/concerns/permit_application_status.rb
  spec/factories/sub_districts.rb
Due: stree --write

remove variable bcsc key
  app/frontend/models/user.ts
  app/models/user.rb
  app/services/omniauth_user_resolver.rb
Due: prettier --write, eslint, stree --write

UnmappedApiNotification added to preference
  app/blueprints/preference_blueprint.rb
  app/controllers/api/users_controller.rb
  app/frontend/components/domains/users/profile-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/user.ts
  db/migrate/20241213062923_add_unmapped_notification_to_preference.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

Add screens for setting fuel types
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/frontend/components/domains/step-code/part-3/form-section/baseline-occupancies/baseline-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/district-energy.tsx
  app/frontend/components/domains/step-code/part-3/form-section/fuel-types.tsx
  app/frontend/components/domains/step-code/part-3/form-section/fuel-types/additional-fuel-types.tsx
  app/frontend/components/domains/step-code/part-3/form-section/fuel-types/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/location-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/project-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/start-page.tsx
  app/frontend/components/domains/step-code/part-3/sidebar/nav-sections.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-3-step-code-checklist.ts
  app/models/part_3_step_code/checklist.rb
  app/models/part_3_step_code/fuel_type.rb
  db/data/20241209190727_seed_default_fuel_types.rb
  db/data_schema.rb
Due: prettier --write, eslint, stree --write

Add district energy section & update backend model
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/blueprints/step_code/part_3/fuel_type_blueprint.rb
  app/controllers/api/part_3_building/checklists_controller.rb
  app/frontend/components/domains/step-code/part-3/form-section/baseline-occupancies/baseline-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/baseline-occupancies/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/district-energy.tsx
  app/frontend/components/domains/step-code/part-3/form-section/location-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/project-details.tsx
  app/frontend/components/domains/step-code/part-3/form-section/start-page.tsx
  app/frontend/components/domains/step-code/part-3/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-3-step-code-checklist.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/part_3_step_code/checklist.rb
  app/models/part_3_step_code/fuel_type.rb
  db/migrate/20241207001055_rename_fuel_type_name_to_key.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

BPHH-2474 Add modelled out put form section with basic grid scaffold
  app/frontend/components/domains/step-code/part-3/form-section/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/modelled-outputs/modelled-energy-outputs-grid.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Add renewable energy section
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/controllers/api/part_3_building/checklists_controller.rb
  app/frontend/components/domains/step-code/part-3/form-section/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/renewable-energy.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-3-step-code-checklist.ts
Due: prettier --write, eslint, stree --write

BPHH-2474 Add migration for use_type enum field on energy_outputs. Change name field to be nullable and add presence validation
  app/models/part_3_step_code/energy_output.rb
  db/migrate/20241209182000_add_use_type_to_energy_outputs.rb
  db/migrate/20241209182856_allow_null_name_in_energy_outputs.rb
  db/schema.rb
Due: stree --write

Add overheating requirements section
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/controllers/api/part_3_building/checklists_controller.rb
  app/frontend/components/domains/step-code/part-3/form-section/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/overheating-requirements.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-3-step-code-checklist.ts
  app/services/constants/part_3_step_code.rb
Due: prettier --write, eslint, stree --write

BPHH 2474 Add modelled_enrgy_output to api as nested attributes and create relevant blueprints
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/blueprints/step_code/part_3/energy_output_blueprint.rb
  app/controllers/api/part_3_building/checklists_controller.rb
  app/models/part_3_step_code/checklist.rb
Due: stree --write

Add step code occupancies configuration sections
  app/blueprints/part_3_step_code_blueprint.rb
  app/blueprints/part_9_step_code_blueprint.rb
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/blueprints/step_code/part_3/step_code_occupancy_blueprint.rb
  app/controllers/api/part_3_building/checklists_controller.rb
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/energy-step-editable-block/energy-step-select.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/energy-step-editable-block/index.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/energy-step-editable-block/zero-carbon-step-select.tsx
  app/frontend/components/domains/step-code/part-3/form-section/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/step-code-occupancies/index.tsx
  app/frontend/components/domains/step-code/part-3/form-section/step-code-occupancies/performance-requirements.tsx
  app/frontend/components/domains/step-code/part-9/checklist/compliance-summary/energy-steps.tsx
  app/frontend/components/domains/step-code/part-9/checklist/compliance-summary/zero-carbon-steps.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-3-step-code.ts
  app/frontend/models/part-9-step-code.ts
  app/frontend/stores/step-code-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/part_3_step_code/checklist.rb
Due: prettier --write, eslint, stree --write

Add baseline performance UI
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/blueprints/step_code/part_3/energy_output_blueprint.rb
  app/controllers/api/part_3_building/checklists_controller.rb
  app/frontend/components/domains/step-code/part-3/form-section/baseline-performance.tsx
  app/frontend/components/domains/step-code/part-3/form-section/fuel-types/additional-fuel-types.tsx
  app/frontend/components/domains/step-code/part-3/form-section/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/part-3-step-code-checklist.ts
  app/frontend/types/types.ts
  app/models/part_3_step_code/checklist.rb
Due: prettier --write, eslint, stree --write

BPHH 2474 Add uniqueness validations for energy_output uset type and name. Also adds relevant specs
  app/models/part_3_step_code/energy_output.rb
  spec/factories/part_3_step_code/energy_outputs.rb
  spec/factories/part_3_step_code/fuel_types.rb
  spec/models/part_3_step_code/energy_output_spec.rb
Due: stree --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
