Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

allow only restore on archived strp code
  app/frontend/components/domains/permit-project/step-codes-grid-row.tsx
Due: prettier --write, eslint

rename description in dat amigration
  db/data/20240617164456_update_template_version_permit_types.rb
Due: stree --write

move report generation to shared concern and save p9 on mark complete
  app/blueprints/step_code/part_3/checklist_blueprint.rb
  app/controllers/api/permit_projects_controller.rb
  app/controllers/concerns/checklist_report_document_concern.rb
  app/frontend/channels/processors/notification_effects.ts
  app/frontend/components/domains/step-code/nav-bar/part-9-nav-links.tsx
  app/frontend/components/domains/step-code/part-9/checklist/index.tsx
  app/models/part_3_step_code/checklist.rb
  app/models/part_9_step_code/checklist.rb
  app/models/step_code.rb
Due: prettier --write, eslint, stree --write

quill sanitization workaround
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/components/domains/onboarding/eula/index.tsx
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/components/shared/editor/custom-extensions/editor-with-preview.tsx
  app/frontend/components/shared/editor/safe-quill-display.tsx
  app/frontend/components/shared/user-eulas.tsx
  app/frontend/utils/sanitize-quill-content.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

enable create project on invalid and correctly use TextFormControl
  app/frontend/components/domains/permit-project/add-permit-application-screen.tsx
  app/frontend/components/domains/permit-project/new-permit-project-screen.tsx
Due: prettier --write, eslint

remove mailto
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

feature/HUB-3782: improved crunchy DB template for restoreoption
  devops/helm-charts/ha-postgres-crunchydb/.helmignore
  devops/helm-charts/ha-postgres-crunchydb/Chart.lock
  devops/helm-charts/ha-postgres-crunchydb/Chart.yaml
  devops/helm-charts/ha-postgres-crunchydb/README.md
  devops/helm-charts/ha-postgres-crunchydb/charts/crunchy-postgres-0.6.1.tgz
  devops/helm-charts/ha-postgres-crunchydb/templates/PostgresCluster.yaml
  devops/helm-charts/ha-postgres-crunchydb/templates/_helpers.tpl
  devops/helm-charts/ha-postgres-crunchydb/templates/_s3.tpl
  devops/helm-charts/ha-postgres-crunchydb/templates/data-restore-configmap.yaml
  devops/helm-charts/ha-postgres-crunchydb/templates/data-restore-cronjob.yaml
  devops/helm-charts/ha-postgres-crunchydb/templates/data-restore-secret.yaml
  devops/helm-charts/ha-postgres-crunchydb/templates/s3Secret.yaml
  devops/helm-charts/ha-postgres-crunchydb/values-dev.yaml
  devops/helm-charts/ha-postgres-crunchydb/values-prod.yaml
  devops/helm-charts/ha-postgres-crunchydb/values-test.yaml
  devops/helm-charts/ha-postgres-crunchydb/values.yaml
Due: none

try to prevent inconsistent p9 checklist load
  app/frontend/components/domains/step-code/part-9/checklist/index.tsx
Due: prettier --write, eslint

Finish multiply and sum grid
  app/controllers/api/requirement_blocks_controller.rb
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/services/requirement_form_json_service.rb
Due: prettier --write, eslint, stree --write

disable out of sandbox permit applications
  app/frontend/components/domains/permit-project/permit-application-grid-row.tsx
Due: prettier --write, eslint

fic url matching regex
  app/frontend/components/shared/form/input-form-control.tsx
Due: prettier --write, eslint

fix permitted param naming
  app/controllers/api/permit_projects_controller.rb
Due: stree --write

rework part 9 step code to allow standalone
  app/controllers/api/part_9_building/step_codes_controller.rb
  app/controllers/concerns/step_code_params_concern.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/project-readiness-tools/check-step-code-requirements/select-step-code-requirements-screen.tsx
  app/frontend/components/domains/step-code/nav-bar/part-9-nav-links.tsx
  app/frontend/components/domains/step-code/part-9/checklist/index.tsx
  app/frontend/components/domains/step-code/part-9/import.tsx
  app/frontend/components/domains/step-code/part-9/index.tsx
  app/frontend/components/shared/select/selectors/manual-mode-inputs.tsx
  app/frontend/hooks/resources/use-part-9-step-code.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/step-code-store.ts
  app/models/part_9_step_code.rb
  config/routes.rb
Due: prettier --write, eslint, stree --write

remove awkward special design fine requirement shoehorning
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/edit-jurisdiction-api-mapping-screen/grid-accordion.tsx
  app/frontend/components/domains/requirements-library/fields-setup-drawer.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/generic-field-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/index.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/editable-group.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/field-controls-header.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/components/shared/requirement-type-tag.tsx
  app/frontend/constants/index.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement-block.ts
  app/frontend/types/enums.ts
  app/frontend/utils/utility-functions.ts
  app/models/concerns/step_code_field_extraction.rb
  app/models/requirement.rb
  app/models/requirement_template.rb
  app/services/requirement_form_json_service.rb
  spec/factories/requirements.rb
  spec/models/requirement_spec.rb
Due: prettier --write, eslint, stree --write

style grid
  app/frontend/components/shared/chefs/styles.scss
  app/services/requirement_form_json_service.rb
Due: stree --write

invalidate grid submission data on row change
  app/services/requirement_form_json_service.rb
Due: stree --write

update data migrate gem
  Gemfile
  Gemfile.lock
Due: none

fix requirement factory for architectual file
  spec/factories/requirements.rb
Due: stree --write

HUB-3312 Added back button if user is a Technical suppoer - to navigate from API settings to configuration
  app/frontend/components/domains/external-api-key/index.tsx
  app/frontend/components/domains/jurisdictions/users/index.tsx
Due: prettier --write, eslint

improve error logging
  app/controllers/api/permit_projects_controller.rb
  app/controllers/concerns/base_controller_methods.rb
Due: stree --write

add standalone part 9 report generation
  app/controllers/api/part_9_building/checklists_controller.rb
  app/frontend/components/domains/step-code/nav-bar/part-9-nav-links.tsx
  app/frontend/components/domains/step-code/part-9/checklist/index.tsx
  app/frontend/components/domains/step-code/part-9/checklist/pdf-content/index.tsx
  app/frontend/components/shared/permit-applications/pdf-content/shared/footer/index.tsx
  app/frontend/models/part-9-step-code-checklist.ts
  app/frontend/models/part-9-step-code.ts
  app/frontend/services/api/index.ts
Due: prettier --write, eslint, stree --write

disable jurisdiction selector when sandbox enabled
  app/frontend/components/domains/navigation/regional-rm-jurisdiction-select.tsx
  app/frontend/components/shared/conditional-tooltip.tsx
  app/frontend/components/shared/permit-projects/add-permits-button.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

add trnaslations
  app/frontend/components/domains/requirements-library/multiply-sum-grid-preview.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

fix jurisdiction pagination
  app/frontend/stores/jurisdiction-store.ts
Due: prettier --write, eslint

update requirement input types and requirement block policy scoping
  app/controllers/api/concerns/search/requirement_blocks.rb
  app/controllers/api/requirement_blocks_controller.rb
  app/policies/requirement_block_policy.rb
  spec/controllers/requirement_blocks_controller_spec.rb
Due: stree --write

add architectural requirement
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
  app/frontend/constants/index.ts
  app/frontend/i18n/i18n.ts
  app/frontend/types/api-request.ts
  app/frontend/types/enums.ts
  app/models/requirement.rb
  config/locales/en.yml
  spec/models/requirement_spec.rb
Due: prettier --write, eslint, stree --write

add multiply sum grid with editble columns
  app/controllers/api/requirement_blocks_controller.rb
  app/frontend/components/domains/requirement-template/screens/edit-jurisdiction-api-mapping-screen/grid-accordion.tsx
  app/frontend/components/domains/requirements-library/fields-setup-drawer.tsx
  app/frontend/components/domains/requirements-library/multiply-sum-grid-preview.tsx
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/index.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/components/shared/editable-input-with-controls.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/enums.ts
  app/models/requirement.rb
  app/services/requirement_form_json_service.rb
Due: prettier --write, eslint, stree --write

Re-create old step code package logic
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/edit-jurisdiction-api-mapping-screen/grid-accordion.tsx
  app/frontend/components/domains/requirements-library/fields-setup-drawer.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/generic-field-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/index.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/editable-group.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/field-controls-header.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/components/shared/requirement-type-tag.tsx
  app/frontend/constants/index.ts
  app/frontend/models/requirement-block.ts
  app/frontend/utils/utility-functions.ts
  app/models/concerns/step_code_field_extraction.rb
  app/models/requirement.rb
  app/models/requirement_template.rb
  config/locales/en.yml
  spec/models/part_9_step_code_spec.rb
Due: prettier --write, eslint, stree --write

disable add permits button for other sandbox jurisdiciton
  app/blueprints/sandbox_blueprint.rb
  app/frontend/components/domains/permit-project/overview-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/permits-tab-panel-content.tsx
  app/frontend/components/shared/permit-projects/add-permits-button.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-project.ts
  app/frontend/models/sandbox.ts
Due: prettier --write, eslint, stree --write

add enabledd flag for classification index and remove hardcoded strings
  app/controllers/api/permit_classifications_controller.rb
  app/frontend/components/domains/home/review-manager/configuration-management-screen/submissions-inbox-setup-screen/editable-block.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/submissions-inbox-setup-screen/form.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/submissions-inbox-setup-screen/index.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/permit-classifications-screen.tsx
  app/frontend/hooks/resources/use-permit-classifications-load.ts
  app/frontend/i18n/i18n.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/permit-classification-store.ts
Due: prettier --write, eslint, stree --write

Fixed the conflict
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/results-form.tsx
Due: prettier --write, eslint

WIP single zone cooling/heating PDF generation tool
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/input-summary-form.tsx
Due: prettier --write, eslint

WIP integration of sidebar view similar to step codes
  app/controllers/api/pdf_forms_controller.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/permit-project/index.tsx
  app/frontend/components/domains/project-readiness-tools/index.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/grid-header.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/overheating-tab-panel-content.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/pdf-form-grid-row.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/single-zone-cooling-heating-tool-list-screen.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/single-zone-cooling-heating-tool-screen.tsx
  app/frontend/components/domains/single-zone-cooling-heating-tool/single-zone-cooling-heating-tool-start-screen.tsx
  app/frontend/components/domains/step-code/part-3/index.tsx
  app/frontend/components/shared/filters/checkbox-filter.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/pdf-form-store.ts
  app/frontend/types/enums.ts
  app/policies/pdf_form_policy.rb
  config/routes.rb
Due: prettier --write, eslint, stree --write

modify snapshot before isloaded apply to prevent revert
  app/frontend/components/domains/step-code/part-9/checklist/index.tsx
  app/frontend/models/part-9-step-code-checklist.ts
  app/frontend/stores/site-configuration-store.ts
Due: prettier --write, eslint

address github codescanning finds
  app/frontend/utils/sanitize-quill-content.ts
Due: prettier --write, eslint

add p3 heating degrees form
  app/blueprints/jurisdiction_blueprint.rb
  app/controllers/api/jurisdictions_controller.rb
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/index.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/part-3-heating-degree-days-form.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/jurisdiction.ts
  app/models/part_3_step_code/checklist.rb
  app/models/step_code.rb
Due: prettier --write, eslint, stree --write

touch up editor sanitize
  app/frontend/components/shared/editor/custom-extensions/editor-with-preview.tsx
Due: prettier --write, eslint
