Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

Limit ZIP attachment lookup to file fields
  app/services/supporting_documents_zipper.rb
  spec/services/supporting_documents_zipper_spec.rb
Due: stree --write

Improve PDF question and answer presentation
  app/frontend/components/print/README.md
  app/frontend/components/print/components/report-field.tsx
  app/frontend/components/print/form/field-renderers.tsx
  app/frontend/components/print/form/field-values.ts
  app/frontend/components/print/styles/print.css
  spec/services/print_reports_renderer_spec.rb
Due: prettier --write, eslint, stree --write

Various accuracy fixes to the step code print reports
  app/frontend/components/print/__tests__/fixtures/part9-populated.json
  app/frontend/components/print/report-content.tsx
  app/frontend/components/print/step-code/part-9/sections/building-characteristics-summary/dynamic-characteristics-grid/ventilation.tsx
  app/frontend/components/print/step-code/part-9/sections/energy-performance-compliance/index.tsx
  app/frontend/components/print/step-code/part-9/sections/energy-step-compliance/compliance-grid/airtightness.tsx
  app/frontend/components/print/step-code/part-9/sections/zero-carbon-step-compliance/compliance-grid/prescriptive.tsx
  app/frontend/utils/__tests__/round-metric.test.mjs
  app/frontend/utils/utility-functions.ts
  spec/services/print_reports_renderer_spec.rb
Due: prettier --write, eslint, stree --write

Helm deploy scripts for Gotenberg
  .github/workflows/helms-deploy.yml
  devops/README.md
  devops/helm-charts/gotenberg/Chart.yaml
  devops/helm-charts/gotenberg/templates/deployment.yaml
  devops/helm-charts/gotenberg/templates/service.yaml
  devops/helm-charts/gotenberg/values-dev.yaml
  devops/helm-charts/gotenberg/values-prod.yaml
  devops/helm-charts/gotenberg/values-test.yaml
  devops/helm-charts/gotenberg/values.yaml
Due: none

Fix S3 report validation and recovery ZIP retries
  app/frontend/components/print/README.md
  app/services/print_reports/recovery.rb
  app/services/print_reports/stored_file.rb
  spec/services/print_reports_recovery_spec.rb
  spec/services/print_reports_stored_file_spec.rb
Due: stree --write

HUB-5654 Block archive while a template version is published
  app/controllers/api/requirement_templates_controller.rb
  app/errors/template_version_archive_error.rb
  app/frontend/components/domains/requirement-template/requirement-template-actions.tsx
  app/frontend/i18n/i18n.ts
  app/policies/template_version_policy.rb
  app/services/template_versioning_service.rb
  config/locales/en.yml
  spec/policies/template_version_policy_spec.rb
  spec/services/template_versioning_service_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5654 Preload jurisdictions and tags on template search
  app/blueprints/requirement_template_blueprint.rb
  app/controllers/api/concerns/search/requirement_blocks.rb
  app/frontend/components/domains/requirement-template/requirement-template-actions.tsx
  app/frontend/i18n/i18n.ts
  app/models/requirement_question.rb
  app/models/requirement_template.rb
Due: prettier --write, eslint, stree --write

Add permit project search to v2 api
  app/controllers/external_api/concerns/search/permit_projects.rb
  app/controllers/external_api/v2/permit_projects_controller.rb
  app/policies/external_api/permit_project_policy.rb
  app/postman_collections/integration-api-v2.postman_collection.json
  config/routes.rb
  spec/policies/external_api/permit_project_policy_spec.rb
  spec/requests/external_api/v2/permit_projects_controller_spec.rb
  spec/requests/external_api/v2/permit_projects_spec.rb
  swagger/external_api/v2/swagger.yaml
Due: stree --write

HUB-5670 Default searches to Kaminari's page size
  app/controllers/api/concerns/search/admin_users.rb
  app/controllers/api/concerns/search/collaborators.rb
  app/controllers/api/concerns/search/jurisdiction_permit_applications.rb
  app/controllers/api/concerns/search/jurisdiction_permit_projects.rb
  app/controllers/api/concerns/search/jurisdiction_project_meetings.rb
  app/controllers/api/concerns/search/jurisdiction_users.rb
  app/controllers/api/concerns/search/jurisdictions.rb
  app/controllers/api/concerns/search/overheating_codes.rb
  app/controllers/api/concerns/search/permit_projects.rb
  app/controllers/api/concerns/search/pre_checks.rb
  app/controllers/api/concerns/search/project_meetings.rb
  app/controllers/api/concerns/search/project_permit_applications.rb
  app/controllers/api/concerns/search/requirement_blocks.rb
  app/controllers/api/concerns/search/requirement_questions.rb
  app/controllers/api/concerns/search/requirement_templates.rb
  app/controllers/api/concerns/search/step_codes.rb
  app/controllers/external_api/concerns/search/permit_applications.rb
  app/controllers/external_api/concerns/search/permit_projects.rb
  app/frontend/components/shared/base/callout-banner.tsx
  spec/requests/external_api/v2/permit_applications_controller_spec.rb
  spec/requests/external_api/v2/permit_projects_controller_spec.rb
  swagger/external_api/v2/swagger.yaml
Due: prettier --write, eslint, stree --write

HUB-5561 format template nicknames helper
  app/frontend/utils/matomo.ts
Due: prettier --write, eslint

HUB-5561 add tracking for Matomo events in permit application and project screens
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-project/add-permit-application-screen.tsx
  app/frontend/components/domains/permit-project/new-permit-project-screen.tsx
  app/frontend/models/permit-application.ts
Due: prettier --write, eslint

HUB-5561 avoid circular import of auth providers
  app/frontend/utils/matomo.ts
Due: prettier --write, eslint

Shorten unavailable PDF messages and add help tooltips
  app/frontend/components/domains/permit-application/submission-download-modal.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

lates clam av changes added
  devops/helm-charts/clamav/MULTI_POD_SETUP.md
  devops/helm-charts/clamav/templates/cronjob.yaml
  devops/helm-charts/clamav/templates/deployment.yaml
  devops/helm-charts/clamav/templates/pvc.yaml
  devops/helm-charts/clamav/templates/service.yaml
  devops/helm-charts/clamav/values-dev.yaml
  devops/helm-charts/clamav/values-test.yaml
  devops/helm-charts/clamav/values.yaml
  devops/helm-charts/matomo-openshift-chart/values.yaml
Due: none

add db back uo and restore for matomo
  devops/helm-charts/matomo-openshift-chart/BACKUP-AND-RESTORE-GUIDE.md
  devops/helm-charts/matomo-openshift-chart/FIXES-AND-DEPLOYMENT-GUIDE.md
  devops/helm-charts/matomo-openshift-chart/OPENSHIFT-INSTALL.md
  devops/helm-charts/matomo-openshift-chart/README.md
  devops/helm-charts/matomo-openshift-chart/UPGRADE-AND-RESTORE-GUIDE.md
  devops/helm-charts/matomo-openshift-chart/templates/NOTES.txt
  devops/helm-charts/matomo-openshift-chart/templates/_helpers.tpl
  devops/helm-charts/matomo-openshift-chart/templates/backup-cronjob.yaml
  devops/helm-charts/matomo-openshift-chart/templates/backup-pvc.yaml
  devops/helm-charts/matomo-openshift-chart/templates/backup-s3-secret.yaml
  devops/helm-charts/matomo-openshift-chart/templates/configmap-nginx-matomo-dashboard.yaml
  devops/helm-charts/matomo-openshift-chart/templates/configmap-nginx-matomo-tracker.yaml
  devops/helm-charts/matomo-openshift-chart/templates/cronjob-matomo-scheduled-tasks.yaml
  devops/helm-charts/matomo-openshift-chart/templates/db-mariadb.yaml
  devops/helm-charts/matomo-openshift-chart/templates/matomo-admin-secret.yaml
  devops/helm-charts/matomo-openshift-chart/templates/networkpolicy.yaml
  devops/helm-charts/matomo-openshift-chart/templates/post-install-job.yaml
  devops/helm-charts/matomo-openshift-chart/templates/pre-upgrade-job.yaml
  devops/helm-charts/matomo-openshift-chart/templates/restore-job.yaml
  devops/helm-charts/matomo-openshift-chart/values-openshift-bb18ab-dev.yaml
  devops/helm-charts/matomo-openshift-chart/values-openshift-bb18ab-tools.yaml
  devops/helm-charts/matomo-openshift-chart/values-openshift.yaml
  devops/helm-charts/matomo-openshift-chart/values.yaml
Due: none

Show the nav bar when revision confirm scrolls to the top
  app/frontend/hooks/scroll-peek-state.check.ts
  app/frontend/hooks/scroll-peek-state.ts
  app/frontend/hooks/use-scroll-aware-nav-bar.ts
  app/frontend/utils/utility-functions.ts
Due: prettier --write, eslint

Fixes and suggestions for various helm charts
  devops/helm-charts/clamav/templates/cronjob.yaml
  devops/helm-charts/crunchydb-backup-cron/templates/cronjob.yaml
  devops/helm-charts/crunchydb-backup-cron/values-prod.yaml
  devops/helm-charts/matomo-openshift-chart/templates/_helpers.tpl
  devops/helm-charts/matomo-openshift-chart/templates/backup-cronjob.yaml
  devops/helm-charts/matomo-openshift-chart/templates/configmap-matomo.yaml
Due: none

Add V2 document revision requests with reference file uploads
  app/blueprints/submission_version_blueprint.rb
  app/controllers/external_api/v2/files_controller.rb
  app/policies/external_api/file_policy.rb
  app/postman_collections/integration-api-v2.postman_collection.json
  app/services/external_api/apply_revision_requests.rb
  config/routes.rb
  spec/requests/external_api/v2/files_controller_spec.rb
  spec/requests/external_api/v2/files_spec.rb
  spec/requests/external_api/v2/permit_applications_controller_spec.rb
  spec/requests/external_api/v2/permit_applications_spec.rb
  spec/services/external_api/apply_revision_requests_spec.rb
  spec/swagger_helper.rb
  swagger/external_api/v2/swagger.yaml
Due: stree --write

make changes to clam av cpu
  devops/helm-charts/clamav/values-test.yaml
  devops/helm-charts/clamav/values.yaml
Due: none

Resolve created drafts from requirement template ids
  app/blueprints/permit_application_blueprint.rb
  app/controllers/external_api/application_controller.rb
  app/controllers/external_api/permit_applications_controller.rb
  app/controllers/external_api/v2/permit_projects_controller.rb
  app/controllers/external_api/v2/project_meetings_controller.rb
  app/policies/external_api/permit_project_policy.rb
  app/policies/permit_project_policy.rb
  app/postman_collections/integration-api-v2.postman_collection.json
  config/routes.rb
  spec/policies/external_api/permit_project_policy_spec.rb
  spec/policies/permit_project_policy_spec.rb
  spec/requests/external_api/v2/permit_projects_controller_spec.rb
  spec/requests/external_api/v2/permit_projects_spec.rb
  spec/swagger_helper.rb
  swagger/external_api/v2/swagger.yaml
Due: stree --write

List published requirement templates for draft create
  app/blueprints/external_api/requirement_template_blueprint.rb
  app/blueprints/permit_application_blueprint.rb
  app/controllers/external_api/v2/requirement_templates_controller.rb
  app/policies/external_api/requirement_template_policy.rb
  app/postman_collections/integration-api-v2.postman_collection.json
  config/routes.rb
  spec/requests/external_api/v2/permit_projects_controller_spec.rb
  spec/requests/external_api/v2/requirement_templates_controller_spec.rb
  spec/requests/external_api/v2/requirement_templates_spec.rb
  spec/swagger_helper.rb
  swagger/external_api/v2/swagger.yaml
Due: stree --write

HUB-5649 Show new V2 partner writes in the project activity log
  app/policies/external_api/permit_application_policy.rb
  app/presenters/project_audit_formatters/base_formatter.rb
  app/presenters/project_audit_formatters/permit_application_formatter.rb
  spec/policies/external_api/permit_application_policy_spec.rb
  spec/presenters/project_audit_formatters/base_formatter_spec.rb
  spec/presenters/project_audit_formatters/permit_application_formatter_spec.rb
  spec/requests/external_api/v2/permit_applications_controller_spec.rb
Due: stree --write

Initial upgrade to Node 24
  .github/workflows/pull-request.yml
  .nvmrc
  README.md
  devops/docker/app/Dockerfile
  devops/docker/app/Dockerfile.dev
  package-lock.json
  package.json
  tsconfig.json
Due: none

Upgrade application to use Ruby 4.0
  .github/workflows/pull-request.yml
  .rubocop.yml
  .ruby-version
  Gemfile
  Gemfile.lock
  README.md
  devops/docker/app/Dockerfile
  devops/docker/app/Dockerfile.dev
  docs/ruby-4-upgrade.md
Due: none

limit permissions for modification of application files in Dockerfile while keeping Openshift support
  devops/docker/app/Dockerfile
Due: none

HUB-5552 Energy step code checklist: 'Save & exit' returns to permit app instead of ESC list
  app/frontend/components/domains/permit-project/step-codes-grid-row.tsx
  app/frontend/components/domains/step-code/part-3/index.tsx
  app/frontend/components/domains/step-code/part-3/use-part-3-navigation.ts
  app/frontend/components/domains/step-code/part-9/index.tsx
  app/frontend/components/domains/step-code/part-9/use-part-9-navigation.ts
  app/frontend/components/domains/step-code/use-redirect-attached-step-code.ts
  app/frontend/components/shared/permit-applications/requirement-form/hooks/use-requirement-form-events.ts
  app/frontend/models/part-9-step-code.ts
  app/frontend/models/step-code-base.ts
  app/frontend/stores/root-store.ts
  app/frontend/stores/step-code-store.ts
  app/models/step_code.rb
Due: prettier --write, eslint, stree --write

HUB-5553 Energy step code information page: Fix radio button padding & center align status column values
  app/frontend/components/domains/step-code/project-information.tsx
Due: prettier --write, eslint

Fix Step Code PDF placeholders and table wrapping
  app/frontend/components/print/components/report-cover.tsx
  app/frontend/components/print/components/report-translation.ts
  app/frontend/components/print/components/step-code-layout.tsx
  app/frontend/components/print/form/field-values.ts
  app/frontend/components/print/report-content.tsx
  app/frontend/components/print/step-code/part-3/sections/mixed-use-summary/table-values.ts
  app/frontend/components/print/step-code/part-3/sections/step-code-performance-summary/index.tsx
  app/frontend/components/print/step-code/part-9/report.tsx
  app/frontend/components/print/step-code/part-9/sections/building-characteristics-summary/dynamic-characteristics-grid/fossil-fuels.tsx
  app/frontend/components/print/step-code/part-9/sections/building-characteristics-summary/dynamic-characteristics-grid/other.tsx
  app/frontend/components/print/step-code/part-9/sections/building-characteristics-summary/static-characteristics-grid/index.tsx
  app/frontend/components/print/step-code/part-9/sections/completed-by/index.tsx
  app/frontend/components/print/step-code/part-9/sections/energy-performance-compliance/index.tsx
  app/frontend/components/print/styles/print.css
  spec/services/print_reports_renderer_spec.rb
Due: prettier --write, eslint, stree --write

Restore application identity on PDF covers
  app/frontend/components/print/README.md
  app/frontend/components/print/components/report-cover.tsx
  app/frontend/components/print/permit-application/report-data.ts
  app/frontend/components/print/styles/print.css
  app/services/print_reports/data.rb
  spec/services/print_reports_data_spec.rb
  spec/services/print_reports_renderer_spec.rb
Due: prettier --write, eslint, stree --write
