Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

Fix issue showing infinite spinner
  app/frontend/models/permit-application.ts
Due: prettier --write, eslint

Fix build error
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/sections-display.tsx
Due: prettier --write, eslint

fix autofill state overwrite
  app/frontend/components/shared/contact/contact-modal.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/models/permit-application.ts
  app/frontend/utils/utility-functions.ts
Due: prettier --write, eslint

Send permit update emails to the submission email
  app/jobs/remind_reviewer_job.rb
  app/mailers/permit_hub_mailer.rb
  app/models/permit_application.rb
  app/views/permit_hub_mailer/notify_reviewer_application_received.html.erb
  app/views/permit_hub_mailer/remind_reviewer.html.erb
Due: stree --write

Add required * for requirement block modal required fields
  app/frontend/components/domains/requirements-library/requirements-block-modal/block-setup.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
Due: prettier --write, eslint

Fix issue displaying submitter name on PDF
  app/frontend/components/shared/permit-applications/pdf-content/cover/index.tsx
  app/frontend/components/shared/permit-applications/pdf-content/shared/footer/index.tsx
Due: prettier --write, eslint

Add review manager flow for retrieving and reviewing template changes
  .env.example
  app/blueprints/compare_requirements_blueprint.rb
  app/blueprints/notification_blueprint.rb
  app/controllers/api/template_versions_controller.rb
  app/frontend/components/domains/home/notifications/notifications-popover.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/permit-application/compare-requirements-box.tsx
  app/frontend/components/domains/permit-application/errors-box.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/index.tsx
  app/frontend/components/domains/requirement-template/sections-display.tsx
  app/frontend/components/domains/requirement-template/sections-sidebar.tsx
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/components/shared/base/custom-message-box.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/components/shared/permit-applications/scroll-link.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement.ts
  app/frontend/models/template-version.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/root-store.ts
  app/frontend/types/api-responses.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/requirement_template.rb
  app/models/template_section_block.rb
  app/models/template_version.rb
  app/policies/template_version_policy.rb
  app/services/notification_service.rb
  app/services/template_versioning_service.rb
  config/initializers/load_settings.rb
  config/initializers/simple_feed.rb
  config/locales/en.yml
  config/routes.rb
  config/settings.yml
Due: prettier --write, eslint, stree --write

Remove login button icons
  app/frontend/components/domains/authentication/login-screen.tsx
  app/frontend/components/domains/users/accept-invitation-screen.tsx
Due: prettier --write, eslint

Fix issue adding step code as non-submitter
  app/policies/step_code_policy.rb
Due: stree --write

Remove submitter-specific policy logic
  app/policies/contact_policy.rb
  app/policies/supporting_document_policy.rb
Due: stree --write

Fix issue opening step code as non-submitter
  app/frontend/components/domains/navigation/index.tsx
Due: prettier --write, eslint

Change the MenuItem inside NavLink to be rendered as anchor links instead of button
  app/frontend/components/domains/navigation/nav-bar.tsx
Due: prettier --write, eslint

Show BCeID account type on profile
  app/blueprints/user_blueprint.rb
  app/frontend/components/domains/users/profile-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/user.ts
  app/frontend/types/enums.ts
  app/services/omniauth_user_resolver.rb
Due: prettier --write, eslint, stree --write

refactor websocket event constants
  app/blueprints/notification_blueprint.rb
  app/frontend/components/domains/home/notifications/notifications-popover.tsx
  app/frontend/stores/notification-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/jobs/automated_compliance/autopopulate_job.rb
  app/jobs/automated_compliance/digital_seal_validator_job.rb
  app/models/template_version.rb
  app/services/constants/notification_action_types.rb
  app/services/constants/socket_types.rb
  app/services/notification_service.rb
Due: prettier --write, eslint, stree --write

Fix typo
  app/services/omniauth_user_resolver.rb
Due: stree --write

Fix issue clearing email on save
  app/controllers/api/users_controller.rb
Due: stree --write

Add liveness and readiness probe and turn off force SSL so that we can have the liveness probes working properly
  app/controllers/api/omniauth_callbacks_controller.rb
  config/environments/production.rb
  config/initializers/devise.rb
  devops/helm-charts/app/templates/deployment.yaml
Due: stree --write

update liveness / readiness probe numbers
  devops/helm-charts/app/templates/deployment.yaml
Due: none

add help drawer content and manage screen
  app/blueprints/help_link_items_blueprint.rb
  app/blueprints/link_item_blueprint.rb
  app/blueprints/site_configuration_blueprint.rb
  app/controllers/api/site_configuration_controller.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/help-drawer-setup-screen.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/index.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/sitewide-message-screen.tsx
  app/frontend/components/shared/form/input-form-control.tsx
  app/frontend/components/shared/help-drawer.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/site-configuration-store.ts
  app/frontend/types/types.ts
  app/models/site_configuration.rb
  app/policies/site_configuration_policy.rb
  config/locales/en.yml
  db/migrate/20240514185421_add_help_link_items_to_site_configurations.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

add i18n changes for publish and go to app
  app/frontend/components/domains/landing/index.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/publish-schedule-modal.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Adds frontend ENV vars for logout redirect to kill siteminder and keycloak sessions - does this after sessionStore#logout
  .github/workflows/dev.yml
  .github/workflows/prod.yml
  .github/workflows/test.yml
  app/frontend/stores/session-store.ts
  devops/docker/app/Dockerfile
Due: prettier --write, eslint

minor help drawer ui adjustments
  app/frontend/components/shared/help-drawer.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Add ENV vars to .env.example
  .env.example
Due: none

add reference number column
  app/frontend/components/domains/jurisdictions/submission-inbox/grid-header.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/enums.ts
Due: prettier --write, eslint

fix seeds
  db/seeds.rb
Due: stree --write

Update user to support multiple jurisdictions
  app/blueprints/user_blueprint.rb
  app/controllers/api/concerns/search/jurisdiction_users.rb
  app/controllers/api/external_api_keys_controller.rb
  app/controllers/api/invitations_controller.rb
  app/frontend/components/domains/users/invite-screen.tsx
  app/frontend/components/shared/base/inputs/user-input.tsx
  app/frontend/models/user.ts
  app/frontend/stores/user-store.ts
  app/models/jurisdiction.rb
  app/models/jurisdiction_membership.rb
  app/models/user.rb
  app/policies/external_api_key_policy.rb
  app/policies/jurisdiction_policy.rb
  app/policies/permit_application_policy.rb
  app/policies/supporting_document_policy.rb
  app/policies/template_version_policy.rb
  app/policies/user_policy.rb
  app/services/jurisdiction/user_inviter.rb
  app/services/omniauth_user_resolver.rb
  config/initializers/devise.rb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20240514165829_create_jurisdiction_memberships.rb
  db/schema.rb
  db/seeds.rb
  spec/factories/jurisdiction_memberships.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
  spec/policies/permit_application_policy_spec.rb
Due: prettier --write, eslint, stree --write

Allow admins to invite regional review managers
  app/controllers/api/concerns/search/jurisdiction_users.rb
  app/frontend/components/domains/home/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/enums.ts
  app/mailers/permit_hub_mailer.rb
  app/models/jurisdiction.rb
  app/policies/user_policy.rb
  app/services/jurisdiction/user_inviter.rb
  app/views/permit_hub_mailer/new_jurisdiction_membership.html.erb
Due: prettier --write, eslint, stree --write

PR ammendments for help drawer
  app/frontend/components/shared/form/input-form-control.tsx
  app/frontend/components/shared/help-drawer.tsx
  app/frontend/stores/site-configuration-store.ts
  app/models/site_configuration.rb
Due: prettier --write, eslint, stree --write

fix text input validation
  app/frontend/components/shared/form/input-form-control.tsx
Due: prettier --write, eslint

reindex permit application and required help link fields
  app/frontend/components/domains/super-admin/site-configuration-management/help-drawer-setup-screen.tsx
  db/migrate/20240516230948_reindex_permit_applications.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

[bphh-1406] Add api to retrieve compliance modules
  app/controllers/api/requirement_blocks_controller.rb
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
  app/frontend/hooks/resources/use-auto-compliance-module-options.ts
  app/frontend/i18n/i18n.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/requirement-block-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/frontend/utils/index.ts
  app/policies/requirement_block_policy.rb
  app/services/automated_compliance_options_service.rb
  config/routes.rb
Due: prettier --write, eslint, stree --write

[bphh-1406] Computed Compliance Setup Modal WIP
  app/frontend/components/domains/requirements-library/requirement-field-edit/computed-compliance-setup-modal.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/options-menu.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement-block.ts
  app/frontend/stores/requirement-block-store.ts
  app/frontend/types/api-request.ts
  app/frontend/types/types.ts
  app/services/automated_compliance_options_service.rb
Due: prettier --write, eslint, stree --write

[bphh-1406] Refactor and rename auto compliance module options to configurations
  app/controllers/api/requirement_blocks_controller.rb
  app/frontend/components/domains/requirements-library/requirement-field-edit/computed-compliance-setup-modal.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
  app/frontend/hooks/resources/use-auto-compliance-module-configurations.ts
  app/frontend/hooks/resources/use-auto-compliance-module-options.ts
  app/frontend/i18n/i18n.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/requirement-block-store.ts
  app/frontend/types/types.ts
  app/policies/requirement_block_policy.rb
  app/services/automated_compliance_configuration_service.rb
  config/routes.rb
Due: prettier --write, eslint, stree --write

[bphh-1406] Add functionality to merge default configuration settings for computed compliance and validate the configuration
  app/controllers/api/requirement_blocks_controller.rb
  app/frontend/components/domains/requirements-library/requirement-field-edit/computed-compliance-setup-modal.tsx
  app/models/requirement.rb
  app/services/automated_compliance_configuration_service.rb
Due: prettier --write, eslint, stree --write

[bphh-1406] Add automated compliance tag and icon
  app/frontend/components/domains/requirements-library/requirement-blocks-table.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/computed-compliance-setup-modal.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/field-controls-header.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/components/shared/has-automated-compliance-tag.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement-block.ts
  app/frontend/models/requirement.ts
Due: prettier --write, eslint

[bphh-1406] Memoize derived values for compliance configurations
  app/frontend/components/domains/requirements-library/requirement-field-edit/computed-compliance-setup-modal.tsx
Due: prettier --write, eslint

[bphh-1406] Finish up the field extraction select for Automated compliance setup modal, and onDone logic
  app/frontend/components/domains/requirements-library/fields-setup-drawer.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/computed-compliance-setup-modal.tsx
  app/frontend/constants.ts
  app/frontend/i18n/i18n.ts
  app/frontend/stores/requirement-block-store.ts
  app/frontend/types/types.ts
Due: prettier --write, eslint

[bphh-1406] Add options mapper UI
  app/frontend/components/domains/requirements-library/requirement-blocks-table.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/computed-compliance-setup-modal.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
  app/frontend/components/shared/grid/grid-header.tsx
  app/frontend/components/shared/grid/search-grid.tsx
  app/frontend/constants.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/frontend/utils/utility-functions.ts
  app/services/automated_compliance_configuration_service.rb
Due: prettier --write, eslint, stree --write

[bphh-1406] Refactor computed compliance configuration form logic to use controller onChange methods instead of setValue as fields are not revalidated
  app/frontend/components/domains/requirements-library/requirement-field-edit/computed-compliance-setup-modal.tsx
Due: prettier --write, eslint

[bphh-1406] Add options mapping pruning logic
  app/frontend/components/domains/requirements-library/requirement-field-edit/computed-compliance-setup-modal.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
Due: prettier --write, eslint
