Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

HUB-4202 don't provide full audit access to super admins
  app/policies/project_audit_policy.rb
  spec/policies/permit_project_policy_spec.rb
  spec/policies/project_audit_policy_spec.rb
Due: stree --write

add project state backend
  app/blueprints/permit_project_blueprint.rb
  app/controllers/api/permit_projects_controller.rb
  app/frontend/components/domains/jurisdictions/submission-inbox/filters/project-status-filter.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-inbox-table.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-kanban-board.tsx
  app/frontend/components/shared/permit-applications/permit-application-status-tag.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/models/permit-project.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/permit-application-store.ts
  app/frontend/stores/submission-inbox-store.ts
  app/frontend/types/enums.ts
  app/models/concerns/permit_application_status.rb
  app/models/concerns/permit_project_state.rb
  app/models/permit_application.rb
  app/models/permit_project.rb
  app/policies/permit_project_policy.rb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20250529182760_add_state_to_permit_projects.rb
  db/migrate/20260317000000_add_status_to_permit_projects.rb
  db/schema.rb
  db/seeds.rb
  spec/controllers/api/permit_projects_controller_spec.rb
  spec/models/concerns/permit_project_state_spec.rb
  spec/models/permit_application_spec.rb
Due: prettier --write, eslint, stree --write

add frontend UI for project kanban
  app/blueprints/permit_project_blueprint.rb
  app/controllers/api/concerns/search/jurisdiction_permit_projects.rb
  app/controllers/api/concerns/search/permit_projects.rb
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-kanban-board.tsx
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-project/permit-application-grid-row.tsx
  app/frontend/components/domains/super-admin/early-access/requirement-templates/early-access-requirement-template-screen.tsx
  app/frontend/components/shared/permit-applications/permit-application-card.tsx
  app/frontend/components/shared/permit-applications/permit-application-status-tag.tsx
  app/frontend/components/shared/permit-projects/permit-project-card.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-project.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/root-store.ts
  app/frontend/stores/submission-inbox-store.ts
  app/models/concerns/permit_project_state.rb
  spec/models/concerns/permit_project_state_spec.rb
  spec/models/permit_project_spec.rb
Due: prettier --write, eslint, stree --write

tentatively remove matomo script
  app/frontend/entrypoints/application.tsx
Due: prettier --write, eslint

remove current user organization from performed by default
  app/frontend/components/domains/overheating-code/form-section/calculations-performed-by.tsx
Due: prettier --write, eslint

HUB-4732 Jurisdictions - About page - Step codes requirements: Details for large buildings displayed
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4785 Overheating codes tool - Date fields for 'Accreditation reference'(s): Improve layout
  app/frontend/components/domains/overheating-code/form-section/calculations-performed-by.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4787 Overheating codes tool - PDF generation: Make file names more user friendly
  app/frontend/utils/utility-functions.ts
Due: prettier --write, eslint

touch up acredidation layout
  app/frontend/components/domains/overheating-code/form-section/calculations-performed-by.tsx
Due: prettier --write, eslint

add draft callback and proper draft filtering
  app/controllers/api/concerns/search/jurisdiction_permit_projects.rb
  app/controllers/api/concerns/search/permit_projects.rb
  app/models/permit_application.rb
Due: stree --write

fix sorted status popover
  app/frontend/components/domains/jurisdictions/submission-inbox/project-kanban-board.tsx
  app/frontend/components/shared/permit-applications/permit-application-status-tag.tsx
Due: prettier --write, eslint

add inbox specific rollup
  app/blueprints/permit_project_blueprint.rb
  app/frontend/components/domains/jurisdictions/submission-inbox/project-kanban-board.tsx
  app/frontend/models/permit-project.ts
  app/models/concerns/permit_application_status.rb
  app/models/concerns/permit_project_state.rb
  app/models/permit_project.rb
  spec/models/concerns/permit_project_state_spec.rb
  spec/models/permit_project_spec.rb
Due: prettier --write, eslint, stree --write

add more filters, transitions, draggable, specs, etc
  app/blueprints/permit_application_blueprint.rb
  app/blueprints/permit_project_blueprint.rb
  app/controllers/api/concerns/search/jurisdiction_permit_projects.rb
  app/controllers/api/permit_projects_controller.rb
  app/frontend/components/domains/jurisdictions/submission-inbox/application-inbox-table.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/application-kanban-board.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/filters/assigned-filter.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/filters/days-in-queue-filter.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/filters/index.ts
  app/frontend/components/domains/jurisdictions/submission-inbox/filters/meeting-requests-filter.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/filters/permit-type-filter.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/filters/project-status-filter.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/kanban-board.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/kanban-card.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-kanban-board.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/shared/filters/inbox-filter.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/models/permit-project.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/submission-inbox-store.ts
  app/frontend/types/types.ts
  app/models/concerns/permit_project_state.rb
  app/models/permit_project.rb
  app/policies/permit_project_policy.rb
  config/locales/en.yml
  config/routes.rb
  db/data/20260325210000_backfill_enqueued_at_on_permit_projects.rb
  db/data_schema.rb
  db/migrate/20260325200000_add_inbox_sort_order_to_projects_and_applications.rb
  db/migrate/20260325210000_add_enqueued_at_to_permit_projects.rb
  db/schema.rb
  db/seeds.rb
  spec/concerns/jurisdiction_permit_project_search_spec.rb
Due: prettier --write, eslint, stree --write

improve project kanban search/filtering and layout
  app/controllers/api/concerns/search/jurisdiction_permit_projects.rb
  app/frontend/components/domains/jurisdictions/submission-inbox/application-kanban-board.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/filters/project-status-filter.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/kanban-board.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/kanban-card.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-inbox-table.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-kanban-board.tsx
  app/frontend/hooks/use-popstate-mode-sync.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-project.ts
  app/frontend/stores/submission-inbox-store.ts
  app/frontend/types/types.ts
  app/frontend/utils/utility-functions.ts
  app/models/concerns/permit_project_state.rb
  spec/concerns/jurisdiction_permit_project_search_spec.rb
Due: prettier --write, eslint, stree --write

add recent activity
  app/blueprints/permit_project_blueprint.rb
  app/controllers/api/concerns/search/jurisdiction_permit_projects.rb
  app/controllers/api/permit_projects_controller.rb
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-overview-tab.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-project-detail-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-project.ts
  app/frontend/types/types.ts
  app/models/application_audit.rb
  app/models/concerns/audit_role_filter.rb
  app/models/permit_collaboration.rb
  app/models/permit_project.rb
  app/policies/project_audit_policy.rb
  app/presenters/project_audit_formatters/permit_application_formatter.rb
Due: prettier --write, eslint, stree --write

add permitapp kanban and list, plus seeds, validations, etc
  app/blueprints/permit_application_blueprint.rb
  app/controllers/api/concerns/search/jurisdiction_permit_applications.rb
  app/controllers/api/jurisdictions_controller.rb
  app/controllers/api/permit_applications_controller.rb
  app/frontend/components/domains/jurisdictions/submission-inbox/application-inbox-table.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/application-kanban-board.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/filters/status-filter.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-overview-tab.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/submission-inbox-store.ts
  app/models/concerns/permit_application_status.rb
  app/models/permit_application.rb
  app/policies/permit_application_policy.rb
  config/routes.rb
  db/data_schema.rb
  db/seeds.rb
  spec/models/concerns/permit_project_state_spec.rb
Due: prettier --write, eslint, stree --write

HUB-4769 add themed layout component
  app/frontend/components/domains/landing/index.tsx
  app/frontend/components/shared/base/highlighted-layout.tsx
Due: prettier --write, eslint

HUB-4769 add hero banner component
  app/frontend/components/shared/base/hero-banner.tsx
Due: prettier --write, eslint

HUB-4769 use hero banner in dashboard
  app/frontend/components/domains/landing/index.tsx
Due: prettier --write, eslint

HUB-4769 add translations
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4769 add hook for editor with preview functionality
  app/frontend/components/shared/editor/custom-extensions/use-editor-with-preview.ts
Due: prettier --write, eslint

HUB-4769 use editor with preview hook
  app/frontend/components/shared/editor/custom-extensions/editor-with-preview.tsx
Due: prettier --write, eslint

HUB-4769 add highlighted call to action component
  app/frontend/components/shared/cta/highlighted-cta-card.tsx
Due: prettier --write, eslint

HUB-4769 jurisdiction specific editor with preview component
  app/frontend/components/domains/jurisdictions/jurisdiction-editor-with-preview.tsx
Due: prettier --write, eslint

HUB-4769 new about page header
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
Due: prettier --write, eslint

HUB-4769 add hero banner description
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4769 add soft call to action component
  app/frontend/components/shared/cta/soft-cta-card.tsx
Due: prettier --write, eslint

HUB-4769 refactor to include grid structure and integrate cta components
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
Due: prettier --write, eslint

HUB-4769 add accordion translations for overview and key information
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4769 add jurisdiction accorion item
  app/frontend/components/domains/jurisdictions/jurisdiction-about-accordion-item.tsx
Due: prettier --write, eslint

HUB-4769 add jurisdiction about CTA cards component
  app/frontend/components/domains/jurisdictions/jurisdiction-about-cta-cards.tsx
Due: prettier --write, eslint

HUB-4769 refactor into accordion sections
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
Due: prettier --write, eslint

HUB-4769 replace ctas with jurisdiction about cta cards component
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
Due: prettier --write, eslint

improve permit application inbox layout and legacy code
  app/blueprints/permit_application_blueprint.rb
  app/controllers/api/concerns/search/jurisdiction_permit_applications.rb
  app/controllers/api/permit_applications_controller.rb
  app/controllers/api/permit_projects_controller.rb
  app/frontend/components/domains/jurisdictions/submission-inbox/application-kanban-board.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/kanban-card.tsx
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/components/shared/permit-applications/permit-application-card.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/utils/formio-component-traversal.ts
  app/models/concerns/permit_application_status.rb
  app/models/permit_application.rb
  app/policies/permit_application_policy.rb
  db/migrate/20260325210000_add_enqueued_at_to_permit_projects.rb
  db/schema.rb
  db/seeds.rb
  spec/concerns/permit_application_search_spec.rb
  spec/presenters/project_audit_formatters/permit_application_formatter_spec.rb
Due: prettier --write, eslint, stree --write

add management for permitapp level review delagatees
  app/blueprints/permit_application_blueprint.rb
  app/frontend/components/domains/jurisdictions/submission-inbox/application-kanban-board.tsx
  app/frontend/components/domains/permit-application/collaborator-management/collaborators-sidebar.tsx
  app/frontend/models/permit-application.ts
  config/locales/en.yml
  db/seeds.rb
Due: prettier --write, eslint, stree --write

add delagatee handling and UI fixes
  app/blueprints/permit_project_blueprint.rb
  app/controllers/api/concerns/search/jurisdiction_permit_applications.rb
  app/controllers/api/concerns/search/jurisdiction_permit_projects.rb
  app/controllers/api/jurisdictions_controller.rb
  app/controllers/api/permit_projects_controller.rb
  app/frontend/components/domains/jurisdictions/submission-inbox/application-inbox-table.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/application-kanban-board.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/filters/assigned-filter.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/filters/days-in-queue-filter.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/filters/permit-type-filter.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/filters/project-status-filter.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/filters/status-filter.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/kanban-board.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/kanban-card.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-collaborators-sidebar.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-inbox-table.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-kanban-board.tsx
  app/frontend/components/shared/filters/inbox-filter.tsx
  app/frontend/components/shared/user/shared-avatar.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/models/permit-project.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/collaborator-store.ts
  app/frontend/stores/permit-project-store.ts
  app/frontend/stores/submission-inbox-store.ts
  app/frontend/types/enums.ts
  app/models/concerns/permit_project_state.rb
  app/models/permit_application.rb
  app/models/permit_project.rb
  app/policies/permit_project_policy.rb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20260327120000_add_review_delegatee_to_permit_projects.rb
  db/schema.rb
  db/seeds.rb
  spec/policies/permit_application_policy_spec.rb
Due: prettier --write, eslint, stree --write

update mock permitaps in specs
  spec/models/concerns/permit_project_state_spec.rb
  spec/models/permit_project_spec.rb
Due: stree --write

update rails to 7.2.3.1
  Gemfile
  Gemfile.lock
Due: none

upgrade devise stack and vendor jwt-cookie dependency
  Gemfile
  Gemfile.lock
  config/application.rb
  lib/devise/jwt/cookie.rb
  lib/devise/jwt/cookie/configuration.rb
  lib/devise/jwt/cookie/cookie_helper.rb
  lib/devise/jwt/cookie/middleware.rb
  lib/devise/jwt/cookie/models/jwt_cookie_authenticatable.rb
  lib/devise/jwt/cookie/railtie.rb
  lib/devise/jwt/cookie/strategy.rb
Due: stree --write
