Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

Fix issue showing correct checklist
  app/frontend/stores/permit-application-store.ts
Due: prettier --write, eslint

build time env variable changes for GHA
  .github/workflows/dev.yml
  .github/workflows/prod.yml
  .github/workflows/test.yml
Due: none

reset pristine when files change
  app/frontend/components/shared/permit-applications/requirement-form.tsx
Due: prettier --write, eslint

Show correct application ID in PDF footer
  app/frontend/components/domains/step-code/checklist/pdf-content/footer/index.tsx
  app/frontend/components/domains/step-code/checklist/pdf-content/footer/styles.ts
  app/frontend/components/domains/step-code/checklist/pdf-content/index.tsx
  app/frontend/components/shared/permit-applications/pdf-content/shared/footer/index.tsx
Due: prettier --write, eslint

Remove VITE_BCGOV_HELP_IFRAME_URL for now since we would have to modify the build
  .github/workflows/dev.yml
  .github/workflows/prod.yml
  .github/workflows/test.yml
  app/frontend/components/shared/help-drawer.tsx
Due: prettier --write, eslint

Add Energy Advisor to contacts summary modal
  app/frontend/components/domains/permit-application/contact-summary-modal.tsx
Due: prettier --write, eslint

Fix issue navigating back from permit application
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
Due: prettier --write, eslint

[bphh-1119] Fix issue with translations not loading for ssr
  app/frontend/ssr/ssr.tsx
Due: prettier --write, eslint

add admin user search screen
  app/controllers/api/concerns/search/admin_users.rb
  app/controllers/api/jurisdictions_controller.rb
  app/controllers/api/requirement_templates_controller.rb
  app/controllers/api/users_controller.rb
  app/frontend/components/domains/jurisdictions/users/grid-header.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/index.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/sitewide-message-screen.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/users-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/jurisdiction.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/jurisdiction-store.ts
  app/frontend/stores/site-configuration-store.ts
  app/frontend/stores/user-store.ts
  app/frontend/types/api-responses.ts
  app/policies/user_policy.rb
  config/routes.rb
  spec/concerns/admin_users_search_spec.rb
  spec/concerns/permit_application_search_spec.rb
Due: prettier --write, eslint, stree --write

fix password regex
  app/frontend/components/shared/form/password-form-control.tsx
  app/models/user.rb
Due: prettier --write, eslint, stree --write

Add cover page for step code PDF
  app/frontend/components/domains/step-code/checklist/pdf-content/index.tsx
  app/frontend/components/domains/step-code/checklist/pdf-content/viewer.tsx
  app/frontend/components/shared/permit-applications/pdf-content/cover/index.tsx
  app/frontend/components/shared/permit-applications/pdf-content/index.tsx
  app/frontend/components/shared/permit-applications/pdf-content/shared/permit-application-context.ts
  app/frontend/components/shared/permit-applications/pdf-content/viewer.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

[bphh-1121] Fix lagging section text input in requirement builder
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/sections-display.tsx
Due: prettier --write, eslint

Put the font back on and check other areas on formio needs some ui cleanup
  app/frontend/components/domains/permit-application/errors-box.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/index.tsx
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/components/shared/editor/quill.css
  app/frontend/styles/global-theme-variables.scss
Due: prettier --write, eslint

Put the font back on and check other areas on formio needs some tweaks
  app/frontend/components/domains/permit-application/errors-box.tsx
  app/frontend/components/domains/requirements-library/requirement-field-display/index.tsx
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/components/shared/editor/quill.css
  app/frontend/styles/global-theme-variables.scss
Due: prettier --write, eslint

make useSearch reset currents and fix logout spinner
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/shared/base/not-found-screen.tsx
  app/frontend/hooks/use-search.ts
  app/frontend/stores/jurisdiction-store.ts
  app/frontend/stores/permit-application-store.ts
Due: prettier --write, eslint

delegate endpoint decision to store function for permit application search
  app/frontend/services/api/index.ts
  app/frontend/stores/permit-application-store.ts
Due: prettier --write, eslint

guard against unactivated users in permit hub mailer
  app/mailers/permit_hub_mailer.rb
Due: stree --write

[bphh-1137] Fix issue with multi select checkboxes not working for some options
  app/models/requirement.rb
  spec/models/requirement_spec.rb
Due: stree --write

update copies
  config/locales/en.yml
Due: none

transform pair data to combine single contact fields into blocks
  app/frontend/models/permit-application.ts
Due: prettier --write, eslint

copy changes, show password requirements, fix link
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/components/domains/users/profile-screen.tsx
  app/frontend/components/shared/form/password-checklist.tsx
  app/frontend/i18n/i18n.ts
  config/locales/en.yml
Due: prettier --write, eslint

Fix issue downloding checklist/application PDFs
  app/frontend/channels/user_channel.ts
  app/frontend/components/domains/step-code/checklist/pdf-content/index.tsx
  app/frontend/ssr/ssr.tsx
Due: prettier --write, eslint

Fix issue with date select on step code form
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/publish-schedule-modal.tsx
  app/frontend/components/shared/date-picker.tsx
Due: prettier --write, eslint

Add support for BC Sans font in PDFs
  app/frontend/components/domains/step-code/checklist/pdf-content/index.tsx
  app/frontend/components/shared/pdf/index.tsx
  app/frontend/components/shared/permit-applications/pdf-content/application/index.tsx
  app/frontend/components/shared/permit-applications/pdf-content/index.tsx
  package-lock.json
  package.json
  public/fonts/2023_01_01_BCSans-BoldItalic_2f.ttf
  public/fonts/2023_01_01_BCSans-Bold_2f.ttf
  public/fonts/2023_01_01_BCSans-Italic_2f.ttf
  public/fonts/2023_01_01_BCSans-LightItalic_2f.ttf
  public/fonts/2023_01_01_BCSans-Regular_2f.ttf
  public/fonts/2023_03_14_BCSans-Light_2g.ttf
Due: prettier --write, eslint

Fix issue overriding text on autosave
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/models/permit-application.ts
Due: prettier --write, eslint

[bphh-1113] Fix issue with all contacts not showing in contact modal of submitterd permit application
  app/frontend/models/permit-application.ts
  app/services/requirement_form_json_service.rb
Due: prettier --write, eslint, stree --write

fix copy and test message
  app/frontend/i18n/i18n.ts
  spec/concerns/admin_users_search_spec.rb
Due: prettier --write, eslint, stree --write

[bphh-1058] Add user roles explanation modal
  app/frontend/components/domains/users/invite-screen.tsx
  app/frontend/components/shared/user-roles-explanation-modal.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/utils/utility-functions.ts
Due: prettier --write, eslint

[bphh-1145] Fix jurisdiction search place holder
  app/frontend/components/shared/select/selectors/jurisdiction-select.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

render error on invalid invitation token user query
  app/controllers/api/invitations_controller.rb
Due: stree --write

fix Z index issue on landing selectors
  app/frontend/components/shared/select/selectors/address-select.tsx
  app/frontend/components/shared/select/selectors/jurisdiction-select.tsx
Due: prettier --write, eslint

Fix issue triggering validations on file upload
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
Due: prettier --write, eslint

[bphh-1047] Fix bug with auto compliance failure message not showing after auto compliance ran and no value was found
  app/frontend/components/shared/chefs/index.tsx
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/i18n/i18n.ts
  app/models/errors/parcel_error.rb
  app/models/supporting_document.rb
  app/services/automated_compliance/historic_site.rb
  app/services/automated_compliance/parcel_info_extractor.rb
  app/services/automated_compliance/permit_application.rb
Due: prettier --write, eslint, stree --write

Add multi logger to production to log to both STDOUT and file so we can use it for 90 day compliance
  config/environments/production.rb
  lib/multi_logger.rb
Due: stree --write

[bphh-1047] Fix bug with auto compliance failure message not showing after auto compliance ran and no value was found
  app/frontend/models/permit-application.ts
  app/frontend/stores/permit-application-store.ts
  app/frontend/types/types.ts
Due: prettier --write, eslint

change filename of log
  config/environments/production.rb
Due: stree --write

avoid filename collision by naming the log after the pod
  config/environments/production.rb
Due: stree --write

[bphh-1164] Fix bug with all electives showing on a requirement block of permit form when only some are enabled
  app/frontend/utils/formio-component-traversal.ts
  app/services/requirement_form_json_service.rb
Due: prettier --write, eslint, stree --write
