Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

hotfix for isValidUrl regex to check url patters
  app/frontend/components/shared/form/input-form-control.tsx
Due: prettier --write, eslint

Updated PR to remove www from the regex code
  app/frontend/components/shared/form/input-form-control.tsx
Due: prettier --write, eslint

Hotfix for RM Help link section to accept URL starting with www and http (#908)
  app/frontend/components/shared/form/input-form-control.tsx
Due: prettier --write, eslint

HUB-2690 updated PR review
  app/controllers/api/site_configuration_controller.rb
  app/frontend/components/domains/super-admin/site-configuration-management/global-feature-access.tsx
  app/models/jurisdiction.rb
Due: prettier --write, eslint, stree --write

Added a new line to post-checkout
  .husky/post-checkout
Due: none

Added new line for all husky related files
  .husky/post-commit
  .husky/post-merge
  .husky/pre-push
Due: none

HUB-1891 fixed the filters to show all application if no collaborator is selected
  app/controllers/api/concerns/search/permit_applications.rb
Due: stree --write

Add download buttons
  .rubocop.yml
  Gemfile.lock
  app/controllers/api/requirement_blocks_controller.rb
  app/controllers/api/storage_controller.rb
  app/controllers/uppy_controller.rb.deleteme
  app/frontend/components/domains/authentication/login-screen.tsx
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/block-setup.tsx
  app/frontend/components/shared/chefs/additional-formio/providers/storage/s3custom.js
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/components/shared/requirement-template/requirement-document-download-button.tsx
  app/frontend/hooks/use-uppy-s3.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement-block.ts
  app/frontend/styles/chakra-overrides.scss
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/frontend/utils/utility-functions.ts
  app/models/requirement_block.rb
  app/policies/requirement_document_policy.rb
  app/policies/supporting_document_policy.rb
  app/uploaders/file_uploader.rb
  config/initializers/shrine.rb
  config/locales/en.yml
  package-lock.json
  package.json
Due: prettier --write, eslint, stree --write

BPHH-2691 Integrated Global feature flag for review manager
  app/frontend/components/domains/home/review-manager/configuration-management-screen/global-feature-access/index.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/global-feature-access/submission-inbox.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/index.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

BPHH-2691 review changes updated
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-push
  app/frontend/components/domains/home/review-manager/configuration-management-screen/global-feature-access/index.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/global-feature-access/submission-inbox.tsx
  app/frontend/components/shared/buttons/switch-button.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Updated hover effect on the row instead of each column
  app/frontend/components/domains/home/review-manager/configuration-management-screen/global-feature-access/index.tsx
Due: prettier --write, eslint

BPHH-2691 removed the unwanted code
  app/frontend/components/domains/home/review-manager/configuration-management-screen/global-feature-access/index.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/index.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/submissions-inbox-setup-screen/editable-block.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/submissions-inbox-setup-screen/form.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/submissions-inbox-setup-screen/i18n-prefix.ts
  app/frontend/components/domains/home/review-manager/configuration-management-screen/submissions-inbox-setup-screen/index.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

PR review updates
  app/frontend/components/domains/home/review-manager/configuration-management-screen/global-feature-access/index.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/global-feature-access/submission-inbox.tsx
  app/frontend/components/domains/navigation/index.tsx
Due: prettier --write, eslint

HUB-2691 updated PR review
  app/frontend/components/domains/home/review-manager/configuration-management-screen/global-feature-access/index.tsx
Due: prettier --write, eslint

Bphh 2690 global feature flag management by super admin - PR updated
  app/frontend/components/domains/super-admin/site-configuration-management/global-feature-access.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/submission-inbox.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

BHPP-2690 - Updated PR with review changes
  app/controllers/api/site_configuration_controller.rb
  app/frontend/components/domains/super-admin/site-configuration-management/global-feature-access.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/submission-inbox.tsx
  app/frontend/components/shared/buttons/switch-button.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/flash-message.ts
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

BPHH-2690 Integration of submission inbox enable/disable for super admin end
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-push
  app/blueprints/site_configuration_blueprint.rb
  app/controllers/api/site_configuration_controller.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/global-feature-access.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/index.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/submission-inbox.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/stores/site-configuration-store.ts
  app/frontend/types/api-request.ts
  db/migrate/20250218213843_add_inbox_enabled_to_site_configurations.rb
Due: prettier --write, eslint, stree --write

Updated hover effect on the row instead of each column
  app/frontend/components/domains/super-admin/site-configuration-management/global-feature-access.tsx
Due: prettier --write, eslint

BPHH-2690 Restore git related files
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-push
Due: none

fix download links not showing when no description
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
Due: prettier --write, eslint

HUB-1043 appended http if there is no http added by the user
  app/frontend/components/shared/form/input-form-control.tsx
Due: prettier --write, eslint

fix sandbox switching UX and warnings
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-push
  Gemfile.lock
  app/frontend/components/domains/navigation/sandbox-menu-item.tsx
  app/frontend/components/shared/base/custom-message-box.tsx
  app/frontend/hooks/resources/use-permit-application.ts
  app/frontend/i18n/i18n.ts
  app/frontend/stores/permit-application-store.ts
  app/frontend/types/enums.ts
  app/models/permit_application.rb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

omniauth experiment
  Gemfile
  Gemfile.lock
  app/controllers/api/omniauth_callbacks_controller.rb
  app/controllers/api/sessions_controller.rb
  app/models/concerns/jwt_authenticatable.rb
  app/models/user.rb
  config/initializers/devise.rb
  config/initializers/omniauth_keycloak_fix.rb
Due: stree --write

frontend based logout
  app/controllers/api/omniauth_callbacks_controller.rb
  app/controllers/api/sessions_controller.rb
  app/frontend/stores/session-store.ts
  app/models/concerns/jwt_authenticatable_id_token_override.rb
  app/models/user.rb
Due: prettier --write, eslint, stree --write

Hub 1043 hyper link for each requirement block that is set when they do a tip- updated PR
  app/frontend/components/shared/form/input-form-control.tsx
Due: prettier --write, eslint

omniauth experiment
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-push
  Gemfile
  Gemfile.lock
  app/controllers/api/omniauth_callbacks_controller.rb
  app/controllers/api/sessions_controller.rb
  app/models/concerns/jwt_authenticatable.rb
  app/models/user.rb
  config/initializers/devise.rb
  config/initializers/omniauth_keycloak_fix.rb
Due: stree --write

remove misplaced filter in params and reindex pa on collab delete
  app/controllers/api/concerns/search/permit_applications.rb
  app/models/permit_collaboration.rb
Due: stree --write

fix pa search spec nil error
  app/controllers/api/concerns/search/permit_applications.rb
Due: stree --write

frontend based logout using id_token
  Gemfile
  Gemfile.lock
  app/controllers/api/omniauth_callbacks_controller.rb
  app/controllers/api/sessions_controller.rb
  app/frontend/stores/session-store.ts
  config/initializers/devise.rb
  config/initializers/omniauth_keycloak_fix.rb
Due: prettier --write, eslint, stree --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
