Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

use jemalloc but also turn on Ruby YJIT
  devops/docker/app/Dockerfile
Due: none

skip session storage for devise so it times out properly
  app/models/user.rb
Due: stree --write

add reindex callbacks for keeping jurisdiction size fields updated
  app/models/jurisdiction.rb
  app/models/jurisdiction_template_version_customization.rb
  app/models/permit_application.rb
  app/models/user.rb
Due: stree --write

remove is_zip migration
  db/migrate/20240229235448_add_is_zip_to_supporting_documents.rb
  db/schema.rb
Due: stree --write

attempt to set jurisdiction before fetch, enable maybe reference
  app/frontend/hooks/resources/use-jurisdiction.ts
  app/frontend/stores/jurisdiction-store.ts
Due: prettier --write, eslint

write permit application search more defensively
  app/controllers/api/concerns/search/permit_applications.rb
Due: stree --write

update away from vulnerable puma
  Gemfile
  Gemfile.lock
Due: none

update to patched vite
  package-lock.json
  package.json
Due: none

Updated the copy with changes requeseted on Fri Mar 8. (names, contact email, phrasing, reminder for reviewers to show a list of stagnant applications)
  app/views/mailer/01_welcome_email.html.erb
  app/views/mailer/02a_notify_reviewer_application_received_email.html.erb
  app/views/mailer/02b_notify_submitter_application_submitted_email.html.erb
  app/views/mailer/03_competion_of_assigned_checklist_email.html.erb
  app/views/mailer/04_notify_application_updated_email.html.erb
  app/views/mailer/05_notify_reviewer_assignment.html.erb
  app/views/mailer/07_reminder_submitter_pending_action.html.erb
  app/views/mailer/08_notify_updated_documenation_requirements.html.erb
  app/views/mailer/09_announce_maintenance_email.html.erb
  app/views/mailer/10_acknowledge_inquiry_email.html.erb
  app/views/mailer/11_onboarding_email.html.erb
  app/views/mailer/12_remind_submitter_email.html.erb
  app/views/mailer/13_remind_reviewer_email.html.erb
Due: none

Adjusting copy
  app/views/permit_hub_mailer/10_acknowledge_inquiry_email.html.erb
  app/views/permit_hub_mailer/12_remind_submitter_email.html.erb
Due: none

Including the pre-processed versions of the email templates its CSS and generic template html so we can create more email templates in the future.
  app/views/permit_hub_mailer/postdrop_io/_postdrop template css.txt
  app/views/permit_hub_mailer/postdrop_io/_postdrop template generic html.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/01 welcome.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/02a notify reviewer application recieved.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/02b notify submitter application submitted.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/03 completion of assigned checklist section.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/04 notify application updated.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/05 notify of assignment.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/07 reminder pending action.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/08 notify of updated documenation requirements.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/09 announcement system maintenance.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/10 acknowledge feedback inquiry.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/11 onboarding.txt.
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/12 reminder submitter - still in draft.txt
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/13 reminder reviewer - still not downloaded.txt
  app/views/permit_hub_mailer/postdrop_io/postdrop readme.md
Due: none

I missed this one
  app/views/permit_hub_mailer/04_notify_application_updated_email.html.erb
  app/views/permit_hub_mailer/postdrop_io/email content preprocess/04 notify application updated.txt
Due: none

rename completedSections to completedBlocks to fix misnomer
  app/frontend/components/domains/permit-application/checklist-sidebar.tsx
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/utils/formio-component-traversal.ts
Due: prettier --write, eslint

perform completed component check on change and check for nulls
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/utils/formio-component-traversal.ts
Due: prettier --write, eslint

Update README for running sockets and sidekiq
  README.md
Due: none

Add version of ES to values.yaml override
  devops/helm-charts/ha-elasticsearch/values.yaml
Due: none

Modify some log files for Consigno server in the Docker build so we can see the logs in the foreground instead of logging to csa.log
  devops/docker/consigno-verifio-notarius-server/Dockerfile
  devops/docker/consigno-verifio-notarius-server/log4j.xml
  devops/docker/consigno-verifio-notarius-server/logback.xml
Due: none

add checkbox confirmation requirement for optional blocks
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/utils/formio-component-traversal.ts
  app/models/requirement_block.rb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

fix spec
  app/models/requirement_block.rb
  spec/models/requirement_block_spec.rb
Due: stree --write

form restoration was broken due to a camelization mismatch on values on select boxes. This impacts all input option type items.
  app/models/requirement.rb
  spec/models/requirement_spec.rb
Due: stree --write

modify prod values to stay within quota
  devops/helm-charts/anycable-go/values-prod.yaml
  devops/helm-charts/consigno-verifio-notarius-server/values-prod.yaml
  devops/helm-charts/ha-elasticsearch/values-prod.yaml
  devops/helm-charts/ha-postgres-crunchydb/values-prod.yaml
  devops/helm-charts/ha-redis/values-prod.yaml
Due: none

Add Review Manager Configuration Management Screen
  app/frontend/components/domains/home/home-screen-box.tsx
  app/frontend/components/domains/home/index.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/index.tsx
  app/frontend/components/domains/home/review-manager/index.tsx
  app/frontend/components/domains/home/section-box.ts
  app/frontend/components/domains/jurisdictions/index.tsx
  app/frontend/components/domains/jurisdictions/jurisdiction-configuration-screen.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

disable a review manager from removing themself
  app/frontend/components/shared/user/mange-user-menu.tsx
Due: prettier --write, eslint

Add step code requirements management screen
  app/blueprints/jurisdiction_blueprint.rb
  app/controllers/api/jurisdictions_controller.rb
  app/frontend/components/domains/home/home-screen-box.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/energy-step-editable-block/energy-step-select.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/energy-step-editable-block/index.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/energy-step-editable-block/zero-carbon-step-select.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/i18n-prefix.ts
  app/frontend/components/domains/home/review-manager/configuration-management-screen/energy-step-requirements-screen/index.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/index.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/shared/editable-block.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/jurisdiction.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/step_code_checklist.rb
  db/migrate/20240308221409_add_default_steps_to_jurisdictions.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

update devops readme
  devops/README.md
Due: none

Remove README as this is documented in confluence
  devops/helm-charts/consigno-verifio-notarius-server/README.md
Due: none

add some sidebar and submit styles and copy change
  app/frontend/components/domains/permit-application/checklist-sidebar.tsx
  app/frontend/components/shared/chefs/styles.scss
  app/models/requirement.rb
  app/models/requirement_template.rb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

update color to use chakra variable
  app/frontend/components/shared/chefs/styles.scss
Due: none

Update README.md
  README.md
Due: none

remove sidekiq.yml files as configuration now happens on the initializer
  config/sidekiq_production.yml
  config/sidekiq_qa.yml
Due: none

Update readme
  README.md
Due: none

Add submission inbox setup screen
  app/blueprints/jurisdiction_blueprint.rb
  app/blueprints/permit_type_submission_contact_blueprint.rb
  app/controllers/api/jurisdictions_controller.rb
  app/controllers/api/permit_type_submission_contacts_controller.rb
  app/frontend/components/domains/authentication/email-confirmed-screen.tsx
  app/frontend/components/domains/home/home-screen-box.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/index.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/submissions-inbox-setup-screen/editable-block.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/submissions-inbox-setup-screen/form.tsx
  app/frontend/components/domains/home/review-manager/configuration-management-screen/submissions-inbox-setup-screen/i18n-prefix.ts
  app/frontend/components/domains/home/review-manager/configuration-management-screen/submissions-inbox-setup-screen/index.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/shared/form/email-form-control.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/jurisdiction.ts
  app/frontend/models/permit-classification.ts
  app/frontend/stores/permit-classification-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/mailers/application_mailer.rb
  app/mailers/permit_type_submission_contact_mailer.rb
  app/mailers/user_mailer.rb
  app/models/jurisdiction.rb
  app/models/permit_classification.rb
  app/models/permit_type_submission_contact.rb
  app/policies/permit_type_submission_contact_policy.rb
  app/views/permit_type_submission_contact_mailer/confirm_email.html.erb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20240308233210_make_permit_classifications_code_enum.rb
  db/migrate/20240311164616_create_permit_type_submission_contacts.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

Add link to setup from submission inbox
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

Update button styles
  app/frontend/components/domains/requirement-template/screens/jurisdiction-digital-permit-screen/digital-building-permits-list.tsx
  app/frontend/components/domains/requirement-template/template-versions-sidebar.tsx
  app/frontend/styles/theme/components/button.ts
  app/frontend/styles/theme/foundations/colors.ts
Due: prettier --write, eslint

adding elective field rendering
  app/frontend/utils/formio-component-traversal.ts
  app/models/requirement.rb
Due: prettier --write, eslint, stree --write

wip
  package-lock.json
  package.json
Due: none

Fix issue searching for new permit applications
  app/controllers/api/concerns/search/permit_applications.rb
  app/models/permit_application.rb
Due: stree --write

switch to use customConditionals and build it as false in all elective cases
  app/frontend/utils/formio-component-traversal.ts
  app/models/requirement.rb
  db/templates/Core Permit Requirements List.xlsx
  spec/models/requirement_spec.rb
Due: prettier --write, eslint, stree --write

rebase conflict fix on blueprint
  app/blueprints/permit_application_blueprint.rb
Due: stree --write

wip
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/hooks/use-permit-application-pdf-upload.ts
  app/frontend/lib/formio-export-interop.ts
  app/models/requirement_block.rb
  package-lock.json
  package.json
Due: prettier --write, eslint, stree --write
