Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

HUB-856 fixed the migration to rename the rollup_status field
  db/migrate/20260219204817_rename_rollup_status_to_status_in_overheating_tools.rb
Due: stree --write

Removed the rename rollup status migration as updated the status in the initial migration
  db/migrate/20260219204817_rename_rollup_status_to_status_in_overheating_tools.rb
Due: stree --write

HUB-4506 silence sonarqube
  config/initializers/sidekiq.rb
Due: stree --write

HUB-4506 provide explicit fallback
  config/initializers/sidekiq.rb
Due: stree --write

enhance invite email with extra info
  app/views/devise/mailer/invitation_instructions.html.erb
Due: none

HUB-856 overheating PR reviewed
  app/frontend/components/domains/overheating-tool/form-section/review-form.tsx
Due: prettier --write, eslint

touch up some role values and logic
  app/controllers/api/external_api_keys_controller.rb
  app/frontend/components/shared/user/role-tag.tsx
  app/policies/external_api_key_policy.rb
Due: prettier --write, eslint, stree --write

security enhancements
  app/controllers/api/invitations_controller.rb
  app/controllers/webhooks/archistar_controller.rb
  app/services/external_permit_application_service.rb
  app/services/jurisdiction/user_inviter.rb
  app/uploaders/file_uploader.rb
Due: stree --write

HUB-4421 add version info component
  app/frontend/components/domains/navigation/menu-content/menu-items/version-info-menu-item.tsx
Due: prettier --write, eslint

HUB-4421 add version info component to right column
  app/frontend/components/domains/navigation/nav-bar-menu.tsx
Due: prettier --write, eslint

remove reviewers from api key management
  app/controllers/api/external_api_keys_controller.rb
  app/policies/external_api_key_policy.rb
Due: stree --write

HUB-3614 add audited gem
  Gemfile
  Gemfile.lock
Due: none

add matomo script
  app/frontend/entrypoints/application.tsx
Due: prettier --write, eslint

vibed stubs for audited gem features
  Gemfile
  app/blueprints/project_activity_blueprint.rb
  app/controllers/api/project_activities_controller.rb
  app/frontend/components/domains/permit-project/activity-feed-item.tsx
  app/frontend/components/domains/permit-project/activity-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/overview-tab-panel-content.tsx
  app/frontend/components/domains/permit-project/permit-project-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/services/api/index.ts
  app/models/permit_application.rb
  app/models/permit_block_status.rb
  app/models/permit_collaboration.rb
  app/models/permit_project.rb
  app/presenters/project_activity_presenter.rb
  app/services/project_activity_service.rb
  config/initializers/audited.rb
  config/routes.rb
  db/migrate/20260224000000_add_audits_indexes_for_activity_feed.rb
Due: prettier --write, eslint, stree --write

HUB-3614 generate audits table
  db/migrate/20260223224336_install_audited.rb
  db/schema.rb
Due: stree --write

HUB-3614 enable auditing in permit project model
  app/models/permit_project.rb
Due: stree --write

HUB-4320 rspec for notifications and utilities
  spec/controllers/digital_seal_validator_controller_spec.rb
  spec/controllers/early_access_preview_controller_spec.rb
  spec/controllers/end_user_license_agreement_controller_spec.rb
  spec/controllers/geocoder_controller_spec.rb
  spec/controllers/integration_mappings_controller_spec.rb
  spec/controllers/jurisdictions_controller_spec.rb
  spec/controllers/notifications_controller_spec.rb
  spec/controllers/report_documents_controller_spec.rb
  spec/controllers/site_configuration_controller_spec.rb
  spec/controllers/tags_controller_spec.rb
Due: stree --write

add debug logging and timeouts to try to fix email hang
  lib/ches_email_delivery.rb
Due: stree --write

HUB-3614 add application audit model with search capabilities
  app/models/application_audit.rb
Due: stree --write

HUB-3614 specify audit class for audited
  config/initializers/audited.rb
Due: stree --write

suggestion for project scoped audit search
  app/controllers/api/concerns/search/project_audits.rb
  app/models/application_audit.rb
Due: stree --write

revert faraday to ~> 2.9.0
  Gemfile
  Gemfile.lock
Due: none

pin net http to older version
  Gemfile
  Gemfile.lock
Due: none

update lockfile for mailer fix
  Gemfile.lock
Due: none

revert mail investigation code
  Gemfile
  Gemfile.lock
  lib/ches_email_delivery.rb
Due: stree --write

Temporary branch: develop code with stable migrations for TEST email debugging
  db/migrate/20251209225133_add_boundary_points_to_jurisdictions.rb
  db/migrate/20251209235013_add_coordinates_to_permit_projects.rb
  db/migrate/20260113222602_add_discarded_at_to_permit_applications.rb
  db/migrate/20260126200000_add_snapshot_columns_to_public_records.rb
  db/migrate/20260128141002_create_jurisdiction_requirement_templates.rb
  db/migrate/20260129185814_add_disabled_to_jurisdiction_template_version_customization.rb
  db/migrate/20260130180440_add_cascade_delete_to_part_3_step_code_checklists.rb
  db/migrate/20260203163643_add_cascade_delete_to_part3_step_code_foreign_keys.rb
  db/migrate/20260205221726_create_overheating_tools_and_documents.rb
  db/migrate/20260212200000_add_parcel_geometry_to_permit_projects.rb
  db/schema.rb
Due: stree --write

HUB-4323 Rspec for automated compliance and integration services
  spec/services/automated_compliance/base_spec.rb
  spec/services/automated_compliance/permit_application_spec.rb
  spec/services/automated_compliance_configuration_service_spec.rb
  spec/services/wrappers/archistar_spec.rb
  spec/services/wrappers/base_spec.rb
  spec/services/wrappers/geocoder_spec.rb
  spec/services/wrappers/ltsa_parcel_map_bc_gis_spec.rb
  spec/services/wrappers/ltsa_parcel_map_bc_spec.rb
Due: stree --write

Build form for BC-SZCG
  Gemfile
  Gemfile.lock
  app/blueprints/overheating_code_blueprint.rb
  app/controllers/api/overheating_codes_controller.rb
  app/frontend/components/domains/overheating-code/form-section/attached-documents.tsx
  app/frontend/components/domains/overheating-code/form-section/building-components-and-assemblies.tsx
  app/frontend/components/domains/overheating-code/form-section/building-envelope.tsx
  app/frontend/components/domains/overheating-code/form-section/building-location.tsx
  app/frontend/components/domains/overheating-code/form-section/calculations-based-on.tsx
  app/frontend/components/domains/overheating-code/form-section/calculations-performed-by.tsx
  app/frontend/components/domains/overheating-code/form-section/clause-badge.tsx
  app/frontend/components/domains/overheating-code/form-section/compliance.tsx
  app/frontend/components/domains/overheating-code/form-section/cooling-design-conditions.tsx
  app/frontend/components/domains/overheating-code/form-section/cooling-zone-compliance.tsx
  app/frontend/components/domains/overheating-code/form-section/cooling.tsx
  app/frontend/components/domains/overheating-code/form-section/design-conditions.tsx
  app/frontend/components/domains/overheating-code/form-section/heating-design-conditions.tsx
  app/frontend/components/domains/overheating-code/form-section/heating.tsx
  app/frontend/components/domains/overheating-code/form-section/index.tsx
  app/frontend/components/domains/overheating-code/form-section/introduction.tsx
  app/frontend/components/domains/overheating-code/form-section/room-by-room.tsx
  app/frontend/components/domains/overheating-code/form-section/summary.tsx
  app/frontend/components/domains/overheating-code/sidebar/index.tsx
  app/frontend/components/domains/overheating-code/sidebar/nav-sections.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/overheating-code.ts
  app/frontend/stores/overheating-code-store.ts
  app/frontend/types/enums.ts
  app/frontend/utils/utility-functions.ts
  app/models/overheating_code.rb
  app/services/overheating_code_pdf_service.rb
  config/routes.rb
  data/BC-SZCG-FormSetFill-Ver1.0a.pdf
  db/migrate/20260224120000_create_overheating_codes.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

add search, archive, and touchups
  app/blueprints/jurisdiction_blueprint.rb
  app/blueprints/overheating_code_blueprint.rb
  app/controllers/api/concerns/search/overheating_codes.rb
  app/controllers/api/overheating_codes_controller.rb
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/overheating-code/form-section/calculations-performed-by.tsx
  app/frontend/components/domains/overheating-code/form-section/design-conditions.tsx
  app/frontend/components/domains/overheating-code/form-section/introduction.tsx
  app/frontend/components/domains/overheating-code/form-section/summary.tsx
  app/frontend/components/domains/overheating-code/grid-header.tsx
  app/frontend/components/domains/overheating-code/index.tsx
  app/frontend/components/domains/overheating-code/overheating-code-nav-bar.tsx
  app/frontend/components/domains/permit-project/overheating-code-tab-panel-content.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/jurisdiction.ts
  app/frontend/models/overheating-code.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/overheating-code-store.ts
  app/frontend/types/enums.ts
  app/models/overheating_code.rb
  app/policies/overheating_code_policy.rb
  app/services/overheating_code_pdf_service.rb
  config/locales/en.yml
  config/routes.rb
  db/data/20260225233837_add_weather_location_to_jurisdiction.rb
  db/data_schema.rb
  db/migrate/20260224119999_add_weather_location_to_jurisdictions.rb
  db/migrate/20260224120000_create_overheating_codes.rb
  db/schema.rb
  db/templates/BC-SZCG-FormSetFill-Ver1.0a.pdf
Due: prettier --write, eslint, stree --write

add specs
  app/policies/overheating_code_policy.rb
  spec/controllers/api/overheating_codes_controller_spec.rb
  spec/factories/overheating_codes.rb
  spec/models/overheating_code_spec.rb
  spec/policies/overheating_code_policy_spec.rb
  spec/services/overheating_code_pdf_service_spec.rb
  spec/spec_helper.rb
Due: stree --write

add default to nil for local only redis url
  config/initializers/sidekiq.rb
Due: stree --write

HUB-4658 Project overview page: Project info improvements
  app/frontend/components/shared/base/copy-link-button.tsx
Due: prettier --write, eslint

HUB-4660 RM/RRM - Training mode: User management is available on /home & unavailable on /configuration
  app/frontend/components/domains/home/review-manager/index.tsx
Due: prettier --write, eslint

HUB-4661 Account invitation emails: Add length of time the invite is valid
  app/views/devise/mailer/invitation_instructions.html.erb
Due: none

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
