Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

HUB-4674 avoid refetching permit application on step code assignment
  app/frontend/models/permit-application.ts
Due: prettier --write, eslint

HUB-4950 make date filtering in project audits to include full calendar days (#1654)
  app/controllers/api/concerns/search/project_audits.rb
  spec/requests/api/project_audits_spec.rb
Due: stree --write

HUB-4866 only navigate if user is on the current pre-check edit flow (#1652)
  app/frontend/components/domains/pre-check/form-section/confirm-submission.tsx
Due: prettier --write, eslint

HUB-4769 add translations
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4769 add hero banner description
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4769 new about page header
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
Due: prettier --write, eslint

HUB-4769 use hero banner in dashboard
  app/frontend/components/domains/landing/index.tsx
Due: prettier --write, eslint

HUB-4769 jurisdiction specific editor with preview component
  app/frontend/components/domains/jurisdictions/jurisdiction-editor-with-preview.tsx
Due: prettier --write, eslint

HUB-4769 add soft call to action component
  app/frontend/components/shared/cta/soft-cta-card.tsx
Due: prettier --write, eslint

HUB-4769 add themed layout component
  app/frontend/components/domains/landing/index.tsx
  app/frontend/components/shared/base/highlighted-layout.tsx
Due: prettier --write, eslint

HUB-4769 add hook for editor with preview functionality
  app/frontend/components/shared/editor/custom-extensions/use-editor-with-preview.ts
Due: prettier --write, eslint

HUB-4769 use editor with preview hook
  app/frontend/components/shared/editor/custom-extensions/editor-with-preview.tsx
Due: prettier --write, eslint

HUB-4769 add hero banner component
  app/frontend/components/shared/base/hero-banner.tsx
Due: prettier --write, eslint

HUB-4769 add highlighted call to action component
  app/frontend/components/shared/cta/highlighted-cta-card.tsx
Due: prettier --write, eslint

HUB-4769 refactor to include grid structure and integrate cta components
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
Due: prettier --write, eslint

HUB-4769 replace ctas with jurisdiction about cta cards component
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
Due: prettier --write, eslint

HUB-4769 refactor into accordion sections
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
Due: prettier --write, eslint

HUB-4769 add jurisdiction accorion item
  app/frontend/components/domains/jurisdictions/jurisdiction-about-accordion-item.tsx
Due: prettier --write, eslint

HUB-4769 add jurisdiction about CTA cards component
  app/frontend/components/domains/jurisdictions/jurisdiction-about-cta-cards.tsx
Due: prettier --write, eslint

HUB-4769 add accordion translations for overview and key information
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4771 about page shows documents and contacts (#1587)
  app/frontend/components/domains/jurisdictions/contacts/contact-grid.tsx
  app/frontend/components/domains/jurisdictions/jurisdiction-about-accordion-item.tsx
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/components/shared/jurisdiction/jurisdiction-about-contact-card.tsx
  app/frontend/components/shared/jurisdiction/jurisdiction-resources-grid-section.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/styles/theme/foundations/colors.ts
Due: prettier --write, eslint

touch up json filename and spec
  app/controllers/api/permit_applications_controller.rb
  app/services/permit_application_generated_file_namer.rb
  spec/requests/api/permit_applications_spec.rb
  spec/services/permit_application_generated_file_namer_spec.rb
Due: stree --write

move inputs into env in deploy
  .github/actions/openshift-deploy/action.yml
Due: none

Integration/about page refactor (#1661)
  app/frontend/components/domains/jurisdictions/contacts/contact-grid.tsx
  app/frontend/components/domains/jurisdictions/jurisdiction-about-accordion-item.tsx
  app/frontend/components/domains/jurisdictions/jurisdiction-about-cta-cards.tsx
  app/frontend/components/domains/jurisdictions/jurisdiction-editor-with-preview.tsx
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/components/domains/landing/index.tsx
  app/frontend/components/shared/base/hero-banner.tsx
  app/frontend/components/shared/base/highlighted-layout.tsx
  app/frontend/components/shared/cta/highlighted-cta-card.tsx
  app/frontend/components/shared/cta/soft-cta-card.tsx
  app/frontend/components/shared/editor/custom-extensions/editor-with-preview.tsx
  app/frontend/components/shared/editor/custom-extensions/use-editor-with-preview.ts
  app/frontend/components/shared/jurisdiction/jurisdiction-about-contact-card.tsx
  app/frontend/components/shared/jurisdiction/jurisdiction-resources-grid-section.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/styles/theme/foundations/colors.ts
Due: prettier --write, eslint

add per column unread counts and empty column message
  app/controllers/api/concerns/search/jurisdiction_permit_applications.rb
  app/controllers/api/concerns/search/jurisdiction_permit_projects.rb
  app/frontend/components/domains/jurisdictions/submission-inbox/application-kanban-board.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/kanban-board.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-permits-tab.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-kanban-board.tsx
  app/frontend/components/shared/filters/inbox-filter.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application-inbox-search-shared.ts
  app/frontend/models/permit-application.ts
  app/frontend/models/permit-project-inbox-application-search.ts
  app/frontend/models/permit-project.ts
  app/frontend/stores/submission-inbox-store.ts
  app/models/jurisdiction.rb
Due: prettier --write, eslint, stree --write

redact project title from jurisdiction staff and use template instead of pa nickname
  app/blueprints/permit_project_blueprint.rb
  app/frontend/components/domains/jurisdictions/submission-inbox/application-inbox-table.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-project-detail-screen.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-inbox-table.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-kanban-board.tsx
  app/frontend/models/permit-project.ts
  app/models/permit_project_collaboration.rb
  app/views/permit_hub_mailer/notify_project_review_collaboration.erb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

Improve log error messaging
  app/controllers/api/permit_classifications_controller.rb
  app/controllers/api/permit_projects_controller.rb
  app/controllers/api/requirement_templates_controller.rb
  app/controllers/external_api/application_controller.rb
  app/frontend/models/permit-project.ts
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

improve table cell padding and minwidth
  app/frontend/components/domains/jurisdictions/submission-inbox/application-inbox-table.tsx
  app/frontend/components/domains/jurisdictions/submission-inbox/project-inbox-table.tsx
  app/frontend/components/shared/grid/search-grid-item.tsx
Due: prettier --write, eslint

add rake task for generating many projects and apps
  lib/tasks/reviewer_inbox_load_data.rake
Due: none

move reindexes to data migration
  db/data/20260505153956_reindex_permit_applications_and_projects.rb
  db/migrate/20260402180000_remove_enqueued_at_from_permit_applications.rb
  db/migrate/20260416183037_move_sandbox_id_to_projects.rb
Due: stree --write

Revert "Integration/about page refactor (#1661)"
  app/frontend/components/domains/jurisdictions/contacts/contact-grid.tsx
  app/frontend/components/domains/jurisdictions/jurisdiction-about-accordion-item.tsx
  app/frontend/components/domains/jurisdictions/jurisdiction-about-cta-cards.tsx
  app/frontend/components/domains/jurisdictions/jurisdiction-editor-with-preview.tsx
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/components/domains/landing/index.tsx
  app/frontend/components/shared/base/hero-banner.tsx
  app/frontend/components/shared/base/highlighted-layout.tsx
  app/frontend/components/shared/cta/highlighted-cta-card.tsx
  app/frontend/components/shared/cta/soft-cta-card.tsx
  app/frontend/components/shared/editor/custom-extensions/editor-with-preview.tsx
  app/frontend/components/shared/editor/custom-extensions/use-editor-with-preview.ts
  app/frontend/components/shared/jurisdiction/jurisdiction-about-contact-card.tsx
  app/frontend/components/shared/jurisdiction/jurisdiction-resources-grid-section.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/styles/theme/foundations/colors.ts
Due: prettier --write, eslint

add qa mode tools
  app/controllers/api/qa_tools_controller.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/qa-tools-popout.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/services/api/index.ts
  app/models/concerns/form_supporting_documents.rb
  app/policies/permit_application_policy.rb
  app/services/qa/full_permit_project_service.rb
  app/services/qa/permit_application_autofill_service.rb
  config/locales/en.yml
  config/routes.rb
  db/schema.rb
  spec/requests/api/qa_tools_spec.rb
  spec/services/qa/permit_application_autofill_service_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5010 provide appropriate url for review staff
  app/frontend/components/domains/permit-project/activity-list-item.tsx
Due: prettier --write, eslint

rework template seeds
  app/controllers/api/qa_tools_controller.rb
  app/services/requirements_from_xlsx_seeder.rb
  app/services/seeded_requirement_template_service.rb
  db/seeds.rb
  lib/tasks/seed_prod.rake
  spec/services/requirements_from_xlsx_seeder_spec.rb
  spec/services/seeded_requirement_template_service_spec.rb
Due: stree --write

alternative fix for changing href on activity item
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-project-detail-screen.tsx
  app/frontend/components/domains/permit-project/activity-list-item.tsx
  app/frontend/components/domains/permit-project/activity-tab-panel-content.tsx
Due: prettier --write, eslint

update qa autofull policy
  app/policies/permit_application_policy.rb
Due: stree --write

HUB-5010 provide appropriate url for review staff (#1674)
  app/frontend/components/domains/jurisdictions/submission-inbox/project-detail/inbox-project-detail-screen.tsx
  app/frontend/components/domains/permit-project/activity-list-item.tsx
  app/frontend/components/domains/permit-project/activity-tab-panel-content.tsx
Due: prettier --write, eslint

supress inbox links to new draft applications
  app/frontend/components/domains/permit-project/activity-list-item.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/project-audit.ts
Due: prettier --write, eslint

pass through all path params when regenerating url for changed rrm jurisdiction
  app/frontend/hooks/resources/use-jurisdiction.ts
Due: prettier --write, eslint
