Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

HUB-4211 add api methods for fetching, creating, and updating release notes
  app/frontend/services/api/index.ts
Due: prettier --write, eslint

HUB-4211 add fetch, create, and update methods to release notes stores
  app/frontend/stores/release-note-store.ts
Due: prettier --write, eslint

HUB-4211 add release note form screen
  app/frontend/components/domains/super-admin/site-configuration-management/release-note-form-screen.tsx
Due: prettier --write, eslint

HUB-4211 add routes for release note form screen
  app/frontend/components/domains/navigation/index.tsx
Due: prettier --write, eslint

HUB-4211 update release note translations to include publish action
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4211 add publish method for release notes in API service
  app/frontend/services/api/index.ts
Due: prettier --write, eslint

HUB-4211 implement publish method in release note store
  app/frontend/stores/release-note-store.ts
Due: prettier --write, eslint

HUB-4211 add release notes publishing
  app/frontend/components/domains/super-admin/site-configuration-management/release-note-form-screen.tsx
Due: prettier --write, eslint

HUB-4211 update release note update method to set status to draft
  app/controllers/api/release_notes_controller.rb
Due: stree --write

HUB-4211 add test for setting release note status to draft after update
  spec/requests/release_notes_spec.rb
Due: stree --write

HUB-4211 add translation for invalid semantic version
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4211 add semantic version validation to release note form
  app/frontend/components/domains/super-admin/site-configuration-management/release-note-form-screen.tsx
Due: prettier --write, eslint

add updates for template builder and versions sidebar
  app/frontend/components/domains/requirement-template/create-early-access-version-modal.tsx
  app/frontend/components/domains/requirement-template/publish-schedule-modal.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/builder-header.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/controls-header.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/editable-builder-header.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/sections-display.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/template-versions-sidebar.tsx
  app/frontend/components/shared/requirement-template/requirement-template-grid.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/template-section-block.ts
  app/frontend/services/api/index.ts
  app/frontend/types/api-request.ts
  app/models/template_version.rb
  app/models/template_version_feedback.rb
  app/services/template_version_feedback_service.rb
  app/services/template_versioning_service.rb
  app/views/permit_hub_mailer/notify_new_or_unconfirmed_template_version_preview.erb
  app/views/permit_hub_mailer/notify_template_version_preview.erb
  config/locales/en.yml
  spec/services/template_versioning_service_spec.rb
Due: prettier --write, eslint, stree --write

HUB-4211 remove ability to sort by version and created_at
  app/controllers/api/concerns/search/release_notes.rb
Due: stree --write

add uiux touchups for videos
  app/blueprints/help_video_blueprint.rb
  app/controllers/api/help_videos_controller.rb
  app/frontend/components/domains/help-videos/help-video-screen.tsx
  app/frontend/components/domains/help-videos/index.tsx
  app/frontend/components/domains/super-admin/help-video-modal.tsx
  app/frontend/components/domains/super-admin/help-video-section-modal.tsx
  app/frontend/components/domains/super-admin/help-videos-management-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/help-video.ts
  app/frontend/types/types.ts
  app/models/help_video.rb
  app/services/help_video_seeder.rb
  db/migrate/20260508144500_create_help_videos.rb
  db/schema.rb
  spec/controllers/api/help_videos_controller_spec.rb
  spec/factories/help_videos.rb
  spec/models/help_video_spec.rb
Due: prettier --write, eslint, stree --write

HUB-4211 prevent saving published release notes as drafts
  app/controllers/api/release_notes_controller.rb
Due: stree --write

HUB-4211 update test to ensure published release notes cannot be saved as drafts
  spec/requests/release_notes_spec.rb
Due: stree --write

HUB-4211 update release note form to disable saving drafts for published notes
  app/frontend/components/domains/super-admin/site-configuration-management/release-note-form-screen.tsx
Due: prettier --write, eslint

HUB-4211 enforce validation to prevent version changes on published release notes
  app/models/release_note.rb
Due: stree --write

HUB-4211 add test to ensure published release notes cannot change version
  spec/models/release_note_spec.rb
Due: stree --write

Revert "HUB-4211 update release note update method to set status to draft"
  app/controllers/api/release_notes_controller.rb
Due: stree --write

Hub 4211 super admin can view and manage release notes list (#1687)
  app/controllers/api/concerns/search/release_notes.rb
  app/controllers/api/release_notes_controller.rb
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/index.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/release-note-form-screen.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/release-notes-grid-cell.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/release-notes-grid-header.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/release-notes-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/release-note-model.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/release-note-store.ts
  app/frontend/stores/root-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/release_note.rb
  app/policies/release_note_policy.rb
  config/routes.rb
  spec/models/release_note_spec.rb
  spec/requests/release_notes_spec.rb
Due: prettier --write, eslint, stree --write

add slugs, html description, and bugfixes
  app/blueprints/help_video_blueprint.rb
  app/controllers/api/help_video_sections_controller.rb
  app/controllers/api/help_videos_controller.rb
  app/frontend/components/domains/help-videos/help-video-screen.tsx
  app/frontend/components/domains/help-videos/index.tsx
  app/frontend/components/domains/navigation/sub-nav-bar.tsx
  app/frontend/components/domains/super-admin/help-video-modal.tsx
  app/frontend/components/domains/super-admin/help-video-section-modal.tsx
  app/frontend/components/domains/super-admin/help-videos-management-screen.tsx
  app/frontend/components/shared/editor/editor.tsx
  app/frontend/hooks/resources/use-help-video.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/help-video.ts
  app/models/help_video.rb
  app/models/help_video_section.rb
  app/services/help_video_seeder.rb
  db/data_schema.rb
  db/migrate/20260508144500_create_help_videos.rb
  db/schema.rb
  db/seeds.rb
  spec/controllers/api/help_video_sections_controller_spec.rb
  spec/controllers/api/help_videos_controller_spec.rb
  spec/factories/help_videos.rb
  spec/jobs/promote_job_spec.rb
  spec/models/help_video_section_spec.rb
  spec/models/help_video_spec.rb
Due: prettier --write, eslint, stree --write

update promote spec to not validate clean file on skip
  spec/jobs/promote_job_spec.rb
Due: stree --write

crud and display vdeos
  app/controllers/api/help_video_sections_controller.rb
  app/controllers/api/help_videos_controller.rb
  app/frontend/components/domains/help-videos/index.tsx
  app/frontend/components/domains/navigation/nav-bar-menu.tsx
  app/frontend/components/domains/super-admin/help-video-modal.tsx
  app/frontend/components/domains/super-admin/help-video-section-modal.tsx
  app/frontend/components/domains/super-admin/help-videos-management-screen.tsx
  app/frontend/components/domains/super-admin/site-configuration-management/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/help-video-section.ts
  app/frontend/models/help-video.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/help-video-store.ts
  app/models/help_video.rb
  app/models/help_video_section.rb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20260508144500_create_help_videos.rb
  db/seeds.rb
  spec/controllers/api/help_video_sections_controller_spec.rb
  spec/factories/help_video_sections.rb
  spec/factories/help_videos.rb
  spec/models/help_video_section_spec.rb
  spec/models/help_video_spec.rb
Due: prettier --write, eslint, stree --write

only notify users applying to relevant jurisdiction of customization update
  app/services/notification_service.rb
  spec/services/notification_service_spec.rb
Due: stree --write

add helper text
  app/frontend/components/domains/super-admin/help-video-modal.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

add missing translation in precheck building
  app/frontend/components/domains/pre-check/form-section/building-type.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-4215 add migration to enable release note publish notifications in preferences
  db/migrate/20260512163028_add_release_note_notification_to_preference.rb
Due: stree --write

HUB-5019 QA helper tools add to dockerfile
  .github/workflows/dev.yml
  devops/docker/app/Dockerfile
Due: none

HUB-4215 Add publish constant to notification action types
  app/services/constants/notification_action_types.rb
Due: stree --write

HUB-4215 add spec to verify publish notification trigger for release notes
  spec/requests/release_notes_spec.rb
Due: stree --write

HUB-4215 add release note publish notification translations
  config/locales/en.yml
Due: none

HUB-4215 add publish_event_notification_data method to release note model
  app/models/release_note.rb
Due: stree --write

HUB-4215 include current release note version in breadcrumbs
  app/frontend/components/domains/navigation/sub-nav-bar.tsx
Due: prettier --write, eslint

HUB-4215 add current release note state management to model
  app/frontend/stores/release-note-store.ts
Due: prettier --write, eslint

HUB-4215 add release not publish action to notification action type enum
  app/frontend/types/enums.ts
Due: prettier --write, eslint

HUB-4215 implement publish_release_note_publish_event method to notify users of published release notes
  app/services/notification_service.rb
Due: stree --write
