Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

Fix step code display issues and error handling
  app/controllers/api/step_codes_controller.rb
  app/frontend/components/domains/step-code/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint, stree --write

clean up code
  app/blueprints/step_code_checklist_blueprint.rb
  app/frontend/components/domains/step-code/checklist/project-info/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint, stree --write

Handle step code H2K initialize error
  app/controllers/api/step_codes_controller.rb
Due: stree --write

reorganize hooks and use effects to the top
  app/frontend/components/shared/permit-applications/requirement-form.tsx
Due: prettier --write, eslint

hotfix - save failure should stay on screen
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
Due: prettier --write, eslint

add download modal and zip supporting document logic
  Gemfile
  Gemfile.lock
  app/blueprints/permit_application_blueprint.rb
  app/blueprints/supporting_document_blueprint.rb
  app/frontend/components/domains/permit-application/contact-summary-modal.tsx
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/submission-download-modal.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/stores/permit-application-store.ts
  app/frontend/types/types.ts
  app/frontend/utils/utility-functions.ts
  app/jobs/derivatives_job.rb
  app/jobs/zipfile_job.rb
  app/models/permit_application.rb
  app/models/requirement.rb
  app/models/supporting_document.rb
  app/services/supporting_documents_zipper.rb
  app/uploaders/file_uploader.rb
  app/uploaders/zipfile_uploader.rb
  config/sidekiq_production.yml
  config/sidekiq_qa.yml
  db/migrate/20240229235448_add_is_zip_to_supporting_documents.rb
  db/migrate/20240305005745_add_zipfile_data_to_permit_application.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

update validations for h2k file on backend
  app/controllers/api/step_codes_controller.rb
  app/uploaders/file_uploader.rb
  app/uploaders/h2k_file_uploader.rb
  config/locales/en.yml
Due: stree --write

wire download button to search grid
  app/frontend/components/domains/jurisdictions/submission-inbox/jurisdiction-submisson-inbox-screen.tsx
  app/frontend/components/domains/permit-application/contact-summary-modal.tsx
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/submission-download-modal.tsx
  app/services/supporting_documents_zipper.rb
Due: prettier --write, eslint, stree --write

add home screen redirect for reviewers
  app/frontend/components/domains/home/reviewer-home-screen.tsx
Due: prettier --write, eslint

Initial implementation of websockets chain with Anycable / use HA for production (Openshift)
  .gitignore
  Gemfile
  Gemfile.lock
  Procfile.dev
  app/channels/application_cable/connection.rb
  app/channels/user_channel.rb
  app/controllers/api/application_controller.rb
  app/controllers/concerns/base_controller_methods.rb
  app/frontend/channels/user_channel.ts
  app/frontend/stores/root-store.ts
  app/frontend/stores/session-store.ts
  app/models/current.rb
  app/services/constants/channels.rb
  app/services/websocket_broadcaster.rb
  app/views/layouts/application.html.erb
  bin/anycable-go
  config/anycable.yml
  config/cable.yml
  config/environments/development.rb
  config/environments/production.rb
  config/initializers/anycable.rb
  config/routes.rb
  package-lock.json
  package.json
  spec/channels/user_channel_channel_spec.rb
Due: prettier --write, eslint, stree --write

Add more configuration ENV variables and note them in .env.example
  .env.example
  config/anycable.yml
  config/environments/development.rb
  config/environments/production.rb
  config/initializers/sidekiq.rb
  devops/docker/anycable/Dockerfile
Due: stree --write

[bphhh-79] Display only enabled building permits
  app/frontend/components/domains/requirement-template/jurisdiction-digital-permit-screen/index.tsx
Due: prettier --write, eslint

[bphh-79] Add tab navigation and loading via query strings for Building Permit Page
  app/frontend/components/domains/requirement-template/jurisdiction-digital-permit-screen/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

[bphh-79] Add api actions to retrieve template versions by actiivity. Add relevant fe actions and model changes
  app/controllers/api/template_versions_controller.rb
  app/frontend/components/domains/home/review-manager-home-screen.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/services/api/index.ts
  app/frontend/stores/template-version-store.ts
  app/policies/template_version_policy.rb
  config/routes.rb
Due: prettier --write, eslint, stree --write

[bphh-79] Add empy permits helper text for building permits screen
  app/frontend/components/domains/requirement-template/jurisdiction-digital-permit-screen/digital-building-permits-list.tsx
  app/frontend/components/domains/requirement-template/jurisdiction-digital-permit-screen/index.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

[bphh-79] Add digital building permit page for jurisdictions
  app/controllers/api/template_versions_controller.rb
  app/frontend/components/domains/requirement-template/jurisdiction-digital-permit-screen/digital-building-permits-list.tsx
  app/frontend/components/domains/requirement-template/jurisdiction-digital-permit-screen/index.tsx
  app/frontend/components/shared/version-tag.tsx
  app/frontend/hooks/resources/use-activity-options.ts
  app/frontend/hooks/resources/use-permit-type-options.ts
  app/frontend/hooks/resources/use-template-versions.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/template-version.ts
  app/frontend/stores/permit-classification-store.ts
  app/frontend/stores/template-version-store.ts
Due: prettier --write, eslint, stree --write

[bphh-613] Refactor some template version related components to be able to reuse. Also adds placeholder EditJurisdictionTermplateVersion screen
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/requirement-template/builder-floating-buttons.tsx
  app/frontend/components/domains/requirement-template/edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/jurisdiction-digital-permit-screen/digital-building-permits-list.tsx
  app/frontend/components/domains/requirement-template/template-version/jurisdiction-edit-template-version-screen.tsx
  app/frontend/components/domains/requirement-template/template-version/sections-display.tsx
  app/frontend/components/domains/requirement-template/template-version/template-version-screen.tsx
  app/frontend/components/domains/requirement-template/use-section-highlight.ts
Due: prettier --write, eslint

[bphh-613] Refactor requirement template domain folder structure for better organization
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/builder-header.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/controls-header.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/editable-builder-header.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/publish-schedule-modal.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/sections-display.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/sections-dnd/droppable-section.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/sections-dnd/index.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/sections-dnd/multipleContainersKeyboardCoordinates.ts
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/sections-dnd/requirement-block.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/sections-dnd/section.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/sections-dnd/sortable-requirement-block.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-digital-permit-screen/digital-building-permits-list.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-digital-permit-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen.tsx
  app/frontend/components/domains/requirement-template/screens/requirement-template-screen.tsx
  app/frontend/components/domains/requirement-template/screens/template-version-screen.tsx
  app/frontend/components/domains/requirement-template/sections-display.tsx
  app/frontend/components/domains/requirement-template/use-section-highlight.ts
Due: prettier --write, eslint

[bphh-613] Add tip for jurisdiction template version customization
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/index.tsx
  app/frontend/components/domains/requirement-template/sections-display.tsx
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/components/shared/editor/custom-extensions/editor-with-preview.tsx
  app/frontend/components/shared/rich-text-tip.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

[bphh-613] Add ability for a jurisdiction add and update tip for a requirement block in a template
  app/blueprints/jurisdiction_template_version_customization_blueprint.rb
  app/controllers/api/template_versions_controller.rb
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/jurisdiction-requirement-block-edit-sidebar.tsx
  app/frontend/components/domains/requirement-template/screens/requirement-template-screen.tsx
  app/frontend/components/domains/requirement-template/screens/template-version-screen.tsx
  app/frontend/components/domains/requirement-template/sections-display.tsx
  app/frontend/components/domains/requirement-template/template-versions-sidebar.tsx
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/components/shared/editor/custom-extensions/editor-with-preview.tsx
  app/frontend/components/shared/editor/quill.css
  app/frontend/hooks/resources/use-jurisdiction-template-version-customization.ts
  app/frontend/hooks/resources/use-template-version.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/jurisdiction-template-version-customization.ts
  app/frontend/models/template-version.ts
  app/frontend/services/api/index.ts
  app/frontend/types/types.ts
  app/frontend/utils/index.ts
  app/models/jurisdiction_template_version_customization.rb
  app/policies/template_version_policy.rb
  config/locales/en.yml
  config/routes.rb
Due: prettier --write, eslint, stree --write

[bphh-613] Add tip html sanitization
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/jurisdiction-requirement-block-edit-sidebar.tsx
  app/frontend/types/types.ts
  app/models/jurisdiction_template_version_customization.rb
Due: prettier --write, eslint, stree --write

Helm chart for Anycable RPC server
  devops/helm-charts/anycable-go/.helmignore
  devops/helm-charts/anycable-go/Chart.lock
  devops/helm-charts/anycable-go/Chart.yaml
  devops/helm-charts/anycable-go/charts/anycable-go-0.2.4.tgz
  devops/helm-charts/anycable-go/values-dev.yaml
  devops/helm-charts/anycable-go/values-prod.yaml
  devops/helm-charts/anycable-go/values-test.yaml
  devops/helm-charts/anycable-go/values.yaml
  devops/helm-charts/app/templates/service-anycable-rpc.yaml
  devops/helm-charts/app/templates/service-web.yaml
  devops/helm-charts/app/values-prod.yaml
  devops/helm-charts/app/values.yaml
Due: none

[bphh-365] Add ability for jurisdiction to enable/disable elective fields
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/jurisdiction-requirement-block-edit-sidebar.tsx
  app/frontend/components/domains/requirement-template/template-versions-sidebar.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement.ts
Due: prettier --write, eslint

[bphh-365] Fix breadcrumb for edit building permit path
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/builder-header.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/editable-builder-header.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/template-version-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/types/types.ts
Due: prettier --write, eslint

[bphh-365] Add reset to default for jurisdiction customization for template versions
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/jurisdiction-requirement-block-edit-sidebar.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

[bphh-365] Fix dangling coma
  app/frontend/stores/template-version-store.ts
Due: prettier --write, eslint

[bphh-760] Refactor requirment field edit to use reusable components to reduce duplication
  app/frontend/components/domains/requirements-library/requirement-field-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
Due: prettier --write, eslint

Fix consigno ENV vars
  devops/docker/consigno-verifio-notarius-server/Dockerfile
  devops/docker/consigno-verifio-notarius-server/entrypoint.sh
  spec/channels/user_channel_channel_spec.rb
Due: stree --write

[bphh-760] Add ability to denote a field in requirement block edit as elective. Also fix bug with "optional for submitters" checkbox
  app/controllers/api/requirement_blocks_controller.rb
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement.ts
  app/frontend/types/api-request.ts
Due: prettier --write, eslint, stree --write

Update step code UI to match mocks
  app/blueprints/step_code/energy/compliance_blueprint.rb
  app/blueprints/step_code/zero_carbon/compliance_blueprint.rb
  app/blueprints/step_code_checklist_blueprint.rb
  app/controllers/api/step_codes_controller.rb
  app/frontend/components/domains/step-code/checklist/completed-by/index.tsx
  app/frontend/components/domains/step-code/checklist/compliance-summary/energy-steps.tsx
  app/frontend/components/domains/step-code/checklist/compliance-summary/index.tsx
  app/frontend/components/domains/step-code/checklist/compliance-summary/zero-carbon-steps.tsx
  app/frontend/components/domains/step-code/checklist/energy-performance-compliance/index.tsx
  app/frontend/components/domains/step-code/checklist/energy-step-code-compliance/index.tsx
  app/frontend/components/domains/step-code/checklist/index.tsx
  app/frontend/components/domains/step-code/checklist/project-info/building-type-select.tsx
  app/frontend/components/domains/step-code/checklist/project-info/index.tsx
  app/frontend/components/domains/step-code/checklist/shared/checklist-section.tsx
  app/frontend/components/domains/step-code/checklist/zero-carbon-step-code-compliance/index.tsx
  app/frontend/components/domains/step-code/index.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/step-code-checklist.ts
  app/services/step_code/compliance/propose_step/energy.rb
  app/services/step_code/compliance/propose_step/zero_carbon.rb
  config/locales/en.yml
  db/migrate/20240306190337_add_codeco_to_step_code_checklists.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

Modify Dockerfile and entrypoint for Consigno server
  devops/docker/consigno-verifio-notarius-server/Dockerfile
  devops/docker/consigno-verifio-notarius-server/entrypoint.sh
Due: none

wip - need to form formio-export module
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/hooks/use-permit-application-pdf-upload.ts
  app/frontend/models/permit-application.ts
  app/frontend/models/user.ts
  db/migrate/20240229235448_add_is_zip_to_supporting_documents.rb
  package-lock.json
  package.json
Due: prettier --write, eslint, stree --write

Adjust some parameters for cpu request and limits in prod and fix anycable iniitalizer
  config/initializers/anycable.rb
  devops/helm-charts/app/values-prod.yaml
  devops/helm-charts/consigno-verifio-notarius-server/values-prod.yaml
  devops/helm-charts/ha-elasticsearch/values-prod.yaml
  devops/helm-charts/ha-elasticsearch/values.yaml
  devops/helm-charts/ha-redis/values-prod.yaml
Due: stree --write

Handle step codes that do not meet requirements
  app/frontend/components/domains/step-code/checklist/compliance-summary/index.tsx
  app/frontend/components/domains/step-code/checklist/zero-carbon-step-code-compliance/compliance-grid/index.tsx
  app/frontend/i18n/i18n.ts
  app/services/step_code/compliance/check_requirements/energy/base.rb
Due: prettier --write, eslint, stree --write

[bphh-760] Refactor RequirementFieldDisplay to use reusable components to reduce duplication
  app/frontend/components/domains/requirements-library/requirement-field-display.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/index.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/constants.ts
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

merge message issue fix
  app/controllers/api/step_codes_controller.rb
Due: stree --write

Upgrade the helm chart for anycable and setup Sentinel support
  devops/helm-charts/anycable-go/Chart.lock
  devops/helm-charts/anycable-go/Chart.yaml
  devops/helm-charts/anycable-go/charts/anycable-go-0.2.4.tgz
  devops/helm-charts/anycable-go/charts/anycable-go-0.5.11.tgz
  devops/helm-charts/anycable-go/values-prod.yaml
  devops/helm-charts/anycable-go/values.yaml
Due: none

update app route to -web in route template
  devops/docker/anycable/Dockerfile
  devops/helm-charts/app/templates/route.yaml
Due: none

Remove binding pry
  app/controllers/api/template_versions_controller.rb
Due: stree --write
