Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

commit for redeploy
  app/models/jurisdiction.rb
Due: stree --write

Fixing API error
  app/services/wrappers/digital_seal_validator.rb
Due: stree --write

Add table to about jurisdiction for step code
  app/frontend/components/domains/jurisdictions/jurisdiction-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/jurisdiction.ts
Due: prettier --write, eslint

quick fix for jurisdiction blueprint
  app/blueprints/jurisdiction_blueprint.rb
Due: stree --write

update user:manage rule and add user:updateRole rule
  app/frontend/components/shared/user/manage-user-menu.tsx
  app/frontend/services/rbac-rules.ts
Due: prettier --write, eslint

[bphh-1340] Update docs with correct raw h2k file schema
  spec/swagger_helper.rb
  swagger/external_api/v1/swagger.yaml
Due: stree --write

[bphh-1340] Add submitter to external api
  app/blueprints/permit_application_blueprint.rb
  app/blueprints/user_blueprint.rb
  spec/swagger_helper.rb
  swagger/external_api/v1/swagger.yaml
Due: stree --write

[bphh-1340] Add energy step code files to external api
  app/models/concerns/form_supporting_documents.rb
  app/models/supporting_document.rb
  app/services/external_permit_application_service.rb
Due: stree --write

[bphh-1340] Refactor to not include permit application pdf in submission data
  app/jobs/pdf_generation_job.rb
  app/models/concerns/form_supporting_documents.rb
  app/services/external_permit_application_service.rb
Due: stree --write

[bphh-1340] Fix calling nonexistent method
  app/models/step_code_data_entry.rb
Due: stree --write

[bphh-1340] Add raw h2k files to external api
  app/blueprints/permit_application_blueprint.rb
  app/models/permit_application.rb
  app/models/step_code_data_entry.rb
  app/services/external_permit_application_service.rb
  spec/swagger_helper.rb
  swagger/external_api/v1/swagger.yaml
Due: stree --write

[bphh-1340] Add file submission value param
  app/services/external_permit_application_service.rb
  spec/swagger_helper.rb
  swagger/external_api/v1/swagger.yaml
Due: stree --write

[bphh-1340] Remove the use of base path as it is deprecatedm and update docs with new mechanism
  spec/swagger_helper.rb
  swagger/external_api/v1/swagger.yaml
Due: stree --write

add missing email subject
  config/locales/en.yml
Due: none

snowplow js added
  app/views/layouts/application.html.erb
  app/views/tracking/_snowplow.html.erb
Due: none

add step code summary report
  app/controllers/api/step_codes_controller.rb
  app/frontend/components/domains/super-admin/reporting/export-template-summary-screen.tsx
  app/frontend/components/domains/super-admin/reporting/reporting-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/step-code-store.ts
  app/models/jurisdiction.rb
  app/policies/step_code_policy.rb
  app/services/step_code_export_service.rb
  config/locales/en.yml
  config/routes.rb
Due: prettier --write, eslint, stree --write

using js tracker
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/entrypoints/application.tsx
  app/frontend/setup/snowplow.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

use an overlay loading component on save instead of fully re-rendering form
  app/frontend/components/shared/permit-applications/requirement-form.tsx
Due: prettier --write, eslint

fix top bar z index
  app/frontend/components/domains/permit-application/edit-permit-application-screen.tsx
Due: prettier --write, eslint

add grey overlay color
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/styles/theme/foundations/colors.ts
Due: prettier --write, eslint

remove errant base slash in seal validator post
  app/services/wrappers/digital_seal_validator.rb
Due: stree --write

working rgeo projection conversion
  Gemfile
  Gemfile.lock
  app/services/wrappers/ltsa_parcel_map_bc.rb
Due: stree --write

Add front end RBAC for regional RMs
  app/frontend/services/rbac-rules.ts
Due: prettier --write, eslint

Fix backend RBAC for regional RMs
  app/controllers/api/concerns/search/jurisdiction_users.rb
  app/policies/invitation_policy.rb
  app/policies/permit_application_policy.rb
  app/policies/requirement_template_policy.rb
  app/policies/supporting_document_policy.rb
Due: stree --write

Fix email subject for new jurisdiction membership
  config/locales/en.yml
Due: none

add user preferences table and notifications settings panel
  app/blueprints/preference_blueprint.rb
  app/blueprints/user_blueprint.rb
  app/controllers/api/users_controller.rb
  app/frontend/components/domains/users/profile-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/user.ts
  app/models/jurisdiction_template_version_customization.rb
  app/models/preference.rb
  app/models/template_version.rb
  app/models/user.rb
  app/services/notification_service.rb
  db/migrate/20240604183218_create_preferences.rb
  db/schema.rb
Due: prettier --write, eslint, stree --write

fix notification setting queries
  app/frontend/i18n/i18n.ts
  app/services/notification_service.rb
Due: prettier --write, eslint, stree --write

change preference creation to before_save to fix failing specs
  app/models/user.rb
Due: stree --write

notify regional managers on template update
  app/services/notification_service.rb
Due: stree --write

Add revision mode and buttons
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/components/domains/permit-application/revision-sidebar.tsx
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/constants.ts
  app/frontend/i18n/i18n.ts
  app/frontend/models/permit-application.ts
  app/frontend/models/user.ts
  app/frontend/types/types.ts
  app/frontend/utils/formio-component-traversal.ts
Due: prettier --write, eslint

add href cases for other roles, make diff box dependent on prob and not user role
  app/frontend/components/domains/permit-application/compare-requirements-box.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/user.ts
  app/frontend/stores/notification-store.ts
Due: prettier --write, eslint

[bphh-1510] Add migration and model jurisdiction_integration_requirements_mapping. Add initialization logic to configure mappings and copy over mappings from existing mappings. Add specs
  app/models/jurisdiction_integration_requirements_mapping.rb
  config/locales/en.yml
  db/migrate/20240603205846_create_jurisdiction_integration_requirements_mappings.rb
  db/schema.rb
  spec/factories/jurisdiction_integration_requirements_mapping.rb
  spec/factories/template_versions.rb
  spec/models/jurisdiction_integration_requirements_mapping_spec.rb
Due: stree --write

[bphh-1510] Refactor integration mapping initialization logic to it's own service
  app/models/jurisdiction_integration_requirements_mapping.rb
  app/services/jurisdiction_integration_requirements_mapping_service.rb
Due: stree --write

[bphh-1510] Add call back to create mappings when jurisdiction api is enabled
  app/models/jurisdiction.rb
  spec/factories/sub_districts.rb
  spec/models/jurisdiction_spec.rb
Due: stree --write

[bphh-1510] Add method to be able to update mappings
  app/models/jurisdiction.rb
  app/models/jurisdiction_integration_requirements_mapping.rb
  app/services/jurisdiction_integration_requirements_mapping_service.rb
  spec/models/jurisdiction_integration_requirements_mapping_spec.rb
Due: stree --write

[bphh-1510] Add data migration to initialize integration mapping for jurisdictions
  db/data/20240605235009_add_integration_mappings_for_jurisdictions.rb
  db/data_schema.rb
Due: stree --write

[bphh-1510] Add callback to create mappings for jurisdictions when a template is published
  app/models/template_version.rb
  spec/models/template_version_spec.rb
Due: stree --write

[bphh-1511] fix requirements mapping update logic and specs. And adds syncing callbacks
  app/models/jurisdiction_integration_requirements_mapping.rb
  app/services/jurisdiction_integration_requirements_mapping_service.rb
  spec/models/jurisdiction_integration_requirements_mapping_spec.rb
Due: stree --write

[bphh-1511] Add api to retrieve integration customizations
  app/blueprints/jurisdiction_integration_requirements_mapping_blueprint.rb
  app/controllers/api/template_versions_controller.rb
  app/policies/template_version_policy.rb
  config/routes.rb
Due: stree --write

[bphh-1511] Add api to update integration customizations
  app/controllers/api/jurisdiction_integration_requirements_mappings_controller.rb
  app/models/jurisdiction_integration_requirements_mapping.rb
  app/policies/jurisdiction_integration_requirements_mapping_policy.rb
  app/policies/template_version_policy.rb
  app/services/jurisdiction_integration_requirements_mapping_service.rb
  config/locales/en.yml
  config/routes.rb
Due: stree --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
  stree --write: any of: *.rb
