Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

show validation dry run in confirmation modal
  app/controllers/api/requirement_templates_controller.rb
  app/controllers/api/template_versions_controller.rb
  app/frontend/components/domains/requirement-template/config-errors-list.tsx
  app/frontend/components/domains/requirement-template/config-errors-panel.tsx
  app/frontend/components/domains/requirement-template/create-early-access-version-modal.tsx
  app/frontend/components/domains/requirement-template/publish-schedule-modal.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/controls-header.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/template-version-screen.tsx
  app/frontend/services/api/index.ts
  app/frontend/stores/requirement-template-store.ts
  app/frontend/types/types.ts
  app/policies/requirement_template_policy.rb
  app/policies/template_version_policy.rb
  app/services/template_versioning_service.rb
  config/routes.rb
  spec/controllers/requirement_templates_controller_spec.rb
  spec/controllers/template_versions_controller_spec.rb
  spec/services/template_versioning_service_spec.rb
Due: prettier --write, eslint, stree --write

add endpoint and service for builder restore
  app/controllers/api/template_versions_controller.rb
  app/errors/requirement_template_structure_restore_error.rb
  app/frontend/components/domains/requirement-template/screens/template-version-screen.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/requirement-template-store.ts
  app/policies/template_version_policy.rb
  app/services/requirement_template_structure_restore_service.rb
  config/locales/en.yml
  config/routes.rb
  spec/controllers/template_versions_controller_spec.rb
  spec/policies/template_version_policy_spec.rb
  spec/services/requirement_template_structure_restore_service_spec.rb
Due: prettier --write, eslint, stree --write

fix checksum headers for bcgov storage
  config/initializers/shrine.rb
Due: stree --write

fix step code reverting to previous checklist mid flow
  app/frontend/components/domains/step-code/part-9/checklist/building-characteristics-summary/dynamic-characteristics-grid/ventilation.tsx
  app/frontend/components/domains/step-code/part-9/form-section/index.tsx
  app/frontend/components/shared/form/input-form-control.tsx
  app/frontend/hooks/resources/use-part-9-step-code.ts
  app/frontend/hooks/resources/use-permit-application.ts
  app/frontend/models/part-9-step-code.ts
Due: prettier --write, eslint

overwrite fields on new h2k upload on part 9 step code
  app/models/part_9_step_code.rb
  spec/models/part_9_step_code_spec.rb
Due: stree --write

HUB-5427 RM - View submitted application - request revisions: RM can edit application
  app/frontend/components/domains/permit-application/review-permit-application-screen.tsx
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/components/shared/revisions/revision-modal.tsx
  app/frontend/models/permit-application.ts
  app/frontend/utils/formio-component-traversal.ts
  app/frontend/utils/formio-helpers.ts
Due: prettier --write, eslint

Hub 5289 story validate conditionals compliance and data validation on template publish revisted rebase (#1837)
  app/controllers/api/requirement_templates_controller.rb
  app/controllers/api/template_versions_controller.rb
  app/frontend/components/domains/requirement-template/config-errors-list.tsx
  app/frontend/components/domains/requirement-template/config-errors-panel.tsx
  app/frontend/components/domains/requirement-template/create-early-access-version-modal.tsx
  app/frontend/components/domains/requirement-template/publish-schedule-modal.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/controls-header.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/template-version-screen.tsx
  app/frontend/services/api/index.ts
  app/frontend/stores/requirement-template-store.ts
  app/frontend/types/types.ts
  app/policies/requirement_template_policy.rb
  app/policies/template_version_policy.rb
  app/services/template_versioning_service.rb
  config/routes.rb
  spec/controllers/requirement_templates_controller_spec.rb
  spec/controllers/template_versions_controller_spec.rb
  spec/services/template_versioning_service_spec.rb
Due: prettier --write, eslint, stree --write

add guard clause for comparing template version against nil
  app/services/template_versioning_service.rb
Due: stree --write

HUB-4972 add go to project button
  app/frontend/components/domains/project-meeting/detail/detail-section.tsx
  app/frontend/components/domains/project-meeting/detail/sections/project-information-section.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

add file attachments to notes
  app/blueprints/note_attachment_document_blueprint.rb
  app/blueprints/note_blueprint.rb
  app/blueprints/permit_project_blueprint.rb
  app/controllers/api/permit_projects/notes_controller.rb
  app/controllers/api/project_meetings/notes_controller.rb
  app/controllers/api/project_meetings_controller.rb
  app/controllers/api/storage_controller.rb
  app/frontend/components/domains/jurisdictions/submission-inbox/reviewer-meeting-detail-content.tsx
  app/frontend/components/domains/project-meeting/detail/sections/meeting-notes-section.tsx
  app/frontend/components/shared/base/resource-item.tsx
  app/frontend/components/shared/notes/note-attachment-chips.tsx
  app/frontend/components/shared/notes/note-card.tsx
  app/frontend/components/shared/notes/note-composer.tsx
  app/frontend/components/shared/notes/use-note-attachments.ts
  app/frontend/components/shared/project-meetings/project-meeting-notes-list.tsx
  app/frontend/models/note.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/note-store.ts
  app/frontend/types/enums.ts
  app/frontend/types/types.ts
  app/models/note.rb
  app/models/note_attachment_document.rb
  app/policies/note_attachment_document_policy.rb
  app/services/notes_export_service.rb
  db/migrate/20260730120000_create_note_attachment_documents.rb
  db/schema.rb
  spec/factories/note_attachment_documents.rb
  spec/requests/api/notes_spec.rb
  spec/requests/api/storage_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5243 update timeline graphic and some copy
  app/frontend/components/domains/permit-application/successful-submission.tsx
  app/frontend/components/shared/notes/note-composer.tsx
  app/frontend/i18n/i18n.ts
  public/images/timeline/timeline-graphic-4.png
Due: prettier --write, eslint

show file restriction error on failed uploads
  app/frontend/components/shared/notes/use-note-attachments.ts
  app/frontend/hooks/use-uppy-s3.ts
  app/frontend/hooks/use-uppy-transient.ts
Due: prettier --write, eslint

show newlines in tiptap
  app/frontend/components/shared/editor/safe-tiptap-display.tsx
Due: prettier --write, eslint

bump rails to 7.2.3.2.
  Gemfile
  Gemfile.lock
Due: none

HUB-5193 requirement migration verification
  db/migrate/20251008184807_add_customizations_count_to_template_versions.rb
  lib/tasks/question_bank.rake
Due: stree --write

HUB-5193 remove shared boolean
  app/blueprints/requirement_blueprint.rb
  app/blueprints/requirement_question_blueprint.rb
  app/controllers/api/concerns/search/requirement_questions.rb
  app/controllers/api/requirement_questions_controller.rb
  app/models/requirement.rb
  app/models/requirement_question.rb
  db/data/20260709150001_backfill_requirement_questions.rb
  db/migrate/20260709150000_create_requirement_questions.rb
  db/schema.rb
Due: stree --write

HUB-5193 remove shared boolean from requirement question model
  app/frontend/models/requirement-question.ts
Due: prettier --write, eslint

HUB-5193 add link to requirement question and sync after edit
  app/frontend/components/domains/question-bank/question-bank-modal/index.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/options-menu.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/field-controls-header.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/requirement-field-row.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/requirement-question-store.ts
  app/frontend/utils/utility-functions.ts
Due: prettier --write, eslint

HUB-5193 specs
  spec/controllers/requirement_blocks_controller_spec.rb
  spec/controllers/requirement_questions_controller_spec.rb
  spec/factories/requirement_questions.rb
  spec/migrations/backfill_requirement_questions_spec.rb
  spec/models/requirement_question_spec.rb
  spec/models/requirement_spec.rb
Due: stree --write

HUB-5193 prevent use of multifield questions
  app/frontend/components/domains/question-bank/question-bank-modal/field-setup.tsx
  app/frontend/components/domains/question-bank/question-bank-modal/index.tsx
  app/frontend/components/domains/requirements-library/fields-setup-drawer.tsx
  app/models/requirement_question.rb
  db/data/20260709150001_backfill_requirement_questions.rb
  spec/migrations/backfill_requirement_questions_spec.rb
  spec/models/requirement_question_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5193 add question bank identification tag to question bank questions
  app/frontend/components/domains/requirements-library/requirements-block-modal/requirement-field-row.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-5330 [Bug Bash] Project meeting request could not be sent
  app/frontend/components/domains/permit-project/add-permit-application-screen.tsx
Due: prettier --write, eslint

fix step code pdf generation and completion status
  app/frontend/components/domains/permit-application/checklist-sidebar.tsx
  app/frontend/components/domains/step-code/part-3/checklist/pdf-content/index.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/utils/formio-component-traversal.ts
  app/frontend/utils/formio-helpers.ts
  app/jobs/pdf_generation_job.rb
  app/models/concerns/permit_application_status.rb
  app/models/permit_application.rb
  app/services/qa/permit_application_autofill_service.rb
  spec/jobs/pdf_generation_job_spec.rb
  spec/models/permit_application_spec.rb
  spec/services/qa/permit_application_autofill_service_spec.rb
Due: prettier --write, eslint, stree --write

add reactotron environment var switch
  .env_example
  app/frontend/entrypoints/application.tsx
  app/frontend/setup/reactotron.ts
Due: prettier --write, eslint

HUB-5346 [Bug Bash] Fix Part 9 report download spinner hanging on direct navigation
  app/frontend/components/domains/step-code/part-9/form-section/index.tsx
  app/frontend/components/domains/step-code/part-9/sidebar/index.tsx
  app/frontend/models/part-9-step-code-checklist.ts
  app/frontend/utils/can-mark-checklist-complete.ts
Due: prettier --write, eslint

HUB-5143 include associated requirement templates
  app/blueprints/requirement_question_blueprint.rb
  app/controllers/api/concerns/search/requirement_questions.rb
  app/models/requirement_block.rb
Due: stree --write

HUB-5143 specs
  spec/blueprints/requirement_question_blueprint_spec.rb
  spec/models/requirement_block_spec.rb
Due: stree --write

HUB-5143 refactor blast radius to include templates
  app/frontend/components/domains/question-bank/question-bank-modal/field-setup.tsx
  app/frontend/components/domains/question-bank/question-bank-modal/index.tsx
  app/frontend/components/domains/question-bank/question-bank-modal/question-usage-section.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement-question.ts
Due: prettier --write, eslint

HUB-5143 open linked requirement block in new tab
  app/frontend/components/domains/question-bank/question-bank-modal/field-setup.tsx
  app/frontend/components/domains/question-bank/question-bank-modal/question-usage-section.tsx
  app/frontend/components/domains/requirements-library/index.tsx
Due: prettier --write, eslint

HUB-5143 copy updates
  app/frontend/components/domains/question-bank/question-bank-modal/form-setup.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/options-menu.tsx
  app/frontend/components/shared/confirmation-modal.tsx
  app/frontend/i18n/i18n.ts
Due: prettier --write, eslint

HUB-5143 remove unused FormModal confirm trigger
  app/frontend/components/shared/form-modal.tsx
Due: prettier --write, eslint

HUB-5143 allow horizontal scroll for large fields
  app/frontend/components/domains/question-bank/questions-table.tsx
Due: prettier --write, eslint

HUB-5143 incoporate default text into editable hints
  app/frontend/components/domains/requirements-library/requirement-field-edit/editable-helper-text.tsx
  app/frontend/components/domains/requirements-library/requirement-field-edit/editable-instructions-text.tsx
Due: prettier --write, eslint

HUB-5143 add published tag when there is a published version
  app/blueprints/requirement_question_blueprint.rb
  app/frontend/components/domains/question-bank/question-bank-modal/field-setup.tsx
  app/frontend/components/domains/question-bank/question-bank-modal/question-usage-section.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/requirement-question.ts
  spec/blueprints/requirement_question_blueprint_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5143 add padding to requirement block and question bank modals
  app/frontend/components/domains/question-bank/question-bank-modal/index.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/index.tsx
Due: prettier --write, eslint

HUB-5348 hide assignment modal from submitter when submitted
  app/frontend/components/domains/permit-application/collaborator-management/collaborator-assignment-modal.tsx
Due: prettier --write, eslint

fix builder section highlight
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/base-edit-requirement-template-screen/sections-display.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/index.tsx
  app/frontend/components/domains/requirement-template/screens/template-version-screen.tsx
  app/frontend/components/domains/requirement-template/sections-display.tsx
  app/frontend/components/domains/requirement-template/use-section-highlight.ts
Due: prettier --write, eslint

add local login for dev
  .env_example
  README.md
  app/controllers/api/sessions_controller.rb
  app/frontend/components/domains/authentication/login-screen.tsx
  app/frontend/components/shared/auth/login-forms.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/services/api/index.ts
  db/seeds.rb
  spec/requests/api/sessions_spec.rb
Due: prettier --write, eslint, stree --write

HUB-5354 fix redirect race when submitting meeting
  app/frontend/components/domains/project-meeting/project-meeting-screen/index.tsx
  app/frontend/components/domains/project-meeting/project-meeting-screen/sections/review-section.tsx
Due: prettier --write, eslint
