Repository bcgov/HOUS-permit-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stree --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.rb": ["stree --write"]
}

[bphh-1020] Remove binding.pry
  app/helpers/html_validation_helper.rb
Due: stree --write

add manual jurisdiction selection to landing
  app/frontend/components/domains/landing/index.tsx
  app/frontend/stores/geocoder-store.ts
  config/locales/en.yml
Due: prettier --write, eslint

refactor jurisdiction select using JurisdictionOptionBlueprint
  app/controllers/api/jurisdictions_controller.rb
  app/frontend/components/domains/landing/index.tsx
  app/frontend/components/domains/permit-application/new-permit-application-screen.tsx
  app/frontend/components/shared/select/selectors/jurisdiction-select.tsx
Due: prettier --write, eslint, stree --write

fix eula policy
  app/controllers/api/jurisdictions_controller.rb
  app/policies/user_policy.rb
Due: stree --write

move to concern and add spec
  app/models/concerns/html_sanitize_attributes.rb
  app/models/requirement.rb
  app/models/requirement_block.rb
  spec/models/concerns/html_sanitizable__attributes_spec.rb
Due: stree --write

update code to work without s3 settings
  config/initializers/shrine.rb
  config/routes.rb
Due: stree --write

add custom locality type input and locality type / name normalization
  app/frontend/components/domains/jurisdictions/new-jurisdiction-screen.tsx
  app/frontend/i18n/i18n.ts
  app/models/jurisdiction.rb
Due: prettier --write, eslint, stree --write

simplify user policy and get status tag method
  app/frontend/models/permit-application.ts
  app/policies/user_policy.rb
Due: prettier --write, eslint, stree --write

Visual improvements to the application form view: contact field set
  app/frontend/components/domains/requirement-template/builder-bottom-floating-buttons.tsx
  app/frontend/components/shared/chefs/styles.scss
  app/frontend/styles/global-theme-variables.scss
Due: prettier --write, eslint

add a limited jurisdiction table
  app/blueprints/jurisdiction_blueprint.rb
  app/controllers/api/concerns/search/jurisdiction_users.rb
  app/controllers/api/concerns/search/jurisdictions.rb
  app/controllers/api/concerns/search/permit_applications.rb
  app/controllers/api/jurisdictions_controller.rb
  app/frontend/components/domains/jurisdictions/limited-grid-header.tsx
  app/frontend/components/domains/jurisdictions/limited-jurisdiction-index-screen.tsx
  app/frontend/components/domains/navigation/index.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/models/jurisdiction.ts
  app/frontend/types/enums.ts
  app/models/jurisdiction.rb
Due: prettier --write, eslint, stree --write

Super admin can see on the form view which fields are Elective (without clicking into the Edit Requirement modal)
  app/frontend/components/domains/home/review-manager/index.tsx
  app/frontend/components/domains/home/super-admin-home-screen.tsx
  app/frontend/components/domains/requirement-template/screens/jurisdiction-edit-digital-permit-screen/jurisdiction-requirement-block-edit-sidebar.tsx
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/styles/global-theme-variables.scss
Due: prettier --write, eslint

[bphh-1015] Fix issue with input field component not showing form errors
  app/frontend/components/shared/form/email-form-control.tsx
  app/frontend/components/shared/form/input-form-control.tsx
Due: prettier --write, eslint

update size defaults
  app/frontend/components/shared/chefs/additional-formio/constant.ts
  app/frontend/components/shared/chefs/index.tsx
  config/initializers/shrine.rb
Due: prettier --write, eslint, stree --write

add address and regional district to jurisdiction create
  app/controllers/api/jurisdictions_controller.rb
  app/frontend/components/domains/jurisdictions/limited-jurisdiction-index-screen.tsx
  app/frontend/components/domains/jurisdictions/new-jurisdiction-screen.tsx
  app/frontend/components/shared/select/selectors/jurisdiction-select.tsx
  app/frontend/i18n/i18n.ts
  app/frontend/services/api/index.ts
  app/frontend/stores/jurisdiction-store.ts
  app/frontend/types/enums.ts
  app/models/jurisdiction.rb
  app/models/regional_district.rb
  app/models/sub_district.rb
  app/models/user.rb
Due: prettier --write, eslint, stree --write

create regional_district_name for jurisdiction parent class to fix specs
  app/controllers/api/jurisdictions_controller.rb
  app/models/jurisdiction.rb
Due: stree --write

fix site configuration url and policy
  app/controllers/api/site_configuration_controller.rb
  app/frontend/services/api/index.ts
  app/policies/site_configuration_policy.rb
Due: prettier --write, eslint, stree --write

its possible that certain properties have both pid and pin, we always start with a pid search if it exists
  app/models/permit_application.rb
  app/services/integrations/ltsa_parcel_map_bc.rb
Due: stree --write

fix password requirements and site config auth blocking requirements
  app/controllers/api/site_configuration_controller.rb
  app/frontend/components/domains/users/invite-screen.tsx
  app/frontend/components/shared/base/inputs/user-input.tsx
  app/models/user.rb
  config/locales/en.yml
Due: prettier --write, eslint, stree --write

use sub district factory in lieu of jurisdiction factory as alternative fix for specs
  app/models/jurisdiction.rb
  spec/concerns/jurisdiction_users_search_spec.rb
  spec/controllers/jurisdictions_controller_spec.rb
  spec/factories/permit_applications.rb
  spec/factories/sub_districts.rb
  spec/policies/permit_application_policy_spec.rb
  spec/seeds/jurisdiction_seeder_spec.rb
Due: stree --write

seeding fixes
  db/templates/Core Permit Requirements List.xlsx
Due: none

disable regional districts from being added to regional districts
  app/frontend/components/domains/jurisdictions/new-jurisdiction-screen.tsx
  app/frontend/stores/jurisdiction-store.ts
Due: prettier --write, eslint

fix and refactor jurisdiction gridheaders
  app/frontend/components/domains/jurisdictions/grid-header.tsx
  app/frontend/components/domains/jurisdictions/index.tsx
  app/frontend/components/domains/jurisdictions/limited-grid-header.tsx
  app/frontend/components/domains/jurisdictions/limited-jurisdiction-index-screen.tsx
  app/frontend/components/domains/jurisdictions/new-jurisdiction-screen.tsx
  app/frontend/components/domains/navigation/nav-bar.tsx
Due: prettier --write, eslint

remove backend file max size enforcement
  app/services/requirement_form_json_service.rb
Due: stree --write

add missing keys to datepicker json
  app/services/requirement_form_json_service.rb
  spec/models/requirement_spec.rb
Due: stree --write

remove eula cruft
  eulas/employee.html
  eulas/open.html
Due: none

Add public fonts
  public/fonts/2023_01_01_BCSans-BoldItalic_2f.ttf
  public/fonts/2023_01_01_BCSans-Bold_2f.ttf
  public/fonts/2023_01_01_BCSans-Italic_2f.ttf
  public/fonts/2023_01_01_BCSans-LightItalic_2f.ttf
  public/fonts/2023_01_01_BCSans-Regular_2f.ttf
  public/fonts/2023_03_14_BCSans-Light_2g.ttf
Due: none

remove deletion on backend from form ui
  app/controllers/api/storage_controller.rb
  app/frontend/components/shared/chefs/additional-formio/providers/storage/s3custom.js
  app/models/permit_application.rb
  config/routes.rb
Due: stree --write

remove search bar for logged out users
  app/frontend/components/domains/navigation/nav-bar.tsx
Due: prettier --write, eslint

fix activity list width
  app/frontend/components/shared/permit-classification/activity-list.tsx
Due: prettier --write, eslint

add comma delimiter to formio number inputs
  app/services/requirement_form_json_service.rb
Due: stree --write

support address site options with empty string values
  .vscode/settings.json
  app/frontend/components/domains/landing/index.tsx
  app/frontend/components/domains/permit-application/new-permit-application-screen.tsx
  app/services/integrations/ltsa_parcel_map_bc.rb
  app/services/wrappers/geocoder.rb
Due: prettier --write, eslint, stree --write

work in progress, refactoring to use same package.json
  app/jobs/pdf_generation_job.rb
  config/initializers/node_scripts.rb
  node_scripts/.babelrc
  node_scripts/generate_pdf.ts
  node_scripts/package-lock.json
  node_scripts/package.json
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write, eslint, stree --write

prepare generation job for ipmort data
  app/jobs/pdf_generation_job.rb
  node_scripts/generate_pdf.ts
  node_scripts/pdf_document.js
  package.json
Due: prettier --write, eslint, stree --write

[bphh-844] Proof of concept generating pdf from sidekik worker and node script
  .gitignore
  app/jobs/pdf_generation_job.rb
  config/initializers/node_scripts.rb
  node_scripts/.babelrc
  node_scripts/generate_pdf.js
  node_scripts/package-lock.json
  node_scripts/package.json
  node_scripts/pdf_document.js
Due: stree --write

WIP
  app/frontend/components/shared/permit-applications/pdf-content/application/index.tsx
  app/frontend/components/shared/permit-applications/pdf-content/cover/index.tsx
  app/frontend/components/shared/permit-applications/pdf-content/index.tsx
  app/frontend/components/shared/permit-applications/pdf-content/shared/footer/index.tsx
  app/frontend/ssr/ssr.tsx
  app/jobs/pdf_generation_job.rb
  config/initializers/node_scripts.rb
  node_scripts/generate_pdf.ts
  package.json
Due: prettier --write, eslint, stree --write

Styling the requirement block description to look consistent for both submitter and admin
  app/frontend/components/domains/requirements-library/requirement-block-accordion.tsx
  app/frontend/components/domains/requirements-library/requirements-block-modal/fields-setup.tsx
  app/frontend/components/shared/chefs/additional-formio/templates/panel.js
  app/frontend/components/shared/editor/quill.css
  app/frontend/styles/theme/index.ts
Due: prettier --write, eslint

move jurisdiction link to navbar
  app/frontend/components/domains/navigation/nav-bar.tsx
Due: prettier --write, eslint

use full jurisdiction name in a few more places
  app/frontend/components/domains/permit-application/successful-submission.tsx
  app/frontend/components/shared/permit-applications/requirement-form.tsx
  app/frontend/i18n/i18n.ts
  app/models/permit_application.rb
Due: prettier --write, eslint, stree --write

fix submission modals
  app/frontend/components/shared/permit-applications/pdf-content/application/index.tsx
  app/frontend/components/shared/select/selectors/address-select.tsx
  app/frontend/models/permit-application.ts
Due: prettier --write, eslint
